{% extends 'FrontendBundle::layout.html.twig' %}

{% set email = institutionMedicalCenter.contactEmail ? institutionMedicalCenter.contactEmail : institution.contactEmail %}
{% set number = render_institution_medical_center_contact_number(institutionMedicalCenter)  %}
{% set websites = institutionMedicalCenter.websites ? institutionMedicalCenter.websites : institution.websites %}
{% set websites = json_decode(websites) %}
{% set mainWebsites = (websites.main is defined) and websites.main ? websites.main : false %}


{% block callout %}
    {% embed 'FrontendBundle:Embed:callout.base.html.twig' %}
        {% block calloutContent %}
        <div class="span9">
            <div class="media">
                <div class="pull-left">
                    {{ render_institution_logo(institution, {attr: {class: 'media-object', alt: institution.name}}) | raw }}
                </div>
                <div class="media-body">
                    <h1><a href="{{ get_institution_frontend_url(institution) }}">{{ institution.name }}</a></h1>
                </div>
            </div>
        </div>
        <div class="span3">
            <a class="all-clinic btn green" href="{{ get_institution_frontend_url(institution) }}">Hospital Page</a>
        </div>			
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}

    <!-- Set map coordinates by LatLong or Address -->
    {% if institutionMedicalCenter.coordinates %}
        {% set coordinates = institutionMedicalCenter.coordinates %}
    {% else %}
        {% set coordinates = medical_center_complete_address_to_array(institutionMedicalCenter, ['address'])|join(',') ~ ',' ~ institution_address_to_array(institutionMedicalCenter.institution, ['city', 'country'])|join(',') %}
    {% endif %}

    <div id="details" class="row">
        <div id="main_content" class="span8">

            <div class="clinicdetails content">
                {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:heading.html.twig' %}
                <div class="description"><p>{{ institutionMedicalCenter.description | raw }}</p></div>
            </div>

            {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:specializations.html.twig' 
                with { specializations: institutionMedicalCenter.institutionSpecializations } %}

            {% include 'FrontendBundle:Widgets:profileAwardsAndServicesSection.html.twig' %}

            {% if institutionMedicalCenter.doctors|length %}
                {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'DOCTORS', headingClass : 'doctors-heading', class: 'one-col-description content' } %}
                    {% block sectionContent %}
                        {% include 'FrontendBundle:Widgets:profileDoctorsList.html.twig' with { doctors: institutionMedicalCenter.doctors } %}
                    {% endblock %}                
                {% endembed %}
            {% endif %}

        </div> <!--End of main_content-->

        <aside id="aside_content" class="span4">

            {% include 'FrontendBundle:Widgets:profileLocationAside.html.twig' %}

            {% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:scheduleAside.html.twig' 
                with { businessHours: institutionMedicalCenter.businessHours } %}

            {% include 'FrontendBundle:Widgets:profileMediaAside.html.twig' 
                with { media: institutionMedicalCenter.media, institution: institutionMedicalCenter.institution, logo: institutionMedicalCenter.logo } %}

            {% include 'FrontendBundle:Widgets:profileSocialAside.html.twig' with { urls: websites } %}

        </aside> <!--End of aside_content-->
    </div>     
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/frontend/js/institution.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        $('#modal_imc_inquiry_form').institutionInquiryModalForm({
            submitButton: $('#modal_imc_inquiry_submitButton'),
            form: $('form#{{ formId }}') 
        });
        
        $('a.call[rel="tooltip"]').tooltip({
            title: function(){
                return '<h5><small>Landline: </small>'+$(this).attr('data-contact-number')+'</h5>';
            },
            html: true,
            delay: 0,
            trigger: 'click',
            animation: false,
            placement: 'top'
        })
        .click(function(){
            return false;
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}