{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}
{% set selectedSubMenu = 'doctors' %}
{% set doctorsLabel = getClassLabel('doctor') %}

{% block content %}
	<div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
<!-- start content -->
<div class="span9">
    
    	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( form.vars.value.id ? 'Edit ' : 'Add ' ) ~ doctorsLabel.singular | title ,
                actions: [{link: path('admin_doctor_index'), label: 'View all '~ doctorsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}
    
		  {% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
                
                            <form novalidate="novalidate" action="{{ path('admin_doctor_save', {'idId': doctor.id }) }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                                <!-- start id-form -->
                                <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                                    
                                    {{ form_row(form.firstName) }}
                                    {{ form_row(form.middleName) }}
                                    {{ form_row(form.lastName) }}
                                    
                                    {{ form_rest(form) }}
                                     <input type="reset" value="Reset" class="btn btn-large" value="Submit"/>
                                     <input type="submit" class="btn btn-large btn-primary" name="submit" value="Submit"/>
                                </table>
                                <!-- end id-form  -->
                            </form>
          {% endblock %}
        {% endembed %}
    </div>

{% endblock %}



