<form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_addNewMedicalSpecialist', {institutionId: institution.id,imcId: institutionMedicalCenter.id } )}}" method="POST" {{ form_enctype(form) }} class="basic-form">
    <!-- start id-form -->
    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
        
        {{ form_row(form.firstName) }}
        {{ form_row(form.middleName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.details, {attr: {class: 'tinymce'}}) }}
        {{ form_row(form.country) }}
        {{ form_row(form.media) }}
        <br>
        {{ form_label(form.specializations) }}
        {{ form_widget(form.specializations, { 'attr': {'class': 'doctors-specialiations'} }) }}
        {{ form_row(form.contactEmail) }}
        <div>

        {% set arrContactNumber = [{"number" : "", "type": ""}] %}
    
        {{ form_label(form.contactNumber) }}

        <div style="margin-bottom: 5px;display:inline-block;" id="contactNumberContainer">
            {% for i, contact in arrContactNumber %}
                <div id="contact-{{ i }}">
                    <input type="text" name="contactNumber[{{ i }}][number]" value="{{ contact.number}}">
                    <a href="javascript:addAnotherContact()" class="add-another-number"> add another</a> 
                    <span class="bar"> | </span> 
                    <a href="javascript:removeContact({{ i }})" class="remove-contact">remove</a>
                    <div style="margin-top: 3px;font-size: 11px;padding-left:5px;">
                        <input type="radio" name="contactNumber[{{ i }}][type]" value="phone" id="phone{{ i }}" {{ ('phone' == contact.type) or ('' == contact.type) ? 'checked' : '' }}><label for="phone{{ i }}">Phone</label> &nbsp;
                        <input type="radio" name="contactNumber[{{ i }}][type]" value="mobile" id="mobile{{ i }}" {{ 'mobile' == contact.type ? 'checked' : '' }}><label for="mobile{{ i }}">Mobile</label> &nbsp;
                        <input type="radio" name="contactNumber[{{ i }}][type]" value="fax"  id="fax{{ i }}" {{ 'fax' == contact.type ? 'checked' : '' }}><label for="fax{{ i }}">Fax</label>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
        {{ form_rest(form) }}
         <input type="reset" value="Reset" class="btn btn-large" value="Submit"/>
         <input type="submit" class="btn btn-large btn-primary" name="submit" value="Submit"/>
    </table>
    <!-- end id-form  -->
</form>
{% block inlineJavascriptCode %}
<script type="text/javascript">
    
    $(function(){
        $('#addServices').click(function(){
        	var offeredServicesData = getOfferedServicesChecked();
            
	        return false;
        });
    });

    function getOfferedServicesChecked()
    {
    	var selected = new Array();
    	$('#institution_medical_center_property_type_custom_form_value input:checked').each(function() {
    	    selected.push($(this).attr('value'));
    	});
    	
    	return selected;
    }
    
</script>
{% endblock %}


