{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'doctors' %}
{% set doctorsLabel = getClassLabel('doctor') %}

{% block content %}
    <div class="span3">{# include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'#}</div>
    <div class="span9">
     
     	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                    title: ( form.vars.value.id ? 'Edit ' : 'Add ' ) ~ doctorsLabel.singular | title ,
                    	actions: [{link: path('admin_doctor_index'), label: 'View all '~ doctorsLabel.plural | title, 'icon' : 'icon-list' }]
                }
        %}
            {% block sectionContent %}
                {% include '::notice.admin.html.twig' %}
                <form id="edit-doctor" novalidate="novalidate" action="{{ doctor.id ? path('admin_doctor_edit_save', {'idId': doctor.id }) : path('admin_doctor_add_save') }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                    <!-- start id-form -->
                        {% set imageType = constant('HealthCareAbroad\\DoctorBundle\\Services\\DoctorMediaService::LOGO_TYPE_IMAGE') %}
                        {% set imageSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::DOCTOR_LOGO') %}

                        {{ form_row(form.firstName) }}
                        {{ form_row(form.middleName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.suffix) }}
                        {{ form_row(form.gender) }}
                        {{ form_row(form.media, { imageType: imageType, imageSize: imageSize}) }}
                        {{ form_row(form.details, {attr: {class: 'tinymce'} }) }}
                        {{ form_row(form.contactEmail) }}
                        <div class="row-fluid">
                            <div class="span12">
                                {% for _widget in form.contactDetails %}
                                    {{ form_widget(_widget) }}
                                    {{ form_widget(_widget) }}
                                {% endfor %}
                            </div>
                        </div>
                        {{ form_row(form.country) }}
                        <br>
                        <div class="doctors-specialiations">
                            {{ form_label(form.specializations) }}
                            {{ form_widget(form.specializations, { 'attr': {'class': 'doctors-specialiations'} }) }}
                            <div class="clearfix"></div>
                        </div>
                        {{ form_rest(form) }}
                         <input type="reset" value="Reset" class="btn btn-large" value="Submit"/>
                         <input type="submit" class="btn btn-large btn-primary" name="submit" value="Submit"/>
                    
                    <!-- end id-form  -->
                </form>
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}
{% block inlineJavascriptCode %}
    <script type="text/javascript" src="{{ asset('bundles/helper/js/Flag.js') }}" ></script>
	<script type="text/javascript">

	$(function() {
    	$('#contactNumberContainer > :first-child').find('.bar, .remove-contact:first').hide();
	});

	function addAnotherContact()
	{
	    var $lastElemContact = $('#contactNumberContainer > :last-child');
	    var i = parseInt($lastElemContact.attr('id').split('-').pop()) + 1;
	    var $newContact = $lastElemContact.clone().attr('id', 'contact-'+ i);

	    var radioBtnName = 'contactNumber[' + i + '][type]';

        $newContact.find('input:text').attr('name', 'contactNumber[' + i + '][number]').val('');
        $newContact.find('.bar, .remove-contact').show();
        $newContact.find('.remove-contact').attr('href', 'javascript:removeContact('+ i +')');
        $newContact.find('input:radio[value=phone]').attr('id', 'phone' + i).attr('name', radioBtnName).next().attr('for', 'phone'+i);
        $newContact.find('input:radio[value=mobile]').attr('id', 'mobile' + i).attr('name', radioBtnName).next().attr('for', 'mobile'+i);
        $newContact.find('input:radio[value=fax]').attr('id', 'fax' + i).attr('name', radioBtnName).next().attr('for', 'fax'+i);

	    $('#contactNumberContainer').append($newContact);
	}

	function removeContact(i)
	{
		$('#contact-' + i).remove();
	}

	$('#edit-doctor').submit(function(){
		$(this).find('input[type=submit]').prop('disabled', true);
	});
	</script>	
{% endblock %}



