{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'doctors' %}
{% set doctorLabel = getClassLabel('doctor') %}

{% block content %}

    <div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
    <div id="content" class="span9">

         {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: doctorLabel.plural | title,
                actions: [{link: path('admin_doctor_add'), label: 'Add '~ doctorLabel.singular | title, 'icon' : 'icon-ok' }] 
            }  
        %}

        	{% block sectionContent %}

        	{% include '::notice.admin.html.twig' %}

            <!-- Render Filter Box -->
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
        	
                
                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}
                
                <table id="doctor-list" class="table table-bordered sortable-list">
                    <tr>
                        <th id="column-name">First Name</th>
                        <th id="column-name">Middle Name</th>
                        <th id="column-name">Last Name</th>
                        <th id="column-name">Suffix</th>
                        <th id="column-name">Country</th>
                        <th id="column-name">Affiliated Hospitals</th>
                        <th id="column-name">Specializations</th>
                       <th width="15%">Actions</th>
                    </tr>
            
                {% for each in doctors %}
                     
                    <tr>
                        <td>{{ each.firstName }}</td>
                        <td>{{ each.middleName }}</td>
                        <td>{{ each.lastName }}</td>
                        <td>{{ each.suffix }}</td>
                        <td>{{ each.country }}</td>
                        <td>
                            <ul class="nav">
                            {% for institutionMedicalCenter in each.institutionMedicalCenters %}
                                <li> <a href="{{ path('admin_institution_medicalCenter_view', {imcId: institutionMedicalCenter.id, institutionId: institutionMedicalCenter.institution.id} ) }}" target="_blank"> {{ institutionMedicalCenter.name }} </a></li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul class="nav">
                                {% if each.specializations|length %}
                                    {{ doctor_specializations_to_string(each) }}
                                {% else %}
                                    No specializations yet.
                                {% endif %}
                            </ul>
                        <td>
                            <ul class="table-action">
                                <li><a href="{{ path('admin_doctor_edit', { idId:each.id } ) }}"> <i class="icon-edit"></i> Edit</a></li>
                                
                                <li>
                                    {% set status = each.status ? {label: 'Deactivate', icon: 'icon-remove'} : {label: 'Activate', icon: 'icon-ok'} %}
                                    <a href="{{ path('admin_doctor_updateStatus', {doctorId: each.id} ) }}" title="" class="update-status">
                                        <i class="{{ status.icon }}"></i> <span>{{ status.label }}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% endblock %}
            
        {% endembed %}
       
        {% if pager.isPaginable %}
           {{ paginate(pager, 'admin_doctor_index', app.request.query.all) }}
        {% endif %}
    </div>

{% endblock %}