{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_doctors' %}

{% block content %}

    <div id="content">

        <div id="page-heading"><h2>List of Doctors</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}

                {% set contents = [{
                        'title': 'Add doctor',
                        'description': 'Add new doctor',
                        'class': 'add-icon',
                        'href': path('admin_doctor_add'),
                        'links': [{'title': 'Add a doctor', 'href': path('admin_doctor_add')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}

                <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}

                <div style="width: 70%">
                    <table id="doctor-list" class="table table-bordered sortable-list">
                    <tr>
                        <th id="column-name">First Name</th>
                        <th id="column-name">Middle Name</th>
                        <th id="column-name">Last Name</th>
                        <th>Status</th>
                        <th width="150">Actions</th>
                    </tr>

                    {% for doctor in doctors %}
                        {% if doctor.status %}
                            {% set class = 'icon-remove' %} {% set statusLabel = 'Deactivate' %}
                        {% else %}
                            {% set class = 'icon-ok' %} {% set statusLabel = 'Activate' %}
                        {% endif %}
                        <tr>
                            <td>{{ doctor.firstName }}</td>
                            <td>{{ doctor.middleName }}</td>
                            <td>{{ doctor.lastName }}</td>
                            <td>{{ doctor.status ? 'Active' : 'Inactive' }}</td>
                            <td align="center">
                                <a href="{{ path('admin_doctor_edit', {idId:doctor.id}) }}" title="Edit">
                                    <i class="icon-edit"></i> Edit
                                </a>
                                <a href="{{ path('admin_doctor_updateStatus', {idId:doctor.id}) }}" title="{{ statusLabel }}" class="update-status">
                                    <i class="{{ class }}"></i> {{ statusLabel }} 
                                </a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td class="empty-list" colspan="3">No records yet!</td></tr>
                    {% endfor %}
                    </table>
                    
                    
                </div>

            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}