{% extends '::base.institution.html.twig' %}

{% block title %}{{ parent() }} &raquo; Institution Panel{% endblock %}

{% block body %}

<body> 
    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
    {% endblock %}
    <!-- Start: page-top-outer -->
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </a>
	        <a href="{{ path('main_homepage') }}" class="brand"><img src="{{ asset('images/institution/HCA-logo-small.png') }}" alt="Health Care Abroad Logo" longdesc="#"> HEALTHCARE ABROAD</a>
	              
            {% block top_search %}
                {% include 'InstitutionBundle:Default:topHeader.html.twig' %}
            {% endblock %}
	        
	    </div>
	  </div>
	</div>
    <!-- End: page-top -->
	 {% include 'InstitutionBundle:Main:profileContainer.html.twig' %}
	 {% include 'InstitutionBundle:Main:stepsContainer.html.twig' %}

    {% block content %}{% endblock %}

    <!--  end content-outer........................................................END -->
	 
	 <div class="container">
		<br/>
		<hr>
		<footer>
			<p>&copy; Chromedia Far East Inc. 
			    <a href="{{ path('main_homepage') }}">www.HealthCareAbroad.com</a>. All rights reserved.</p>
		</footer>
	</div>


    {% block inlineJavascriptCode %}{% endblock %}
</body>

{% endblock %}
