{% extends '::base.institution.html.twig' %}

{% block title %}{{ parent() }} &raquo; Institution Panel{% endblock %}

{% block body %}
<body>
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="index.php" class="brand">
                    <img src="{{ asset('images/institution/HCA-logo-small.png') }}" alt="Health Care Abroad Logo" longdesc="#"> HEALTHCARE ABROAD
                </a>
                
	             {% block top_menu %}
	                {% include 'InstitutionBundle:Default:topHeader.html.twig' %}
	            {% endblock %}
            </div>
        </div>
    </div>

    <!-- End: page-top -->
    <div class="row-fluid">
        <div class="institutionbox">
            {% include 'InstitutionBundle:Embed:profileHeader.html.twig' %}
        </div>
    </div>
    <!--  end content-outer........................................................END -->

    {% block content %}{% endblock %}
    
     <div class="container">
        <br/><hr>
        <footer>
            <p>
                &copy; {{ cfe_company_name }}
                <a href="{{ site_url }}">{{ site_name }}</a>. All rights reserved.
            </p>
        </footer>
    </div>

    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
    {% endblock %}
    {% block inlineJavascriptCode %}{% endblock %}
</body>

{% endblock %}
