{% extends 'FrontendBundle::layout.html.twig' %}
{% set isHomePage = false %}
{% block content %}

<!--End of header-->
            <div id="content" class="container content error-page">
                <!--End of highlight-->
                <div id="details" class="row">
                    <div class="error">
                        <div class="pull-left error-code">
                            <h1>
                                {{ status_code }}
                            </h1>
                        </div>
                        <h2 class="error-description">
                            {{ status_text }}
                        </h2>
                        <h2>
                            {{ status_text_details }}
                        </h2>
                        <div class="helper row-fluid">
                            <div class="message span12">
                                <p class="message">
                                    <strong>Worry not my friend!</strong>
                                    <br>
                                    We're sorry you've not found what you're looking for.
                                Please try another search below, or contact us for assistance.
                                    <br>
                                </p>
                            </div>
                        </div><!-- .helper .row-fluid -->
                        <div class="helper row-fluid">
                            <div class="links">
                                <div class="span12">
                                     <a class="btn orange btn-large span4 offset4" data-toggle="modal" id="email_multiple" href="#report"><i class="icon-envelope icon-white"></i>  REPORT THIS TO US
                                     </a>
                                     {% include 'FrontendBundle:Exception/Modal:modal.reportForm.html.twig' %}
                                </div>
                            </div><!-- .links -->
                        </div>
                        <div class="helper row-fluid">
                            {#--
                            <form action="post" name="search_box" class="span12 search_box  form-inline">
                                <label>
                                    Search
                                </label>
                                <input type="text" placeholder="Specialization or Treatment" name="procedure"
                                />
                                <label>
                                    Near
                                </label>
                                <input type="text" placeholder="City, Country or Zip" name="location"
                                />
                                <button class="btn green" onclick="return false">
                                    Let's Go
                                </button>
                             </form>
                             -- #}
                             
                             {{ render_search_homepage_widget() | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <!--End of content-->
                      
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/frontend/js/ErrorReport.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        $('#report').errorReportModalForm({
           submitButton: $('#errorSubmit'),
           form: $('form#errorReportForm') 
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}

