{% extends 'FrontendBundle::layout.html.twig' %}
{% set isHomePage = false %}
{% block content %}

    <div class="error-page">
        <div class="pull-left error-code">
            <h1>{{ status_code }}</h1>
        </div>
        <h2 class="error-description">{{ status_text }}</h2>
        
        <h2>{{ status_text_details }}</h2>

        <div class="helper row-fluid">
            <div class="message span12">
                <p class="message">
                    We're sorry you've not found what you're looking for.<br>
                Please try another search below, or contact us for assistance.
                    <br>
                </p>
            </div>
        </div><!-- .helper .row-fluid -->
        <div class="helper row-fluid">
            <div class="links">
                {% if status_code == 500 %} <h3 class="offset4">Please help us fix this for you.</h3> {% endif %}
                {% if referer is not empty %}
                    <div class="row-fluid">
                        <div class="span6">
                            <a href="{{ referer }}" class="btn green btn-large span8 offset3">
                                 <i class="icon-chevron-left icon-white"></i>  PREVIOUS PAGE
                             </a>
                        </div>
                         <div class="span6">
                             <a class="btn orange btn-large span8" data-toggle="modal" id="email_multiple" href="#report"><i class="white-icon-envelope"></i>  REPORT THIS TO US
                             </a>
                             {% include 'FrontendBundle:Exception/Modal:modal.reportForm.html.twig' %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="span12">
                             <a class="btn orange btn-large span6 offset3" data-toggle="modal" id="email_multiple" href="#report"><i class="white-icon-envelope"></i>  REPORT THIS TO US
                             </a>
                             {% include 'FrontendBundle:Exception/Modal:modal.reportForm.html.twig' %}
                        </div>
                    </div>
                {% endif %}
            </div><!-- .links -->
        </div>
        <div class="helper row-fluid">
        {{ render_search_homepage_widget({attr: {class: 'search-box-error search-form', error: '1'} }, null, true) | raw  }}
        </div>
    </div>
                      
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/frontend/js/ErrorReport.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        $('#report').errorReportModalForm({
           submitButton: $('#errorSubmit'),
           form: $('form#errorReportForm') 
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}

