{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers'%}
{% block title %}{{ parent() }} Add Procedure Types {% endblock %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Add procedure types to {{ institutionMedicalCenter.medicalCenter.name }} specialization</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalCenter:relatedTasks.html.twig' with {hideAddMedicalCenter: true, hideTreatmentTask: true, 'imcId': institutionMedicalCenter.id } %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content">
                <div style="width:75%;">
                    {% include '::notice.admin.html.twig' %}

                    {% include '::stepHolder.base.admin.html.twig' with {
                        steps: [
                            {title: 'Center Details', 'selected': true},
                            {title: 'Add Media', 'selected': true},
                            {title: 'Add Procedure Types', 'selected': true},
                            {title: 'Preview', 'selected': false},
                     ] }
                  %}

                    <table width="100%" class="generic-table" id="procedureTypeList">
                        <tr>
                            <th class="minwidth-1"> <a href="#">Procedure Type</a></th>
                            <th class="minwidth-1"><a href="#">Description</a></th>
                        </tr>

                        {% for procedureType in institutionMedicalCenter.institutionTreatments %}
                            <tr>
                                <td valign="top">{{ procedureType.treatment.name }}</td>
                                <td class="raw-content">{{ procedureType.description|raw }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td id="emptyList" colspan="2" > Add procedure types to {{ institutionMedicalCenter.medicalCenter.name }} </td>
                            </tr>
                        {% endfor %}

                    </table>

                    <form name="procedureTypeForm" id="procedureTypeForm" novalidate="novalidate" action="{{ path('institution_medicalCenter_saveProcedureType', {'imcId': app.request.get('imcId')}) }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                        <!-- start id-form -->

                        {{ form_row(form.treatment) }}
                        {{ form_row(form.description) }}
                        {{ form_rest(form) }}
                        <input type="submit" name="submit" value="Save &amp; Add another" class="green-button"/>
                        
                        {% if institutionMedicalCenter.institutionTreatments | length %}
                            <a href="{{ path('institution_medicalCenter_preview', {imcId:institutionMedicalCenter.id}) }}" class="button-type">Preview</a>
                        {% else %}
                            <input type="submit" name="submit" value="Next" class="green-button" />
                        {% endif %}
                        
                        <!-- end id-form  -->
                    </form>

                </div>

            </div>
            <!--  end table-content  -->

        {% endblock %}

    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}