
{% for _step in dashboardCompletedSteps %}
     <div class="entry">
			<img class="pull-left img-circle" src="{{ _step.image }}">
			<div class="feed-details">
    		    <p>{{ _step.label }} <a href="{{ _step.href is defined ? _step.href : '#' }}">
    		    {% if _step.done is defined and _step.done %}
    	            {{ _step.link }}
                {% else %}
                    {{ _step.link }}
                {% endif %}
    		    </a>{{ _step.description }}</p>
    		    <small class="italic">{{ _step.time }} hours ago</small> 
		    </div>
	</div>
{% endfor %}