	<!--FOOTER start-->
        <footer id="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 pull-left">
                        <span class="copy">
                            Copyright 2014 {{ site_name }}. All rights reserved.
                        </span>
                    </div>
                    <div class="span6 pull-right">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="{{ path('frontend_main_homepage') }}" target="_blank">{{ site_name }}</a>
                            </li>
                            {#
                            <li>
                                <a href="{{ path('institution_faq') }}" target="_blank">FAQ</a>
                            </li>
                            #}
                            <li>
                                <a href="{{ path('institution_terms_of_use') }}" target="_blank">Terms of Use</a>
                            </li>
                            <li>
                                <a href="{{ path('institution_privicy_policy') }}" target="_blank">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
<!-- Footer Ends -->