<<<<<<< HEAD
<header id="banner">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="logo">
					<a href="{{ path('main_homepage') }}"><img alt="healthcareabroad" src="{{ asset('images/institution/logo.png') }}"></a>
				</div>
			</div>
			<div class="pull-right">
				<form class="navbar-search pull-left">
					<input type="text" placeholder="Search" class="search-query">
				</form>
				
				<div class="pull-left">
                    <div class="dropdown"> 
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#help"> Help <b class="caret"></b> </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="{{ path('institution_feedback_add')}}">Feedback</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                
				<div class="pull-left">
					<p>you are logged in as</p>
				</div>
				<div class="pull-right">
                    <div class="dropdown"> 
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="{{ path('institution_editAccount') }}"> {{ app.user.username }} <b class="caret"></b> </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="{{ path('institution_editAccount') }}">Manage Account Profile</a></li>
                            <li><a href="#">Invite User</a></li>
                            <li><a href="{{ path('institution_logout')}}">Logout</a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<!--End of container -->
	
	{% set disableMainNavigation = disableMainNavigation is defined and disableMainNavigation %}
    {% if not disableMainNavigation %}
        {% include 'InstitutionBundle:Widgets:navigation.main.html.twig' %}
    {% endif %}
</header>
=======
<div class="container">
	<div class="row">
		<div class="span4">
			<div class="logo">
				 <a href="{{ path('main_homepage') }}"><img src="{{ asset('images/institution/logo.png') }}" alt="healthcareabroad"></a> 
			</div>
		</div>
		<div class="pull-right">
			<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Search">
			</form>
			<div class="pull-left">
				<div class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Help <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li>
							<li><a href="{{ path('institution_feedback_add')}}">Feedback</a></li>
						</li>
						<li>
							<a href="faq.html">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pull-left">
				<p>you are logged in as</p>
			</div>
			<div class="pull-right">
				<div class="dropdown">
					<a class="dropdown-toggle" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="#"> {{ app.user.username }}<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="{{ path('institution_editAccount') }}">Manage Account Profile</a></li>
						<li><a href="add-new-user.html">Invite User</a></li>
						<li><a href="{{ path('institution_logout')}}">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
>>>>>>> 176e813ffeeb3e243461175520e0855583ea8f8c
