<div class="hca-banner">
    {% if institution.featuredMedia %}
        {{ media(institution.featuredMedia, institution, 'default', {alt: 'Institution', style: 'max-height: 310px; width: 100%;'}) | raw }}
    {% else %}
     <img src="{{ asset('images/institution/institution3.png') }}" alt="institution" />
    {% endif %} 
    <a href="#hca-upload-banner" data-toggle="modal" class="btn-large btn-banner">Change Cover</a>

    {% if institution.logo %}
        {{ media(institution.logo, institution, 'default', {alt: 'institution-logo'}) | raw }}
    {% else %}
        <a class="hca-logo"  href="#hca-upload-logo" data-toggle="modal" class="btn-large btn-banner">
            <span class="rollover"></span>
            <img class="imgborder" alt="" src="{{ asset('images/institution/default-hospital-logo.png') }}">            
        </a> 
    {% endif %} 
    
   <div class="hca-institution-name"><h1><a href="#hca-edit-institution-name" data-toggle="modal"> {{ institution.name }} </a></h1></div>
    <div class="institution-details">
            <h3><i class="icon-map-marker"></i>{{ institution_address_to_array(institution, ['address1']) | join(', ')}}</h3>
    </div>
</div>