<form id="{{ formId }}" action="{{ path('institution_ajaxUpdateProfileByField') }}">
    {% for each in fields %}
        {% if each == 'description' %}
            <div class="description control-group">   
                {{ form_widget(institutionForm[each], { 'attr': { class: 'span12', rows: '4', cols: '50' }})  }}
            </div>
        {% elseif each == 'name' %}
            {{ form_row(institutionForm[each], { label: isSingleCenter ? 'Clinic name' : 'Institution name', 'attr': {class: 'span6'} })  }}
        {% elseif each == 'address1' %}
            <div id="map_canvas" style="height: 300px;margin: 20px 20px 30px"></div>
            <a href="javascript:updateInstitutionStaticMap()" class="pull-right label label-success" style="position:relative; top: -20px;left:-20px;">Review map location</a>

            {{ form_widget(institutionForm.address1, {attr: {'class': 'span12'}}) }}
            {{ form_widget(institutionForm.coordinates) }}
            <div class="country control-group span5">
                    <label for="{{ institutionForm.children.country.vars.id }}">
                        {{ institutionForm.children.country.vars.label }}
                    </label>
                    {{ form_row(institutionForm.country, {attr: {class: 'span12'}})}} 
            </div>
           <div class="state control-group span5">
                    {{ form_label(institutionForm.state) }}
                    {{ form_widget(institutionForm.state, { attr: {class: 'span12'} } )}}
            </div>
            <div class="city control-group span5">
                     <label for="{{ institutionForm.children.city.vars.id }}">
                      {{ institutionForm.children.city.vars.label }}
                    </label>
                    {{ form_widget(institutionForm.city, {label: 'City', attr: {class: 'span12'} } )}}
            </div>
            <div class="zipCode control-group span5">
                    <label for="{{ institutionForm.children.zipCode.vars.id }}">
                     {{ institutionForm.children.zipCode.vars.label }}
                    </label>
                    {{ form_widget(institutionForm.zipCode, {label: 'Zip/Mail Code', attr: {class: 'span6'} } )}}
            </div>
            <div class="control-group">
                {{ form_label(institutionForm.addressHint)}}
                {{ form_widget(institutionForm.addressHint, {attr: {class: 'span12'} } )}}
            </div> 
        {% elseif each == 'contactDetails' or each == 'websites' %}

            <div class="contactEmail control-group span5">
                    <label for="{{ institutionForm.children.contactEmail.vars.id }}">
                        {{ institutionForm.children.contactEmail.vars.label }}
                    </label>
                    {{ form_widget(institutionForm.contactEmail, { attr: {class: 'span12'} } )}}
            </div>
             <div class="contactDetails control-group span5">
                    {% for _widget in institutionForm.contactDetails %}
                        {{ form_widget(_widget) }}
                    {% endfor %}
            </div>
            <div class="control-group website">
                {{ form_label(institutionForm.websites) }}
                <span class="pull-left"> http:// </span>
                {{ form_widget(institutionForm.websites, { attr: {class: 'span11 pull-right'} } )}}
            </div>

         {% elseif each == 'socialMediaSites' %}
             {{ form_widget(institutionForm.socialMediaSites )}}
         {% elseif each == 'services' %}
             <div class="control-group">
                 {{ form_widget(institutionForm.services )}}
             </div>
         {% elseif each == 'awards' %}
             <div class="control-group">
                 {{ form_widget(institutionForm.awards )}}
             </div>
         {% else %}
                {# form_row(institutionForm[each]) #}
         {% endif %}

    {% endfor %}
    
    {{ _csrf_token_widget | raw}}

     <div class="alert-box span8"></div>
    
    <div class="row"> 
		<button class="btn btn-primary pull-right" onclick="return InstitutionProfile.submitInstitutionSidebarForms(this);">Submit</button>
    </div>
</form>