{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle }} %}
    {% block modalBody %}

        <form id="{{ formId }}" action="{{ path('institution_ajaxUpdateProfileByField') }}" style="min-width: 400px;padding: 20px 20px 0;">
        
            {% for each in fields %}

                {% if each == 'description' %}
                    {{ form_row(institutionForm[each], { 'attr': {class: 'tinymce', rows: 5} })  }}
                {% elseif each == 'name' %}
                    {{ form_row(institutionForm[each], { label: isSingleCenter ? 'Clinic name' : 'Institution name', 'attr': {class: 'span6'} })  }}
                {% elseif each == 'address1' or each == 'contactNumber' or each == 'websites' %}
                    {{ form_widget(institutionForm[each]) }}
                {% else %}
                    {{ form_row(institutionForm[each]) }}
                {% endif %}

            {% endfor %}
            
            {{ _csrf_token_widget | raw}}

        </form>
        <div class="modal-footer button-wrapper">
			<button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
			<button class="btn btn-primary submit-button">Submit</button>
        </div>
    {% endblock %}
{% endembed %}