{% set daysArr = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}

{% set arrBusinessHours = json_decode(institutionMedicalCenter.businessHours) %}
{% if not arrBusinessHours %}
    {% set arrBusinessHours = {
            'Sunday' :{"from": "08:15 AM", "to": "07:00 PM"},
            'Monday' :{"from": "08:15 AM", "to": "07:00 PM"},
            'Tuesday' :{"from": "08:15 AM", "to": "07:00 PM" },
            'Wednesday' :{"from": "08:15 AM", "to": "07:00 PM"},
            'Thursday' :{"from": "08:15 AM", "to": "07:00 PM"},
            'Friday' :{"from": "08:15 AM", "to": "07:00 PM"},
            'Saturday' :{"from": "08:15 AM", "to": "07:00 PM"}
            }
    %}
{% endif %}


<table class="table table-striped marginleft0" id="table-list">
    <tbody>
    
    
    {% for i, day in daysArr %}
        <tr>
            <td  align="center">{{ day }}</td>
            <td  align="center">
                {% if arrBusinessHours[day] is not defined %}
                    <input class="hour" name="businessHours[{{day}}][from]" disabled="true" id="businessHours[{{day}}][from]" value="" />
                {% else %}
                     <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value="{{ arrBusinessHours[day].from}}" />
                {% endif %}
            </td>
            <td  align="center">
                {% if arrBusinessHours[day] is not defined %}
                    <input class="hour" name="businessHours[{{day}}][to]" disabled="true" id="businessHours[{{day}}][to]" value="" />
                {% else %}
                     <input class="hour" name="businessHours[{{day}}][to]" id="businessHours[{{day}}][to]" value="{{ arrBusinessHours[day].to }}" />
                {% endif %}
            </td>
            <td  align="center">
                {% if arrBusinessHours[day] is not defined %}
                    <input checked="checked" type="checkbox" class="is_closed_checkbox" id="{{ i }}"/>
                {% else %}
                    <input type="checkbox" class="is_closed_checkbox" id="{{ i }}"/>
                {% endif %}
                Close
            </td>
        </tr>
     {% endfor %}
     </tbody>
</table>


