<!-- New template do not remove -->
{% set _mainNavDefaults = {'selected' : 'dashboard'} %}
{% set mainNavigation = mainNavigation is defined ? _mainNavDefaults | merge(mainNavigation) : _mainNavDefaults %}
<nav id="nav">
    <div class="row-fluid">
        <div class="container">
            <ul class="nav nav-tabs nav-menu">
                <li class="{{ 'dashboard' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_homepage')}}"><i class="icon-h-sign"></i>Dashboard</a>
                </li>
                <li class="{{ 'manage profile' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_account_profile') }}"><i class="icon-hospital"></i>Your Profile</a> 
                </li>
                {% if institution.type != 3 %}
                <li class="{{ 'clinics' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_medicalCenter_index') }}"><i class="icon-medkit"></i> Clinics</a>
                </li>     
                {% endif %} 
                {#
                {% if isInquiry is defined %}                      
                <li class="{{ 'doctors' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="doctors-listing.html"><i class="icon-user-md"></i>All Doctors</a>
                </li>               
                {% endif %}     
                     
                <li class="{{ 'users' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_users') }}"><i class="icon-group"></i> Users</a>
                </li>
                 #}  
                <li class="{{ 'gallery' == mainNavigation.selected  ? 'active' : '' }}">
                    <a href="{{ path('institution_mediaGallery_index') }}"><i class="icon-picture"></i> Media Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
                