<div class="box-content">
    <h4>Basic Profile</h4>        
        <div class="mapbox" id="map_canvas" style="width: 180px; height: 170px;"></div>            
        <p class="address_column">
            <span class="address_part">{% set _address = institution_address_to_array(institution) %}</span>
            <span class="address_part"> {{ _address | join(',&nbsp;</span><span class="address_part">') | raw}}</span>
            <br/>
            <a href="#addressModal" role="button" data-toggle="modal">
                <i class="icon-pencil" title="Edit"></i><small class="addressLabel">Edit Address</small>
            </a>
        </p>
        <p>
            {% set contact = json_to_array(institution.contactNumber, false) %}
            <span id="profileNumberText">{{ json_decode(institution.contactNumber) | join('-') }}</span>
            <a href="#numberModal" role="button" data-toggle="modal">
                <i class="icon-pencil" title="Edit"></i><small class="numberLabel">{{ contact | length ? 'Edit':'Add'}} Contact Number</small>
            </a>
         </p>
        <p>
            <span id="profileEmailText">{{ institution.contactEmail}}</span>
            <a href="#emailModal" role="button" data-toggle="modal">
                <i class="icon-pencil" title="Edit"></i><small class="emailLabel">{{ institution.contactEmail | length ? 'Edit':'Add'}} Contact Email</small>
            </a>
        </p>
    
        <div id="profileWebsitesText">
            {% for type, site in institution_websites_to_array(institution) %}
                {{ type }}: <a href="{{ site }}">{{ site }}</a><br/>
            {% endfor %}
        </div>
        <a href="#websitesModal" role="button" data-toggle="modal">
            <i class="icon-pencil" title="Edit"></i><small class="websitesLabel">{{ institution_websites_to_array(institution) | length ? 'Edit':'Add'}} Website</small>
        </a>
</div>

<!-- Modal Institution Address -->
{% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
     with {formId: 'addressModalForm', fields: ['address1','country','city','state','zipCode'], modalId: 'addressModal', modalTitle: 'Edit Address'} 
%}

<!-- Modal Number -->
{% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
     with {formId: 'numberModalForm', fields: ['contactNumber'], modalId: 'numberModal', modalTitle: 'Edit Number'} 
%}

<!-- Modal Email -->
{% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
     with {formId: 'emailModalForm', fields: ['contactEmail'], modalId: 'emailModal', modalTitle: 'Edit Email'} 
%}

<!-- Modal Clinic Website -->
{% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
     with {formId: 'websitesModalForm', fields: ['websites'], modalId: 'websitesModal', modalTitle: 'Edit Websites'} 
%}

<script src="{{ asset('bundles/helper/js/HCAGoogleMap.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(function(){
	var coordinates = "{{ institution.coordinates }}";
	var mapParams = {
		address: "{{ _address|join(',') }}",
		defaultAddress: "{{ institution.city.name }}, {{ institution.city.country }}",

		mapOnChangeCallback: function(){
			if(HCAGoogleMap && HCAGoogleMap.latLngString != coordinates) {
		        $.ajax({
		            url: "{{ path('institution_ajaxUpdateCoordinates') }}",
		            type: 'post',
		            data: { coordinates: HCAGoogleMap.latLngString },
		            dataType: 'json',
		            success: function(response){},
			        error: function(){}
		        });
			}
		}
	};

    HCAGoogleMap.initialize(mapParams);
});
</script>