<div class="sidebar-nav">
	<ul class="nav nav-tabs nav-stacked">
		{% if hasAlerts %}
			<li class="nav-header" style="padding: 8px 0;">Latest System Messages</li>
		{% endif %}
	<!-- specializations with DRAFT status -->
		{% if expiredListingAlerts|length %}
			<li>
				<h5>Expired Listings.</h5>
				{% for center in expiredListingAlerts %}

					<a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
					<a href="{{ path('institution_medicalCenter_edit', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a>
				{% endfor %}

			</li>
		{% endif %}

		{% if draftAlerts|length %}
			<li>
				<h5>The following specializations have incomplete information.</h5> 
				{% for center in draftAlerts %}
	
					<a href="{{ path('institution_medicalCenter_addDetails', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a>

				{% endfor %}
			</li>
		{% endif %}

		{% if approvedListingAlerts|length %}
			<li>
				<h5>Approved Listings. </h5>
				{% for center in approvedListingAlerts %}

					<a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
					<a href="{{ path('institution_medicalCenter_edit', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a>

		{% endfor %}
			</li>
		{% endif %}
	</ul>
</div>