<div class="box-content">
    <h4 class="pull-left">Basic Profile</h4>            
    <div class="clear"></div>
    <table class="table table-striped">
        <tr>
            <td class="medical_center_address">
                {% set _institution_address =  unset_array_key('address1', institution_address_to_array(institution) ) %}
                {% set _institution_medical_center_address = json_to_array(institutionMedicalCenter.address, false) %}
                
                <span class="street_address_part">{{  _institution_medical_center_address | length ? _institution_medical_center_address | join(', ') ~ ', ' : '' }}</span>
                <span class="institution_address">{{ _institution_address | join(', ')}}</span>
                <a href="#addressModal" data-toggle="modal" role="button">
                    <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                </a>

            </td>
        </tr>
        
        <tr>
            <td>
                <span id="profileNumberText">{{ json_decode(institutionMedicalCenter.contactNumber) | join('-') }}</span>
                <a href="#numberModal" role="button" data-toggle="modal">
                    <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                </a>
            </td>
        </tr>
        
        <tr>
            <td>
                <p>
                    <span id="profileEmailText">{{ institutionMedicalCenter.contactEmail }}</span>
                    <a href="#emailModal" role="button" data-toggle="modal">
                        <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                    </a>
                </p>
            </td>
        </tr>
    
        <tr>
            <td>
                <div id="profileWebsitesText">
                    {% for type, site in json_websites_to_array(institutionMedicalCenter.websites) %}
                        {{ type }}: <a href="{{ site }}">{{ site }}</a><br/>
                    {% endfor %}
                </div>
                <a href="#websitesModal" role="button" data-toggle="modal">
                    <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                </a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}"></script>
<!-- Modal Institution Address -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'addressModalForm', fields: ['address'], modalId: 'addressModal', modalTitle: 'Edit Address'} 
%}

<!-- Modal Number -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'numberModalForm', fields: ['contactNumber'], modalId: 'numberModal', modalTitle: 'Edit Number'} 
%}

<!-- Modal Email -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'emailModalForm', fields: ['contactEmail'], modalId: 'emailModal', modalTitle: 'Edit Email'} 
%}

<!-- Modal Clinic Website -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'websitesModalForm', fields: ['websites'], modalId: 'websitesModal', modalTitle: 'Edit Websites'} 
%}
