        <div class="box-content">
        	<h4 class="pull-left">CLINIC HOURS</h4>
        	<div class="pull-right editname2">
			   <a href="#" role="button" class="businessHoursModalLink" id="businessHoursModal-{{institutionMedicalCenter.id}}">
                    <i class="icon-pencil" title="Edit"></i><small>Edit</small>
                </a>
        	</div>
        	
        	<table class="table table-striped" id="institutionBusinessHoursText">
        	    {% include 'InstitutionBundle:Widgets:businessHoursTable.html.twig' %}
    	    </table>
        	<div id="business_hours_modal_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            		<h3 id="myModalLabel8">Change Clinic Hours</h3>
            	</div>
            	<div class="modal-body">
            		<form id="modal_institutionMedicalCenter_description_form" action="{{ path('institution_medicalCenter_ajaxUpdateBusinessHours') }}">
            		    <div>
                			{% include 'InstitutionBundle:Widgets:businessHours.html.twig' %}
                		</div>
            		</form>
            		
            	</div>
            </div>
        	
        </div>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('js/jquery/timepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery/globalize.js') }}"></script> 
<script type="text/javascript" src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>

<script type="text/javascript">
(function(){
    $(function(){

        $('a.businessHoursModalLink').click(function(){
            $('div#business_hours_modal_form').modal('show');

            // timepicker can only be attached to visible elements
            $(".hour").timepicker({ seconds: false});

            return false;
        });
    	$('input.is_closed_checkbox').each(function(){
    	    if(this.checked) {
    	    	$(this).parent().parent().find('.hour').val("");
    	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    		}
    	});

        $('#businessHourCheckBox').click(function(){
        	
            if ($('#businessHourCheckBox').attr('checked')) {
        
            	$(this).parent().parent().find('.hour').val("");
            	$(this).parent().parent().find('.hour').spinner({ disabled: true });
            	$('#clinicHoursTable').hide();
            	
            }else{
        	    $('#clinicHoursTable').show();
        	    $(this).parent().parent().find('.hour').val("8:00 AM");
            	$(this).parent().parent().find('.hour').spinner({ disabled: false });
        	}
        }); 
        
        $('input.is_closed_checkbox').change(function(){
            if(this.checked) {
            	$(this).parent().parent().find('.hour').val("");
            	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
            	$(this).parent().parent().next().find('.businessHourNotes').val("");
                $(this).parent().parent().next().find('.businessHourNotes').attr({ disabled: true });
        	}
            else 
            {
            	$(this).parent().parent().find('.hour').val("8:00 AM");
            	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
            	$(this).parent().parent().next().find('.businessHourNotes').attr({ disabled: false });
            }
           
        });

        // Set Submit button of modal forms to save the specific property changes and update the text property.
        $('div#business_hours_modal_form .submit-button').click(function(){
            _form = $(this).parents('.modal-body').find('form');
            _form.append('<span class="loader">Loading...</span>');
            $.ajax({  
                 url: _form.attr('action'), 
            	  type: "POST",  
            	  data: _form.serialize(),
            	  success: function(data) {  
            		  $('#institutionBusinessHoursText').html(data.html);
            		  _form.parents('.modal').modal('hide');
                      _form.find('span.loader').remove();
                },
                error: function(response) {
                	_form.find('span.loader').hide();
                }
        	}); 

        	return false; 
        });
            
    });    
})(jQuery);
</script>
{% endblock %}