{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <form id="modal_specialist_form" action="{{ path('institution_medicalCenter_ajaxAddSpecialistService', {'imcId': institutionMedicalCenter.id, 'institutionId': institution.id} ) }}">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
        <img style="display:none; width:180px;margin:-25px 0px 0px 10px;" class="loader_ajax_class" id="loader_ajax" src="{{ asset('images/institution/loading2.gif') }}" />
         <table class="table table-striped table-bordered specialist_table">
         <thead>
            <tr>    
				<th>Medical Specialist</th>
				<th>Specializations</th>
				<th>Actions</th>
    		</tr>
         </thead>
         <tbody>
    		<tr style="display:none;" class="loader"><td colspan="2">Loading...</td></tr>
    		    {% include 'InstitutionBundle:MedicalCenter:tableRow.specialist.html.twig' %}
        </tbody>
    	</table>
    	
         {{ form_widget(form._token) }}
    </form>
    
        	
	<div id="specialistModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    {% set _commonDeleteCsrfTokenWidget = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(commonDeleteForm._token) %}
	    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Delete Specialist</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove
            	<strong> </strong>
            </p>
        </div>
        <div class="modal-footer">
            <form action="{{ path('institution_medicalCenter_ajaxRemoveSpecialistService', {'imcId': institutionMedicalCenter.id, 'institutionId': institution.id } ) }}">
                {{ _commonDeleteCsrfTokenWidget | raw }}
                 <input type="hidden" name="id" class="doctorHiddenId" id="id" value=""/>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        	    <button data-loading-text="Processing..." class="btn btn-danger delete-button" type="button" onclick="InstitutionMedicalCenter.submitRemoveMedicalSpecialistForm(this); return true;">Delete</button>
            </form>
        </div>
    </div>
    
    {% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
<!--
(function($){
    $(function(){

    	InstitutionSpecialistAutocomplete.removePropertyUri = '{{ path("institution_medicalCenter_ajaxRemoveSpecialistService", {"imcId" : institutionMedicalCenter.id, "institutionId" : institution.id} ) }}';

    	InstitutionSpecialistAutocomplete
        .setLoadHtmlContentUri('{{ path("institution_medicalCenter_ajaxAddSpecialistService", {"imcId": institutionMedicalCenter.id, "institutionId": institution.id}) }}') 
        .setLoadMedicalSpecialistUri('{{ path("institution_medicalCenter_loadMedicalSpecialist", {"imcId": institutionMedicalCenter.id}) }}')
        .setAutocompleteOptions('specialist', {
            source: '',
            target: $('#institutionDoctorSearch_firstName'),
            selectedDataContainer: $('table.specialist_table tbody'),
            loader: $('#loader_ajax'),
            field: $('#institutionDoctorSearch_firstName')
        })
        .autocomplete();
    });
    
})(jQuery);
//-->
</script>
{% endblock %}