{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
         <section class="doctors-listing">
            <h3> Your Doctors
            {% if doctors | length %}
                <a id="addDoctorButton" href="#add-doctor" class="btn btn-primary pull-right" data-toggle="modal">Search Add Doctor</a>
                {% endif %}
            </h3>
                 <section id="doctorsList" class="doctors-new-listing">
                    {% for doctor in doctors %}
                        <div class="doctor-heading medicalCenter-doctors" style="margin-bottom: 1px; min-height: 60px;padding: 10px">
                            <a href="{{ path('institution_medicalCenter_removeDoctor', {imcId: institutionMedicalCenter.id, doctorId: doctor.id}) }}" class="remove-doctor"><i class="icon-remove-sign pull-right"></i></a>
                            <a data-doctor="{{ json_encode(doctors[doctor.id]) }}" href="{{ path('institution_medicalCenter_ajaxUpdateDoctor', {imcId: institutionMedicalCenter.id, doctorId: doctor.id}) }}" class="edit-doctor-btn"><i class="icon-edit pull-right"></i></a>
                            <span><img alt="" src="{{ doctor.media is defined ? doctor_media_src(doctor.media) : imageplaceholder.doctorDefaultImage }}" class="pull-left img-polaroid"></span>
                            <h4>Dr. {{ doctor.firstName|title }} {{ doctor.middleName ? doctor.middleName|slice(0,1)|title ~ '. ' : '' }}{{ doctor.lastName|title }} {{ doctor.suffix ? doctor.suffix : '' }}</h4>
                            {% if doctor.specializations|length %}
                                <p><i class="icon-stethoscope"></i>Specializations:<span>{{ doctor.specializations|join(', ') }}</span></p>
                            {% endif %}
                        </div>
                        <div class="doctors-listing edit-doctor-wrapper" data-doctor-id="{{ doctor.id }}" style="display:none"></div>
                    {% else %}
                        <div class="alert alert-block">
                            <p class="hca-helptext">
                                You haven't yet added any doctors affiliated to this Clinic. Text here explaining the need to add doctors in every your Clinic.
                            </p>
                            <a  href="#add-doctor" id="addDoctorButton" class="btn btn-primary" data-toggle="modal" ><i class="icon-user-md"></i> Add Doctor</a>
                        </div>
                    {% endfor %}
                </section>
        </section>
        
       {% include 'InstitutionBundle:MedicalCenter/Widgets:form.editDoctors.html.twig' %}
       {% include 'InstitutionBundle:MedicalCenter/Widgets:modalForm.doctors.html.twig' with { path : path('institution_add_medical_specialist', { imcId: institutionMedicalCenter.id })  } %}
    {% endblock %}
{% endembed %}
{% block inlineJavascriptCode %}
    {% include 'InstitutionBundle:MedicalCenter/Widgets:inlineJs_doctors.html.twig' %}
{% endblock %}
