{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    
    <table class="table table-striped table-bordered">
		<tbody>
		    <tr>
				<th>Awards</th>
				<th>Actions</th>
			</tr>
			{% for _award in currentGlobalAwards.award %}
			<tr>												
				<td>
					<h5>{{ _award.name }}</h5>
					<small>{{ _award.awardingBody.name }}</small>
				</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
			{% else %}
			<tr>
			    <td colspan="2">No awards yet.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Award</a>
	</div>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Certificates</th>
				<th>Actions</th>
			</tr>
			{% for _certificate in currentGlobalAwards.certificate %}
			<tr>												
				<td>
					<h5>{{ _certificate.name }}</h5>
					<small>{{ _certificate.awardingBody.name }}</small>
				</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
			{% else %}
			<tr>
			    <td colspan="2">No certificates yet.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Certificate</a>
	</div>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Affiliations</th>
				<th>Year Given</th>
				<th>Actions</th>
			</tr>
			{% for _affiliation in currentGlobalAwards.affiliation %}
			<tr>												
				<td>
					<h5>{{ _affiliation.name }}</h5>
					<small>{{ _affiliation.awardingBody.name }}</small>
				</td>												
				<td>
					<i title="Delete" class="icon-trash"></i>
					<a data-toggle="modal" role="button" title="" href="#deleteservices">Delete</a>
				</td>
			</tr>
			{% else %}
			<tr>
			    <td colspan="2">No affiliations yet yet.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pull-right">
		<a class="btn btn-success btn-medium" id="addAnotherSpecialization" data-toggle="modal" role="button" title="" href="#addawards">Add Another Affiliation</a>
	</div>
    
    {% endblock %}
{% endembed %}