{% set specializationLabel = getClassLabel('institution_specialization') %}

<div class="span9">

    {% embed 'HelperBundle:Widgets:section.html.twig' with {title: institutionMedicalCenter.name } %}

        {% block sectionContent %}
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                    {{ specializationLabel.plural }}
                    <a href="{{ path('admin_institution_medicalCenter_addSpecialization', {institutionId: institution.id, imcId: institutionMedicalCenter.id}) }}">
                        <button class="btn btn-mini pull-right">
                            <i class="icon-plus"></i>
                               Add {{ specializationLabel.singular }}
                        </button>
                    </a>
                </h5>
                
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                {% for each in specializations %}
                    <h5 style="padding: 5px;">
                        {{ each.specialization.name | title }}
                        <a href="#" style="float:right"><i class="icon-remove"></i></a>
                    </h5>
                    <div style="margin-top: 10px">
                        <a href="#"  class="pull-right"><i class="icon-edit"></i> edit</a>
                        {{ each.description | raw }}
                    </div>

                    <dl style="font-size: 13px; border-bottom: 1px dashed #EFEFEF; padding-bottom: 10px; margin-bottom: 10px;">
                        <dt>Treatments</dt>
                        {% for treatment in each.treatments %}
                            <dd>{{ treatment.name }} <a href="#"><i class="icon-remove"></i></a></dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
                </div>
            </div>
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                  Ancilliary Services
                    <a id="addofferedServices" href="{{ path('admin_addMedicalCenterOfferedServices', {institutionId:institution.id, imcId: institutionMedicalCenter.id}) }}" class="add-offered-services btn btn-mini pull-right">
                            <i class="icon-plus"></i>
                               Add Ancilliary Services
                    </a>
                </h5>
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                    <div id="centersAccordion" class="hca-accordion">
                        {% for service in services %}
                            <h5 class="medical-centers">
                                <a href="{{ path('admin_institution_medicalCenter_view', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right view-center" style="font-size:13px;font-weight:normal;margin-left:5px;">
                                    <i class="icon-share"></i><span>view</span>
                                </a>
                                <a href="{{ path('admin_institution_medicalCenter_update', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right edit-center-name" style="font-size:13px;font-weight:normal;">
                                    <i class="icon-edit"></i><span>edit</span>
                                </a>
                                <a class="url" href="{{ path('admin_institution_centerSpecializations', {imcId: service.id, institutionId: institution.id}) }}">{{ service.name }}</a>
                                <input type="text" value="{{ service.name }}" style="margin:0;display:none" onclick="return false"/>
                            </h5>
                            <div class="content">
                                <div style="border: 1px dashed #ddd;margin-bottom: 20px;padding: 5px 10px;">
                                    <a href="{{ path('admin_institution_medicalCenter_update', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right edit-center-description" style="font-size:13px;font-weight:normal">
                                        <i class="icon-edit"></i> <span>edit</span>
                                    </a>
                                    <div class="center-description">{{ service.name | raw }}</div>
                                    <textarea required="required" class="tinymce edit-center-textarea" style="display:none">{{ service.name }}</textarea>
                                </div>
                                <div class="specializations"></div>
                            </div>
                        {% else %}
                            <div class="alert alert-block"> </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                    Business Hours
                </h5>

                <form id="business" class="basic-form">
                    <div id="clinicHours" class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                        {% if not institutionMedicalCenter.businessHours %}
                            <input type="checkbox" name="businessHourCheckBox" checked="checked" id="businessHourCheckBox" >
                        {% else %}
                        <input type="checkbox" name="businessHourCheckBox" id="businessHourCheckBox" >
                        {% endif %}
                        <span>I have no business hours</span> 
                        {% include 'InstitutionBundle:Widgets:businessHours.html.twig' %}
                    </div>

                </form>
            </div>
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                  GlobalAwards / Certifications
                    <a href="{{ path('admin_institution_medicalCenter_addGlobalAwards', {institutionId: institution.id, imcId: institutionMedicalCenter.id}) }}" class="add-global_award btn btn-mini pull-right">
                            <i class="icon-plus"></i>
                               Add GlobalAwards
                    </a>
                </h5>
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                {% for global_award in global_awards %}
                        <div style="margin-top: 10px">
                       {{ global_award.name | title }}
                        <a href="{{ path('admin_institution_medicalCenter_updateGlobalAwards', {institutionId: institution.id, imcId: institutionMedicalCenter.id , global_awardId: global_award.id}) }}" style="float:right"><i class="icon-remove"></i></a>
                    </div>

                {% endfor %}
                </div>
            </div>

            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                    Media
                    <a href="{{ path('admin_media_add', {context: constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_MEDICAL_CENTER'), id: institutionMedicalCenter.id} ) }}" class="btn btn-mini pull-right">
                        <i class="icon-plus"></i>Add
                    </a>
                </h5>
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                    {% include 'MediaBundle:Default:mediaTableView.html.twig' with {media: institutionMedicalCenter.media} %}
                </div>
            </div>

        {% endblock %}

    {% endembed %}
</div>
{% block inlineJavascriptCode %}
    <script src="{{ asset('js/jquery/timepicker.js') }}"></script>
    <script src="{{ asset('js/jquery/globalize.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
    <script type="text/javascript">
        $(function() {
        	$('#centersAccordion').accordion({active: false, collapsible: true, heightStyle: "content"});
            $(".hour").timepicker({ seconds: false  });
            $('input.is_closed_checkbox').each(function(){
                if(this.checked) {
                    $(this).parent().parent().find('.hour').val("");
                    //var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
                }
            });
            if ($('#businessHourCheckBox').attr('checked')) {
            	$(this).parent().parent().find('.hour').val("");
    	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    	    	$('#clinicHoursTable').hide();
            }
            $('#dialog-container').dialog({
                position: ['center', 100],
                autoOpen: false,
                width: 750,
                modal: true,
                resizable: false,
                close: function() {}
            });

            $('a.add-global_award').click(function(){
                var elem = $(this);
                var _url = elem.attr('href');

                $("#dialog-container").empty();
                $('#dialog-container').dialog({
                    title: 'GlobalAwards / Certifications',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {
                                $('#dialog-container').html(data);
                            }
                        );
                    },
                });

                $('#dialog-container').dialog("open");

                     return false;
            });

            $('a.add-offered-services').click(function(){
            	var elem = $(this);
    			var _url = elem.attr('href');

    			$("#dialog-container").empty();
    			//$('#dialog-container').dialog('option','title', (elem.hasClass("edit") ? 'Edit' : 'Add') + ' GlobalAwards');
                $('#dialog-container').dialog({
                	title: 'Add Offered Services',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {        
                            	$('#dialog-container').html(data);
                            }
                        );
                    },
                });

            	$('#dialog-container').dialog("open");

                 	return false;           
            });
            $('.medical-centers').click(function(){
                var url = $(this).find('.url').attr('href');
                var specializationElem = $(this).next().find('.specializations:first');

                if($.trim(specializationElem.html()) == '') {
                	specializationElem.html('<div class="ajax-loading">loading...</div>');
                    $.get(url, function(result) {
                    	specializationElem.html(result);
                    });
                }
            });

            $('.view-center').click(function(){
                window.location = $(this).attr('href');
                return false;
            });

            $('.edit-center-description').click(function(){
                if($(this).next().is(':visible')) {
                	$(this).find('i').attr('class', 'icon-ok');
                	$(this).find('span').html('save')
                    $(this).next().hide().siblings('.mceEditor').show();

                } else {
                    var url = $(this).attr('href');
                    var param = { description: $(this).siblings('textarea').val() };

                	$.post(url, param, function(result){}, 'json');

                	$(this).find('i').attr('class', 'icon-edit');
                	$(this).find('span').html('edit')
                    $(this).next().html(param.description).show().siblings('.mceEditor').hide();                
                }

                return false;
            });

            $('.edit-center-name').click(function(){
                if($(this).next().is(':visible')) {
                	$(this).find('i').attr('class', 'icon-ok');
                	$(this).find('span').html('save')
                    $(this).next().hide().siblings('input').show();
            
                } else {
                    var url = $(this).attr('href');
                    var param = { name: $(this).siblings('input').val() };

                	$.post(url, param, function(result){}, 'json');

                	$(this).find('i').attr('class', 'icon-edit');
                	$(this).find('span').html('edit')
                    $(this).next().html(param.name).show().siblings('input').hide();

                	$("#centersAccordion").accordion("enable");
                }

                return false;
            }).siblings('input').click(function(){
    			$('#centersAccordion').accordion("disable").removeClass('ui-state-disabled'); 
    			$(this).parent().removeClass('ui-state-disabled'); 
    		});
        });
        
        $('input.is_closed_checkbox').change(function(){
            if(this.checked) {
                $(this).parent().parent().find('.hour').val("");
                var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
            }
            else
            {
                $(this).parent().parent().find('.hour').val("8:00 AM");
                var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
            }

        });

        $('#businessHourCheckBox').click(function(){
        	
    	    if ($('#businessHourCheckBox').attr('checked')) {

    	    	$(this).parent().parent().find('.hour').val("");
    	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    	    	$('#clinicHoursTable').hide();
    	    	
    	    }else{
        	    $('#clinicHoursTable').show();
        	    $(this).parent().parent().find('.hour').val("8:00 AM");
    	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
        	}
    	}) 
        
        $('#saveBusinessHours').click(function() {
            var businessHours = $('#business').serialize();
            $('div#ajax_loader').show();
            $.ajax({
                url: "{{ path('admin_institution_medicalCenter_edit', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}",
                data: businessHours,
                type: 'post',
                success: function(){
                    $('div#ajax_loader').hide();
                }
            });

            return false;
        });
    </script>
{% endblock %}
