{% set specializationLabel = getClassLabel('institution_specialization') %}

<div class="span9">

    {% embed 'HelperBundle:Widgets:section.html.twig' with {title: institutionMedicalCenter.name } %}

        {% block sectionContent %}
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                    {{ specializationLabel.plural }}
					<a href="{{ path('admin_institution_medicalCenter_addSpecialization', {institutionId: institution.id, imcId: institutionMedicalCenter.id}) }}">
                    	<button class="btn btn-mini pull-right">
							<i class="icon-plus"></i>
                       		Add {{ specializationLabel.singular }}
                    	</button>
					</a>
                </h5>
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                {% for each in specializations %}
					<h5 style="padding: 5px;">
					    {{ each.specialization.name | title }} 
					    <a href="#" style="float:right"><i class="icon-remove"></i></a>
					</h5>
					<div style="margin-top: 10px">
					    <a href="#"  class="pull-right"><i class="icon-edit"></i> edit</a>
					    {{ each.description | raw }} 
					</div>

				    <dl style="font-size: 13px; border-bottom: 1px dashed #EFEFEF; padding-bottom: 10px; margin-bottom: 10px;">
    				    <dt>Treatments</dt>
    					{% for treatment in each.treatments %}
    				        <dd>{{ treatment.name }} <a href="#"><i class="icon-remove"></i></a></dd>
    				    {% endfor %}
                    </dl>
                {% endfor %}
                </div>
            </div>
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                    Business Hours
                </h5>
                
                {% set arrBusinessHours = json_decode(institutionMedicalCenter.businessHours) %}
                {% set daysArr = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                {% if not arrBusinessHours %}
                    {% set arrBusinessHours = {
                            'Sunday' :{"from": "08:15 AM", "to": "07:00 PM"},
                            'Monday' :{"from": "08:15 AM", "to": "07:00 PM"},
                            'Tuesday' :{"from": "08:15 AM", "to": "07:00 PM" },
                            'Wednesday' :{"from": "08:15 AM", "to": "07:00 PM"},
                            'Thursday' :{"from": "08:15 AM", "to": "07:00 PM"},
                            'Friday' :{"from": "08:15 AM", "to": "07:00 PM"},
                            'Saturday' :{"from": "08:15 AM", "to": "07:00 PM"}
                            }
                    %}
                {% endif %}
		        
		        <form id="business" class="basic-form">    
    		        <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                        <table style="width:70%;" border="1" cellpadding="0" cellspacing="0" class="table table-bordered" id="table-list">
                            <tr>
                                <th class="minwidth-1"> <a href="#">Is Closed</a></th>
                                <th class="minwidth-1"> <a href="#">Days of the Week</a></th>
                                <th class="minwidth-1"> <a href="#">From</a></th>
                                <th class="minwidth-1"> <a href="#">To</a></th>
                            </tr>
                            
                     	    {% for i, day in daysArr %}
                                <tr>
                                    <td  align="center">
                                        {% if arrBusinessHours[day] is not defined %}
                                            <input checked="checked" type="checkbox" class="is_closed_checkbox" id="{{ i }}"/></td>
                                        {% else %}
                                            <input type="checkbox" class="is_closed_checkbox" id="{{ i }}"/></td>
                                        {% endif %}
                                    </td>
                                    <td  align="center">{{ day }}</td>
                                    <td  align="center">
                                        {% if arrBusinessHours[day] is not defined %}
                                            <input class="hour" name="businessHours[{{day}}][from]" disabled="true" id="businessHours[{{day}}][from]" value="" />
                                        {% else %}
                                             <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value="{{ arrBusinessHours[day].from}}" />
                                        {% endif %}
                                    </td>
                                    <td  align="center">
                                        {% if arrBusinessHours[day] is not defined %}
                                            <input class="hour" name="businessHours[{{day}}][to]" disabled="true" id="businessHours[{{day}}][to]" value="" />
                                        {% else %}
                                             <input class="hour" name="businessHours[{{day}}][to]" id="businessHours[{{day}}][to]" value="{{ arrBusinessHours[day].to }}" />
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="submit" name="submit" id="saveBusinessHours" value="Submit" class="btn btn-large btn-primary" />
                    </div>
                    
                </form>
            </div>   
            <div id="medicalCenterDetailsAccordion" class="treatmentbox">
                <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                  Affiliations / Certifications
					<a href="{{ path('admin_institution_medicalCenter_addAffiliations', {institutionId: institution.id, imcId: institutionMedicalCenter.id}) }}" class="add-affiliation btn btn-mini pull-right">
							<i class="icon-plus"></i>
                       		Add Affiliations
					</a> 
                </h5>
                <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                {% for affiliation in affiliations %}
						<div style="margin-top: 10px">
					   {{ affiliation.name | title }} 
					    <a href="{{ path('admin_institution_medicalCenter_updateAffiliations', {institutionId: institution.id, imcId: institutionMedicalCenter.id , affiliationId: affiliation.id}) }}" style="float:right"><i class="icon-remove"></i></a>
					</div>
				
                {% endfor %}
                </div>
            </div>
        {% endblock %} 

    {% endembed %}
</div>
{% block inlineJavascriptCode %}
<script src="{{ asset('js/jquery/timepicker.js') }}"></script>
	<script src="{{ asset('js/jquery/globalize.js') }}"></script>
	<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
    <script type="text/javascript">
	
    	$(function() {
	    	$(".hour").timepicker({ seconds: false });
	    	$('input.is_closed_checkbox').each(function(){
			    if(this.checked) {
			    	$(this).parent().parent().find('.hour').val("");
			    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
				}
			});

	    	$('#dialog-container').dialog({
                position: ['center', 100],
                autoOpen: false,
                width: 750,
                modal: true,
                resizable: false,
                close: function() {}
            });

            $('a.add-affiliation').click(function(){
            	var elem = $(this);
				var _url = elem.attr('href');

				$("#dialog-container").empty();
                $('#dialog-container').dialog({
                	title: 'Affiliations / Certifications',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {                        
                            	$('#dialog-container').html(data);
                            }
                        );
                    },
                });

            	$('#dialog-container').dialog("open");

                 	return false;           
            });
	    });
        /*$.widget( "ui.timespinner", $.ui.spinner, {
        	options: {
                // seconds
                step: 60 * 15000,
                // hours
                page: 60
            },
     
            _parse: function( value ) {
                if ( typeof value === "string" ) {
                    // already a timestamp
                    if ( Number( value ) == value ) {
                        return Number( value );
                    }
                    return +Globalize.parseDate( value );
                }
                return value;
            },
     
            _format: function( value ) {
                return Globalize.format( new Date(value), "t" );
            }
        });
	 
	    $(function() {
	    	$( ".hour" ).timespinner();

	    	$('input.is_closed_checkbox').each(function(){
			    if(this.checked) {
			    	$(this).parent().parent().find('.hour').val("");
			    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: true });
				}
			});
	    });
	    */
	    $('input.is_closed_checkbox').change(function(){
		    if(this.checked) {
		    	$(this).parent().parent().find('.hour').val("");
		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: true });
			}
		    else 
		    {
		    	$(this).parent().parent().find('.hour').val("8:00 AM");
		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: false });
		    }
		   
		});

		$('#saveBusinessHours').click(function() {
			var businessHours = $('#business').serialize();
			$('div#ajax_loader').show();
			$.ajax({
		        url: "{{ path('admin_institution_medicalCenter_edit', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}",
		        data: businessHours,
		        type: 'post',
		        success: function(){
		        	$('div#ajax_loader').hide();
		        }
	        });
	        
			
			return false;
		});
    </script>
{% endblock %}
