{% extends 'InstitutionBundle::registration.layout.html.twig' %}
{% set disableMainNavigation = true %}
{% set setUpProfile = true %}

{% block content %}

<div class="row">
    <h1>{{ institutionMedicalCenter.name | title }}</h1>
    <div class="span8">
        <form name="specializationsForm" action="{{ path('institution_signup_setup_specializations', { imcId: institutionMedicalCenter.id }) }}" method="post">
        
        {% if error %}
            <div class="alert alert-error">
            	{{ error }}
            </div>
        {% endif %}
            <section class="section specializations">
                <h2>Add Specializations<br><small>Please select the ones that apply to your Clinic.</small></h2>

                <div class="accordion tooltip-wrap" id="accordion">
                    {% for specialization in specializations %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse{{ specialization.id }}">
                                <i class="icon-plus-sign pull-right"></i>
                                {% if specialization.media %}
                                    <img src="{{ specialization_media_src(specialization.media) }}" class="pull-left">
                                {% else %}
                                    <img src="{{ asset('images/institution/default-specialization-logo.png') }}" class="pull-left img-polaroid" style="display: inline-block; height: 35px;margin: -4px 5px 0 0;">
                                {% endif %}
                                <h4>{{ specialization.name }}</h4>
                            </a>
                        </div>
                        <div id="collapse{{ specialization.id }}" data-specialization="{{ specialization.id }}" class=" collapse">
                            <div class="accordion-inner">
                                <div id="{{ 'panel' ~ specialization.id }}" data-loaded="0" class="row-fluid services-listing">
                                    <center><img src="/images/institution/spinner_large.gif" /></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section class="section footer">
                <div class="row-fluid terms">
                    <div class="span12">
                        <button type="submit" class="btn pull-right btn-primary btn-large">
                            Save and Continue
                        </button>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <aside class="span4">
    {{ render_signup_steps_by_route(app.request.attributes.get('_route'), isSingleCenter is defined and isSingleCenter) | raw}}
        <section class="aside-box info dashboard-side">
            <p><span><i class="icon-stethoscope icon-4x pull-left"></i></span>
                Indicating all the <b>SPECIALIZATIONS</b> of this clinic will allow you to be searchable by patients looking for specialists or treatments in your areas of expertise.
            </p>
        </section>
    </aside>
</div>
{% endblock %}

{% block inlineJavascriptCode %}

<script type="text/javascript">
$(document).on('show hide', '#accordion', function(e) {
	//$('#accordion').find('.accordion-group > .in.collapse').hide();
    var target = $(e.target);
    target.siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-plus-sign icon-minus-sign');

    var modifiableDiv = target.find('#panel' + target.data('specialization'));

    if (!modifiableDiv.data('loaded')) {
        /* TODO: ideally we should return the data not html */
        $.ajax({
            url: "{{ path('institution_ajax_loadSpecializationComponents') }}",
            type: 'GET',
            data: { 'specializationId': target.data('specialization') },
            dataType: 'html',
            success: function(response){
                modifiableDiv.html(response);
                modifiableDiv.data('loaded', 1);
            }
        });
    }
});

/*
TODO: are these performant? we want to avoid binding multiple event handlers but
at the same time we don't want every click event to fire and run these code.

Note: These are heavily reliant on the html markup. Changes to the structure might
break the script.
*/
$('#accordion').on('click', 'input:checkbox[name="subSpecialization"]', function(e) {
    var target = $(e.target);
    var subSpecializationContainerElem = target.parents('.sub-specialization-group:first');
    subSpecializationContainerElem.find('input[type=checkbox].treatments').prop('checked', target.is(':checked'));
});

$('#accordion').on('click', 'input:checkbox[name^="treatments"]', function(e) {
    var target = $(e.target);
    var subSpecializationContainerElem = target.parents('.sub-specialization-group:first');
    var subSpecializationCheckbox = subSpecializationContainerElem.find('input[name=subSpecialization]');
    var checkedTreatmentElems = subSpecializationContainerElem.find('input[type=checkbox].treatments:checked');

    subSpecializationCheckbox.prop('checked', true);
    if(checkedTreatmentElems.length == 0) {
        subSpecializationCheckbox.prop('checked', target.is(':checked'));
    }
});

</script>

{% endblock %}