{% extends 'InstitutionBundle::registration.layout.html.twig' %}
{% set disableMainNavigation = true %}
{% set setUpProfile = true %}

{% block content %}
<div class="row">
    <h1>Add New Clinic</h1>

    <div class="span8">
        <form id="clinicForm" action="{{ path('institution_signup_setup_institutionMedicalCenter', {imcId: institutionMedicalCenter.id} ) }}" method="post" novalidate>

            {% if form.vars.errors %}
            <div class="alert alert-error">
                {% for _err in form.vars.errors %}
                    {{ _err.message }}
                    <br />
                {% endfor %}
            </div>
            {% endif %}
            
            
            <section class="section institution-info">
                <h2>Basic Information<br><small>Basic information about the Clinic you are adding.</small></h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label for="institution-name">Name of the Clinic</label>
                            {{ form_widget(form.name, { 'attr': {'class': 'span12'} }) }}
                        </div>
                        <div class="control-group">
                            <label for="website">Description <small>(Optional)</small></label>
                            {{ form_widget(form.description, { 'attr': {'class': 'span12'} }) }}
                            <div class="description"><small>you can edit / add Description later</small></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section address-info">
                <h2>Clinic Address<br><small>Complete Address of the Clinic that you are adding.</small></h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <input type="radio" name="request" id="inquiry" class="pull-left" checked>
                            <label for="different-address-clinic">Same Address</label>
                            <p>{{ institution_address_to_array(institution, ['address1', 'zipCode', 'city', 'state', 'country']) | join(', ') }}</p>
                        </div>
                        <hr>

                        <div class="control-group">
                            <input type="radio" name="request" id="inquiry" class="pull-left">
                            <label for="different-address-clinic">Different Address</label>
                        </div>

                        {{ form_widget(form.address, { attr: {class: 'addressFields '} } )}}

                        <div class="control-group">
                            <div class="span12">
                                <label for="Country">Country</label>
                                <div class="input-append hca-location">
                                    {{ form_widget(form.country, { attr: {class: 'addressFields '} } )}}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span5">
                                <label>State / Province</label>
                                <div class="input-append hca-location">
                                    {{ form_widget(form.state, { attr: {class: 'addressFields '} } )}}
                                </div>
                            </div>
                            <div class="span5">
                                <label>City</label>
                                <div class="input-append hca-location">
                                    {{ form_widget(form.city, { attr: {class: 'addressFields city_dropdown'} } )}}
                                </div>
                            </div>
                            <div class="span2">
                                <label for="zip">Zip Code</label>
                                {{ form_widget(form.zipCode, { attr: {class: 'span12 addressFields'} } )}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="Helpful hint">Helpful hint for getting there?</label>
                            <input type="text" name="state" id="address-hint" placeholder="" class="span12">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section contact-info">
                <h2>Clinic Contact Details<br><small>This is your Clinic's contact details. Please be as detailed as possible.</small></h2>
                <div class="row-fluid">
                    <div class="span12 control-group">
                        <div class="span6">
                            <label for="Phone Number">Clinic Email Address</label>
                            {{ form_widget(form.contactEmail, { 'attr': {'class': 'span12'} }) }}
                        </div>
                        <div class="span6">
                            {{ form_widget(form.contactNumber) }}
                        </div>
                    </div>
                </div>
            </section>

            <section class="section socialmedia-info">
                <h2>Website and Social Media<small>(Optional)</small></h2>
                <div class="row-fluid">
                    {{ form_widget(form.websites) }}
                </div>
            </section>

            <section class="section clinic-schedule">
                {% include 'InstitutionBundle:Institution/Widgets:clinicSchedule.html.twig' %}
            </section>

            {{ form_widget(form._token) }}

            <section class="section footer">
                <div class="row-fluid terms">
                    <div class="span12">
                        <button class="btn pull-right btn-primary btn-large" type="submit">
                            Continue to Adding Specializations
                        </button>
                        
                    </div>
                </div>
            </section>
        </form>
    </div>

    <aside class="span4">
        {{ render_signup_steps_by_route(app.request.attributes.get('_route'), false) | raw}}
    </aside>
    {# replaced with signup steps widget
    {% set completedSteps = ['signup'] %}
    {% include 'InstitutionBundle:Institution/Partials:registrationSidebar.html.twig' with {setupProfile: 'active' , completedSteps: completedSteps} %}
    #}

</div>

{% endblock %}


{% block inlineJavascriptCode %}


<script  type="text/javascript" src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script src="{{ asset('js/jquery/globalize.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/helper/js/Flag.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}