{% extends 'InstitutionBundle::registration.layout.html.twig' %}
{% set disableMainNavigation = true %}
{% set setUpProfile = true %}

{% block content %}
<div class="row">
    <h1>Add New Clinic</h1>

    <div class="span8">
        <form id="clinicForm" action="{{ path('institution_signup_setup_institutionMedicalCenter', {imcId: institutionMedicalCenter.id} ) }}" method="post" novalidate>
    
            {% if form.vars.errors %}
            <div class="alert alert-error">
                {% for _err in form.vars.errors %}
                    {{ _err.message }}
                    <br />
                {% endfor %}
            </div>
            {% endif %}
            
            
            <section class="section institution-info">
                <h2>Basic Information<br><small>Basic information about the Clinic you are adding.</small></h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label for="institution-name">Name of the Clinic</label>
                            {{ form_widget(form.name, { 'attr': {'class': 'span12 tooltip-wrap2', placeholder: 'e.g The Cardiology Center at Sacred Heart Hospital'} }) }}
                            <div class="tooltip-content2">
                                This is the name that will show up in search results. Make sure it's descriptive
                                enough to set you apart! If your clinic's name is simply the department
                                in a hospital add the hospital to the end of the name. For example, 'The
                                Cardiology Center at Sacred Heart Hospital'.
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="website">Description <small>(Optional)</small></label>
                            {{ form_widget(form.description, { 'attr': {'class': 'span12 tooltip-wrap2'} }) }}
                            <div class="tooltip-content2 hca-textarea">
                                All the information about your clinic that a visitor may want to know.
                                The history, the capacity, the capabilities and technologies. This is your
                                chance to set your clinic apart. DO NOT include any emails, URLs, or contact
                                information.
                            </div>
                            <div class="description"><small>you can edit / add Description later</small></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section address-info">
                <h2>Clinic Address<br><small>Complete Address of the Clinic that you are adding.</small></h2>
                <div class="row-fluid tooltip-wrap" >
                    <div class="span12">
                        <div class="tooltip-content">
                            <i class="icon-map-marker icon-2x pull-left">
                            </i>
                            Providing your complete address helps us push you to the right searches,
                            and helps patients plan their travel better.
                        </div>
                    
                        <div class="control-group">
                            <input type="radio" name="isSameAddress" value="1" onclick="InstitutionMedicalCenter.toggleAddress($(this));" data-toggle="#sameAddress" id="addressType-sameAdress" class="pull-left" checked>
                            <label for="addressType-sameAdress">Same Address</label>
                            <div id="sameAddress">
                                <p>{{ institution_address_to_array(institution, ['address1', 'zipCode', 'city', 'state', 'country']) | join(', ') }}</p>
                            </div>
                        </div>
                        <hr>

                        <div class="control-group">
                            <input type="radio" name="isSameAddress" value ="0" id="addressType-newAddress" class="pull-left"  onclick="InstitutionMedicalCenter.toggleAddress($(this));" data-toggle="#newAddress" >
                            <label for="addressType-newAddress">Different Address</label>
                        </div>
                        <div id="newAddress" style="display:none;">
                            {{ form_widget(form.address, { attr: {class: 'addressFields span12'} } )}}
    
                            <div class="control-group">
                                <div class="span6">
                                    <label for="Country">Country</label>
                                    <div class="input-append">
                                        {{ form_widget(form.country, { attr: {class: 'addressFields span12'} } )}}
                                    </div>
                                </div>
                                 <div class="span6">
                                    <label>State / Province</label>
                                    <div class="input-append">
                                        {{ form_widget(form.state, { attr: {class: 'addressFields span12'} } )}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label>City</label>
                                    {{ form_widget(form.city, { attr: {class: 'addressFields span12'} } )}}
                                </div>
                                <div class="span6">
                                    <label for="zip">Zip Code</label>
                                    {{ form_widget(form.zipCode, { attr: {class: 'span6 addressFields'} } )}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="Helpful hint">Helpful hint for getting there?</label>
                                {{ form_widget(form.addressHint, { attr: {class: 'span12 tooltip-wrap2'} } )}}
                                <div class="tooltip-content2">
                                    If there are any instructions that will help someone find you that aren't
                                    included in the address put them here. This could be something like, 'On
                                    the 2nd loor', or 'Next door to the gas station', whatever will make it
                                    easy for patients to find you!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section contact-info">
                <h2>Clinic Contact Details<br><small>This is your Clinic's contact details. Please be as detailed as possible.</small></h2>
                <div class="row-fluid tooltip-wrap" >
                    <div class="span12">
                        <div class="tooltip-content">
                            <i class="icon-lightbulb icon-2x pull-left">
                            </i>
                            This is how we will contact you to let you know about potential leads.
                            Please provide the correct phone numbers and email addresses to make sure
                            you don't miss any inquiries that may come through HealthcareAbroad.
                        </div>
                        
                        <div class="control-group">
                            <div class="span6">
                                <label for="Phone Number">Clinic Email Address</label>
                                {{ form_widget(form.contactEmail, { 'attr': {'class': 'span12'} }) }}
                            </div>
                            
                            {#{ form_widget(form.contactDetails, { 'attr': {'class': 'span12'} }) }#}
                            {% for _widget in form.contactDetails %}
                                {{ form_widget(_widget) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="section socialmedia-info">
                <h2>Website and Social Media<small>(Optional)</small></h2>
                <div class="row-fluid">
                    <div class="control-group website">
                        <label for="website">Clinic Website</label>
                        <span class="pull-left">http://</span>
                        {{ form_widget(form.websites, {attr: {class: 'span11 pull-right'} })}}
                    </div>
                    {{ form_widget(form.socialMediaSites) }}
                </div>
            </section>

            <section class="section clinic-schedule">
                {% include 'InstitutionBundle:SignUp/Widgets:section.imc_businesshours.html.twig' %}
            </section>

            {{ form_widget(form._token) }}

            <section class="section footer">
                <div class="row-fluid terms">
                    <div class="span12">
                        <button class="btn pull-right btn-primary btn-large" type="submit">
                            Continue to Adding Specializations
                        </button>
                        
                    </div>
                </div>
            </section>
        </form>
    </div>

    <aside class="span4">
        {{ render_signup_steps_by_route(app.request.attributes.get('_route'), false) | raw}}
    </aside>

</div>

{% endblock %}


{% block inlineJavascriptCode %}

<script  type="text/javascript" src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script src="{{ asset('js/jquery/globalize.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/helper/js/Flag.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/helper/js/fancy_business_hours.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.min.js') }}"></script>

<script type="text/javascript">
$(function(){
	$('input[name=isSameAddress]:checked').click();
});
</script>

{% endblock %}