<div class="accordion tooltip-wrap" id="accordion">
    {% for specialization in specializations %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse{{ specialization.id }}">
                <i class="icon-plus-sign pull-right"></i>
                <img src="{{ specialization.media ? specialization_media_src(specialization.media) : imageplaceholder.specializationDefaultLogo }}" class="pull-left">
                <h4>{{ specialization.name }}</h4>
            </a>
        </div>
        <div id="collapse{{ specialization.id }}" data-specialization="{{ specialization.id }}" class=" collapse">
            <div id="{{ 'panel' ~ specialization.id }}" class="accordion-inner" data-loaded="0">
                <div class="align-center"><img src="{{ imageplaceholder.loading }}"/></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript">
    $('form[name="specializationsForm"] input:checkbox[name="subSpecialization"]').live('change', function(e) {
    	console.log('subSpecEvent');
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        subSpecializationContainerElem.find('input:checkbox[id^="treatments"]').prop('checked', $(this).is(':checked'));
    });
    
    $('form[name="specializationsForm"] input:checkbox[id^="treatments"]').live('change', function(e) {
    	console.log('treatmentEvent');
        var subSpecializationContainerElem = $(this).parents('.sub-specialization-wrapper:first');
        var subSpecializationCheckbox = subSpecializationContainerElem.find('input[name=subSpecialization]');
        var checkedTreatmentElems = subSpecializationContainerElem.find('input:checkbox[id^="treatments"]:checked');
    
        subSpecializationCheckbox.prop('checked', true);
        if(checkedTreatmentElems.length == 0) {
            subSpecializationCheckbox.prop('checked', $(this).is(':checked'));
        }
    });
</script>
{% endblock %}