 <div class="row-fluid specialization-edit-listing">
{% for subSpecialization, treatments in specializationComponents %}
<div class="span6">
    <h4>
        <label > 
            <input type="checkbox" id="{{ subSpecialization }}" name="subSpecialization" value="subSpecialization" />
            {{ subSpecialization }}
        </label>
    </h4>
    <ul>
        {% for treatment in treatments %}
            <li>
                <label> 
                    <input type="checkbox" id="treatments{{ treatment.id }}" name="{{ formName }}[{{ specializationId }}][treatments][]" value="{{ treatment.id }}" {{ treatment.id in selectedTreatments ? 'checked' : '' }}/> 
                   {{ treatment.name }} 
                </label>
            </li>
        {% endfor %}
    </ul>
    
</div>
<input type="hidden" name="{{ formName }}[{{ specializationId }}][{{form.children._token.vars.name}}]" value="{{ form.children._token.vars.value }}" />
{% endfor %}
</div>
