<div class="pagination">
    <ul>
    {#% if pager.isFirstPage == false %#}
        <li><a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">&lt;</a></li>
    {#% endif %#}

    {% for page in pager.getPages %}
        {% if page == pager.getPage %}
        <li class="active"><a href="">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {#% if pager.isLastPage == false %#}
        <li class="next"><a href="{{ paginate_path(route, pager.getNextPage, parameters) }}">&gt;</a></li>
    {#% endif %#}
    </ul>
</div>