<nav id="navigation">

    <div class="nav_wrap">
   	 <div class="inner">
	    
	        <ul class="nav">
	
	            <li class="home"><a href="index.html"></a></li>
	            <li><a href="#">Destinations</a></li>
	            <li><a href="#">Procedures</a>
	
	                <ul class="sub-menu">
	
	                    <li><a href="#">sub</a></li>
	                    <li><a href="#">sub2</a>
	
	                        <ul class="sub-menu">
	
	                            <li><a href="#">sub4</a></li>
	                            <li><a href="#">sub</a></li>
	                            <li><a href="#">sub2</a></li>
	
	                        </ul>
	
	                    </li>
	                    <li><a href="#">sub3</a></li>
	                </ul>
	
	            </li>
	
		    <div class="social">  
	            	<img src="{{ asset('images/frontend/widgets/sc_facebook.png') }}" alt="#" />
					<img src="{{ asset('images/frontend/widgets/sc_twitter.png') }}" alt="#" />
					<img src="{{ asset('images/frontend/widgets/sc_google.png') }}" alt="#" />
					<img src="{{ asset('images/frontend/widgets/sc_linkedin.png') }}" alt="#" />
					<img src="{{ asset('images/frontend/widgets/sc_rss.png') }}" alt="#" />  
		    </div>
	    
	        </ul>
                <div class="menu-main-container" id="mobile_menu_secondary">
                                
                    <select  name="mobileMainMenu" id="mobileMainMenu" class="mobileMainMenu">   
	                    <option value="#">Destinations</option>                               
	                    <option value="#">Procedures</option>                                        
	                    <option value="#"> - Sub One</option>
	                    <option value="#"> - - Sub One 2</option>                                                              
                     </select>
                                
            	 </div>
 	     
	    </div> <!--Inner-->       
    </div> <!--End Nav Wrap-->

</nav> <!--End Navigation-->