<div id="footer_wrapper">
	<div class="container">
		<div class="upper_part row"> <!--This is for the upper part of footer-->
			<div class="site_map span4"> <!--This is for Site Map-->
				<h4>Site Map</h4>
				<div class="row">
					<div class="span4">
						<h5><span>Company</span></h5>
						<ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="http://www.healthcareabroad.com/blog/" target="_blank">Blog</a>
                            </li>
                             <li>
                                <a href="{{ path('frontend_page_terms_of_use') }}">Terms of Use</a>
                            </li>
                             <li>
                                <a href="{{ path('frontend_page_privacy_policy') }}">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Site Map</a>
                            </li>
                        </ul>
                        <h5>
                            <span>Contact Us</span>
                        </h5>
                        
                        <ul>
                            <li>
                                <a href="#" data-toggle="modal">Feedback</a>
                                <!-- Feedback Modal -->
                                <div id="feedbackHca" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            x
                                        </button>
                                        <h3 id="myModalLabel modal-label">
                                            We are glad to hear from you.
                                        </h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-error">
                                            <strong>
                                                Oh Snap!
                                            </strong>
                                            Naay Error Dattebayo!
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="control-group row-fluid">
                                                <label for="inputFullName">
                                                    <strong>
                                                        Your Name
                                                    </strong>
                                                </label>
                                                <input type="text" id="inputFullName" placeholder="John Doe">
                                            </div>
                                            <div class="control-group row-fluid">
                                                <label for="inputEmail">
                                                    <strong>
                                                        Your Email Address
                                                    </strong>
                                                </label>
                                                <input type="text" id="inputEmail" placeholder="you@domain.com">
                                            </div>
                                            <div class="control-group row-fluid">
                                                <label for="inputMessage">
                                                    <strong>
                                                        Enter your message
                                                    </strong>
                                                </label>
                                                <textarea id="inputMessage" rows="5" class="error"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary orange">
                                            Send Feedback
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="{{ path('frontend_page_inquiry') }}">Inquiry</a>
                            </li>
                        </ul>
					</div>
				</div>
			</div>

			<div class="facepile span4"> <!--This is for the Facebook API-->
				<h4>HCA on Facebook</h4>
				<div>
					<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:287px; height:368px;" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fhealthcareabroadcom&amp;width=287&amp;height=558&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false"></iframe>
				</div>
			</div>

			<div class="subscription span4"> <!--This is for the Subscriptions-->
				{% render 'FrontendBundle:Default:renderNewsletterForm' %}
				<div class="register">
					<h5>Want to register an Institution?</h5>
					<a class="sign-up" href="#">Sign Up</a>
					<span class="or-option"></span>
					<a class="sign-up" href="#">Sign In</a>
				</div>
			</div>
		</div>

		<div class="lower_footer row"> <!--This is for the lower part of footer-->
			<div class="span5 navbar">
				<p>Copyright 2012, Healthcareabroad.com.All rights reserved</p>
				<ul class="nav">
					<li><a href="{{ path('frontend_page_terms_of_use') }}">TOS</a></li>
					<li class="divider">/</li>
					<li><a href="{{ path('frontend_page_privacy_policy') }}">Privacy Policy</a></li>
					<li class="divider">/</li>
					<li><a href="#">History</a></li>
				</ul>
			</div>
			<div class="social span6">
				<ul class="socials-nav">
					<li><a href="#"><span class="g-icon"></span></a></li>
					<li><a href="https://www.facebook.com/healthcareabroadcom"><span class="facebook-icon"></span></a></li>
					<li><a href="https://twitter.com/HCAbroad"><span class="twitter-icon"></span></a></li>
				</ul>
			</div>
		</div>

	</div> <!--End of class container-->
</div>