<div id="footer_wrapper">
	<div class="container">
		<div class="upper_part row"> <!--This is for the upper part of footer-->
			<div class="site_map span4"> <!--This is for Site Map-->
				<h4>Site Map</h4>
				<div class="row">
					<div class="span4">
						<h5><span>Company</span></h5>
						<ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="http://www.healthcareabroad.com/blog/" target="_blank">Blog</a>
                            </li>
                             <li>
                                <a href="{{ path('frontend_page_terms_of_use') }}">Terms of Use</a>
                            </li>
                             <li>
                                <a href="{{ path('frontend_page_privacy_policy') }}">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Site Map</a>
                            </li>
                        </ul>
                        <h5>
                            <span>Contact Us</span>
                        </h5>
                        
                        <ul>
                            <li>
                            <a id="feedback-message" href="#">Feedback</a>
                             	{% render 'FrontendBundle:Feedback:view' %}
                            </li>
                            <li>
                                <a href="{{ path('frontend_page_inquiry') }}">Inquiry</a>
                            </li>
                        </ul>
					</div>
				</div>
			</div>

			<div class="facepile span4"> <!--This is for the Facebook API-->
				<h4>Like Us on Facebook</h4>
				<div>
					<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:287px; height:410px;" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fhealthcareabroadcom&amp;width=287&amp;height=410&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;scrolling=no"></iframe>
				</div>
			</div>

			<div class="subscription span4"> <!--This is for the Subscriptions-->
				{% render 'FrontendBundle:Default:renderNewsletterForm' %}
				<div class="register">
					<h5>Want to register an Institution?</h5>
					<a class="sign-up" href="#">Sign Up</a>
					<span class="or-option"></span>
					<a class="sign-up" href="#">Sign In</a>
				</div>
			</div>
		</div>

		<div class="lower_footer row"> <!--This is for the lower part of footer-->
			<div class="span5 navbar">
				<p>&copy; Copyright 2013, Healthcareabroad.com Inc. All rights reserved</p>
				<ul class="nav">
					<li><a href="{{ path('frontend_page_terms_of_use') }}">Terms of Use</a></li>
					<li class="divider">/</li>
					<li><a href="{{ path('frontend_page_privacy_policy') }}">Privacy Policy</a></li>
					<li class="divider">/</li>
					<li><a href="#">History</a></li>
				</ul>
			</div>
			<div class="social span6">
				<ul class="socials-nav">
					<li><a href="https://plus.google.com/u/0/111671188601151092646/posts" target="_blank"><span class="g-icon"></span></a></li>
					<li><a href="https://www.facebook.com/healthcareabroadcom" target="_blank"><span class="facebook-icon"></span></a></li>
					<li><a href="https://twitter.com/HCAbroad" target="_blank"><span class="twitter-icon"></span></a></li>
				</ul>
			</div>
		</div>

	</div> <!--End of class container-->
</div>

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/frontend/js/Feedback.js') }}"></script>
    <script type="text/javascript">
        $('#feedback-message').click(function(){
        	$('div#feedbackHca').modal('show');
            return false;
        });

        $('#feedbackHca').feedbackModalForm({
            submitButton: $('#modal_feedback_submitButton'),
            form: $('form#feedbackForm') 
        });

    </script>
{% endblock %}
