<div class="subscribe_item row">
	<h5>Subscribe To Our Newsletter</h5>
	
	<form id="newsletterForm" action="{{ path('frontend_newsletter_new') }}" method="POST" {{ form_enctype(subscribeNewsletterForm) }} class="subscribe_form">
	    {{ form_errors(subscribeNewsletterForm) }}
	    {{ form_widget(subscribeNewsletterForm.email, {attr: {'class': 'span4','placeholder':'Enter your email address'}}) }}
	    <div class="form-inline">
	        <button class="btn" type="submit">Submit Now</button>
	    </div>
     {{ form_rest(subscribeNewsletterForm) }}
         
    </form>
    <div style="clear:both;">
        {% include '::frontend.notice.admin.html.twig' %}
    </div>
</div>