{% if institutionMedicalCenter.isAlwaysOpen or institutionMedicalCenter.businessHours|length %}

    {% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: 'Clinic Schedule'} %}
        {% block asideContent %}
            <ul class="clinic-schedule" id="businessHoursView" >
                {% if institutionMedicalCenter.businessHours|length %}
                    {% for each in institutionMedicalCenter.businessHours %}
                       <li>
                            {% set _bhData =  business_hours_to_view_data(each) %}
                            
                            <time itemprop="openingHours" datetime="{{ _bhData.days.twoLetter | join(',') }} {{ _bhData.startTimeDbFormat }}-{{ _bhData.endTimeDbFormat }}">
                                <span class="fbh_selected_days_label">
                                    {{ _bhData.daysLabel | upper }}
                                </span>
                                <b class="fbh_selected_time_label">{{ _bhData.startTime }} - {{ _bhData.endTime }}</b>
                            </time>
                            
                            <p class="fbh_selected_item_notes"> {{ each.notes }} </p>
                        </li>
                    {% endfor %}
                {% elseif institutionMedicalCenter.isAlwaysOpen %}
                    <li class="always-open">Open 24/7</li>
                {% endif %}
            </ul>
        {% endblock %}
    {% endembed %}

{% endif %}