{% if doctors | length %}
	<ul class="person-info-list">
	    {% for doctor in doctors %}
		<li itemprop="employee" itemscope itemtype="http://schema.org/Person">
		    <div class="thumbnail-wrapper pull-left img-polaroid">
    			{% if doctor.media %}
    			    {# media(doctor.media, doctor, 'default', {thumbnail: true}) | raw #}
    			    <img src="{{ doctor_media_src(doctor.media) }}" alt=""/>
    			{% else %}
    			    <span class="hca-sprite doctor-icon default"></span>
    			{% endif %}
		    </div>

			<a class="name">
			 <span itemprop="name">Dr. {{ doctor.firstName }} {{ doctor.middleName }} {{ doctor.lastName }}</span>
		    </a>
			<p class="info">
			    {{ doctor_specializations_to_string(doctor) }}
			</p>
			{# <ul class="contact">
			    {% if doctor.contactEmail %}
				    <li class="email"><a href="mailto:{{ doctor.contactEmail }}">email</a></li>
				{% endif %}

                {% set contactNumbers = json_decode(doctor.contactNumber) %}
				{% if contactNumbers and (contactNumbers | length) and (contactNumbers[0].number)  %}
				    <li class="call"><a href="tel:{{ contactNumbers[0].number }}">contact</a></li>
				{% endif %}

			    {% if doctor.website is defined %}
				<li class="web"><a href="">website</a></li>
				{% endif %}
			</ul> #}
		</li>
		{% endfor %}
	</ul>

{% endif %}