{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers'%}
{% block title %}{{ parent() }} Add Medical Center {% endblock %}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>
            {% set hasDraft = hasDraft is defined and hasDraft %}
            {% if hasDraft %}
                Edit draft: {{ institutionMedicalCenter.medicalCenter.name }}
            {% else %}
                Add medical center
            {% endif %}
        </h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalCenter:relatedTasks.html.twig' with {hideAddMedicalCenter: true, hideMedicalProcedureTypeTask: true, 'imcId': institutionMedicalCenter.id } %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content" style="width:70%">

                {% include '::notice.admin.html.twig' %}

                {% include '::stepHolder.base.admin.html.twig' with {
                    steps: [
                        {title: 'Center Details', 'selected': true},
                        {title: 'Add Gallery'},
                        {title: 'Add Procedure Types'},
                        {title: 'Preview', 'selected': false},
                 ]}
              %}

                <form novalidate="novalidate" action="{{ path('institution_medicalCenter_add', {'imcId': institutionMedicalCenter.id }) }}" method="POST" {{ form_enctype(form) }} class="basic-form">

                    {{ form_row(form.medicalCenter) }}
                    {{ form_row(form.description) }}
                    {{ form_rest(form) }}

                    <input type="reset" value="Reset" class="form-reset"/>
                    {% if hasDraft %}
                        <a href="{{ path('institution_medicalCenter_deleteDraft', { 'imcId': institutionMedicalCenter.id }) }}" class="button-type">Delete draft</a>
                    {% endif %}


                    <input type="submit" name="submit" value="Next" class="green-button" />

                </form>

                {#% include 'InstitutionBundle:MedicalCenter:form_draft.html.twig' with {'form': form, 'formUrl': path('institution_medicalCenter_add', {'imcId': institutionMedicalCenter.id }), 'institutionMedicalCenter': institutionMedicalCenter} %#}
            </div>
            <!--  end table-content  -->

        {% endblock %}

    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
