{# TODO: Remove this file? #}

{# if institution is of type single center, use unauthenticated layout as base, since this is part of the signup process #}
{% extends  isSingleCenter ?  'InstitutionBundle::unauthenticated.layout.html.twig' : 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <h1>Name of the Clinic</h1>
        <div class="span8"> 
            {% include 'InstitutionBundle:Widgets/Modals:modal.addMedicalSpecialist.html.twig' %}           
            <section>
                <div class="row-fluid">
                    <h2 class="pull-left">
                        List of Doctors
                    </h2>
                    <a href="#add-doctor" class="btn btn-primary btn-large pull-right" data-toggle="modal">Add Doctor</a>
                </div>
            </section>
            <section class="doctors-listing">
                <ul class="thumbnails doctors">
                    <li class="thumbnail-doctors">
                        <img class="pull-left img-polaroid" src="images/institution/default-doctor-icon.png"
                        alt="">
                        <span class="medicalcenter-name">
                            Dr. Firstname Lastname
                        </span>
                        <p>
                            <i class="icon-medkit">
                            </i>
                            Specialization1, Specialization2
                        </p>
                        <ul class="actions">
                            <li class="view">
                                <div class="btn-group">
                                    <button class="btn btn-misc">
                                        <a href="#edit-doctor" data-toggle="modal"><i class="icon-edit"></i></a>
                                    </button>
                                    <button class="btn btn-misc">
                                        <a href="#"><i class="icon-trash"></i></a>
                                    </button>
                                </div>
                       </li>
                       </ul>
               </li>
               </ul>
            </section>
            <section>
                <a href="dashboard-hospital.html" class="btn pull-right btn-primary btn-large">
                                Done Adding Doctors
                            </a>
            </section>
        </div>
    	{% set completedSteps = ['signup','setupProfile','setupClinicProfile', 'addSpecialization'] %}
        {% include 'InstitutionBundle:Institution/Partials:registrationSidebar.html.twig' with {addClinic: 'active' , addDoctor: 'active', completedSteps: completedSteps} %}
    	
        {% endblock %}
        
    {% endembed %}
    
    {% include 'InstitutionBundle:Widgets/Modals:modal.deleteMedicalSpecialist.html.twig' %}
{% endblock %}
 
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}"></script>
	<script type="text/javascript">

		$(function() {
			InstitutionSpecialistAutocomplete.removePropertyUri = '{{ path("institution_medicalCenter_ajaxRemoveSpecialistService", {"imcId" : institutionMedicalCenter.id, "institutionId" : institution.id} ) }}';
			
			InstitutionSpecialistAutocomplete
	        .setLoadHtmlContentUri('{{ path("institution_medicalCenter_ajaxAddSpecialistService", {"imcId": institutionMedicalCenter.id, "institutionId": institution.id}) }}') 
	        .setLoadMedicalSpecialistUri('{{ path("institution_medicalCenter_loadMedicalSpecialist", {"imcId": institutionMedicalCenter.id}) }}')
	        .setAutocompleteOptions('specialist', {
	            source: '',
	            target: $('#institutionDoctorSearch_firstName'),
	            selectedDataContainer: $('table.specialist_table tbody'),
	            loader: $('table.specialist_table tbody tr.loader'),
                field: $('#institutionDoctorSearch_firstName')
	        })
	        .autocomplete();

        	$('button.previous_button').click(function(){
                window.location = "{{ path('institution_medicalCenter_addGlobalAwards', {'imcId': institutionMedicalCenter.id} )}}";
            });
		});

		</script>	
{% endblock %}