{# if institution is of type single center, use unauthenticated layout as base, since this is part of the signup process #}
{% extends  isSingleCenter ?  'InstitutionBundle::unauthenticated.layout.html.twig' : 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <div class="span12">
            <h1><span>Create New Clinic Listing</span></h1>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' with {activeStep: 'medical_specialists'} %}
        </div>
        <div class="addnewclinic">
        	<div class="span9">
        	    <form novalidate="novalidate" method="POST" class="" >
        	        <div>
        	            <label for="username">Search and Add your Medical Specialist</label>
        	            {{ form_widget(form.firstName) }}
                        {{ form_row(form.id) }}
                        {{ form_rest(form) }}
                        
                        <div style="margin-top:15px;">
                            <table id="medicalSpecialistTable" class="table table-striped table-bordered">
    							<tr>
    								<th>Medical Specialist</th>
    								<th>Actions</th>
    							</tr>
                			</table>
            			</div>
            			
        	        </div>
        	        
        	        <div class="clearfix"></div>
        		    
        		    <div class="pull-left">
                        <button class="btn btn-info previous_button" type="button">Previous</button>
                    </div>
        		    
        		    <div class="pull-right">
                        <button class="btn btn-primary btn-large submit_button" type="submit">Submit</button>
                    </div>
        	    </form>
        	</div>
        	
        	{% embed 'InstitutionBundle:Embed:wrapper.sidebar.html.twig' %}
                {% block sidebarWrappedContent %}
                    {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
                {% endblock %}
            {% endembed %}
        	
    	</div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
 
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/helper/js/DoctorAutocomplete.js') }}"></script>
	<script type="text/javascript">

		$(function() {
			var availableDoctors = $.parseJSON('{{ doctorsJSON | raw}}');
			var inputHiddenField = "#institutionDoctorSearch_id";
			var inputAutoDoctor = "#institutionDoctorSearch_firstName";
			var selectedTags = [];
		    
        	var params = {
                	availableTags: availableDoctors,
                	selectedTags : selectedTags,
                	inputHiddenField :inputHiddenField,
                	inputAutoDoctor :inputAutoDoctor
        		};
        	DoctorAuto.init(params);

        	$('button.previous_button').click(function(){
                window.location = "{{ path('institution_medicalCenter_addGlobalAwards', {'imcId': institutionMedicalCenter.id} )}}";
            });
		});

		</script>	
{% endblock %}