{# if institution is of type single center, use unauthenticated layout as base, since this is part of the signup process #}
{% extends  isSingleCenter ?  'InstitutionBundle::unauthenticated.layout.html.twig' : 'InstitutionBundle::layout.html.twig' %}

{% set mainNavigation = {selected: 'medical_centers'} %}

{# disable the navigation for single center type institution since this is part of the sign up process #}
{% set disableMainNavigation = isSingleCenter is defined and isSingleCenter %}


{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}

       <div class="span12">
            
            <h1><span>Create New Clinic Listing</span></h1>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' with {activeStep: 'services'} %}
        </div>
        <div class="addnewclinic">
        	<div class="span9">
                
                <form  action="{{ path('institution_medicalCenter_addAncilliaryServices', { 'imcId':institutionMedicalCenter.id}) }}" method="POST" >
        		    <p>Please check services offered by your Medical Institution</p>
        		    
        		    <div id="services">
        		        <ul>
        		        {% for _choice in form.value.vars.choices %}
        		        <li>
        		            <input type="checkbox" value="{{ _choice.value }}" name="{{ form.value.vars.full_name }}[]" {{ _choice.value in selectedServices ? 'checked' : ''  }} />
        		            {{ _choice.label }}
        		        </li>
        		        {% endfor %}
        		        </ul>
        		    </div> 
        		    
                    {{ form_widget(form._token) }}
                    
                    <div class="clearfix"></div>
        		    
        		    <div class="pull-left">
                        <button class="btn btn-info previous_button" type="button">Previous</button>
                    </div>
        		    
        		    <div class="pull-right">
                        <button class="btn btn-info" type="submit">Next</button>
                    </div>
    		    </form>
        	</div>
        	
        	{% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}

        </div>
        {% endblock %}
        
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/institution/js/institutionTreatments.js') }}" type="text/javascript"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        $('button.previous_button').click(function(){
            window.location = "{{ path('institution_medicalCenter_addSpecializations', {imcId: institutionMedicalCenter.id} ) }}";

            return false;
        });
    });
    
})(jQuery);
//-->
</script>
{% endblock %}