{# if institution is of type single center, use unauthenticated layout as base, since this is part of the signup process #}
{% extends  isSingleCenter ?  'InstitutionBundle::unauthenticated.layout.html.twig' : 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}

{# disable the navigation for single center type institution since this is part of the sign up process #}
{% set disableMainNavigation = isSingleCenter is defined and isSingleCenter %}


{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}

       <div class="span12">
            
            <h1><span>Create New Clinic Listing</span></h1>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' with {activeStep: 'medical_specialists'} %}
        </div>
        <div class="addnewclinic">
        	<div class="span9">
                
                <form  action="{{ path('institution_medicalCenter_addAffiliations', { 'imcId':institutionMedicalCenter.id}) }}" method="POST" >
                    
                    <div>
                        <label for="username">Search and Add your Medical Specialist</label>
                        {{ form_row(form.firstName) }}
                        <div><div id="institutionSearch" ></div></div>
                        {{ form_row(form.id) }}
                        {{ form_rest(form) }}
                        <div>             			
             				<div id="tags">
             				
                			</div>
                		</div>
                    </div>
                    
                    
                    
                    <div class="clearfix"></div>
        		    
        		    <div class="pull-left">
                        <button class="btn btn-info previous_button" type="button">Previous</button>
                    </div>
        		    
        		    <div class="pull-right">
                        <button class="btn btn-primary btn-large" type="button">Submit</button>
                    </div>
    		    </form>
        	</div>
        	
        	{% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}

        </div>
        {% endblock %}
        
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/helper/js/DoctorAutocomplete.js') }}"></script>
	<script type="text/javascript">

		$(function() {
			var availableDoctors = $.parseJSON('{{ doctorsJSON | raw}}');
			var inputHiddenField = "#institutionDoctorSearch_id";
			var inputAutoDoctor = "#institutionDoctorSearch_firstName";
			var selectedTags = [];
	
        	var params = {
                	availableTags: availableDoctors,
                	selectedTags : selectedTags,
                	inputHiddenField :inputHiddenField,
                	inputAutoDoctor :inputAutoDoctor
        		};
        	DoctorAuto.init(params);

		});

		</script>	
{% endblock %}