{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}

       <div class="span12">
        	<h1><span>Create New Clinic Listing</span></h1>
        	<ul class="navstep nav-steps">
        		<li><a href="#"><h2>1</h2><span>Clinic Details</span></a></li>
        		<li  class="active"><a href="#"><h2>2</h2><span>Specializations and Treatments</span></a></li>
        		<li><a href="#"><h2>3</h2><span>Services</span></a></li>
        		<li><a href="#"><h2>4</h2><span>Awards, Certifications and Affiliations</span></a></li>
        		<li><a href="#"><h2>5</h2><span>Medical Specialist</span></a></li>
        	</ul>
        </div><!--End of span12-->
        <div class="addnewclinic">
        	<div class="span9">
        	 {% include '::notice.admin.html.twig' %}
        		<form novalidate="novalidate" action="{{ path('institution_medicalCenter_addSpecializations', { 'imcId':institutionMedicalCenter.id}) }}" method="POST" {{ form_enctype(form) }} class="basic-form">        
                    {{ form_errors(form) }}   
        
                    {{ form_row(form.specialization) }}
                    <div id="specializationLoading" class="ajax-loading" style="display:none">loading . . .</div>
            		<div id="specializationAccordion"></div>
            		
                    {{ form_rest(form) }}
                	<div class="clear"><br></div>
                	<input type="submit" name="submit" value="NEXT" class="btn btn-large btn-primary" />
                </form>
        	</div>

        </div>
        {% endblock %}
        
    {% endembed %}
    
    {% block inlineJavascriptCode %}
        <script language="javascript" type="text/javascript">
    
        <!-- AutoComplete for Institution Medical Group Input Field -->
        
            $(function() {
            	 var availableTags = $.parseJSON('{{ specializationsJSON | raw}}');

            	 $('#specializationAccordion').accordion({active: false, collapsible: true, heightStyle: "content"});

            	 function loadSpecializationEntry(val)
                 {
                     var url = '{{ path("helper_specializationAccordionEntry") }}' + '/' + val;
                    
                     $('#specializationLoading').fadeIn();
                     $.get(url, function(specializationEntry){
                         $('#specializationLoading').hide();
                         $('#specializationAccordion').prepend(specializationEntry).accordion('destroy').accordion({heightStyle: "content"});

                         $('#institutionSpecialization_specialization').find('option[value='+val+']').hide();
                     });
                 }
                 
            	 $( "#institutionSpecialization_specialization" ).autocomplete({
                     minLength: 0,
                     source: availableTags,
                     select: function( event, ui) {
                    	
                    	 loadSpecializationEntry(ui.item.id);
                    	 console.log(this.value);
                         return false;
                     }
                 })
                
            });    

    	</script>	
    {% endblock %}
{% endblock %}