{% set sortBy = app.request.get('sortBy') %}
{% set sortOrder = app.request.get('sortOrder') %}
{% set default = sortBy | length ? '' : 'sort-asc' %}

<table width="100%" class="generic-table sortable-list" id="medical-centers-list">
    <tr>
        <th id="column-medicalCenter" class="minwidth-1">
            <a href="{{ app.request.uri }}" class="{{ sortBy == 'medicalCenter' ? 'sort-' ~ sortOrder : default }}">Medical Centers</a>
        </th>
        <th id="column-description" class="minwidth-1"><a href="{{ app.request.uri }}" class="{{ sortBy == 'description' ? 'sort-' ~ sortOrder : '' }}">Description</a></th>
        <th class="actions" width="170">Actions</th>
    </tr>

    {# TODO: Don't hardcode value  #}
    {% if app.request.get('status') and app.request.get('status') == '4' %}
        {% set routeName = 'institution_medicalCenter_add' %}
    {% else %}
        {% set routeName = 'institution_medicalCenter_edit' %}
    {% endif %}

    {% for center in institutionMedicalCenters %}
        <tr>
            <td><a href="{{ path(routeName, {'imcId': center.id }) }}" title="View {{ center.medicalCenter | title }}">{{ center.medicalCenter | title }}</a></td>
            <td class="raw-content">{{ center.description|raw }}</td>
            <td>
                <a href="{{ path(routeName, {'imcId': center.id })}}" class="icon-type" title="View medical procedure types of {{ center.medicalCenter | title }}">view procedure types</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="empty-list"> empty result. </td>
        </tr>
    {% endfor %}
</table>