<form novalidate="novalidate" action="{{ formUrl }}" method="POST" {{ form_enctype(form) }} class="basic-form">

        {{ form_row(form.medicalCenter) }}
        {{ form_row(form.description) }}
        {{ form_rest(form) }}

        {% if hideFormButtons is not defined or not hideFormButtons %}
        <input style="" type="submit" name="submit" value="Next" class="green-button" />
        <input type="reset" value="" class="form-reset"  />
        {% endif %}

        <!-- end id-form  -->
</form>