{% extends 'InstitutionBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Medical Centers {% endblock %}
{% set selectedTab = 'medical_centers'%}
{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ app.session.get('institutionName') }} Medical Centers</h1>
    </div>

    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
                {# ----- Related tasks ----- #}
                {% include 'InstitutionBundle:MedicalCenter:relatedTasks.html.twig' with {hideManageMedicalCenters: true, hideAddListing: true} %}
                {# ----- end Related tasks ----- #}
                
    			<!--  start table-content  -->
    			<div id="table-content" style="width:75%;">
    			    {% include '::notice.admin.html.twig' %}
    			    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table" id="medical-centers-list">
    			        
        				<tr>
        				    <th class="table-header-check"></th>
        					<th class="table-header-repeat line-left minwidth-1"> <a href="#">Medical Centers</a></th>
        					<th class="table-header-repeat line-left minwidth-1"><a href="#">Description</a></th>
        					<th class="table-header-options line-left"><a href="#">Options</a> </th>
        				</tr>
        				
        				{% for center in institutionMedicalCenters %}
        				    <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
        				        <td></td>
            					<td><a href="{{ path('institution_medicalCenter_edit', {'medicalCenterId': center.medicalCenterId}) }}" title="View {{ center.medicalCenter | title }}">{{ center.medicalCenter | title }}</a></td>
            					<td>{{ center.description | title }}</td>
            					<td class="options-width">
                					<a href="#" title="Edit" class="icon-1 info-tooltip"></a>
                					<a href="#" title="Delete {{ center.medicalCenter | title }}" class="icon-2 info-tooltip" onclick="return confirm('Are you sure you want to remove {{ center.medicalCenter | title }}?')"></a>
            					</td>
            				</tr>
        				{% else %}
        				    <tr class="">
        				        <td colspan="4" align="center"> {{ app.session.get('institutionName') }} has no medical centers yet. </td>
        				    </tr>    
        				{% endfor %}
        				
    				</table>
    			</div>
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}


{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/InstitutionMedicalProcedure.js') }}"></script>
	<script type="text/javascript">
        $(function(){

        	$("#dialog-container").dialog({
				autoOpen: false,
				height: 580,
				width: 700,
				modal: true,
				resizable: false,
				//buttons: {"Save": function() {var bValid = true;}, Cancel: function() {$( this ).dialog( "close" );} },
				close: function() {}
			});

        	$("a.add-medical-center").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');
				elem.attr('href', 'javascript:void(0)');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
			});
        });
	</script>	
{% endblock %}


