{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'clinics'} %}
{% set clinicClassLabel = getClassLabel('clinic') %}
 {% block content %}
 
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
    {% block wrappedContent %}    
               <h1>
                    Your {{ clinicClassLabel.plural | title }}
                    <a href="#add-clinic" class="btn btn-primary btn-large pull-right" data-toggle="modal">Add {{ clinicClassLabel.singular | title }}</a>
                </h1>
             <div class="tabbable">
                    <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs hca-tab">
                        <li class="active">
                            <a href="#all" data-toggle="tab">Current Listing</a>
                        </li>
                        <li>
                            <a href="#draft" data-toggle="tab">Draft</a>
                        </li>
                        <li>
                            <a href="#pending" data-toggle="tab">Pending</a>
                        </li>
                        <li>
                            <a href="#expired" data-toggle="tab">Expired</a><span class="badge badge-warning"> Renew!</span>
                        </li>
                    </ul>
                   <div class="tab-content" id="medicalCenterListing">
                        <div class="tab-pane active" id=all> 
                                 {% include 'InstitutionBundle:MedicalCenter/Widgets:list_clinics.html.twig'%}
                       </div>
                       <div class="tab-pane" id="draft"> </div>
                       <div class="tab-pane" id="pending"> </div>
                       <div class="tab-pane" id="expired"> </div>
                    </div>
            </div>
               
        {% endblock %}
        
    {% endembed %}

{% endblock %}
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/InstitutionMedicalCenterTab.js') }}" ></script>
<script type="text/javascript">
<!--
    (function($){
        $(function(){
            $('.truncatedDescription').truncateByHeight({'visibleRows': 5});
        });
        _url_base = '{{ path("institution_medicalCenter_index") }}'; 
        ClinicListing.setAjaxUrls({
            'loadPending': _url_base+'?status=8',
            'loadDraft': _url_base+'?status=4',
            'loadExpired': _url_base+'?status=16',
       }); 
        ClinicListing.loadTabbedContentsOfClinics(); 
       ClinicListing.tabbedContentElement = $('#medicalCenterListing');
       
        function grow(_el) {
            _el.css('height', '').css('overflow', '');
            _el.parents('td').find('a.collapse_toggle').removeClass('collapsed').html('<small>Less</small>');
        }
        
        function shrink(_el) {
            _el.css('height', 200).css('overflow', 'hidden');
            _el.parents('td').find('a.collapse_toggle').addClass('collapsed').html('<small>More</small>');
            _el.parents('td').find('a.collapse_toggle').show();
        }
    })(jQuery);
//-->
</script>
{% endblock %}
