{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'clinics'} %}
{% set clinicClassLabel = getClassLabel('clinic') %}
 {% block content %}
     <div id="back-top">
        <div class="backtotop img-rounded">
            <a href="#top"><span><i class="icon-chevron-up"></i></span>Top</a>
        </div>
    </div>
    {% include 'InstitutionBundle:MedicalCenter/Widgets:modal.addForm.html.twig'  %} <!-- add enw clinic modal form  -->
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}    
            <h1>
                <i class="icon-medkit"></i>Your {{ clinicClassLabel.plural | title }}
                <a href="#add-new-center" data-target="#add-new-center" class="btn btn-primary btn-large pull-right"  onclick="InstitutionMedicalCenter.showCommonModal($(this));"><i class="icon-medkit"></i>Add {{ clinicClassLabel.singular | title }}</a>
            </h1>
             <div class="tabbable">
                    <!-- Only required for left/right tabs -->
                    <ul id="listingTabs" class="nav nav-tabs hca-tab">
                        {% if (approvedMedicalCenters|length) != 0 %}
                        <li class="active">
                            <a href="#all" data-toggle="tab">Current Listing<span class="badge"> {{ approvedMedicalCenters|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if (draftMedicalCenters|length) != 0 %}
                        <li>
                            <a href="#draft" data-toggle="tab">Draft <span class="badge badge-default"> {{ draftMedicalCenters|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if (pendingMedicalCenters|length) != 0 %}
                        <li>
                            <a href="#pending" data-toggle="tab">Pending<span class="badge badge-important">{{ pendingMedicalCenters|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if (expiredMedicalCenters|length) != 0 %}
                        <li>
                            <a href="#expired" data-toggle="tab">Expired <span class="badge ">{{ expiredMedicalCenters|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if (archivedMedicalCenters|length) != 0 %}
                        <li>
                            <a href="#archived" data-toggle="tab">Archived <span class="badge ">{{ archivedMedicalCenters|length }}</span></a>
                        </li>
                        {% endif %}
                    </ul>
                   <div class="tab-content" id="medicalCenterListing">
                       {% if (approvedMedicalCenters|length) != 0 %}
                       <div class="tab-pane active" id=all>
                            {% include 'InstitutionBundle:MedicalCenter/Widgets:list.html.twig' with {medicalCenters: approvedMedicalCenters, centerType: 'Current Listing' } %}
                       </div>
                       {% endif %}
                       {% if (draftMedicalCenters|length) != 0 %}
                       <div class="tab-pane" id="draft">
                           {% include 'InstitutionBundle:MedicalCenter/Widgets:list.html.twig' with {medicalCenters: draftMedicalCenters, centerType: 'Draft' } %}
                       </div>
                       {% endif %}
                       
                       {% if (pendingMedicalCenters|length) != 0 %}
                       <div class="tab-pane" id="pending">
                           {% include 'InstitutionBundle:MedicalCenter/Widgets:list.html.twig' with {medicalCenters: pendingMedicalCenters, centerType: 'Pending' } %}
                       </div>
                       {% endif %}
                       
                       {% if (expiredMedicalCenters|length) != 0 %}
                       <div class="tab-pane" id="expired"> 
                           {% include 'InstitutionBundle:MedicalCenter/Widgets:list.html.twig' with {medicalCenters: expiredMedicalCenters, centerType: 'Expired' } %}
                       </div>
                       {% endif %}
                       
                       {% if (archivedMedicalCenters|length) != 0 %}
                       <div class="tab-pane" id="archived">
                           {% include 'InstitutionBundle:MedicalCenter/Widgets:list.html.twig' with {medicalCenters: archivedMedicalCenters, centerType: 'Archived' } %}
                       </div>
                       {% endif %}
                    </div>
            </div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        $('#listingTabs a:first').tab('show');
    });
})(jQuery);
//-->
</script>
{% endblock %}
