{% set mainNavigation = {selected: 'medical_centers'} %}
{% set clinicClassLabel = getClassLabel('clinic') %}
 
 <img style="display: none; float:center;" id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" />
 <div class="row">
 
     <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs hca-tab">
                <li class="active">
                    <a href="#all" data-toggle="tab">Current Listing</a>
                </li>
                <li>
                    <a href="#draft" data-toggle="tab">Draft</a>
                </li>
                <li>
                    <a href="#pending" data-toggle="tab">Pending</a>
                </li>
                <li>
                    <a href="#expired" data-toggle="tab">Expired</a><span class="badge badge-warning"> Renew!</span>
                </li>
            </ul>
       <div class="tab-content">
            <div class="tab-pane active" id="medical_centers"> 
                 <ul class="thumbnails" id="all">
                    {% if pager.Results %}
                         {% include 'InstitutionBundle:MedicalCenter/Widgets:list_clinics.html.twig'%}
                           {% if pager.isPaginable %}
                               {{ paginate(pager, 'admin_country_index', app.request.query.all) }}
                            {% endif %}
                    {% endif %}
                </ul>
           </div>
           <div class="tab-pane" id="draft"> 
           <div class="tab-pane" id="pending"> 
           <div class="tab-pane" id="expired"> 
        </div>
    </div>
       
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/InstitutionMedicalCenterTab.js') }}" ></script>
<script type="text/javascript">
<!--
    (function($){
        $(function(){
            $('.truncatedDescription').truncateByHeight({'visibleRows': 5});
        });
        
       ClinicListing.setAjaxUrls({'load': '{{ path("institution_medicalCenter_index" ) }}'});
       ClinicListing.tabbedContentElement = $('#medicalCenterListing');
       
        function grow(_el) {
            _el.css('height', '').css('overflow', '');
            _el.parents('td').find('a.collapse_toggle').removeClass('collapsed').html('<small>Less</small>');
        }
        
        function shrink(_el) {
            _el.css('height', 200).css('overflow', 'hidden');
            _el.parents('td').find('a.collapse_toggle').addClass('collapsed').html('<small>More</small>');
            _el.parents('td').find('a.collapse_toggle').show();
        }
    })(jQuery);
//-->
</script>
{% endblock %}

