{% set mainNavigation = {selected: 'medical_centers'} %}
{% set clinicClassLabel = getClassLabel('clinic') %}
 
 <img style="display: none; float:center;" id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" />
 <section class="section action-info hca-main-profile" id="medicalCenterListing">
    <div>
        <select id="styledSelect" class="blueText" onchange="ClinicListing.loadTabbedContentsOfClinics(this); return false;">
            <option value="" >Sort Status</option>
            {% for key, val in statusList %}
              <option value="{{key}}" >{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row-fluid terms">
        <ul class="thumbnails" id="medical_centers">
        {% if pager.Results %}
            {% for medicalCenter in pager.Results %}
            <li class="thumbnail">
                 <div class="ribbon-wrapper-{{ statusList[medicalCenter.status] | lower }} ">
                    <div class="ribbon-{{ statusList[medicalCenter.status] | lower }}">{{ statusList[medicalCenter.status] }} </div>
                </div>
                <img class="pull-left img-polaroid" src="{{ asset('images/institution/default_clinic.png') }}" alt="">
                 <h4>{{ medicalCenter.name }} </h4>
                <p>
                    <i class="location-gray2">
                    </i>
                    {% set _institution_medical_center_address = medical_center_complete_address_to_array(medicalCenter, ['address', 'zipCode']) %}
                    {% set _institution_address = medical_center_complete_address_to_array(medicalCenter, ['city', 'state', 'country']) %}
        			{{ _institution_medical_center_address | join(', ') }}
        			{{ _institution_address | join(', ') }}
                </p>
                <p>
                    <i class="phone-gray2">
                    </i>
                    {{ render_institution_medical_center_contact_number(medicalCenter) }}
                </p>
                <ul class="actions">
                    <li class="view">
                        <div class="btn-group">
                            <button class="btn btn-misc">
                                <a href="clinic-profile.html"><i class="icon-edit"></i></a>
                            </button>
                            <button class="btn btn-misc">
                                <a href="#"><i class="icon-trash"></i></a>
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
            {% endfor %}
            {% else %}
              <li class="thumbnail">
             <p><h4>No {{ statusList[navStatus] | capitalize }} listing </h4></p>
             </li>
            {% endif %}
             
            {% if pager.isPaginable %}
                   {{ paginate(pager, 'institution_medicalCenter_index', app.request.query.all) }}
        {% endif %}
            
       </ul>
    </div>

</section>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/InstitutionMedicalCenterTab.js') }}" ></script>
<script type="text/javascript">
<!--
    (function($){
        $(function(){
            $('.truncatedDescription').truncateByHeight({'visibleRows': 5});
        });
        
       ClinicListing.setAjaxUrls({'load': '{{ path("institution_medicalCenter_index" ) }}'});
       ClinicListing.tabbedContentElement = $('#medicalCenterListing');
       
        function grow(_el) {
            _el.css('height', '').css('overflow', '');
            _el.parents('td').find('a.collapse_toggle').removeClass('collapsed').html('<small>Less</small>');
        }
        
        function shrink(_el) {
            _el.css('height', 200).css('overflow', 'hidden');
            _el.parents('td').find('a.collapse_toggle').addClass('collapsed').html('<small>More</small>');
            _el.parents('td').find('a.collapse_toggle').show();
        }
    })(jQuery);
//-->
</script>
{% endblock %}

