{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}
{% set clinicClassLabel = getClassLabel('clinic') %}
{% set navClinicListing = navStatus %}
{% block content %}
{% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
			<div class="hca-banner">
                <h1>
                    Some Institution name
                </h1>
                <img src="/images/institution/institution3.png" alt="institution" />
                <a href="#"><img src="/images/institution/default-hospital-logo.png" alt="institution-logo" class="logo"/></a>
                <div class="institution-details">
                    <!-- p>
                        Gleneagles Hospital (Kuala Lumpur) Sdn.Bhd. 282 JalanAmpang, Kuala Lumpur,
                        Malaysia
                    </p -->
                    <p>{{ institution_address_to_array(institution, ['address1']) | join(', ')}}</p>
                    <a class="btn btn-large btn-primary pull-right" href="#">Manage Hospital</a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    <section id="content">
         <div id="content" class="container">
            <div class="row">
                <div class="span12">
                    <div class="pull-right">
                        <a href="{{ path('institution_medicalCenter_add') }}" class="btn btn-primary btn-large">Add A New {{ clinicClassLabel.singular | title}}</a>
                    </div>
                    <section>
                    <h1><span>Your {{ clinicClassLabel.plural | title}}</span></h1>
                    {% include 'InstitutionBundle:MedicalCenter/Widgets:navMenusForClinicListing.html.twig' %}
                    <br>
                    <section class="row-fluid">
                        <ul class="thumbnails" id="medical_centers">
                        {% include 'InstitutionBundle:MedicalCenter:medicalCenterListing.html.twig' %}
                        </ul>
                    </section>
                    
                    {% if pager.isPaginable %}
                       {{ paginate(pager, 'institution_medicalCenter_index', app.request.query.all) }}
                    {% endif %}
                   </section> 
                </div>
            </div><!--End of row-->
        </div><!--End of container-->
    </section>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript">
<!--
    (function($){
        $(function(){
            $('.truncatedDescription').truncateByHeight({'visibleRows': 5});
        });

        
       //_url_base = '{{ path("institution_medicalCenter_index_listing", {institutionId: institution.id} ) }}';
        
       // ClinicListing.setAjaxUrls({
         //   'loadPending': _url_base+'?content=pending',
          //  'loadDraft': _url_base+'?content=draft',
          // 'loadExpired': _url_base+'?content=expired',
         //  'loadArchived': _url_base+'?content=archived',
       // });
       // 
        //ClinicListing.tabbedContentElement = $('#medical_centers');
        //ClinicListing.loadTabbedContentsOfMultipleCenterInstitution();  
        function grow(_el) {
            _el.css('height', '').css('overflow', '');
            _el.parents('td').find('a.collapse_toggle').removeClass('collapsed').html('<small>Less</small>');
        }
        
        function shrink(_el) {
            _el.css('height', 200).css('overflow', 'hidden');
            _el.parents('td').find('a.collapse_toggle').addClass('collapsed').html('<small>More</small>');
            _el.parents('td').find('a.collapse_toggle').show();
        }
    })(jQuery);
//-->
</script>
{% endblock %}
