<div class="specializations-profile-listing" id="specialization_{{each.id}}" >
    <div class="specializations-heading hca-clinic-specialization-item">
    	<a data-target="#deleteSpecialization{{ each.id }}" data-id="{{ each.id }}" onclick="InstitutionMedicalCenter.showCommonSpecializationModal(this); return false;" role="button" title="" href="#">
            <i class="icon-remove-sign pull-right"></i>
        </a>
        <a data-target="{{ each.specialization.id }}" href="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.showAddTreatmentsForm($(this));return false;">
            <i class="icon-edit pull-right" ></i></a>
        <a data-target="{{ each.specialization.id }}" style="display:none;" id="treatments-save"  href="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.submitAddTreatmentsForm($(this));return false;">
            <i class="icon-ok pull-right"></i></a>
        <span>
            {% if each.specialization.media %}
                <img src="{{ specialization_media_src(each.specialization.media) }}" class="pull-left img-polaroid" >
            {% else %}
                <img src="{{ asset('images/institution/default-specialization-logo.png') }}" class="pull-left img-polaroid" >
            {% endif %}
        </span>
        <h4>{{ each.specialization.name }}</h4>
    </div>
    <div class="hca-hidden-content specializations-profile-listing" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.specialization.id }) }}" >
       <form name="specializationsForm" id="panel{{each.specialization.id }}"  action="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.id }) }}" method="post"></form>
    </div>

</div>

{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {modal: {id: 'deleteSpecialization' ~ each.id, title: 'Delete Specialization' }} %}
    {% block modalBody %}
        {% set _commonDeleteCsrfTokenWidget = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(commonDeleteForm._token) %}

        <p>Are you sure you want to delete <strong>{{ each.specialization.name }}?</strong></p>

        <form action="{{ path('institution_medicalCenter_ajaxRemoveSpecialization', {'imcId': institutionMedicalCenter.id, 'isId': each.id } ) }}" style="margin: 0">
            {{ _commonDeleteCsrfTokenWidget | raw }}
            <div class="align-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> &nbsp;
        	    <button data-loading-text="Processing..." class="btn btn-danger delete-button pull-right" type="button" onclick="InstitutionMedicalCenter.submitRemoveSpecializationForm($(this).parents('form')); return true;">Delete</button>
    	    </div>
        </form>
    {% endblock %}
{% endembed %}