
<div class="specializations-profile-listing" id="specialization_{{each.id}}" >
    <div class="specializations-heading hca-clinic-specialization-item">
    	<a data-target="#deleteSpecialization{{ each.id }}" data-id="{{ each.id }}" onclick="InstitutionMedicalCenter.showCommonSpecializationModal(this); return false;" role="button" title="" href="#">
            <i class="icon-remove-sign pull-right"></i>
        </a>
        <a data-target="{{ each.specialization.id }}" id="specialization-button"  href="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.showAddTreatmentsForm($(this));return false;">
            <i class="icon-edit pull-right" ></i></a>
        <a data-target="{{ each.specialization.id }}" style="display:none;" id="treatments-save"  href="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.submitAddTreatmentsForm($(this));return false;">
            <i class="icon-ok pull-right"></i></a>
        <span>
            {% if each.specialization.media %}
                <img src="{{ specialization_media_src(each.specialization.media) }}" class="pull-left img-polaroid" >
            {% else %}
                <img src="{{ asset('images/institution/default-specialization-logo.png') }}" class="pull-left img-polaroid" >
            {% endif %}
        </span>
        <h4>{{ each.specialization.name }}</h4>
    </div>
    <div id="hca-specialization-content" style="display:none" class="hca-hidden-content specializations-profile-listing" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.specialization.id }) }}" >
       <form name="specializationsForm" id="panel{{each.specialization.id }}"  action="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.id }) }}" method="post"></form>
    </div>

</div>   
<div id="deleteSpecialization{{ each.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{% set _commonDeleteCsrfTokenWidget = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(commonDeleteForm._token) %}
    {% include 'InstitutionBundle:Widgets:modal.deleteSpecialization.html.twig' with {
    'institutionSpecialization' : each }
%}
</div>