<div class="specializations-listing-profile" id="specialization_{{each.id}}">
    <div class="hca-specialization-details hca-edit">
    	<a data-target="#deleteSpecialization{{ each.id }}" data-id="{{ each.id }}" onclick="InstitutionMedicalCenter.showCommonSpecializationModal(this); return false;" role="button" title="" href="#">
            <i class="icon-remove-sign pull-right"></i>
        </a>
        <a id="specialization-button"  data-target="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.showAddTreatmentsForm($(this));return false;">
            <i class="icon-edit pull-right"></i></a>
        <a style="display:none;" id="treatments-save"  data-target="#panel{{ each.specialization.id }}" onclick="InstitutionSpecialization.submitAddTreatmentsForm($(this));return false;">
            <i class="icon-ok pull-right"></i></a>
        <span>
            {% if each.specialization.media %}
                <img src="{{ specialization_media_src(each.specialization.media) }}" class="pull-left">
            {% else %}
                <img src="" class="pull-left" style="border: 1px solid #ccc; display: inline-block; height: 35px; width: 35px;margin: -4px 5px 0 0;">
            {% endif %}
        </span>
        <b>{{ each.specialization.name }}</b>
    </div>
    <div id="treatment_list">
     {% include 'InstitutionBundle:MedicalCenter:list.treatments.html.twig'  %}
     </div>
    <div id="hca-specialization-content" class="row-fluid terms" data-href="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.specialization.id }) }}" >
       <form name="specializationsForm" id="panel{{each.specialization.id }}"  action="{{ path('institution_ajax_loadInstitutionMedicalCenterSpecializationComponents', { imcId: institutionMedicalCenter.id, isId: each.id }) }}" method="post">
              <center><img src="/images/institution/spinner_large.gif" /></center>
        </form>
    </div>

    <div id="deleteSpecialization{{ each.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% set _commonDeleteCsrfTokenWidget = _commonDeleteCsrfTokenWidget is defined ? _commonDeleteCsrfTokenWidget : form_widget(commonDeleteForm._token) %}
        {% include 'InstitutionBundle:Widgets:modal.deleteSpecialization.html.twig' with {
        'institutionSpecialization' : each }
    %}
    </div>
</div>