{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers'%}
{% block title %}{{ parent() }} Add Medical Center Media {% endblock %}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Add media for {{ institutionMedicalCenter.medicalCenter.name }} medical center</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalCenter:relatedTasks.html.twig' with {hideAddMedicalCenter: true, hideMedicalProcedureTypeTask: true, 'imcId': institutionMedicalCenter.id } %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content">
                <div style="width:75%;">
                    

                    {% include '::stepHolder.base.admin.html.twig' with {
                        steps: [
                            {title: 'Center Details', 'selected': true},
                            {title: 'Add Media', 'selected': true},
                            {title: 'Add Procedure Types', 'selected': true},
                            {title: 'Preview', 'selected': true},
                        ] }
                     %}
                     
                     {% include '::notice.admin.html.twig' %}

                      Listings Page: <br/><br/>
                     {{ institutionMedicalCenter.medicalCenter.name }}<br/><br/>

                     Procedure Types:<br/><br/>
                     {% for instProcedureType in institutionMedicalCenter.institutionMedicalProcedureTypes %}
                         {{ instProcedureType.medicalProcedureType.name }}
                     {% endfor %}

                    <div class="clear"></div>

                    <a href="{{ path('institution_medicalCenter_index') }}" class="button-type">Done</a>

                </div>

            </div>
            <!--  end table-content  -->

        {% endblock %}

    {% endembed %}

</div>
{% endblock %}