{% for doctor in doctors %}
	<tr id="doctor_id:{{ doctor.id }}">
		<td>{{ doctor.lastName |title }}, {{ doctor.firstName |title }}</td>
		<td>
		{% for specialization in doctor.specializations %}
		    {{ specialization.name |title }} 
		    {% if loop.last == false %},{% endif %} 
	    {% else %}
		    No Specializations yet
		{% endfor %}
		</td>
	    <td>
	     <div class="post-toolbar treatment_action">
    		<i class="icon-trash" title="Delete"></i>
    		<a href="#" onclick ="InstitutionSpecialistAutocomplete.removeProperty({{ doctor.id }}, $(this).parents('tr')); return false;" >Edit</a>
    		<i class="icon-edit" title="Edit"></i>
    		<a href="{{ path('institution_manageDoctorProfile', { 'imcId':institutionMedicalCenter.id,'idId' :doctor.id }) }}" >Edit</a>
    	</div>
	    </td>
	</tr>
{% endfor %}