{% for doctor in doctors %}
    <li class="thumbnail hca-clinic-listing" id="doctor_id_{{ doctor.id }}">
    <img class="pull-left img-polaroid" src="images/institution/default-doctor-icon.png" alt="">
    <div class="medicalcenter-name add-doctors-listing pull-left">
        <h3>
           <span class="specialist_name_{{ doctor.id }}"> Dr. {{ doctor.firstName }} {{ doctor.lastName }}</span>
        </h3>
        <p>
            <i class="icon-stethoscope"> </i>
            {% for specialization in doctor.specializations %}
		        {{ specialization.name |title }} 
		    {% if loop.last == false %},{% endif %} 
    	    {% else %} 
    		    No Specializations yet
    		{% endfor %}
        </p>
    </div>
    <div class="listing-action-button add-hca-doctors-listing pull-right">
        <div class="btn-group">
              {#  <a href="{{ path('institution_manageDoctorProfile', { 'imcId':institutionMedicalCenter.id,'idId' :doctor.id }) }}" href="#" class="btn btn-misc"><i class="icon-edit" title="Edit"></i>Edit</a> #}
                 <a data-toggle="modal" data-id="{{ doctor.id }}" data-target="#specialistModal" onclick="InstitutionMedicalCenter.showSpecialistCommonModalId(this); return false;"  href="#" class="btn btn-misc"> <i class="icon-trash" title="Delete"></i>Delete</a>
        </div>
    </div>
</li>
{% else %}
    <div class="alert alert-block">
        <p class="hca-helptext">
            You haven't yet added any doctors affiliated to this Clinic. Text here
            explaining the need to add doctors in every your Clinic.
        </p>
        <a  href="#add-doctor" class="btn btn-primary" data-toggle="modal" ><i class="icon-user-md"></i> Add Doctor</a>
    </div>
{% endfor %}
