{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}
{% set _csrf_token_widget = form_widget(institutionMedicalCenterForm._token) %}
{% set clinicClassLabel = getClassLabel('clinic') %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
            			<div class="span9">
            			    <h1><span>Manage {{ clinicClassLabel.plural }}</span></h1>
                            {% include 'InstitutionBundle:MedicalCenter/Widgets:profileHeader.html.twig' %}
                            <div class="tabbable">
                                {% include 'InstitutionBundle:Widgets:tabNavigation.html.twig' with {
                                    tabNavigation: { links: [
                                        { label: 'Specializations', 'active': true, 'href' : '#specializations_tab_content' },
                                        { label: 'Services', 'href' : '#services_tab_content' },
                                        { label: 'Awards', 'href' : '#awards_tab_content' },
                                        { label: 'Medical Specialists', 'href' : '#medical_specialists_tab_content' },
                                    ]}
                                } %}
                                
                               <div class="tab-content" id="tabbed_content">
                                   <div id="specializations_tab_content" class="tab-pane active">
                                       {% include 'InstitutionBundle:Widgets:tabbedContent.institutionMedicalCenterSpecializations.html.twig' %}
                                   </div>
                                   <div id="services_tab_content" class="tab-pane"><span>Loading ancillary services</span></div>
                                   <div id="awards_tab_content" class="tab-pane"><span>Loading clinic awards, certificates and affiliations</span></div>
                                   <div id="medical_specialists_tab_content" class="tab-pane"><span>Loading medical specialists</span></div>
                               </div><!-- /.tab-content -->
                            </div>
                        </div><!-- end .span9 -->
                        
                        {% embed 'InstitutionBundle:Embed:wrapper.sidebar.html.twig' %}
                            {% block sidebarWrappedContent %}
                                {% include 'InstitutionBundle:Widgets:sidebar.medicalCenter.basicProfile.html.twig' %}
                                {% include 'InstitutionBundle:Widgets:sidebar.businessHours.html.twig' %}
                            {% endblock %}
                        {% endembed %}
                        
        				 <!-- Modal Institution Logo -->
                		{% include 'InstitutionBundle:Widgets:modal.medicalCenterLogo.html.twig' 
                		     with {formId: 'logoModalForm', modalId: 'medicalCenterLogoModal', modalTitle: 'Upload Image'} 
                		%} <!-- end Modal Institution name -->
                		
        {% endblock %}
    {% endembed %}
    
{% endblock %}


{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/properties.js') }}" ></script>
<script src="{{ asset('bundles/institution/js/institutionTreatments.js') }}" type="text/javascript"></script>
<script type="text/javascript">
<!--
    (function($){

        $(function(){

            InstitutionMedicalCenter.isEditView = true;

            $('#institutionMedicalCenter_contactEmail').bind('keypress', function(e) {
           	   if( e.which === 13 )
           	       return false;
           	});
            
            Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
            InstitutionMedicalCenter.initializeTabs({
                'services' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"institutionId": institution.id,"content": "services", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#services_tab_content')},
                'awards' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"institutionId": institution.id,"content": "awards", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#awards_tab_content')},
                'medical_specialists' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"institutionId": institution.id, "content": "medical_specialists", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#medical_specialists_tab_content') }
            })
            .initializeTabbedContentContainerElement($('div#tabbed_content'))
            .loadTabbedContents();

            // setup autocomplete for add specialization
            InstitutionSpecializationAutocomplete.singleSelectionOnly = true;
            InstitutionSpecializationAutocomplete
            .setAutocompleteOptions({
                source : $.parseJSON('{{ specializationsJSON | raw}}'),
                target: $('input.autocomplete_specialization_selector'),
                selectedDataContainer: $('#specializationAccordion') 
            })
            .setLoaderElement($('#specializationLoading'))
            .setLoadSpecializationFormUri('{{ path("institution_medical_center_ajaxLoadSpecializationAccordionEntry", { "treatmentsListOnly":1,"imcId": institutionMedicalCenter.id } ) }}')
            .autocomplete();

            InstitutionSpecialization.setSpecializationsListContainerElement($('div#specializations_tab_content div.row-fluid'));

            $('#clinicDescriptionText').truncateByHeight({
                'visibleRows': 5
            });
        });

    })(jQuery);
//-->
</script>
{% endblock %}

