{% spaceless %}

    <fieldset>
    
    <legend>Increment/Decrement ranking points</legend>
    <div>
        {% if isArray is defined and institutions is not empty %}
            {% for institution in institutions %}
                {{ institution.name }}
                <a href="{{ path( 'admin_ranking_instituion_updateRanking', { 'id': institution.id, 'type': 'inc' }) }}" title="" class="icon-edit _rankingPtsTrigger">Ranking Pts</a>
                <a href="{{ path( 'admin_ranking_instituion_updateRanking', { 'id': institution.id, 'type': 'dec' }) }}" title="" class="icon-edit _rankingPtsTrigger">Ranking Pts</a>
                <br>
            {% endfor %}
            
        {% else %}
                {{ center.name }}
                <a href="{{ path( 'admin_ranking_imc_updateRanking', { 'id': center.id, 'type': 'inc' }) }}" title="" class="icon-edit _rankingPtsTrigger">Ranking Pts</a>
                <a href="{{ path( 'admin_ranking_imc_updateRanking', { 'id': center.id, 'type': 'dec' }) }}" title="" class="icon-edit _rankingPtsTrigger">Ranking Pts</a>
        {% endif %}
    </div>
    
	</fieldset>
{% endspaceless %}


<script type="text/javascript" src="{{ asset('bundles/helper/js/fancy_autocomplete.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

    	$('a._rankingPtsTrigger').click(function() {

    		var _elem = $(this);
    		var _url = _elem.attr('href');

    		_elem.attr('disabled', true).html('Processing...');

    		$.ajax({
                url: _url,
                type: 'post',
                success: function(response) {
                	_elem.removeAttr('disabled').html('Ranking Pts');
                },
                error: function(response){
                    alert('errror');
                }
            });
    		
        	return false;
    	});
    	
       
    });
})(jQuery);
//-->
</script>
