{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>{{ site_name }} Admin Panel</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% set manageHCADataTask = {"title": 'Manage HCA Data', 'class': 'list-icon', 'description': 'Manage global data of specializations, treatments, procedures, countries and cities', 'href': path('admin_manageHcaData'), 'links': [{title:'View all specializations',href: path('admin_specialization_index')}, {title:'View all sub-specializations', href: path('admin_subSpecialization_index')}, {title:'View all treatments', href: path('admin_treatment_index')}]} %}
            {% set manageInstitutions = {title: 'Manage Institutions', 'description': 'View all institutions, or add a new one', 'href': path('admin_institution_index'), 'links': [{title:'Click here to view all institutions',href: path('admin_institution_index')}] } %}

            {% include '::relatedTasks.base.admin.html.twig' with
                {'contents': [manageHCADataTask, manageInstitutions]}
            %}

            <div id="table-content" style="width: 70%">
                {% include '::notice.admin.html.twig' %}

                <h2>Sub Heading </h2>

                {% if (pendingListingAlerts|length) or (expiredListingAlerts|length) %}<h3>Alerts</h3>{% endif %}

                {% if pendingListingAlerts|length %}
                <div>
                    <img src="/images/admin/forms/icon_list_arrow.gif" alt=""/>
                    Pending Listings.

                    <div>
                    {% for center in pendingListingAlerts %}
                        <div style="width: 600px;border: 1px solid #efefef; padding: 5px; margin-bottom: 5px">
                            <a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
                            <a href="{{ path('admin_institution_medicalCenter_view', {'institutionId':center.referenceData.institutionId, 'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a><br/>
                        </div>
                    {% endfor %}
                    </div>
                </div><br/><br/>
                {% endif %}

                {% if expiredListingAlerts|length %}
                <div>
                    <img src="/images/admin/forms/icon_list_arrow.gif" alt=""/>
                    Expired Listings.

                    <div>
                    {% for center in expiredListingAlerts %}
                        <div style="width: 600px;border: 1px solid #efefef; padding: 5px; margin-bottom: 5px">
                            <a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
                            <a href="{{ path('admin_institution_medicalCenter_view', {'institutionId':center.referenceData.institutionId, 'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a><br/>
                        </div>
                    {% endfor %}
                    </div>
                </div><br/><br/>
                {% endif %}


                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                </p>
            </div>
        {% endblock %}

    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}