{% if selectedTab is not defined %}
    {% set selectedTab = 'dashboard' %}
{% endif %}

{% if selectedSubTab is not defined %}
    {% set selectedSubTab = '' %}
{% endif %}
<ul class="nav" id="main-nav">
    <li class="{{ selectedTab == 'dashboard' ? 'active' : '' }}">
    <a href="{{ path('admin_homepage') }}"><i class="icon-home"></i></a>
    </li>


    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INSTITUTIONS', 'CAN_MANAGE_INSTITUTION')") %}
    <li class="dropdown {{ selectedTab == 'institutions' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Institutions <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'institutions_newlyRegistered' ? 'active' : '' }}"><a href="{{ path('admin_institution_newlyRegistered') }}">View Newly Registered Institutions</a></li>
            <li class="{{ selectedSubTab == 'institutions_newlyAddedClinics' ? 'active' : '' }}"><a href="{{ path('admin_institution_newlyAddedClinics') }}">View Newly Added Clinics</a></li>
            <li class="divider"></li>
            <li class="{{ selectedSubTab == 'institutions_recentlyApproved' ? 'active' : '' }}"><a href="{{ path('admin_institution_recentlyApproved') }}">Recently Approved Institutions</a></li>
            <li class="{{ selectedSubTab == 'institutions_recentlyApprovedClinics' ? 'active' : '' }}"><a href="{{ path('admin_institution_recentlyApprovedClinics') }}">Recently Approved Clinics</a></li>
            <li class="divider"></li>
            <li class="{{ selectedSubTab == 'institutions_index' ? 'active' : '' }}"><a href="{{ path('admin_institution_index') }}">View All Institutions</a></li>
             <li class="{{ selectedSubTab == 'medical_centers_index' ? 'active' : '' }}"><a href="{{ path('admin_institution_medicalCenters') }}">View All Medical Centers</a></li>
            <li class="{{ selectedSubTab == 'institutions_contactInfoList' ? 'active' : '' }}"><a href="{{ path('admin_institution_contactInfoList') }}">Institutions Contact Info</a></li>
            <li class="{{ selectedSubTab == 'institutions_add' ? 'active' : '' }}"><a href="{{ path('admin_institution_add') }}">Add new</a></li>
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_SPECIALIZATIONS', 'CAN_VIEW_SUB_SPECIALIZATIONS', 'CAN_VIEW_TREATMENTS')") %}
    <li class="dropdown {{ selectedTab == 'manageHcaData' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Manage HCA Data <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_SPECIALIZATIONS')") %}
            <li class="{{ selectedSubTab == 'specializations' ? 'active' : '' }}" >
                <a href="{{ path('admin_specialization_index') }}">Specializations</a>
            </li>
            {% endif %}
            
            {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_SUB_SPECIALIZATIONS')") %}
            <li class="{{ selectedSubTab == 'subspecializations' ? 'active' : '' }}">
                <a href="{{ path('admin_subSpecialization_index') }}">Sub-specializations</a>
            </li>
            {% endif %}
            
            {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_TREATMENTS')") %}
            <li class="{{ selectedSubTab == 'treatments' ? 'active' : '' }}">
                <a href="{{ path('admin_treatment_index') }}">Treatments</a>
            </li>
            {% endif %}
             <li class="{{ selectedSubTab == 'manage_medical_provider_group' ? 'active' : '' }}">
                <a href="{{ path('admin_medical_provider_group_index') }}"> Medical Provider Group</a>
            </li>
            
            {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_SPECIALIZATIONS')") %}
            <li class="divider"></li>
            <li>
                <a href="{{ path('admin_migrationTools_viewSpecializations') }}">Migration Tools</a>
            </li>
            {% endif %}
            
            <li class="divider"></li>
            
            <li class="{{ selectedSubTab == 'page_rankings' ? 'active' : '' }}" >
                <a href="{{ path('admin_institution_ranking_index') }}">Page Rankings</a>
            </li>
            
            <li class="{{ selectedSubTab == 'meta_configurations' ? 'active' : '' }}" >
                <a href="{{ path('admin_homepage_metas_index') }}">Page Meta Configuration</a>
            </li>
            
            <li class="{{ selectedSubTab == 'manage_countries' ? 'active' : '' }}">
                <a href="{{ path('admin_country_index') }}">Manage Countries</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_states' ? 'active' : '' }}">
                <a href="{{ path('admin_state_index') }}">Manage States</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_cities' ? 'active' : '' }}">
                <a href="{{ path('admin_city_index') }}">Manage Cities</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_doctors' ? 'active' : '' }}">
                <a href="{{ path('admin_doctor_index') }}">Manage Doctors</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_awardingBody' ? 'active' : '' }}">
                <a href="{{ path('admin_awardingBody_index') }}">Manage Awarding Body</a>
            </li>
             <li class="{{ selectedSubTab == 'manage_global_awards' ? 'active' : '' }}">
                <a href="{{ path('admin_global_award_index') }}">Manage GlobalAwards</a>
            </li>
             <li class="{{ selectedSubTab == 'manage_offered_service' ? 'active' : '' }}">
                <a href="{{ path('admin_offered_service_index') }}">Manage Ancilliary Services</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_languages' ? 'active' : '' }}">
                <a href="{{ path('admin_language_index') }}">Manage Languages</a>
            </li>
             <li class="{{ selectedSubTab == 'manage_helperText' ? 'active' : '' }}">
                <a href="{{ path('admin_helper_text_index') }}">Manage Helper Text</a>
            </li>
             <li class="{{ selectedSubTab == 'manage_term' ? 'active' : '' }}">
                <a href="{{ path('admin_terms_index') }}">Manage {{ getClassLabel('term').plural }}</a>
            </li>
        
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_ADVERTISEMENTS', 'CAN_MANAGE_ADVERTISEMENTS')") %}
    <li class="dropdown {{ selectedTab == 'advertisements' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Advertisements <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'advertisement_index' ? 'active' : '' }}">
                <a href="{{ path('admin_advertisement_index') }}">View all</a>
            </li>
            <li class="{{ selectedSubTab == 'advertisementType_index' ? 'active' : '' }}">
                <a href="{{ path('admin_advertisementType_index') }}">View all Advertisement Types</a>
            </li>
            
            <li class="{{ selectedSubTab == 'advertisementType_index' ? 'active' : '' }}">
                <a href="{{ path('admin_advertisementType_add') }}">Add Advertisement Type</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INQUIRIES', 'CAN_MANAGE_INQUIRY')") %}
    <li class="dropdown {{ selectedTab == 'inquire' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Site Inquiries <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'feedbackInquiries' ? 'active' : '' }}">
                <a href="{{ path('admin_feedback') }}">Feedback / Inquiries</a>
            </li>
            <li class="{{ selectedSubTab == 'inquire_index' ? 'active' : '' }}">
                <a href="{{ path('admin_inquire') }}">Advertising Inquiries</a>
            </li>
            <li class="{{ selectedSubTab == 'institution_inquire_index' ? 'active' : '' }}">
                <a href="{{ path('admin_inquiry_unapprovedInstitutionInquiries') }}">Institution Inquiries</a>
            </li>
        </ul>
    </li>
    {% endif %}
    
    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_STATISTICS')") %}
    <li class="dropdown {{ selectedTab == 'statistics' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Statistics<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'institutionStatistics' ? 'active' : '' }}">
                <a href="{{ path('admin_statistics_institution') }}">Institutions</a>
            </li>
            
            <li class="{{ selectedSubTab == 'institutionMedicalCenterStatistics' ? 'active' : '' }}">
                <a href="{{ path('admin_statistics_institutionMedicalCenter') }}">Institution Medical Centers</a>
            </li>
        </ul>
    </li>
    {% endif %}
    
    
    {# Temporary hide the Viewing of feedbacks
    <li class="dropdown {{ selectedTab == 'feedback' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Feedbacks <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'feedback_index' ? 'active' : '' }}">
                <a href="{{ path('admin_feedback') }}">View all</a>
            </li>
        </ul>
    </li>
    #}
    {#
    <!-- 
    <li class="dropdown {{ selectedTab == 'logs' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logs <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('admin_history_index') }}">Entity History</a>
            </li>
        </ul>
    </li>
     -->
     #}
    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN')") %}
    <li class="dropdown {{ selectedTab == 'settings' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings <b class="caret"></b></a>
        
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'settings_users' ? 'active' : '' }}">
                <a href="{{ path('admin_user_index') }}">Users</a>
            </li>
            <li class="{{ selectedSubTab == 'settings_user_types' ? 'active' : '' }}">
                <a href="{{ path('admin_userType_index') }}">User types</a>
            </li>
            <li class="{{ selectedSubTab == 'settings_user_permissions' ? 'active' : '' }}">
                <a href="{{ path('admin_userRole_index') }}">User permissions</a>
            </li>
            <li class="{{ selectedSubTab == 'error_reports' ? 'active' : '' }}">
                <a href="{{ path('admin_error_reports') }}">Error Reports</a>
            </li>
        </ul>
    </li>
    {% endif %}
    
    <li>
        {% block searchBox %}
            {% render "SearchBundle:Default:showWidget" with { 'context' : 'admin' } %}
        {% endblock %}
    </li>
</ul>
