{% if selectedTab is not defined %}
    {% set selectedTab = 'dashboard' %}
{% endif %}

{% if selectedSubTab is not defined %}
    {% set selectedSubTab = '' %}
{% endif %}

<ul class="nav">
    <li class="{{ selectedTab == 'dashboard' ? 'active' : '' }}"><a href="{{ path('admin_homepage') }}">Dashboard</a></li>


    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INSTITUTIONS', 'CAN_MANAGE_INSTITUTION')") %}
    <li class="dropdown {{ selectedTab == 'institutions' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Institutions <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'institutions_index' ? 'active' : '' }}"><a href="{{ path('admin_institution_index') }}">View all institutions</a></li>
            <li class="{{ selectedSubTab == 'institutions_add' ? 'active' : '' }}"><a href="{{ path('admin_institution_add') }}">Add new</a></li>
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_MEDICAL_CENTERS', 'CAN_MANAGE_MEDICAL_CENTER')") %}
    <li class="dropdown {{ selectedTab == 'manageHcaData' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Manage HCA Data <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'specializations' ? 'active' : '' }}" >
                <a href="{{ path('admin_specialization_index') }}">Specializations</a>
            </li>
            <li class="{{ selectedSubTab == 'sub_specializations' ? 'active' : '' }}">
                <a href="{{ path('admin_subSpecialization_index') }}">Sub-specializations</a>
            </li>
            <li class="{{ selectedSubTab == 'treatments' ? 'active' : '' }}">
                <a href="{{ path('admin_treatment_index') }}">Treatments</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_countries' ? 'active' : '' }}">
                <a href="{{ path('admin_country_index') }}">Manage Countries</a>
            </li>
            <li class="{{ selectedSubTab == 'manage_cities' ? 'active' : '' }}">
                <a href="{{ path('admin_city_index') }}">Manage Cities</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_ADVERTISEMENTS', 'CAN_MANAGE_ADVERTISEMENTS')") %}
    <li class="dropdown {{ selectedTab == 'advertisements' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Advertisements <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'advertisement_index' ? 'active' : '' }}">
                <a href="{{ path('admin_advertisement_index') }}">View all</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INQUIRY', 'CAN_MANAGE_INQUIRY')") %}
    <li class="dropdown {{ selectedTab == 'inquire' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Inquiries <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'inquire_index' ? 'active' : '' }}">
                <a href="{{ path('admin_inquire') }}">View all</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if is_expr_granted("hasAnyRole('SUPER_ADMIN')") %}
    <li class="dropdown {{ selectedTab == 'settings' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings <b class="caret"></b></a>
        
        <ul class="dropdown-menu">
            <li class="{{ selectedSubTab == 'settings_users' ? 'active' : '' }}">
                <a href="{{ path('admin_user_index') }}">Users</a>
            </li>
            <li class="{{ selectedSubTab == 'settings_user_types' ? 'active' : '' }}">
                <a href="{{ path('admin_userType_index') }}">User types</a>
            </li>
            <li class="{{ selectedSubTab == 'settings_user_permissions' ? 'active' : '' }}">
                <a href="{{ path('admin_userRole_index') }}">User permissions</a>
            </li>
        </ul>
    {% endif %}
</ul>
