{% if selectedTab is not defined %}
    {% set selectedTab = 'dashboard' %}
{% endif %}

{% if selectedSubTab is not defined %}
    {% set selectedSubTab = '' %}
{% endif %}

<!--  start nav -->
<div class="nav">
    <div class="table">
        <ul class="{{ selectedTab == 'dashboard' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_homepage') }}"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
            </li>
        </ul>
    
        {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INSTITUTIONS', 'CAN_MANAGE_INSTITUTION')") %}
        <div class="nav-divider">&nbsp;</div>                
        <ul class="{{ selectedTab == 'institutions' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_institution_index') }}"><b>Institutions</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub {{ selectedTab == 'institutions' ? 'show' : '' }}">
                	<ul class="sub">
                		<li class="{{ selectedSubTab == 'institutions_index' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_institution_index') }}">View all institutions</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'institutions_add' ? 'sub_show' : '' }}"><a href="#nogo">Invite new institution</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        {% endif %}
    
        {# if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_MEDICAL_CENTERS', 'CAN_MANAGE_MEDICAL_CENTER')") #}
        <div class="nav-divider">&nbsp;</div>
        <ul class="{{ selectedTab == 'manageHcaData' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_manageHcaData') }}"><b>Manage HCA Data</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub {{ selectedTab == 'manageHcaData' ? 'show' : '' }}">
                	<ul class="sub">
                		<li class="{{ selectedSubTab == 'manage_centers' ? 'sub_show' : '' }}" >
                		    <a href="{{ path('admin_medicalCenter_index') }}">Manage Center Types</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'manage_procedureTypes' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_procedureType_index') }}">Manage Procedure Types</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'manage_procedures' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_medicalProcedure_index') }}">Manage Procedures</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'manage_countries' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_country_index') }}">Manage Countries</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'manage_cities' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_city_index') }}">Manage Cities</a>
            		    </li>
            		   	<li class="{{ selectedSubTab == 'manage_offered_service' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_offered_service_index') }}">Manage Services Offered</a>
            		    </li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        {# endif #}
    
        {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_ADVERTISEMENTS', 'CAN_MANAGE_ADVERTISEMENTS')") %}
        <div class="nav-divider">&nbsp;</div>
        <ul class="{{ selectedTab == 'advertisements' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_advertisement_index') }}"><b>Ads</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                {#-----
                <div class="select_sub {{ selectedTab == 'inquire' ? 'show' : '' }}">
                    <ul class="sub">
                        <li class="{{ selectedSubTab == 'inquire_index' ? 'sub_show' : '' }}">
                            <a href="{{ path('admin_inquire') }}">View all</a>
                        </li>
                        
                    </ul>
                </div>
                ------#}
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        {% endif %}
        
        {% if is_expr_granted("hasAnyRole('SUPER_ADMIN', 'CAN_VIEW_INQUIRY', 'CAN_MANAGE_INQUIRY')") %}
        <div class="nav-divider">&nbsp;</div>
        <ul class="{{ selectedTab == 'inquire' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_inquire') }}"><b>Inquiries</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub {{ selectedTab == 'inquire' ? 'show' : '' }}">
                    <ul class="sub">
                        <li class="{{ selectedSubTab == 'inquire_index' ? 'sub_show' : '' }}">
                            <a href="{{ path('admin_inquire') }}">View all</a>
                        </li>
                        
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        {% endif %}
        
       <div class="nav-divider">&nbsp;</div>
        <ul class="{{ selectedTab == 'news' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_news_index') }}"><b>News</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub {{ selectedTab == 'news' ? 'show' : '' }}">
                    <ul class="sub">
                        <li class="{{ selectedSubTab == 'manage_news' ? 'sub_show' : '' }}">
                            <a href="{{ path('admin_news_add') }}">Add News</a>
                        </li>
                        
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        
        {% if is_expr_granted("hasAnyRole('SUPER_ADMIN')") %} 
        <div class="nav-divider">&nbsp;</div>
        
        <ul class="{{ selectedTab == 'settings' ? 'current' : 'select' }}">
            <li>
                <a href="{{ path('admin_settings') }}"><b>Settings</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub {{ selectedTab == 'settings' ? 'show' : '' }}">
                	<ul class="sub">
                		<li class="{{ selectedSubTab == 'settings_users' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_user_index') }}">Users</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'settings_user_types' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_userType_index') }}">User types</a>
            		    </li>
                		<li class="{{ selectedSubTab == 'settings_user_permissions' ? 'sub_show' : '' }}">
                		    <a href="{{ path('admin_userRole_index') }}">User permissions</a>
            		    </li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        {% endif %}

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--  end nav -->
