<!--  start nav -->
<div class="nav">
    <div class="table">
    
        <ul class="current">
            <li>
                <a href="#nogo"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
            </li>
        </ul>
    
        <div class="nav-divider">&nbsp;</div>
                        
        <ul class="select">
            <li>
                <a href="{{ path('admin_institution_index') }}"><b>Institutions</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub show">
                	<ul class="sub">
                		<li><a href="{{ path('admin_institution_index') }}">View all institutions</a></li>
                		<li class="sub_show"><a href="#nogo">Invite new institution</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
    
        <div class="nav-divider">&nbsp;</div>
        
        <ul class="select">
            <li>
                <a href="{{ path('admin_medicalCenter_index') }}"><b>Medical Centers</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="{{ path('admin_medicalCenter_index') }}">View all</a></li>
                		<li><a href="{{ path('admin_medicalCenter_add') }}">Add new medical center</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>    
    
        <div class="nav-divider">&nbsp;</div>

        <ul class="select">
            <li>
                <a href="#nogo"><b>Procedure Types</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="{{ path('admin_procedureType_index') }}">View all</a></li>
                		<li><a href="{{ path('admin_procedureType_add') }}">Add new procedure type</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>    
    
        <div class="nav-divider">&nbsp;</div>

        <ul class="select">
            <li>
                <a href="#nogo"><b>Medical Procedures</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="{{ path('admin_medicalProcedure_index') }}">View all</a></li>
                		<li><a href="{{ path('admin_medicalProcedure_add') }}">Add new procedure</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
        
        <ul class="select">
            <li>
                <a href="#nogo"><b>Tags</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                	<ul class="sub">
                		<li><a href="{{ path('admin_tagHomepage') }}">View all</a></li>
                		<li><a href="{{ path('admin_tagAdd') }}">Add new tag</a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--  end nav -->
