<!--  start related-activities -->
<div id="related-activities">
	
	<!--  start related-act-top -->
	<div id="related-act-top">
	<img src="/images/admin/forms/header_related_act.gif" width="271" height="43" alt="" />
	</div>
	<!-- end related-act-top -->
	
	<!--  start related-act-bottom -->
	<div id="related-act-bottom">
	
		<!--  start related-act-inner -->
		<div id="related-act-inner">
		
			<div class="left"><a href=""><img src="/images/admin/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
			<div class="right">
				<h5>Manage admin users</h5>
				Add or edit current admin users
				<ul class="greyarrow">
					<li><a href="">Create new admin user</a></li> 
					<li><a href="{{ path('admin_user_index') }}">View all users</a> </li>
				</ul>
			</div>
			
			<div class="clear"></div>
			<div class="lines-dotted-short"></div>
			
			<div class="left"><a href="{{ path('admin_userType_index') }}"><img src="/images/admin/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
			<div class="right">
				<h5>Manage user types</h5>
				Manage the permissions of user groups
				<ul class="greyarrow">
					<li><a href="{{ path('admin_userType_index') }}"">View all user types</a></li> 
					<li><a href="{{ path('admin_userType_add') }}"">Add a user type</a> </li>
				</ul>
			</div>
			
			<div class="clear"></div>
			<div class="lines-dotted-short"></div>
			
			<div class="left"><a href="{{ path('admin_userRole_index') }}"><img src="/images/admin/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
			<div class="right">
				<h5>Access permissions</h5>
				View available access permissions
				<ul class="greyarrow">
					<li><a href="{{ path('admin_userRole_index') }}">Click here to visit</a></li> 
				</ul>
			</div>
			<div class="clear"></div>
			
		</div>
		<!-- end related-act-inner -->
		<div class="clear"></div>
	
	</div>
	<!-- end related-act-bottom -->

</div>
<!-- end related-activities -->