<table id="medical-center-list" class="generic-table" width="70%">
	<tr>
		<th class="minwidth-1" width="5%"><a href="">Version #</a></th>
		<th class="minwidth-1"><a href="">Log Date</a></th>
		<th class="minwidth-1"><a href="">Author</a></th>
		<th class="minwidth-1"><a href="">Data</a></th>
	</tr>

{% for version in versions %}
	<tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
		<td>{{ version.version }}</td>
		<td>{{ version.loggedAt | date("Y-m-d")}}</td>
		<td>{{ version.username }}</td>
		<td>{{ unserialize(version.data) }}
		
		</td>
	</tr>
{% else  %}
	<tr><td class="empty-list" colspan="3">No records yet!</td></tr>
{% endfor %}
</table>