<table class="table table-bordered">
	<tr>
		<th  width="1%"><a href="">Version</a></th>
		<th class="minwidth-1"><a href="">Log Date</a></th>
		<th class="minwidth-1"><a href="">Author</a></th>
		<th class="minwidth-1"><a href="">Version Data</a></th>
	</tr>

{% for version in versions %}
	<tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
		<td>{{ version.version }}</td>
		<td>{{ version.loggedAt | date("Y-m-d")}}</td>
		<td>
		    {% set accountData = getAccountDataById(version.username) %}
		    {% if accountData %}
		        {{ accountData.first_name }} {{ accountData.last_name }}
		        <br />
		        {{ accountData.email }}
		    {% else %}
		        User id {{ version.username }} not found    
		    {% endif %}
		</td>
		<td>
		    <ul style="list-style:none;">
		    
		    {% for key, value in version.data %}
		        <li>
		            <label class="label"> {{ key | title }}</label>
                    {{ value }}
		        </li>
		    {% endfor %}
		    </ul>
		</td>
	</tr>
{% else  %}
	<tr><td class="empty-list" colspan="4">No records yet!</td></tr>
{% endfor %}
</table>