{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'settings'%}
{% set user_typeLabel = getClassLabel('user_type') %}

{% block content %}
    <div class="span3">
    {% include 'AdminBundle:Widgets:settingsTasks.html.twig'%}
    </div>
    <div id="content" class="span9">
   
   {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: user_typeLabel.plural | title,
                actions:[
                		{link: path('admin_userType_index'), label: 'View all '~ user_typeLabel.plural | title, 'icon' : 'icon-list' } ,
               			{link: path('admin_userType_add'), label: 'Add '~ user_typeLabel.plural | title, 'icon' : 'icon-list' }]
            }  
     %}
     {% block sectionContent %}
 		{% include '::notice.admin.html.twig' %}
			    <table class="table table-bordered sortable-list" id="table-list">
				<tr>
					<th id="column-name"><a href="{{ app.request.uri }}" class="{{ 'sort-' ~ app.request.get('sortOrder', 'asc') }}">User type</a></th>
					<th>Permissions</th>
					<th width="150">Actions</th>
				</tr>

				{% for each in userTypes %}
				    <tr>
    					<td>{{ each.name | title }}</td>
    					<td>
    					    <ul style="list-style:decimal; padding: 0 15px;">
    					        {% for role in each.adminUserRoles %}
    					        <li> {{ role.label | title }}</li>
    					        {% endfor %}
    					    </ul>
					    </td>
    					 <td>
                            <ul style="list-style: none;">
                                <li>
                                    <a href="{{ path('admin_userType_edit', { id:each.id } ) }}"> <i class="icon-edit"></i> Edit</a> <br/>
                                    <a href="{{ path('admin_userRole_viewByUserType', { id:each.id } ) }}"> <i class="icon-edit"></i> Edit Permissions</a>
                                    
                                </li>
                                <li>
                                     <td>{{ each.status ? 'Active' : 'Inactive' }}</td>
                                </li>
                            </ul>
                        </td>
    				</tr>
				{% endfor %}
				</table>
			  {% endblock %}
            
        {% endembed %}
    </div>
    
{% endblock %}