{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; Healthcare Abroad{% endblock %}

{% block body %}
    <div id="fixed_container">

        {% block header %}
            {% include 'FrontendBundle:Widgets:header.html.twig' %}
        {% endblock %}


        <!-- TODO - Breadcrumb Params should not need to specify here one by one. -->
        {% if (renderFrontendBreadcrumb is defined) and renderFrontendBreadcrumb %}
            {% set breadcrumbParams = {
                city: city is defined ? city : null,
                country: country is defined ? country : null,
                treatment: treatment is defined ? treatment : null,
                specialization: specialization is defined ? specialization : null,
                subSpecialization: subSpecialization is defined ? subSpecialization : null,
                institution: institution is defined ? institution : null,
                institutionMedicalCenter: institutionMedicalCenter is defined ? institutionMedicalCenter : null,
                route: app.request.get('_route'),
                routeParams: app.request.get('_route_params') 
            } %}
            {% render 'FrontendBundle:Default:renderBreadcrumb' with breadcrumbParams %}
        {% endif %}
        <!-- End of Breadcrumb -->


        {% block callout %}{% endblock %}
        
        <div id="content" class="container {{ class is defined ? class : '' }} {{ isHomePage is defined ? '' : 'content' }}">
            {% block content %}{% endblock %}
        </div>

        <div class="border_pattern_footer">&nbsp;</div>

        {% block footer %}
            {% include 'FrontendBundle:Widgets:footer.html.twig' %}
        {% endblock %}

    </div>

    {{ outputInlineJavascript() | raw }}
    
    {# -- stats tracker stuff -- #}
    
    {% render 'StatisticsBundle:Tracker:showForm' %}
    <script type="text/javascript">
    <!-- 
    (function($){
        $(function(){

            {# -- set trackers --#}
            FrontendStatsTracker
                .setImpressionTrackerForm('form#{{ get_impression_tracker_form_id() }}')
                .setClickthroughTrackerForm('form#{{ get_clickthrough_tracker_form_id() }}');
            FrontendStatsTracker.clickthroughTrackerClass = '{{ get_clickthrough_tracker_class() }}';
            
            {# -- track impressions --#}
            FrontendStatsTracker.trackImpressions();

            {## -- track clickthroughs -- #}
            FrontendStatsTracker.trackClickthroughs();
        });
    })(jQuery);
    //-->
    </script>
    {# -- end stats tracker stuff -- #}
{% endblock %}