{% extends '::base.frontend.html.twig' %}

{% block title %}{{ parent() }} &raquo; {{ site_name }}{% endblock %}

{% block body %}

    <!-- <div id="top-background" class="hca-v-sprite stripe-bg blue">
        <div class="glow"></div>
    </div> -->

    {% block header %}
        {% include 'FrontendBundle:Widgets:header.html.twig' %}
    {% endblock %}

    {{ render_frontend_breadcrumb() }}

    {% block callout %}{% endblock %}
    
    
    {% set mainContentItemType = mainContentItemType is defined 
        ? mainContentItemType 
        : false
    %}
    
    <div {% if(mainContentItemType)%} itemscope itemtype="{{ mainContentItemType }}" {% endif %} 
        id="content-wrapper" 
        class="container {{ isHomePage is defined and isHomePage ? 'homepage': 'box-shadow' }}"
    >
        {% block content %}{% endblock %}   
    </div>
    

    {% block footer %}
        {% include 'FrontendBundle:Widgets:footer.html.twig' %}
    {% endblock %}


    {{ outputInlineJavascript() | raw }}

    {# -- stats tracker stuff -- #}
    {{ render_frontend_statistics_tracker_form() |raw }}
    <script type="text/javascript">
    <!--
    (function($){
        $(function(){

            {# -- set trackers --#}
            FrontendStatsTracker
                .setImpressionTrackerForm('form#{{ get_impression_tracker_form_id() }}')
                .setClickthroughTrackerForm('form#{{ get_clickthrough_tracker_form_id() }}');
            FrontendStatsTracker.clickthroughTrackerClass = '{{ get_clickthrough_tracker_class() }}';

            {# -- track impressions --#}
            FrontendStatsTracker.trackImpressions();

            {## -- track clickthroughs -- #}
            FrontendStatsTracker.trackClickthroughs();
        });
    })(jQuery);
    //-->
    </script>
    {# -- end stats tracker stuff -- #}

    {{ render_javascript_files() | raw }}

{% endblock %}