{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerTerm = getClassLabel('institution_medical_center') %}
{% set centerLabel = centerTerm.singular | title %}
{% set centersLabel = centerTerm.plural | title %}

{% block content %}
    <div class="span9">
        {% include '::notice.admin.html.twig' %}

        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: 'Ancilliary Services',
                actions: [{link: path('admin_addInstitutionOfferedServices', {institutionId:institution.id}), label: 'Add Services', 'icon' : 'icon-plus', 'class' : 'addofferedServices' }] 
            }
        %}
            {% block sectionContent %}
                <div id="centersAccordion" class="hca-accordion">
                    {% for service in offeredServices %}
                        <h5 class="medical-centers">
                            <a href="{{ path('admin_institution_medicalCenter_view', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right view-center" style="font-size:13px;font-weight:normal;margin-left:5px;">
                                <i class="icon-share"></i><span>view</span>
                            </a>
                            <a href="{{ path('admin_institution_medicalCenter_update', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right edit-center-name" style="font-size:13px;font-weight:normal;">
                                <i class="icon-edit"></i><span>edit</span>
                            </a>
                            <a class="url" href="{{ path('admin_institution_centerSpecializations', {imcId: service.id, institutionId: institution.id}) }}">{{ service.name }}</a>
                            <input type="text" value="{{ service.name }}" style="margin:0;display:none" onclick="return false"/>
                        </h5>
                        <div class="content">
                            <div style="border: 1px dashed #ddd;margin-bottom: 20px;padding: 5px 10px;">
                                <a href="{{ path('admin_institution_medicalCenter_update', {imcId: service.id, institutionId: institution.id}) }}" class="pull-right edit-center-description" style="font-size:13px;font-weight:normal">
                                    <i class="icon-edit"></i> <span>edit</span>
                                </a>
                                <div class="center-description">{{ service.name | raw }}</div>
                                <textarea required="required" class="tinymce edit-center-textarea" style="display:none">{{ service.name }}</textarea>
                            </div>
                            <div class="specializations"></div>
                        </div>
                    {% else %}
                        <div class="alert alert-block"> </div>
                    {% endfor %}
                </div>
            {% endblock %}

        {% endembed %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    $(function(){
    	
        $('#centersAccordion').accordion({active: false, collapsible: true, heightStyle: "content"});

        $('#dialog-container').dialog({
            position: ['center', 100],
            autoOpen: false,
            width: 750,
            modal: true,
            resizable: false,
            close: function() {}
        });

        $('a.addofferedServices').click(function(){
        	var elem = $(this);
			var _url = elem.attr('href');

			$("#dialog-container").empty();
			//$('#dialog-container').dialog('option','title', (elem.hasClass("edit") ? 'Edit' : 'Add') + ' GlobalAwards');
            $('#dialog-container').dialog({
            	title: 'Add Offered Services',
                open: function() {
                    $.ajax(_url)
                        .done(function (data) {        
                        	$('#dialog-container').html(data);
                        }
                    );
                },
            });

        	$('#dialog-container').dialog("open");

             	return false;           
        });
        
        $('.medical-centers').click(function(){
            var url = $(this).find('.url').attr('href');
            var specializationElem = $(this).next().find('.specializations:first');

            if($.trim(specializationElem.html()) == '') {
            	specializationElem.html('<div class="ajax-loading">loading...</div>');
                $.get(url, function(result) {
                	specializationElem.html(result);
                });
            }
        });

        $('.view-center').click(function(){
            window.location = $(this).attr('href');
            return false;
        });

        $('.edit-center-description').click(function(){
            if($(this).next().is(':visible')) {
            	$(this).find('i').attr('class', 'icon-ok');
            	$(this).find('span').html('save')
                $(this).next().hide().siblings('.mceEditor').show();

            } else {
                var url = $(this).attr('href');
                var param = { description: $(this).siblings('textarea').val() };

            	$.post(url, param, function(result){}, 'json');

            	$(this).find('i').attr('class', 'icon-edit');
            	$(this).find('span').html('edit')
                $(this).next().html(param.description).show().siblings('.mceEditor').hide();                
            }

            return false;
        });

        $('.edit-center-name').click(function(){
            if($(this).next().is(':visible')) {
            	$(this).find('i').attr('class', 'icon-ok');
            	$(this).find('span').html('save')
                $(this).next().hide().siblings('input').show();
        
            } else {
                var url = $(this).attr('href');
                var param = { name: $(this).siblings('input').val() };

            	$.post(url, param, function(result){}, 'json');

            	$(this).find('i').attr('class', 'icon-edit');
            	$(this).find('span').html('edit')
                $(this).next().html(param.name).show().siblings('input').hide();

            	$("#centersAccordion").accordion("enable");
            }

            return false;
        }).siblings('input').click(function(){
			$('#centersAccordion').accordion("disable").removeClass('ui-state-disabled'); 
			$(this).parent().removeClass('ui-state-disabled'); 
		});

    });
</script>
{% endblock %}