{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'treatments' %}

{% block content %}

    <div id="content">

        <div id="page-heading"><h2>{{ form.vars.value.id  ? 'Edit' : 'Add' }} Treatment</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
        
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}
                
                {% set contents = [{
                        'title': 'View all treatments', 
                        'description': 'View the list of treatments',
                        'href': path('admin_treatmentProcedure_index'), 
                        'links': [{'title': 'View treatments', 'href': path('admin_treatmentProcedure_index')}]
                    }]
                %}
    
                {% if(treatment is defined) %} 
                    {% set contents = [{
                            'title': 'Add treatment procedure', 
                            'class': 'add-icon',
                            'description': 'add new procedure for this treatment',
                            'href': path('admin_treatmentProcedure_add', {treatmentId:treatment.id}), 
                            'links': [{'title': 'add procedure', 'href': path('admin_treatmentProcedure_add', {treatmentId: treatment.id} )}]
                        },
                        {
                            title: 'View version history',
                            href: path('admin_showEditHistory', {'objectId': treatment.id, 'objectClass': base64_encode(getClass(treatment)) }),
                            class: 'view-edit-history-link',
                            description: 'Show all the changes made to this center type content',
                            links: [{class: 'view-edit-history-link', title: 'View versions', href: path('admin_showEditHistory', {'objectId': treatment.id, 'objectClass': base64_encode(getClass(treatment)) }) }]
                        }] | merge(contents)
                    %}
                {% endif %}
    
                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
                
                <form novalidate="novalidate" class="basic-form" action="{{ formAction }}" method="post" {{ form_enctype(form) }}>

                    {% if form.children.medicalCenter.vars.read_only %}
                        <div>
                            {{ form_label(form.medicalCenter) }}
                            <span class="fixed-value">{{ form.vars.value.medicalCenter }}</span>
                        </div>
                    {% else %}
                        {{ form_row(form.medicalCenter) }}
                    {% endif %}
                    
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.status) }}
                    
                    
                    
                    {{ form_rest(form) }}
    
                    <input type="submit" value="Save" class="green-button" name="submit"/>
                    <input type="submit" value="Save &amp; Add another treatment" class="green-button" name="submit"/>
                </form>
                
    
                <!-- Display List of Procedures -->
                {% set procedures = treatment is defined ? treatment.treatmentProcedures : [] %}
                
                {% if procedures is not empty %}
                
                    <h2 style="padding-top: 20px; border-top: 1px dashed #aaa;margin-top:30px;width:70%">Procedures</h2>
                
                    <table id="procedure-list" class="generic-table" width="70%">
                    <tr>
                        <th><a href="">Procedure</a></th>
                        <th width="70"><a href="">Status</a></th>
                        <th class="actions" width="90"><a href="">Actions</a></th>
                    </tr>

                    {% for procedure in procedures %}
                        <tr>
                            <td>{{ procedure.name }}</td>
                            <td>{{ procedure.status ? 'Active' : 'Inactive' }}</td>
                            <td align="center">
                                <a href="{{ path('admin_treatmentProcedure_edit', {id:procedure.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
                                {% set class = procedure.status ? 'icon-2' : 'icon-5' %}
                                <a href="{{ path('admin_treatmentProcedure_updateStatus', {id:procedure.id}) }}" title="{{ procedure.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
                <!-- End of List of Procedures -->
            
            {% endblock %}

        {% endembed %}
    </div>

{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/log/js/EntityVersionHistory.js') }}"></script>
    <script type="text/javascript">
        $(function(){

            EntityVersionHistory.setCommonDialog($('#dialog-container'), {});

            $('a.view-edit-history-link').click(function(){
                EntityVersionHistory.viewHistory($(this));
                return false;
            });
            
        });
    </script>
{% endblock %}
