{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'subspecializations' %}

{% block content %}
    <div id="content">

        <div id="page-heading"><h2>List of Sub-specializations</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}

                {% set contents = [{
                        'title': 'Add sub-specialization',
                        'description': 'Add new sub-specialization',
                        'class': 'add-icon',
                        'href': path('admin_subSpecialization_add', {'specializationId': specializationId ? specializationId : null }),
                        'links': [
                            {'title': 'Add sub-specialization', 'href': path('admin_subSpecialization_add', {'specializationId': specializationId ? specializationId : null } )}
                        ]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}


                <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}

                <div style="width: 70%">
                    <table id="procedure-type-list" class="generic-table sortable-list" width="100%">
                    <tr>
                        <th id="column-name" class="minwidth-1">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Sub-specialization</a>
                        </th>
                        <th id="column-description" class="minwidth-1" width="250">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'description' ? 'sort-' ~ sortOrder : '' }}">Description</a>
                        </th>
                        <th id="column-medicalCenter" class="minwidth-1" width="200">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'specialization' ? 'sort-' ~ sortOrder : '' }}">Specialization</a>
                        </th>
                        <th class="actions" width="180">Actions</th>
                    </tr>

                    {% for each in subSpecializations %}
                        <tr>
                            <td>{{ each.name }}</td>
                            <td>{{ each.description }}</td>
                            <td>
                                <a href="#" class="medical-center">{{ each.specialization.name }}</a>
                            </td>
                            <td align="center">
                                <a href="{{ path('admin_subSpecialization_edit', {id:each.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
                                {% set class = each.status ? 'icon-2' : 'icon-5' %}
                                <a href="{{ path('admin_subSpecialization_updateStatus', {id:each.id}) }}" title="{{ each.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
                                    <a href="{{ path('admin_treatment_index', {treatment:each.id}) }}" class="icon-type">treatments</a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td class="empty-list" colspan="4">No records yet!</td></tr>
                    {% endfor %}
                    </table>

                    {% if pager.isPaginable %}
                       {{ paginate(pager, 'admin_subSpecialization_index', app.request.query.all) }}
                    {% endif %}
                </div>

            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}