{% if searchResultItem is defined %}
<article class="media search-entry">

    <div class="pull-left thumb">
        <a href="{{ searchResultItem.url }}">
            {{ searchResultItem.logo | raw }}
        </a>
        <div class="location">{{ searchResultItem.mainAddress }}</div>
    </div>

    <div class="media-body">
        <h3 class="media-heading"><a href="{{ searchResultItem.url }}">{{ searchResultItem.name }}</a></h3>
        {% if searchResultItem.institutionName is defined and searchResultItem.institutionName|length %}
            <small class="institution"><a href="{{ searchResultItem.institutionUrl }}">{{ searchResultItem.institutionName }}</a></small>
        {% endif %}

        {% if searchResultItem.description is defined and searchResultItem.description | length > 0 %}
        <div class="description" >
            <p>{{ searchResultItem.description ~'...' | raw}}</p>
        </div>
        {% endif %}
        <div class="link">
            <a href="{{ searchResultItem.url }}" class="more-info btn pull-right green">
                <span class="icon-search icon-white"></span> More Info
            </a>
        </div>

        {#---
        <div class="media">
            <div class="pull-left">
                <span class="address-icon2"></span>
            </div>
            <div class="media-body">
                <small>
                    {% if searchResultItem.streetAddress is defined %}
                        {{ searchResultItem.streetAddress }}
                        <br />
                    {% endif %}

                    <b>{{ searchResultItem.mainAddress }}</b>
                </small>
            </div>

        </div>
        --- #}
    </div>
</article>
{% endif %}