{% if searchResultItem is defined %}
{#----- initialize impression tracker #}

{% set _impressionStatisticParametersAttribute = get_statistics_parameter_attribute_name() ~ '=' ~ encode_search_result_item_impression_parameters(statisticsDataObject)  %}
<article class="item-wrapper {{ get_impression_tracker_class() }}" {{_impressionStatisticParametersAttribute }}>
    <div class="left-column-wrapper">
        {#-- logo link with listing click through --#}
        {% include 'StatisticsBundle:Tracker/Widgets:searchResultItem.clickthroughLink.html.twig' with {
    	        'link': { url: searchResultItem.url, html: searchResultItem.logo, class: 'small-logo-wrapper' }
        } %}
        {#<strong>{{ searchResultItem.mainAddress }}</strong>#}
    </div>

    <div class="right-column-wrapper">
        <h3 class="heading"><a href="{{ searchResultItem.url }}">{{ searchResultItem.name }}</a></h3>

        {% if searchResultItem.institutionName is defined and searchResultItem.institutionName|length %}
            <h4 class="heading"><a href="{{ searchResultItem.institutionUrl }}">{{ searchResultItem.institutionName }}</a></h4>
        {% endif %}

        {% if searchResultItem.description is defined and searchResultItem.description | length > 0 %}
            {% set _escapedDescription =  searchResultItem.description | length > 200 ? (searchResultItem.description | slice(0,200) | trim)~'...' : searchResultItem.description %}
            <p class="description">{{ _escapedDescription | raw}}
                {% include 'StatisticsBundle:Tracker/Widgets:searchResultItem.clickthroughLink.html.twig' with {
                        'link': {
                            url: searchResultItem.url,
                            html: 'More Info',
                            class: ''
                        }
                    }
                %}
            </p>
        {% endif %}

        {#<div class="align-right">#}
            {#-- more info link --#}
            {#{% include 'StatisticsBundle:Tracker/Widgets:searchResultItem.clickthroughLink.html.twig' with {
        	        'link': {
        	            url: searchResultItem.url,
        			    html: '<span class="white-icon-search"></span> More Info',
        			    class: 'btn green'
        	        }
        	    }
        	%}
    	</div>#}
    </div>

    <div class="tag-box">
        <span class="location"><i class="icon-map-marker"></i> {{ searchResultItem.mainAddress }}</span>
        <div class="link-box">
            <a href="">
                <span data-toggle="tooltip" title="Visit G+" class="icon-google-plus"></span>
            </a>
            <a href="">
                <span data-toggle="tooltip" title="Visit Twitter" class="icon-twitter"></span>
            </a>
            <a href="">
                <span data-toggle="tooltip" title="Visit Facebook" class="icon-facebook"></span>
            </a>
            <a href="">
                <span data-toggle="tooltip" title="Visit Website" class="icon-globe"></span>
            </a>
            <a href="">
                <span data-toggle="tooltip" title="Call Us" class="icon-phone"></span>
            </a>
            <a href="">
                <span data-toggle="tooltip" title="Email Us" class="icon-envelope"></span>
            </a>
        </div>
    </div>
</article>
{% endif %}