<form action="{{ path('frontend_search_process') }}" method="post" name="search_box" class="form-inline">
    <input type="hidden" id="treatment_id" name="treatment_id" value="{{ options.treatmentId }}"/>
    <input type="hidden" id="destination_id" name="destination_id" value="{{ options.destinationId }}"/>

    <label>Search</label>
    <input type="text" placeholder="Specialization or Treatment" name="sb_treatment" id="sb_treatment"/>
    <label>Near</label>
    <input type="text" placeholder="City, Country or Zip" name="sb_destination" id="sb_destination"/>
    <button class="btn">Let's Go</button>

    <div class="helper-link">
        <a class="helper treatment-link" href="{{ path('frontend_treatment_list') }}"> View all treatments</a>
        <a class="helper white tiny destination-link" href="{{ path('frontend_destination_list') }}"> View all destinations</a>
    </div>
</form>

<script type="text/javascript">

$(function() {
    $('#sb_treatment').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{{ path('frontend_search_ajaxLoadTreatments') }}",
                dataType: "json",
                data: {
                    term: request.term,
                    destination_id: $('#destination_id').val(),
                    sb_treatment: $('#sb_treatment').val(),
                    sb_destination: $('#sb_destination').val()
                },
                success: function(data) {
                    response($.each(data, function(item) {
                        return { label: item.label, value: item.value }
                    }));
                }
            });
        },
        focus: function( event, ui ) {
            $(this).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#treatment_id").val( ui.item.value );

            return false;
        },
        change: function(event, ui) {
            $("#treatment_id").val(ui.item && ui.item.value ? ui.item.value : '0');
        },
        delay: 200,
        minLength: 1
    });

    $('#sb_destination').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{{ path('frontend_search_ajaxLoadDestinations') }}",
                dataType: "json",
                data: {
                    term: request.term,
                    treatment_id: $('#treatment_id').val(),
                    sb_treatment: $('#sb_treatment').val(),
                    sb_destination: $('#sb_destination').val()
                },
                success: function(data) {
                    response( $.each(data, function(item) {
                        return {
                            label: item.label,
                            value: item.value
                        }
                    }));
                }
            });
        },
        focus: function( event, ui ) {
            $(this).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#destination_id").val( ui.item.value );

            return false;
        },
        change: function(event, ui) {
            $("#destination_id").val((ui.item && ui.item.value) ? ui.item.value : '0-0');
        },
        delay: 200,
        minLength: 1
    });

});

</script>