<aside class="span4" id="aside_content">
    <section class="box-in">
        <h5 class="heading"><small>Narrow</small> Search </h5>
        <ul class="related">

            {% if context == 'treatments' %}
                {% set subContext = 'country' %}
                {% set widgetParameters = { context: context, subContext: subContext, treatmentId: id } %}
                {% set items = topCountries %}
            {% elseif context == 'destinations' %}
                {% set subContext = 'specialization' %}
                {% set widgetParameters = { context: context, subContext: subContext, destinationId: id } %}
                {% set items = topSpecializations %}
            {% endif %}

            <li class="row">
                <div class="pull-right btn-group">
                    {% render "SearchBundle:Frontend:showWidget" with widgetParameters %}
                </div>

                <h3>By {{ subContext | capitalize }}</h3>
                <ul>
                    {% for item in items %}
                        <li><a href="{{ item.url }}">{{ item.name }} <span class="right label label-inverse">{{ item.count }}</span></a></li>
                    {% endfor %}
                </ul>
            </li>

            {% if context == 'treatments' %}
                {% set subContext = 'city' %}
                {% set widgetParameters = { context: context, subContext: subContext, treatmentId: id } %}
                {% set items = topCities %}
            {% elseif context == 'destinations' %}
                {% set subContext = 'treatment' %}
                {% set widgetParameters = { context: context, subContext: subContext, destinationId: id } %}
                {% set items = topTreatments %}
            {% endif %}

            <li class="row">
                <div class="pull-right btn-group">
                    {% render "SearchBundle:Frontend:showWidget" with widgetParameters %}
                </div>
                <h3>By {{ subContext | capitalize }}</h3>
                <ul>
                    {% for item in items %}
                        <li><a href="{{ item.url }}">{{ item.name }} <span class="right label label-inverse">{{ item.count }}</span></a></li>
                    {% endfor %}
                </ul>
            </li>

            <script type="text/javascript">
                $('.dropdown-menu .search-field').click(function(e){
                    e.stopPropagation();
                }, false);
            </script>

            <li class="row">
                <h3>Related Treatments</h3>
                <ul>
                    <li><a href="#">Face Lift <span class="right label label-inverse">535</span></a></li>
                    <li><a href="#">Eye Surgery <span class="right label label-inverse">321</span></a></li>
                    <li><a href="#">Lorem ipsum <span class="right label label-inverse">153</span></a></li>
                </ul>
            </li>

        </ul>
    </section>
    <section class="box-in">
        <h5 class="heading">ADS <br><small> or </small> <br> NEWS </h5>
        <ul class="ads">
            <li>When I grow up, I want to be an <b>ADVERTISEMENT</b>.</li>
            <li>When I grow up, I want to be a <b>NEWS</b>.</li>
        </ul>
    </section>
</aside>