{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = 'manage_countries' %}
{% set countryLabel = getClassLabel('country') %}

{% block content %}

    <div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
    </div>
    <div id="content" class="span9">
        
        
        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: 'Adevertisement Types',
                actions: [{link: path('admin_advertisementType_add'), label: 'Add Advertisement type', 'icon' : 'icon-plus' }] 
            }  
        %}
            {% block sectionContent %}
            
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set sortClass = app.request.get('sortBy') | length ? 'sort-' ~ sortOrder : 'sort-asc' %}

                <table id="country-list" class="table table-bordered sortable-list">
                    <tr>
                        <th id="column-name"><a href="{{ app.request.uri }}" class="{{ sortClass }}">Name</a></th>
                        <th>Status</th>
                        <th width="200">Actions</th>
                    </tr>

                    {% for each in advertisementTypes %}
                    <tr>
                        <td>{{ each.name }}</td>
                        <td>{{ each.status ? 'Active' : 'Inactive' }}</td>
                         <td>
                            <a href="{{ path('admin_advertisementType_edit', { id: each.id } ) }}"> <i class="icon-edit"></i> Edit</a>
                            {% set status = each.status ? {label: 'Deactivate', icon: 'icon-remove'} : {label: 'Activate', icon: 'icon-ok'} %}
                            <a href="{{ path('admin_advertisementType_updateStatus', {id: each.id} ) }}" title="" class="update-status">
                                <i class="{{ status.icon }}"></i> <span>{{ status.label }}</span>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="error" align="center"><td colspan="3">Empty result!</td></tr>
                    {% endfor %}
                </table>
            {% endblock %}
            
        {% endembed %}
        
        {% if pager.isPaginable %}
           {{ paginate(pager, 'admin_advertisementType_index', app.request.query.all) }}
        {% endif %}
        
    </div>
    
{% endblock %}