{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_index'%}

{% block content %}
    <div id="content">
        <div id="page-heading">
            <h3>Edits History</h3>
        </div>
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
                {% include '::notice.admin.html.twig' %}
                <!-- Render Filter Box -->
                <div>
                <table class="table table-bordered sortable-list">
                    <thead>
                        <tr>
                            <td>Log Date</td>
                            <td>Action</td>
                            <td>User</td>
                            <td width="10%">Class</td>
                            <td>Subject Object</td>
                            <td>Changed Data</td>
                        </tr>
                    </thead>
                    {% for version in entries %}
                    <tr>
                        <td>{{ version.loggedAt | date("Y-m-d H:i:s")}}</td>
                        <td>{{ version.action }}</td>
                		<td>
                		    {{ version.user.fullName }}
                		    <br />
                		    <i>{{ version.user.email }}</i>
                		</td>
                		<td>
                		    {{ version.objectClass }}
                		</td>
                		<td>
                		    <ul style="list-style:none;">
                		    {% for key, value in version.object %}
                		        <li>
                		            <i>{{ key }}</i>: 
                		            <b>{{ value }}</b>
                		        </li>
                		    {% endfor %}
                		    </ul>
                		</td>
                		<td>
                		    <ul style="list-style:none;">
                		    {% for key, value in version.data %}
                		        <li>
                		            <label class="label"> {{ key  }}</label>
                    		        {% if value is iterable %}
                    		            {{ json_encode(value) }}
                    		        {% else %}
                                        {{ value }}
                    		        {% endif %}
                		        </li>
                		    {% endfor %}
                		    </ul>
                		</td>
                    </tr>
                    {% else  %}
                        <tr>
                            <td class="empty-list" colspan="5">No records yet!</td>
                        </tr>
                    {% endfor %}
                </table>
                
     
            </div>
            
            {% endblock %}
        {% endembed %}
        
        
    </div>
    
{% endblock %}

{% block inlineJavascriptCode %}

{% endblock %}