<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% javascripts 
            'js/jquery/jquery-1.8.2.js'
            'js/jquery/jquery-ui-1.9.0.custom.js'
            'js/bootstrap.min.js'
			'bundles/helper/js/Common.js'
			output='js/compiled-institution.js'
        %}
        
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
           {#<link href="/css/jquery-ui/base/jquery-ui-1.9.1.custom.min.css" rel="stylesheet"/> #}
            {% stylesheets
                'css/bootstrap.min.css'
				'css/institution/style.css'
				output='css/compiled-institution.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet"/>
            {% endstylesheets %}
         <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    </head>
    <body>
    {% block body %}{% endblock %}
    
        <script type="text/javascript">
        (function(){
            $(function(){
                HCA.init({
                    tinymceConfig: {
                        textarea_class: "{{ tinymce.textarea_class }}",
                        themeSimple: $.parseJSON('{{ tinymce.theme.simple|json_encode|raw }}'),
                        themeMedium: $.parseJSON('{{ tinymce.theme.medium|json_encode|raw }}'),
                        themeBbCode: $.parseJSON('{{ tinymce.theme.bbcode|json_encode|raw }}'),
                        themeAdvanced: $.parseJSON('{{ tinymce.theme.advanced|json_encode|raw }}')
                    }
    
                });
            });
        })(jQuery);
        </script>
    </body>

    {{ tinymce_init() }}
</html>