<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% javascripts 
			'js/jquery/jquery-1.7.2.min.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.core.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.widget.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.position.js'
			'js/jquery/jquery-ui-1.8.21.custom/jquery.ui.autocomplete.js'
        %}
        	<script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        
        {% block stylesheets %}
        	<link href="{{ asset('css/jquery-ui/base/jquery.ui.all.css') }}" rel="stylesheet"/>
        	
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}{% endblock %}
                </div>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
    
    		<section class="sidebar">
    			{% block sidebar %}
					{% render 'ListingBundle:ListingSearch:showForm' %}  			
    			{% endblock %}
    		</section>

            <div id="footer">
                {% block footer %}
                    Copyright <a href="{{ path('main_homepage') }}">www.HealthCareAbroad.com</a>
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
