<!DOCTYPE html>
<html lang="en">
    <head>
        {% set page_meta_configuration = build_frontend_meta_configuration(app.request) %}
        <meta charset="UTF-8">

        <title>{{ page_meta_configuration.title }}</title>
        <meta name="description" content="{{ page_meta_configuration.description }}">
        <meta name="keywords" content="{{ page_meta_configuration.keywords }}">
        <link href="{{ asset('images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

        {% stylesheets 
            'css/jquery-ui/base/jquery-ui-1.10.1.custom.min.css'
            'css/bootstrap.min.css'
            'css/font-awesome.min.css'
            'http://fonts.googleapis.com/css?family=PT+Sans:400,700|Gafata'
            'css/hca-flags.css'
            'css/frontend/hca.css'
            output='css/frontend/compiled-styles.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements and CSS fixes -->
        <!--[if lt IE 9]>
            <script src="/js/html5shiv.js"></script>
            <link href="{{ asset('css/frontend/ie-fixes.css') }}" rel="stylesheet"/>
        <![endif]-->

<!-- JS IMPORTANT NOTE: Please do NOT rearange the include Ordering. It should be:  
            'js/jquery/jquery-1.8.2.js'
            'js/bootstrap.min.js'
            'js/jquery/jquery-ui-1.9.0.custom.min.js'
            'bundles/statistics/js/frontend.js'
        -->        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery-ui-1.10.1.custom.min.js"></script>
        <script type="text/javascript" src="/bundles/helper/js/CustomSelect.js"></script>
        <script type="text/javascript" src="/bundles/statistics/js/frontend.js"></script>
        
       {#-- 
        {% javascripts
            'js/jquery/jquery-1.8.2.js'
            'js/bootstrap.min.js'
            'js/jquery/jquery-ui-1.10.1.custom.min.js'
            'bundles/statistics/js/frontend.js'
            output='js/compiled-frontend.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        -- #}
        
        {#
        <!-- added by acgvelarde: tracking code for MEDtrip.com -->
        #}
        
        <!-- Universal Analytics code: https://developers.google.com/analytics/devguides/collection/analyticsjs/ -->
        {#
        <!-- commented out by acgvelarde: 03/25/2014 -->
        <!-- We will now be using Google Tag Manager -->
        <!-- 
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-49139923-1', 'medtrip.com');
          ga('send', 'pageview');
        
        </script>
         -->
        #}
        
        
        
        {#
        <!-- 
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39024795-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
         -->
         #}

        {#
        <!--
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45188608-2', 'healthcareabroad.com');
          ga('send', 'pageview');
        </script>
        -->
        #}
    </head>


    <body itemscope itemtype="http://schema.org/WebPage">
        
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W3MVP2"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W3MVP2');</script>
        <!-- End Google Tag Manager -->
                
    
        {% block body %}{% endblock %}

        {% block inlineJavascriptCode %}{% endblock %}
        
        {#--- brandfolder script. #598 ---#}
        <script type="text/javascript">var bf_url="healthcareabroad";(function(){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="//d2sdf28wg0skh3.cloudfront.net/bf.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();var brandfoldeOnLoad=function(){if("#brand"==window.location.hash)return Brandfolder.showEmbed({brandfolder_id:bf_url})}</script>
    </body>
</html>