<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" -->

        <title>{% block title %}HealthCareAbroad{% endblock %}</title>
        <link href="{{ asset('images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

        {% block stylesheets %}

            <link href="{{ asset('css/jquery-ui/base/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/frontend/hca.min.css') }}" rel="stylesheet"/>
            <!--<link href="{{ asset('css/frontend/handheld.css?v=1') }}" media="handheld" rel="stylesheet"/>-->

        {% endblock %}

        {#-- added temporary inline styles  --#}
        {% block inlinestyle %}
        <style type="text/css">
		.captcha input{
    		float: left !important;
            margin-right:10px !important;
            width: 100px !important;
		}		
		.captcha img{
            margin-right: 10px;
		}
		.modal .modal-body form select.error {
            border: 1px solid #CC0000;
            margin-bottom: 0;
        }	
    		</style>
        {% endblock %}
       
        {#--
        {% stylesheets 
			'css/jquery-ui/base/jquery-ui-1.10.1.custom.min.css'
			'css/bootstrap.min.css'
			'css/frontend/hca.min.css'
			output='css/compiled-admin.css'
		
			
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}
        -- #}
        <link href="{{ asset('http://fonts.googleapis.com/css?family=Muli') }}" rel="stylesheet"/>
        
<!-- JS IMPORTANT NOTE: Please do NOT rearange the include Ordering. It should be:  
            'js/jquery/jquery-1.8.2.js'
            'js/bootstrap.min.js'
            'js/jquery/jquery-ui-1.9.0.custom.min.js'
            'bundles/statistics/js/frontend.js'
        -->
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery-ui-1.10.1.custom.min.js"></script>
        <script type="text/javascript" src="/bundles/statistics/js/frontend.js"></script>
        
       {#-- 
        {% javascripts
            'js/jquery/jquery-1.8.2.js'
            'js/bootstrap.min.js'
            'js/jquery/jquery-ui-1.10.1.custom.min.js'
            'bundles/statistics/js/frontend.js'
            output='js/compiled-frontend.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        -- #}
        
    </head>


    <body>
        {% block body %}{% endblock %}

        {% block inlineJavascriptCode %}{% endblock %}
    </body>
</html>