{% for class, message in app.session.flashes %}
	{% if class == 'warning' %}
	    {% set msg_color = 'yellow' %}
	{% elseif class == 'error' %}
	    {% set msg_color = 'red' %}
	{% elseif class == 'success' %}
	    {% set msg_color = 'green' %}
	{% elseif class == 'notice' %}
	    {% set msg_color = 'blue' %}
	{% else %}
	    {% set msg_color = 'blue' %}
	{% endif %}

	<div id="message-{{ msg_color }}">
	    <table border="0" width="100%" cellpadding="0" cellspacing="0">
	    <tr>
	    	<td class="{{ msg_color }}-left"> {{ message }} </td>
	    	<td class="{{ msg_color }}-right"><a class="close-{{ msg_color }}"><img src="{{ asset('/images/admin/table/icon_close_'~ msg_color ~'.gif') }}"   alt="" /></a></td>
	    </tr>
	    </table>
	</div>
{% endfor %}
