<div class="admin-sidebar">
	<h3 class="heading">{{ headerTitle is defined ? headerTitle : 'Related Activities' }}</h3>
	{% for section in contents %}
	
		{% set isVisible = section.isVisible is defined ? section.isVisible : true %}

    	{% if isVisible %}
			<div class="section">
				<a class="title {{ section.class is defined ? section.class : '' }}" href="{{ section.href }}">{{ section.title }}</a>
				<p>{{ section.description }}</p>
				<ul class="links">
					{% for link in section.links %}
						{% set isVisible = link.isVisible is defined ? link.isVisible : true %}
						{% if isVisible %}
						    <li>
						        <a class="{{ link.class is defined ? link.class : '' }}" href="{{ link.href }}">{{ link.title is defined ? link.title : 'Click here'}}</a>
					        </li>
				        {% endif %}
		            {% endfor %}
				</ul>
			</div>
		{% endif %}

	{% endfor %}
</div>
