<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />

        <!-- Mobile -->

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {% javascripts
            output='js/compiled-splash.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/frontend/style_splash.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>


    <body>
        <div id="main-wrapper">
    		<h1 id="logo">{{ site_name }}</h1>
    		<h2 id="caption">THE RESOURCE FOR GLOBAL <b>HEALTHCARE</b>
    			<br>
    			A comprehensive, <b>unbiased</b> directory for <b>Medical Tourism</b>
    		</h2>
    		<div id="signup">
    			<span class="signup-heading">Do you want to be notified when we launch {{ site_name }}?</span>
    			
                <form id="newsletterForm" action="{{ path('frontend_newsletter_new') }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                 {{ form_errors(form) }}
                  {{ form_widget(form.email, {attr: {'placeholder':'Enter your email address'}}) }}
                  <button class="btn" id="newsletterButton">Notify Me</button>
                 {{ form_rest(form) }}
    
                </form>
                {% include '::frontend.notice.admin.html.twig' %}
    		</div>
    		<div class="blog-link">
			    For updates and resources on Medical Tourism, please visit our <a href="/blog" class="blog-link">BLOG</a>
		    </div>
    	</div>

    </body>




</html>