<div id="step-holder">
    
    {% for step in steps %}
        {% set isSelected = step.selected is defined and step.selected %}
        <div class="{{ isSelected ? 'step-no' : 'step-no-off' }}">{{ loop.index }}</div>
        <div class="{{ isSelected ? 'step-dark-left': 'step-light-left' }}"> {{ step.title }}</div>
        
        {% if loop.index ==  steps | length %}
            {% if not isSelected %}
                <div class="step-light-round">&nbsp;</div>
            {% endif %}
            
        {% else %}
            <div class="{{ isSelected ? 'step-dark-right' : 'step-light-right' }}">&nbsp;</div>
        {% endif %}    
    {% endfor %}
    
    <div class="clear"></div>
	
</div>