
{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/procedure/js/Tag.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="content-wrapper">

		<h2>Tags</h2>
		<a style="display:inline-block;margin: 10px 0" href="{{ path('admin_tagAdd') }}">add new</a>
		{{ app.session.flash('notice') }}

		<div id="tags-wrapper" style="border: 1px solid #ddd; width: 70%">
		{% for tag in tags %}
			<div class="tags" style="border-bottom: 1px solid #efefef; margin: 10px;">
				<span style="display:inline-block;width:150px">{{ tag.name }}</span>
				<span style="color: #888;"> type: {{ types[tag.type] }}</span>
				<div style="float:right">
					<a id="tag-{{tag.id}}" href="javascript:void(0)" onclick="Tag.updateStatus($(this))">
						{% if tag.status %} deactivate {% else %} activate {% endif %}
					</a> | 
					<a href="{{ path('admin_tagEdit', {id:tag.id}) }}">edit</a> 
				</div>
			</div>
		{% endfor %}
		</div>

	</div>
{% endblock %}