{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'gallery'%}
{#% form_theme form '::form.admin.html.twig' %#}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Media Gallery</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            {# ----- Related tasks ----- #}
            {% include 'MediaBundle:Institution:relatedTasksGallery.html.twig' %}
            {# ----- end Related tasks ----- #}        

                <!--  start table-content  -->
                <div id="table-content" style="width:75%;">
                    {% include '::notice.admin.html.twig' %}

                    <div id="filter-wrapper" style="width: 100%;">
                        <span class="caption">Search</span>
                        <div style="float: left">
                            <input type="text" value="" style="margin-left: 10px; margin-top: 4px;" size="30"/>
                        </div>
                        <div>
                            <label>Media type: </label>
                            <select class="styledselect_form_1">
                                <option value="1">All</option>
                                <option value="2">Images</option>
                                <option value="3">Videos</option>
                                <option value="4">Pdfs</option>
                            </select>
                        </div>
                        <a href="#" class="button-type">GO</a>
                    </div>    			    
    
                    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <div style="float: right;>
                                        <a href="#"><img src="/images/admin/table/paging_far_left.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_left.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_right.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_far_right.gif" ></a>							
                                    </div>																		    			                																
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div style="float: right">
                                        <a href="#"><img src="/images/admin/table/paging_far_left.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_left.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_right.gif" ></a>
                                        <a href="#"><img src="/images/admin/table/paging_far_right.gif" ></a>							
                                    </div>																		    			                								
                                </td>
                            </tr>
                        </tfoot>
                       
                        {% set mediaCount = 0 %}
                        {% for media in institutionMedia %}
                        
                            {% if (loop.index - 1) % 4 == 0 %}
                                {% set mediaCount = 1 %}			
                                <tr>
                            {% else %}
                                {% set mediaCount = mediaCount + 1 %}
                            {% endif %}
                            
                                    <td valign="top">{{ media(media, 'gallery', {'institutionId': institutionId}) | raw }}</td>

                            {% if mediaCount == 4 %}									
                                </tr>
                            {% endif %}
                                
                        {% else %}
                            <tr class="">
                                <td colspan="4" align="center"> {{ app.session.get('institutionName') }} has no media yet. </td>
                            </tr>    
                        {% endfor %}
                        
                    </table>
                </div>
                
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>

<div id="edit-media-form-dialog" title="Edit media" style="display: hidden;">
    <form id="editMediaForm" name="editMediaForm" action="{{ path('media_edit_caption') }}" method="post">
        <label for="caption">Caption</label>
        <input type="text" name="caption" id="caption"  class="text ui-widget-content ui-corner-all" />
    </form>
</div>                        	

<div id="delete-media-dialog" title="Are you sure you want to delete the media?" style="display: hidden;">
    <p><span class="ui-icon ui-icon-alert"></span>The item will be permanently deleted and cannot be recovered. Are you sure?</p>
    <form id="deleteMediaForm" name="deleteMediaForm" action="{{ path('media_delete') }}" method="post">
        <input type="hidden" name="media_id" id="media_id" />
    </form>    
</div>                        	

{% endblock %}
                            
{# TODO: there has to be a better way to load all these #}
{% block inlineJavascriptCode %}

<style type="text/css">
    .fancybox-type-iframe .fancybox-nav {width: 80px;}
    .fancybox-type-iframe .fancybox-nav span {visibility: visible;}
    .fancybox-type-iframe .fancybox-next {right: -80px;}
    .fancybox-type-iframe .fancybox-prev {left: -80px;}
</style>

<script type="text/javascript" src="{{ asset('js/jquery/jquery.mousewheel-3.0.6.pack.js') }}"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/jquery.fancybox.css?v=2.1.0') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/jquery.fancybox.pack.js?v=2.1.0') }}"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.3') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.3') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.3') }}"></script>

<link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.6') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.6') }}"></script>

<script type="text/javascript">
$(document).ready(function() {

    $(".fancybox").fancybox({
        helpers     : { media	: {} },
        margin      : [20, 60, 20, 60]		
    });

    var media_id, media_caption, link; 

    var showMessage = function(parent, message) {
        $message = $('<div style="display:none;">'+ message + '</div>');
        parent.append($message);
        $message.fadeIn('slow', function(){setTimeout(function(){$message.remove()}, 1000)});
    };
    
    $("#edit-media-form-dialog").dialog({
        autoOpen: false,
        resizable: false,
        height: 120,
        width: 300,
        modal: true,
        open: function(event, ui) { 
            //hide close button.
            //$(this).parent().children().children('.ui-dialog-titlebar-close').hide();
            //$(".ui-dialog-titlebar-close", $(this).parent()).hide();
            
            $('#caption').val(media_caption.trim());     
        },
        buttons: {
            "Save": function() {
                $('#editMediaForm').submit();
            },
            Cancel: function() {
                $(this).dialog( "close" );
            }
        }
    });

    $("#delete-media-dialog" ).dialog({
        autoOpen: false,
        resizable: false,
        height: 140,
        width: 300,
        modal: true,
        buttons: {
            "Delete media": function() {
                /*
                TODO: it might be better if we don't do ajax here. e.g. normal form submission or link. 
                */
                $.ajax({
                    url: $('#deleteMediaForm').attr('action') + '/' + media_id,
                    type: 'post',
                    dataType: 'json',
                    success: function(success) {

                        if (!success) {
                            showMessage($('#deleteMediaForm'), 'An error occurred while processing your request.');
                            setTimeout(function(){$("#delete-media-dialog").dialog("close")}, 2000);
                        } else {
                            window.location.reload();
                        }
                        
                    },
                    error: function() {
                        alert('Server error');
                        $("#edit-media-form-dialog").dialog("close");
                    }
                });
                
                $( this ).dialog( "close" );
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
    
    $(".attached-edit-form").click(function() {
        media_id = this.id.substring(12);/*'link_caption'+id*/
        media_caption = this.innerHTML;
        link = this;
        
    $("#edit-media-form-dialog").dialog("open");
        return false;
    });

    $(".attached-delete-form").click(function() {
        media_id = this.id.substring(11);/*'link_delete'+id*/
        $("#delete-media-dialog").dialog("open");
        return false;
    });	


    $('#editMediaForm').submit(function() {
        var caption = $('#caption').val();
        
        $.ajax({
            url: $('#editMediaForm').attr('action'),
            data: {id: media_id, caption: caption},
            type: 'post',
            dataType: 'json',
            success: function(success) {

                if (success) {
                    link.innerHTML = caption;
                    showMessage($('#editMediaForm'), 'Caption updated!');
                    setTimeout(function(){$("#edit-media-form-dialog").dialog("close")}, 2000);
                } else {
                    alert('Application error');
                }
                
            },
            error: function() {
                alert('Server error');
                $("#edit-media-form-dialog").dialog("close");
            }
        });
    
        return false;
    });
});
</script>
{% endblock %}
