{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_centers' %}

{% block content %}

	<div id="content">
	
		<div id="page-heading"><h2>{{ id ? 'Edit' : 'Add' }} Medical Center</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			{% include '::notice.admin.html.twig' %}
			
            {% set contents = [{
					'title': 'View all center types', 
					'description': 'View the list available center types',
					'href': path('admin_medicalCenter_index'), 
					'links': [{'title': 'View all', 'href': path('admin_medicalCenter_index')}]
				}]
            %}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">

				{{ form_row(form.name) }}
				{{ form_row(form.description) }}
				{{ form_rest(form) }}
				
			    <input type="submit" value="Submit" name="submit" class="form-submit"/>
			    <input type="checkbox" name="add-another-center" id="add-another" style="margin-left: 38px;">
			    <label for="add-another" style="width: 200px;color:#555;margin-top:1px;">Add another center after saving</label>
			</form>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}