{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers' %}
{% set selectedSubTab = id ? '' : 'medical_centers_add'%}

{% block content %}

	<div id="content">
		<div id="page-heading"><h1>{{ id ? 'Edit' : 'Add' }} Medical Center</h1></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">

				{{ form_row(form.name) }}
				{{ form_row(form.description) }}
				{{ form_rest(form) }}

			    <input type="submit" class="form-submit"/>
			</form>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}