<!-- 
    NOTE: This template MUST be removed use featuredPosts.html.twig instead! 
    Added by: Adelbert D. Silla
-->

{% if featuredPostsAds %}

<div class="widget-wrapper">
	<div class="widget-content-wrapper articles-type box-shadow">
	    {% for each in featuredPostsAds %}

		    {% if each.externalUrl %}
		        {% set link = each.externalUrl %}
		        {% set target = '_blank' %}
		    {% else %}
		        {% set link = '#' %}
		        {% set target = '' %}
		    {% endif %}

			<article class="article-format">
			    {% if each.media %}
				    <a class="pull-left thumbnail-wrapper" href="{{ link }}" target="{{ target }}">
				        {# media(each.media, each, 'default', {class: 'featured-icon img-circle'}) | raw #}
				        <img src="{{ advertisement_media_src(each.media) }}" class="featured-icon img-circle">
			        </a>
				{% endif %}
				<h4 class="title"><a href="{{ link }}" target="{{ target }}">{{ each.title }}</a></h4>
				<p>{{ each.description }}</p>
			</article>
		{% endfor %}
    </div>
</div> <!--End of aside_scrollbar-->

{% endif %}

