{% if featuredClinicsAds %}

<div class="featured-type-wrapper">
	<div class="heading"></div>
	{% for each in featuredClinicsAds %}
	    {% if each.institution and each.institutionMedicalCenter %}
	    
	        {#-- set statistic parameters for this advertisement --#}
	        {% set _impressionStatisticParametersAttribute = get_statistics_parameter_attribute_name() ~ '=' ~ encode_advertisement_impressions_parameters(each)  %}
            {% set _clickThroughStatisticParametersAttribute = get_statistics_parameter_attribute_name() ~ '=' ~ encode_advertisement_clickthrough_parameters(each)  %}
	        {#-----------------------------------------------------#}
	        
	        {#-- BE CAREFUL WHEN MODIFYING ELEMENTS WITH STATS TRACKERS --#}
	        <div class="featured-item box-shadow {{ get_impression_tracker_class() }}"  {{ _impressionStatisticParametersAttribute }} >
    		    {% set clinicUrl = path('frontend_institutionMedicaCenter_profile', {institutionSlug: each.institution.slug, imcSlug: each.institutionMedicalCenter.slug}) %}
    			<div class="content row">
    				<div class="clinic-box">
    					<a href="{{ clinicUrl }}" class="small-logo-wrapper {{ get_clickthrough_tracker_class() }}" {{ _clickThroughStatisticParametersAttribute }} >
    					    {{ render_institution_medical_center_logo(each.institutionMedicalCenter, {attr: {class: 'small', alt: 'clinic logo'}}) | raw }}       				    
    					</a>
    
    					<!-- User Ratings Temporarily Commented -->
                        {# include 'FrontendBundle:Widgets:ratings.html.twig' #}
    
                        <strong>{{ each.institution.city.name }}, {{ each.institution.country.name }}</strong>
    				</div>
    				<div class="description-box">
    				    
				        <a href="{{ clinicUrl }}" class="{{ get_clickthrough_tracker_class() }}" {{ _clickThroughStatisticParametersAttribute }} >
				            <h3>{{ each.title }}</h3>
			            </a>
			            
			            <a href="{{ get_institution_frontend_url(each.institution) }}">
			                <h4>{{ each.institution.name }}</h4>
			            </a>
    					
    					<p>{{ each.description | raw }}</p>
    				</div>

                    {% if each.media %}
					    <div class="hca-sprite thumbnail-frame pull-right">
    				        {{ media(each.media, each, 'default', {class: 'img-polaroid', alt: 'clinic media'}) | raw }}
					    </div>
                    {% endif %}

					<a href="{{ clinicUrl }}" class="btn green {{ get_clickthrough_tracker_class() }} pull-right" {{ _clickThroughStatisticParametersAttribute }}> 
					    <span class="white-icon-search"></span> Learn More 
				    </a>

    			</div>
     			<div class="ad-highlights-wrapper hca-v-sprite stripe-bg green row-fluid">
                    {% set clinicHighlights = json_decode(each.highlights) %}    
                    {% for clinicHighlight in clinicHighlights %}
                        <div class="item-wrapper span6">
                            {% if clinicHighlight.icon %}
                                <img class="img-circle pull-left" src="{{ clinicHighlight.icon.src }}" alt="logo" width="50"/>
                            {% else %}
                                <span class="{{ ad_highlight_placeholder_class(clinicHighlight.type) }} img-circle pull-left default"></span>
                            {% endif %}

                            {% if clinicHighlight.header %}
                                <h5>{{ clinicHighlight.header }}</h5>
                            {% endif %}
                            <span class="title">{{ clinicHighlight.label }}</span>
                        </div>
                    {% endfor %}
    		    </div>
            </div><!--End of featured_item 1-->
	    {% endif %}
		
    {% endfor %}
</div><!--End of featured_wrapper-->

{% endif %}