{% if commonTreatmentsAds %}
    <div class="widget-wrapper">
        <h3 class="widget-heading">Common Treatments</h3>
        <div class="widget-content-wrapper box-shadow">
            {% for each in commonTreatmentsAds %}
        
        	    {% if each.externalUrl %}
        	        {% set link = each.externalUrl %}
                    {% set target = hasSubstr(each.externalUrl, domain_name) ? '' : '_blank' %}
        	    {% else %}
        	        {% set link = each.treatment is defined and each.treatment ? get_treatment_url(each.treatment)  : '' %}
        	        {% set target = '' %}
        	    {% endif %}
    
                <div class="article-format">
                    <a class="pull-left thumbnail-wrapper" href="{{ link }}" target="{{ target }}">
                        {% if (each.media is defined) and each.media %}
                            {# media(each.media, each, 'default', {class: 'featured-icon img-circle'}) | raw #}
                            <img src="{{ advertisement_media_src(each.media) }}" class="featured-icon img-circle">
                        {% else %}
                            <span class="hca-sprite treatment-icon featured-icon img-circle"></span>
                        {% endif %}
                        <!-- <span class="hca-sprite more-icon"></span> -->
                    </a>

                    <h4 class="title"><a href="{{ link }}" target="{{ target }}">{{ each.title }}</a></h4>
                    <p>{{ each.description }}</p>
    
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}