{% if featuredClinicsAds %}

<div class="featured_wrapper">
	<div class="heading">
		<h3>Featured Clinics</h3>
	</div>
	<div id="featured_content">

	{% for each in featuredClinicsAds %}
	    {% if each.institution and each.institutionMedicalCenter %}
	    
	        {#-- set statistic parameters for this advertisement --#}
	        {% set _impressionStatisticParametersAttribute = get_statistics_parameter_attribute_name() ~ '=' ~ encode_advertisement_impressions_parameters(each)  %}
            {% set _clickThroughStatisticParametersAttribute = get_statistics_parameter_attribute_name() ~ '=' ~ encode_advertisement_clickthrough_parameters(each)  %}
	        {#-----------------------------------------------------#}
	        
	        {#-- BE CAREFUL WHEN MODIFYING ELEMENTS WITH STATS TRACKERS --#}
	        <div class="featured_item {{ get_impression_tracker_class() }}"  {{ _impressionStatisticParametersAttribute }} >
    		    {% set clinicUrl = path('frontend_institutionMedicaCenter_profile', {institutionSlug: each.institution.slug, imcSlug: each.institutionMedicalCenter.slug}) %}
    			<div class="general row">
    				<div class="clinic-box">
    					<a href="{{ clinicUrl }}" class="{{ get_clickthrough_tracker_class() }}" {{ _clickThroughStatisticParametersAttribute }} >
    					    {{ render_institution_medical_center_logo(each.institutionMedicalCenter, {attr: {class: 'clinic-logo', alt: 'clinic logo'}}) | raw }}       				    
    					</a>
    
    					<!-- User Ratings Temporarily Commented -->
                        {# include 'FrontendBundle:Widgets:ratings.html.twig' #}
    
                        <div class="location">
                            <strong>{{ each.institution.city.name }}, {{ each.institution.country.name }}</strong>
                        </div>
    				</div>
    				<div class="description-box">
    				    
				        <a href="{{ clinicUrl }}" class="{{ get_clickthrough_tracker_class() }}" {{ _clickThroughStatisticParametersAttribute }} >
				            <h3>{{ each.title }}</h3>
			            </a>
    					
    					<p>{{ each.description | raw }}</p>
    				</div>
    				<div class="thumb-box">
                        {% if each.media %}
    					    <div class="img-background">
        				        {{ media(each.media, each, 'default', {class: 'img-polaroid', alt: 'clinic media'}) | raw }}
    					    </div>
                        {% endif %}
    					<a href="{{ clinicUrl }}" class="btn green {{ get_clickthrough_tracker_class() }}" {{ _clickThroughStatisticParametersAttribute }}> 
    					    <span class="icon-search icon-white"></span> Learn More 
					    </a>
    				</div>
    			</div>
     			<div class="details row-fluid">
                    {% set clinicHighlights = json_decode(each.highlights) %}    
                    {% for clinicHighlight in clinicHighlights %}
                        <div class="span6">
                            <div class="media">
                                {% if clinicHighlight.icon %}
                                    <img class="media-object img-circle pull-left" src="{{ clinicHighlight.icon.src }}" alt="logo" width="50"/>
                                {% else %}
                                    {% if clinicHighlight.type == 3 %}
                                        <img alt="clinic logo" src="{{ imageplaceholder.doctorIcon }}" class="media-object img-circle pull-left">
                                    {% else %}
                                        <span class="{{ ad_highlight_placeholder_class(clinicHighlight.type, 'green') }} media-object img-circle pull-left"></span>
                                    {% endif %}
                                {% endif %}
    
                                <div class="media-body">
                                    {% if clinicHighlight.header %}
                                        <h5 class="media-heading">{{ clinicHighlight.header }}</h5>
                                    {% endif %}
                                    <p>{{ clinicHighlight.label }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
    		    </div>
            </div><!--End of featured_item 1-->
	    {% endif %}
		
    {% endfor %}
	</div><!--End of featured_content-->
</div><!--End of featured_wrapper-->

{% endif %}