{% set daysArr = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}

{% set arrBusinessHours = json_decode(institutionMedicalCenter.businessHours) %}
{% if not arrBusinessHours %}
    {% set arrBusinessHours = {
            'Sunday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"},
            'Monday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"},
            'Tuesday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM" },
            'Wednesday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"},
            'Thursday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"},
            'Friday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"},
            'Saturday' :{"isOpen": "","notes": "","from": "08:15 AM", "to": "07:00 PM"}
            }
    %}
{% endif %}
<div id="clinicHoursTable" >
    <table border="1" cellpadding="0" cellspacing="0" class="table table-striped table-bordered clinichours" id="businessHours-table">
        <tr>
            <th class="minwidth-1"> <a href="#">Days of the Week</a></th>
            <th class="minwidth-1"> <a href="#">From</a></th>
            <th class="minwidth-1"> <a href="#">To</a></th>
            <th class="minwidth-1" style="width:22px;"> <a href="#">Is Closed</a></th>
            <th class="minwidth-1" style="width:22px;"> <a href="#">Is Open 24hrs</a></th>
        </tr>
        <input class="imcId" name="imcId" id="imcId" value="{{ institutionMedicalCenter.id }}"  type="hidden"/>
        {% for i, day in daysArr %}
            <tr>
                <td align="center">{{ day }}</td>
                <td align="center">
                    {% if arrBusinessHours[day] is not defined %}
                        <input class="hour" name="businessHours[{{day}}][from]" disabled id="businessHours[{{day}}][from]" value="" />
                    {% elseif arrBusinessHours[day].isOpen is defined and arrBusinessHours[day].isOpen == 1 %}
                        <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value=" 8:00 AM" disabled/>
                    {% else %}
                        <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value="{{ arrBusinessHours[day].from}}" />
                    {% endif %}
                </td>
                <td  align="center">
                    {% if arrBusinessHours[day] is not defined %}
                        <input class="hour" name="businessHours[{{day}}][to]" disabled id="businessHours[{{day}}][to]" value="" />
                    {% elseif arrBusinessHours[day].isOpen is defined and  arrBusinessHours[day].isOpen == 1 %}
                        <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value=" 8:00 AM" disabled />
                    {% else %}
                         <input class="hour" name="businessHours[{{day}}][to]" id="businessHours[{{day}}][to]" value="{{ arrBusinessHours[day].to }}" />
                    {% endif %}
                </td>
                <td align="center">
                    {% if arrBusinessHours[day] is not defined %}
                        <label><input checked="checked" type="radio" class="is_close_checkbox" name="isOpenOption{{day}}" />Closed</label></td>
                    {% elseif arrBusinessHours[day].isOpen is not defined or arrBusinessHours[day].isOpen is sameas("") %}
                        <label><input type="radio" class="is_close_checkbox" name="isOpenOption{{day}}" />Closed</label></td>
                    {% else %}
                        <label><input type="radio" checked="checked" class="is_close_checkbox" name="isOpenOption{{day}}" />Closed</label></td>
                    {% endif %}
                </td>
                <td align="center">
                    {% if arrBusinessHours[day] is not defined %}
                        <label><input type="radio" class="is_open_checkbox" name="isOpenOption{{day}}" />Open 24hrs</label></td>
                    {% elseif arrBusinessHours[day].isOpen is not defined or arrBusinessHours[day].isOpen is sameas("") %}
                        <label><input type="radio" class="is_open_checkbox" name="isOpenOption{{day}}" />Open 24hrs</label></td>
                    {% else %}
                        <label><input checked="checked" type="radio" class="is_open_checkbox" name="isOpenOption{{day}}" />Open 24hrs</label></td>
                    {% endif %}
                    <input type="hidden" class="is_open" name="businessHours[{{day}}][isOpen]" id="businessHours[{{day}}][isOpen]" />
                </td>
            </tr>
            <tr>
               <td></td>
               <td colspan="5">Notes:
                    {% if arrBusinessHours[day] is not defined %}
                       <textarea name="businessHours[{{day}}][notes]" id="businessHours[{{day}}][notes]" class="businessHourNotes" style="width: 684px; height: 41px;" disabled></textarea>
                    {% elseif arrBusinessHours[day].notes is not defined %}
                        <textarea name="businessHours[{{day}}][notes]" id="businessHours[{{day}}][notes]" class="businessHourNotes" style="width: 684px; height: 41px;"></textarea>
                    {% else %} 
                        <textarea name="businessHours[{{day}}][notes]" id="businessHours[{{day}}][notes]" class="businessHourNotes" style="width: 684px; height: 41px;">{{ arrBusinessHours[day].notes }}</textarea>
                    {% endif %}
               </td>
            </tr>
         {% endfor %}
    </table>
<input type="submit" id="saveBusinessHours" name="submit" value="Submit" class="btn btn-large btn-primary" />
</div>
