
{% set _commonDeleteCsrfTokenWidget = form_widget(commonDeleteForm._token) %}
<div id="doctors" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
        Doctors
        <a class="btn btn-mini pull-right" href="{{ path('admin_doctor_add') }}" target="_blank">
            <i class="icon-plus"></i> Add HCA Data Doctor
        </a>
    </h5>
    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none">
        <form novalidate="novalidate" method="POST" class="basic-form" style="position: relative;">
            {{ form_errors(institutionMedicalSpecialistForm) }}
            <label style="color: #999; font-size: 14px; left: 150px; position: absolute;top: 0;">
                (last name and first name)
            </label>
            {{ form_row(institutionMedicalSpecialistForm.firstName) }}
            <img style="display:none; margin:-35px 379px 0 0;" id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" />
            {{ form_row(institutionMedicalSpecialistForm.id) }}
            {{ form_rest(institutionMedicalSpecialistForm) }}
        </form>
        
        <table class="table table-striped table-bordered specialist_table">
            <thead>
                <tr>
                    <th>Medical Specialist</th>
                    <th>Specializations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
             {% for doctor in institutionMedicalCenter.doctors %}
                <tr id="doctor_id_{{ doctor.id }}">
                    <td>{{ doctor.lastName|title|escape }}, {{ doctor.firstName|title|escape }} {{ doctor.middleName|title|escape }} - {{ doctor.id }}</td>
                    <td>
                        {% if doctor.specializations|length %}
                            {{ doctor_specializations_to_string(doctor) }}
                        {% else %}
                            No Specializations yet
                        {% endif %}
                    </td>
                    <td>
                        <div class="post-toolbar  treatment_action">
                            <a href="{{ path('admin_doctor_edit', {idId: doctor.id}) }}" target="_blank"><i class="icon-edit" title="edit"></i> Edit</a> | 
                            <a href="{{ path('admin_institution_medicalCenter_ajaxRemoveMedicalSpecialist', {institutionId: institution.id, imcId: institutionMedicalCenter.id, doctorId: doctor.id} )}}" data-doctorId="{{doctor.id}}" data-modalId="#_specialistModal" data-doctorName="{{ doctor.firstName |title |escape }} {{ doctor.lastName |escape }}" class="_removeDoctor" title="" role="button" data-toggle="modal"><i class="icon-trash" title="Delete"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>