<div id="awardsAccordion" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
      GlobalAwards / Certifications
    </h5>
    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
    <form action="{{ path('admin_institution_medicalCenter_addGlobalAwards', { 'institutionId': institution.id,'imcId':institutionMedicalCenter.id}) }}" method="POST" >
                    
        <div id="awards">
            {{ form_label(form.awards_selector) }}
            {{ form_widget(form.awards_selector) }}
            
            <table class="table table-striped table-bordered awards_table">
                <thead>
                    <tr>
						<th>Awards</th>
						<th>Actions</th>
					</tr>
                </thead>
				<tbody>
					<tr style="display:none;" class="loader"><td colspan="2">Loading...</td></tr>
					{% for _award in currentGlobalAwards.award %}
					    {% include 'InstitutionBundle:MedicalCenter:tableRow.globalAward.html.twig' with {'award': _award.global_award, 'medical_center_property': _award.medical_center_property} %}
					{% endfor %}
				</tbody>
			</table>
        </div>
        
        <div id="certifications">
            {{ form_label(form.certifications_selector) }}
            {{ form_widget(form.certifications_selector) }}
            
            <table class="table table-striped table-bordered certificates_table">
                <thead>
                    <tr>
						<th>Certifications</th>
						<th>Actions</th>
					</tr>
                </thead>
				<tbody>
					<tr style="display:none;"  class="loader"><td colspan="2" >Loading...</td></tr>
					{% for _award in currentGlobalAwards.certificate %}
					    {% include 'InstitutionBundle:MedicalCenter:tableRow.globalAward.html.twig' with {'award': _award.global_award, 'medical_center_property': _award.medical_center_property} %}
					{% endfor %}
				</tbody>
			</table>
        </div>
        
        <div id="affiliations">
            {{ form_label(form.affiliations_selector) }}
            {{ form_widget(form.affiliations_selector) }}
            
            <table class="table table-striped table-bordered affiliations_table">
                <thead>
                    <tr>
						<th>Affilliations</th>
						<th>Actions</th>
					</tr>
                </thead>
				<tbody>
					<tr style="display:none;"  class="loader"><td colspan="2">Loading...</td></tr>
					{% for _award in currentGlobalAwards.affiliation %}
					    {% include 'InstitutionBundle:MedicalCenter:tableRow.globalAward.html.twig' with {'award': _award.global_award, 'medical_center_property': _award.medical_center_property} %}
					{% endfor %}
				</tbody>
			</table>
        </div>
        
        {{ form_widget(form._token) }}
        
        <div class="clearfix"></div>
	    
	    <div class="pull-left">
            <button class="btn btn-info previous_button" type="button">Previous</button>
        </div>
	    
	    <div class="pull-right">
            <button class="btn btn-info next_button" type="button">Next</button>
        </div>
    </form>
    {% for global_award in global_awards %}
            <div style="margin-top: 10px">
           {{ global_award.name | title }}
            <a href="{{ path('admin_institution_medicalCenter_updateGlobalAwards', {institutionId: institution.id, imcId: institutionMedicalCenter.id , global_awardId: global_award.id}) }}" style="float:right"><i class="icon-remove"></i></a>
        </div>

    {% endfor %}
    </div>
</div>