<div id="doctors" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE">
        Doctors
    </h5>
    <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
        <form novalidate="novalidate" method="POST" class="basic-form" >
            {{ form_errors(institutionMedicalSpecialistForm) }}
            {{ form_row(institutionMedicalSpecialistForm.firstName) }}
            
            {{ form_row(institutionMedicalSpecialistForm.id) }}
            {{ form_rest(institutionMedicalSpecialistForm) }}
        </form>
        <table id="medicalSpecialistTable" class="table table-striped table-bordered bootstrap-datatable">
    	    <thead>
                <tr>
    			    <th>Medical Specialist</th>
    				<th>Specializations</th>
    				<th>Actions</th>
    			</tr>
            </thead>
	        <tbody>
             {% for doctor in institutionMedicalCenter.doctors %}
				<tr id="doctor_block_{{ doctor.id}}">
					<td>{{ doctor.lastName |title }}, {{ doctor.firstName |title }}</td>
					<td>
					{% for specialization in doctor.specializations %}
					    {{ specialization.name |title }} 
					    {% if loop.last == false %},{% endif %} 
				    
				    {% else %}
					    No Specializations yet
					{% endfor %}
					</td>
					<td>
						<div class="post-toolbar">
							<i class="icon-trash" title="Delete"></i>
							<a href="{{ path('admin_institution_medicalCenter_ajaxRemoveMedicalSpecialist', {institutionId: institution.id, imcId: institutionMedicalCenter.id, doctorId: doctor.id} )}}" class="removeDoctor" title="" role="button" data-toggle="modal">Delete</a>
						</div>
					</td>
				</tr>
		      {% else %}
    		  	<tr>
    			   <td> No Medical Specialist yet. </td>
    			   <td></td>
    			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>