	<div class="slider_item">					
		<div style="position:relative; overflow:hidden;">
			<a href="#"><img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="Sed ut perspiciatis unde omnis iste natus error sit" />		
			<span class='feature_article_icon'></span>
	                         </a>
			<div class="slider_caption">
				<h2><a href="#">Sed ut perspiciatis unde omnis iste natus error sit</a></h2>
				 <p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->
		
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
				<a href="#">
					<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="Big Buck Bunny (HTML5) faucibus placerat eget at est" />		
					<span class='feature_article_icon'></span>
		  		</a>
			<div class="slider_caption">
				<h2><a href="#">faucibus placerat eget at est</a></h2>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->
	
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
			<a href="#">
				<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="For some men, staying in shape may override body weight" />		
				<span class='feature_article_icon'></span>
			</a>
		<div class="slider_caption">
			<h2><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h2>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			</p>
		</div> <!--End Slider Caption-->
	                </div>
	</div> <!--Slider Item-->
	
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
			<a href="#">
				<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="Despite its early electoral success" />		
				<span class='feature_article_icon'></span>
			 </a>
			<div class="slider_caption">
				<h2><a href="#">Sed ut perspiciatis</a></h2>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->
	
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
			<a href="#">
				<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="Xbox aim to be Ôfuture of TVÕ" />		
				<span class='feature_article_icon'></span>
			</a>
			<div class="slider_caption">
				<h2><a href="#">voluptatem accusantium doloremque laudantium, totam rem aperiam</a></h2>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->
	                        
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
			<a href="#">
				<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="Brazil 2014 will have goal-line technology" />		
				<span class='feature_article_icon'></span>
			</a>
			<div class="slider_caption">
				<h2><a href="#">omnis iste natus error sit voluptatem accusantium doloremque laudantium</a></h2>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->
		
	<div class="slider_item">
		<div style="position:relative; overflow:hidden;">
			<a href="#">
				<img src="{{ asset('images/frontend/demo/slider.png') }}"  alt="BP says Halliburton Ôintentionally destroyed evidence" />		
				<span class='feature_article_icon'></span>
			</a>
			<div class="slider_caption">
				<h2><a href="#">Lorem ipsum</a></h2>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div> <!--End Slider Caption-->
		</div>
	</div> <!--Slider Item-->