
<form novalidate="novalidate" action="{{ path('frontend_send_feedback')}}" method="POST" {{ form_enctype(form) }} id="feedbackForm">
    <div class="alert-error"></div>
    {{ form_errors(form) }}
    <div class="name control-group">
        <label for="{{ form.children.name.vars.id }}">
            <strong>{{ form.children.name.vars.label }}</strong>
        </label>
        {{ form_widget(form.name) }}
    </div>
    <div class="emailAddress control-group">
        <label for="{{ form.children.emailAddress.vars.id }}">
            <strong>{{ form.children.emailAddress.vars.label }}</strong>
        </label>
        {{ form_widget(form.emailAddress) }}
    </div>
    <div class="message control-group ">
        <label for="{{ form.children.message.vars.id }}">
            <strong>{{ form.children.message.vars.label }}</strong>
        </label>
          {{ form_widget(form.message, { 'attr': {'rows': 4} }) }}
            <span class="help-inline"></span>   
    </div>
    {{ form_rest(form) }}    
</form>