<!-- Feedback Modal -->
{% embed 'FrontendBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : 'feedbackHca', 'title': 'We are glad to hear from you.', 'formId': 'feedbackForm'}} %}
    {% block modalBody %}
    <div class="alert-box"></div>
    <form novalidate="novalidate" class="form-horizontal row-fluid" action="{{ path('frontend_send_feedback')}}" method="POST" {{ form_enctype(feedbackForm) }} id="feedbackForm">
        <div class="name control-group">
            <label for="{{ feedbackForm.children.name.vars.id }}" class="span3">
                <strong>{{ feedbackForm.children.name.vars.label }}</strong>
            </label>
            {{ form_widget(feedbackForm.name, {attr: {class: 'span9'}}) }}
        </div>
         <div class="country control-group">
            <label for="{{ feedbackForm.children.country.vars.id }}" class="span3">
                <strong>{{ feedbackForm.children.country.vars.label }}</strong>
            </label>
            <div class="country-select">
            {{ form_widget(feedbackForm.country, {attr: {class: 'span9'}}) }}
            </div>
        </div>
        <div class="emailAddress control-group">
            <label for="{{ feedbackForm.children.emailAddress.vars.id }}" class="span3">
                <strong>{{ feedbackForm.children.emailAddress.vars.label }}</strong>
            </label>
            {{ form_widget(feedbackForm.emailAddress, {attr: {class: 'span9'}}) }}
        </div>
        <div class="message control-group">
            <label for="{{ feedbackForm.children.message.vars.id }}" class="span3">
                <strong>{{ feedbackForm.children.message.vars.label }}</strong>
            </label>
            {{ form_widget(feedbackForm.message, { 'attr': {class: 'span9', 'rows': 5} }) }}
        </div>
        
        <div class="captcha control-group">
            <label for="{{ feedbackForm.children.captcha.vars.id }}" class="span3">
                <strong>{{ feedbackForm.children.captcha.vars.label }}</strong>
            </label>
            <div class="span9">
                {{ form_widget(feedbackForm.captcha) }}
            </div>
        </div>
        {{ form_rest(feedbackForm) }}    
    </form>
    {% endblock %}
    
    {% block footerBody %}
        <button class="btn" data-dismiss="modal" aria-hidden="true"> Cancel </button>
        <button data-loader-text="Processing..."  class="btn btn-primary orange" data-divParent="#feedbackMessage_"  id="modal_feedback_submitButton" >Send Feedback</button>
    {% endblock %}
    
{% endembed %}
