{% set _parameterKeys  = get_broadsearch_parameter_keys() %}
<form class="search-form {{ attr.class is defined ? attr.class : 'broad_search_form' }} form-inline" name="search_box" method="post" action="{{ form_action is defined ? form_action : '#' }}">
    <div class="combo-wrapper">
        <input class="type_in" type="text" name="{{ _parameterKeys.termLabel }}" id="treatment_input_field" placeholder="Specialization or Treatment" autocomplete="off" data-container="#treatments_list" >
        <input type="hidden" name="{{ _parameterKeys.termId }}" id="treatment_id" />
        <div class="combolist-wrapper hide"></div>
        
        <div class="popup treatments">
            <button id="treatments_dropdown_button" class="btn text-left small default btn-pop" type="button">
                <span class="icon-chevron-down"></span>
            </button>
            <div id="treatments_dropdown_menu" role="menu" class="popup-box dropdown-menu"></div>
        </div>
    </div>

    <div class="combo-wrapper">
        <input class="type_in" type="text" name="{{ _parameterKeys.destinationLabel }}" id="destination_input_field" placeholder="City or Country" autocomplete="off" data-container="#destinations_list" data-allow-empty="1">
        <input type="hidden" name="{{ _parameterKeys.destinationId }}" id="destination_id"/>
        <div class="combolist-wrapper hide"></div>
        <div class="popup destinations">
            <button id="destinations_dropdown_button" class="btn text-left small default btn-pop" type="button">
                <span class="icon-chevron-down"></span>
            </button>
            <div role="menu" id="destinations_dropdown_menu" class="popup-box dropdown-menu"></div>
        </div>
    </div>
    
    <button type="submit" class="btn">Search</button>
    {{ render_broad_search_context_parameter() | raw }}
    
</form>



<script type="text/javascript" src="{{ asset('bundles/search/js/widgets.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        {% if form_ajax_submit is defined and form_ajax_submit and form_ajax_submit_handler is defined %}
            $('form.broad_search_form').on('submit', {{ form_ajax_submit_handler }});
        {% endif %}

        {% if destinations is defined %}
        BroadSearchWidget.preloadedDestinations = {{ destinations | raw }};
        {% endif %}
        {% if treatments is defined %}
        BroadSearchWidget.preloadedTreatments = {{ treatments | raw }};
        {% endif %}
        
        BroadSearchWidget
            .setSourceUri('{{ path("frontend_search_ajaxLoadAllSearchOptions") }}')
            .initializeForm($('form.broad_search_form'), {
                treatments: {
                    //'mainInputField': $('input#treatment_input_field'),
                    'dropdownButton': $('#treatments_dropdown_button'),
                    'autocompleteField': $('input#treatment_input_field'),
                    'dropdown': $('#treatments_dropdown_menu'), 
                },
                destinations: {
                    //'mainInputField': $('input#destination_input_field'),
                    'dropdownButton': $('#destinations_dropdown_button'),
                    'autocompleteField': $('input#destination_input_field'),
                    'dropdown': $('#destinations_dropdown_menu')
                }
            });
            
    });
})(jQuery);
//-->
</script>