<form class="span12 search_box  form-inline broad_search_form" name="search_box" method="post" action="{{ path('frontend_search_process') }}">
    <label>Search</label>
    <input type="text" name="treatment_input_field" placeholder="Specialization or Treatment">
    <input type="hidden" name="treatment_id" id="treatment_id" />
    <label>Near</label>
    <input type="text" name="destination_input_field" placeholder="City or Country">
    <input type="hidden" name="destination_id" id="destination_id"/>
    <button type="submit" class="btn">Let's Go</button>
    
    <div class="helper-link">
        <a class="helper treatment-link" href="{{ path('frontend_treatment_list') }}"> View all specializations</a>
        <a class="helper white tiny destination-link" href="{{ path('frontend_destination_list') }}"> View all destinations</a>
        
        <div class="popup treatments row-fluid">
            <button id="treatments_dropdown_button" data-toggle="dropdown" class="search_dropdown_button btn text-left small default btn-pop">
                <span class="icon-chevron-down pull-right"></span>
            </button>
            <div role="menu" class="popup-box dropdown-menu">
                <input id="treatments_autocomplete_field" type="text" class="search-field span12" data-container="#treatments_list" />
                <p class="test">Select a treatment</p>
                <ul id="treatments_list" class="popup-list treatment"></ul>
            </div>
        </div>
        
        <div class="popup destinations row-fluid">
            <button id="destinations_dropdown_button" data-toggle="dropdown" class="btn text-left small default btn-pop">
                <span class="icon-chevron-down pull-right"></span>
            </button>
            <div role="menu" class="popup-box dropdown-menu">
                <input id="destinations_autocomplete_field" type="text" class="search-field span12" data-container="#destinations_list">
                <p class="test">Select a destination</p>
                <ul id="destinations_list" class="popup-list country"></ul>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="{{ asset('bundles/search/js/widgets.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        
        BroadSearchWidget
            .setSourceUri('{{ path("frontend_search_ajaxLoadAllSearchOptions") }}')
            .initializeForm($('form.broad_search_form'), {
                treatments: {
                    'mainInputField': $('input[name="treatment_input_field"]'),
                    'dropdownButton': $('#treatments_dropdown_button'),
                    'autocompleteField': $('#treatments_autocomplete_field')
                },
                destinations: {
                    'mainInputField': $('input[name="destination_input_field"]'),
                    'dropdownButton': $('#destinations_dropdown_button'),
                    'autocompleteField': $('#destinations_autocomplete_field')
                }
            });
            
    });
})(jQuery);
//-->
</script>