{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'global_awards' %}
{% set global_awardsLabel = getClassLabel('global_award') %}

{% block content %}
 	<div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
	<div class="span9">

		{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( form.vars.value.id ? 'Edit ' : 'Add ' ) ~ global_awardsLabel.singular | title ,
                actions: [{link: path('admin_global_award_index'), label: 'View all '~ global_awardsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}
	
		{% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
			<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">

			    {{ form_row(form.type) }}
				{{ form_row(form.name) }}
				{{ form_row(form.details) }}
				{{ form_row(form.awardingBody) }}
				{{ form_row(form.country) }}
				{{ form_row(form.status) }}
				
				{{ form_rest(form) }}

			    <input type="submit" class="btn btn-large btn-primary" name="submit" value="Save"/>
			</form>
	           {% endblock %}
        {% endembed %}
    </div>

{% endblock %}