{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'global_awards' %}
{% set global_awardLabel = getClassLabel('global_award') %}

{% block content %}
 	<div class="span3">
    	{% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
    <div id="content" class="span9">

		{% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: global_awardLabel.plural | title,
                actions: [{link: path('admin_global_award_add'), label: 'Add '~ global_awardLabel.singular | title, 'icon' : 'icon-ok' }] 
            }  
        %}
        
       {% block sectionContent %}
            
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}
                
                <table id="global_award-list" class="table table-bordered sortable-list">
                        <tr>
                            <th id="column-name" width="250"><a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Name</a></th>
                            <th id="column-details" width="350"><a href="{{ app.request.uri }}" class="{{ sortBy == 'details' ? 'sort-' ~ sortOrder : '' }}">Details</a></th>
                            <th id="column-details">Type</th>
                            <th id="column-awardingBody"><a href="{{ app.request.uri }}" class="{{ sortBy == 'awardingBody' ? 'sort-' ~ sortOrder : '' }}">Awarding Body</a></th>
                            <th id="column-country"><a href="{{ app.request.uri }}" class="{{ sortBy == 'country' ? 'sort-' ~ sortOrder : '' }}">Country</a></th>
                            <th class="actions" width="130">Action</th>
                        </tr>
            
                {% for each in global_awards %}
                     
                    <tr>
                        <td>{{ each.name }}</td>
                        <td>{{ each.details }}</td>
                        <td>{{ types[each.type] }}</td>
                        <td>{{ each.awardingBody.name }}</td>
                        <td>{{ each.country.name is defined ? each.country.name : '' }}</td>
                        <td>
                            <ul class="table-action"">
                                <li><a href="{{ path('admin_global_award_edit', { id:each.id } ) }}"> <i class="icon-edit"></i> Edit</a></li>
                                
                                <li>
                                    {% set status = each.status ? {label: 'Deactivate', icon: 'icon-remove'} : {label: 'Activate', icon: 'icon-ok'} %}
                                    <a href="{{ path('admin_global_award_updateStatus', {id: each.id} ) }}" title="" class="update-status">
                                        <i class="{{ status.icon }}"></i> <span>{{ status.label }}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endblock %}
            
        {% endembed %}
        
        {% if pager.isPaginable %}
           {{ paginate(pager, 'admin_global_award_index', app.request.query.all) }}
        {% endif %}
        
    </div>
    
{% endblock %}