{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}
{% block title %}{{ parent() }} Add Doctor {% endblock %}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Add Doctor to {{institution.name}}</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:Doctor:relatedTasks.html.twig' %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content" style="width:70%">

                {% include '::notice.admin.html.twig' %}

                {% include '::stepHolder.base.admin.html.twig' with {
                    steps: [
                        {title: 'Search Doctor', 'selected': true},
                        {title: 'Fill out Doctor Details'},
                        {title: 'Add Doctor', 'selected': false}
                 ]}
                %}

                <form action="{{ path('institution_doctor_fill_data') }}" method="POST" {{ form_enctype(form) }} class="basic-form">

                    {{ form_row(form.firstName) }}
                    {{ form_row(form.id) }}
                    {{ form_rest(form) }}

                    <input type="reset" value="Reset" class="form-reset"/>
                    <input type="submit" name="submit" value="Next" class="green-button" />

                </form>

            </div>
            <!--  end table-content  -->

        {% endblock %}
    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

{% block inlineJavascriptCode %}
<script>
    $(function() {
        function split(val) {
            return val.split( /, \s*/);
        }
        
        function extractLast(term){
            return split(term).pop();
        }
        var searchDoctorsNameUrl = "{{ path('institution_doctor_search') }}";
        $("#institutionDoctorSearch_firstName")
           
            .bind("keydown", function(event) {
                if(event.keyCode === $.ui.keyCode.TAB && $(this).data("autocomplete").menu.active) {
                    event.preventDefault();
                }
                if(event.keyCode == 46 || event.keyCode == 8 ) {
                    $("#institutionDoctorSearch_id").val(0);
                    console.log($("#institutionDoctorSearch_id").val())
                }
                                   
            })
            .autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: searchDoctorsNameUrl,
                        type: 'get',
                        dataType: "json",
                        data: {
                            name_startsWith: request.term
                        },
                        success: function( data ) {
                            response( $.map( data, function( item ) {
                                return {
                                    label: item.firstName +" "+ item.middleName + " " + item.lastName,
                                    value: item.firstName +" "+ item.middleName + " " + item.lastName,
                                    id: item.id
                                }
                            }));
                            
                        }
                    });
                },
                minLength: 1,
                select: function( event, ui ) {
                    $("#institutionDoctorSearch_id").val(ui.item.id);
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
    });
</script>
{% endblock %}
