{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}
{% block title %}{{ parent() }} Add Doctor {% endblock %}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Add Doctor to {{institution.name}}</h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:Doctor:relatedTasks.html.twig' %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content" style="width:70%">

                {% include '::notice.admin.html.twig' %}

                {% include '::stepHolder.base.admin.html.twig' with {
                    steps: [
                        {title: 'Search Doctor', 'selected': true},
                        {title: 'Fill out Doctor Details'},
                 ]}
                %}

                <form novalidate="novalidate" action="{{ path('institution_doctor_fill_data') }}" method="POST" {{ form_enctype(form) }} class="basic-form">

                    {{ form_row(form.firstName) }}
                    <div><div id="institutionSearch" ></div></div>
                    {{ form_row(form.id) }}
                    {{ form_rest(form) }}

                    <input type="reset" value="Reset" class="form-reset"/>
                    <input type="submit" name="submit" value="Next" class="green-button" />
                </form>

            </div>
            <!--  end table-content  -->

        {% endblock %}
    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

{% block inlineJavascriptCode %}
<script>
    function removeDoctor()
    {
        $("#institutionDoctorSearch_id").val(0);
        var div = document.getElementById($("#boxSearch"));
        if (div) {    
            div.innerHtml() = "";
            div.parentNode.removeChild(div);
        }
        $("#boxSearch").remove();
        $("#institutionSearch").empty();
        $('#institutionSearch').attr('disabled', true);
        $("#institutionSearch").hide();                    
        $("#institutionDoctorSearch_firstName").show(); 
        $("#institutionDoctorSearch_firstName").val('');
        placeCaretAtEnd( $("#institutionDoctorSearch_firstName") );
    }
    
    $(function() {
        $("#institutionSearch").hide();
        
        function toggleAlert() {
            var alertDiv = document.getElementById("alert");
            alertDiv.style.display = alertDiv.style.display == "block" ? "none" : "block";
            toggleDisabled(document.getElementById("content"));
        }
        
        function toggleDisabled(el) {
            try {
                el.disabled = el.disabled ? false : true;
            }
            catch(E){}
            
            if (el.childNodes && el.childNodes.length > 0) {
                for (var x = 0; x < el.childNodes.length; x++) {
                    toggleDisabled(el.childNodes[x]);
                }
            }
        }
        
        document.onkeyup = function(event)
        {
            if(event.keyCode == 46 || event.keyCode == 8 ) {
                if( $("#boxSearch").is(":visible") )
                {
                    removeDoctor();
                }   
            }
        }
        function placeCaretAtEnd(el) {
            el.focus();
            if (typeof window.getSelection != "undefined"
                    && typeof document.createRange != "undefined") {
                var range = document.createRange();
                range.selectNodeContents(el);
                range.collapse(false);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
            } else if (typeof document.body.createTextRange != "undefined") {
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(el);
                textRange.collapse(false);
                textRange.select();
            }
        }
       
        function extractLast(term){
            return split(term).pop();
        }
        var searchDoctorsNameUrl = "{{ path('institution_doctor_search') }}";
        $("#institutionDoctorSearch_firstName")
            .bind("keyup", function(event) {
                if(event.keyCode === $.ui.keyCode.TAB && $(this).data("autocomplete").menu.active) {
                    event.preventDefault();
                }
                
                if(event.keyCode == 46 || event.keyCode == 8 ) {
                    $("#institutionDoctorSearch_id").val(0);
                    $("#boxSearch").empty();
                    $("#institutionSearch").innerHTML();
                    $("#institutionSearch").hide();                    
                    $("#institutionDoctorSearch_firstName").show(); 
                }
                
            })
            .autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: searchDoctorsNameUrl,
                        type: 'get',
                        dataType: "json",
                        data: {
                            name_startsWith: request.term
                        },
                        success: function( data ) {
                            response( $.map( data, function( item ) {
                                return {
                                    label: item.firstName +" "+ item.middleName + " " + item.lastName,
                                    value: item.firstName +" "+ item.middleName + " " + item.lastName,
                                    id: item.id
                                }
                            }));
                        }
                    });
                },
                minLength: 1,
                select: function( event, ui ) {
                    $("#institutionDoctorSearch_id").val(ui.item.id);
                    $("#institutionDoctorSearch_firstName").hide();
                    $("#institutionSearch").show();
                    $( "<a/ href='#' id='boxSearch' class='click' onClick='removeDoctor();' return false; >" ).text( ui.item.value ).prependTo( "#institutionSearch" );
                    document.getElementById("institutionSearch").disabled = true;
                    toggleDisabled($("#institutionSearch"));
                    
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
    });
    
</script>
{% endblock %}
