{% embed 'InstitutionBundle:Doctor:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <form novalidate="novalidate" action="{{ path('institution_saveDoctorProfile', {'idId': doctor.id , 'imcId' :institutionMedicalCenter.id}) }}" method="POST" {{ form_enctype(form) }} class="basic-form">
            <!-- start id-form -->
             {{ form_errors(form) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.country) }}
                {{ form_row(form.contactEmail) }}
                {{ form_row(form.contactNumber) }}
                {{ form_rest(form) }}
            <!-- end id-form  -->
   
    {% endblock %}
    
    {% block tabbedContentActionButtons %}
      <div class="clearfix"></div>
    		<button class="btn btn-primary btn-large" >Submit</button>
	      </form>  
    {% endblock %}
    
{% endembed %}