{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}
{% block title %}{{ parent() }} Staff {% endblock %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>{{ app.session.get('institutionName') }} List of Doctors</h1>
    </div>

    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            <table style="width:100%;">
                <tr>
                    <td style="vertical-align: top;width:100%; ">
                        <!--  start table-content  -->
                        <div id="table-content">
                             
                            {% if app.session.hasFlash('notice') %}
                                {% include '::notice.admin.html.twig' with {'class': 'notice', 'message':  app.session.flash('notice') } %}
                            {% endif %}
            
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table" id="staff-list">
                                    <tr>
                                        <th class="table-header-repeat line-left minwidth-1"> <a href="#">Last Name</a></th>
                                        <th class="table-header-repeat line-left minwidth-1"><a href="#">First Name</a></th>
                                        <th class="table-header-repeat line-left minwidth-1"><a href="#">Middle Name</a></th>
                                        <th class="table-header-options line-left"><a href="#">Options</a> </th>
                                    </tr>
                                    
                                    {% set even = false %}
                                    {% for doctor in doctors %}
                                        <tr class="{{ even ? 'alternate-row' : ''}}">
                                            <td>{{ doctor.lastName | title }}</td>
                                            <td>{{ doctor.firstName | title }}</td>
                                            <td>{{ doctor.middleName | title }}</td>
                                            <td class="options-width">
                                                <a href="{{ path('institution_doctor_edit', {'idId': doctor.id }) }}" title="Edit" class="icon-1 info-tooltip"></a>
                                                <a href="#" title="Delete" class="icon-2 info-tooltip"></a>
                                                <a href="#" title="Activate " class="icon-5 info-tooltip"></a>
                                            </td>
                                        </tr>
                                        {% set even = even ? false : true %}    
                                    {% endfor %}
                                    
                                </table>
                                <!--  end staff-list................................... --> 
                                
                          </div>
                          <!--  end table-content  -->
                          
                    </td>
                    <td style="vertical-align: top;width:100%; ">
                        {% include 'InstitutionBundle:Doctor:relatedTasks.html.twig' %}
                    </td>
                </tr>
            </table>
                               
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}