{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'profile'} %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
				<div class="span9">
						<h1><span>Manage Doctor's Profile</span></h1>
						<div class="row">
							<div class="span2">
								<!-- <a href="#">manage profile pic</a> -->
								<a href="#doctorLogo" class="gallerypic" title="" role="button" data-toggle="modal">
					               {% if doctor.media is not sameas(NULL) %}
                                        {{ media(doctor.media, doctor, constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_LOGO'), {alt: 'doctor image'}) | raw }}
                                    {% else %}
                                          <img src="{{ asset('images/institution/image_ph.png') }}" alt="[Gallery Photo]" class="pic" />
                                    {% endif %} 
                                  <span class="image-icon"><img src="{{ asset('images/institution/image-icon.png') }}" width="32" height="32" alt="Zoom" title="Change Profile Photo"></span>
                                </a>
							</div>
							<div class="span7">
								<h2 class="pull-left" id="doctorsFullNameText">{{ doctor.firstName }} {{ doctor.lastName }} </h2>
								<div class="editname">
									<i class="icon-pencil" title="Edit"></i>
									<a href="#doctorsFullName" role="button" data-toggle="modal"><small>Edit</small></a>
								</div>
								<div class="maincontentblock">
									<p> <h5 id="doctorDescriptionText">{{ doctor.details |raw }} </h5>
										<i class="icon-pencil" title="Edit"></i>
										<a href="#biography" role="button" data-toggle="modal">Add Doctor's Biography</a>
									</p>
								</div>
							</div><!-- End span7-->
						</div>
					     <div class="tabbable">
                            <ul class="nav nav-tabs profile_tabs">
                                <li class="active">
                                    <a data-toggle="tab" class="profile_tab_links" href="#doctors">Doctors Profile</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" class="profile_tab_links" href="#specializations">Specialization</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabbed_content">
                                    <div class="progress progress-striped active" style="display:none;">
                                        <div class="bar" style="width: 40%;"></div>
                                    </div>
                                <div id="doctors" class="doctors tab-pane active">
                                    {% include 'InstitutionBundle:Doctor:edit.html.twig' %}
                                </div>
                                <div id="specializations" class="tab-pane"><span>Loading Specializations...</span></div>
                            </div><!-- /.tab-content -->
                        </div>
					</div>
				<!--End of span9-->
			    
			    {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
				<!--End of span3-->
				
			 <!-- Modal Doctor Details -->
			{% include 'InstitutionBundle:Doctor:modal.detailsForm.html.twig' 
			     with { modalId: 'biography', modalTitle: 'Edit Biography'} 
			%} <!-- end Modal Doctor name -->	
				
			 <!-- Modal Doctor name -->
			{% include 'InstitutionBundle:Doctor:modalFullNameDoctorForm.html.twig' 
			     with { modalId: 'doctorsFullName', modalTitle: 'Edit profile name'} 
			%} <!-- end Modal InstitDoctorution name -->
			
		     <!-- Modal Doctor Logo -->
			{% include 'InstitutionBundle:Doctor:editLogoModalForm.html.twig' 
			     with {formId: 'logoModalForm', modalId: 'doctorLogo', modalTitle: 'Upload Logo'} 
			%} <!-- end Modal Doctor Logo -->
			
        {% endblock %}
        
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionDoctor.js') }}" ></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        _url_base = '{{ path("institution_load_tabbed_contents_doctor", {"idId" : doctor.id , "imcId" :institutionMedicalCenter.id}) }}';
    	
        // initialize the tabbed contents
        InstitutionDoctor.setAjaxUrls({
                'loadInstitutionSpecialization': _url_base+'?content=specializations',
            });
        
        InstitutionDoctor.tabbedContentElement = $('#tabbed_content');
        InstitutionDoctor.doctorTabbedContentElement = $("#doctor");
        InstitutionDoctor.specializationTabbedContentElement = $('#specializations');
        InstitutionDoctor.loadTabbedContentsOfMultipleCenterInstitution();        
    });
})(jQuery);
//-->
</script>
{% endblock %}


