
{% block body %}
 <header>
        <h1>Health Care Abroad Administrator Login Page</h1>
</header>

{% if app.session.hasFlash('flash.notice') %}
    <div class="msg-notice">
        {{ app.session.flash('flash.notice') }}
    </div>
{% endif %}

<form action="{{ path('admin_user.login') }}" method="POST" {{ form_enctype(form) }} class="user">
    {{ form_errors(form) }}
    
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    {{ form_rest(form) }}

    <input type="submit" value="Submit" name="login"/>
</form>
{% endblock %}
