{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}
{% set selectedStep = selectedStep is defined ? selectedStep : 'step1' %}
{% set nextButtonLabel = nextButtonLabel is defined ? nextButtonLabel: 'Next' %}
{% set formAction = formAction is defined ? formAction : path('admin_advertisement_addBasicDetail') %}

{% block content %}

	<div id="content">
	
		<div id="page-heading"><h2>Create {{ form.vars.value.typeLabel is defined ? form.vars.value.typeLabel : 'New' }} Advertisement </h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			    {% set contents = [{
                        'title': 'Back to Advertisement Management', 
                        'description': 'Go back to advertisement page',
                        'href': path('admin_advertisement_index'), 
                        'links': [{'title': 'Click here to go back', 'href': path('admin_advertisement_index')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">
                    {% include '::notice.admin.html.twig' %}
				
    				{% include '::stepHolder.base.admin.html.twig' with {
    				    steps: [
                            {title: 'Basic Detail', 'selected': (selectedStep == 'step1')},
                            {title: 'Specific Detail', 'selected': (selectedStep == 'step2')},
                            {title: 'Generate Invoice'},
                            {title: 'Preview', 'selected': false},
                        ]}
                    %}
                    
    				<!-- start form -->
    				<form action="{{ formAction }}" enctype="multipart/form-data" method="post" {{ form_enctype(form) }} class="basic-form">
    
    					{{ form_rest(form) }}
    					
    				    <input type="submit" value="{{ nextButtonLabel }}" class="green-button" name="submit"/>
    				</form>
                </div>
				
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}