{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}
{% set selectedStep = selectedStep is defined ? selectedStep : 'step1' %}
{% set nextButtonLabel = nextButtonLabel is defined ? nextButtonLabel: 'Next' %}
{% set advertisementsLabel = getClassLabel('advertisement') %}

{% block content %}

    <style type="text/css">
        
        .tmp-form input[type=checkbox] {
            margin-top: 4px;
            float: left;
        }
        
        .tmp-form > div > label {
            font-weight: bold;
        }
        
        .tmp-form > div > div {
            /*margin-left: 20px; */
        }

        .tmp-form .default-properties label {
            display: inline-block;
        }

        #advertisement_dateExpiry > select {
            width: 65px;
        }

        #advertisement_dateExpiry > select:first-child {
            width: 80px;
        }
        
    </style>

	<div id="main-content">

	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( 'Add ' ) ~ advertisementsLabel.singular | title ,
                actions: [{link: path('admin_advertisement_index'), label: 'View all '~ advertisementsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}

	{% block sectionContent %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">

    				<!-- start form -->
    				<form novalidate="novalidate" action="{{ formAction }}" enctype="multipart/form-data" method="post" {{ form_enctype(form) }} class="tmp-form">
    				
    				    {{ form_row(form.institution) }}
    				
    				    {{ form_row(form.advertisementType) }}
    				    
    				    {{ form_row(form.title) }}
    				    
    				    {{ form_row(form.description) }}

    				    {% for propertyValue in form.advertisementPropertyValues %}
    				    
                            {{ form_row(propertyValue.advertisementPropertyName) }}
    				    
                            {% set valueObj = propertyValue.get('value') %}
    				        {% if ((valueObj.advertisementPropertyName.name == 'highlight_featured_images') or (valueObj.advertisementPropertyName.name == 'media_id')) and valueObj.value|length %}
    				            <div>
                                    {{ form_label(propertyValue.value) }}
        				            {% for adValueId, media in valueObj.value %} 

        				                {% if valueObj.advertisementPropertyName.name == 'highlight_featured_images' %}
                                            {% if media %}
                    				            <div>
                    				                {{ form_row(propertyValue.value.children['image' ~ loop.index0], {attr: {style: 'display:none;'}} ) }}
                    				                {{ media(media, form.get('data'), 'default', {thumbnail: true, width: 100}) | raw }}
                    				                <a href="{{ path('admin_advertisement_ajaxDeleteImage', {advertisementPropertyValueId: adValueId}) }}" class="remove-image">remove</a>
                    				            </div>
                                            {% else  %}
                                                {{ form_row(propertyValue.value.children[adValueId]) }}
                                            {% endif %}    				                    

        				                {% else %}
                				            <div style="position:absolute; left:450px;">
                				                {{ media(media, form.get('data'), 'default', {thumbnail: true, width: 100}) | raw }}
                				                <!-- a href="{{ path('admin_advertisement_ajaxDeleteImage', {advertisementPropertyValueId: valueObj.id}) }}" class="remove-image">remove</a-->
                				            </div>
                                            {{ form_widget(propertyValue.value) }}
        				                {% endif %}
        				            {% endfor %}
                                </div>
    				        {% else %}
        				        {{ form_row(propertyValue.value) }}
    				        {% endif %}


    				        
    				    {% else %}
    				        <div style="display:none">{{ form_row(form.advertisementPropertyValues) }}</div>    
    				    {% endfor %}
    				    
    				    {{ form_row(form.dateExpiry) }}
    				
    					{{ form_rest(form) }}
    					
    				    <input type="submit" value="Submit" class="btn btn-large btn-primary" name="submit"/>
    				</form>
                </div>
				
          {% endblock %}
        {% endembed %}
    </div>

<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript">
    Location.loadCitiesUrl = "{{ path('helper_loadCities') }}";
    Location.loadNonGlobalCities = true;

    $(function(){
        $('#advertisement_institution, #advertisement_advertisementType').change(function(){
            var institutionId = $('#advertisement_institution').val();
            var advertisementTypeId = $('#advertisement_advertisementType').val();
            if(institutionId != '' && advertisementTypeId != '') {
                window.location = "{{ path('admin_advertisement_add') }}?institutionId="+institutionId+"&advertisementTypeId="+advertisementTypeId;
            }
        });

        $('.remove-image').click(function(){
            var inputElem = $(this).parent().find('input:file');
            var imgElem = $(this).parent().find('img');
            var url = $(this).attr('href');
            $(this).html('removing image...');
            $.post(url, function(result){
                if(result) {
                	imgElem.next().fadeOut(500);
                    imgElem.fadeOut(300, function(){inputElem.show();});
                } else {
                	$(this).html('remove');
                }

            }, 'json');

            return false;
        });

        $('.country-load-cities').change();
    });
</script>
{% endblock %}


