{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set selectedSubTab = '' %}
{% set selectedStep = selectedStep is defined ? selectedStep : 'step1' %}
{% set nextButtonLabel = nextButtonLabel is defined ? nextButtonLabel: 'Next' %}
{% set advertisementsLabel = getClassLabel('advertisement') %}

{% block content %}

    <style type="text/css">
        
        .tmp-form input[type=checkbox] {
            margin-top: 4px;
            float: left;
        }
        
        .tmp-form > div > label {
            font-weight: bold;
        }
        
        .tmp-form > div > div {
            /*margin-left: 20px; */
        }

        .tmp-form .default-properties label {
            display: inline-block;
        }

        #advertisement_dateExpiry > select {
            width: 65px;
        }

        #advertisement_dateExpiry > select:first-child {
            width: 80px;
        }
        
    </style>

	<div id="main-content">

	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( 'Add ' ) ~ advertisementsLabel.singular | title ,
                actions: [{link: path('admin_advertisement_index'), label: 'View all '~ advertisementsLabel.plural | title, 'icon' : 'icon-list' }]
            }
        %}

	{% block sectionContent %}
			
			    <!--  start table-content  -->
                <div id="table-content" style="width:70%">

    				<!-- start form -->
    				<form novalidate="novalidate" action="{{ formAction }}" enctype="multipart/form-data" method="post" {{ form_enctype(form) }} class="tmp-form">
    				
    				    {{ form_row(form.institution) }}
    				
    				    {{ form_row(form.advertisementType) }}
    				    
    				    {{ form_row(form.title) }}
    				    
    				    {{ form_row(form.description) }}

    				    {% for propertyValue in form.advertisementPropertyValues %}

    				        {% if (propertyValue.get('value').advertisementPropertyName.name == 'media_id') and propertyValue.get('value').value %}
    				            <div style="position: absolute; left: 400px;">
    				                <img src="/media/ads/1/thumbnail-{{ propertyValue.get('value').value }}" style="border: 1px solid #ddd; height: 80px">
    				            </div>
    				        {% endif %}

    				        {{ form_row(propertyValue.advertisementPropertyName) }}
    				        {{ form_row(propertyValue.value) }}
    				        
    				    {% else %}
    				        <div style="display:none">{{ form_row(form.advertisementPropertyValues) }}</div>    
    				    {% endfor %}
    				    
    				    {{ form_row(form.dateExpiry) }}
    				
    					{{ form_rest(form) }}
    					
    				    <input type="submit" value="Submit" class="btn btn-large btn-primary" name="submit"/>
    				</form>
                </div>
				
          {% endblock %}
        {% endembed %}
    </div>

<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript">
    Location.loadCitiesUrl = "{{ path('helper_loadCities') }}";
    $(function(){
        $('#advertisement_institution, #advertisement_advertisementType').change(function(){
            var institutionId = $('#advertisement_institution').val();
            var advertisementTypeId = $('#advertisement_advertisementType').val();
            if(institutionId != '' && advertisementTypeId != '') {
                window.location = "{{ path('admin_advertisement_add') }}?institutionId="+institutionId+"&advertisementTypeId="+advertisementTypeId;
            }
        });
    });
</script>
{% endblock %}


