{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}
{% set advertisementLabel = getClassLabel('advertisement') %}
{% block content %}

    <div id="content">

		{% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: advertisementLabel.plural | title,
                actions: [{link: path('admin_advertisement_addBasicDetail'), label: 'Add '~ advertisementLabel.singular | title, 'icon' : 'icon-ok' }] 
            }  
        %}
        
          {% block sectionContent %}
            
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}
                
                    <table id="advertisement-list" class="table table-bordered sortable-list">
                        <tr>
                            <th id="column-title"><a href="{{ app.request.uri }}" class="{{ sortBy == 'title' ? 'sort-' ~ sortOrder : default }}">Title</a></th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Status</th>
                        </tr>
  						
  						{% for each in advertisements %}
  						
	                    <tr>
	                        <td>{{ each.title }}</td>
	                        <td>{{ each.description(30) }}</td>
	                        <td>{{ adTypes[discriminatorMapping[getClass(each)]] }}</td>  
	                        <td>{{ each.status ? 'Active' : 'Inactive' }}</td>
                   		</tr>
               			 {% endfor %}
                </table>
            {% endblock %}
            
        {% endembed %}
        
        {% if pager.isPaginable %}
           {{ paginate(pager, 'admin_advertisement_index', app.request.query.all) }}
        {% endif %}
        
    </div>
    
{% endblock %}