{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'advertisements' %}

{% block content %}

    <div id="content">

        <div id="page-heading"><h2>Advertisment Management</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}

                {% set contents = [{
                        'title': 'Add Advertisement', 
                        'description': 'Create a new advertisement',
                        'class': 'add-icon',
                        'href': path('admin_advertisement_addBasicDetail'), 
                        'links': [{'title': 'Add advertisement', 'href': path('admin_advertisement_addBasicDetail')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
                
                 <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}
                
					<div style="width: 70%">
	                    <table id="advertisement-list" class="generic-table sortable-list" width="100%">
	                    <tr>
	                        <th id="column-title"><a href="{{ app.request.uri }}" class="{{ sortBy == 'title' ? 'sort-' ~ sortOrder : default }}">Title</a></th>
	                       <th>Description</th>
	                        <th>Advertisement Type</th>
	                        <th>Status</th>
	                      
	                    </tr>
	
	                    {% for advertisement in advertisements %}
	                        <tr>
	                            <td>{{ advertisement.title }}</td>
	                            <td>{{ advertisement.description(30) }}</td>
	                            <td>{{ advertisement.typeLabel}}</td>                    
	                            <td>{{ advertisement.status ? 'Active' : 'Inactive' }}</td>
	                           	
	                        </tr>
	                    {% else  %}
	                        <tr><td class="empty-list" colspan="3">No records yet!</td></tr>
	                    {% endfor %}
	                    </table>
	                    
	                    {% if pager.isPaginable %}
	                       {{ paginate(pager, 'admin_advertisent_index', app.request.query.all) }}
	                    {% endif %}
                </div>
                
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}