{% set specializationLabel = getClassLabel('institution_specialization') %}
<div id="specializations" class="treatmentbox">
    <h5 style="padding: 10px; border: 1px solid #EEEEEE" id="clinic_specializations">
        {{ specializationLabel.plural | title }}
        <a href="{{ path('admin_institution_medicalCenter_addSpecialization', {institutionId: institution.id, imcId: institutionMedicalCenter.id}) }}">
            <button class="btn btn-mini pull-right">
                <i class="icon-plus"></i>
                   Add {{ specializationLabel.singular }}
            </button>
        </a>
    </h5>
    <div  class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
    {% for institutionSpecialization in institutionSpecializations %}
        {% set _editSpecializationModalId = 'editspecializationmodal_' ~ institutionSpecialization.id %}
        {% set _editSpecializationUri = path('admin_medicalCenter_ajaxEditSpecialization', {'imcId':institutionMedicalCenter.id, 'isId':institutionSpecialization.id, 'institutionId': institution.id} ) %}
         
           <table id="specialization_block_{{ institutionSpecialization.id }}" class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th colspan="2">{{ institutionSpecialization.specialization.name |title}}
                            <a data-specialization-name="{{ institutionSpecialization.specialization.name }}" class="pull-right btn-delete-institution-specialization btn btn-danger" href="{{ path('admin_medicalCenter_ajaxRemoveSpecialization', {institutionId: institution.id,imcId: institutionMedicalCenter.id, isId: institutionSpecialization.id }) }}" >
                    		    <small>Delete Specialization</small>
                    		    <i class="icon-trash" title="Delete"></i>
                		    </a>
        					<i class="icon-pencil" title=""></i>
        					<a data-target="#{{ _editSpecializationModalId }}" href="{{ _editSpecializationUri }}" onclick="InstitutionSpecialization.showAddTreatmentsForm(this); return false;"><small>Add Treatments</small></a>
                        </th>
        			</tr>
                </thead>
                <tbody id="institution_specialization_treatments_container">
    	            {% include 'AdminBundle:InstitutionSpecialization:list.institutionTreatments.html.twig' %}
    			</tbody>
            </table>
    		
    		<div id="{{ _editSpecializationModalId }}" class="modal add_treatments_modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    		    <div class="modal-header">
    		        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
    		        <h3>Add {{ institutionSpecialization.specialization.name }} treatments</h3>
    		    </div>
    		    <div class="modal-body">
    		        <span class="ajax_loader"><img src="{{ asset('images/institution/loading.gif') }}" /></span>
    		        <div class=" ajax_content_container"></div>
    		    </div>
    		    <div class="modal-footer">
    		        <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
    		        <button onclick="InstitutionSpecialization.submitAddTreatmentsForm(this); return false;" class="btn btn-primary submit_button" disabled="disabled">Submit</button>
    		    </div>
    		</div>
	{% else %}
	<p class="alert alert-warning">
	No specializations yet.
	</p>    
    {% endfor %}
    </div>
    
    <div id="delete_institution_specialization_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="delete_institution_specialization_form" action="#">
    	    <div class="modal-header">
    	        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
    	        <h3>Delete <span class="specialization-name"></span></h3>
    	    </div>
    	    <div class="modal-body">
    	        Are you sure you want to delete <span class="specialization-name"></span>?
    	    </div>
    	    <div class="modal-footer">
    	        <button type="button"data-dismiss="modal" class="btn">Cancel</button>
    	        <button type="submit" class="btn btn-danger" >Delete</button>
    	    </div>
	    </form>
	</div>
</div>