{% embed '::contentWrapper.admin.html.twig' %}
	{% block wrappedContent %}
	    {% set formUrl = app.request.get('impId') == 0 
	        ? path('institution_treatment_addMedicalProcedure_save', {'imptId':imptId} ) 
	        : path('institution_treatment_editMedicalProcedure_save', {'imptId':imptId, 'impId': impId} )
        %}
		<form action="{{ formUrl }}" method="post" {{ form_enctype(form) }} class="basic-form">
			<div>
				<label>Medical Center</label>
				<span class="fixed-value">{{ medicalCenterName }}</span>
			</div>
		
			<div>
				<label>Procedure Type</label>
				<span class="fixed-value">{{ procedureTypeName }}</span>
			</div>
		
			{{ form_row(form.treatmentProcedure) }}
			{{ form_row(form.description) }}
			{{ form_row(form.status) }}
			{{ form_rest(form) }}
		    <input type="submit" class="form-submit" name="submit"/>
		</form>
	{% endblock %}
{% endembed %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    InstitutionMedicalCenter.commonDialog.find('form').submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(result) {
        	if($.isPlainObject(result)) {
        	    window.location = result.redirect_url;
            } else {
            	InstitutionMedicalCenter.commonDialog.html(result);
            	InstitutionMedicalCenter.commonDialog.find('.tinymce').tinymce(HCA.tinymceConfig.themeSimple);
            }
        });

        InstitutionMedicalCenter.commonDialog.html('<div class="ajax-loading">saving request . . .</div>');
        
        return false;
    });
</script>
{% endblock %}