{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_treatments' %}

{% block content %}

	<div id="content">
		<div id="page-heading"><h2>{{ form.vars.value.id ? 'Edit' : 'Add' }} Treatment</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}

			{% block wrappedContent %}
			
			{% include '::notice.admin.html.twig' %}

            {% set contents = [{
					'title': 'View all treatments', 
					'description': 'View the list of treatment',
					'href': path('admin_treatment_index'), 
					'links': [{'title': 'View procedures', 'href': path('admin_treatment_index')}]
				}, 
				{
				    title: 'View version history',
				    href: path('admin_showEditHistory', {'objectId': form.vars.value.id, 'objectClass': base64_encode(getClass(form.vars.value)) }),
				    class: 'view-edit-history-link',
				    description: 'Show all the changes made to this center type content',
				    links: [{class: 'view-edit-history-link', title: 'View history', href: path('admin_showEditHistory', {'objectId': form.vars.value.id, 'objectClass': base64_encode(getClass(form.vars.value)) }) }]
				}]
            %}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			<form novalidate="novalidate" class="basic-form" action="{{ formAction }}" method="post" {{ form_enctype(form) }}>

				{% if form.children.subSpecialization.vars.read_only %}
				    <div>
						{{ form_label(form.subSpecialization) }}
						<span class="fixed-value">{{ form.vars.value.subSpecialization.name }}</span>
					</div>
				{% else %}
				    {{ form_row(form.specialization) }}
				    {{ form_row(form.subSpecialization) }}
				{% endif %}

				{{ form_row(form.name) }}
				{{ form_row(form.status) }}
				
				{{ form_rest(form) }}

			    <input type="submit" value="Save" class="green-button" name="submit"/>
			    <input type="submit" value="Save &amp; Add another procedure" class="green-button" name="submit"/>
				
			</form>
			{% endblock %}

		{% endembed %}
	</div>

{% endblock %}

{% block inlineJavascriptCode %}
	<script src="{{ asset('bundles/log/js/EntityVersionHistory.js') }}"></script>
	<script type="text/javascript">
		$(function(){

		    EntityVersionHistory.setCommonDialog($('#dialog-container'), {});

		    $('a.view-edit-history-link').click(function(){
		        EntityVersionHistory.viewHistory($(this));
		        return false;
		    });

		    $("#treatment_specialization").change(function(event){
			    _id = $(this).val();
			    _subSpecializationEl = $("#treatment_subSpecialization");
			    _subSpecializationEl.attr('disabled', true).html('<option value="0">Loading...</option>');
			    $.ajax({
				    url: '{{ path("admin_specialization_loadAvailableSubSpecializations") }}',
				    data: {id: _id},
				    type: 'get',
				    dataType: 'json',
				    success: function(json){
				        _subSpecializationEl.attr('disabled', false).html(json.html);
				    }
			    });

			    return false;
		    }).change();
		    
		});
	</script>
{% endblock %}