{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'treatments' %}

{% block content %}
    <div id="content">

        {{ app.session.flash('notice') }}
        <div id="page-heading"><h2>List of Treatments</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

            {% include '::notice.admin.html.twig' %}

            {% set contents = [{
                    'title': 'Add treatment',
                    'description': 'Add new treatment',
                    'class': 'add-icon',
                    'href': path('admin_treatment_add', {'subSpecializationId' : subSpecializationId ? subSpecializationId : null } ),
                    'links': [{'title': 'Add treatment', 'href': path('admin_treatment_add', {'subSpecializationId' : subSpecializationId ? subSpecializationId : null } )}]
                }]
            %}

            {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}


            <!-- Render Filter Box -->
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

            {% set sortBy = app.request.get('sortBy') %}
            {% set sortOrder = app.request.get('sortOrder') %}
            {% set default = sortBy | length ? '' : 'sort-asc' %}

            <div style="width:70%">
                <table id="medical-procedure-list" class="table table-bordered sortable-list">
                    <tr>
                        <th id="column-name">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Treatment</a>
                        </th>
                        <th>Details</th>
                        <th id="column-specialization">
                            <a href="{{ app.request.uri }}" class="{# sortBy == 'specialization' ? 'sort-' ~ sortOrder : '' #}">Specialization</a>
                        </th>
                        <th>
                            <a href="{{ app.request.uri }}" class="{# sortBy == 'subSpecializations' ? 'sort-' ~ sortOrder : '' #}">Sub-specialization</a>
                        </th>
                        <th>Status</th>
                        <th width="130">Actions</th>
                    </tr>

                    {% for each in treatments %}
                        {% if each.status %}
                            {% set class = 'icon-remove' %} {% set statusLabel = 'Deactivate' %}
                        {% else %}
                            {% set class = 'icon-ok' %} {% set statusLabel = 'Activate' %}
                        {% endif %}
                        <tr>
                            <td><a href="{{ path('admin_treatment_edit', {id: each.id} ) }}">{{ each.name }}</a></td>
                            <td>{{ each.description | raw }}</td>
                            <td>{{ each.specialization.name }}</td>
                            <td class="procedure-type">
                                <ul style="list-style:none;">
                                    {% for eachSub in each.subSpecializations %}
                                        <li>{{ eachSub.name }}</li>
                                    {% else %}
                                        <li>No sub specialization</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ each.status ? 'Active' : 'Inactive' }}</td>
                            <td align="center">
                                <a href="{{ path('admin_treatment_edit', {id:each.id}) }}" title="Edit"><i class="icon-edit"></i> Edit</a>
                                <br/>
                                <a href="{{ path('admin_treatment_updateStatus', {id:each.id}) }}" title="{{ statusLabel }}" class="update-status">
                                    <i class="{{ class }}"></i> <span>{{ statusLabel }}</span>
                                </a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td class="empty-list" colspan="6">No records yet!</td></tr>
                    {% endfor %}
                </table>

                {% if pager.isPaginable %}
                   {{ paginate(pager, 'admin_treatment_index', app.request.query.all) }}
                {% endif %}
            </div>

            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}