{% if commonTreatments %}

<div class="heading">
    <h3>Common Treatments</h3>
</div>

<div class="aside_wrapper">
    {% for each in commonTreatments %}

	    {% if each.externalUrl %}
	        {% set link = each.externalUrl %}
	        {% set target = '_blank' %}
	    {% else %}
	        {% set link = get_treatment_url(each.treatment) %}
	        {% set target = '' %}
	    {% endif %}
    
    <div class="media">
        <div class="image_preview">
            <a class="pull-left" href="{{ link }}" target="{{ target }}">
                {% if (each.media is defined) and each.media %}
                    {{ media(each.media, each, 'default', {class: 'media-object img-circle'}) | raw }}
                {% else %}
                    <span class="treatment-icon media-object img-circle pull-left"></span>
                {% endif %}
                <span class="more-icon"></span>
            </a>
        </div>
        <div class="media-body">
            <a href="{{ link }}" target="{{ target }}"><h4 class="media-heading" target="_blank">{{ each.title }}</h4></a>
            <p>{{ each.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
