<div class="featured_wrapper">
	<div class="heading">
		<h3>Featured Clinics</h3>
	</div>
	<div id="featured_content">

		<div class="featured_item">
		    {% for each in featuredClinicAds %}
			<div class="general row">
				<div class="clinic-box span2">
					<a href="#">
    				    {% if each.institutionMedicalCenter.logo %}
    				        {{ media(each.institutionMedicalCenter.logo, each.institution, 'default', {class: 'clinic-logo', alt: 'clinic logo'}) | raw }}
    				    {% else %}
    				        <img src="" class="clinic-logo" alt="clinic logo"/>
    				    {% endif %}
					</a>
				    <div class="rating">
				    	<p>USER RATINGS</p>
				    	<ul>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_orange.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
				    		<li><img src="/images/frontend/staricon_grey.png" alt="star"/></li>
				    	</ul>
				    </div>
				</div>
				<div class="description-box span4">
					<a href="#link-to-clinic-page"><h3>{{ each.institutionMedicalCenter.name }}</h3></a>
					<h5>{{ each.institution.city.name }}, {{ each.institution.country.name }}</h5>
					<div>{{ each.institutionMedicalCenter.description | raw }}</div>
				</div>
				<div class="thumb-box span2">
					<div class="img-background">
    				    {% if each.media %}
    				        {{ media(each.media, each, 'default', {class: 'img-polaroid', alt: 'clinic logo'}) | raw }}
    				    {% else %}
    				        <img class="img-polaroid" src="" alt="featured_pic" />
    				    {% endif %}
					</div>
					<button class="btn">Learn More</button>
				</div>
			</div>
 			<div class="details row">
<!--				<div class="span4">
					<div class="media">
						<div class="image_preview">
							<a class="pull-left" href="#"><img class="media-object img-circle" src="/images/frontend/about_icon_green.png" alt="clinic logo"/></a>
						</div>
						<div class="media-body">
							<a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in. And another group of text to make it longer.</p></a>
						</div>
					</div>
				</div>
-->
                {% set doctors = json_decode(each.getHighlightDoctors) %}
                {% for doctor in doctors %}
				<div class="span4">
					<div class="media">
						<div class="image_preview">
						    {% set doctorImage = doctor.media ? '/media/doctors/' ~ doctor.media.name : '' %}
							<a href="#" class="pull-left"><img class="media-object img-circle" src="{{ doctorImage }}" alt="clinic logo"/></a>
						</div>
						<div class="media-body">
						    {% set doctors = json_decode(each.getHighlightDoctors) %}
							<a href="#"><h5 class="media-heading">Dr. {{ doctor.firstName }} {{ doctor.middleName }} {{ doctor.lastName }}</h5></a>
                			<p>
                			    {% for i, specialization in doctor.specializations %}
                			        {{ specialization.name }}{% if i+1 != doctor.specializations | length %}, {% endif %}
                			    {% endfor %}
                			</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
	        {% endfor%}
		</div><!--End of featured_item 1-->

	</div><!--End of featured_content-->
</div><!--End of featured_wrapper-->