
{% if highlight %}

{% set institutionUrl = get_institution_frontend_url(highlight.institution) %}
{% set featuredImages = json_decode(highlight.highlightFeaturedImages) %} 

<div id="highlight"> <!--Highighted Institution-->
	<a href="{{ institutionUrl }}" class="clinic span2 offset6">
        {% if highlight.institution.logo %}
            {{ media(highlight.institution.logo, highlight.institution, 'default', {alt: 'logo', thumbnail: true}) | raw }}
        {% else %}
            <img src="" alt="logo"/>
        {% endif %}
	</a>

    <div class="upper_box row">
        <h3 class="span6">{{ highlight.institution.name }}</h3><br>
        <h5 class="span6">{{ highlight.institution.city.name }}, {{ highlight.institution.country.name }}</h5>
    </div>
	
	
	<div class="row"> <!--Bootstrap carousel-->
		<div class="carousel slide span8" id="feature_carousel">
			<div class="carousel-inner">			
			
			    {% for i, image in featuredImages %}
				<div class="{{ i==0 ? 'active' : '' }} item row">
					<img alt="" src="/media/ads/{{ highlight.institution.id }}/{{ image.name }}" class="span8">
				</div> <!--End of slider_item 1-->
			    {% endfor %}
			</div>
			<div class="nav-pills">
				<a data-to="1" href="#feature_carousel" class="carousel-pills pager-active"><span>&nbsp;</span></a>
				<a data-to="2" href="#feature_carousel" class="carousel-pills"><span>&nbsp;</span></a>
				<a data-to="3" href="#feature_carousel" class="carousel-pills"><span>&nbsp;</span></a>
			</div>
			<a class="btn white feature-btn"> <span class="icon-search icon-orange"></span> Learn More </a>
		</div> <!--End of carousel slide-->
	</div> <!--End of carousel row-->

	<div class="lower_box row">
		<!-- div class="span4">
			<div class="media">
				<span class="about-icon media-object img-circle pull-left"></span>
				<div class="media-body">
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
				</div>
			</div>
		</div -->

		<!-- div class="span4">
			<div class="media">
				<img alt="clinic logo" src="images/frontend/featured_doctor1.png" class="media-object img-circle pull-left">
				<div class="media-body">
					<h5 class="media-heading">Dr. Alex Ponakotanapoulis</h5>
					<p>Some awesome specialties of this doctor.</p>
				</div>
			</div>
		</div-->
		
        {% set doctors = json_decode(highlight.getHighlightDoctors) %}
        {% for doctor in doctors %}
            <div class="span4">
                <div class="media">
                    {% set doctorImage = doctor.media ? '/media/doctors/thumbnail-' ~ doctor.media.name : '' %}
                    <img class="media-object img-circle pull-left" src="{{ doctorImage }}" alt="doctor logo" width="50"/>
                    <div class="media-body">
                        <h5 class="media-heading">Dr. {{ doctor.firstName }} {{ doctor.middleName }} {{ doctor.lastName }}</h5>
                        <p>
                            {% for i, specialization in doctor.specializations %}
                                {{ specialization.name }}{% if i+1 != doctor.specializations | length %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
</div>

<!--This is for the javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#highlight').carousel({
            interval: 5000,
            pause: "hover"
        });
    });
</script>

{% endif %}