<div class="span2">
	<a href="">
	    {% if institutionMedicalCenter.logo %}
	        {{ media(institutionMedicalCenter.logo, institution, 'default') | raw }}
	    {% else  %}
	        <img src="{{ imageplaceholder.clinicLogo }}" class="default" alt="logo" />
	    {% endif %}
	</a>
    
</div>
<div class="span5 address-box">
	<h1>{{ institutionMedicalCenter.name }}</h1>
	<div class="media">
		<div class="pull-left">
			<img src="/images/frontend/address_icon2.png" class="media-object">
		</div>
		<div class="media-body">
		    {% set _institution_medical_center_address = medical_center_complete_address_to_array(institutionMedicalCenter, ['address', 'zipCode']) %}
            {% set _institution_address = medical_center_complete_address_to_array(institutionMedicalCenter, ['city', 'state', 'country']) %}
			<h6>{{ _institution_medical_center_address | join(', ') }}</h6>
			<h4>{{ _institution_address | join(', ') }}</h4>
		</div>
	</div>
	<div class="contact_clinic span6">
    	{% if number %}
    	    <a id="institution-call" href="javascript:void(0)" class="call btn green">Call Us</a>
            <script type="text/javascript">
				$('#institution-call').tooltip({
					title: '<h5><small>Landline: </small>{{ number }}</h5>',
					html: true, delay: 0, animation: true, trigger: 'click'
				});
			</script>
    		
        {% endif %}
    
    	{% if email %}
    		<a href="mailto:{{ email }}" id="email" class="email btn green" title="send email to {{email}}">Email</a>
        {% endif %}
        
    	{% if mainWebsites %}
    		<a href="{{ mainWebsites }}" class="website btn green" target="_blank">Visit Website</a>
        {% endif %}
        
        <!-- Modal InstitutionMedicalCenter Inquiry -->
        	{% include 'FrontendBundle:InstitutionMedicalCenter/Widgets:inquire.imc.html.twig' 
        	     with { modalId: 'modal_imc_inquiry_form', modalTitle: 'Email ' ~ institutionMedicalCenter.name } 
        	%}
       <!-- end Modal InstitutionMedicalCenter Inquiry -->
	</div>
</div>
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/frontend/js/institution.js') }}"></script>
    <script type="text/javascript">
        $('#email').click(function(){
        	$('div#modal_imc_inquiry_form').modal('show');
            return false;
        });
    </script>
{% endblock %}