<div class="span2">
	<a href="">
	    {% if object.logo %}
	        {{ media(object.logo, institution, 'default') | raw }}
	    {% else  %}
	        <img src="" alt="default logo" />
	    {% endif %}
	</a>
    {% include 'FrontendBundle:Widgets:ratings.html.twig' %}
</div>
<div class="span5 address-box">
	<h1>{{ object.name }}</h1>
	<div class="media">
		<div class="pull-left">
			<img src="/images/frontend/address_icon2.png" class="media-object">
		</div>
		<div class="media-body">
			<h6>
                {% for each in address %}
				    {{ each ? each ~ ', ' : '' }}
				{% endfor %}

				{{ institution.zipCode }} 
			</h6>
			<h4>
                {% if institution.city %}
    			    {{ institution.city.name }},  
    			{% endif %} 
    			{{ institution.country.name }}
			</h4>
		</div>
	</div>
	<div class="contact_clinic span6">
    	{% if number %}
    		<a href="tel:{{ number }}" class="call btn green">Call Us</a>
        {% endif %}
    
    	{% if email %}
    		<a href="mailto:{{ email }}" class="email btn green" title="send email to {{email}}">Email</a>
        {% endif %}
        
    	{% if mainWebsites %}
    		<a href="{{ mainWebsites }}" class="website btn green" target="_blank">Visit Website</a>
        {% endif %}
	</div>
</div>