{% embed 'FrontendBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle, 'formId': formId}} %}
    {% block modalBody %}
    <div class="alert-box"></div>
    <form class="form-horizontal" {{ form_enctype(form) }} action="{{ path('frontend_institutionMedicaCenter_ajaxSaveImcInquiry', {institutionId : institution.id, imcId: institutionMedicalCenter.id}) }}" id="{{formId}}" method="POST">
        <div class="inquirer_name control-group row-fluid">
            <label for="{{ form.children.inquirer_name.vars.id }}">
                <strong>{{ form.children.inquirer_name.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirer_name) }}
            <span class="help-inline"></span>    
        </div>
        
        <div class="inquirer_email control-group row-fluid">
            <label for="{{ form.children.inquirer_email.vars.id }}">
                <strong>{{ form.children.inquirer_email.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirer_email) }}
            <span class="help-inline"></span>    
        </div>
        
        <div class="message control-group row-fluid">
            <label for="{{ form.children.message.vars.id }}">
                <strong>{{ form.children.message.vars.label }}</strong>
            </label>
            {{ form_widget(form.message, { 'attr': {'rows': 4} }) }}
        </div>
        
        <div class="captcha control-group row-fluid">
            <label for="{{ form.children.captcha.vars.id }}">
                <strong>{{ form.children.captcha.vars.label }}</strong>
            </label>
            {{ form_widget(form.captcha, { 'attr': {'rows': 4} }) }}
        </div>
        {{ form_rest(form) }}
                            	                        	
    </form>
    {% endblock %}
    {% block footerBody %}
        <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
        <button data-loader-text="Processing..." id="modal_imc_inquiry_submitButton" class="btn btn-primary orange">Send Message</button>
    {% endblock %}
{% endembed %}