{% embed 'FrontendBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle, 'formId': formId}} %}
    {% block modalBody %}
    <div class="alert-box"></div>
    <form class="form-horizontal row-fluid" {{ form_enctype(form) }} action="{{ path('frontend_institutionMedicaCenter_ajaxSaveImcInquiry', {institutionId : institution.id, imcId: institutionMedicalCenter.id}) }}" id="{{formId}}" method="POST">
        <div class="inquirerName control-group">
            <label for="{{ form.children.inquirerName.vars.id }}" class="span3">
                <strong>{{ form.children.inquirerName.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirerName, {attr: {class: 'span9'}}) }}    
        </div>
        <div class="country control-group">
            <label for="{{ form.children.country.vars.id }}" class="span3">
                <strong>{{ form.children.country.vars.label }}</strong>
            </label>
            {{ form_widget(form.country, {attr: {class: 'span9'}}) }}
        </div>
        <div class="inquirerEmail control-group">
            <label for="{{ form.children.inquirerEmail.vars.id }}" class="span3">
                <strong>{{ form.children.inquirerEmail.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirerEmail, {attr: {class: 'span9'}}) }}    
        </div>
        
        <div class="message control-group row-fluid">
            <label for="{{ form.children.message.vars.id }}" class="span3">
                <strong>{{ form.children.message.vars.label }}</strong>
            </label>
            {{ form_widget(form.message, {attr: {rows: 5, class: 'span9'} }) }}
        </div>
        
        <div class="captcha control-group">
            <label for="{{ form.children.captcha.vars.id }}" class="span3">
                <strong>{{ form.children.captcha.vars.label }}</strong>
            </label>
            <div class="span9">
                {{ form_widget(form.captcha) }}
            </div>
        </div>
        {{ form_rest(form) }}
                            	                        	
    </form>
    {% endblock %}
    {% block footerBody %}
        <button id="_closeBtnTrigger" aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
        <button data-loader-text="Processing..." id="modal_imc_inquiry_submitButton" class="btn btn-primary orange">Send Message</button>
    {% endblock %}
{% endembed %}