{% if specializations | length %}

    {% embed 'FrontendBundle:Embed:profileSection.html.twig' with {title: 'Specializations', class: 'specializations'} %}
        {% block sectionContent %}
        {# {% for each in specializations %}
            <div class="media">
                 <div class="thumbnail-wrapper img-polaroid pull-left">
                     <span class="hca-sprite clinic-default-logo mini"></span>
                 </div>
                 <div class="media-body">
                     <h4>{{ each.specialization.name }}</h4>
                    {% set _groupedTreatments = group_treatments_by_subspecialization(each.treatments) %}

                    {% for _subName, _groupedData in _groupedTreatments %}
                        {% if _groupedData.treatments | length %}
                        <div class="media">
                            {% if _groupedData.subSpecialization is defined and _groupedData.subSpecialization | length%}
                            <h5>{{ _groupedData.subSpecialization.name }}</h5>
                            {% else %}
                            <h5>Other Treatments</h5>
                            {% endif %}
                            <span><i class="icon-medkit pull-left"></i></span>
                            <div class="media-body">
                                <p>
                                    {% for treatment in _groupedData.treatments %}
                                        {{ treatment.name }},&nbsp;
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                 </div>
            </div>
    	{% endfor %} #}
        <div class="specializations-list-wrapper">
            <ul>
            {% for each in specializations %}
                <li class="specialization">
                    <span class="thumbnail-wrapper ph-cardiology default img-polaroid pull-left"></span>
                    <a>{{ each.specialization.name }}</a>
                    {% set _groupedTreatments = group_treatments_by_subspecialization(each.treatments) %}
                    <ul class="sub-specialization">
                    {% for _subName, _groupedData in _groupedTreatments %}
                        {% if _groupedData.treatments | length %}
                            {% if _groupedData.subSpecialization is defined and _groupedData.subSpecialization | length%}
                            <li>
                                <a>{{ _groupedData.subSpecialization.name }}</a>
                                <ul class="treatment">
                                    {% for treatment in _groupedData.treatments %}
                                    <li>
                                        <a>{{ treatment.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a>Other Treatments</a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li> 
            {% endfor %}
            </ul>
        </div>
        {% endblock %}
    {% endembed %}

{% endif %}