{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'inquire' %}
{% set selectedSubTab = 'inquire_index'%}

{% block content %}
    <div id="content">

        {{ app.session.flash('notice') }}
        <div id="page-heading"><h1>List of Inquiries</h1></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

            {% include '::notice.admin.html.twig' %}

            <table id="inquiries-list" class="generic-table mid-size">
            <tr>
                <th class="table-header-options actions line-left"><a href="">Inquirer</a></th>
                <th class="table-header-options actions line-left"><a href="">Inquiry Subject</a></th>
                <th class="table-header-options actions line-left"><a href="">Message</a></th>
                <th class="table-header-options actions line-left"><a href="">Email</a></th>
                <th class="table-header-options actions line-left"><a href="">Date Created</a></th>
            </tr>
                
            {% for inquiry in inquiries %}
                <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
                    <td align="center">{{ inquiry.firstName }} {{ inquiry.lastName }}</td>
                    <td align="center">{{ inquiry.inquirySubject.name }}</td>
                    <td align="center">{{ inquiry.message }}</td>
                    <td align="center">{{ inquiry.email }}</td>
                    <td align="center">{{ inquiry.dateCreated|date("m/d/Y") }}</td>
                </tr>
            {% else  %}
                <tr><td class="empty-list" colspan="3">No records yet!</td></tr>
            {% endfor %}
            </table>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}