{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
        <h2 class="page-header">About Us</h2>
        <div class="page-content-wrapper">
            <h4>What We Do</h4>

            <p class="history"><strong>{{ site_name }}</strong> is unlike any company in the medical tourism industry. We provide a targeted high quality marketing channel to reach potential patients directly. We are not a facilitator and we do not charge hospitals and clinics facilitator style fees. Instead we built a comprehensive and unbiased "Forever Free" directory based upon our decades of experience in online marketing, brand building and effective communication channels. </p>
            <h4>Why We Do It</h4>

            <p>We believe that the medical industry is undergoing a renaissance. Patients are becoming better educated, more aware and more mobile, with more treatment options and the willingness and ability to travel further for higher quality, more affordable healthcare. The Medical Tourism industry needs a central source to assist patients in finding high quality information about Medical Tourism, both in terms of the industry as a whole, and of individual facilities and caregivers. Patients are more willing to travel for treatment, but they must be able to learn about those treatments. {{ site_name }} helps educate patients, instil confidence and better prepare them while promoting Medical Tourism. Through our collaborations with hospitals, clinics, and government agencies, we create value for both our clients, your patients, and the Medical Tourism industry as a whole.</p>

            <h4>History</h4>
             <p class="history"><strong>{{ site_name }}</strong> was conceptualized when co-founder Jason was busy building new iterations of his site GoAbroad.com while living and working in Asia for a decade. </p>
            
            <p>During that time he personally experienced the high quality of care while 3 daughters were born at BNH Hospital in Bangkok and had multiple surgeries performed in clinics and hospitals throughout Asia and Europe (Thailand, Philippines, United Kingdom and Spain). </p>
            
            <p>Concurrently, Greg's wife was working at a general practice clinic south of London, where she gave birth to their son.</p>
            
            <p>Driven by their positive personal healthcare experiences and their frustrations in searching for information on the internet they asked "why can't we take the experience learned at GoAbroad.com and apply it towards Global Healthcare?". It seemed impossible that in the early 2010's all the existing sources on the internet were referral and commission based businesses or paid only directories that were incomplete and inaccurate. Given the seismic political changes to healthcare in the west, the business trends towards globalization and the growing numbers of prospective patients who are looking abroad it seemed obvious and logical that a quality internet portal was needed.</p>
            
            <p>For over 14 years, the team behind {{ site_name }} has been creating successful international directories. Building advanced, modern technologies with easy to use web sites the team created a comprehensive directory of unbiased healthcare providers worldwide. Research and planning began in 2011. Design and production continued through 2012. The site was BETA launched in the first quarter of 2013.</p>
            
            <b>Who is behind {{ site_name }}?</b>
            <p>{{ site_name }} is an American corporation based in Colorado and a wholly owned subsidiary of Chromedia Inc. Visit <a href="{{ cfe_site_url }}#who" target="blank">{{ cfe_site_url }}#who </a>to learn about our great team.</p>
            
            <b>Contact us:</b>
            <p>7050 West Custer Avenue<br/>
            Lakewood, Colorado 80226 U.S.A.</p>
            <p>US Office: 720.257.5277<br/>US Fax: 720.230.5431</p>
        </div>
{% endblock %}