{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <h2 class="page-header">Terms of Use </h2>
    <div class="page-content-wrapper">
        <h4>
            PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEB SITE (the
            Site).
        </h4>
        <p class="header-text">
            Thank you for visiting the web site of {{ site_name }}.
        </p>
        <b>
            Your use of the Site constitutes your acknowledgement that you have read,
            that you understand, and that you accept the following Terms of Use. If
            you do not agree to be bound by these Terms of Use then you should stop
            accessing and using the Site.
        </b>
        <p>
            We urge you to review these Terms of Use carefully. {{ site_name }} reserves the right
            to change these Terms of Use at any time by posting changes online. You
            should check back periodically for revisions. Your continued use of the
            Site after changes are posted constitutes acceptance of the modified Terms
            of Use.
        </p>
        <b>
            The Site does not contain Medical Advice
        </b>
        <p>
            {{ site_name }} facilitates travel and related services for patients visiting for
            Medical Treatment. We are not healthcare providers, medical advisors nor
            a medical referral service. {{ site_name }} is a site that provides paid and free listings
            for clinics, hospitals, and organizations around the globe.
        </p>
        <b>
            Copyright Restrictions
        </b>
        <p>
            All of the content available on or through the Site is the property of
            {{ site_name }} and/or its licensors and is protected by copyright, trademark, patent,
            trade secret or other intellectual property law. {{ site_name }} gives you permission
            to display, download, store and print content for your own personal, non-commercial
            use only. Except as expressly permitted herein, you must not reprint or
            electronically reproduce from the {{ site_name }} website any "content" (including
            text, logos, illustrations, photos, sound, scripts, and animation) in whole
            or in part without the prior written permission of {{ site_name }} or the third parties
            authorizing {{ site_name }} to use the copyrights.
        </p>
        <b>
            Risks
        </b>
        <p>
            Travel, both international and domestic, has inherent risks. Travelers
            should evaluate these risks, including, but not limited to, personal safety,
            political climate, personal health, and financial and temporal commitments
            before committing to any travel. {{ site_name }} is not responsible for risks related
            to domestic or international travel, including, but not limited to, difference
            in international law and customs; prejudice or preference for or against
            certain genders, races, or ethnicities; or discrimination by foreign or
            domestic providers, businesses, agents, or individuals.
        </p>
        <b>
            Links to Other Sites
        </b>
        <p>
            The Site contains links to third-party web sites. These links are provided
            solely as a convenience to you and not as an endorsement nor understood
            in any manner as a recommendation by {{ site_name }} of the content of such third-party
            web site. If you use these links, you will leave the Site. {{ site_name }} is not responsible
            for the content of the linked third-party sites and does not make any representations
            regarding their privacy practices, any information or product, or the accuracy
            of any materials found on such third-party web sites. Your use of third-party
            web sites is subject to the terms of use of such sites. If you decide to
            access any third-party web site linked to this Site, you do so entirely
            at your own risk.
        </p>
        <b>
            Accuracy of information
        </b>
        <p>
            While {{ site_name }} makes reasonable efforts to ensure that content that it provides
            on the Site is accurate at the time provided, {{ site_name }} makes no representation
            or warranty about the accuracy of the content. The information may be out
            of date at the time of your access or could also include technical inaccuracies
            or typographical errors. We are not liable for any error or omission in,
            or any failure to update the Site content. The website content has not
            been reviewed, approved or compiled by any medical professional. Neither
            is the website content based on feedback from medical expert or experts.
            Decisions made based on the information on the Site are the sole responsibility
            of the visitor.
        </p>
        <p>
            Some of the content is supplied to us by "Third Party" providers like
            Airlines, Hotels, Travel Services, and Medical Services providers. We make
            reasonable efforts to keep Third Party information updated, however we
            are not responsible for its accuracy.
        </p>
        <b>
            Termination
        </b>
        <p>
            {{ site_name }} may terminate or suspend access to the Site at any time, for any reason,
            or for no reason at all. {{ site_name }} has the right to refuse to provide access
            to the Site to any individual, agency, or organization, or to prohibit
            any individual, agency or organization from using the Site.
        </p>
        <b>
            Jurisdiction
        </b>
        <p>
            You expressly agree that exclusive jurisdiction for any dispute with {{ site_name }},
            or in any way relating to your use of the {{ site_name }} Site, resides in the courts
            of the State of Colorado and you further agree and expressly consent to
            the exercise of personal jurisdiction in the courts of the State of Colorado
            in connection with any such dispute including any claim involving {{ site_name }} employees
            or officers.
        </p>
        <b>
            Disclaimers
        </b>
        <p>
            ACCESS TO THE SITE AND THE INFORMATION CONTAINED HEREIN IS PROVIDED "AS
            IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.
            {{ site_name|upper }} DOES NOT WARRANT THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE MATERIALS
            ON THIS SITE AND TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE
            LAW, {{ site_name|upper }} DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED,
            INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, WITH RESPECT TO ANY
            INFORMATION OBTAINED THROUGH THE SITE.
        </p>
        <p>
            WITHOUT LIMITING THE FOREGOING, {{ site_name|upper }} DOES NOT WARRANT THAT ACCESS TO THE
            SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS, IF ANY, WILL
            BE CORRECTED; NOR DOES {{ site_name|upper }} MAKE ANY REPRESENTATIONS ABOUT THE ACCURACY,
            RELIABILITY, CURRENCY, QUALITY, COMPLETENESS, USEFULNESS, PERFORMANCE,
            SECURITY, LEGALITY OR SUITABILITY OF THE SITE OR ANY OF THE INFORMATION
            CONTAINED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND YOUR
            RELIANCE UPON ANY OF ITS CONTENTS IS AT YOUR SOLE RISK.
        </p>
        <p>
            YOU SHALL BE SOLELY AND FULLY RESPONSIBLE FOR ANY DAMAGE TO THE SITE OR
            ANY COMPUTER SYSTEM, ANY LOSS OF DATA, OR ANY IMPROPER USE OR DISCLOSURE
            OF INFORMATION ON THE SITE CAUSED BY YOU. {{ site_name|upper }} CANNOT AND DOES NOT ASSUME
            ANY RESPONSIBILITY FOR ANY LOSS, DAMAGES OR LIABILITIES ARISING FROM THE
            FAILURE OF ANY TELECOMMUNICATIONS INFRASTRUCTURE, OR THE INTERNET OR FOR
            YOUR MISUSE OF ANY OF INFORMATION, ADVICE, IDEAS, ARRANGEMENTS, INSTRUCTIONS,
            OR GUIDELINES ACCESSED THROUGH THE SITE.
        </p>
        <b>
            Limitation of Liability
        </b>
        <p>
            IN THE EVENT THAT YOU ENCOUNTER ANY PROBLEM WITH THIS SITE OR ITS CONTENT,
            YOU AGREE THAT YOUR SOLE REMEDY IS TO CEASE USING THE SITE. UNDER NO CIRCUMSTANCES
            SHALL {{ site_name|upper }} OR ANY {{ site_name|upper }} LICENSOR, PARTNER, AFFILIATE, OR SUPPLIER BE LIABLE
            IN ANY WAY FOR YOUR USE OF THE SITE OR ANY OF ITS CONTENT, INCLUDING, BUT
            NOT LIMITED TO, ANY ERRORS OR OMISSIONS IN ANY CONTENT, ANY INFRINGEMENT
            BY ANY CONTENT OF THE INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS OF THIRD
            PARTIES, OR FOR ANY LOSSES OR DAMAGES OF ANY KIND ARISING DIRECTLY OR INDIRECTLY
            OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE SITE, AND
            ANY WEB SITE LINKED TO THE SITE, OR THE MATERIALS OR INFORMATION CONTAINED
            ON ANY OR ALL SUCH SITES.
        </p>
        <p>
            UNDER NO CIRCUMSTANCES SHALL {{ site_name|upper }} OR ITS LICENSORS, PARTNERS, AFFILIATES,
            SUPPLIERS, OR PROVIDERS BE LIABLE FOR ANY PUNITIVE, EXEMPLARY, CONSEQUENTIAL,
            INCIDENTAL, INDIRECT OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION,
            ANY PERSONAL INJURY, LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS
            OR OTHER DATA ON YOUR COMPUTER OR OTHERWISE) ARISING FROM OR IN CONNECTION
            WITH YOUR USE OF THE SITE, WHETHER UNDER A THEORY OF BREACH OF CONTRACT,
            NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF WE OR THEY HAVE BEEN
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
        <b>
            Indemnity
        </b>
        <p>
            You agree to defend, indemnify, and hold {{ site_name|upper }}, its officers, directors,
            employees, agents, advisors, licensors, and suppliers, harmless from and
            against any claims, actions or demands, injuries (physical or psychological),
            liabilities and settlements including without limitation, reasonable legal
            and accounting fees, resulting from, or alleged to result from your violation
            of these Terms of Use.
        </p>
    </div>
{% endblock %}
