<div class="container">
    <div class="institutionbox-inner">
        <div class="navbar-inner">
            <div class="span6">
                <div class="span3">
                    <div class="photo-group">
                        <div class="institution-logo">
                              {% if institutionMedicalCenter.logo is not sameas(NULL) %}
                                    {{ media(institutionMedicalCenter.logo, institutionMedicalCenter, constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_MEDICAL_CENTER_LOGO'), {alt: 'institution medical center logo'}) | raw }}
                                {% else %}
                                <img id="institution-medical-center-logo-image" alt="institution logo" src="{{ asset('images/institution/institution-logo.gif') }}" />
                            {% endif %}
                        </div>
                        <span class="label photo-label" >
                            <a data-toggle="modal" role="button" id="institution-logo-link" class="gallerypic" data-target="#institutionMedicalCenterLogoModal" href="#"> 
                                <i class="icon-picture"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="span9">
                    <h3>{{ institutionMedicalCenter.name }}</h3>
                    <p>{{ json_decode(institutionMedicalCenter.contactNumber) | join('-') }}</p>
                    <p>{{ json_decode(institutionMedicalCenter.address) | join(' ') }} </p>
                    <p>{{ institution_address_to_array(institution) | join(', ')}}</p>
                </div>
            </div>
            <div class="span6" >
                <a href="{{ path('admin_institution_manageCenters', {'institutionId': institution.id} ) }}" class="pull-right">
                 <i class="icon-list"></i> Back To Clinics
               </a>
            </div>
        </div>
    </div>

</div>

<div id="view_admin_users_modal" class="modal hide fade modal_form_container" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h3>Admin Users</h3>
    </div>
    <div class="modal-body">
        Loading admin users...
    </div>
</div>

<!-- Modal Institution Logo -->
{% include 'AdminBundle:InstitutionTreatments/Modals:modal.institutionMedicalCenter.html.twig'
%} <!-- end Modal Institution name -->

<!-- Old upload logo. TODO: Change this to bootstrap dialog upload.
    {# render 'MediaBundle:Default:addMedia' with {institution: institution, context: constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_LOGO')} #}
-->

<script type="text/javascript">
$(function() {
    
    $('a#view_admin_users_link').click(function(){
        _link = $(this);
        _modal = $('#view_admin_users_modal')
        _modal.modal('show');
        $.ajax({
            url: _link.attr('href'),
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                _modal.find('div.modal-body').html(response.html);
            },
            error: function(response) {
                
            }
        });
        
        return false;
    });
});
</script>