<div class="container">
    <div class="institutionbox-inner">
        <div class="navbar-inner">
            <div class="span6">
                <div class="span3">
                    <div class="photo-group" style="position:relative">
                        <span class="label photo-label" style="position: absolute; right: 0; top: 5px;">
                            <a data-toggle="modal" role="button" id="institution-logo-link" class="gallerypic" data-target="#institutionMedicalCenterLogoModal" href="#"> 
                                <i class="icon-picture"></i>
                            </a>
                        </span>
                        <div>
                              {% if institutionMedicalCenter.logo %}
                                    {% set imageSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MEDIUM') %}
                                    <img alt="" src="{{ institution_media_src(institutionMedicalCenter.logo, imageSize) }}"/>                                
                                    
                                {% else %}
                                <img id="institution-medical-center-logo-image" alt="institution logo" src="{{ asset('images/institution/default_clinic.png') }}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <h3 style="padding:0">{{ institutionMedicalCenter.name }}</h3>
                    <p>{#{ json_decode(institutionMedicalCenter.contactNumber) | join('-') }#}</p>
                    {% set _contactDetails = render_institution_medical_center_contact_details(institutionMedicalCenter) %}
                    {% if _contactDetails is not null %}
                        {% for contactDetail in _contactDetails %}
                            <p> {{ contactDetail.number}} </p>
                        {% endfor %}
                    {% endif %}  
                    <p>{{ institution_address_to_string(institution) }}</p>
                    <a id="view_admin_users_link" href="{{ path('admin_institution_ajaxLoadAdminUsers', {institutionId: institution.id} ) }}" data-target="#view_admin_users_modal">View Admin Users</a>
                </div>
            </div>

            {% if institution.type != 3 %}
            <div class="span6" >
                <a href="{{ path('admin_institution_medicalCenter_index', {'institutionId': institution.id} ) }}" class="pull-right">
                 <i class="icon-list"></i> Back To Clinics
               </a>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<div id="view_admin_users_modal" class="modal hide fade modal_form_container" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h3>Admin Users</h3>
    </div>
    <div class="modal-body">
        Loading admin users...
    </div>
</div>

<!-- Modal Institution Logo -->
{% include 'AdminBundle:InstitutionMedicalCenter/Modals:uploadLogo.html.twig'
%} <!-- end Modal Institution name -->

<!-- Old upload logo. TODO: Change this to bootstrap dialog upload.
    {# render 'MediaBundle:Default:addMedia' with {institution: institution, context: constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_LOGO')} #}
-->

<script type="text/javascript">
$(function() {
    
    $('a#view_admin_users_link').click(function(){
        _link = $(this);
        _modal = $('#view_admin_users_modal')
        _modal.modal('show');
        $.ajax({
            url: _link.attr('href'),
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                _modal.find('div.modal-body').html(response.html);
            },
            error: function(response) {
                
            }
        });
        
        return false;
    });
});
</script>