{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
        <div class="span12">

            <section class="alert alert-info">
                <h2>Welcome to {{ site_name }}!</h2>
                <div class="hca-sub-label">
                    {% if newlySignedup %}
                        Now that patients can find {{ institution.name | title }} on {{ site_name }}, make sure that they find complete and relevant information about what you can offer. 
                       <br>
                        Below are a couple of things that we encourage you to complete:
                    {% else %}
                        We noticed there's information you have not yet provided. Making sure that patients find complete and relevant information about what you can offer is important in establishing your credibility on HealthcareAbroad.
                    {% endif %}
                </div>
            </section>

            {% set _suggestions = render_institution_suggestions(institution) %}
            {% if _suggestions is not empty %}    
            <section class="section row-fluid">
                <h2> Suggestion{{ _suggestions[1] is defined ? 's' : '' }} for your {{ institutionLabel }}
                    <a class="btn btn-primary pull-right" href="{{ path('institution_account_profile') }}">Click Here to Update</a>
                </h2>
                
                <ul class="thumbnails hca-alert-inquiry">
                    {% for suggestion in _suggestions %}
                        <li class="thumbnail hca-alert-inquiry">
                            <p>{{ suggestion.description | raw }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %} 
            
            {% if not isSingleCenter %}
                {% set _centers = render_incomplete_clinic_profile(institution) %}
                {% if _centers is not empty %}
                <section class="section row-fluid">
                    <h2>List of Incomplete Clinic Profile</h2>
                    <ul class="thumbnails hca-alert-inquiry">
                        {% for center in _centers %}
                            <li class="thumbnail hca-alert-inquiry logo-clinic">
                                <div class="pull-left">
                                    {% set logoSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::SMALL') %}
                                    <img id="imcLogo" src="{{ center.logo ? institution_media_src(center.logo, logoSize) :  imageplaceholder.imcDefaultLogo }}" alt="" class="imgborder"/> 
                                </div>

                                <div class="details-inline">
                                    <h3>{{ center.name | title }}</h3>
                                    <p>This clinic doesn't have a 
                                    {% for each in center.fields %}
                                        <span class="hca-blue">{{ each }}</span>
                                    {% endfor %} 
                                </div>
                                <a class="btn btn-primary btn-dashboard pull-right" href="{{ path('institution_medicalCenter_view', {imcId: center.id}) }}">Click Here to Update</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
            {% endif %}
            
            <section class="section row-fluid">
                <h2>Latest Inquiries</h2>
                {% if app.request.session.get('unreadInquiries') is not empty %}
                <table class="table table-hover hca-inquiry">
                    {% for inquiry in app.request.session.get('unreadInquiries') %}
                    <tr>
                        <td><i class="icon-envelope icon-2x hca-earth"></i></td>
                        <td><a href="{{ path('institution_view_inquiry', {id : inquiry.id}) }}">{{ inquiry.inquirerName }}</a></td>
                        <td>{{ inquiry.message }}</td>
                        <td>{{ time_ago_in_words(inquiry.dateCreated) }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td><p>No Inquiries</p></td></tr>
                {% endif %}
                </table>
            </section>
        </div>

        {% endblock %}        
    {% endembed %}
{% endblock %}