{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} Healthcareabroad Error Exception {% endblock %}

{% block content %}
     <div id="content" class="container error-page">
        <div class="pull-left span5">
            <h1>{{ status_code }} </h1>
        </div>
        <div class="span6">
            <h2>
                 {{ status_text }}
            </h2>
            <h3>
                {{ status_text_details }}
            </h3>
        </div>
        <div class="row-fluid span12">
            <div class="row">
             {% if status_code == 500 %} <h3 class="offset4">Please help us fix this for you.</h3> {% endif %}
             {% if referer is not empty %}
                 <div class="row-fluid">
                            <div class="span6">
                                <a href="{{ referer }}" class="btn span8 offset3">
                                     <i class="icon-chevron-left"></i>  PREVIOUS PAGE
                                 </a>
                            </div>
                             <div class="span6">
                                 <a class="btn btn-medium btn-primary span8" data-toggle="modal" id="email_multiple" href="#report"><i class="icon-envelope-alt"></i>  REPORT THIS TO US </a>
                                 {% include 'InstitutionBundle:Exception/Modal:modal.reportForm.html.twig' %}
                            </div>
                    </div>
                {% else %}
                        <div class="row">
                            <div class="span12">
                                 <a class="btn btn-medium btn-primary span6 offset3" data-toggle="modal" id="email_multiple" href="#report"><i class="icon-envelope-alt"></i>  REPORT THIS TO US </a>
                                 {% include 'InstitutionBundle:Exception/Modal:modal.reportForm.html.twig' %}
                            </div>
                        </div>
                {% endif %}
        
            </div>
        </div>
    </div>
    
{% endblock %}
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/frontend/js/ErrorReport.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){

        $('#report').errorReportModalForm({
           submitButton: $('#errorSubmit'),
           form: $('form#errorReportForm') 
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}