{% if awardsList.list|length %}
   <div id="{{ awardsList.containerId }}">
       <h4>{{ awardsList.header }}</h4>
       <ul class="services-listing" style="max-height:none; border: none; padding: 0 10px;margin-bottom: 0">
           {% for property in awardsList.list %}
               {% set award = property.valueObject %}
                       {% set _extraValueArr = json_to_array(property.extraValue, true) %}
               {% set _yearAcquired = _extraValueArr.year_acquired is defined ? _extraValueArr.year_acquired | join(', '): '' %}
               <li class="hca-highlight" id="globalAwardRow_{{ property.id }}" style="display: block;width: 100%;margin-bottom: 0">
                   <span class="pull-right">
                       {% if _yearAcquired != '' %}
                           {{ _yearAcquired }}
                       {% else %}
                           <a href="#">Add Year</a>
                       {% endif %}
                   </span>
                   {{ award.name }}
               </li>
           {% endfor %}
       </ul>
   </div>
{% endif %}