<aside class="span4">
    <section class="aside-box get-started">
        <h2>
            Let's Get Started
        </h2>
        <div class="steps">
            <div class="media {{ signup is defined ? 'active':'' }} {% if 'signup' in completedSteps %} completed {% endif %}">
                <span class="numbercircle pull-left">
                    <i class="icon-ok icon-white icon-1x">
                    </i>
                </span>
                <div class="media-body">
                    <span class="main-step">
                        Create your personal account
                    </span>
                </div>
            </div>
           
            <div class="media {{ setupProfile is defined ? 'active':'' }} {% if 'setupProfile' in completedSteps %} completed {% endif %}">
                <span class="numbercircle pull-left">
                    2
                </span>
                <div class="media-body">
                    <span class="main-step">
                        Set-up profile for your {{ label }}
                    </span>
                </div>
            </div>
            <div class="media {{ addClinic is defined ? 'active':'' }} {% if 'addClinic' in completedSteps %} completed {% endif %}">
                <span class="numbercircle pull-left">
                    3
                </span>
                <div class="media-body">
                    <span class="main-step">
                        Add Clinic / Center {{ isSingleCenter is defined ? '':'Details' }}
                    </span>
                </div>
            </div>
             
             {% if isSingleCenter is not defined %}
             
             <div class="media substeps {{ addClinic is defined ? 'active':'' }}">
                <span class="  pull-left">
                    <i class="icon-circle">
                    </i>
                </span>
                <div class="media-body">
                    <span class="sub-main-step">
                        Setup Clinic Profile
                    </span>
                </div>
            </div>
             
             {% endif %}
            
            <div class="media substeps {{ addSpecialization is defined ? 'active':'' }}">
                <span class=" pull-left">
                    <i class="icon-circle">
                    </i>
                </span>
                <div class="media-body">
                    <span class="sub-main-step">
                        Add Specializations
                    </span>
                </div>
            </div>
            <div class="media substeps {{ addDoctor is defined ? 'active':'' }}">
                <span class=" pull-left">
                    <i class="icon-circle">
                    </i>
                </span>
                <div class="media-body">
                    <span class="sub-main-step">
                        Add Doctors
                    </span>
                </div>
            </div>
        </div>
    </section>
</aside>