<ul class="unstyled two-column items-count-{{ specializationComponents|length }} specialization-wrapper">
{% for subSpecialization, treatments in specializationComponents %}
    {% set subSpecializationElemId = specializationId ~ '-' ~ subSpecialization %}
    <li class="sub-specialization-wrapper">
        <input type="checkbox" id="{{ subSpecializationElemId }}" name="subSpecialization" value="subSpecialization" />
        <label for="{{ subSpecializationElemId }}">{{ subSpecialization }}</label>
        <ul class="unstyled" style="margin-left: 20px;">
            {% for treatment in treatments %}
            <li style="border: none">
                <input type="checkbox" id="treatments{{ treatment.id }}-{{ subSpecializationElemId }}" name="treatments[{{ specializationId }}][]" value="{{ treatment.id }}" class="treatments" {{ treatment.id in selectedTreatments ? 'checked' : '' }} class="treatments"/> 
                <label style="font-weight: normal" for="treatments{{ treatment.id }}-{{ subSpecializationElemId }}">{{ treatment.name }}</label>
            </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
