<ul class="unstyled two-column items-count-{{ specializationComponents|length }} specialization-wrapper">
{% for subSpecialization, treatments in specializationComponents %}
<li class="sub-specialization-wrapper">
    <label> 
        <input type="checkbox" id="{{ subSpecialization }}" name="subSpecialization" value="subSpecialization" />
        <strong>{{ subSpecialization }}</strong>
    </label>
    <ul class="unstyled" style="margin-left: 20px;">
        {% for treatment in treatments %}
        <li style="border: none">
            <input type="checkbox" id="treatments{{ treatment.id }}" name="treatments[{{ specializationId }}][]" value="{{ treatment.id }}" {{ treatment.id in selectedTreatments ? 'checked' : '' }} class="treatments"/> 
            <label style="font-weight: normal" for="treatments{{ treatment.id }}">{{ treatment.name }}</label>
        </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
