{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

	<div id="content" class="create-listing-form">

		<div id="page-heading"><h3>{{ id is defined ? 'Edit' : 'Add' }} Medical Procedure</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}
			<form class="basic-form" action="{{ path('procedure_save') }}" method="post" {{ form_enctype(form) }}>
	 			{% if id is defined %} 
	 				<input type="hidden" value="{{ id }}" name="id"/> 
	 			{% endif %} 
				{{ form_row(form.name) }}
				{{ form_row(form.tags) }}
			    <input type="submit" class="form-submit"/>
			</form>
			{% endblock %}

		{% endembed %}
	</div>

	<!-- Load Tag autocomplete js -->
	{% block javascripts %}
		{{ parent() }}
		<script src="{{ asset('bundles/helper/js/Tag.js') }}"></script>
	{% endblock %}

{% endblock %}