{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
	<div id="content">

		{{ app.session.flash('notice') }}
		<div id="page-heading"><h3>List of Medical Procedures</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			<table id="product-table" class="mid-size">
			<tr>
				<th class="table-header-repeat line-left minwidth-1"><a href="">Procedure</a></th>
				<th class="table-header-repeat line-left"><a href="">Tags</a></th>
				<th class="table-header-options actions line-left"><a href="">Action</a></th>
			</tr>
			
			{% for procedure in procedures %}
				<tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
					<td>{{ procedure.name }}</td>
					<td>
						{% for tag in procedure.tags %}
							<a style="color:#92B22C" href="#">{{ tag.name }}</a> &nbsp; 
						{% endfor %}
					</td>
					<td align="center">
					<a href="{{ path('procedure_view', {id:procedure.id}) }}" title="view">view</a> <span class="separator" style="color:#ccc">|</span>
					<a href="{{ path('procedure_edit', {id:procedure.id}) }}" title="edit">edit</a> <span class="separator" style="color:#ccc">|</span>
					<a href="{{ path('procedure_delete', {id:procedure.id}) }}" title="delete">delete</a>
					</td>
				</tr>
			{% endfor %}
			</table>
			{% endblock %}
		{% endembed %}
	</div>
{% endblock %}