
{% extends '::base.html.twig' %}

{% block body %}
	<div id="content-wrapper">

		<h2>Procedures</h2>
		<a style="display:inline-block;margin: 10px 0" href="{{ path('procedure_add') }}">add new</a>
		{{ app.session.flash('notice') }}
		
		<div id="procedures-wrapper" style="border: 1px solid #ddd; width: 50%">
		{% for procedure in procedures %}
			<div class="procedures" style="border-bottom: 1px solid #efefef; margin: 10px;">
				{{ procedure.name }}
				<div style="float:right">
				<a href="{{ path('procedure_view', {id:procedure.id}) }}">view</a> | 
				<a href="{{ path('procedure_edit', {id:procedure.id}) }}">edit</a> | 
				<a href="{{ path('procedure_delete', {id:procedure.id}) }}">delete</a>
				</div>

			</div>
		{% endfor %}
		</div>

	</div>
{% endblock %}