{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'feedback'%}
{% block content %}
     
<div class="span12 marginleft0">
    {% include 'InstitutionBundle:Widgets:dashboard.welcome.html.twig' %}
    
    <div class="span9 marginleft0">
        <div id="maincontent">
            <div class="heading2">
                <div class="heading_text2">
                    Feedback
                </div>
            </div>
        </div>
        <div class="row-fluid">
        	{% include '::notice.admin.html.twig' %}
             <form novalidate="novalidate" action="{{ path('institution_feedback_create')}}" method="POST" {{ form_enctype(form) }} class="basic-form">
		                    <!-- start id-form -->
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}
                {{ form_rest(form) }} 
		
				<input type="reset" value="Reset" class="btn-medium btn"  />
				<input type="submit" name="submit" value="Submit" class="btn-medium btn btn-info" />
            </form>
        </div>
    </div>
  
    <!-- dashboard sidebar -->
    <div class="span3">
        {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
    </div>
</div>

{% endblock %}