{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'feedback'%}
{% block content %}
    <section id="content">
		<div class="container">
			<div class="row">
				<div class="maincontent">
					<div class="span9">
						<h1>
							<span>Feedback</span>
						</h1>
						{% include '::notice.admin.html.twig' %}
                         <form novalidate="novalidate" action="{{ path('institution_feedback_create')}}" method="POST" {{ form_enctype(form) }} class="form" id="signinForm" >
            		                    <!-- start id-form -->
                            {{ form_row(form.subject) }}
                            {{ form_row(form.message) }}
                            {{ form_rest(form) }} 
            		
            				<input class="btn btn-info" type="button" value="Send Feedback">
							<input class="btn" type="button" value="Cancel">
                        </form>
					</div>
					<!--End of span9-->
		
		            {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
				</div>
				<!--End of addnewclinic-->
			</div>
			<!--End of row-->
		</div>
		<!--End of container-->
    </section>
{% endblock %}