{% block inlineJavascriptCode %}
<script type="text/javascript">
(function($){
    $(function(){
        {% if doctors|length < 1 %}
            $('#add-doctor').modal('show');
        {% endif %}

        $('form.ajaxUploadForm').ajaxForm({
         /* beforeSend: function(e) {},
            uploadProgress: function(event, position, total, percentComplete) {},*/

            success: function(response) {
                if(response.status) {
                    $('#doctor-thumbnail-'+response.doctor.id).attr('src', response.doctor.mediaSrc).css('opacity', 1).prev().show();
                } else {
                    alert('ERROR: Unable to upload Logo!');
                }
            },
            complete: function(xhr) {

            }
        }).submit(function(){
            $(this).find('.hca-profile-photo-rollover').hide().prev().css('opacity', 0.5);
        });

        $('#add-doctor').on('show', function(){
            HCA.closeAlertMessage();
            window.location.href = '#';
            $('#search-doctor-btn').show();
            $('#doctor-search-results, #add-doctor-btn').hide();
        });

        $('#add-doctor').on('hide', function(){
            $("#main-wrap").scrollTop(0);
        });

        $('.remove-doctor-btn').live('click', function(e) {
            HCA.closeAlertMessage();
        	$('#remove-doctor-modal').modal('show');
        	$('#confirm-remove-doctor-btn').data('remove-url', $(this).attr('href'));
        	$('#confirm-remove-doctor-btn').data('doctor-id', $(this).data('doctor-id'));
            e.preventDefault();
            return false;
        });

        $('#confirm-remove-doctor-btn').click(function() {
            confirmBtn = $(this); 
            if(confirmBtn.hasClass('disabled')) {
                return false;
            }

            doctorItem = $('#doctor-item-' + confirmBtn.data('doctor-id'));
            confirmBtn.toggleClass('btn-danger disabled').html('processing...');

            $.post(confirmBtn.data('remove-url'), function(response) {
                if(response.status) {
                    doctorItem.slideUp(500,function(){
                        $('#doctorsList').after($('#edit-doctor-form').hide());
                        doctorItem.remove();
                    	displayConfirmation(response);
                    });

                    $('#remove-doctor-modal').modal('hide');
                    confirmBtn.toggleClass('btn-danger disabled').html('Delete');

                } else {
                	displayConfirmation(response);
                }

                $('#doctorsList').children('div').removeClass('disabled'); 
            });
        });
        
        $(".edit-doctor-btn").live('click', function(e) {
            HCA.closeAlertMessage();
            doctor = $.parseJSON($(this).attr('data-doctor'));

            var btnIcon = $(this).find('i');
            var editFormWrapper = $(this).parent().next();

            if(editFormWrapper.is(':hidden')) { 
                editForm = $('#edit-doctor-form');
                editFormWrapper.empty();
                editForm.removeAttr('style').attr('action', $(this).attr('href'));

                editForm.find("#{{ editDoctorForm.getChild('lastName').vars.id }}").val(doctor.lastName);
                editForm.find("#{{ editDoctorForm.getChild('firstName').vars.id }}").val(doctor.firstName);
                editForm.find("#{{ editDoctorForm.getChild('middleName').vars.id }}").val(doctor.middleName);
                editForm.find("#{{ editDoctorForm.getChild('suffix').vars.id }}").val(doctor.suffix);
                editForm.find("#input-{{ editDoctorForm.getChild('suffix').vars.id }}").val(doctor.suffix);
                editForm.find("#{{ editDoctorForm.getChild('contactEmail').vars.id }}").val(doctor.contactEmail);

                editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_0_number").val('');
                editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_0_abbr").val('');
                editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_0_areaCode").val('');
                editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_0_ext").val('');

                $.each(doctor.contactDetails, function(i){
                    numberElem = editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_"+i+"_number").val(doctor.contactDetails[i].number);
                    editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_"+i+"_abbr").val(doctor.contactDetails[i].abbr);
                    editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_"+i+"_country_code").val(doctor.contactDetails[i].countryCode);
                    editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_"+i+"_area_code").val(doctor.contactDetails[i].areaCode);
                    editForm.find("#{{ editDoctorForm.getChild('contactDetails').vars.id }}_"+i+"_ext").val(doctor.contactDetails[i].ext);

                    numberElem.siblings('.flag-selector-widget:first').find('.flag16:first').attr('class', 'flag16 ' + doctor.contactDetails[i].abbr);
                });

                editForm.find('.specializations-listing input[type=checkbox]').removeAttr('checked');
                $.each(doctor.specializations, function(id, name) {
                    editForm.find('.specializations-listing input.specializations[value='+id+']').attr('checked', 'checked');

                    if(typeof(doctor.medicalSpecialities[id]) != 'undefined') {
                        $.each(doctor.medicalSpecialities[id], function(specialityId, specialityName) {
                            editForm.find('.specializations-listing input.medical-specialities[value='+specialityId+']').attr('checked', 'checked');
                        });
                    }                    
                });

                editForm.ajaxForm({
                    success: function(response) {
                        $('#doctorsList').children('div').removeClass('disabled process');
                        editFormWrapper.slideToggle("slow", function(){
                            editFormWrapper.prev().find('h4.full-name:first').text(response.doctor.fullName);
                            editFormWrapper.prev().find('.doctor-specializations:first').text(response.doctor.specialitiesString);
                            btnIcon.parent().attr('data-doctor', JSON.stringify(response.doctor));
                            btnIcon.removeClass('icon-ok').addClass('icon-edit');

                            displayConfirmation(response);
                        });
                    },

                    error: function(response) { displayConfirmation(response); },

                    beforeSend: function() {
                        editFormWrapper.scrollTop(0);
                        $('#doctor-item-'+doctor.id).addClass('disabled process');
                    }
                });

                editFormWrapper.html(editForm);

                $('#doctorsList').children('div').addClass('disabled');
                $('#doctor-item-'+doctor.id).removeClass('disabled');

                editFormWrapper.slideToggle("slow", function(){
                    btnIcon.removeClass('icon-edit').addClass('icon-ok');
                });
            }

            if($(this).find('.icon-ok').length) {
                $('#edit-doctor-form').submit();
            }

            return false;
        });
        
        /** modal Js**/
        var lastNameElem = $("#{{ doctorForm.getChild('lastName').vars.id }}");
        var firstNameElem = $("#{{ doctorForm.getChild('firstName').vars.id }}");
        var middleNameElem = $("#{{ doctorForm.getChild('middleName').vars.id }}");
        var suffixElem = $("#{{ doctorForm.getChild('suffix').vars.id }}");
        var fullName = getInputFullName();
        var siteName = "{{ site_name }}";
    
        $('#doctorForm').ajaxForm({
            beforeSend: function(e) {
                $('#add-doctor-btn').attr('disabled', 'disabled').find('span').text('Saving...');                
            },
            success: function(response) {
                $('#doctorForm').find('input[type=text]').val('');
                $('#add-doctor-btn').removeAttr('disabled', 'disabled').find('span').text('Add Doctor');
                showAddConfirmationMessage(response);
            }
        });
    
        $('#search-doctor-btn').click(function() {
            $(this).attr('disabled', 'disabled').find('span').text('Searching...');
            $('span#doctor_criteria_name').html(ucwords(firstNameElem.val()) +' '+ ucwords(lastNameElem.val()));
            $('#doctor-search-results').fadeIn();
            $('#matchedDoctorList').html('<div style="text-align:center">searching doctors...</div>');
            var params = {
                lastName: getCleanVal(lastNameElem),
                firstName: getCleanVal(firstNameElem)
            };
    
            if(getCleanVal(middleNameElem)) { params.middleName = getCleanVal(middleNameElem) }
            if(getCleanVal(suffixElem)) { params.suffix = getCleanVal(suffixElem); }

            $.getJSON("{{ path('search_doctors') }}", { criteria: params }, function(doctors) {
                var matchedString = '';
                $('#search-doctor-btn').removeAttr('disabled').find('span').text('Search Doctor');
                
                $.each(doctors, function(i) {
                    if($('#doctor-item-'+i).length) {
                        addLink = '<span class="pull-right" style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;">Already Added</span>';
                    } else {
                        addLink = '<a data-doctor-id="'+ i +'" class="btn btn-misc pull-right add-existsing-doctor" href="' + "{{ path('institution_medicalCenter_addExistingDoctor', {imcId: institutionMedicalCenter.id}) }}" + '"><i class="icon-medkit"></i>Add to My Clinic</a>';
                    }

                    var specializationString = '';
                    $.each(doctors[i].specializations, function(key) {
                        specializationString += ', ' + doctors[i].specializations[key]; 
                    });
                    
                    matchedString += '<li data-doctor-id="'+i+'" class="thumbnail hca-clinic-listing" style="min-height:95px">' +                     
                        '<img alt="" src="' + (doctors[i].mediaSrc ? doctors[i].mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}') + '" class="pull-left img-polaroid">' +
                        '<div class="medicalcenter-name add-doctors-listing pull-left">' +
                            '<h3 class="doctor-name" style="text-transform: capitalize;">'+ doctors[i].fullName + '</h3>' +
                            '<p><i class="icon-stethoscope"></i><span class="specializations">'+specializationString.substr(1)+'</span></p>' +
                        '</div>' + addLink +
                    '</li>';
    
                });
    
                if(matchedString) {
                	$('#doctor-search-results .notEmpty').show();
                	$('#doctor-search-results .empty').hide();
                    $('#matchedDoctorList').html(matchedString);
    
                    $('.add-existsing-doctor').click(function() {
                        addElem = $(this).attr('disabled', 'disabled');
                        $.ajax({
                            url: addElem.prop('href'),
                            type: 'POST',
                            dataType: "json",
                            data: {doctorId: addElem.attr('data-doctor-id') },
                            success: function(response) { 
                                showAddConfirmationMessage(response);
                            }
                        });
    
                        return false;
                    });
                } else {
                    $('#doctor-search-results .notEmpty').hide();
                    $('#matchedDoctorList').html("<div class='alert results empty'>We don't have Dr. "+ ucwords(firstNameElem.val()) +" "+ ucwords(lastNameElem.val())+ " listed on " + siteName + " yet.<br>Please double-check the name spelling before clicking on ADD DOCTOR.</div>");
                    $('#search-doctor-btn').hide();
                    $('#add-doctor-btn').fadeIn();
                }
            });
            
        });
        
        $(lastNameElem.add(firstNameElem.add(middleNameElem.add(suffixElem)))).keyup(function(){
            if(fullName != getInputFullName()) {
                $('#search-doctor-btn').fadeIn();
                $('#add-doctor-btn').hide();
            }
        });
    
        function showAddConfirmationMessage(response)
        {
            if(response.status) {
            	response.message = 'Doctor has been added to your clinic!';

                var specializationString = '';
                $.each(response.doctor.specializations, function(key) {
                    specializationString += ', ' + response.doctor.specializations[key]; 
                });

                var doctorItemElem = $('#doctor-item-template').clone();

                if(specializationString) {
                    doctorItemElem.find('.doctor-specializations').text(specializationString.substr(1));
                }

                doctorItemElem.attr('id', 'doctor-item-'+response.doctor.id);
                doctorItemElem.find('.edit-doctor-btn').attr('href', response.editDoctorUrl).attr('data-doctor', JSON.stringify(response.doctor));
                doctorItemElem.find('.remove-doctor-btn').attr('href', response.removeDoctorUrl).data('doctor-id', response.doctor.id);
                doctorItemElem.find('.full-name').text(response.doctor.fullName);
                doctorItemElem.find('.edit-doctor-wrapper').attr('data-doctor-id', response.doctor.id);
                doctorItemElem.find('.doctor-thumbnail').attr('id', 'doctor-thumbnail-' +response.doctor.id).attr('src', response.doctor.mediaSrc ? response.doctor.mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}');
                doctorItemElem.find('form.ajaxUploadForm').attr('action', response.uploadLogoUrl).ajaxForm({
                    success: function(res) {
                        if(res.status) {
                            $('#doctor-thumbnail-'+response.doctor.id).attr('src', res.doctor.mediaSrc).css('opacity', 1).next().show();
                        } else {
                        	displayConfirmation({status: 'success', message: 'Unable to upload logo!'});
                        }
                    }
                }).submit(function(){
                    $(this).find('.hca-profile-photo-rollover').hide().prev().css('opacity', 0.5);
                });

                $('#doctorsList').prepend(doctorItemElem.show());
                $('#empty-doctors-msg').remove();
                $('#doneSection').show();
            } else {
            	response.message = 'Unable to add doctor to your clinic.';
            }
    
            if($('#matchedDoctorList').find('li a.add-existsing-doctor').length > 1 && response.status) {
                $('.add-existsing-doctor[data-doctor-id='+response.doctor.id+']').replaceWith('<span style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;" class="pull-right">Added to your clinic</span>');
            } else {
                $('#add-doctor').modal('hide');
            }

            displayConfirmation(response);
        }
    
        function getCleanVal(elem)
        {            
            return $.trim(elem.val().toLowerCase());
        }
    
        function getInputFullName()
        {
            return getCleanVal(lastNameElem) + getCleanVal(firstNameElem) + getCleanVal(middleNameElem) + getCleanVal(suffixElem);
        }

        function displayConfirmation(response) {
            HCA.alertMessage(response.status ? 'success' : 'error', response.message);
        }
    });
    
})(jQuery);
</script>
{% endblock %}