{% extends 'AdminBundle::layout.institution.html.twig' %}
{% set centerLabel = getClassLabel('institution_medical_center').singular | title %}

{% block title %}{{ parent() }} Add {{ centerLabel }} {% endblock %}


{% block content %}
    <div class="span9">

        {% embed 'HelperBundle:Widgets:section.html.twig' with { title: institutionMedicalCenter.name } %}
            {% block sectionContent %}
                <div style="border: 1px dashed #ddd; padding: 10px; margin-bottom: 20px">
                    {{ institutionMedicalCenter.description | raw }}
                </div>

                <div class="treatmentbox">
                	<h5>Add Specialization</h5>
                	<div class="boxcontent">
                        <form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_addSpecialization', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}" method="POST" {{ form_enctype(form) }}>                	
                            {{ form_row(form.specialization, { 'attr': {'class': 'input-xxlarge', 'onChange': 'loadSpecializationEntry($(this))' } }) }}
                            {{ form_row(form.description) }}
                            {{ form_rest(form) }}

                            <div id="specializationLoading" class="ajax-loading" style="display:none">loading . . .</div>
                    		<div id="specializationAccordion"></div>
                    		<br>
                    	    <input type="submit" class="btn btn-large btn-primary" value="Submit" name="Submit">
                        </form>
                    </div>
                </div>

            {% endblock %} 

        {% endembed %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">

    $('#specializationAccordion').accordion({active: false, collapsible: true, heightStyle: "content"});

    function loadSpecializationEntry(elem)
    {
    
        
        var url = '{{ path("helper_specializationAccordionEntry") }}' + '/' + elem.val().toString();
      
        $('#specializationLoading').fadeIn();
        $.get(url, function(specializationEntry){
            $('#specializationLoading').hide();
            $('#specializationAccordion').prepend(specializationEntry).accordion('destroy').accordion({heightStyle: "content"});
            console.log(specializationEntry);
            $('#institutionSpecialization_specialization').find('option[value='+elem.val()+']').hide();
        });
    }
</script>
{% endblock %}
