{% extends 'AdminBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Add Center {% endblock %}

{% block content %}
<!-- start content -->
<div class="container">

    {% include '::notice.admin.html.twig' %}    

    {% include '::relatedTasks.base.admin.html.twig' with 
        {'contents': [
            {
                'title': 'Go to Medical Centers', 
                'description': 'View medical center list',
                'class': 'list-icon',
                'href': path('admin_institution_medicalCenter_index', {institutionId:institutionId}), 
                'links': [{
                    'title': 'click here to view centers',
                    'href': path('admin_institution_medicalCenter_index', {institutionId:institutionId})
                }]
            }
        ]} 
    %}
                
    <div class="title" style="width:70%">
        <h4>{{institutionSpecialization.specialization.name}}</h4>

        <form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_editSpecialization', { 'institutionId':institutionId, 'isId': institutionSpecialization.Id }) }}" method="POST" {{ form_enctype(form) }}>

            <div class="treatmentbox">
            	<div class="boxcontent">
                    {# form_row(form.description) #}
                    {{ form_widget(form._token) }}

            		<div>
            		    {% render 'HelperBundle:Default:getSpecializationAccordionEntry' 
                            with { specializationId: institutionSpecialization.specialization.id, selectedTreatments: institutionTreatmentIds, showCloseBtn : false}
                        %}
            		</div>
                    <hr>
                </div>
            </div>

        	<div class="pull-right">
        	    <input type="submit" class="btn btn-large btn-success" value="Save" name="Submit">
            </div>		

        </form>  
        
    </div>
</div>

{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    function loadSpecializationEntry(elem)
    {
        var url = '{{ path("helper_specializationAccordionEntry") }}' + '/' + elem.val().toString();

        $.get(url, function(specializationEntry){
            $('#specializationAccordion').prepend(specializationEntry).accordion('destroy').accordion();

            $('#institutionSpecialization_specialization').find('option[value='+elem.val()+']').hide();
        });
    }
</script>
{% endblock %}
