{% extends 'AdminBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Add Center {% endblock %}

{% block content %}
<!-- start content -->
<div class="container">
	<div class="maincontent">

        {% include '::notice.admin.html.twig' %}

	    {# include '::stepHolder.base.admin.html.twig' with {
                steps: [
                    {title: '- Center Details', 'selected': true},
                    {title: '- Specialization'},
                    {title: '- Select Treatments'},
                    {title: '- Assigned Doctors'},
                    {title: '- Preview', 'selected': false},
             ]}
        #}
        
        
        <h3>
            {{ institutionMedicalCenter.name }} <a href="#" style="position:relative;top:8px"><i class="icon-pencil"></i></a>
        </h3>
        <div style="display: inline-block; max-width: 400px; position: relative;">
            <a href="#" style="float: right; position: absolute; right: -20px;"><i class="icon-pencil"></i></a>
            {{ institutionMedicalCenter.description | raw }}
        </div>
        
        
        <form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_addSpecialization', { 'institutionId':institutionId, 'imcId': institutionMedicalCenter.id }) }}" method="POST" {{ form_enctype(form) }}>   
            {{ form_row(form.specialization, { 'attr': {'class': 'input-xxlarge'} }) }}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
        	<div><input type="submit" name="submit" value="Submit" class="btn btn-large btn-primary" /></div>										
        </form>
	</div>
</div>

{% endblock %}