{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerLabel = getClassLabel('institution_medical_center').singular | title %}

{% block content %}
    <div class="span9">

        {% embed 'HelperBundle:Widgets:section.html.twig' with { title: 'Add ' ~ centerLabel } %}
            {% block sectionContent %}

                <h3>{{ centerLabel }} Information</h3>
    
                <form novalidate="novalidate" action="{{ path('admin_institution_medicalCenter_add', { 'institutionId':institution.id, 'imcgId': institutionMedicalCenter.id }) }}" method="POST" {{ form_enctype(form) }} class="basic-form">        
                    {{ form_errors(form) }}   
        
                    {{ form_row(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
                    {{ form_row(form.description) }}
                    
                    {% set arrBusinessHours = json_decode(institutionMedicalCenter.businessHours) %}
        		    {% set daysArr = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                    {% if not arrBusinessHours %}
                        {% set arrBusinessHours = {
                                'Sunday' :{"from": "08:15 AM", "to": "07:00 PM"},
                                'Monday' :{"from": "08:15 AM", "to": "07:00 PM"},
                                'Tuesday' :{"from": "08:15 AM", "to": "07:00 PM" },
                                'Wednesday' :{"from": "08:15 AM", "to": "07:00 PM"},
                                'Thursday' :{"from": "08:15 AM", "to": "07:00 PM"},
                                'Friday' :{"from": "08:15 AM", "to": "07:00 PM"},
                                'Saturday' :{"from": "08:15 AM", "to": "07:00 PM"}
                                }
                        %}
                    {% endif %}
                    
                    {{ form_label(form.businessHours) }}
                    <table style="width:70%;" border="1" cellpadding="0" cellspacing="0" class="table table-bordered" id="table-list">
                        <tr>
                            <th class="minwidth-1"> <a href="#">Is Closed</a></th>
                            <th class="minwidth-1"> <a href="#">Days of the Week</a></th>
                            <th class="minwidth-1"> <a href="#">From</a></th>
                            <th class="minwidth-1"> <a href="#">To</a></th>
                        </tr>
                            
                 	    {% for i, day in daysArr %}
                            <tr>
                                <td  align="center">
                                    {% if arrBusinessHours[day] is not defined %}
                                        <input checked="checked" type="checkbox" class="is_closed_checkbox" id="{{ i }}"/></td>
                                    {% else %}
                                        <input type="checkbox" class="is_closed_checkbox" id="{{ i }}"/></td>
                                    {% endif %}
                                </td>
                                <td  align="center">{{ day }}</td>
                                <td  align="center">
                                    {% if arrBusinessHours[day] is not defined %}
                                        <input class="hour" name="businessHours[{{day}}][from]" disabled="true" id="businessHours[{{day}}][from]" value="" />
                                    {% else %}
                                         <input class="hour" name="businessHours[{{day}}][from]" id="businessHours[{{day}}][from]" value="{{ arrBusinessHours[day].from}}" />
                                    {% endif %}
                                </td>
                                <td  align="center">
                                    {% if arrBusinessHours[day] is not defined %}
                                        <input class="hour" name="businessHours[{{day}}][to]" disabled="true" id="businessHours[{{day}}][to]" value="" />
                                    {% else %}
                                         <input class="hour" name="businessHours[{{day}}][to]" id="businessHours[{{day}}][to]" value="{{ arrBusinessHours[day].to }}" />
                                    {% endif %}
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </table>
                    
                    {{ form_rest(form) }}
                                        	                        	
                	<span class="btn-medium"><i class="icon-picture"></i> Add Media File Here</span>
                	<div class="clear"><br></div>
                	<input type="submit" name="submit" value="Submit" class="btn btn-large btn-primary" />
                </form>

            {% endblock %} 

        {% endembed %}
    </div>
    
    {% block inlineJavascriptCode %}
    <script src="{{ asset('js/jquery/timepicker.js') }}"></script>
	<script src="{{ asset('js/jquery/globalize.js') }}"></script>
	<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
    <script>
    	$(function() {
	    	$(".hour").timepicker({ seconds: false });
	    	$('input.is_closed_checkbox').each(function(){
			    if(this.checked) {
			    	$(this).parent().parent().find('.hour').val("");
			    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
				}
			});
	    });
       
	    $('input.is_closed_checkbox').change(function(){
		    if(this.checked) {
		    	$(this).parent().parent().find('.hour').val("");
		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: true });
			}
		    else 
		    {
		    	$(this).parent().parent().find('.hour').val("8:00 AM");
		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: false });
		    }
		   
		});
    </script>
{% endblock %}
{% endblock %}

