{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerTerm = getClassLabel('institution_medical_center') %}
{% set centerLabel = centerTerm.singular | title %}
{% set centersLabel = centerTerm.plural | title %}

{% block content %}
    <div class="span9">
        {% include '::notice.admin.html.twig' %}

        
        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: centersLabel,
                actions:  isSingleCenter ? [] : [{link: path('admin_institution_medicalCenter_add', {institutionId:institution.id}), label: 'Add ' ~ centerLabel, 'icon' : 'icon-plus' }]  
            }
        %}
        
            {% block sectionContent %}
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
                {% if institutionMedicalCenters is not empty %}
                <div id="centersAccordion" class="hca-accordion">
                    {% for center in institutionMedicalCenters %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="{{ path('admin_institution_medicalCenter_view', {imcId: center.id, institutionId: institution.id}) }}" class="pull-right view-center" style="font-size:13px;font-weight:normal;margin-left:5px;">
                                <i class="icon-share"></i><span>view</span>
                            </a>
                           
                            <a id="center-id-{{ center.id }}" data-hidden-field="#center-hidden-{{center.id}}" onclick="viewMedicalCenterManager.showSpecialization(this); return false;" class="accordion-toggle" data-toggle="collapse" data-parent="#centersAccordion" data-specialization-div="#specializations-{{center.id}}" data-target="#collapse-{{center.id}}" href="{{ path('admin_institution_centerSpecializations', {imcId: center.id, institutionId: institution.id}) }}">
                            {{center.name}}
                            </a>
                            <input id="center-hidden-{{center.id}}" value="0" type="hidden" style="margin:0;display:none"/>
                        </div>
                        
                        <div id="collapse-{{center.id}}" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div style="border: 1px dashed #ddd;margin-bottom: 20px;padding: 5px 10px;">
                                    <a href="{{ path('admin_institution_medicalCenter_update', {imcId: center.id, institutionId: institution.id}) }}" class="pull-right edit-center-description" style="font-size:13px;font-weight:normal">
                                        <i class="icon-edit"></i> <span>edit</span>
                                    </a>
                                    <div class="center-description">{{ center.description | raw }}</div>
                                    
                                    <textarea style="width:90%;display:none;" rows="5" required="required" class="edit-center-textarea">{{ center.description }}</textarea>
                                </div>
                                <div class="center-status">Status: {{ get_medical_center_status_label(center) }}</div>
                            </div>
                            <div id="specializations-{{center.id}}"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                        <div class="alert alert-block"> {{ institution.name }} has no {{ centersLabel }} yet. </div>
                {% endif %}
            {% endblock %} 

        {% endembed %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/admin/js/viewMedicalCenterManager.js') }}"></script>
<script type="text/javascript">
    $(function(){
        /*$('#centersAccordion').accordion({active: false, collapsible: true, heightStyle: "content"});*/
        $(".collapse").collapse();
        
        /*$('.medical-centers').click(function(){
            var url = $(this).find('.url').attr('href');
            var specializationElem = $(this).next().find('.specializations:first');

            if($.trim(specializationElem.html()) == '') {
            	specializationElem.html('<div class="ajax-loading">loading...</div>');
                $.get(url, function(result) {
                	specializationElem.html(result);
                });
            }
        });*/

        $('.view-center').click(function(){
            window.location = $(this).attr('href');
            return false;
        });

        $('.edit-center-description').click(function(){
            if($(this).next().is(':visible')) {
            	$(this).find('i').attr('class', 'icon-ok');
            	$(this).find('span').html('save')
                $(this).next().hide().siblings('.edit-center-textarea').show();

            } else {
                var url = $(this).attr('href');
                var param = { description: $(this).siblings('textarea').val() };

            	$.post(url, param, function(result){}, 'json');

            	$(this).find('i').attr('class', 'icon-edit');
            	$(this).find('span').html('edit')
                $(this).next().html(param.description).show().siblings('.edit-center-textarea').hide();                
            }

            return false;
        });

        $('.edit-center-name').click(function(){
            if($(this).next().is(':visible')) {
            	$(this).find('i').attr('class', 'icon-ok');
            	$(this).find('span').html('save')
                $(this).next().hide().siblings('input').show();
        
            } else {
                var url = $(this).attr('href');
                var param = { name: $(this).siblings('input').val() };

            	$.post(url, param, function(result){}, 'json');

            	$(this).find('i').attr('class', 'icon-edit');
            	$(this).find('span').html('edit')
                $(this).next().html(param.name).show().siblings('input').hide();

            	$("#centersAccordion").accordion("enable");
            }

            return false;
        }).siblings('input').click(function(){
			$('#centersAccordion').accordion("disable").removeClass('ui-state-disabled'); 
			$(this).parent().removeClass('ui-state-disabled'); 
		});

    });

</script>
{% endblock %}