{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerLabel = getClassLabel('institution_medical_center').singular | title %}
{% block content %}
    <div class="span9">

        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with {
                    title: institutionMedicalCenter.name,
                    actions:[
                        {link: isSingleCenter ? [] : 
                                path('admin_institution_medicalCenter_edit', {'institutionId' : institution.id,'imcId': institutionMedicalCenter.id}),
                                label: 'Edit '~ institutionMedicalCenter.name | title, 
                                'icon' : 'icon-ok' },
                        {link: isSingleCenter ? [] : 
                                path('admin_institution_medicalCenter_updateStatus', {'institutionId' : institution.id,'imcId': institutionMedicalCenter.id}),
                                label: 'Edit '~ institutionMedicalCenter.name ~ ' Status' | title, 
                                'icon' : 'icon-ok',
                                class : 'edit-status'}
                    ]
                 } 
         %}
  
            {% block sectionContent %} 
                <div id="scroll-pane" data-spy="scroll" data-offset-top="0" data-target="#navbar-side">
                    {% include 'AdminBundle:Widgets:medicalCenter.specializationsList.html.twig' %}
                    {% include 'AdminBundle:Widgets:medicalCenter.ancillaryServicesList.html.twig'%}
                    
                    {% include 'AdminBundle:Widgets:medicalCenter.businessHours.html.twig'%}
                
                    {% include 'AdminBundle:Widgets:medicalCenter.awards.html.twig'%}
        
                    <div id="media" class="treatmentbox">
                        <h5 style="padding: 10px; border: 1px solid #EEEEEE">
                            Media
                            <a href="{{ path('admin_media_add', {context: constant('HealthCareAbroad\\MediaBundle\\MediaContext::INSTITUTION_MEDICAL_CENTER'), id: institutionMedicalCenter.id} ) }}" class="btn btn-mini pull-right">
                                <i class="icon-plus"></i>Add
                            </a>
                        </h5>
                        <div class="boxcontent" style="border: 1px solid #EEEEEE; border-top: none;">
                            {% include 'MediaBundle:Default:mediaTableView.html.twig' with {media: institutionMedicalCenter.media} %}
                        </div>
                        
                    </div>
                    {% include 'AdminBundle:Widgets:medicalCenter.medicalSpecialist.html.twig'%}
                    
                    <!-- Modal Medical Center Status -->
                    	{% include 'AdminBundle:InstitutionTreatments:edit.MedicalCenter.html.twig' 
                    	     with {modalId: 'status_medicalCenter_modal_form', modalTitle: 'Edit Status'} 
                    	%} <!-- end Modal Medical Center Status -->
                </div>
            {% endblock %}
    
        {% endembed %}
    </div>
    
{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/helper/js/DoctorAutocomplete.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/institutionTreatments.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admin/js/institutionMedicalCenter.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/properties.js') }}" ></script>
    <script src="{{ asset('js/jquery/timepicker.js') }}"></script>
    <script src="{{ asset('js/jquery/globalize.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
    <script type="text/javascript">
        $(function() {
        	$('.ajax_loader').hide();
        	$(".hour").timepicker({ seconds: false  });
            
            $('#dialog-container').dialog({
                position: ['center', 100],
                autoOpen: false,
                width: 750,
                modal: true,
                resizable: false,
                close: function() {}
            });
            
            $('a.add-global_award').click(function(){
                var elem = $(this);
                var _url = elem.attr('href');

                $("#dialog-container").empty();
                $('#dialog-container').dialog({
                    title: 'GlobalAwards / Certifications',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {
                                $('#dialog-container').html(data);
                            }
                        );
                    },
                });

                $('#dialog-container').dialog("open");

                     return false;
            });

            $('div.edit_award_form_container').find('input.globalAward_autocompleteYear').globalAward('autocompleteYear');
            
            $('a.edit_global_award').globalAward('edit', {
                'modal': $('div.edit_award_form_container'),
                'data_label_target': $('div.edit_award_form_container').find('.editAwardForm_awardName'),
                'input_extraValueAutocomplete': 'input.globalAward_autocompleteYear' 
            });
            
            var _nsUrl = '{{ path("admin_ajaxMedicalCenterGlobalAwardSource", {institutionId: institution.id , "imcId": institutionMedicalCenter.id}) }}';

            $.GlobalAutocompleteAction.setLoadHtmlContentUri('{{ path("admin_institution_medicalCenter_ajaxAddGlobalAward", {"institutionId": institution.id, "imcId": institutionMedicalCenter.id}) }}') 
             .setAutocompleteOptions('award', {
             	source: _nsUrl+'?type=award',
                 target: $('input.award_selector'),
                 selectedDataContainer: $('table.awards_table tbody'),
                 loader: $('table.awards_table tbody tr.loader')
             })
             .setAutocompleteOptions('certificate', {
             	source: _nsUrl+'?type=certificate',
                 target: $('input.certificate_selector'),
                 selectedDataContainer: $('table.certificates_table tbody'),
                 loader: $('table.certificates_table tbody tr.loader')
             })
             .setAutocompleteOptions('affiliation', {
             	source: _nsUrl+'?type=affiliation',
                 target: $('input.affiliation_selector'),
                 selectedDataContainer: $('table.affiliations_table tbody'),
                 loader: $('table.affiliations_table tbody tr.loader')
             })
             .setAutocompleteOptions('accreditation', {
             	source: _nsUrl+'?type=accreditation',
                 target: $('input.accreditations_selector'),
                 selectedDataContainer: $('table.accreditation_table tbody'),
                 loader: $('table.accreditation_table tbody tr.loader')
             })
             .autocomplete();

        	var LoadMedicalSpecialists = '{{ path("admin_institution_medicalCenter_loadMedicalSpecialist", {"imcId": institutionMedicalCenter.id, "institutionId": institution.id}) }}';
        	InstitutionSpecialistAutocomplete
	        .setLoadHtmlContentUri('{{ path("admin_institution_medicalCenter_ajaxAddMedicalSpecialist", {"imcId": institutionMedicalCenter.id, "institutionId": institution.id}) }}')
	        .setLoadMedicalSpecialistUri('{{ path("admin_institution_medicalCenter_loadMedicalSpecialist", {"imcId": institutionMedicalCenter.id, "institutionId": institution.id}) }}')
	        .setAutocompleteOptions('specialist', {
	            source: LoadMedicalSpecialists,
	            target: $('#institutionDoctorSearch_firstName'),
	            selectedDataContainer: $('table.specialist_table tbody'),
	            loader: $('#loader_ajax'),
                field: $('#institutionDoctorSearch_firstName')
	        })
	        .autocomplete();

            $('a.removeDoctor').click(function(){
            	var elem = $(this);
                var _url = elem.attr('href');
                
                $("#dialog-container").empty();
                $('#dialog-container').dialog({
                    title: 'Doctors',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {
                                $('#dialog-container').html(data);
                            }
                        );
                    },
                });
                
                $('#dialog-container').dialog("open");

                     return false;
            });
            
            $('a.add-offered-services').click(function(){
            	var elem = $(this);
    			var _url = elem.attr('href');

    			$("#dialog-container").empty();
    			//$('#dialog-container').dialog('option','title', (elem.hasClass("edit") ? 'Edit' : 'Add') + ' GlobalAwards');
                $('#dialog-container').dialog({
                	title: 'Add Offered Services',
                    open: function() {
                        $.ajax(_url)
                            .done(function (data) {        
                            	$('#dialog-container').html(data);
                            }
                        );
                    },
                });

            	$('#dialog-container').dialog("open");

                 	return false;           
            });
            $('.medical-centers').click(function(){
                var url = $(this).find('.url').attr('href');
                var specializationElem = $(this).next().find('.specializations:first');

                if($.trim(specializationElem.html()) == '') {
                	specializationElem.html('<div class="ajax-loading">loading...</div>');
                    $.get(url, function(result) {
                    	specializationElem.html(result);
                    });
                }
            });

            $('.view-center').click(function(){
                window.location = $(this).attr('href');
                return false;
            });

            $('.edit-center-description').click(function(){
                if($(this).next().is(':visible')) {
                	$(this).find('i').attr('class', 'icon-ok');
                	$(this).find('span').html('save')
                    $(this).next().hide().siblings('.mceEditor').show();

                } else {
                    var url = $(this).attr('href');
                    var param = { description: $(this).siblings('textarea').val() };

                	$.post(url, param, function(result){}, 'json');

                	$(this).find('i').attr('class', 'icon-edit');
                	$(this).find('span').html('edit')
                    $(this).next().html(param.description).show().siblings('.mceEditor').hide();                
                }

                return false;
            });

            $('.edit-center-name').click(function(){
                if($(this).next().is(':visible')) {
                	$(this).find('i').attr('class', 'icon-ok');
                	$(this).find('span').html('save')
                    $(this).next().hide().siblings('input').show();
            
                } else {
                    var url = $(this).attr('href');
                    var param = { name: $(this).siblings('input').val() };

                	$.post(url, param, function(result){}, 'json');

                	$(this).find('i').attr('class', 'icon-edit');
                	$(this).find('span').html('edit')
                    $(this).next().html(param.name).show().siblings('input').hide();

                	$("#centersAccordion").accordion("enable");
                }

                return false;
            }).siblings('input').click(function(){
    			$('#centersAccordion').accordion("disable").removeClass('ui-state-disabled'); 
    			$(this).parent().removeClass('ui-state-disabled'); 
    		});
            $('a.edit-status').click(function(){
            	$('div#status_medicalCenter_modal_form').modal('show');
                return false;
            });

        });
        
    	// initialize businesshours form
        ClinicBusinessHoursForm
        .setAjaxContentElement($('#institutionBusinessHoursText'))
        .setFormElement($('#businessHours-form'))
        .initInputElements({
            'submitButton': $('#saveBusinessHours'),
            'isClosed': $('input.closedToggle'),
            'isOpenWholeDay': $('input.openWholeDayToggle'),
            'isAlwaysOpen': $('input.alwaysOpenToggle')
        })
        .initializeState();

        $('#btnClose').click(function() {
        	$(this).dialog('close');

         	return false;       
        });

        
        
    </script>
{% endblock %}
