{% set treatmentsListOnly = treatmentsListOnly is defined and treatmentsListOnly %}
<div class="accordion-group selected" style="display: block;">
    <div class="accordion-heading" style="font-size: 18px;padding: 10px 0; !important">
        <a href="#specialization_accordion_{{ specialization.id }}" data-parent="#specializationsAccordion" data-toggle="collapse" class="accordion-toggle">{{ specialization.name }}</a>
    </div>
    <div class="accordion-body in collapse" id="specialization_accordion_{{ specialization.id }}" style="height: auto;">
            {% if not treatmentsListOnly %}
                {{ specialization.description }}
            {% endif %}
            <div class="accordion-inner">
            {% for subSpecializationName, treatments in subSpecializations %}
                     <h5>{{ subSpecializationName | length ? subSpecializationName :"Other treatments"  }}</h5>
                     <ul>
                        {% for treatment in treatments %}
                            <li>
                                <input class="treatments"  id="{{ treatment.id }}" type="checkbox" name="{{ formName }}[{{ specialization.id }}][treatments][]" value="{{ treatment.id }}" {{ treatment.id in selectedTreatments ? 'checked' : '' }}/>
                                 <label class="required labelCheckbox" for="{{ treatment.id }}" style="display: inline !important;">{{ treatment.name }}</label>
                            </li>
                        {% endfor %}
                      </ul>
            {% endfor %}
            </div>        
    </div>
</div>

{#<input type="hidden" name="{{ formName }}[{{ specialization.id }}][specialization]" value="{{ specialization.id }}" />#}
<input type="hidden" name="{{ formName }}[{{ specialization.id }}][{{form.children._token.vars.name}}]" value="{{ form.children._token.vars.value }}" />

<script type="text/javascript">
    $('.treatments').click(function(){
        if(this.checked) {
            $('#addSpecializationBtn').removeAttr('disabled');
        }
        else {
            if(!$('input:checkbox').is(':checked')) {
            	$('#addSpecializationBtn').attr('disabled', 'disabled');
            }
            
        }
        
    });
</script>