{% for doctor in doctors %}
	<tr id="doctor_id_{{ doctor.id }}">
		<td>{{ doctor.lastName|title|escape }}, {{ doctor.firstName|title|escape }} {{ doctor.middleName|title|escape }} - {{ doctor.id }}</td>
		<td>
		{% if doctor.specializations|length %}
            {{ doctor_specializations_to_string(doctor) }}
	    {% else %}
		    No Specializations yet
		{% endif %}
		</td>
	    <td>
	     <div class="post-toolbar  treatment_action">
            <a href="{{ path('admin_doctor_edit', {idId: doctor.id}) }}" target="_blank"><i class="icon-edit" title="edit"></i> Edit</a> |
    		<a href="{{ path('admin_institution_medicalCenter_ajaxRemoveMedicalSpecialist', {institutionId: institution.id, imcId: institutionMedicalCenter.id, doctorId: doctor.id} )}}" class="removeDoctor" title="" role="button" data-toggle="modal"><i class="icon-trash" title="Delete"></i> Delete</a>
    	</div>
	    </td>
	</tr>
{% endfor %}