{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers'%}
{% block title %}{{ parent() }} Add Center {% endblock %}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>
            {% set hasDraft = hasDraft is defined and hasDraft %}
            {% if hasDraft %}
                Edit draft: {{ institutionMedicalCenterGroup.medicalCenter.name }}
            {% else %}
                Add specialization
            {% endif %}
        </h1>
    </div>
    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalCenterGroup:relatedTasks.html.twig'  %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content" style="width:70%">

                {% include '::notice.admin.html.twig' %}

                {% include '::stepHolder.base.admin.html.twig' with {
                    steps: [
                        {title: 'Center Details', 'selected': true},
                        {title: 'Specializations'},
                        {title: 'Doctors'},
                        {title: 'Preview', 'selected': false},
                 ]}
              %}

                <form novalidate="novalidate" action="{{ path('institution_medicalCenterGroup_addDetails') }}" method="POST" {{ form_enctype(form) }} class="basic-form">

                    {{ form_errors(form) }}
                                    
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_rest(form) }}

                    <input type="reset" value="Reset" class="form-reset"/>
                    {% if hasDraft %}
                        <a href="{{ path('institution_medicalCenter_deleteDraft', { 'imcgId': institutionMedicalCenterGroup.id }) }}" class="button-type">Delete draft</a>
                    {% endif %}


                    <input type="submit" name="submit" value="Next" class="green-button" />

                </form>

                
            </div>
            <!--  end table-content  -->

        {% endblock %}

    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
