{% extends 'InstitutionBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Add Center {% endblock %}

{% block content %}
<!-- start content -->
<div class="container">
	<div class="maincontent">
		<!--sidebar start-->
			<div class="span3">
			 	{% include 'InstitutionBundle:Default:leftNavigation.html.twig'  %}
			</div>
	
			<div class="span9">
			<h2>
		      {% set hasDraft = hasDraft is defined and hasDraft %}
	            Add Medical Center		
			</h2>
			 <div class="addcenterbox">
			 	<div class="row-fluid">
				    <div class="span12">
				            <div class="tabbable">
								<!-- /.menu - tab start -->
								        {% include '::notice.admin.html.twig' %}
						
								    {% include '::stepHolder.base.admin.html.twig' with {
						                    steps: [
						                        {title: '- Center Details'},
						                        {title: '- Specialization'},
						                        {title: '- Select Treatments'},
						                        {title: '- Assigned Doctors', 'selected': true},
						                        {title: '- Preview', 'selected': false},
						                 ]}
						              %}							
								<!-- /.menu - tab end -->
								<!-- /.tab-content start -->
								<div class="tab-content">
									<div id="tabs1-pane1" class="tab-pane active">
													
										<form novalidate="novalidate" action="{{ path('institution_medicalCenterGroup_addSpecializations', {'imcgId': institutionMedicalCenterGroup.id } ) }}" method="POST" class="basic-form">
											<h3>Medical Specialist Assigned in this Medical Center</h3>	
																
											<label for="username"></label>
											<div >										
												<div class="input-prepend">
													<input id="search_doctor" class="input-xxlarge" type="text" value="" name="searchDoctor">
												</div>
											</div>
											    
											<div><input type="submit" name="Submit" value="next" class="btn btn-large btn-primary" /></div>											
										</form>
										
										<div id="ajax_loader" style="display: none;">Please wait...</div>
							                 <h4>List of All Doctors</h4>
							                 <ul class="nav nav-tabs nav-stacked doctor_list_item">
							                    {% for currentDoctor in currentDoctors %}
							                        <li>{% include 'InstitutionBundle:MedicalCenterGroup:doctorListItem.html.twig' with {'imcgId':institutionMedicalCenterGroup.id, 'doctor': currentDoctor } %}</li>
							                    {% endfor %}
							                 </ul>
						                
									</div>
								
								</div><!-- /.tab-content end -->
							</div>
				    </div><!--/span 12 end-->
				 </div><!--/row-fluid end-->
			 </div>
		</div>
			<!--main tab start-->
		
			<div class="clear"></div>
	</div>
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/institution/js/InstitutionMedicalCenterGroup.js') }}"></script>
<script type="text/javascript">
    (function($){

        function onClickRemoveDoctor(el) {
            _el = $(el);
            $('div#ajax_loader').show();
            $.ajax({
                url: _el.attr('href'),
                type: 'post',
                dataType: 'json',
                success: function(json){
                    _el.parents('ul.doctor_list_item').remove();
                    $('div#ajax_loader').hide();   
                }
            });
            return false;
        }
        
        $(function(){
            $('a.remove_doctor_link').click(function(event){
                return onClickRemoveDoctor(event.target);
            });
            
            $('input#search_doctor').autocomplete({
                source: function(request, response) {
                    $('div#ajax_loader').show();
                    $.ajax({
                        url: '{{ path("institution_medicalCenterGroup_searchAvailableDoctor", {"imcgId": institutionMedicalCenterGroup.id }) }}',
                        data: {'searchKey': request.term},
                        type: 'get',
                        dataType: 'json',
                        success: function(data) {
                            $('div#ajax_loader').hide();
                            response( $.map( data, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    html: item.html,
                                    id: item.id
                                }
                            }));
                        }
                    });
                },
                select: function(event, ui) {
                    $('div#ajax_loader').show();
                    $.ajax({
                        url: '{{ path("institution_medicalCenterGroup_addExistingDoctor", {"imcgId": institutionMedicalCenterGroup.id } ) }}',
                        data: {'doctorId':ui.item.id},
                        dataType: 'json',
                        type: 'post',
                        success: function(json){
                            _div = $(ui.item.html);
                            _div.find('a.remove_doctor_link').bind('click', function(event){
                                return onClickRemoveDoctor(event.target);
                            });
                            _div.appendTo($('ul.doctor_list_item'));
                            $('input#search_doctor').val('');
                            $('div#ajax_loader').hide();
                        }
                    });
                    
                    return false;
                }
            });
        });
    })(jQuery);
</script>
{% endblock %}