{% extends 'InstitutionBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Add Center {% endblock %}


{% block content %}

<!-- start content -->
<div class="container">
	<div class="maincontent">
		<!--sidebar start-->
			<div class="span3">
			 	{% include 'InstitutionBundle:Default:leftNavigation.html.twig'  %}
			</div>
		<div class="span9">
			<h2 style="padding:7px 20px 5px 15px">
	            {% set hasDraft = hasDraft is defined and hasDraft %}
	            {% if hasDraft %}
	                Edit draft: {{ institutionMedicalCenterGroup.name }}
	            {% else %}
	                Add Medical Center
	            {% endif %}
			</h2>
			 <div class="addcenterbox">
				 <div class="row-fluid">
				    <div class="span12">
				            <div class="tabbable">
				            {% include '::notice.admin.html.twig' %}
						
								    {% include '::stepHolderClient.base.admin.html.twig' with {
						                    steps: [
						                        {title: '- Center Details'},
						                        {title: '- Specialization', 'selected': true},
					                           {title: '- Select Treatments'},
						                        {title: '- Assigned Doctors'},
						                        {title: '- Preview', 'selected': false},
						                 ]}
						              %}
				
								<div class="tab-content">
					                           <form novalidate="novalidate" action="{{ path('institution_medicalCenterGroup_addSpecializations', {'imcgId': institutionMedicalCenterGroup.id } ) }}" method="POST" class="basic-form">
	                                        		<h3>Specialization and its Description</h3>
													<p>please add all specialization under the center name</p>
	                                        {{ form_errors(form) }}
	                                        
						                    {{ form_row(form.medicalCenter) }}
						            
						                    {{ form_row(form.description) }}
						                    
						                    {{ form_rest(form) }}
					
					                    
											<input type="submit" name="Submit" value="Add Specialization" class="btn btn-success" />
												
												<div class="clear">&nbsp;</div>											
												<hr>
		
															<h4>specialization 1</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
															labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
															nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
															esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
															culpa qui officia deserunt mollit anim id est laborum.</p>
							
												
												<div class="span7">
												
													<span class="span4"><input type="submit" name="Submit" value="Edit Specialization" class="btn btn-info" /></span>
													<span class="span6"><input type="submit" name="Submit" value="Add Another Specialization" class="btn btn-success" /></span>
												
												</div>
												
												<div class="clear">&nbsp;</div>											
												<hr>
										
					                  	<input type="submit" name="Submit" value="next" class="btn btn-large btn-primary" />
					
					
					                </form>
									
								</div><!-- /.tab-content -->
							</div>
				    	</div><!--/span-->
				  </div><!--/row-->
			  </div>
		</div>
		<div class="clear"></div>
 </div>
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/InstitutionMedicalCenterGroup.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            InstitutionMedicalCenterGroup.initSpecializationsForm({
                'loadInstitutionMedicalCentersUri': '{{ path("institution_medicalCenterGroup_loadAvailableSpecializations", {"imcgId": institutionMedicalCenterGroup.id} ) }}',
                'loadInstitutionTreatmentProceduresUri' : '{{ path("institution_medicalCenterGroup_loadAvailableTreatments", {"imcgId": institutionMedicalCenterGroup.id} ) }}',
                'institutionMedicalCenterField': $('#institutionMedicalCenter_medicalCenter'),
                'institutionTreatmentProcedureField': $('#institutionMedicalCenter_treatmentProcedures')
            });
            
        });
    </script>
{% endblock %}
