{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form '::form.admin.html.twig' %}
{% set selectedSubMenu = 'user' %}

{% block content %}
<div class="span3">
    {% include 'AdminBundle:Widgets:settingsTasks.html.twig'%}
    </div>
    <div id="content" class="span9">
    
    	{% embed 'HelperBundle:Widgets:section.html.twig' with { 
	                title: 'Change Password',
	            }
	    %}
    
    {% block sectionContent %}
	
	           	{% include '::notice.admin.html.twig' %}
            
                <form novalidate="novalidate" action="{{ path('admin_change_password') }}" method="POST" {{ form_enctype(form) }} class="user">
                    <!-- start id-form -->
                    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                        
                        {{ form_row( form.current_password ) }}
                        {{ form_row( form.new_password ) }}
                        {{ form_row( form.confirm_password ) }}
                        {{ form_rest(form) }}
                        
                        <tr>
                            <th>&nbsp;</th>
                            <td valign="top">
                                <input type="submit" name="submit" value="Submit" class="btn btn-large btn-primary" />
                                <input type="reset" value="Reset" class="btn btn-large"  />
                            </td>
                            <td></td>
                        </tr>
                        
                    </table>
                    <!-- end id-form  -->
                </form>
              
            {% endblock %}
	         
	   {% endembed %}
        
    </div>
{% endblock %}
                
