{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'settings' %}
{% form_theme form '::form.admin.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>
    	    {% if user.accountId %} 
    	        Edit {{ user.name | title }}   user type
	        {% else %}
	            Create new user type
            {% endif %} 
        </h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
             <table style="width:100%;">
                <tr>
                    <td style="vertical-align: top; ">
            			<!--  start table-content  -->
            			<div id="table-content">
            			
            			    {% if app.session.hasFlash('notice') %}
            			        {% include '::notice.admin.html.twig' with {'class': 'notice', 'message':  app.session.flash('notice') } %}
            		        {% endif %}
            			
            			    <form novalidate="novalidate" action="{{ user.accountId ? path('admin_user_edit_save', {id: user.accountId}) : path('admin_user_add_save') }}" method="POST" {{ form_enctype(form) }} class="user">
                			    <!-- start id-form -->
                        		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                        		    
                        		    {{ form_row(form.name) }}
                                    
                                    <tr>
                                		<th>&nbsp;</th>
                                		<td valign="top">
                                			<input type="submit" name="submit" value="" class="form-submit" />
                                			<input type="reset" value="" class="form-reset"  />
                                		</td>
                                		<td></td>
                                	</tr>
                                    
                                    {{ form_rest(form) }}
                                    
                            	</table>
                            	<!-- end id-form  -->
                        	</form>
            			</div>
            			<!--  end table-content  -->
        			</td>
        			<td style="vertical-align: top; ">
        			    {% block relatedTasks %}
                            {% include 'AdminBundle:AdminUser:relatedTasks.html.twig' %}
                        {% endblock %}
        			</td>
    			</tr>
			</table>
        {% endblock %}
        
        
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
