{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'settings'%}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ site_name }}Admin users</h1>
    </div>

    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
        
            <table style="width:100%;">
                <tr>
                    <td style="vertical-align: top; ">
            			<!--  start table-content  -->
            			<div id="table-content">
            			
            			    {% if app.session.hasFlash('notice') %}
            			        {% include '::notice.admin.html.twig' with {'class': 'notice', 'message':  app.session.flash('notice') } %}
            		        {% endif %}
            			
            			    <table style="width:100%;" border="0" cellpadding="0" cellspacing="0" class="generic-table" id="table-list">
                				<tr>
                				    <th class="table-header-check"></th>
                					<th class="table-header-repeat line-left minwidth-1"> <a href="#">Full name</a></th>
                					<th class="table-header-repeat line-left minwidth-1"> <a href="#">Email</a></th>
                					<th class="table-header-repeat line-left minwidth-1"> <a href="#">User type</a></th>
                					<th class="table-header-options line-left"><a href="#">Options</a> </th>
                				</tr>
                				
                				{% set even = false %}
                				{% for user in users %}
                				    <tr class="{{ even ? 'alternate-row' : ''}}">
                				        <td></td>
                    					<td>{{ user.fullName | title }}</td>
                    					<td>{{ user.email }}</td>
                    					<td>{{ user.adminUserType.name | title }}</td>
                    					<td class="options-width">
                        					<a href="{{ path('admin_user_index', {id: user.accountId }) }}" title="Edit {{ user.fullName | title }}" class="icon-1 info-tooltip"></a>
                        					<a href="#" title="Delete" class="icon-2 info-tooltip"></a>
                    					</td>
                    				</tr>
                    				{% set even = even ? false : true %}    
                				{% endfor %}
                				
            				</table>
            				<!--  end table-list................................... --> 
            			</div>
            			<!--  end table-content  -->
        			</td>
    			<td style="vertical-align: top; width: 20%">
    			    {% block related_tasks %}
    			        {% include 'AdminBundle:AdminUserType:relatedTasks.html.twig' with {'showAdd': true, 'showList': false, 'showRoles' : true} %}
    			    {% endblock %}
    			</td>
			</tr>
		</table>
        {% endblock %}
        
    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}