{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_add'%}

{% block content %}
    <div id="content">
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
            
          <div class="addcenterbox">
			 	<div class="row-fluid">
				    <div class="span12">
				            <div class="tabbable">
								<!-- /.menu - tab start -->
								        {% include '::notice.admin.html.twig' %}
						
								    {% include '::stepHolder.base.admin.html.twig' with {
						                    steps: [
						                        {title: '- Create Account', 'selected': true},
						                        {title: '- Add Institution Details'},
						                        
						                 ]}
						              %}				 			
								<!-- /.menu - tab end -->
								<!-- /.tab-content start -->
								<div class="tab-content">
									<div id="tabs1-pane1" class="tab-pane active">
													
										<form novalidate="novalidate" name="account" action="{{ path('admin_institution_add') }}" method="POST" class="form">
					
					                    <h5>Create USER account.</h5>
					                     {{ form_row(form.firstName) }}
					                     {{ form_row(form.lastName) }}
    					                        
					                      	{{ form_row(form.email) }}
					                      	
					                       <input type="button" class="btn btn-info" value="Generate Email" onClick="randomString();" style="float: right;margin-right: 467px;margin-top: -37px;">
					                       {{ form_row(form.confirm_email) }}
			                                {% for _widget in form.contactDetails %}
			                                    <div class="span12 contact-add">
                                                    {{ form_widget(_widget) }}
                                                </div>
                                            {% endfor %}
                                            {{ form_row(form.jobTitle) }}
				                            {{ form_row(form.password) }}
					                        {{ form_row(form.confirm_password) }}
                                            <div>
                                                <label for="institutionTypes">Types of Institution</label>
                                                {% for _key, _typeChoice in form.type.vars.choices %}
                                                    <div>
                                                        {% set _inputId =  form.type.vars.id ~ '_' ~ _key %}
                                                        <input id="{{ _inputId }}" type="radio" value="{{ _typeChoice.value }}" required="required" name="{{ form.type.vars.full_name }}">
                                                        <label class="required" for="{{ _inputId }}" style="display: inline !important;">{{ _typeChoice.label }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <hr>
					                     {{ form_widget(form._token) }}
					                    <input type="submit" name="Submit" value="Next" class="btn-large btn-primary" />
					                    
					                </form>
									</div>
								
								</div><!-- /.tab-content end -->
							</div>
					    </div><!--/span 12 end-->
					 </div><!--/row-fluid end-->
				 </div>
             
            {% endblock %}
        {% endembed %}
    </div>
    
{% endblock %}
{% block inlineJavascriptCode %}
	<script type="text/javascript">
		function randomString() {
			var chars = "abcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			//var inputVal = document.getElementById('institutionSignUp_email');
			var institutionSignUp = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				institutionSignUp += chars.substring(rnum,rnum+1) ;
			}
			//document.account.inputVal.value = institutionSignUp[email];
			
		 document.getElementById("institutionUserSignUp_email").value = institutionSignUp + "@healthcareabroad.com" ;
		 document.getElementById("institutionUserSignUp_confirm_email").value = institutionSignUp + "@healthcareabroad.com" ;
		}

	</script>	
{% endblock %}
