{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_add'%}

{% block content %}
    <div id="content">
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
         
         			 <div class="addcenterbox">
			 	<div class="row-fluid">
				    <div class="span12">
				            <div class="tabbable">
								<!-- /.menu - tab start -->
								  
									    {% include '::stepHolder.base.admin.html.twig' with {
						                    steps: [
						                        {title: '- Create Account'},
						                        {title: '- Institution Details', 'selected': true},
						                        
						                 ]}
						              %}							
								<!-- /.menu - tab end -->
								<!-- /.tab-content start -->
								<div class="tab-content">
									<div id="tabs1-pane1" class="tab-pane active">
									      {% include '::notice.admin.html.twig' %}
									      
									      <form novalidate="novalidate" action="{{ path('admin_institution_add_details', {institutionId: institution.id }) }}" method="POST"  class="basic-form">
								                 <div class="name control-group {{ (form.name.vars.valid ? '' : 'error') }}">
								                   <label for="name"> Medical Institution Name  </label>
                                                     {{ form_widget( form.name ) }}
                                                     {{ form_errors(form.name) }}
                                                 </div>
                                                {{ form_row( form.description, {attr: {rows: 5, style: 'width: 750px;'} } ) }}
                                                 <div class="control-group">
                                                    <label for="network-group">  Medical Provider Group/Network  </label>
                                                        {% for _i in form.medicalProviderGroups %}
                                                             {{ form_widget(_i, {'attr': {class: 'span3'} })  }}
                                                             {% else %}
                                                             <input id="institution_profile_form_medicalProviderGroups_0" class="span3" type="text" name="institution_profile_form[medicalProviderGroups][0]" value="">
                                                         {% endfor %}
                                                     <div id="autoDiv">
                                                     </div>
                                                </div>
                                                <div class="control-group  {{ (form.contactEmail.vars.valid ? '' : 'error') }}">
                                                     <label for="email">Email </label>
        					                         <input type="button" class="btn btn-info" value="Generate Email" onClick="randomString();" style="float: right;margin-right: 467px;margin-top: 4px;">
        						                      	{{ form_widget(form.contactEmail) }}
        						                      	{{ form_errors(form.contactEmail) }}
    					                        </div>
    					                        {{ form_row( form.websites) }}
    					                        <hr />
                                                    <h4 style="margin-bottom: 10px;"> Institution Address </h4>
                                                    {{ form_widget( form.address1 ) }}
                                                 <div class="span12">
                                                    <div class="span4 control-group {{ (form.address1.vars.valid ? '' : 'error') }}">
                                                         <label for="{{ form.children.country.vars.id }}">
                                                            {{ form.children.country.vars.label }} *
                                                        </label>
                                                          {{ form_widget( form.country ) }}
                                                          {{ form_errors(form.country) }}
                                                    </div>
                                                    <div class="city control-group {{ (form.city.vars.valid ? '' : 'error') }}  span4">
                                                        <label for="{{ form.children.city.vars.id }}">  City *  </label>
                                                    {{ form_widget( form.city ) }}
                                                     {{ form_errors(form.city) }}
                                                    </div>
                                                </div> 
                                                <div class="state control-group">
                                                    <label>State / Province </label>
                                                    {{ form_widget( form.state ) }}   
                                                     {{ form_errors(form.state) }}      
                                                </div>     
                                              
                                                <div class="zipCode control-group {{ (form.zipCode.vars.valid ? '' : 'error') }}">
                                                    <label for="{{ form.children.zipCode.vars.id }}">
                                                     {{ form.children.zipCode.vars.label }} *</label>
                                                     {{ form_widget(form.zipCode, { attr: {class: 'span3 addressFields'} } )}}
                                                     {{ form_errors(form.zipCode) }}
                            		  			 </div>   
                            		  			 <div class="control-group">
                                                    {{ form_label(form.addressHint )}}
                                                    {{ form_widget(form.addressHint, { attr: {class: 'span12'} } )}}
                                                </div>
                                                <hr />
                                                {% for _widget in form.contactDetails %}
                                                    <div class="span12">
                                                        {{ form_widget(_widget) }}
                                                    </div>
                                                {% endfor %}
                                                 <div class="row-fluid">
                                                     <div class="span7">
                                                     <h4 style="margin-bottom: 10px;">Social Media Sites</h4>
                                                        {{ form_widget(form.socialMediaSites) }}
                                                    </div>
                                                </div>
									  			{{ form_widget(form._token) }} 
									  			<input type="submit" name="submit" value="Submit" class="btn-large btn-primary"/>
									  		</form>	
							  			</div>
									</div>
								
								</div><!-- /.tab-content end -->
							</div>
					    </div><!--/span 12 end-->
					 </div><!--/row-fluid end-->
				 </div>
           	
            {% endblock %}
        {% endembed %}
  {% endblock %}
  
  
{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript">
<!--
    Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
    $(function(){
        
        $("#institution_profile_form_medicalProviderGroups_0").autocomplete({
            appendTo: "#autoDiv",
            source: $.parseJSON('{{ add_slashes(medicalProvidersJSON) | raw }}'),
        });

        var countryWidget = $('#{{ form.country.vars.id ~ "_widget" }}');
        countryWidget.on('selectedCountry', function(e){
            var fancyAutocomplete = $(e.target).data('fancyAutocomplete');
            var countryValue = fancyAutocomplete.options.valueContainer.val();
            var contactWidget = '#{{ form.contactDetails.vars.id ~ "_0_country"}} option[value='+ countryValue +']';
            $(contactWidget+'option[value='+countryValue+']').attr('selected', true);
        });
        
    });

	function randomString() {
		var chars = "abcdefghiklmnopqrstuvwxyz";
		var string_length = 8;
		var institutionSignUp = '';
		for (var i=0; i<string_length; i++) {
			var rnum = Math.floor(Math.random() * chars.length);
			institutionSignUp += chars.substring(rnum,rnum+1) ;
		}
		//document.account.inputVal.value = institutionSignUp[email];
		
	 document.getElementById("institution_profile_form_contactEmail").value = institutionSignUp + "@healthcareabroad.com" ;
	}
//-->
</script>
{% endblock %}