{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_add'%}

{% block content %}
    <div id="content">
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
         
         			 <div class="addcenterbox">
			 	<div class="row-fluid">
				    <div class="span12">
				            <div class="tabbable">
								<!-- /.menu - tab start -->
								  
									    {% include '::stepHolder.base.admin.html.twig' with {
						                    steps: [
						                        {title: '- Create Account'},
						                        {title: '- Institution Details', 'selected': true},
						                        
						                 ]}
						              %}							
								<!-- /.menu - tab end -->
								<!-- /.tab-content start -->
								<div class="tab-content">
									<div id="tabs1-pane1" class="tab-pane active">
									      {% include '::notice.admin.html.twig' %}
								
											<h2 style="margin-top: 15px; ;">{{ institution.description ? 'Edit' : 'Add' }} Institution Details</h2>
									
											<h3>{{ institution.name() }} </h3>
											<h5>{{ institution.typeLabel() }}</h5>
										
										 <form novalidate="novalidate" action="{{ path('admin_institution_add_save_details', {institutionId: institution.id }) }}" method="POST"  class="basic-form">
											
													{{ form_row( form.description ) }}
									  				{{ form_row( form.contactEmail ) }}
								  		   		    {{ form_row( form.country ) }}
									                {{ form_row( form.city ) }}
									  		   		{{ form_row( form.address1 ) }}   
									  		   		{{ form_row( form.state ) }}               
									  			    {{ form_row( form.zipCode ) }}
									 
							
									  		<input type="submit" name="submit" value="Submit" class="btn-large btn-primary"/>
									  		 			{{ form_rest(form) }}
									  		</form>	
							  			</div>
									</div>
								
								</div><!-- /.tab-content end -->
							</div>
					    </div><!--/span 12 end-->
					 </div><!--/row-fluid end-->
				 </div>
           	
            {% endblock %}
        {% endembed %}
  {% endblock %}