{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% block title %}{{ parent() }} {{ newProcedureType ? "Add" : "Edit"}} Procedure Type {% endblock %} 

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h2>
    	    {% if newProcedureType %} 
    	        Creat procedure type
	        {% else %}
	            Edit procedure type {# institutionTreatment.treatment.name #}
	         {% endif %}       
        </h2>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            			
          	    {% include '::notice.admin.html.twig' %}

            	{% set contents = [
						{
							'title': 'Manage Procedure Types',
							'description': 'Go back to procedure type management page',
							'href': path('admin_institution_manageProcedureTypes', {institutionId:institution.id,imcId:institutionMedicalCenter.id}), 
							'links': [
								{'title' : 'Add another procedure type','href': path('admin_institution_procedureType_add', {institutionId:institution.id, imcId:institutionMedicalCenter.id}), 'isVisible' : not newProcedureType},
								{'title': 'Back to procedure type management', 'href': path('admin_institution_manageProcedureTypes', {institutionId:institution.id, imcId:institutionMedicalCenter.id})}
							]
						}
					]
  				%}
  				
  				{% if not newProcedureType %}
  				
	  				{% set contents = contents | merge ([{
							'isVisible' : newProcedureType ? false : true,
							'title': 'Add medical procedure', 
							'description': 'Add medical procedure to this procedure type',
							'class' : 'add-procedure add-icon',
							'href': path('admin_institution_treatmentProcedure_add', {institutionId:institution.id, imcId:institutionMedicalCenter.id, imptId: institutionTreatment.id}), 
							'links': [
								{
									'title': 'Add a medical procedure',
									'class' : 'add-procedure',
									'href': path('admin_institution_treatmentProcedure_add', {institutionId:institution.id, imcId:institutionMedicalCenter.id, imptId: institutionTreatment.id}),
								}
							]
						}])
	  				%}
  				{% endif %}
  				
				{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}

				{% set savePath = newProcedureType 
					? path('admin_institution_procedureType_create',{institutionId:institution.id, imcId:institutionMedicalCenter.id}) 
					: path('admin_institution_procedureType_update',{institutionId:institution.id, imcId:institutionMedicalCenter.id, imptId:institutionTreatment.id}) %}

            	<form novalidate="novalidate" action="{{ savePath }}" method="POST" {{ form_enctype(form) }} class="basic-form">
					<div>
						<label>Medical Center</label>
						<span class="fixed-value">{{ institutionMedicalCenter.medicalCenter.name }}</span>
					</div>

					{% if not newProcedureType %}
						<div>
							<label>Procedure Type</label>
							<span class="fixed-value">{{ institutionTreatment.treatment.name }}</span>
						</div>
					{% endif %}
					
	                {{ form_row(form.treatment) }}
	                {{ form_row(form.description) }}
	                {{ form_rest(form) }}
	                <input type="submit" name="submit" value="" class="form-submit" />
                </form>
        {% endblock %}
        
    {% endembed %}
</div>
{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/InstitutionTreatmentProcedure.js') }}"></script>
	<script type="text/javascript">

        $(function(){
        	$("#dialog-container").dialog({autoOpen: false, width: 700, modal: true, resizable: false});

        	$("a.add-procedure").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');
				elem.attr('href', 'javascript:void(0)');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					title: 'Add Treatment Procedure',
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
			});
        });
	</script>
{% endblock %}
{#

                {% if(not newProcedureType) %}
                <br/><br/>
				<h3>Treatment Procedures</h3>
							    <table width="70%" class="generic-table" id="medical-centers-list">
				    				<tr>
				    					<th class="minwidth-1" width="200px"><a href="#">Procedures</a></th>
				    					<th class="minwidth-1"><a href="#">Description</a></th>
				    					<th width="50"><a href="#">Options</a></th>
				    				</tr>

									{% set procedures = institutionTreatment.institutionTreatmentProcedures %}

									{% for procedure in institutionTreatment.institutionTreatmentProcedures  %}
										{% set treatmentProcedure = procedure.treatmentProcedure %}
										<tr>
											<td>{{ treatmentProcedure.name }}</td>
											<td>{{ procedure.description }}</td>  
											<td>
				            					<a href="#" title="Edit" class="icon-1 info-tooltip"></a>
				            					{% set class = treatmentProcedure.status ? 'icon-2' : 'icon-5' %}
				            					<a href="{{ path('admin_institution_treatmentProcedure_updateStatus', {impId: procedure.id}) }}"
				            						title="{{ treatmentProcedure.status ? 'Delete' : 'Activate' }}" 
				            						class="update-status {{ class }} info-tooltip">
				            					</a>
											</td>
										</tr>
									{% else  %}
										<tr><td colspan="3" class="empty-list">No Treatment Procedures yet!</td></tr>
									{% endfor %}
								</table>
							{% endif %}
#}