
{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_centers' %}

{% block content %}

	<div id="content">
		<div id="page-heading"><h2>{{ institutionMedicalCenterId ? 'Edit' : 'Add' }} Medical Center</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

            {% set contents = [
					{
						'title': 'Manage procedure types', 
						'description': 'Manage medical procedure types for this center',
						'href': path('admin_medicalCenter_index'), 
						'links': [{'title': 'View procedure types', 'href': path('admin_medicalCenter_index')}]
					},
	            	{
						'title': 'Back to manage centers', 
						'description': 'View the list available medical centers',
						'href': path('admin_medicalCenter_index'), 
						'links': [{'title': 'View medical centers', 'href': path('admin_medicalCenter_index')}]
					}
				]
            %}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}

			<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">		
				{{ form_row(form.medicalCenter) }}
				{{ form_row(form.description) }}
				{{ form_row(form.status) }}
				{{ form_rest(form) }}
			    <input type="submit" class="form-submit" name="submit"/>
			</form>


			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}
