
{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions' %}

{% block content %}

	<div id="content">

		<div id="page-heading"><h2>{{ institutionMedicalCenter.id ? 'Edit' : 'Add' }} Medical Center</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

				{% include '::notice.admin.html.twig' %}
				
	            {% set contents = [{
					'title': 'Back to institution centers', 
					'description': 'View the list available medical centers',
					'href': path('admin_institution_manageCenters', {institutionId: institutionId}), 
					'links': [{'title': 'View medical centers', 'href': path('admin_institution_manageCenters', {institutionId: institutionId}) }]
				}] %}
	            
	            {% if institutionMedicalCenter.id %}	            
		            {% set addProcedureTypeTask = [{
						'title': 'Add procedure type', 
						'description': 'Add new procedure type for this medical center',
						'class': 'add-procedure-type',
						'href': path('admin_institution_procedureType_add', {institutionId: institutionId, imcId: institutionMedicalCenter.id}), 
						'links': [{'title': 'Add procedure type', 'class': 'add-procedure-type', 'href': path('admin_institution_procedureType_add', {institutionId: institutionId, imcId: institutionMedicalCenter.id})}]
					}] %}
					
					{% set contents = addProcedureTypeTask | merge(contents) %}
	            {% endif %}
	
				{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
				
				<div id="table-content" style="width:75%">
				
					{% if not institutionMedicalCenter.id %}
						<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">		
							{{ form_row(form.medicalCenter) }}
							{{ form_row(form.description) }}
							{{ form_rest(form) }}
						    <input type="submit" class="green-button" value="Save" name="submit"/>
						    <input type="submit" class="green-button" value="Save &amp; Add another center" name="submit"/>
						</form>
					{% else %}
					    <div class="tab-container" id="tab-container" style="padding: 20px;">
							<ul>
								<li><a href="#tab-overview-imc-{{ institutionMedicalCenter.id }}">Overview</a></li>
								{% for impt in institutionMedicalCenter.institutionMedicalProcedureTypes %}
									<li id="procedure-type-{{impt.id}}"><a href="#tab-impt-{{ impt.id }}">{{ impt.medicalProcedureType.name }}</a></li>
								{% endfor %}
							</ul>

							<div id="tab-overview-imc-{{institutionMedicalCenter.id}}">                        
								<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">		
									{{ form_row(form.medicalCenter) }}
									{{ form_row(form.description) }}
									{{ form_rest(form) }}
								    <input type="submit" class="green-button" value="Save" name="submit"/>
								</form>
							</div>

							{% for impt in institutionMedicalCenter.institutionMedicalProcedureTypes %}
								<div id="tab-impt-{{ impt.id }}">
									{% include 'AdminBundle:Institution:medicalProcedureTypeDetail.html.twig' with 
										{institutionId: institutionId, institutionMedicalCenter: institutionMedicalCenter, institutionMedicalProcedureType: impt } 
									%}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endblock %}

		{% endembed %}
	</div>

{% endblock %}

{% block inlineJavascriptCode %}
	<script src="{{ asset('bundles/institution/js/InstitutionMedicalCenter.js') }}"></script>
	<script type="text/javascript">
		$(function(){
			
		    InstitutionMedicalCenter.setCommonDialog($('#dialog-container'), {
			    position: ['center', 100],
			    autoOpen: false,
			    width: 750,
			    modal: true,
			    resizable: false,
			    close: function() { $('#dialog-container').empty(); }
			});

	        $("#tab-container").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
			$("#tab-container li").removeClass('ui-corner-top').addClass('ui-corner-left');

			{% if app.request.get('imptId') %}
				$("#tab-container #procedure-type-{{ app.request.get('imptId') }} a").click();
			{% endif %}			

			$('a.add-procedure-type').click(function(e){
			    return InstitutionMedicalCenter.addProcedureType($(this));
			});
		});
	</script>
{% endblock %}


