{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
	<div id="content">

		<div id="page-heading"><h3>List of Institutions</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			<table class="generic-table mid-size">
			<tr>
				<th class="table-header-repeat line-left minwidth-1"><a href="">Name</a></th>
				<th class="table-header-repeat line-left"><a href="">Description</a></th>
				<th class="table-header-options actions line-left" style="width:220px;"><a href="">Actions</a></th>
			</tr>

			{% for institution in institutions %}
				<tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
					<td>{{ institution.name }}</td>
					<td>{{ institution.description }}</td>
					<td align="center">
						<a href="{{ path('admin_institution_updateStatus', {id:institution.id}) }}" class="update-status">
							{% if institution.status %} deactivate {% else %} activate {% endif %}
						</a> 
					<span class="bar">|</span>
					<a href="{{ path('admin_institution_manageCenters', {id:institution.id}) }}">centers</a>
					<br/>
					<a href="{{ path('admin_institution_manageProcedureTypes', {id:institution.id}) }}">procedure types</a>
					<span class="bar">|</span>
					<a href="{{ path('admin_institution_manageProcedures', {id:institution.id}) }}">procedures</a>
					</td>
				</tr>
			{% else  %}
				<tr><td class="empty-list" colspan="3">No records yet!</td></tr>
			{% endfor %}
			</table>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}