{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_index'%}

{% block content %}
	<div id="content">

		<div id="page-heading"><h3>List of Institutions</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}
			
			{% include '::notice.admin.html.twig' %}

			<!-- Render Filter Box -->
			
			{% autoescape false %}
				{{ listFilters is defined ? listFilters : '' }}
			{% endautoescape %}

			<table class="generic-table" width="70%">
			<tr>
				<th><a href="#">Name</a></th>
				<th><a href="#">Description</a></th>
				<th><a href="#">Status</a></th>
				<th width="160" class="actions"><a href="#">Actions</a></th>
			</tr>

			{% for institution in institutions %}
				<tr id="institution-{{institution.id}}" class="{{ cycle(['alternate-row', ''], loop.index) }}">
					<td><a class="name" href="{{ path('admin_institution_view', {institutionId: institution.id}) }}" title="View {{ institution.name }}">{{ institution.name }}</a> </td>
					<td><a href="{{ path('admin_institution_view', {institutionId: institution.id}) }}" title="View {{ institution.name }}">{{ institution.description }}</a></td>
					<td class="status">{{ statusValues[institution.status] }}</td>
					<td align="center">
						<a id="status-{{institution.id}}" href="{{ path('admin_institution_updateStatus', {institutionId:institution.id}) }}" class="show-update-status">
							update status
						</a>
					<span class="bar">|</span>
					<a href="{{ path('admin_institution_manageCenters', {institutionId:institution.id}) }}">centers</a>
				</tr>
			{% else  %}
				<tr><td class="empty-list" colspan="4">No records yet!</td></tr>
			{% endfor %}
			</table>
			{% endblock %}
		{% endembed %}
	</div>

	<div id="update-status-container" title="Update Status">
		<p>
			<strong id="current-institution"></strong> is currently <strong id="current-status"></strong>. 
			Select an option below to update its status.
		</p>
		<select id="selected-status">
			{% for label,value in statusOptions %}
				<option value="{{value}}">{{label}}</option>
			{% endfor %}
		</select>
		<a id="update-status-button" href="#" class="button-type">Confirm</a>
	</div>
	
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
	$(function(){

		$("#update-status-container").dialog({autoOpen:false, height:250, width:400, modal:true, resizable:false, close:function(){}});

		$("a.show-update-status").click(function() {

			var url = $(this).attr('href');
			var institutionId = $(this).attr('id').split('-').pop();
			var currentStatus = $('#institution-'+institutionId+' > td.status').html();
			var institutionName = $('#institution-'+institutionId+' td > a.name').html();

			$('#current-status').html(currentStatus);
			$('#current-institution').html(institutionName);

			$('#update-status-button').attr('href', url + '/' + $('#selected-status').val());
			$('#selected-status').change(function(){
				$('#update-status-button').attr('href', url + '/' + $(this).val());
			});
			
			$("#update-status-container").dialog("open");
			return false;
		});

		function updateStatus()
		{
			$.ajax(addProcedureUrl)
			.done(function (data) {
				elem.attr('href', addProcedureUrl);
			});
		}
	});
</script>
{% endblock %}