{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
	<div id="content">

		<div id="page-heading"><h3>List of Listings</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			{% include '::notice.admin.html.twig' %}

			<div id="filter-wrapper">
				<label>Filter by Center: </label>
				<select id="procedure_filter" class="styledselect_form_1">
					<option>Center1</option>
				</select>
			</div>
			
			<div id="institution-listings" style="width:70%">

			{% for procedureType in medicalProcedureTypes %}	 
				<h3><a href="#">{{ procedureType.medicalProcedureType.name }}</a></h3>
				<div class="procedures">
					<a class="add-procedure button-type" href="{{ path('admin_institution_addMedicalProcedure', {id:id, institution_medical_procedure_type_id: procedureType.id }) }}">Add Procedure</a>
    				

				    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table" id="medical-centers-list">
	    				<tr>
	    					<th class="table-header-repeat line-left minwidth-1" width="200px"><a href="#">Procedures</a></th>
	    					<th class="table-header-repeat line-left minwidth-1"><a href="#">Description</a></th>
	    					<th class="table-header-options line-left" width="50"><a href="#">Options</a></th>
	    				</tr>

						{% set procedures = procedureType.institutionMedicalProcedures %}

						{% for procedure in procedures %}
							{% set medicalProcedure = procedure.medicalProcedure %}
							<tr>
								<td>{{ medicalProcedure.name }}</td>
								<td>{{ procedure.description }}</td>  
								<td>
	            					<a href="#" title="Edit" class="icon-1 info-tooltip"></a>
	            					{% set class = medicalProcedure.status ? 'icon-2' : 'icon-5' %}
	            					<a href="{{ path('admin_institution_updateProcedureStatus', {
	            								id: id, 
	            								medical_procedure_id: medicalProcedure.id,
	            								institution_medical_procedure_type_id: procedureType.id
	            						}) }}"
	            						title="{{ medicalProcedure.status ? 'Delete' : 'Activate' }}" 
	            						class="update-status {{ class }} info-tooltip">
	            					</a>
								</td>
							</tr>
						{% else  %}
							<tr><td colspan="3" class="empty-list">No Medical Procedures yet!</td></tr>
						{% endfor %}
					</table>

				</div>
			{% else  %}
				<div class="empty-list">No records yet!</div>
			{% endfor %}
			</div>

			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}

{% block inlineJavascriptCode %}
	<script src="{{ asset('bundles/institution/js/InstitutionMedicalProcedure.js') }}"></script>
	<script type="text/javascript">
		$(function(){

			$("#dialog-container").dialog({
				autoOpen: false,
				height: 580,
				width: 700,
				modal: true,
				resizable: false,
				//buttons: {"Save": function() {var bValid = true;}, Cancel: function() {$( this ).dialog( "close" );} },
				close: function() {}
			});

			$("a.add-procedure").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');
				elem.attr('href', 'javascript:void(0)');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
			});

			$("#institution-listings").accordion();			
		});
	</script>
{% endblock %}
