{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% block content %}

	<div id="content">

		<div id="page-heading"><h3>Manage "{{ institutionName }}" Medical Centers</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}

			{% block wrappedContent %}

				{% include '::notice.admin.html.twig' %}
			
				{% include '::relatedTasks.base.admin.html.twig' with 
					{'contents': [
						{
							'title': 'Add medical center', 
							'description': 'Add new medical center to this institution',
							'class': 'add-icon add-medical-center',
							'href': path('admin_institution_addMedicalCenter', {id:id}), 
							'links': [{
								'title': 'click here to add',
								'class': 'add-medical-center',
								'href': path('admin_institution_addMedicalCenter', {id:id})
							}]
						}
	    			]} 
				%}

				<!-- Render Filter Box -->
				{% render 'SearchBundle:Default:showFilters' with {route: app.request.attributes.get('_route'), institution_id: id, selectedStatus: selectedStatus} %}
				
			    <table border="0" width="70%" cellpadding="0" cellspacing="0" class="generic-table" id="medical-centers-list">
    				<tr>
    				    <th class="table-header-check"></th>
    					<th class="table-header-repeat line-left minwidth-1" width="300px"><a href="#">Medical Centers</a></th>
    					<th class="table-header-repeat line-left minwidth-1"><a href="#">Description</a></th>
    					<th class="table-header-options line-left"><a href="#">Options</a> </th>
    				</tr>

    				{% for center in institutionMedicalCenters %}
    				    <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
    				        <td></td>
        					<td>{{ center.medicalCenter | title }}</td>
        					<td>{{ center.description }}</td>
        					<td class="options-width">
            					<a href="{{ path('admin_institution_editMedicalCenter', {id:id, medical_center_id: center.medicalCenter.id}) }}" title="Edit" class="icon-1 info-tooltip edit-medical-center"></a>
            					{% set class = center.status ? 'icon-2' : 'icon-5' %}
            					<a href="{{ path('admin_institution_updateMedicalCenterStatus', {id:id, medical_center_id: center.medicalCenter.id}) }}" title="{{ center.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
        					</td>
        				</tr>
        				
        			{% else %}
    				    <tr>
    				        <td colspan="4" class="empty-list"> {{ app.session.get('institutionName') }} has no medical centers yet. </td>
    				    </tr>
    				{% endfor %}
    				
				</table>

			{% endblock %}
		{% endembed %}
	</div>
{% endblock %}


{% block inlineJavascriptCode %}
	<script type="text/javascript">
		$(function(){

			$("#dialog-container").dialog({
				autoOpen: false,
				height: 480,
				width: 700,
				modal: true,
				resizable: false,
				close: function() {}
			});

			$(".add-medical-center, .edit-medical-center").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');
				
				elem.attr('href', 'javascript:void(0)');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
			});
		});
	</script>
{% endblock %}
