{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

	<div id="content">

		<div id="page-heading"><h3>Manage Institution Medical Center</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}

			{% block wrappedContent %}

				{% if app.session.hasFlash('notice') %}
					{% include '::notice.admin.html.twig' with {'class': 'success', 'message': app.session.flash('notice') } %}
				{% endif %}

				<form action="{{ path('admin_institution_manageCenters', {id:id}) }}" method="POST">
				<ul style="list-style:none">
					{% for center in centers %}
						{% set checked = center.id in selectedCenterIds ? 'checked=checked' : '' %}
						{% set disabled = center.id in centerIdsWithProcedureType ? 'disabled' : '' %}
						<li>
							<input type="checkbox" id="center-{{ center.id }}" name="centers[]" value="{{ center.id }}" {{ checked }} {{ disabled }}/>
							<label for="center-{{ center.id }}">{{ center.name }}</label>
						</li>
					{% endfor %}
				</ul>
				<input type="submit" class="form-submit"/>
				</form>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}