{% embed '::contentWrapper.admin.html.twig' %}
	{% block wrappedContent %}

		{% set savePath = newProcedureType 
			? path('admin_institution_procedureType_create',{institutionId:institution.id, imcId:institutionMedicalCenter.id}) 
			: path('admin_institution_procedureType_update',{institutionId:institution.id, imcId:institutionMedicalCenter.id, imptId:institutionMedicalProcedureType.id}) %}
		
		<form novalidate="novalidate" action="{{ savePath }}" method="POST" {{ form_enctype(form) }} class="basic-form">
			<div>
				<label>Medical Center</label>
				<span class="fixed-value">{{ institutionMedicalCenter.medicalCenter.name }}</span>
			</div>
		
			{% if not newProcedureType %}
				<div>
					<label>Procedure Type</label>
					<span class="fixed-value">{{ institutionMedicalProcedureType.medicalProcedureType.name }}</span>
				</div>
			{% endif %}

			{{ form_row(form.medicalProcedureType) }}
			{{ form_row(form.description) }}
			{{ form_rest(form) }}
			<input type="submit" name="submit" value="Save" class="green-button" />
		</form>
	{% endblock %}
{% endembed %}