{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'institutions_newlyRegistered'%}

{% block content %}
    <div id="content">
        <div id="page-heading"><h3>Newly Registered Institutions</h3></div>
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
            <div>
                <table class="table table-bordered sortable-list">
                <tr>
                    <th width="200">Name</th>
                    <th width="200">Insititution Type</th>
                    <th width="100">Location</th>
                    <th width="100">Date Created</th>
                    <th width="100">Status</th>
                    <th width="80">Actions</th>
                </tr>

                {% for institution in institutions %}
                    <tr id="institution-{{institution.id}}">
                        <td>
                            <a class="name" href="{{ path('admin_institution_view', {institutionId: institution.id}) }}" target="_blank" title="View {{ institution.name }}">{{ institution.name }}</a> 
                        </td>
                        <td>{{ get_institution_type(institution.type) }}</td>
                        <td>{{ institution_address_to_string(institution, ['city', 'state', 'country']) }}</td>
                        <td>{{ institution.dateCreated|date('m-d-Y h:ia') }}</td>
                        <td>{{ statusList[institution.status] }}</td>
                        <td>
                            <a href="{{ path('admin_institution_view', {institutionId:institution.id} ) }}" target="_blank"> View </a> &nbsp; | &nbsp; 
                            <a href="{{ path('admin_institution_edit_details', {institutionId:institution.id} ) }}" target="_blank"> Edit </a>
                        </td>
                    </tr>
                {% else  %}
                    <tr><td class="empty-list" colspan="4">No records yet!</td></tr>
                {% endfor %}
                </table>
                
     
            </div>
            
            {% endblock %}
        {% endembed %}

    </div>
{% endblock %}