
<div class="tabbed-medical-procedure-type-detail" >
    
    <div class="action-buttons">    
        <a title="Edit {{ institutionTreatment.treatment.name }}" onclick="return InstitutionMedicalCenter.editProcedureType($(this));" class="button-type" href="{{ path('admin_institution_procedureType_edit', {institutionId: institutionId, imcId: institutionMedicalCenter.id, imptId: institutionTreatment.id}) }}">Edit {{ institutionTreatment.treatment.name }}</a>
        <a title="Add {{ institutionTreatment.treatment.name }} Procedure" onclick="return InstitutionMedicalCenter.addProcedure($(this));" class="button-type" href="{{ path('admin_institution_treatmentProcedure_add', {institutionId: institutionId, imcId: institutionMedicalCenter.id, imptId: institutionTreatment.id}) }}">Add Procedure</a>
    </div>
    
    <div class="details raw-content">
        {% if institutionTreatment.description | length > 1000 %}
            {{ institutionTreatment.description | slice(0, 1000)|raw }} ...
        {% else %}
            {{ institutionTreatment.description|raw }}
        {% endif %}
    </div>
    
    
    <table class="generic-table" id="medical-procedures-list">
    	<tr>
    		<th class="table-header-repeat line-left minwidth-1" width="200px"><a href="#">Procedures</a></th>
    		<th class="table-header-repeat line-left minwidth-1"><a href="#">Description</a></th>
    		<th class="table-header-options line-left" width="80"><a href="#">Options</a></th>
    	</tr>

        {% for procedure in institutionTreatment.institutionTreatmentProcedures %}
    		{% set treatmentProcedure = procedure.treatmentProcedure %}
    		<tr>
    			<td>{{ treatmentProcedure.name }}</td>
    			<td class="raw-content">{{ procedure.description|raw }}</td>  
    			<td>
    				<a onclick="return InstitutionMedicalCenter.editProcedure($(this));" href="{{ path('admin_institution_treatmentProcedure_edit', {institutionId: institutionId, imcId: institutionMedicalCenter.id, imptId: institutionTreatment.id, impId:procedure.id} ) }}" title="Edit {{ treatmentProcedure.name }}" class="icon-1 add-edit-procedure"></a>
					{% set class = treatmentProcedure.status ? 'icon-2' : 'icon-5' %}
					<a href="{{ path('admin_institution_treatmentProcedure_updateStatus', {impId:procedure.id}) }}"
						title="{{ treatmentProcedure.status ? 'Delete' : 'Activate' }}" 
						class="update-status {{ class }} info-tooltip">
					</a>
    			</td>
    		</tr>
    	{% else  %}
    		<tr><td colspan="3" class="empty-list">No Treatment Procedures yet!</td></tr>
    	{% endfor %}
    </table>
    
</div>
