<!-- modal add doctor start -->
{% set action = editMode is defined and editMode ? 'edit' : 'add' %}

<div id="{{ action }}-doctor" class="modal hide fade hca-doctors-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel modal-label">{{ action | capitalize}} Doctor</h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-info">
            <i class="icon-info-sign icon-4x pull-left"></i>
            Knowing who will administer their procedures is a primary concern for patients. Quite often, access to good doctors is the main reason for their decision to travel abroad for treatment.
        </div>

        <form id="doctorForm" action="/" method="post">

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group span6">
                        <label for="institution-name">Surname</label>
                        {{ form_widget(form.lastName, { 'attr': {'class': 'span12'} }) }}
                    </div>
                    <div class="control-group span6">
                        <label for="website">First Name</label>
                        {{ form_widget(form.firstName, { 'attr': {'class': 'span12'} }) }}
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group span6">
                        <label for="institution-name">Middle Name</label>
                        {{ form_widget(form.middleName, { 'attr': {'class': 'span12'} }) }}
                    </div>
                    <div class="control-group span6">
                        <label for="Suffix Name">Suffix</label>
                        {{ form_widget(form.suffix, { 'attr': {'class': 'span12'} }) }}
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <label for="specializations">Doctor's Specializations</label>
                    {{ form_widget(form.specializations) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group span6">
                        <label for="institution-name">
                            Medical Degree and Abbreviations<br><small>Separate each entry with comma</small>
                         </label>
                         <input type="text" name="institution-name" id="institution-name" placeholder="" class="span12" required="">
                    </div>
                    <div class="span6">
                        <label for="Languages">
                            Languages<br><small>Select as many languages...</small>
                        </label>
                        <div class="input-append hca-location">
                            <input class="hca-languages pull-left" id="appendedDropdownButton" type="text">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle hca-location-btn" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu languages-select pull-left">
                                    <li>Akan</li>
                                    <li>Amharic</li>
                                    <li>Arabic</li>
                                    <li>etc.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <label for="state">
                        Doctor's Address <small>If different from the clinic. (Optional)</small>
                    </label>
                    <input type="text" name="address1" id="address1" placeholder="" class="span12">
                </div>
                <div class="control-group">
                    <div class="span4">
                        <label for="Unit/Room">
                            Unit/Room #<small> (Optional)</small>
                        </label>
                        <input type="text" name="state" id="unit-room" placeholder="" class="span12">
                    </div>
                    <div class="span8">
                        <label for="Building Name">
                            Building Name<small> (Optional)</small>
                        </label>
                        <input type="text" name="state" id="Building-name" placeholder="" class="span12">
                    </div>
                </div>
                <div class="control-group">
                    <div class="span12">
                        <label for="Country">
                            Country
                        </label>
                        <div class="input-append hca-location">
                            <input class="hca-country pull-left" id="appendedDropdownButton" type="text">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle hca-location-btn" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu location-select pull-left">
                                    <li>
                                        <span class="flag16 ad"></span>
                                        <span>Andorra</span>
                                    </li>
                                    <li>
                                        <span class="flag16 ae"></span>
                                        <span>United Arab Emirates</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="span5">
                        <label>State / Province</label>
                        <div class="input-append hca-location">
                            <input class="hca-country pull-left" id="appendedDropdownButton" type="text">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle hca-location-btn" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu location-select pull-left">
                                    <li>
                                        <span>Andorra</span>
                                    </li>
                                    <li>
                                        <span>United Arab Emirates</span>
                                    </li>
                                    <li>
                                        <span>Afghanistan</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <label>City</label>
                        <div class="input-append hca-location">
                            <input class="hca-country pull-left" id="appendedDropdownButton" type="text">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle hca-location-btn" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu location-select pull-left">
                                    <li>
                                        <span>Andorra</span>
                                    </li>
                                    <li>
                                        <span>United Arab Emirates</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <label for="zip">Zip Code</label>
                        <input type="text" name="zip" id="zip" placeholder="" class="span12">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12 control-group">
                    <div class="span6">
                        <label for="Email Address">Doctor's Email Address</label>
                        {{ form_widget(form.contactEmail, { 'attr': {'class': 'span12'} }) }}
                    </div>
                    {#{ form_widget(form.contactNumber) }#}
                </div>
            </div>

            <div class="control-group">
                <label for="Upload Photo">Upload Doctor's Photo</label>
                {{ form_widget(form.media) }}

            </div>

            <div class="control-group">
                <label for="Upload Photo">Upload Doctor's Photo</label>
                <div class="dropbox">
                    <label>Drag and Drop Doctor's Photo to Upload</label>
                </div>
            </div>

            {{ form_widget(form._token) }}

        </form>
    </div>
    <div class="modal-footer">
        <a id="submitDoctorForm" href="add-clinic-for-hospital-doctors-listing.html" class="btn pull-right btn-primary btn-large">Save</a>
    </div>
</div>
<!-- modal end add doctor -->

<script type="text/javascript">
$(document).ready(function () {
    //SignUpDoctors.attachFormEventHandlers("{{ action }}");
});
</script>