<!-- modal add doctor start -->

<div id="add-doctor" class="modal hide fade hca-doctors-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel modal-label">Search And Add Doctor</h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-info">
            <i class="icon-info-sign icon-4x pull-left"></i>
            Knowing who will administer their procedures is a primary concern for patients. Quite often, access to good doctors is the main reason for their decision to travel abroad for treatment.
        </div>
        <form id="doctorForm" action="{{ path('institution_signup_setup_doctors', { imcId: institutionMedicalCenter.id }) }}" method="post">
            <div class="row-fluid">
                <div class="control-group span6">
                    {{ form_row(form.lastName, { 'attr': {'class': 'span12'} }) }}
                </div>
                <div class="control-group span6">
                    {{ form_row(form.firstName, { 'attr': {'class': 'span12'} }) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group span6">
                    {{ form_row(form.middleName, { 'attr': {'class': 'span12'} }) }}
                </div>
                <div class="control-group span6" style="position: relative">

                    {{ form_row(form.suffix, { 'attr': {'class': 'span5'} }) }}
                    <button id="add-doctor-btn" type="submit" class="btn pull-right btn-primary btn-large" style="position:absolute;right:0;top:23px;display:none"><i class="icon-plus-sign-alt"></i>Add Doctor</button>
                    <button id="search-doctor" type="button" class="btn pull-right btn-success btn-large" style="position:absolute;right:0;top:23px;" ><i class="icon-search"></i>Search Doctor</button>
                </div>
            </div>

            {{ form_widget(form._token) }}
        </form>

        <section class="doctors-listing" style="display:none">
            <hr>
            <h3>Search Results</h3>
            <div class="alert results">
                Below are the search results for Doctor's Name . If the search list does not contain the doctor you are looking for you may click the add doctor button above. 
            </div>
            <div class="row-fluid">
                <ul id="matchedDoctorList" class="thumbnails"></ul>
            </div>
        </section>
    </div>
</div>
<!-- modal end add doctor -->

<script type="text/javascript">
$(function(){
	var confirmMessageElem = $('#confirmation-message');
	var lastNameElem = $("#{{ form.getChild('lastName').vars.id }}");
	var firstNameElem = $("#{{ form.getChild('firstName').vars.id }}");
	var middleNameElem = $("#{{ form.getChild('middleName').vars.id }}");
	var suffixElem = $("#{{ form.getChild('suffix').vars.id }}");
    var fullName = getInputFullName();

	$('#doctorForm').submit(function(e){
		$.post($(this).prop('action'), $(this).serialize(), function(response){
			showAddConfirmationMessage(response);
		});

		return false;
	});

	$('#search-doctor').click(function(){
		$('.doctors-listing').fadeIn();
		$('#matchedDoctorList').html('<div style="text-align:center">searching doctors...</div>');
        var params = {
    		lastName: getCleanVal(lastNameElem),
    		firstName: getCleanVal(firstNameElem)
		};

		if(getCleanVal(middleNameElem)) { params.middleName = getCleanVal(middleNameElem) }
		if(getCleanVal(suffixElem)) { params.suffix = getCleanVal(suffixElem); }

		fullName = $.map(params, function(val){ return val; }).join('');

		$.getJSON("{{ path('search_doctors') }}", { criteria: params }, function(doctors) {
			var matchedString = '';
			$.each(doctors, function(i) {

				if($('.medicalCenter-doctors[data-doctor-id='+i+']').length) {
					addLink = '<span class="pull-right" style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;">Already Added</span>';
				} else {
					addLink = '<a data-doctor-id="'+ i +'" class="btn btn-misc pull-right add-existsing-doctor" href="' + "{{ path('institution_medicalCenter_addExistingDoctor', {imcId: institutionMedicalCenter.id}) }}" + '"><i class="icon-medkit"></i>Add to My Clinic</a>';
				}

    			matchedString += '<li data-doctor-id="'+i+'" class="thumbnail hca-clinic-listing">' + 
        	        '<img alt="" src="' + (doctors[i].mediaSrc ? doctors[i].mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}') + '" class="pull-left img-polaroid">' +
                    '<div class="medicalcenter-name add-doctors-listing pull-left">' +
                        '<h3 class="doctor-name" style="text-transform: capitalize;">'+ getFullName(doctors[i]) + '</h3>' +
                        '<p><i class="icon-stethoscope"></i><span class="specializations">'+doctors[i].specializations.join(', ')+'</span></p>' +
                    '</div>' + addLink +
                '</li>';

			});

			if(matchedString) {
				$('#matchedDoctorList').html(matchedString);

				$('.add-existsing-doctor').click(function() {
					addElem = $(this).attr('disabled', 'disabled');
                    $.ajax({
                        url: addElem.prop('href'),
                        type: 'POST',
                        dataType: "json",
                        data: {doctorId: addElem.attr('data-doctor-id') },
                        success: function(response) { 
                        	showAddConfirmationMessage(response);
                        }
                    });

					return false;
				});
			} else {
				$('#matchedDoctorList').html('<div style="text-align:center">No matched Doctors!.</div>');
				$('#search-doctor').hide();
				$('#add-doctor-btn').fadeIn();
			}
		});
		
	});

	$(lastNameElem.add(firstNameElem.add(middleNameElem.add(suffixElem)))).keyup(function(){
		if(fullName != getInputFullName()) {
			$('#search-doctor').fadeIn();
			$('#add-doctor-btn').hide();
		}

		console.log(fullName + " = " + getInputFullName());
	});

	function showAddConfirmationMessage(response)
	{
		if(response.status) {
			confirmMessageElem.find('p:first').html('Doctor has been added to your clinic!');
			confirmMessageElem.find('.alert').prop('class', 'alert alert-success');

            if (response.doctor.specializations.length) {
                specializations = '<p><i class="icon-stethoscope"></i>Specializations:<span>'+ response.doctor.specializations.join(', ') +'</span></p>';
            } else {
            	specializations = '';
            }

			var doctorString = '<div class="doctor-heading medicalCenter-doctors" style="margin-bottom: 5px;min-height:60px;padding: 10px" data-doctor-id="'+response.doctor.id+'">' +
    		    '<a href="#"><i class="icon-remove-sign pull-right"></i></a>' +
                '<a id="button" href="#"><i class="icon-edit pull-right"></i></a>' +
                '<span><img alt="" src="' + (response.doctor.mediaSrc ? response.doctor.mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}') +'" class="pull-left img-polaroid"></span>'+
                '<h4 style="text-transform: capitalize;">Dr. ' + getFullName(response.doctor) + '</h4>' + specializations +
            '</div>';

    		$('#doctorsList').prepend(doctorString);
    		$('#doctorsList').find('h2').remove();
    		$('#doneSection').show();

		} else {
			confirmMessageElem.find('p:first').html('Unable to add doctor to your clinic.');
			confirmMessageElem.find('.alert').prop('class', 'alert alert-error');
		}

    	if($('#matchedDoctorList').find('li a.add-existsing-doctor').length > 1 && response.status) {
    		$('.add-existsing-doctor[data-doctor-id='+response.doctor.id+']').replaceWith('<span style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;" class="pull-right">Added to your clinic</span>');
    		return;
        }

		confirmMessageElem.show();
		$('#add-doctor').modal('hide');
		setTimeout(function() {confirmMessageElem.fadeOut("slow")}, 5000);
	}

    function getCleanVal(elem)
    {
        return $.trim(elem.val().toLowerCase());
    }

	function getInputFullName()
	{
		return getCleanVal(lastNameElem) + getCleanVal(firstNameElem) + getCleanVal(middleNameElem) + getCleanVal(suffixElem);
	}

	function getFullName(doctor)
	{
	    name = doctor.firstName + ' ';

	    if(doctor.middleName) {
	    	name += doctor.middleName.substr(0, 1) + '. ';
	    }

	    name += doctor.lastName;

	    if(doctor.suffix) {
	    	name += ' ' + doctor.suffix;  
		}

		return name;
	}
});

</script>