<section class="section institution-info">
    <h2>Basic Information<br><small>Basic information about the {{ label | lower }} you are adding.</small></h2>
    <div class="row-fluid">
        <div class="span12">
             <div class="control-group {{ (form.name.vars.valid ? '' : 'error') }}">
                <label for="institution-name">Name of the {{ label  }} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'span12 tooltip-wrap2'} }) }}
                <div class="tooltip-content2">
                     {% if (isSingleCenter is defined) and isSingleCenter %}
	                      The full name of your {{ label | lower }}, which will be displayed as the main heading of your listing.
                     {% else %}
                          The full name of the {{ label | lower }}, which will be displayed with all of your clinics.
	                 {% endif %}
                </div>
                {{ form_errors(form.name )}} 
            </div>
            <div class="control-group">
                <label for="website">Description <small>(Optional)</small></label>
                {{ form_widget(form.description, { 'attr': {'class': 'span12 tooltip-wrap2 tinymce'} }) }}
                <div class="tooltip-content2 hca-textarea">
                    {% if (isSingleCenter is defined) and isSingleCenter %}
                        Include things like a brief history of the facility, any notable achievements, capacity, and unique treatments or technologies. <br>
                        Providing an in depth description of your clinic gives patients a better idea of your facility and its details.  
                    {% else %}
                        Include things like a brief history of the facility, any notable achievements, capacity, and unique treatments or technologies. <br>
                        Providing an in depth description of your hospital gives patients a better idea of your facility and its details. (Do not describe individual clinics or departments yet, you will be able to add descriptions for each later.) 
                    {% endif %}
                </div>
                <div class="description">
                    <small> You can edit this Description later. Please do <b>not</b> include web addresses and contact information here. You will be able to add them in later steps.
                    </small>
                </div>
            </div>
            <div class="control-group">
                <label for="network-group">
                    Is this {{ label | lower }} part of a larger {{ label | lower }} group with branches in multiple locations?<br/>
                    If so, please name the group/network. <small>( Optional )</small>
                </label>
                    {{ form_widget(form.medicalProviderGroups.vars.prototype, { 'attr': {'class': 'span12'} }) | replace({'__name__': '0'}) | raw}}
                 <div id="autoDiv">
                 </div>
            </div>
        </div>
    </div>
</section>