{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'feedback' %}
{% set selectedSubTab = 'feedbackInquiries'%}
{% block content %}
    <div id="content">

    	{% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: 'Feedback / Inquiries'
            }  
        %}
    
          {% block sectionContent %}
          
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} 
            {% endautoescape %}

            {% set sortBy = app.request.get('sortBy') %}
            {% set sortOrder = app.request.get('sortOrder') %}
            {% set default = sortBy | length ? '' : 'sort-asc' %}
            {% include '::notice.admin.html.twig' %}

            <table id="feedback-list" class="table table-bordered sortable-list">
                <tr>
                    <th width="200"><a href="#">Name</a></th>
                    <th width="100"><a href="#">Country</a></th>
                    <th><a href="#">Message</a></th>
                    <th width="100"><a href="#">Date Created</a></th>
                </tr>
    			{% for each in feedback %}
                    <tr>
                        <td>{{ each.name | title }} <br/> ({{ each.emailAddress }})</td>
                        <td>{{ each.country ? each.country.name | title : '' }}</td>
                        <td>{{ each.message | capitalize }}</td>
                        <td align="center">{{ each.dateCreated|date("Y-m-d h:ia") }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% if pager.isPaginable %}
               {{ paginate(pager, app.request.get('_route'), app.request.query.all) }}
            {% endif %}

        {% endblock %}
    {% endembed %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    $(function(){
    	$('#filter-dateCreated').datepicker({dateFormat: 'yy-mm-dd'});
    });
</script>
{% endblock %}
    