{% extends '::base.html.twig' %}

{% block body %}
 
{% if app.session.hasFlash('flash.notice') %}
    <div class="msg-notice">
        {{ app.session.flash('flash.notice') }}
    </div>
{% endif %}


<form action="{{ path('institution_change_password') }}" method="POST" {{ form_enctype(form) }} class="user">
  
    {{ form_errors(form) }}
    {{ form_row( form.email )}}
    {{ form_errors( form.password ) }}
    {{ form_row( form.password.first, { 'label': 'New Password' } ) }}     
    {{ form_row( form.password.second, { 'label': 'Confirm password' } ) }}     
    <input type="submit" value="Submit" />
    {{ form_rest( form ) }}
    
</form>
{% endblock %}