<!--  start table-content  -->
<div id="content">

    {% include '::notice.admin.html.twig' %}
    <strong>Password</strong>
    <p>Update your account password. Always set a strong password, which helps to prevent unauthorized access to your account.</p>    
    <form novalidate="novalidate" action="{{ path('institution_change_password') }}" method="POST" {{ form_enctype(form) }} class="user">
	    <!-- start id-form -->
		<table class="offset2">
		    
		    {{ form_row( form.current_password ) }}
            {{ form_row( form.new_password ) }}
            {{ form_row( form.confirm_password ) }}
            {{ form_rest(form) }}
            
            <tr>
        		<th>&nbsp;</th>
        		<td valign="top">
        			<input type="submit" name="submit" value="Reset" class="btn-medium btn" />
        			<input type="reset" value="Submit" class="btn-medium btn btn-info"  />
        		</td>
        		<td></td>
        	</tr>
            
    	</table>
    	<!-- end id-form  -->
	</form>
</div>
<!--  end table-content  -->
