{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'users',  label : 'Manage Account Password'} %}
{% block content %}
{% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
 {% block wrappedContent %}
    <h1><i class="icon-lock"></i> Manage Account Password</h1>
		<div class=span8>
		     <form id ="editProfile" novalidate="novalidate" action="{{ path('institution_editAccountPassword') }}" method="POST" {{ form_enctype(form) }} class="user">
                 <section class="section account-info manage-data">
                    <h2> Password</h2>
                   <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group row-field {{ (form.current_password.vars.valid ? '' : 'error') }}">
                                <label for="institutionUserChangePasswordType_current_password">
                                    Current password
                                </label>
                               {{ form_widget(form.current_password, { 'attr': {'class': 'span6'} }) }}
                               {{ form_errors(form.current_password) }}
                            </div>
                             <div class="control-group row-field {{ (form.new_password.vars.valid ? '' : 'error') }}">
                                <label for="institutionUserChangePasswordType_new_password">
                                    Set your new password <small>( Must be atleast 6 characters long ) </small>
                                </label>
                               {{ form_widget(form.new_password, { 'attr': {'class': 'span6'} }) }}
                               {{ form_errors(form.new_password) }}
                            </div>
                             <div class="control-group row-field {{ (form.confirm_password.vars.valid ? '' : 'error') }}">
                                <label for="institutionUserChangePasswordType_confirmPassword"> Re-type your password </label>
                                   {{ form_widget(form.confirm_password, { 'attr': {'class': 'span6'} }) }}
                                   {{ form_errors(form.confirm_password) }}
                            </div>
                        </div>
                    </div>
		         </section>
                 <section class="section footer">
                    <div class="row-fluid terms">
                        <div class="span12">
                             {{ form_rest(form) }}
                            <button type="submit" class="btn pull-right btn-primary btn-large" >Save Changes</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
	    <aside class="span4">
            <section class="aside-box info dashboard-side">
                <h4><span><i class="icon-lock icon-3x pull-left"></i></span><b>Suggestions for a secure password</b></h4>
               <p>Avoid using personal information (name, address, birthday, hobby etc.)</p>
                <p>Use at least 6 characters including small and upper case letters, numbers and special characters.</p>
                <p>Avoid using passwords that you use for other accounts or websites.</p>
            </section>
        </aside>
    	<!--End of row-->
        {% endblock %}
    {% endembed %}
{% endblock %}