{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}
{% form_theme form '::form.admin.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>Edit {{ app.session.get('accountId') == institutionUser.getAccountId() ? 'my account' : institutionUser.getFullName() }}</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
			<!--  start table-content  -->
			<div id="table-content">
			
			    {% if app.session.hasFlash('notice') %}
			        {% include '::notice.admin.html.twig' with {'class': 'notice', 'message':  app.session.flash('notice') } %}
		        {% endif %}
			
			    <form novalidate="novalidate" action="{{ path('institution_editAccount', {accountId: institutionUser.getAccountId()}) }}" method="POST" {{ form_enctype(form) }} class="user">
    			    <!-- start id-form -->
            		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
            		    
            		    {{ form_row(form.firstName) }}
                        {{ form_row(form.middleName) }}
                        {{ form_row(form.lastName) }}
                        
                        <tr>
                    		<th>&nbsp;</th>
                    		<td valign="top">
                    			<input type="submit" name="submit" value="" class="form-submit" />
                    			<input type="reset" value="" class="form-reset"  />
                    		</td>
                    		<td></td>
                    	</tr>
                        
                        {{ form_rest(form) }}
                        
                	</table>
                	<!-- end id-form  -->
            	</form>
			</div>
			<!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
