{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'users',  label : 'Manage Account Profile'} %}
{% block content %}
{% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
 {% block wrappedContent %}
    <h1><i class="icon-user"></i> Manage Account Profile</h1>
		<div class=span8>
		     <form id ="editProfile" novalidate="novalidate" action="{{ path('institution_editAccount', {accountId: institutionUser.getAccountId()}) }}" method="POST" {{ form_enctype(form) }} class="user">
                 <section class="section account-info manage-data">
                    <h2> Personal Information </h2>
                    {% if error_message %}
                        <div class="alert alert-error">
                            {{ error_message }}
                        </div>
                    {% endif %}
                   <div class="row-fluid">
                        <div class="span12">
                            <div class="span6">
                                <div class="control-group row-field {{ (form.firstName.vars.valid ? '' : 'error') }}">
                                    <label for="account-firstname">  Your First Name  </label>
                                    {{ form_widget(form.firstName, { 'attr': {class: 'span12'} })  }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group row-field {{ (form.lastName.vars.valid ? '' : 'error') }}">
                                    <label for="account-lastname">  Your Last Name  </label>
                                     {{ form_widget(form.lastName, { 'attr': {class: 'span12'} })  }}
                                     {{ form_errors(form.lastName) }}
                                </div>
                            </div>
                             {{ form_row(form.jobTitle, { 'attr': {class: 'span6'} })  }}
                             <div class="control-group row-field {{ (form.email.vars.valid ? '' : 'error') }}">
                                <label for="email"> Email address <small> (Your own personal email.) </small> </label>
                                {{ form_widget(form.email, { 'attr': {class: 'span6 tooltip-wrap2'} })  }}
                                {{ form_errors(form.email) }}
                                <div class="tooltip-content2 hca-email">
                                    Your email address will be your username when you log in.
                                </div>
                              </div>
                            
                        </div>
                    </div>
		         </section>
		         <section class="section account-info manage-contact">
                    <h2> Personal Contact Information </h2>
                       <div class="row-fluid">
                                {% for _widget in form.contactDetails %}
                                    <div class="span12" style="margin-left:0;">
                                        {{ form_widget(_widget) }}
                                    </div>
                                {% endfor %}
                        </div>
                </section>
                 <section class="section footer">
                    <div class="row-fluid terms">
                        <div class="span12">
                             {{ form_rest(form) }}
                            <button type="submit" class="btn pull-right btn-primary btn-large" >Save Changes</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
	     {% include 'InstitutionBundle:InstitutionUser/Widgets:sidebar.manage_account.html.twig' %}
    	<!--End of row-->
        {% endblock %}
    {% endembed %}
{% endblock %}