 <strong>Password</strong>
<p>Update your account password. Always set a strong password, which helps to prevent unauthorized access to your account.</p>  
    <form id="changePassword" novalidate="novalidate" action="{{ path('institution_editAccount', {accountId: institutionUser.getAccountId()}) }}" method="POST" {{ form_enctype(formChangePassword) }} class="user">
     
        {{ form_row( formChangePassword.current_password ) }}
        {{ form_row( formChangePassword.new_password ) }}
        {{ form_rest(formChangePassword) }}
		<input type="reset" value="Reset" class="btn-medium btn"/>
		<button class="btn btn-info submit-button" onclick="return InstitutionProfile.submitInstitutionProfileForm(this);">Submit</button> 
    	<!-- end id-form  -->
	</form>