{% extends 'InstitutionBundle::layout.html.twig' %}

{% form_theme form '::form.admin.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>{{ site_name }} Institution Panel</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
			<!--  start table-content  -->
			<div id="table-content">
			    <form action="{{ path('institution_invite_user') }}" method="post" {{ form_enctype(form) }} >
    			    <!-- start id-form -->
            		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
            		
            		    {{ form_row(form.firstName) }}
                		{{ form_row(form.middleName) }}
                		{{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.message) }}
                        
                        <tr>
                    		<th>&nbsp;</th>
                    		<td valign="top">
                    			<input type="reset" value="Reset" class="form-reset"  />
								<input type="submit" name="submit" value="Submit" class="green-button" />   
                    		</td>
                    		<td></td>
                    	</tr>
                        
                        {{ form_rest(form) }}
                        
                	</table>
                	<!-- end id-form  -->
            	</form>
			</div>
			<!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}
