{% extends '::base.admin.html.twig' %}

{% block title %}
{{ parent() }} &raquo; Institution Login
{% endblock %}

{% block body %}
<body id="login-bg">
 
    <!-- Start: login-holder -->
    <div id="login-holder">
    
        <!-- start logo -->
        <div  id="logo-login" style="font-size: 14px;color:#ccc;height:15px">
            {{ site_name }} Institution Panel
            <a href="index.html">
                <img style="display:none;" src="{{ asset('images/admin/shared/logo.jpeg')}}" width="156" height="40" alt="" /></a>
        </div>
        <!-- end logo -->
        
        <div class="clear"></div>
        
        <!--  start loginbox ................................................................................. -->
        <div id="loginbox">
        
            <!--  start login-inner -->
            <div id="login-inner">
                <form action="{{ path('institution_login') }}" method="POST" >
                    <table border="0" cellpadding="0" cellspacing="0">
                        
                        {% if app.session.hasFlash('flash.notice') %}
                        <tr>
                            <td colspan="2">
                                <div class=login_notice style="color: #CE2700; margin: -20px 0px;">
                                    {{ app.session.flash('flash.notice') }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    
                        <tr>
                            <th>Email</th>
                            <td> 
                                {{ form_widget(form.email, { 'attr': {'class': 'login-inp'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>
                                {{ form_widget(form.password, { 'attr': {'class': 'login-inp'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="submit" class="submit-login"  /></td>
                        </tr>
                        
                        
                    </table>
                    
                    {{ form_rest(form) }}
                </form>
            </div>
            <!--  end login-inner -->
            
            <div class="clear"></div>
            <a href="" class="forgot-pwd">Forgot Password?</a>
        </div>
     <!--  end loginbox -->
    
    </div>
    <!-- End: login-holder -->
</body>
{% endblock %}