{% extends '::base.institution.html.twig' %}

{% block title %}
{{ parent() }} &raquo; Institution Login
{% endblock %}

{% block body %}
<body >

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="{{ path('main_homepage') }}" class="brand"><img src="{{ asset('images/institution/HCA-logo-small.png') }}" alt="Health Care Abroad Logo" longdesc="#"> HEALTHCARE ABROAD</a>
                <div class="btn-group pull-right">
                    <a href="{{ path('main_homepage') }}" class="btn">
                        <i class="icon-map-marker"></i>Health Care Abroad Site
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Area | Side Nav | Content -->
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span4">&nbsp;</div>
            <div class="span4">
                <div class="page-header">
                    <h1>Health Care Abroad Login</h1>
                </div>

                <div class="box" style="margin-bottom:500px;">

                    <div class="login-content">
                        <form novalidate="novalidate" action="{{ path('institution_login_check') }}" method="POST" >
                            {#{ form_errors(form) }#}
                            {#% if app.session.hasFlash('notice') %#}
                            {% if error %}
                                <div class=login_notice style="color: #CE2700; margin: -20px 0px;">
                                    {# app.session.flash('notice') #}
                                    {{ error.message }}
                                </div>
                            {% endif %}
                            <fieldset>
                                <legend>Existing Users Login</legend>

                                <label for="username">Email</label>
                                <div class="div_text">
                                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="password span9" />
                                        {#{ form_widget(form.email, { 'attr': {'class': 'username span9'} }) }#}
                                    </div>
                                </div>

                                <label for="password">Password</label>
                                <div class="div_text">
                                    <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>
                                        <input type="password" id="password" name="_password" class="password span9" />
                                        {#{ form_widget(form.password, { 'attr': {'class': 'password span9'} }) }#}
                                    </div>
                                </div>

                                <div class="button_div">
                                    <span class="span6" style="float:right; padding-left:20px">
                                        <input type="checkbox" name="_institution_remember_me" checked class="checkbox-size" id="login-check" />&nbsp;<small>Remember me</small>
                                        <input type="submit" name="submit" class="btn btn-primary" />
                                    </span>
                                </div>
                                <div class="clear">&nbsp;</div>
                                <div class="clear">&nbsp;</div>
                                <div class="clear"></div>
                                <div>Forgot password?&nbsp;<a href="#">Click here to reset</a></div>
                                <div>New User?&nbsp;<a href="{{ path('institution_signUp') }}">Click here to register</a></div>
                                <div class="clear"></div>
                            </fieldset>
                            {#{ form_rest(form) }#}
                        </form>
                     </div>
                 </div>
                 <!--/span-->
                 <div class="span4">&nbsp;</div>
             </div>
             <!--/span-->
         </div><!--/row-->

         <br/>
         <hr>
         <footer>
             <p>&copy; Chromedia Far East Inc. <a href="#">www.HealthCareAbroad.com</a>. All rights reserved.</p>
         </footer>
     </div>
</body>
{% endblock %}

