{% extends '::base.institution.html.twig' %}

{% block title %}
{{ parent() }} &raquo; Institution Login
{% endblock %}

{% block body %}
<body >
	<div class="container">
		<div class="span4 signupbox">
		
			<div class="medicalbox-big"><img src="{{ asset('images/institution/medical-clip.png') }}" alt="Medical Clip" longdesc="#"></div>
			<a href="index.html"><h1>HEALTHCARE ABROAD</h1></a>
			<h3>Existing Users</h3>
			
			<div class="row-fluid">
				<form novalidate="novalidate" action="{{ path('institution_login_check') }}" method="POST" >
                            {#{ form_errors(form) }#}
                            {#% if app.session.hasFlash('notice') %#}
                        
                   <fieldset>
                                <label for="username">Email</label>
                                
                                <div class="input-prepend">
  									<span class="add-on"><i class="icon-envelope"></i></span>
  									<input name="_username" type="text" id="username" value="{{ last_username }}"  class="username span11" />
  								</div>
  								
  								{% if error %}
	  								<ul class="alert-error">
		                                <li>
		                                    {# app.session.flash('notice') #}
		                                    {{ error.message }}
		                                </li>
					  				</ul>
  							 	 {% endif %}
  							 	 
                                <label for="password">Password</label>
                                
                                <div class="input-prepend">
  									<span class="add-on"><i class="icon-lock"></i></span>
  									<input name="_password" type="password" id="password" class="password span11" />
  								</div>
                        
  								<div class="span11"><input name="_institution_remember_me"  checked type="checkbox" type="checkbox" id="login-check" value="forever" />&nbsp;<small>Remember me</small>
			  						<input type="submit" name="Submit" value="Login" class="btn btn-primary" />
			  					</div>
            
                                <div class="clear">&nbsp;</div>
                                <div class="clear">&nbsp;</div>
                                <div class="clear"></div>
                                
                                <div>Forgot password?&nbsp;<a href="#">Click here to reset</a></div>
                                <div>New User?&nbsp;<a href="{{ path('institution_signUp') }}">Click here to register</a></div>
                                <div class="clear"></div>
                 </fieldset>
                            {#{ form_rest(form) }#}
			</form> 
		</div>
	</div>

	</div>
</body>
{% endblock %}

