{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} Healthcareabroad Client Login {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Sign-in', 'contentSpanClass': 'span8 marginleft0'} 
    %}
        
    {% block wrappedContent %}
        <div class="span8">
            <form novalidate="novalidate" id="signinForm" action="{{ path('institution_login_check') }}" method="POST" >
                <section class="section account-info">
                    <h2>
                        Client Admin Login
                        <br>
                        <small>Login to manage your Institution</small>
                    </h2>
                    {% if error %}
                        <div class="alert alert-error">
                          The email address or password you entered is incorrect.
                        </div>
                    {% endif %}
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <label for="_username">
                                    Enter your email address
                                </label>
                                <input type="text" name="_username" id="username" value="{{ last_username }}" placeholder="i.e you@some-domain.com" class="span12" required="required">
                            </div>
                            <div class="control-group">
                                <label for="password">
                                    Enter your password
                                </label>
                                <input type="password" name="_password" type="password" id="password" class="span12" required="required"/>
                            </div>
                            <button class="btn pull-left btn-primary btn-large">
                                Login
                            </button>
                            <a href="{{ path('institution_reset_password') }}" class="btn pull-left btn-link btn-large">
                                Forgot your password?
                            </a>
                        </div>
                    </div>
                </section>
		    </form>
        </div><!-- end .span6 -->
        

        <div class="span4">
            <section class="aside-box default">
                <h3>Want to register an Institution?</h3>
                <p class="info-txt">
                    Every day, thousands of patients use the Internet to look for medical treatments.
                </p>
                <p class="info-text"><a href="{{ path('frontend_main_homepage') }}">{{ site_name }}</a> helps these patients find the clinic that's right for them.</p>
            </section>
            <section class="aside-box default">
            	<a href="{{ path('institution_signUp') }}" class="btn btn-inverse btn-large">
                    Create an Account
                </a>
                {#
                <br><br>
                <p>
                    Need some help? <a href="#">Click Here</a>
                </p>
                #}
            </section>   
        </div><!--End of span5-->

             
        {% endblock %}
        
    {% endembed %}
    
{% endblock %}
