{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} Healthcareabroad Client Login {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Sign-in', 'contentSpanClass': 'span8 marginleft0'} 
    %}
        
        {% block wrappedContent %}
        
        <div class="span12">
            <h1>Sign-in</h1>
        </div>
        
        <div class="maincontent">
            <div class="span6">
                <form novalidate="novalidate" id="signinForm" action="{{ path('institution_login_check') }}" method="POST" >
                
                   <fieldset>
                        <label for="username">Email</label>
                        
                        <div class="input-prepend">
    						<span class="add-on"><i class="icon-envelope"></i></span>
    						<input name="_username" type="text" id="username" value="{{ last_username }}"  class="username span8" />
    					</div>
    					
    					{% if error %}
    						<ul class="alert-error">
                                <li>
                                    {{ error.message }}
                                </li>
    		  				</ul>
    				 	 {% endif %}
    				 	 
                        <label for="password">Password</label>
                        
                        <div class="input-prepend">
    						<span class="add-on"><i class="icon-lock"></i></span>
    						<input name="_password" type="password" id="password" class="password span8" />
    					</div>
                        
					    <button type="submit" class="btn btn-large btn-primary pull-left" >Login</button>
                              
                     </fieldset>
    		    </form>
            </div><!-- end .span6 -->
            
            <div class="span5 box pull-right">
            
                {% set helptext = get_help_text_by_route('institution_login')%}
                    {{ helptext | raw }}
                <a class="btn btn-large btn-primary" href="{{ path('institution_signUp') }}">Join Now!</a>
                    
            </div><!--End of span5-->
        </div>
             
        {% endblock %}
        
    {% endembed %}
    
{% endblock %}