{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'medical_centers'%}
{% block title %}{{ parent() }} {{ newObject ? "Add Medical Procedure Type" : "Edit Medical Procedure Type"}} {% endblock %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>
    	    {% if newObject %} 
    	        Add medical procedure type
	        {% else %}
	            Edit {{ institutionMedicalProcedureType.medicalProcedureType.name }}
	         {% endif %}       
        </h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
        
            {# ----- Related tasks ----- #}
            {% include 'InstitutionBundle:MedicalProcedureType:relatedTasks.html.twig' with {hideAddMedicalProcedureType: newObject?true:false, medicalProcedureTypeId: institutionMedicalProcedureType.id } %}
            {# ----- end Related tasks ----- #}
			
			<!--  start table-content  -->
			<div id="table-content" style="width:75%;">
			
			    {% include '::notice.admin.html.twig' %}
			
                <form novalidate="novalidate" action="{{ newObject ? path('institution_medicalCenter_addProcedureType_save', {'imcId': app.request.get('imcId')} ) : path('institution_medicalCenter_editProcedureType_save', {'imcId': app.request.get('imcId'), 'imptId': app.request.get('imptId')} ) }}" method="POST" {{ form_enctype(form) }} class="basic-form">

                     <!-- start id-form -->
                    {{ form_row(form.medicalProcedureType) }}
                    {{ form_row(form.description) }}
                    {{ form_rest(form) }}

                    <input type="submit" name="submit" value="" class="form-submit" />
                    <input type="reset" value="" class="form-reset"  />
                	<!-- end id-form  -->
            	</form>
            	
            	{% if not newObject %}
                	<div class="divider" style="margin: 15px 0px; border-top: 1px dashed #aaa;"></div>
                	
                	<div class="procedures">
                	    <h3>Medical Procedures</h3>
                	    
                	    <a class="add-edit-procedure button-type" href="{{ path('institution_medicalProcedureType_addMedicalProcedure', {'imptId': institutionMedicalProcedureType.id}) }}">Add Procedure</a>
                	    
                	    {% include 'InstitutionBundle:MedicalProcedureType:medicalProcedures.html.twig' with {'imptId':institutionMedicalProcedureType.id ,'procedures' : institutionMedicalProcedureType.institutionMedicalProcedures } %}
                	</div>
            	{% endif %}
			</div>
			<!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}
    
</div>

<!--  end content -->

{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/InstitutionMedicalProcedure.js') }}"></script>
	<script type="text/javascript">
        $(function(){
        	$("#dialog-container").dialog({
				autoOpen: false,
				width: 700,
				modal: true,
				resizable: false,
				close: function() {}
			});

        	$("a.add-edit-procedure").click(function() {
				var elem = $(this);
				var addProcedureUrl = elem.attr('href');
				elem.attr('href', 'javascript:void(0)');

				$("#dialog-container").empty();
				$("#dialog-container").dialog({
					open: function() {
						$.ajax(addProcedureUrl)
							.done(function (data) {
								elem.attr('href', addProcedureUrl);
								$('#dialog-container').html(data);
							});
					},
				});
				$("#dialog-container").dialog("open");
			});
            
        	var params = {
            	selectedMedicalCenter: '{{ newObject ? 0 : institutionMedicalProcedureType.medicalProcedureType.medicalCenter.id }}',
            	selectedMedicalProcedureType: '{{ newObject ? 0 : institutionMedicalProcedureType.medicalProcedureType.id }}',
    			loadProcedureTypesUrl : "{{ path('institution_loadMedicalProcedureTypes') }}",
    			medicalCenterDropdown: $("select#institutionMedicalProcedureTypeForm_medicalCenter"),
    			medicalProcedureTypeDropdown: $("select#institutionMedicalProcedureTypeForm_medicalProcedureType")
    		};
    		InstitutionMedicalProcedure.init(params);
        });
	</script>	
{% endblock %}
