{% embed '::contentWrapper.admin.html.twig' %}
	{% block wrappedContent %}
		<form action="{{ path('institution_medicalProcedureType_addMedicalProcedure_save', {'imptId':id} ) }}" method="post" {{ form_enctype(form) }} class="basic-form">
			<div>
				<label>Medical Center</label>
				<span class="fixed-value">{{ medicalCenterName }}</span>
			</div>
		
			<div>
				<label>Procedure Type</label>
				<span class="fixed-value">{{ procedureTypeName }}</span>
			</div>
		
			{{ form_row(form.medicalProcedure) }}
			{{ form_row(form.description) }}
			{{ form_row(form.status) }}
			{{ form_rest(form) }}
		    <input type="submit" class="form-submit" name="submit"/>
		</form>
	{% endblock %}
{% endembed %}