{# this is the modal form for institution medical procedure type #}

{% embed '::contentWrapper.admin.html.twig' %}
	{% block wrappedContent %}
	
	    {% set formUrl = newObject
	        ? path('institution_medicalCenter_addProcedureType_save', {'imcId': app.request.get('imcId')} ) : 
	        path('institution_medicalCenter_editProcedureType_save', {'imcId': app.request.get('imcId'), 'imptId': app.request.get('imptId')} )
        %}
        
		<form action="{{ formUrl }}" method="post" {{ form_enctype(form) }} class="basic-form">
		
			{{ form_row(form.medicalProcedureType) }}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
		    <input type="submit" class="form-submit" name="submit"/>
		</form>
	{% endblock %}
{% endembed %}