    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table">
        <thead>
            <tr>
                <th style="width: 90px"></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">File</a></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">Attached to</a></th>
                <th class="table-header-options line-left"><a href="#">Date</a></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4">
                    <div style="float: right">
                        <a href="#"><img src="/images/admin/table/paging_far_left.gif" ></a>
                        <a href="#"><img src="/images/admin/table/paging_left.gif" ></a>
                        <a href="#"><img src="/images/admin/table/paging_right.gif" ></a>
                        <a href="#"><img src="/images/admin/table/paging_far_right.gif" ></a>
                    </div>
                </td>
            </tr>
        </tfoot>

        {% for media in institutionMedia %}
            <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
                <td valign="top">
                    {{ media(media, 'galleryAdd', {'institutionId': institutionId}) | raw }}
                </td>

                <td>{{ media.caption }}</td>

                <td>
                    <!-- <div id="attachedFiles{{ media.id }}" style="font-style: italic;">[Unattached]</div><br/> -->
                    <a class="attachLink" href="{{ path('media_ajaxAttach_medicalCenter', { 'imcId': imcId, 'mediaId': media.id }) }}">Attach</a>
                </td>

                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center"> {{ app.session.get('institutionName') }} has no media yet. </td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
    $(function() {

        $(".attachLink").click(function(e) {
            $.ajax({
                url: e.target,
                type: 'get',
                dataType: 'json',
                success: function(success) {
                    if (success) {
                        $(e.target).hide();
                    } else {
                        alert('An error occurred while processing your request. Please try again.');
                    }
                },
                error: function() {
                    alert('An error occurred while processing your request. Please try again.');
                }
            });

            e.stopPropagation();

            return false;
        });
    });
    </script>