{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
	{% block wrappedContent %}

        <div class="main">        

            <div class="box_outer">        
               <div class="news_box">
            
                    <div class="listing_box_heading">
                        <h3><a href="#">{{ center.medicalCenter.name }}</a></h3>
                    </div> <!--End nb Heading-->
            
                    <div class="recent_news_item">
                        <h4 class="recent_news_title"><a href="#">Lorem Ipsum Dolor</a></h4>
            
                	    <div class="imgBlock">
                    	    <div class="recent_news_img" style="opacity: 1;">
                    	        <a href="#">
                                    {{ media(random(center.media)) | raw }}
                    	        </a>
                    	    </div>
                    	    <a href="#"><img title="" alt="" src="/images/frontend/awards.png"></a>
                	    </div>
            
                        <div class="recent_news_content">
                            <p>{{ center.description | raw }}</p>
                    		<div class="nb_meta"></div> <!--End NB META-->
                        </div>
            
                        <!--recent news Content-->
                        <div class="clear"></div>

                        <div class="brdr3"></div>
                                
                        <!-- Gallery -->
                        <div>
                            <h4>Gallery</h4>
                            {% for media in center.media %}
                                {{ media(media, 'listingGallery') | raw }}
                            {% endfor %}
                        </div>

                        <!-- End of Gallery -->
            
                        <div class="clear"></div>

                    </div> <!--recent News Item-->
            
                </div> <!--News Box-->
            </div> <!--Box Outer-->

        </div>
	
		<!-- Sidebar Navigation -->
		{% block right_navigation %}
			{% include 'FrontendBundle:Default:sidebar.html.twig' %}
		{% endblock %}
		
	{% endblock %}

	{{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }} 	
{% endblock %}
