  {% extends 'FrontendBundle::layout.campaign.html.twig' %}
  
  {% block content %}
<!-- Home starts -->
    <div id="home_superslide">
                <!-- Container starts -->
                <div class="container">
                    <img src="{{ asset('images/frontend/campaign/healthcareabroad-logo-big.png') }}" alt="client_1" />
                    <h1>
                        the resource for global
                        <span>
                            healthcare
                        </span>
                        <br>
                        a comprehensive,
                        <span>
                            unbiased
                        </span>
                        directory
                    </h1>
                </div>
                <!-- // Container -->
                <div class="clr">
                </div>
            </div>
            <!-- Home end -->
            <!-- Menu starts -->
            <div id="menu" class="row-fluid">
                <!-- Content wrapper starts -->
                <div class="container">
                    <!-- Logo starts -->
                    <div class="span3 pull-left">
                        <a href="#home_superslide"><img src="{{ asset('images/frontend/campaign/healthcareabroad-logo.png') }}" alt="client_1" /></a>
                    </div>
                    <div class="span9 pull-right">
                        <div class="menu_nav">
                            <div id="nav_wrap">
                                <ul class="arrowunderline" id="nav">
                                    <li class="services">
                                        <a href="#services">&nbsp;&nbsp;Introduction</a>
                                    </li>
                                    <li class="aboutus">
                                        <a href="#about">Homepage</a>
                                    </li>
                                    <li class="team">
                                        <a href="#team">Results Page</a>
                                    </li>
                                    <li>
                                        <a href="#news">Clinic Page</a>
                                    </li>
                                    <li class="media">
                                        <a href="#media">Hospital Page</a>
                                    </li>
                                    <li class="pricing">
                                        <a href="#pricing">Who is HealthCareAbroad?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Content wrapper -->
            </div>
            <!-- // Menu -->
            <!-- Services starts -->
            <div id="services">
                <!-- Container starts -->
                <div class="pattern_glow">
                    <div class="container">
                        <h1>
                            <small>
                                Introducing
                            </small>
                            HealthCareAbroad.com
                        </h1>
                        <h3>
                            What We Do
                        </h3>
                        <p>
                            <b>
                                HealthcareAbroad.com
                            </b>
                            is unlike any company in the medical tourism industry. We provide a targeted
                            high quality marketing channel to reach potential patients directly. We
                            are not a facilitator and we do not charge hospitals and clinics facilitator
                            style fees. Instead we built a
                            <span>
                                <b>
                                    comprehensive and unbiased "Forever Free" directory
                                </b>
                            </span>
                            based upon our years of experience in online marketing, brand building
                            and effective communication channels.
                        </p>
                        <h3>
                            Why We Do It
                        </h3>
                        <p>
                            The Internet is evolving daily. A new generation of web users have gained
                            sophistication and demand more content with fewer distractions. These experienced
                            internet users seek detailed information and direct involvement with hospitals,
                            clinics, and doctors in making their healthcare decisions. Effective medical
                            tourism web sites must engage users actively and integrate seamlessly with
                            communication tools. As a result, marketing and branding strategies need
                            to constantly evolve in order to be effective.
                        </p>
                        <h3>
                            HealthcareAbroad.com's Vision of Online Advertising
                        </h3>
                        <p>
                            <b>
                                HealthcareAbroad.com
                            </b>
                            is proud to introduce a new, proven and effective model for internet marketing.
                            Our directory is designed so strategically placed text, brand building
                            logo features, and effective marketing calls to action blend in with relevant
                            travel and medical content and compelling, thoughtful large photo images.
                            These engage the potential patients who are browsing our site and encourage
                            them to investigate your clinic further.
                        </p>
                        <p>
                            Through more than 15 years of developing online marketing portals, and
                            2 years of market research and testing in the medical tourism sector, the
                            experienced team behind HealtcareAbroad.com has learned not only what traveling
                            patients look for on the internet, but how they react to the information
                            they receive. Every aspect of our site caters to the behavior patterns,
                            interests, and habits of "Modern Internet" users.
                        </p>
                        <p>
                            Making an attractive, user-friendly, and effective web portal for Medical
                            Travelers is only half our objective. We have created an intuitive system
                            that gives clinics the ability to tailor their brand and features to most
                            effectively reach their target market. HealthcareAbroad.com's client tools
                            enable you to maintain an unprecedented level of control over your messaging,
                            branding, features, and presence. With just a few clicks, you can control
                            the focus of your branding, expand or change your features, add high quality
                            images or video that will encourage users to research further and make
                            inquiries. And unlike some of our competitors, those inquiries from prospective
                            patients are always free. In addition, our advertising prices are substantially
                            lower than other directories because we utilize advanced custom built technology
                            that allows us to automate many of our tasks while maintaining quality
                            with fewer employees at a lower operating cost.
                        </p>
                        <h3>
                            Brand Recognition
                        </h3>
                        <p>
                            Brand recognition in online advertising is too often overlooked or ignored.
                            As part of HealthcareAbroad.com's market research, we surveyed a group
                            of traveling patients. Among other things, the patients were asked about
                            their process in selecting a clinic. The patients overwhelmingly answered
                            that they had discussed their treatment with their primary care physician,
                            friend, or a representative of the hospital/clinic. Follow-up questions
                            revealed that nearly all of the patients had used the internet to help
                            with their decision, and most of them visited at least one medical tourism
                            search directory on-line, and several had visited more than one site multiple
                            times.
                        </p>
                        <p>
                            While Medical Tourism and medical treatments will never be a choice that
                            can be made with an on-line shopping cart, HealthcareAbroad.com is one
                            point at which patients discover their options and comparison shop. Being
                            unable to find a brand can create doubt and uncertainty, causing damage
                            to the image and reputation, whereas strong brands are present everywhere
                            prospective patients are looking.
                        </p>
                        <p>
                            HealthcareAbroad.com's clean design complements and strengthens your brand
                            and lends a professional image to build trust. The inclusion of logos tied
                            side-by-side to listing data helps visitors make instant connections between
                            a brand and the treatments available.
                        </p>
                        <p>
                            Brand recognition is built over multiple encounters across different platforms
                            and avenues.
                        </p>
                        <h3>
                            Targeting a New Generation of Web Users
                        </h3>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-asterisk icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Visitors look for content and innovative ads.
                                    <br>
                                    <small>
                                        Our smart ad options blend content with graphic and text ads, designed
                                        to capture visitors' attention.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-file-alt icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Visitors like headlines and short bursts of text.
                                    <br>
                                    <small>
                                        Our results pages deliver your message in concise news and bullet-point
                                        format.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-eye-open icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Visitors' eyes follow pre-determined patterns when they look at computer
                                    screens.
                                    <br>
                                    <small>
                                        Our layout strategically distributes important information where it is
                                        most likely to be seen.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-picture icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Photos are compelling draws for prospective travelers.
                                    <br>
                                    <small>
                                        Beautiful photos build strong brands and excite potential participants.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-list icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Visitors respond poorly to multiple fonts, too much or too rapid movement
                                    on the screen, and other visual clutter.
                                    <br>
                                    <small>
                                        The simple but elegant aesthetic of HealthcareAbroad.com is one of the
                                        most important aspects of our design. The spacing and layout are designed
                                        to keep users from becoming overwhelmed, and the structure helps guide
                                        users to key information.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="pull-left">
                                <i class="icon-h-sign icon-2x">
                                </i>
                            </span>
                            <div class="media-body">
                                <h4>
                                    Visitors respond best to branding and logos.
                                    <br>
                                    <small>
                                        HealthcareAbroad.com keeps your logo together with your clinic listings
                                        and photos, so visitors make an instant brand connection between your clinic
                                        and the treatments you offer.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <!-- // Service Content -->
                        <!-- Our Clients start -->
                        <!-- Client Slider -->
                    </div>
                    <!-- // Container -->
                    <div class="clr">
                    </div>
                </div>
            </div>
            <!-- // Services -->
            <!-- circle navigator / seperator -->
            <div class="circle_arrows">
                <div class="circle_uparrow">
                    <a href="#services" class="circle_uparrow">&nbsp;</a>
                </div>
                <div class="circle_downarrow">
                    <a href="#team" class="circle_downarrow">&nbsp;</a>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // circle navigator / seperator -->
            <!-- About starts -->
            <div id="about">
                <div class="pattern_glow">
                    <!-- Container starts -->
                    <div class="container">
                        <h2>
                            <small>
                                Website Overview -
                            </small>
                            Homepage
                        </h2>
                        <div class="image-map-homepage">
                            <img src="{{ asset('images/frontend/campaign/healthcareabroad-homepage.jpg') }}" alt="client_1" />
                            <div id="parts-images">
                                <a data-toggle="popover" data-content="Quick Links - Links to see all of the treatments and destinations displayed alphabetically. Allows users to narrow down their search in multiple ways, based on their personal style and technological comfort level."
                                class="circle a-home">A</a>
                                <a data-toggle="popover" data-content="Modern, clear, search function - Predictive text and drop boxes provide fast, easy, and accurate access to HealthcareAbroad.com directories. Multiple input methods allow users to search in whatever manner is most natural and intuitive to them."
                                class="circle b-home">B</a>
                                <a data-toggle="popover" data-content="The Showcase Feature - This is the most visible spot on the entire site. A compact, targeted feature with the most important text, rotating photos, and logo on the whole site. The only spot that is guaranteed to be seen upon first loading the page. This rotates with other showcased features and links directly to a hospital or clinic listing. Subscription is on an annual basis. Limited to 6 features."
                                class="circle c-home">C</a>
                                <a data-toggle="popover" data-content="Instant Access to high quality content - Links to guides, news, travel information, and educational pieces add value for site visitors, and help educate and encourage further exploration."
                                class="circle d-home">D</a>
                                <a data-toggle="popover" data-content="Homepage Featured Clinic - A listing with text, a photo, logo, and 2 key points. An excellent way to drive awareness and traffic. Limited to 6 features. Subscription is based on a calendar month."
                                class="circle e-home">E</a>
                                <a data-toggle="popover" data-content="Common Treatments - Picked by editors based on search volume and trends, this list of Common Treatments with description gives site visitors another way to find services they may be interested in."
                                class="circle f-home">F</a>
                                <a data-toggle="popover" data-content="Side Column Media Feature - Either a high quality photo advertisement, or a short promotional video can be embedded here. Helps reinforce brand recognition and presence."
                                class="circle g-home">G</a>
                                <a data-toggle="popover" data-content="Destinations Feature - Allows national and tourism agencies to promote entire country or regions medical facilities as a whole."
                                class="circle h-home">H</a>
                                <a data-toggle="popover" data-content="Newsletter Signup - Users can join the newsletter which will allow them to stay up to date on any important events or deals."
                                class="circle i-home">I</a>
                                <!-- <a data-toggle="popover" data-content="Client Registration and Login - Allows new clinics to quickly and easily join the site, and allows existing clinics to access and manage their accounts."
                                class="circle j-home">J</a> -->
                            </div>
                        </div>
                        <h1>
                            Homepage
                        </h1>
                        <h3>
                            Content and Navigation:
                        </h3>
                        <div class="media">
                            <span class="circle pull-left">
                                A
                            </span>
                            <div class="media-body">
                                <h4>
                                    Quick Links
                                    <br>
                                    <small>
                                        Links to see all of the treatments and destinations displayed alphabetically.
                                        Allows users to narrow down their search in multiple ways, based on their
                                        personal style and technological comfort level.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                B
                            </span>
                            <div class="media-body">
                                <h4>
                                    Modern, clear, search function
                                    <br>
                                    <small>
                                        Predictive text and drop boxes provide fast, easy, and accurate access
                                        to HealthcareAbroad.com directories. Multiple input methods allow users
                                        to search in whatever manner is most natural and intuitive to them.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                D
                            </span>
                            <div class="media-body">
                                <h4>
                                    Instant Access to high quality content
                                    <br>
                                    <small>
                                        Links to guides, news, travel information, and educational pieces add
                                        value for site visitors, and help educate and encourage further exploration.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                F
                            </span>
                            <div class="media-body">
                                <h4>
                                    Common Treatments
                                    <br>
                                    <small>
                                        Picked by editors based on search volume and trends, this list of Common
                                        Treatments with description gives site visitors another way to find services
                                        they may be interested in.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                I
                            </span>
                            <div class="media-body">
                                <h4>
                                    Newsletter Signup
                                    <br>
                                    <small>
                                        Users can join the newsletter which will allow them to stay up to date
                                        on any important events or deals.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="media">
                            <span class="circle pull-left">
                                J
                            </span>
                            <div class="media-body">
                                <h4>
                                    Client Registration and Login
                                    <br>
                                    <small>
                                        Allows new clinics to quickly and easily join the site, and allows existing
                                        clinics to access and manage their accounts.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div> -->
                            <br>
                            <h3>
                                Advertising Opportunities:
                            </h3>
                            <div class="media">
                                <span class="circle pull-left">
                                    C
                                </span>
                                <div class="media-body">
                                    <h4>
                                        The Showcase Feature
                                        <br>
                                        <small>
                                            This is the most visible spot on the entire site. A compact, targeted
                                            feature with the most important text, rotating photos, and logo on the
                                            whole site. The only spot that is guaranteed to be seen upon first loading
                                            the page. This rotates with other showcased features and links directly
                                            to a hospital or clinic listing. Subscription is on an annual basis. Limited
                                            to 6 features.
                                            <span>
                                                <a href="http://www.healthcareabroad.com/advertising-inquiry.html">Great value and high traffic. Not many spots left.</a>
                                            </span>
                                        </small>
                                    </h4>
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="circle pull-left">
                                    E
                                </span>
                                <div class="media-body">
                                    <h4>
                                        Homepage Featured Clinic
                                        <br>
                                        <small>
                                            A listing with text, a photo, logo, and 2 key points. An excellent way
                                            to drive awareness and traffic. Limited to 6 features. Subscription is
                                            based on a calendar month.
                                            <span>
                                                <a href="http://www.healthcareabroad.com/advertising-inquiry.html">First come first served. Months are already filling up through the next year.
</a>
                                            </span>
                                        </small>
                                    </h4>
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="circle pull-left">
                                    G
                                </span>
                                <div class="media-body">
                                    <h4>
                                        Side Column Media Feature
                                        <br>
                                        <small>
                                            Either a high quality photo advertisement, or a short promotional video
                                            can be embedded here. Helps reinforce brand recognition and presence.
                                        </small>
                                    </h4>
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="circle pull-left">
                                    H
                                </span>
                                <div class="media-body">
                                    <h4>
                                        Destinations Feature
                                        <br>
                                        <small>
                                            Allows national and tourism agencies to promote entire country or regions
                                            medical facilities as a whole.
                                        </small>
                                    </h4>
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- // Container <-->
                    <div class="clr">
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // About -->
            <!-- circle navigator / seperator -->
            <div class="circle_arrows">
                <div class="circle_uparrow">
                    <a href="#about" class="circle_uparrow">&nbsp;</a>
                </div>
                <div class="circle_downarrow">
                    <a href="#news" class="circle_downarrow">&nbsp;</a>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // circle navigator / seperator -->
            <!-- Team starts -->
            <div id="team">
                <!-- Container starts -->
                <div class="container">
                    <h2>
                        <small>
                            Website Overview -
                        </small>
                        Results Page
                    </h2>
                    <div class="image-map-homepage">
                        <img src="{{ asset('images/frontend/campaign/healthcareabroad-results.jpg') }}" alt="client_1" />
                        <div id="parts-images">
                            <a data-toggle="popover" data-content="Results Page Featured Clinic - A targeted highly visible option for a month-long burst of traffic on a specific speciality, country, city or combination search results page. This feature is at the top of the page and includes a description, logo, photo and 2 highlights with thumbnail images."
                            class="circle a-results">A</a>
                            <a data-toggle="popover" data-content="Logo and Photo Package (Top Tier) - A Logo and Photo Package includes all of the same features as a Logo Package with the addition of a photo embedded into your results page listing. This photo improves interest and reinforces brand awareness to entice potential patients. This package gets your listing in the premium top tier of the results page."
                            class="circle c-results">C</a>
                            <a data-toggle="popover" data-content="Filter Search - Allows site visitors to easily zero in on a clinic by selecting the treatment, country, or the city that they are interested in."
                            class="circle b-results">B</a>
                            <a data-toggle="popover" data-content="Results Global Media Ad - The Results Global Media Ad appears sitewide for all searches, regardless of specialization or destination. It is not result specific. It is also the only advertising space available to non-clinics. Due to its wide reaching exposure this ad is limited to a rotation of 5 and those advertisers may only buy 2 months out of 12. Finally, priority for this ad space is given to non-clinic or non-hospital advertisers."
                            class="circle d-results">D</a>
                            <a data-toggle="popover" data-content="Logo Package (Middle Tier) - A Logo Package includes all of the same features as a Linked Listing with the important brand building element of your logo on the results page. The addition of a logo side-by-side with your search result listing helps boost attention, retention, and recognition. Additionally, this package gets your listing in the 2nd tier of the results page"
                            class="circle e-results">E</a>
                            <a data-toggle="popover" data-content="Linked Listing (Base Tier) - A Linked Listing includes all of the same features as a Forever Free Listing with many additional benefits to build your brand and make it much easier for you to directly reach your patients. Patients can connect to your clinic through social media, web links, and a phone number. Strengthen your clinic's brand by including a logo, photos, and videos on your full listing page. This ad option boosts a listing's ranking into the 3rd tier on the page."
                            class="circle f-results">F</a>
                            <a data-toggle="popover" data-content="Basic Forever Free Listing (Bottom Tier) - Your clinic will be displayed with an abbreviated description with a link to view the full details on your clinic page. This page will show the services, certifications, treatments, address and location of your clinic. Doctors can be added to your listing along with their training, specializations, and awards. All of these details can be controlled through a easy-to-use, intelligent client interface."
                            class="circle g-results">G</a>
                        </div>
                    </div>
                    <h1>
                        Results Page
                    </h1>
                    <h3>
                        Navigation:
                    </h3>
                    <div class="media">
                        <span class="circle pull-left">
                            B
                        </span>
                        <div class="media-body">
                            <h4>
                                Filter Search
                                <br>
                                <small>
                                    Allows site visitors to easily zero in on a clinic by selecting the treatment,
                                    country, or the city that they are interested in.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <h3>
                        Advertising Opportunities:
                    </h3>
                    <div class="media">
                        <span class="circle pull-left">
                            A
                        </span>
                        <div class="media-body">
                            <h4>
                                Results Page Featured Clinic
                                <br>
                                <small>
                                    A targeted highly visible option for a month-long burst of traffic on
                                    a specific speciality, country, city or combination search results page.
                                    This feature is at the top of the page and includes a description, logo,
                                    photo and 2 highlights with thumbnail images.
                                    <span>
                                        <a href="http://www.healthcareabroad.com/advertising-inquiry.html">Waitlists for some areas. Contact us for availability.</a>
                                    </span>
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            C
                        </span>
                        <div class="media-body">
                            <h4>
                                Logo and Photo Package (Top Tier)
                                <br>
                                <small>
                                    A Logo and Photo Package includes all of the same features as a Logo Package
                                    with the addition of a photo embedded into your results page listing. This
                                    photo improves interest and reinforces brand awareness to entice potential
                                    patients. This package gets your listing in the premium top tier of the
                                    results page.
                                    <span>
                                        <a href="http://www.healthcareabroad.com/advertising-inquiry.html">Get your clinic in the top tier for a whole year. Best return on investment.</a>
                                    </span>
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            E
                        </span>
                        <div class="media-body">
                            <h4>
                                Logo Package (Middle Tier)
                                <br>
                                <small>
                                    A Logo Package includes all of the same features as a Linked Listing with
                                    the important brand building element of your logo on the results page.
                                    The addition of a logo side-by-side with your search result listing helps
                                    boost attention, retention, and recognition. Additionally, this package
                                    gets your listing in the 2nd tier of the results page.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            F
                        </span>
                        <div class="media-body">
                            <h4>
                                Linked Listing (Base Tier)
                                <br>
                                <small>
                                    A Linked Listing includes all of the same features as a Forever Free Listing
                                    with many additional benefits to build your brand and make it much easier
                                    for you to directly reach your patients. Patients can connect to your clinic
                                    through social media, web links, and a phone number. Strengthen your clinic's
                                    brand by including a logo, photos, and videos on your full listing page.
                                    This ad option boosts a listing's ranking into the 3rd tier on the page.
                                    <span>
                                        <a href="http://www.healthcareabroad.com/advertising-inquiry.html">Minimum advertising package on the site. Good low cost entry point.</a>
                                    </span>
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            D
                        </span>
                        <div class="media-body">
                            <h4>
                                Results Global Media Ad
                                <br>
                                <small>
                                    The Results Global Media Ad appears sitewide for all searches, regardless
                                    of specialization or destination. It is not result specific. It is also
                                    the only advertising space available to non-clinics. Due to its wide reaching
                                    exposure this ad is limited to a rotation of 5 and those advertisers may
                                    only buy 2 months out of 12. Finally, priority for this ad space is given
                                    to non-clinic or non-hospital advertisers.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            G
                        </span>
                        <div class="media-body">
                            <h4>
                                Basic Forever Free Listing (Bottom Tier)
                                <br>
                                <small>
                                    Your clinic will be displayed with an abbreviated description with a link
                                    to view the full details on your clinic page. This page will show the services,
                                    certifications, treatments, address and location of your clinic. Doctors
                                    can be added to your listing along with their training, specializations,
                                    and awards. All of these details can be controlled through a easy-to-use,
                                    intelligent client interface.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- // Container -->
                <div class="clr">
                </div>
            </div>
            <!-- // Team -->
            <!-- circle navigator / seperator -->
            <div class="circle_arrows">
                <div class="circle_uparrow">
                    <a href="#team" class="circle_uparrow">&nbsp;</a>
                </div>
                <div class="circle_downarrow">
                    <a href="#media" class="circle_downarrow">&nbsp;</a>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // circle navigator / seperator -->
            <!-- News starts -->
            <div id="news">
                <div class="pattern_glow">
                    <!-- Container starts -->
                    <div class="container">
                        <h2>
                            <small>
                                Website Overview -
                            </small>
                            Clinic Page
                        </h2>
                        <div class="image-map-homepage">
                            <img src="{{ asset('images/frontend/campaign/healthcareabroad-clinic.jpg') }}" alt="client_1" />
                            <div id="parts-images">
                                <a data-toggle="popover" data-content="Hospital Group - If the clinic
                                is associated or affiliated with a parent organization a link to their
                                profile will be shown. This helps increase brand awareness across an entire
                                organization, and allows site visitors to quickly and easily see what other
                                services and procedures a hospital offers." class="circle a-clinic">A</a>
                                <a data-toggle="popover" data-content="Clinic Logo - A logo allows you to establish brand recognition and builds trust and credibility with site users. Available with enhanced listing."
                                class="circle b-clinic">B</a>
                                <a data-toggle="popover" data-content="Clinic Contact Information - Healthcare Abroad makes it easy for site users to get in contact with you. With just a click, they can send you a contact email. These inquiries can easily be managed via email or the secure clinic portal on the HealthcareAbroad.com web site."
                                class="circle c-clinic">C</a>
                                <a data-toggle="popover" data-content="Map Location of Clinic - We have partnered with Google to map the location of your clinic to build validity and credibility with users, as well as helps users create a deeper association with your organization."
                                class="circle d-clinic">D</a>
                                <a data-toggle="popover" data-content="Long-form Description - All the information about your clinic that a visitor may want to know. The history, the capacity, the capabilities and technologies. This is your chance to set your clinic apart."
                                class="circle e-clinic">E</a>
                                <a data-toggle="popover" data-content="Operating Hours - Your clinic's hours of operation are clearly listed by day."
                                class="circle f-clinic">F</a>
                                <a data-toggle="popover" data-content="Specializations and Treatments - Here all specialties of your clinic, and the treatments that correspond with those specialties will be listed."
                                class="circle g-clinic">G</a>
                                <a data-toggle="popover" data-content="Photos and Videos - Photos and videos build strong brands and excite potential participants, along with creating enhanced credibility and trust. All these factors make decisions easier and more likely. Available with enhanced listing."
                                class="circle h-clinic">H</a>
                                <a data-toggle="popover" data-content="Services and Awards &amp; Accreditations - If your clinic offers unique services, such as hospital pickup and drop off, concierge, or any other amenities, they will be listed here. Additionally, if your clinic has any recognized accreditations, be they from JCI, ISO, or another recognized accreditation agency, they will be listed here as well."
                                class="circle i-clinic">I</a>
                                <a data-toggle="popover" data-content="Social Media Links - Allow users to contact you through as many social channels as you maintain. Be it Twitter, Facebook, or Google+, users will be able to quickly and easily access your social media. Available with enhanced listing."
                                class="circle j-clinic">J</a>
                                <a data-toggle="popover" data-content="Doctor List - List all of the doctors that work in the clinic, along with their specialties."
                                class="circle k-clinic">K</a>
                                <!-- <a data-toggle="popover" data-content="Clinic Contact Information
                                - Enhanced listings will also be able to contact you by phone and directly
                                link to your website." class="circle c2-clinic">C</a> -->
                            </div>
                        </div>
                        <h1>
                            Clinic Page
                        </h1>
                        <h3>
                            Content and Navigation:
                        </h3>
                        <div class="media">
                            <span class="circle pull-left">
                                A
                            </span>
                            <div class="media-body">
                                <h4>
                                    Hospital Group
                                    <br>
                                    <small>
                                        If the clinic is associated or affiliated with a parent organization a
                                        link to their profile will be shown. This helps increase brand awareness
                                        across an entire organization, and allows site visitors to quickly and
                                        easily see what other services and procedures a hospital offers.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                C
                            </span>
                            <div class="media-body">
                                <h4>
                                    Clinic Contact Information
                                    <br>
                                    <small>
                                        If the clinic is associated or affiliated with a parent organization a
                                        link to their profile will be shown. This helps increase brand awareness
                                        across an entire organization, and allows site visitors to quickly and
                                        easily see what other services and procedures a hospital offers.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                D
                            </span>
                            <div class="media-body">
                                <h4>
                                    Map Location of Clinic
                                    <br>
                                    <small>
                                        We have partnered with Google to map the location of your clinic to build
                                        validity and credibility with users, as well as helps users create a deeper
                                        association with your organization.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                E
                            </span>
                            <div class="media-body">
                                <h4>
                                    Long-form Description
                                    <br>
                                    <small>
                                        We have partnered with Google to map the location of your clinic to build
                                        validity and credibility with users, as well as helps users create a deeper
                                        association with your organization.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                F
                            </span>
                            <div class="media-body">
                                <h4>
                                    Operating Hours
                                    <br>
                                    <small>
                                        Your clinic's hours of operation are clearly listed by day.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                G
                            </span>
                            <div class="media-body">
                                <h4>
                                    Specializations and Treatments
                                    <br>
                                    <small>
                                        Here all specialties of your clinic, and the treatments that correspond
                                        with those specialties will be listed. by day.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                I
                            </span>
                            <div class="media-body">
                                <h4>
                                    Services and Awards &amp; Accreditations
                                    <br>
                                    <small>
                                        If your clinic offers unique services, such as hospital pickup and drop
                                        off, concierge, or any other amenities, they will be listed here. Additionally,
                                        if your clinic has any recognized accreditations, be they from JCI, ISO,
                                        or another recognized accreditation agency, they will be listed here as
                                        well.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                K
                            </span>
                            <div class="media-body">
                                <h4>
                                    Doctor List
                                    <br>
                                    <small>
                                        List all of the doctors that work in the clinic, along with their specialties.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <br>
                        <h3>
                            Advertising Opportunities (All Included with a Linked Listing on Results
                            page):
                        </h3>
                        <div class="media">
                            <span class="circle pull-left">
                                B
                            </span>
                            <div class="media-body">
                                <h4>
                                    Clinic Logo
                                    <br>
                                    <small>
                                        A logo allows you to establish brand recognition and builds trust and
                                        credibility with site users. Available with enhanced listing.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                C
                            </span>
                            <div class="media-body">
                                <h4>
                                    Clinic Contact Information
                                    <br>
                                    <small>
                                        Enhanced listings will also be able to contact you by phone and directly
                                        link to your website.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                H
                            </span>
                            <div class="media-body">
                                <h4>
                                    Photos and Videos
                                    <br>
                                    <small>
                                        Photos and videos build strong brands and excite potential participants,
                                        along with creating enhanced credibility and trust. All these factors make
                                        decisions easier and more likely. Available with enhanced listing.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <span class="circle pull-left">
                                J
                            </span>
                            <div class="media-body">
                                <h4>
                                    Social Media Links
                                    <br>
                                    <small>
                                        Allow users to contact you through as many social channels as you maintain.
                                        Be it Twitter, Facebook, or Google+, users will be able to quickly and
                                        easily access your social media. Available with enhanced listing.
                                    </small>
                                </h4>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- // Container -->
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // News -->
            <!-- circle navigator / seperator -->
            <div class="circle_arrows">
                <div class="circle_uparrow">
                    <a href="#news" class="circle_uparrow">&nbsp;</a>
                </div>
                <div class="circle_downarrow">
                    <a href="#pricing" class="circle_downarrow">&nbsp;</a>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // circle navigator / seperator -->
            <!-- Media starts -->
            <div id="media">
                <!-- Container starts -->
                <div class="container">
                    <h2>
                        <small>
                            Website Overview -
                        </small>
                        Hospital Page
                    </h2>
                    <div class="image-map-homepage">
                        <img src="{{ asset('images/frontend/campaign/healthcareabroad-hospital.jpg') }}" alt="client_1" />
                        <div id="parts-images">
                            <a data-toggle="popover" data-content="Header Image - A large image to establish your brand and reputation. Available with enhanced listing."
                            class="circle a-hospital">A</a>
                            <a data-toggle="popover" data-content="Logo - Your logo for the entire organization. Logos allows you to establish brand recognition and builds trust and credibility with site users. Available with enhanced listing."
                            class="circle b-hospital">B</a>
                            <a data-toggle="popover" data-content="Contact Information - Healthcare Abroad makes it easy for site users to get in contact with you. With just a click, they can send you a contact email, get the contact number, and find your physical location. Additionally, all of these inquiries are logged and presented in the tools to manage your listing, which are provided with every Healthcare Abroad listing. Phone contact Available with enhanced listing."
                            class="circle c-hospital">C</a>
                            <a data-toggle="popover" data-content="Tabbed Navigation - Users can easily switch between howing an overview of the hospital to a list of all the doctors that work at the hospital, along with their corresponding specialties."
                            class="circle d-hospital">D</a>
                            <a data-toggle="popover" data-content="Clinic List - A list of all the clinics in your organization, with links to their personal clinic listings." class="circle e-hospital">E</a>
                            <a data-toggle="popover" data-content="Map Location"
                            class="circle f-hospital">F</a>
                            <a data-toggle="popover" data-content="Photos and Videos- Photos and videos help give users a more complete image of your organization, and makes decisions easier and more likely. Available with enhanced listing."
                            class="circle g-hospital">G</a>
                            <a data-toggle="popover" data-content="Social Media Integration - Allow users to contact you through as many social channels as you maintain. Be it Twitter, Facebook, or Google+, users will be able to quickly and easily access your social media. Available with enhanced listing."
                            class="circle h-hospital">H</a>
                            <a data-toggle="popover" data-content="Services and Awards &amp; Accreditations - If your clinic offers unique services, such as hospital pickup and drop off, concierge, or any other amenities, they will be listed here. Additionally, if your clinic has any recognized accreditations, be they from JCI, ISO, or another recognized accreditation agency, they will be listed here as well."
                            class="circle i-hospital">I</a>
                        </div>
                    </div>
                    <h1>
                        Hospital Page
                    </h1>
                    <h3>
                        Content and Navigation:
                    </h3>
                    <div class="media">
                        <span class="circle pull-left">
                            A
                        </span>
                        <div class="media-body">
                            <h4>
                                Header Image
                                <br>
                                <small>
                                    A large image to establish your brand and reputation. Available with enhanced
                                    listing.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            B
                        </span>
                        <div class="media-body">
                            <h4>
                                Logo
                                <br>
                                <small>
                                    Your logo for the entire organization. Logos allows you to establish brand
                                    recognition and builds trust and credibility with site users. Available
                                    with enhanced listing.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            C
                        </span>
                        <div class="media-body">
                            <h4>
                                Contact Information
                                <br>
                                <small>
                                    Healthcare Abroad makes it easy for site users to get in contact with
                                    you. With just a click, they can send you a contact email, get the contact
                                    number, and find your physical location. Additionally, all of these inquiries
                                    are logged and presented in the tools to manage your listing, which are
                                    provided with every Healthcare Abroad listing. Phone contact Available
                                    with enhanced listing.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            D
                        </span>
                        <div class="media-body">
                            <h4>
                                Tabbed Navigation
                                <br>
                                <small>
                                    Users can easily switch between showing an overview of the hospital to
                                    a list of all the doctors that work at the hospital, along with their corresponding
                                    specialties.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            H
                        </span>
                        <div class="media-body">
                            <h4>
                                Services and Awards &amp; Accreditations
                                <br>
                                <small>
                                    If your clinic offers unique services, such as hospital pickup and drop
                                    off, concierge, or any other amenities, they will be listed here. Additionally,
                                    if your clinic has any recognized accreditations, be they from JCI, ISO,
                                    or another recognized accreditation agency, they will be listed here as
                                    well.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            E
                        </span>
                        <div class="media-body">
                            <h4>
                                Clinic List
                                <br>
                                <small>
                                    A list of all the clinics in your organization, with links to their personal
                                    clinic listings.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <br>
                    <h3>
                        Advertising Opportunities (All Included with a Linked Listing and above
                        on Results page):
                    </h3>
                    <div class="media">
                        <span class="circle pull-left">
                            G
                        </span>
                        <div class="media-body">
                            <h4>
                                Social Media Integration
                                <br>
                                <small>
                                    Allow users to contact you through as many social channels as you maintain.
                                    Be it Twitter, Facebook, or Google+, users will be able to quickly and
                                    easily access your social media. Available with enhanced listing.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="circle pull-left">
                            F
                        </span>
                        <div class="media-body">
                            <h4>
                                Photos and Videos
                                <br>
                                <small>
                                    Photos and videos help give users a more complete image of your organization,
                                    and makes decisions easier and more likely. Available with enhanced listing.
                                </small>
                            </h4>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- // Container -->
                <div class="clr">
                </div>
            </div>
            <!-- // Media -->
            <!-- circle navigator / seperator -->
            <div class="circle_arrows">
                <div class="circle_uparrow">
                    <a href="#media" class="circle_uparrow">&nbsp;</a>
                </div>
                <div class="circle_downarrow">
                    <a href="#portfolio" class="circle_downarrow">&nbsp;</a>
                </div>
                <div class="clr">
                </div>
            </div>
            <!-- // circle navigator / seperator -->
            <!-- Pricing starts -->
            <div id="pricing">
                <div class="pattern_glow_dark">
                    <!-- Container starts -->
                    <div class="container">
                        <h1>
                            Who is HealthcareAbroad.com
                        </h1>
                        <h2>
                            History
                        </h2>
                        <p>
                            HealthcareAbroad.com was conceptualized from the co-owners positive personal
                            international healthcare experiences and their frustrations in searching
                            for information on the internet.
                        </p>
                        <p>
                            After a decade living, working and starting our families abroad while
                            building the online directory GoAbroad.com, HealthcareAbroad.com's co-founders
                            asked "why can't we take the business experience learned at GoAbroad.com
                            and apply it towards Global Healthcare?". It seemed impossible that in
                            the early 2010's all the existing sources on the internet were referral
                            and commission based businesses or paid only directories that were incomplete
                            and inaccurate. Given the seismic political changes to healthcare in the
                            west, the business trends towards globalization and the growing numbers
                            of prospective patients who are looking abroad it seemed obvious and logical
                            that a quality internet portal was needed.
                        </p>
                        <p>
                            For over 14 years, the team behind HealthcareAbroad.com has been creating
                            successful international directories. Building advanced, modern technologies
                            with easy to use web sites the team created a comprehensive directory of
                            unbiased healthcare providers worldwide. Research and planning began in
                            2011. Design and production continued through 2012. The site was launched
                            in the first quarter of 2013.
                        </p>
                        <p>
                            To learn more about our founders and the talented Cebu, Philippine based
                            technical team please visit:
                            <a href="http://www.chromedia.com/#who">http://www.chromedia.com/#who</a>
                        </p>
                        <p>
                            HealthcareAbroad.com Inc. is an American corporation based in Colorado
                            and a wholly owned subsidiary of Chromedia Inc.
                        </p>
                        <div class="row-fluid">
                            <h4>
                                Contact Us:
                            </h4>
                            <div class="media">
                                <span class="pull-left">
                                    <i class="icon-envelope-alt">
                                    </i>
                                </span>
                                <div class="media-body">
                                    <p class="media-heading">
                                        7050 West Custer Avenue Lakewood, Colorado 80226 U.S.A.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="pull-left">
                                    <i class="icon-phone-sign">
                                    </i>
                                </span>
                                <div class="media-body">
                                    <p class="media-heading">
                                        US Office: 720.257.5277
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="pull-left">
                                    <i class="icon-print">
                                    </i>
                                </span>
                                <div class="media-body">
                                    <p class="media-heading">
                                        US Fax: 720.230.5431
                                    </p>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!-- // Container -->
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <!-- // Pricing -->
                <!-- Footer starts -->
                <div id="footer">
                    <!-- Container starts -->
                    <div class="container">
                        <div class="footer_copy">
                            &copy; 2013 HealthCareAbroad.com All rights reserved.
                        </div>
                    </div>
                    <!-- // Container -->
                </div>
                <!-- // Footer -->
        </div>
                
{% endblock %}
            