{% block contact_number_with_flag_widget %}
    {% spaceless %}

    <div class="span6">
        <label for="Phone Number">{{ label_prefix }} Phone Number</label>
        <div class="hca-countrycodes">
            <div class="input-prepend">
                {% set phone = "phoneNumberSelector" %}
                  {{ render_contactNumber_widget(phone) | raw }}
                  {# append numberSelector to class attribute#}
                <input type="text" class="span9 numberSelector" required value="{{ form.vars.value.phone_number.number | length ? form.vars.value.phone_number.number : '+63' }}" name="{{ form.vars.full_name ~ '[phone_number][number]' }}" data-type="phone" id="phoneNumberSelector" maxlength="15"/>
                <input type="hidden" name="{{ form.vars.full_name ~ '[phone_number][abbr]' }}" value="{{ form.vars.value.phone_number.abbr is defined ? form.vars.value.phone_number.abbr: '' }}"  id="phoneNumberAbbr">
            </div>
        </div>
    </div>

    {% if display_both %}
     <div class="span6">
         <label for="Mobile Number">{{ label_prefix }} Mobile Number</label>
        <div class="hca-countrycodes">
            <div class="input-prepend row-field">
                {% set mobile = "mobileNumberSelector" %}
                  {{ render_contactNumber_widget(mobile) | raw }}
                <input type="text" class="span9 numberSelector" value="+63" name="{{ form.vars.full_name ~ '[mobile_number][number]' }}" data-type="mobile" id="mobileNumberSelector"  maxlength="15" required/>
                <input type="hidden" name="{{ form.vars.full_name ~ '[mobile_number][abbr]' }}"  id="mobileNumberAbbr">
            </div>
        </div>
    </div>
    {% endif %}

    {% endspaceless %}
{% endblock %}

{% block contact_number_widget %}
    {% spaceless %}

        <div>
            <div style="display:inline-block;">
                <label style="font-size: 85%;">Country Code</label>
                <input style="width: 56px;" type="text" value="{{ form.vars.value.country_code }}" name="{{ form.vars.full_name ~ '[country_code]' }}" />
            </div>
            <div style="display:inline-block; margin-left:30px;" >
                <label style="font-size: 85%;">Area Code</label>
                <input  style="width: 56px;" type="text" value="{{ form.vars.value.area_code }}" name="{{ form.vars.full_name ~ '[area_code]' }}"  />
            </div>
            <div style="display:inline-block; margin-left:30px;">
                <label style="font-size: 85%;">Phone Number</label>
                <input type="text" value="{{ form.vars.value.number }}" name="{{ form.vars.full_name ~ '[number]' }}"  />
            </div>
        </div>
        <div class="clearfix"></div>

    {% endspaceless %}
{% endblock %}

{% block contact_detail_widget %}
    {% spaceless %}
    
        <div>
            <div style="display:inline-block;">
                <label style="font-size: 85%;">Country Code</label>
                <input style="width: 56px;" type="text" value="{{ form.vars.value.country_code }}" name="{{ form.vars.full_name ~ '[country_code]' }}" />
            </div>
            <div style="display:inline-block; margin-left:30px;" >
                <label style="font-size: 85%;">Area Code</label>
                <input  style="width: 56px;" type="text" value="{{ form.vars.value.area_code }}" name="{{ form.vars.full_name ~ '[area_code]' }}"  />
            </div>
            <div style="display:inline-block; margin-left:30px;">
                <label style="font-size: 85%;">Phone Number</label>
                <input type="text" value="{{ form.vars.value.number }}" name="{{ form.vars.full_name ~ '[number]' }}"  />
            </div>
        </div>
        <div class="clearfix"></div>
    
    {% endspaceless %}
{% endblock %}

{% block social_media_sites_custom_field_widget %}
    {% spaceless %}
        <div class="control-group social-media">
            <label for="{{ form.vars.full_name ~ '[twitter]' }}">Twitter</label>
            <i class="icon-twitter icon-2x pull-left span1"></i>
            <input type="text" value="{{ form.vars.value.twitter }}" name="{{ form.vars.full_name ~ '[twitter]' }}" class="span11 pull-right">
            <label for="{{ form.vars.full_name ~ '[facebook]' }}">Facebook</label>
            <i class="icon-facebook icon-2x pull-left span1"></i>
            <input type="text" value="{{ form.vars.value.facebook }}" name="{{ form.vars.full_name ~ '[facebook]' }}" class="span11 pull-right">
            <label for="{{ form.vars.full_name ~ '[googleplus]' }}">Google +</label>
            <i class="icon-google-plus icon-2x pull-left span1"></i>
            <input type="text" value="{{ form.vars.value.googleplus }}" name="{{ form.vars.full_name ~ '[googleplus]' }}" class="span11 pull-right">
        </div>

        {#
        <div>
                <label >Institution Website</label>
                <input type="text" value="{{ form.vars.value.main }}" name="{{ form.vars.full_name ~ '[main]' }}" />

                <label >Facebook Account</label>
                <input type="text" value="{{ form.vars.value.facebook }}" name="{{ form.vars.full_name ~ '[facebook]' }}"  />

                <label >Twitter Account</label>
                <input type="text" value="{{ form.vars.value.twitter }}" name="{{ form.vars.full_name ~ '[twitter]' }}"  />

        </div>
        <div class="clearfix"></div>
        #}
    {% endspaceless %}
{% endblock %}

{% block detailed_street_address_widget %}
    {% spaceless %}
    <div class="control-group row-field {{ (form.vars.valid ? '' : 'error') }}">
        <label for="state">Address</label>
        <input class="span12 addressFields" required type="text" value="{{ form.vars.value.street }}" name="{{ form.vars.full_name ~ '[street]' }}" id="institution_profile_form_street" />
    </div>
    <div class="control-group">
        <div class="span4">
            <label for="Unit/Room">Unit/Room # <small>(Optional)</small></label>
            <input type="text" value="{{ form.vars.value.room_number }}" name="{{ form.vars.full_name ~ '[room_number]' }}" id="institution_profile_form_roomNumber" class="span12 addressFields">
        </div>
        <div class="span8">
            <label for="Building Name">Building Name <small>(Optional)</small></label>
            <input type="text" value="{{ form.vars.value.building }}" name="{{ form.vars.full_name ~ '[building]' }}" id="institution_profile_form_building" class="span12 addressFields">
        </div>
    </div>

    {#
    <div>
        <span >
            <label>Unit or Room #</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.room_number }}" name="{{ form.vars.full_name ~ '[room_number]' }}" id="institution_profile_form_roomNumber" />
        </span>
       </div>
    <div class="address3">
        <span >
            <label>Building</label>
            <input  class="addressFields" type="text"  value="{{ form.vars.value.building }}" name="{{ form.vars.full_name ~ '[building]' }}" id="institution_profile_form_building" />
        </span>
    </div>
       <div class="address">
            <label>Street</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.street }}" name="{{ form.vars.full_name ~ '[street]' }}" id="institution_profile_form_steet" />
    </div>
    <div class="clearfix"></div>
    #}

    {% endspaceless %}
{% endblock %}

{% block institutionServices_list_widget %}
    {% spaceless %}
    {% if centers %}
        {% set selected = get_selected_medicalCenterServices(form.parent.vars.value) %}
    {% else %}
        {% set selected = get_selected_AnciliaryServices(form.parent.vars.value) %}
    {% endif %}
    
    <ul class="services-listing">
    
        {% for choice in form.vars.choices %}
        {% set _isSelected = choice.value in selected.data %}

           {% if (_isSelected is defined and _isSelected ) %}
                 {% for property in selected.currentAncillaryData %}
                        {% if property.value == choice.value  %}
                             <li class="hca-highlight">
                                <input type="checkbox" checked name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" />
                                {{ choice.label }}
                            </li>
                         {% endif %}
                     {% endfor %}
                 {% else %}
                     <li class="">
                        <input type="checkbox" name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" />
                        {{ choice.label }}
                    </li>
            {% endif %}

        {% endfor %}
    </ul>
    {% endspaceless %}
{% endblock %}

{% block doctorSpecializations_list_widget %}
    {% spaceless %}

    {# this is temporary #}
    {% set treatments = { 1: 'Treatment 1', 2: 'Treatment 2', 3: 'Treatment 3' } %}
    {% set specializations = form.vars.data %}

    <ul class="specializations-listing">
        {% for choice in form.vars.choices %}
        <li>
            <input type="checkbox" {% if choice.data in specializations %}checked{% endif %} name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" /> <b>{{ choice.label }}</b>
            <ul>
            {% for key, treatment in treatments %}
                <li>
                    <input type="checkbox" name="service" value="{{ key }}" /> {{ treatment }}
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    {% endspaceless %}
{% endblock %}

<!-- Media File for Admin -->
{% block admin_media_file_widget %}

    {% spaceless %}

        {% set fieldName = fieldName is defined ? fieldName : 'media' %}
        {% set mediaParentObject = form.parent.vars.data %}
        {% if fieldName == 'media' %}
            {% set mediaObject = mediaParentObject.media %}
        {% elseif fieldName == 'logo' %}
            {% set mediaObject = mediaParentObject.logo %}
        {% endif %}

        {% if mediaObject %}
            {{ media(mediaObject, mediaParentObject, 'default', {width: '220', style: "border:1px solid #ddd"}) | raw }}
            {% set mediaFileInput = '<input type="file" required="required" value="' ~ form.vars.value ~'" name="' ~ form.vars.full_name ~ '" id="' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '">' %}

            {% set deleteImageUrl = path('admin_media_ajaxDelete') %}

            {% set params = json_encode({
                media_id: mediaObject.id,
                parent_id: mediaParentObject.id,
                parent_class : getClass(mediaParentObject),
                remove_file: true
            }) %}

            <a href="{{ deleteImageUrl }}" class="admin-remove-media" data-params="{{ params }}" data-input-file="{{ mediaFileInput }}" style="margin-left: 10px">remove</a>

            {# Load Js #}
            {{ render_media_file_script() | raw }}

        {% else %}
            <input type="file" required="required" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" id="{{ form.parent.vars.name ~ '_' ~ form.vars.name }}">
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block institutionGlobalAwards_list_widget %}
    {% spaceless %}
    {% if centers %}
        {% set selected = get_selected_medicalCenterGlobalAwards(form.parent.vars.value) %}
    {% else %}
        {% set selected = get_selected_GlobalAwards(form.parent.vars.value) %}
    {% endif%}
        <div class="awards-listing">
            {% for key,typeChoice in form.vars.choices %}
                <h3>{{key | capitalize }}s</h3>
                <ul>
                     {% for choice in typeChoice %}
                          {% set _isSelected = choice.value in selected.data %}
                          {% if (_isSelected is defined and _isSelected ) %}
                               {% for property in selected.currentAwardsData %}
                                    {% if property.value == choice.value  %}
                                        <li class="hca-highlight">
                                            <input type="checkbox" name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" checked/>
                                            {{ choice.label | raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                           {% else %}
                                 <li class="">
                                    <input type="checkbox" name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" />
                                    {{ choice.label | raw }}
                                </li>
                          {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block fancy_country_widget %}
    {% spaceless %}
        <input class="type_in hca-country pull-left" type="text" name="" id="country_input_field" placeholder="Select Country" autocomplete="off" data-autocomplete-trigger="#country_dropdown_button" data-dropdown="#country_dropdown_menu"> 
        <input type="hidden" value="{{ form.vars.value.id }}" name="{{ form.vars.full_name }}" id="institution_profile_form_country" />
        
        {% set city = form.parent.vars.value.city.id is defined ? form.parent.vars.value.city.id : '0'%}
        {{ render_countryJsonList_widget(city) | raw }}
    {% endspaceless %}
{% endblock %}    