{% block contact_number_with_flag_widget %}
    {% spaceless %}
    <div class="span6">
        <div class="hca-countrycodes">
            <div class="input-prepend row-field ">
               <label for="Phone Number">
                    Phone Number
               </label>
            {% set phone = "phoneNumberSelector" %}
                  {{ render_contactNumber_widget(phone) | raw }}
                <input type="text" class="span9" value="+63" name="{{ form.vars.full_name ~ '[phone_number][number]' }}" id="phoneNumberSelector" onkeyup="ContactNumberForm.contactInputField($(this)); return false;" maxlength="15"/>
                <input type="hidden" name="{{ form.vars.full_name ~ '[phone_number][abbr]' }}"  id="phoneNumberAbbr">
            </div>
        </div>
    </div>
        
     <div class="span6">
        <div class="hca-countrycodes">
            <div class="input-prepend row-field">
                 <label for="Mobile Number">
                    Mobile Number
                </label>
                {% set mobile = "mobileNumberSelector" %}
                  {{ render_contactNumber_widget(mobile) | raw }}
                <input type="text" class="span9" value="+63" name="{{ form.vars.full_name ~ '[mobile_number][number]' }}" id="mobileNumberSelector" onkeyup="ContactNumberForm.contactInputField($(this)); return false;" maxlength="15"/>
                <input type="hidden" name="{{ form.vars.full_name ~ '[mobile_number][abbr]' }}"  id="mobileNumberAbbr">
            </div>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

{% block contact_number_widget %}
    {% spaceless %}
    
        <div>
            <div style="display:inline-block;">
                <label style="font-size: 85%;">Country Code</label>
                <input style="width: 56px;" type="text" value="{{ form.vars.value.country_code }}" name="{{ form.vars.full_name ~ '[country_code]' }}" />
            </div>
            <div style="display:inline-block; margin-left:30px;" >
                <label style="font-size: 85%;">Area Code</label>
                <input  style="width: 56px;" type="text" value="{{ form.vars.value.area_code }}" name="{{ form.vars.full_name ~ '[area_code]' }}"  />
            </div>
            <div style="display:inline-block; margin-left:30px;">
                <label style="font-size: 85%;">Phone Number</label>
                <input type="text" value="{{ form.vars.value.number }}" name="{{ form.vars.full_name ~ '[number]' }}"  />
            </div>
        </div>
        <div class="clearfix"></div>
    
    {% endspaceless %}
{% endblock %}

{% block websites_custom_field_widget %}
    {% spaceless %}
    
        <div>
                <label >Institution Website</label>
                <input type="text" value="{{ form.vars.value.main }}" name="{{ form.vars.full_name ~ '[main]' }}" />
       
                <label >Facebook Account</label>
                <input type="text" value="{{ form.vars.value.facebook }}" name="{{ form.vars.full_name ~ '[facebook]' }}"  />
         
                <label >Twitter Account</label>
                <input type="text" value="{{ form.vars.value.twitter }}" name="{{ form.vars.full_name ~ '[twitter]' }}"  />
            
        </div>
        <div class="clearfix"></div>
    
    {% endspaceless %}
{% endblock %}

{% block detailed_street_address_widget %}
    {% spaceless %}
    <div>
        <span >
            <label>Unit or Room #</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.room_number }}" name="{{ form.vars.full_name ~ '[room_number]' }}" id="institution_profile_form_roomNumber" />
        </span>
       </div>
    <div class="address3">
        <span >
            <label>Building</label>
            <input  class="addressFields" type="text"  value="{{ form.vars.value.building }}" name="{{ form.vars.full_name ~ '[building]' }}" id="institution_profile_form_building" />
        </span>
    </div>
   	<div class="address">
            <label>Street</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.street }}" name="{{ form.vars.full_name ~ '[street]' }}" id="institution_profile_form_steet" />
    </div>
    <div class="clearfix"></div>
    {% endspaceless %}
{% endblock %}

<!-- Media File for Admin -->
{% block admin_media_file_widget %}

    {% spaceless %}

        {% set fieldName = fieldName is defined ? fieldName : 'media' %}
        {% set mediaParentObject = form.parent.vars.data %}
        {% if fieldName == 'media' %}
            {% set mediaObject = mediaParentObject.media %}
        {% elseif fieldName == 'logo' %}
            {% set mediaObject = mediaParentObject.logo %} 
        {% endif %}

        {% if mediaObject %} 
            {{ media(mediaObject, mediaParentObject, 'default', {width: '220', style: "border:1px solid #ddd"}) | raw }}
            {% set mediaFileInput = '<input type="file" required="required" value="' ~ form.vars.value ~'" name="' ~ form.vars.full_name ~ '" id="' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '">' %}

            {% set deleteImageUrl = path('admin_media_ajaxDelete') %}

            {% set params = json_encode({ 
                media_id: mediaObject.id,
                parent_id: mediaParentObject.id,
                parent_class : getClass(mediaParentObject),
                remove_file: true
            }) %}

            <a href="{{ deleteImageUrl }}" class="admin-remove-media" data-params="{{ params }}" data-input-file="{{ mediaFileInput }}" style="margin-left: 10px">remove</a>

            <!-- Load Js -->
            {{ render_media_file_script() | raw }}

        {% else %}
            <input type="file" required="required" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" id="{{ form.parent.vars.name ~ '_' ~ form.vars.name }}">
        {% endif %}

    {% endspaceless %}
{% endblock %}