{% use 'HelperBundle:Form:simple_contact_detail.html.twig'%}
{# use 'HelperBundle:Form:city_list.html.twig'#}

{% block contact_number_with_flag_widget %}
    {% spaceless %}
    <div class="control-group">

        {% if form.vars.value.type %}
            <label>{{ contact_label_type(form.vars.value.type) }}</label>
        {% endif %}

        <div class="hca-countrycodes">
            <div class="input-prepend">
                {% set number = form.getChild('number') %}
                {% set abbr = form.getChild('abbr') %}
                {% set countryCode = form.getChild('country_code') %}

                {{ render_contactNumber_widget() | raw }}
                <input id="{{ number.vars.id }}" name="{{ number.vars.full_name }}"  type="text" class="span12 numberSelector" value="{{ form.vars.value.number | length ? form.vars.value.number : '+63' }}" data-type="number" maxlength="15"/>
                <input id="{{ abbr.vars.id }}" name="{{ abbr.vars.full_name }}" type="hidden"  value="{{ form.vars.value.abbr ? form.vars.value.abbr : 'ph' }}" data-type="abbr">
                <input id="{{ countryCode.vars.id }}" name="{{ countryCode.vars.full_name }}" type="hidden" value="{{ form.vars.value.countryCode ? form.vars.value.countryCode : '+63' }}">
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    (function($){
        $(function(){
            $('#{{ number.vars.id }}').change(function(){

                selected = $(this).parent().find('.flag-selector-widget:first > .flag-list > li.selected:first');
                    $('#{{ abbr.vars.id }}').val(selected.attr('data-abbr'));
                    $('#{{ countryCode.vars.id }}').val(selected.attr('data-code'));
            });
        });
    })(jQuery);
    </script>
    {% endspaceless %}
{% endblock %}

{% block contact_number_widget %}
    {% spaceless %}
        <div>
            <div style="display:inline-block;">
                <label style="font-size: 85%;">Country Code</label>
                <input style="width: 56px;" type="text" value="{{ form.vars.value.country_code }}" name="{{ form.vars.full_name ~ '[country_code]' }}" >
            </div>
            <div style="display:inline-block; margin-left:30px;" >
                <label style="font-size: 85%;">Area Code</label>
                <input  style="width: 56px;" type="text" value="{{ form.vars.value.area_code }}" name="{{ form.vars.full_name ~ '[area_code]' }}" >
            </div>
            <div style="display:inline-block; margin-left:30px;">
                <label style="font-size: 85%;">Phone Number</label>
                <input type="text" value="{{ form.vars.value.number }}" name="{{ form.vars.full_name ~ '[number]' }}"  >
            </div>
        </div>
        <div class="clearfix"></div>
    {% endspaceless %}
{% endblock %}

{% block contact_detail_widget %}
    {% spaceless %}
    
    <div>
        {# contact_label_type(form.vars.value.type) #}
        <label for="Phone Number">{{ form.vars.value.type is defined and form.vars.value.type == 2 ? 'Mobile Number' : 'Phone Number'  }}</label>
        <div class="hca-countrycodes">
            <div class="input-prepend">
                {% set phone = form.vars.id ~ '_number' %}
                  {# append numberSelector to class attribute#}
                <input type="text" class="span9 numberSelector" required value="{{ form.vars.value.number | length ? form.vars.value.number : '+63' }}" name="{{ form.vars.full_name ~ '[number]' }}" data-type="phone" id="{{ form.vars.id ~ '_number' }}" maxlength="15"/>
                <input type="hidden" name="{{ form.vars.full_name ~ '[abbr]' }}" value="{{ form.vars.value.abbr ? form.vars.value.abbr : 'ph' }}"  id="{{ form.vars.id ~ '_abbr' }}">
                <input type="hidden" name="{{ form.vars.full_name ~ '[country_code]' }}" value="{{ form.vars.value.countryCode ? form.vars.value.countryCode : '+63' }}"  id="{{ form.vars.id ~ '_country_code' }}">
            </div>
        </div>
    </div>
    
    {% endspaceless %}
{% endblock %}

{% block social_media_sites_custom_field_widget %}
    {% spaceless %}
        <div class="control-group social-media">
            <label for="{{ form.vars.full_name ~ '[facebook]' }}">Facebook</label>
            <input type="text" value="{{ form.vars.value.facebook }}" name="{{ form.vars.full_name ~ '[facebook]' }}" class="span7 pull-right">
            <i class="icon-facebook icon-2x"></i> <span class="pull-right">https://facebook.com/</span>
            <label for="{{ form.vars.full_name ~ '[twitter]' }}">Twitter</label>
            <input type="text" value="{{ form.vars.value.twitter }}" name="{{ form.vars.full_name ~ '[twitter]' }}" class="span7 pull-right">
            <i class="icon-twitter icon-2x pull-left"></i><span class="pull-right">https://twitter.com/</span>
            <label for="{{ form.vars.full_name ~ '[googleplus]' }}">Google +</label>
            <input type="text" value="{{ form.vars.value.googleplus }}" name="{{ form.vars.full_name ~ '[googleplus]' }}" class="span7 pull-right">
            <i class="icon-google-plus icon-2x"></i><span class="pull-right">https://plus.google.com/</span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block detailed_street_address_widget %}
    {% spaceless %}

        {% set elemIdPrefix = form.parent.vars.name ~ '_' ~ form.vars.name %}
        <div class=" terms">
            <div class="span4">
                <div class="control-group">
                    <label for="Unit/Room">Unit/Room # <small>(Optional)</small></label>
                    <input type="text" value="{{ form.vars.value.room_number }}" name="{{ form.vars.full_name ~ '[room_number]' }}" id="{{ elemIdPrefix }}_roomNumber" class="span12 addressFields">
               </div>
            </div>
                <div class="span8">
                    <div class="control-group">
                    <label for="Building Name">Building Name <small>(Optional)</small></label>
                    <input type="text" value="{{ form.vars.value.building }}" name="{{ form.vars.full_name ~ '[building]' }}" id="{{ elemIdPrefix }}_building" class="span12 addressFields">
                </div>
            </div>
        </div>
        <div class="{{form.vars.name}} control-group row-field {{ (form.vars.valid ? '' : 'error') }}">
            <label for="{{ form.vars.full_name ~ '[street]' }}">Street Address *</label>
            <input class="span12 addressFields" required type="text" value="{{ form.vars.value.street }}" name="{{ form.vars.full_name ~ '[street]' }}" id="{{ elemIdPrefix }}_street">
            {% if errors%}
            <ul>
                {% for error in errors %}
                   <li> {{ error.message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    {% endspaceless %}
{% endblock %}

{% block institutionServices_list_widget %}
    {% spaceless %}
    {% if centers %}
        {% set selected = get_selected_medicalCenterServices(form.parent.vars.value) %}
    {% else %}
        {% set selected = get_selected_AnciliaryServices(form.parent.vars.value) %}
    {% endif %}
    <ul class="services-listing">
        {% for choice in form.vars.choices %}
             <li>
                <input type="checkbox" id="{{ form.vars.full_name ~ choice.value }}" name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" {% if selected[choice.value] is defined %} checked {% endif %}>
                <label for="{{ form.vars.full_name ~ choice.value }}"> {{ choice.label }}</label>
            </li>
        {% endfor %}
    </ul>
    {% endspaceless %}
{% endblock %}

{% block doctorSpecializations_list_widget %}
    {% spaceless %}


    {# this is temporary #}
    {% set treatments = { 1: 'Treatment 1', 2: 'Treatment 2', 3: 'Treatment 3' } %}
    {% set specializations = form.vars.data %}

    <ul class="specializations-listing">
        {% for choice in form.vars.choices %}
        <li>
            <label style="font-weight:normal">
                <input type="checkbox" {% if choice.data in specializations %}checked{% endif %} name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}" />{{ choice.label }}
            </label>
        </li>
        {% endfor %}
    </ul>

    {% endspaceless %}
{% endblock %}

<!-- Media File for Admin -->
{% block admin_media_file_widget %}

    {% spaceless %}
        {% set property_name = property_name is defined ? property_name : 'media' %}        
        {% set media = attribute(form.parent.vars.value, property_name) %}
        {% set className = lcfirst(getClass(form.parent.vars.value, true)) %}
        {% if imageSize is not defined %}
            {% set imageSize = '' %} 
        {% endif %}

        {% if media %}
            <img src="{{ media_src(media, className, imageSize) }}" style="max-width: 220px;padding: 2px; border: 1px solid #ddd">
            {% set mediaFileInput = '<input type="file" required="required" value="' ~ form.vars.value ~'" name="' ~ form.vars.full_name ~ '" id="' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '">' %}

            {% set params = json_encode({mediaId: media.id, mediaContext: className, imageType: imageType}) %}

            <a href="javascript:void(0)" data-uri="{{ path('admin_media_ajaxDelete') }}" class="admin-remove-media" data-params="{{ params }}" data-input-file="{{ mediaFileInput }}" style="margin-left: 10px">remove</a>

            {# Load Js #}
            {{ render_media_file_script() | raw }}

        {% else %}
            <input type="file" required="required" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" id="{{ form.parent.vars.name ~ '_' ~ form.vars.name }}">
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block institutionGlobalAwards_list_widget %}
    {% spaceless %}
    {% if centers %}
        {% set selected = get_selected_medicalCenterGlobalAwards(form.parent.vars.value) %}
    {% else %}
        {% set selected = get_selected_GlobalAwards(form.parent.vars.value) %}
    {% endif%}
            {% for key,typeChoice in form.vars.choices %}
                <h3 class="awards-heading">{{key | capitalize }}s</h3>
                <div class="awards-listing" id="listing-{{key}}">
                    <ul class="unstyled">
                         {% for choice in typeChoice %}
                            <li >
                                 <input type="checkbox" id="{{ form.vars.full_name ~ choice.value }}" name="{{ form.vars.full_name ~ '[]' }}" value="{{ choice.value }}"  {% if selected[choice.value] is defined %} class="old" checked {% endif %}>
                                 <label for="{{ form.vars.full_name ~ choice.value }}">{{ choice.label | raw }} </label>
                            </li>
                        {% endfor %}
                    </ul>
                 </div>
            {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block fancy_country_widget %}
    {% spaceless %}
   
        <div class="fancy-country-wrapper">
            {% set cityField = form.parent.vars.value.city is defined ? form.parent.vars.value.city : false %}
            {% set city = cityField ? form.parent.vars.value.city.id : 0 %}
            {% set country = form.parent.vars.value.country.name is defined ? form.parent.vars.value.country.name : '' %}            
            {% set elemId = form.parent.vars.name ~ '_' ~ form.vars.name %}
            <input type="hidden" id="{{ elemId }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}">
            <input required="required" type="text" id="input-{{ elemId }}" placeholder="Select Country" data-autocomplete-trigger=".show_list_btn" {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %}> 
            <button class="btn hca-location-btn show_list_btn" type="button">
                <span class="icon-chevron-down"></span>
            </button>
            <div class="combolist-wrapper"></div>

            {% set jsFiles = [asset('bundles/helper/js/fancy_autocomplete.js'), asset('bundles/helper/js/Location.js')] %}
            {{ include_js_files(jsFiles) | raw }}

            <!-- TODO: Need to move and improve js implementation -->
            <script type="text/javascript">
            (function($){
                $(function(){
                    var _inputElem = $('#input-{{ elemId }}');
                	var _valueContainer = $('#{{ elemId }}');
                	var _currentValue = _valueContainer.val();

                    {% if cityField is not sameas(false) %}
                        var _currentCity = '{{ city }}';
                    	Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
                    	if('{{ country }}' != '') {
                            Location.loadCities(_valueContainer, _currentCity);
                        }
                    {% endif %}


                	_inputElem.fancyAutocomplete({
                        source: window.JSON.parse('{{ countries | raw }}'),
                        maxItems: 0,
                        valueContainer:  _valueContainer,
                        autocomplete: {minLength: 0},
                        onAutocompleteSelectCallback: function(){
                        	{% if cityField is not sameas(false) %}
                                Location.loadCities( _valueContainer, _currentCity);
                            {% endif %}
                        	_inputElem.data('fancyAutocomplete');
                        }
                    });
            
                    _inputElem.val('{{ country }}');
                    _valueContainer.val(_currentValue);
                });
            })(jQuery);
            </script>

        </div>
    {% endspaceless %}
{% endblock %}    

{% block custom_select_widget %}
    {% spaceless %}
        {% set elemId = form.parent.vars.name ~ '_' ~ form.vars.name %}
        {% set empty_value = empty_value is defined and empty_value is not none ? empty_value|trans : '' %}
        <div class="custom-select span">
            <input type="hidden" name="{{ form.vars.full_name }}" id="{{ elemId }}" value="{{ form.vars.data }}" data-elem="value">
            <input type="text" {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %} id="input-{{ elemId }}" {% if choices[form.vars.data] is defined %} value="{{ choices[form.vars.data] }}" {% endif %} {% if choices|length == 0 %} disabled {% endif %} placeholder="{{ empty_value }}" readonly data-elem="input">
            <button type="button" class="btn" id="btn-{{ elemId }}" data-elem="btn"><span class="icon-chevron-down"></span></button>
            <ul id="select-{{ elemId }}" class="custom-select-list" data-elem="list">
                {% if choices|length and empty_value %}
               {# <li class="custom-select-item" data-value="">{{ empty_value }}</li> #} {# temporary comment out #} 
                {% endif %}
                {% for value, label in choices %}
                    <li class="custom-select-item" data-value="{{ value }}">{{ label }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock %}    