{% block contact_number_widget %}
    {% spaceless %}
    
        <div>
            <div style="display:inline-block;">
                <label style="font-size: 85%;">Country Code</label>
                <input style="width: 56px;" type="text" value="{{ form.vars.value.country_code }}" name="{{ form.vars.full_name ~ '[country_code]' }}" />
            </div>
            <div style="display:inline-block; margin-left:30px;" >
                <label style="font-size: 85%;">Area Code</label>
                <input  style="width: 56px;" type="text" value="{{ form.vars.value.area_code }}" name="{{ form.vars.full_name ~ '[area_code]' }}"  />
            </div>
            <div style="display:inline-block; margin-left:30px;">
                <label style="font-size: 85%;">Phone Number</label>
                <input type="text" value="{{ form.vars.value.number }}" name="{{ form.vars.full_name ~ '[number]' }}"  />
            </div>
        </div>
        <div class="clearfix"></div>
    
    {% endspaceless %}
{% endblock %}

{% block websites_custom_field_widget %}
    {% spaceless %}
    
        <div>
                <label >Institution Website</label>
                <input type="text" value="{{ form.vars.value.main }}" name="{{ form.vars.full_name ~ '[main]' }}" />
       
                <label >Facebook Account</label>
                <input type="text" value="{{ form.vars.value.facebook }}" name="{{ form.vars.full_name ~ '[facebook]' }}"  />
         
                <label >Twitter Account</label>
                <input type="text" value="{{ form.vars.value.twitter }}" name="{{ form.vars.full_name ~ '[twitter]' }}"  />
            
        </div>
        <div class="clearfix"></div>
    
    {% endspaceless %}
{% endblock %}

{% block detailed_street_address_widget %}
    {% spaceless %}
    <div>
        <span >
            <label>Unit or Room #</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.room_number }}" name="{{ form.vars.full_name ~ '[room_number]' }}" id="institution_profile_form_roomNumber" />
        </span>
       </div>
    <div class="address3">
        <span >
            <label>Building</label>
            <input  class="addressFields" type="text"  value="{{ form.vars.value.building }}" name="{{ form.vars.full_name ~ '[building]' }}" id="institution_profile_form_building" />
        </span>
    </div>
   	<div class="address">
            <label>Street</label>
            <input class="addressFields" type="text" value="{{ form.vars.value.street }}" name="{{ form.vars.full_name ~ '[street]' }}" id="institution_profile_form_steet" />
    </div>
    <div class="clearfix"></div>
    {% endspaceless %}
{% endblock %}

<!-- Media File for Admin -->
{% block admin_media_file_widget %}
    {% set fieldName = fieldName is defined ? fieldName : 'media' %}
    {% spaceless %}

        {% set mediaParentObject = form.parent.vars.data %}
        {% if fieldName == 'media' %} 
            {% set mediaObject = mediaParentObject.media %}
        {% elseif fieldName == 'logo' %}
            {% set mediaObject = mediaParentObject.logo %} 
        {% endif %}
        
        {% if mediaObject %} 
            {{ media(mediaObject, mediaParentObject, 'default', {width: '220', style: "border:1px solid #ddd"}) | raw }}
            {% set mediaFileInput = '<input type="file" required="required" value="' ~ form.vars.value ~'" name="' ~ form.vars.full_name ~ '" id="' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '">' %}

            {% set deleteImageUrl = path('admin_media_ajaxDelete', {media_id: mediaObject.id}) %}

            <a href="{{ deleteImageUrl }}" onclick="adminRemoveMedia($(this))" style="margin-left: 10px">remove</a>

            <script style="text/javascript">
                function adminRemoveMedia(elem) {
                    var url = elem.attr('href');
                    elem.attr('href', 'javascript:void(0)').html('removing image...');

                    var params = {   
                        field_name: '{{ fieldName }}', 
                        parent_id: {{ mediaParentObject.id }},
                        parent_class : '{{ add_slashes(getClass(mediaParentObject)) }}',
                        remove_file: true
                    };


                	$.post(url, params, function(response){
                    	if(response) {
                        	elem.prev().fadeOut(function(){
                            	elem.hide();
                            	$('{{ mediaFileInput | raw }}').insertAfter(elem);
                        	});
                        } else {
                            elem.html('remove');
                            alert('Unable to remove image.');                            
                        }

                        elem.attr('href', url);
                    });

                    return;
                }
            </script>
        {% else %}
            <input type="file" required="required" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" id="{{ form.parent.vars.name ~ '_' ~ form.vars.name }}">
        {% endif %}

    {% endspaceless %}
{% endblock %}

<!-- Media File for Institution -->
{% block institution_media_file_widget %}
    {% set fieldName = fieldName is defined ? fieldName : 'media' %}
    {% spaceless %}

        {% set mediaParentObject = form.parent.vars.data %}
        {% if fieldName == 'media' %} 
            {% set mediaObject = mediaParentObject.media %}
        {% elseif fieldName == 'logo' %}
            {% set mediaObject = mediaParentObject.logo %} 
        {% endif %}

        {% if mediaObject %} 
            {{ media(mediaObject, mediaParentObject, 'default', {width: '220', style: "border:1px solid #ddd"}) | raw }}
            {% set mediaFileInput = '<input type="file" required="required" value="' ~ form.vars.value ~'" name="' ~ form.vars.full_name ~ '" id="' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '">' %}

            {% set deleteImageUrl = path('admin_media_ajaxDelete', {
                media_id: mediaObject.id,  
                parent_id: mediaParentObject.id,
                parent_class: getClass(mediaParentObject),
            }) %}


            <a href="{{ deleteImageUrl }}" onclick="showFileInput($(this))" style="margin-left: 10px">remove</a>

            <script style="text/javascript">
                function showFileInput(elem) {
                	elem.prev().fadeOut(function(){
                    	elem.hide();
                    	$('{{ mediaFileInput | raw }}').insertAfter(elem);
                	});
                }
            </script>
        {% else %}
            <input type="file" required="required" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}" id="{{ form.parent.vars.name ~ '_' ~ form.vars.name }}">
        {% endif %}

    {% endspaceless %}
{% endblock %}