{% block fancy_country_widget %}
    {% spaceless %}
        {% set valueContainerId = form.vars.id %}
        {% set widgetId = form.vars.id~'_widget' %}
        {% set triggerId = form.vars.id~'_trigger'%}
        <div class="fancy-country-wrapper">
            <input type="hidden" id="{{ valueContainerId }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" />
            <input required="required" type="text" id="{{ widgetId }}" placeholder="Select Country" data-autocomplete-trigger="#{{ triggerId }}" {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %}> 
            <button id="{{ triggerId }}" class="btn hca-location-btn show_list_btn" type="button">
                <span class="icon-chevron-down"></span>
            </button>
            <div class="combolist-wrapper"></div>

            {% set jsFiles = [asset('bundles/helper/js/fancy_autocomplete.js'), asset('bundles/helper/js/Location.js')] %}
            {{ include_js_files(jsFiles) | raw }}

            <!-- TODO: Need to move and improve js implementation -->
            <script type="text/javascript">
            (function($){
                $(function(){
                    var _inputElem = $('#{{ widgetId }}')
                	var _valueContainer = $('#{{ valueContainerId }}');
                	_inputElem.fancyAutocomplete({
                        source: window.JSON.parse('{{ countries | raw }}'),
                        maxItems: 0,
                        valueContainer:  _valueContainer,
                        autocomplete: {minLength: 0},
                        onAutocompleteSelectCallback: function(widget){
                            widget.trigger('selectedCountry');
                        }
                    });
                    
                });
            })(jQuery);
            </script>

        </div>
    {% endspaceless %}
{% endblock %}

{% block city_list_widget %}
    
    {% spaceless %}
        {% set empty_value = empty_value is defined and empty_value is not none ? empty_value|trans : '' %}
        {% set elemId = form.parent.vars.name ~ '_' ~ form.vars.name %}
        <div class="fancy-country-wrapper">
            <input id="{{ elemId }}" type="hidden" name="{{ form.vars.full_name }}"  value="{{ form.vars.data }}" data-elem="value">
            <input data-autocomplete-trigger=".show_list_btn" id="input-{{ elemId }}" type="text" {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %}   placeholder="{{ empty_value }}" data-elem="input" disabled="disabled" >
            <button type="button" class="btn show_list_btn" data-elem="btn"><span class="icon-chevron-down"></span></button>
            <div class="combolist-wrapper"></div>
            
        </div>
        
        
        <!-- TODO: Need to move and improve js implementation -->
        <script type="text/javascript">
        (function($){
            $(function(){
                var _inputElem = $('#input-{{ elemId }}');
                var _valueContainer = $('#{{ elemId }}');
                _inputElem.fancyAutocomplete({
                    source: [],
                    maxItems: 0,
                    valueContainer:  _valueContainer,
                    autocomplete: {minLength: 0}
                });
            });
        })(jQuery);
        </script>
    {% endspaceless %}
{% endblock %}


{% block state_list_widget %}
    
    {% spaceless %}
        {% set valueContainerId = form.vars.id %}
        {% set widgetId = form.vars.id~'_widget' %}
        {% set triggerId = form.vars.id~'_trigger'%}
        
        <div class="fancy-country-wrapper fancy-autocomplete-wrapper">
            <input id="{{ valueContainerId }}" type="hidden" name="{{ form.vars.full_name }}"  value="{{ form.vars.data }}" data-elem="value">
            <input id="{{ widgetId }}" data-autocomplete-trigger="#{{ triggerId }}" type="text" {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %}   placeholder="{{ empty_value }}" data-elem="input" disabled="disabled" >
            <button id="{{ triggerId }}" type="button" class="btn show_list_btn" data-elem="btn"><span class="icon-chevron-down"></span></button>
            <div class="combolist-wrapper"></div>
        </div>
        
        
        <!-- TODO: Need to move and improve js implementation -->
        <script type="text/javascript">
        (function($){
            $(function(){
                var _inputElem = $('#{{ widgetId }}')
            	var _valueContainer = $('#{{ valueContainerId }}');
            	
            	
                _inputElem.fancyAutocomplete({
                    source: [],
                    maxItems: 0,
                    valueContainer:  _valueContainer,
                    autocomplete: {minLength: 0}
                });

                {% if form.parent.country %}
                    // state is dependent on country widget
                    var dependencyElement = $('#{{ form.parent.country.vars.id }}_widget');
                    dependencyElement.on('selectedCountry', function(e){
                        var fancyAutocomplete = $(e.target).data('fancyAutocomplete');
                        var countryValue = fancyAutocomplete.options.valueContainer.val();
                        Location.loadStatesOfCountry(countryValue,$(e.target), 0);
                    });
                {% endif %}
            });
        })(jQuery);
        </script>
    {% endspaceless %}
{% endblock %}