{% block simple_contact_detail_widget %}
    {% set _label = form.vars.value.type ? contact_label_type(form.vars.value.type) : null%}
    {% set _placeHolderText =  _label ? _label : 'Number' %}
    <div class="control-group hca-contact-number">
        {% if _label %}
            {{ form_label(form, _label, {label_attr: {class: 'control-label'}}) }}
        {% endif %}
        
            <div class="span3">
                <label><small>Country Code</small></label>
                {{ form_widget(form.country, {attr: {class: 'span12'}}) }}
            </div>
            <div class="span2">
                <label><small>Area Code</small></label>
                {{ form_widget(form.area_code, {attr: {class: 'span12'}}) }}
            </div>
            <div class="span5">
                <label><small>{{ _placeHolderText }}</small></label>
                {{ form_widget(form.number, {attr: {class: 'span12', placeholder: _placeHolderText }})}}
                
            </div>
            {% if (contact_detail_type_has_extension(form.vars.value.type))%}
            <div class="span1">
                <label><small>Ext.</small></label>
                {{ form_widget(form.ext, {attr: {class: 'span12', 'maxlength': '3'}})}}
            </div>
            {% endif %}
            {{ form_widget(form.type) }}
</div>
{% endblock %}

{% block country_code_list_widget %}
    {% spaceless %}
    <select {{ block('widget_attributes') }}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
            {{ choice.label|trans({}, translation_domain) }}
            </option>
        {% endfor %}
    </select>
    
    {% endspaceless %}
{% endblock %}