{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'gallery'} %}

{% block content %}   
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}

        {% block wrappedContent %}
            <h1>
                <i class="icon-picture"></i>Media Gallery
                <a href="#add-media" class="btn btn-primary btn-large pull-right" data-toggle="modal"><i class="icon-picture"></i>Add New Media</a>
            </h1>

            <div class="span12">

                {% if not isSingleCenter %}
                <label>
                    <b>Filter by Clinic: </b>
                    <select id="_clinic-filter">
                        <option value="">All</option>
                        {% for each in medicalCenters %}
                            <option value="{{ each.id }}" {{ app.request.get('medical-center-id') and app.request.get('medical-center-id') == each.id ? 'selected' : '' }}>{{ each.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                {% endif %}

                <table class="table table-hover hca-media">
                    <thead>
                        <tr>
                            <th>file</th>
                            <th>{% if not isSingleCenter %}Published In{% endif %}</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set thumbnail = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MINI') %}
                    {% for each in photos %}
                        {% set hasClinics = photosLinkedToMedicalCenter[each.id] is defined %}
                        <tr id="media-item-{{each.id}}">
                            <td>
                                <a class="fancybox large-thumbnail" rel="gallery" href="{{ institution_media_src(each) }}" title="{{ each.caption }}">
                                <img  class="pull-left thumbnail" style="width:55px;height:55px;border: 1px solid #eee;margin-right: 20px;" src="{{ institution_media_src(each, thumbnail) }}" alt="institution"> </a>
                                <h4 class="media-heading">{{ each.caption }}</h4>
                                <span class="type" style="margin:0">{{ each.content_type }}</span>
                            </td>
                            <td>
                            {% if not isSingleCenter %}
                                {% if hasClinics %}
                                    {% for centerId, centerName in photosLinkedToMedicalCenter[each.id] %}
                                        <p><i class="icon-medkit" style="position:relative;top:4px"></i><span class="clinic-name-{{ centerId }}" style="margin:0">{{ centerName }}</span></p> 
                                    {% endfor %}
                                {% else %}
                                    <p>Hospital only</p>
                                {% endif %}
                            {% endif %}
                            </td>
                            
                            <td>
                                <div class="btn-group">
                                    <a href="#edit-media-{{ each.id }}" class="btn btn-misc edit-media-btn" data-toggle="modal" style="color:#FE6500" data-medica-center-ids="{{ hasClinics ? json_encode(photosLinkedToMedicalCenter[each.id]) : [] }}" onclick="HCA.closeAlertMessage()"><i class="icon-edit"></i>edit</a>
                                    <a href="#delete-media" class="btn btn-misc delete-media" data-toggle="modal" style="color:#FE6500" data-media_id="{{ each.id }}" data-medica-center-ids="{{ hasClinics ? (photosLinkedToMedicalCenter[each.id]|keys)|join(',') : [] }}" onclick="HCA.closeAlertMessage()"><i class="icon-trash"></i>delete</a>
                                </div>

                                {% include 'InstitutionBundle:MediaGallery/Widgets:editModalForm.html.twig' with {media: each, selectedClinics: hasClinics ? photosLinkedToMedicalCenter[each.id] : [] } %}
                            </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="3">No media found.</td></tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            {% include 'InstitutionBundle:MediaGallery/Widgets:addModalForm.html.twig' %}
            {% include 'InstitutionBundle:MediaGallery/Widgets:deleteModal.html.twig' %}
            
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
<link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/jquery.fancybox.css?v=2.1.0') }}" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/jquery.fancybox.pack.js?v=2.1.0') }}"></script>

<script type="text/javascript">
(function($){
	var editFormElem;

    $('input.medical-center-checkbox').change(function() {
    	editFormElem = $(this).parents('form.edit-institution-media-form');
    	newMedicalCenterIds = [], removeMedicalCenterIds = [];
    	editFormElem.find('.medical-center-checkbox:not(.existing):checked').each(function(){
        	newMedicalCenterIds.push($(this).val());
        });

    	editFormElem.find('.medical-center-checkbox.existing:not(:checked)').each(function(){
        	removeMedicalCenterIds.push($(this).val());
        });

        editFormElem.find('input[name=new-medical-center-ids]').val(newMedicalCenterIds.join(','));
        editFormElem.find('input[name=remove-medical-center-ids]').val(removeMedicalCenterIds.join(','));
    });

    // Medial Gallery Lightbox
    $(".fancybox").fancybox({'autoDimensions': false, 'width': 350, 'height': 'auto', 'transitionIn': 'none'});

    $('#_clinic-filter').change(function(){
        var baseUrl = "{{ path('institution_mediaGallery_index') }}";
    	window.location = $(this).val() ? baseUrl + '?medical-center-id=' + $(this).val() : baseUrl;
    });
})(jQuery);
</script>
{% endblock %}