{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'gallery'} %}

{% block content %}   
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}

        {% block wrappedContent %}
            <h1>
                <i class="icon-picture"></i>Media Gallery
                <a href="#add-media" class="btn btn-primary btn-large pull-right" data-toggle="modal"><i class="icon-picture"></i>Add New Media</a>
            </h1>

            {% if institution.gallery and institution.gallery.media|length %}
                {% set gallery = institution.gallery %}
                <div class="span12">
                    <table class="table table-hover hca-media">
                        <thead>
                            <tr><th>file</th><th>Published In</th><th>actions</th></tr>
                        </thead>
                        <tbody>
                        {% set thumbnail = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MINI') %}
                        {% for each in gallery.media %}
                            {% set hasClinics = mediaClinics[each.id] is defined %}
                            <tr id="media-item-{{each.id}}">
                                <td>
                                    <img src="{{ institution_media_src(each, thumbnail) }}" alt="institution" class="pull-left" style="width:55px;height:55px;border: 1px solid #eee;margin-right: 20px;"/>
                                    <h4 class="media-heading">{{ each.caption }}</h4>
                                    <span class="type" style="margin:0">{{ each.contentType }}</span>
                                </td>
                                <td>
                                    {% if hasClinics %}
                                        {% for center in medicalCenters %}
                                            {% if center.id in mediaClinics[each.id] %}
                                            <p><i class="icon-medkit" style="position:relative;top:4px"></i><span class="clinic-name-{{ each.id }}" style="margin:0">{{ center.name }}</span></p>
                                            {% endif %} 
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#edit-media-{{ each.id }}" class="btn btn-misc edit-media-btn" data-toggle="modal" style="color:#FE6500" data-medica-center-ids="{{ hasClinics ? json_encode(mediaClinics[each.id]) : [] }}"><i class="icon-edit"></i>edit</a>
                                        <a href="#delete-media" class="btn btn-misc delete-media" data-toggle="modal" style="color:#FE6500" data-media_id="{{ each.id }}"><i class="icon-trash"></i>delete</a>
                                    </div>
                                    
                                    {% include 'InstitutionBundle:MediaGallery/Widgets:editModalForm.html.twig' with {media: each, selectedClinics: hasClinics ? mediaClinics[each.id] : [] } %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% include 'InstitutionBundle:MediaGallery/Widgets:addModalForm.html.twig' %}
            {% include 'InstitutionBundle:MediaGallery/Widgets:deleteModal.html.twig' %}
            
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
(function($){
	var editFormElem;
	var medicalCenterId = "{{ app.request.get('medical-center-id') }}";
    if(window.location.toString().indexOf('#add-media') !== -1 || medicalCenterId) {
    	$('#add-media').modal('show');
        $('input:checkbox[value='+medicalCenterId+']').attr('checked','checked');            
    }

    $('input.medical-center-checkbox').change(function() {
    	editFormElem = $(this).parents('form.edit-institution-media-form');
    	newMedicalCenterIds = [], removeMedicalCenterIds = [];
    	editFormElem.find('.medical-center-checkbox:not(.existing):checked').each(function(){
        	newMedicalCenterIds.push($(this).val());
        });

    	editFormElem.find('.medical-center-checkbox.existing:not(:checked)').each(function(){
        	removeMedicalCenterIds.push($(this).val());
        });

        editFormElem.find('input[name=new-medical-center-ids]').val(newMedicalCenterIds.join(','));
        editFormElem.find('input[name=remove-medical-center-ids]').val(removeMedicalCenterIds.join(','));
    });

})(jQuery);
</script>
{% endblock %}