
{% block body %}

	{% include '::notice.admin.html.twig' %}
	
	<form action="{{ path('InstitutionBundle_create_token') }}" method="POST" {{ form_enctype(form) }} class="user">
	    {{ form_errors(form) }}
	    <div class="body">
	        {{ form_widget(form) }}  
	        <p><input type="submit" value="Submit"></p>
	        {{ form_rest(form) }}
	    </div>
	</form>
{% endblock %}