{% extends '::base.html.twig' %}

{% block body %}
	<div id="content-wrapper">

		<h2>Listings</h2>
		<a style="display:inline-block;margin: 10px 0" href="{{ path('listing_add') }}">add new</a>
		{{ app.session.flash('notice') }}
		
		<div id="listings-wrapper" style="border: 1px solid #ddd; width: 50%">
		{% for listing in listings %}
			<div class="listings" style="border-bottom: 1px solid #efefef; margin: 10px;">
				{{ listing.title }}
				<div style="float:right">
				<a href="{{ path('listing_view', {id:listing.id}) }}">view</a> | 
				<a href="{{ path('listing_edit', {id:listing.id}) }}">edit</a> | 
				<a href="{{ path('listing_delete', {id:listing.id}) }}">delete</a>
				</div>

			</div>
		{% endfor %}
		</div>

	</div>
	
{% endblock %}