{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'settings'%}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
    	<h1>Admin user permissions</h1>
    </div>

    <!-- end page-heading -->
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}

            {% include '::notice.admin.html.twig' %}
            
            {% block related_tasks %}
                {% include 'AdminBundle:AdminUserRole:relatedTasks.html.twig' %}
            {% endblock %}

			<div id="table-content" style="width:70%">
			    <table class="table table-bordered sortable-list">
    				<tr>
    				    <th width="200" id="column-label"><a href="{{ app.request.uri }}" class="{{ 'sort-' ~ app.request.get('sortOrder', 'asc') }}">Permission</a></th>
    				    <th> <a href="#">Linked user types</a></th>
    				</tr>

    				{% for userRole in userRoles %}
				    <tr>
				        <td>{{ userRole.label | title }}</td>
				        <td>
				            <ul style="list-style:none; padding: 0 15px;">
    					        {% for userType in userRole.adminUserTypes %}
    					        <li> <a href="{{ path('admin_userRole_viewByUserType', {'id': userType.id}) }}">{{ userType.name | title }}</a></li>
    					        {% endfor %}
    					    </ul>
				        </td>
    				</tr>
    				{% endfor %}
				</table>
				<!--  end table-list................................... -->
				
				{% if pager.isPaginable %}
                    {{ paginate(pager, 'admin_userRole_index', app.request.query.all) }}
                {% endif %} 
			</div>
        {% endblock %}
    {% endembed %}
</div>
<!--  end content -->

{% endblock %}