<!-- tab "panes" -->		


	<div class="tabbed_content" style="display: block;">
			<ul class="blog_posts_widget">
				<li class="blog_post">
					<a href="#"><img src="{{ asset('images/frontend/demo/thumb.png') }}" alt="" class="alignleft"></a>
		   			<p><a href="#">Facebook making a phone that nobody wants?</a></p>
                    <span class="pw_time">December 01, 2011</span>
                </li>
				<li class="blog_post">
					<a href="#"><img src="{{ asset('images/frontend/demo/thumb.png') }}" alt="" class="alignleft"></a>
					<p><a href="#">Dual-core Meizu MX fully unveiled</a></p>
					<span class="pw_time">December 06, 2011</span>
				</li>
				<li class="blog_post">
					<a href="#"><img src="{{ asset('images/frontend/demo/thumb.png') }}" alt="" class="alignleft"></a>
					<p><a href="#">Ontarians pay highest car insurance in Canada</a></p>
					<span class="pw_time">December 06, 2011</span>
				</li>
				<li class="blog_post">
					<a href="#"><img src="{{ asset('images/frontend/demo/thumb.png') }}" alt="" class="alignleft"></a>
					<p><a href="#">Italian prime minister presents Û30 billion budget plan</a></p>
					<span class="pw_time">December 06, 2011</span>
				</li>
				<li class="blog_post">
					<a href="#"><img src="{{ asset('images/frontend/demo/thumb.png') }}" alt="" class="alignleft"></a>
					<p><a href="#">El Clasico: Real Madrid vs. Barcelona</a></p>
					<span class="pw_time">December 06, 2011</span>
				</li>
			</ul>
		</div> <!--Tabbed Content-->