<tr id="globalAwardRow_{{ property.id }}">
	<td>
	    <h5 class="award_name">{{ award.name }}</h5><small class="awarding_body_name"> {{ award.awardingBody.name }} </small>
    </td>
    <td class="yearAcquired">{{ property.extraValue }}</td>
    <td>
        <div class="post-toolbar treatment_action">
            <i class="icon-edit" title="Edit date acquired"></i>
            <a class="edit_global_award" href="{{ path('admin_institution_ajaxEditGlobalAward', {institutionId: institution.id} ) }}" data-propertyId="{{ property.id }}" data-label="{{ award.name }}" data-globalAwardId="{{ award.id }}" >
                <small>Edit</small>
            </a>
    		<i class="icon-trash" title="Delete"></i>
    		<a data-toggle="modal" data-id="{{ property.id }}" data-target="#institutionGlobalAwardModal"  onclick="$.GlobalAutocompleteAction.showCommonModalId(this); return false;" href="#">
            <small>Delete</small></a>
    	</div>
	</td>
</tr>