<div id="report" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
        <h3 id="myModalLabel">
            Submit Report
        </h3>
    </div>
    <form action="{{ path('frontend_page_exception_report_send') }}" method="POST" {{ form_enctype(form) }} class="basic-form">
        <div class="modal-body">
            <div class="alertContainer"></div>
            <label for="reportData">
                <strong>
                    What seems to be the problem?
                </strong>
            </label>
	            {{ form_errors(form) }} 
				{{ form_widget(form.details, { 'attr': {class: 'span12', cols: 30, rows: 10} })  }}
				
		        <div class="captcha control-group row-fluid" >
                    <label for="{{ feedbackForm.children.captcha.vars.id }}" class="span3 pull-left">
                        <strong>{{ feedbackForm.children.captcha.vars.label }}</strong>
                    </label>
                      {{ form_widget(feedbackForm.captcha) }}
                </div>
				{{ form_rest(form) }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> Cancel</button>
            <button data-loader-text="Sending..." class="btn orange" onclick="return ErrorReport.submitReportForm(this);">Send Now</button>
        </div>
	</form>
</div>