{% extends '::base.gmap.html.twig' %}
{% block body %}
<body onload="initialize()">
    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
    {% endblock %}
<div class="container">
	<div class="accountbox">
		<div class="row-fluid">
			<div class="medicalbox-big"><img src="{{ asset('images/institution/medical-clip.png') }}" alt="Medical Clip" longdesc="#"></div>
		
			<div class="accountbox2"><a href="index.html"><h1>HEALTHCARE ABROAD</h1></a>
				<h2 style="margin-top: 15px; ;">Institution Profile Form</h2>
				<p>In order to appear on our comprehensive MEDICAL DIRECTORY LISTING, please tell us more about your Institution (questions in grey are optional).</p>
				<h5>{{ institution.name() }} </h5>
				<h3>{{ institution.typeLabel() }}</h3>
			
			</div>	
			 <form novalidate="novalidate" action="{{ path('institution_accountProfile', {institutionId: institution.id }) }}" method="POST" class="basic-form">
	
				{{ form_errors(form) }}	
		  		<fieldset>
		  			<div class="span6">
		  				
		  				<h4>This how your patients can connect to you.</h4>
		  				
		  				<label for="institution name">Institution Site</label>
				
						<div class="input-prepend">
							<div id="institutionSite">
								<input type="text" name="websites[1][url]">					
								<input type="hidden" name="websites[1][type]" value="institutionSite">
							</div>
						</div>
		  	
		  				{{ form_row( form.contactEmail ) }}
  				
						<label for="institution name">Institution Phone Number</label>
					
							<div class="input-prepend">
								<div id="phone">
									<input type="text" size="3" maxlength="3" class="span2" name="contactNumber[1][area]">
									<input type="text" size="4" maxlength="6" class="span7" name="contactNumber[1][number]">
									<input type="hidden" name="contactNumber[1][type]" value="phone">
								</div>
							</div>
					
						<label for="institution name">Institution Fax Number</label>
						
							<div class="input-prepend">
								<div id="fax">
									<input type="text" size="3" maxlength="3"  class="span2" name="contactNumber[2][area]">
									<input type="text" size="4" maxlength="6"  class="span7" name="contactNumber[2][number]">
									<input type="hidden" name="contactNumber[2][type]" value="fax">
								</div>
							</div>
							
						<label for="institution Facebook">Facebook</label>
					
							<div class="input-prepend">
								<div id="facebook">
									<input type="text" name="websites[2][url]">					
									<input type="hidden" name="websites[2][type]" value="facebook">
								</div>
							</div>
							
						<label for="institution Twitter">Twitter</label>
					
							<div class="input-prepend">
								<div id="facebook">
									<input type="text" name="websites[3][url]">					
									<input type="hidden" name="websites[3][type]" value="twitter">
								</div>
							</div>
		  			</div>
		  				
	  				<div class="span6">
		  				<h4>This how your patients can locate you.</h4>
	
		  				<div class="map" >
		  					<div id="map_canvas" style="width:384px; height:375px"></div>
		  					
		  				</div>
		  				
		  				<input type="button" name="ctl00$PlaceHolderMain$btnLegislatorNum" value="Find My District" onclick="codeAddress()">
	  		   		    {{ form_row(form.country) }}
		                {{ form_row( form.city ) }}
		  		   		{{ form_row( form.address1 ) }}   
		  		   		{{ form_row( form.state ) }}               
		  			    {{ form_row( form.zipCode ) }}
			  			<input type="hidden" id="institutionDetail_coordinates" name="institutionDetail2[coordinates]" value="">
		  			 
		  			</div>

		  		</fieldset>
          			{{ form_rest(form) }}
		  		<div class="span11"><input type="submit" name="submit" value="SUBMIT" class="btn-large btn-primary"/></div>
		  		</form>		  
		</div>
	</div>
</div>
<div class="container">
	<br/>
	<hr>
	<footer>
		<p>&copy; Chromedia Far East Inc. <a href="#">www.HealthCareAbroad.com</a>. All rights reserved.</p>
	</footer>
</div>


</body>
	{% endblock %}

	