{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <div class="span12">    
            <h2></h2>
            {% include 'InstitutionBundle:Institution:steps.afterSpecialization.singleCenter.html.twig' %}
            <form method="POST" class="span12" >
                {{ form_errors(form) }}
            
                <fieldset title="3" class="step" id="formwizard-step-3">
                    <legend>Please check services offered by your Medical Institution</legend>
                    <div class="span9 marginleft0" style="min-height:500px">
                        {{ form_row(form.value) }}
                        {{ form_rest(form) }}
                    </div>
                    <!-- TODO: this sidebar should not be part of the form. Let the ui-team fix this -->
                    <div class="span3">
                        {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <p id="formwizard-buttons-0" class="formwizard-buttons">
                        <a id="submit_button_link" class="button-next btn-medium btn btn-info" href="#">Next</a>
                    </p>
                </fieldset>
            </form>
            
        </div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
 
{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script src="{{ asset('js/jquery/timepicker.js') }}"></script>
<script src="{{ asset('js/jquery/globalize.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
<script type="text/javascript">    
<!--
(function($){
	$(function(){
        $('#submit_button_link').click(function(){
        	var offeredServicesData = getOfferedServicesChecked();
            var urlData = '{{ formAction|raw }}';
        	$.ajax({
		        url: urlData,
		        data: { 'offeredServicesData': offeredServicesData },
		        type: 'post',
		        success: function(){
		        	alert('done');
		        }
	        });
	        
	        return false;
        });
    });

    function getOfferedServicesChecked()
    {
    	var selected = new Array();
    	$('#institution_property_type_custom_form_value input:checked').each(function() {
    	    selected.push($(this).attr('value'));
    	});
    	
    	return selected;
    }
})(jQuery);
//-->
       
</script>
{% endblock %}