{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'medical_centers'} %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}

       <div class="span12">
        	<h1><span>Create New Clinic Listing</span></h1>
        	<ul class="navstep nav-steps">
        		<li class="active"><a href="#"><h2>1</h2><span>Clinic Details</span></a></li>
        		<li><a href="#"><h2>2</h2><span>Specializations and Treatments</span></a></li>
        		<li><a href="#"><h2>3</h2><span>Services</span></a></li>
        		<li><a href="#"><h2>4</h2><span>Awards, Certifications and Affiliations</span></a></li>
        		<li><a href="#"><h2>5</h2><span>Medical Specialist</span></a></li>
        	</ul>
        </div><!--End of span12-->
        <div class="addnewclinic">
        	<div class="span9">
        	 {% include '::notice.admin.html.twig' %}
        		<form novalidate="novalidate" action="{{ path('institution_medicalCenter_add', { 'institutionId':institution.id}) }}" method="POST" {{ form_enctype(form) }} class="basic-form">        
                    {{ form_errors(form) }}   
        
                    {{ form_row(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.contactEmail) }}
                    
                    {{ form_row(form.contactNumber) }}
                    {{ form_widget(form.address) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.zipCode) }}
                    {{ form_row(form.state) }}
                    {{ form_row(form.timeZone) }}
                        {{ form_label(form.businessHours) }}
                        {% include 'InstitutionBundle:Widgets:medicalCenter.businessHours.html.twig' %}
                    {{ form_rest(form) }}
                                        	                        	
                	<div class="clear"><br></div>
                	<input type="submit" name="submit" value="NEXT" class="btn btn-large btn-primary" />
                </form>
        	</div>

        </div>
        {% endblock %}
        
    {% endembed %}

 {% block inlineJavascriptCode %}
        <script src="{{ asset('js/jquery/timepicker.js') }}"></script>
    	<script src="{{ asset('js/jquery/globalize.js') }}"></script>
    	<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
        <script>
        
            $(function() {
    	    	$(".hour").timepicker({ seconds: false});
    	    	$('input.is_closed_checkbox').each(function(){
    			    if(this.checked) {
    			    	$(this).parent().parent().find('.hour').val("");
    			    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    				}
    			});
    	    });
            $('input.is_closed_checkbox').change(function(){
                if(this.checked) {
                    $(this).parent().parent().find('.hour').val("");
                	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
            	}
                else 
                {
                	$(this).parent().parent().find('.hour').val("8:00 AM");
                	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
                }
               
            });
        	
        </script>
    {% endblock %}
{% endblock %}