{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <div class="span12">    
            <h2></h2>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' with {activeStep: 'medical_specialists'} %}
            <form method="POST" class="span12" >
                {{ form_errors(form) }}
            
                <fieldset title="4" class="step" id="formwizard-step-4">
                    <legend>Search and Add your Medical Specialist</legend>
                    <div class="span9 marginleft0" style="min-height:500px">
                    
                        {{ form_row(form.firstName) }}
                        <div><div id="institutionSearch" ></div></div>
                        {{ form_row(form.id) }}
                        {{ form_rest(form) }}
                        <div>             			
             				<div id="tags">
             				
                			</div>
                		</div>
                    </div>
                    
                    <!-- TODO: this sidebar should not be part of the form. Let the ui-team fix this -->
                    <div class="span3">
                        {# include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' #}
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    
                    <p id="formwizard-buttons-0" class="formwizard-buttons">
                        <a id="submit_button_link" class="button-next btn-medium btn btn-info" href="#">Next</a>
                    </p>
                </fieldset>
            </form>
            
        </div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
 
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/helper/js/DoctorAutocomplete.js') }}"></script>
	<script type="text/javascript">

		$(function() {
			var availableDoctors = $.parseJSON('{{ doctorsJSON | raw}}');
			var inputHiddenField = "#institutionDoctorSearch_id";
			var inputAutoDoctor = "#institutionDoctorSearch_firstName";
			var selectedTags = [];
	
        	var params = {
                	availableTags: availableDoctors,
                	selectedTags : selectedTags,
                	inputHiddenField :inputHiddenField,
                	inputAutoDoctor :inputAutoDoctor
        		};
        	DoctorAuto.init(params);

		});

		</script>	
{% endblock %}