{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

{% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
    with {'contentSpanClass' : 'span12' } %}
    {% block wrappedContent %}

		<div class="span12">
			<h2>Institution Name</h3>
				<p>Type of Institution:
					<strong>Hospital with many Clinic / Centers</strong>
				</p>
				  <h2>{{ institution.name }}</h3>
                {% if institutionTypeLabel is defined %}
                <p>Type of Institution:
					<strong>{{ institutionTypeLabel }}</strong>
				</p>
                {% endif %}
				
		</div><!--End of span12-->
		<div class="maincontent2">
			<form class="form" method="post" action="#" id="ContactForm">
				<div class="span6">
				 {{ form_errors(form) }}
                    <fieldset>
                        <div>
                            <label for="institution_website">Institution website</label>
                            <input type="text" class="institution_website span11" value="{{ form.websites.vars.value.main }}" name="{{ form.websites.vars.full_name ~ '[main]' }}">
                        </div>
                        {{ form_row(form.contactEmail, {attr: {class:'span9'} } ) }}
                        {{ form_row(form.contactNumber) }}
                        {{ form_widget(form.websites) }}
                       
                    </fieldset>
                    {# form_rest(form) #}
				</div><!--End of span6-->
				<div class="span6">
                        <div class="mapbox">Map Here</div>
                        <div class="address3">
                            {{ form_row(form.country)}}
                            {{ form_row(form.state, {attr: {class:'span12'}} )}}
                        </div>
                        <div class="address3">
                            {{ form_label(form.city)}}
                            {{ form_widget(form.city )}}
                            {{ form_errors(form.city) }}
                        
                            {{ form_label(form.zipCode)}}
                            {{ form_widget(form.zipCode, {label: 'Zip/Mail Code', attr: {class: 'span12'} } )}}
                            {{ form_errors(form.zipCode) }}
                        </div>
                        <div class="address">
                            {{ form_widget(form.address1) }}
                        </div>
                       <div class="pull-right">
                            <input type="submit" class="btn btn-large btn-primary" value="Submit" />
                        </div>
                        
				</div><!--End of span6-->
			</form>
		</div>
		<!--End of maincontent-->

    {% endblock %}
    
    {% endembed %}

{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    
    $(function(){        
        Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
        $('select.country_dropdown').change();
        $('a#submit_button_link').click(function(){

            $('#form_save_institution').submit();
            
            return false;
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}

