{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <div class="span12">    
            <div class="aside">
                <h4>Welcome!</h4>
                <p>
                    Please tell us more about your clinic.
                </p>
            </div>
            
            <h2>Create New Medical Listing</h2>
            {% include 'InstitutionBundle:Institution:steps.afterRegistration.singleCenter.html.twig' %}
            
            <form id="form_save_institution" class="span12" action="{{ path('institution_signup_complete_profile') }}" method="post">
                
                {{ form_errors(form) }}
            
                <fieldset title="1" class="step" id="formwizard-step-0">
                    <legend>Clinic Details</legend>
                    <div class="span9 marginleft0" style="min-height:500px">
                        {{ form_row(form.name, {label: 'Clinic Name', attr: {'class': 'span7'}} ) }}
                        
                        <div>
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {label:'Short Description about the Clinic', attr: {'class': 'span8', rows: 5, cols: 60} } ) }}
                            <small class="pull-left">Having difficulties in writing your Clinic Description. <a href="#">CLICK HERE</a> for some sample to look at.</small>
                            {{ form_errors(form.description) }}
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        {{ form_row(form.contactEmail, {label: 'Email', attr: {'class': 'span6'}} ) }}
                        {{ form_row(form.contactNumber) }}
                        {{ form_row(form.websites) }}
                        
                        <div class="clearfix"></div>
                        <hr />
                        <h4>Clinic Address</h4>
                        
                        {{ form_row(form.address1) }}
                        
                        <div class="addresscity">
                            <span class="span3 marginleft0">
                                {{ form_label(form.country) }}
                                {{ form_widget(form.country, {attr: {class: 'country_dropdown span3'} } )}}
                                {{ form_errors(form.country) }}
                            </span> 
                            <span class="span3">
                                {{ form_label(form.city)}}
                                {{ form_widget(form.city, {label: 'City', attr: {class: 'city_dropdown span3'} } )}}
                                {{ form_errors(form.city) }}
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="span3 marginleft0">
                            {{ form_label(form.state) }}
                            {{ form_widget(form.state, { attr: {class: 'span3'} } )}}
                            {{ form_errors(form.state) }}
                        </div>
                        <div class="span3">
                            {{ form_label(form.zipCode)}}
                            {{ form_widget(form.zipCode, {label: 'Zip/Mail Code', attr: {class: 'span3'} } )}}
                            {{ form_errors(form.zipCode) }}
                        </div>
                        <div class="clearfix"></div>
                    
                        <hr />
                        <input type="checkbox" name="businessHourCheckBox" id="businessHourCheckBox" >
                        <span>I have no business hours</span>
                        <div id="clinicHours">
                            <label for="Timezone">Clinic Hours</label>
                            {% include 'InstitutionBundle:Widgets:medicalCenter.businessHours.html.twig' %}
                        </div>
                    </div>
                    
                    <!-- TODO: this sidebar should not be part of the form. Let the ui-team fix this -->
                    <div class="span3">
                        {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    
                    <p id="formwizard-buttons-0" class="formwizard-buttons">
                        <a id="submit_button_link" class="button-next btn-medium btn btn-info" href="#">Next</a>
                    </p>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </div>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
 
{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script src="{{ asset('js/jquery/timepicker.js') }}"></script>
<script src="{{ asset('js/jquery/globalize.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
<script type="text/javascript">    
<!--
(function($){
	
	$(".hour").timepicker({ seconds: false});
    	$('input.is_closed_checkbox').each(function(){
    	    if(this.checked) {
    	    	$(this).parent().parent().find('.hour').val("");
    	        var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    		}
    	});
    
    $('input.is_closed_checkbox').change(function(){
        if(this.checked) {
            $(this).parent().parent().find('.hour').val("");
        	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    	}
        else 
        {
        	$(this).parent().parent().find('.hour').val("8:00 AM");
        	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
        }
       
    });
	
  	$('#businessHourCheckBox').click(function(){
    	
	    if ($('#businessHourCheckBox').attr('checked')) {

	    	$(this).parent().parent().find('.hour').val("");
	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
	    	$('#clinicHours').hide();
	    	
	    }else{
    	    $('#clinicHours').show();
    	    $(this).parent().parent().find('.hour').val("8:00 AM");
	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
    	}
	}) 
	
    $(function(){        
        Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
        $('select.country_dropdown').change();
        $('a#submit_button_link').click(function(){

            $('#form_save_institution').submit();
            
            return false;
        });
    });

})(jQuery);
//-->
       
</script>
{% endblock %}