{% extends 'InstitutionBundle::layout.html.twig' %}
{% set disableMainNavigation = true %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' 
        with {'contentSpanClass' : 'span12' } %}
        {% block wrappedContent %}
        <div class="span12">
            
            <h1><span>Create New Clinic Listing</span></h1>
            {% include 'InstitutionBundle:Widgets:steps.addClinic.html.twig' %}
        </div>
        <div class="addnewclinic">
            <div class="span9">
                <form id="form_save_institution"  action="{{ path('institution_signup_complete_profile') }}" method="post">
                
                    {{ form_errors(form) }}
                        
                    <div>
                        {{ form_row(form.name, {label: 'Clinic Name', attr: {'class': 'span7'}} ) }}
                        
                        
                        {{ form_label(form.description,  'Short Description about the Clinic')  }}
                        {{ form_widget(form.description, { attr: {'class': 'span8', rows: 5, cols: 60} } ) }}
                        <small >Having difficulties in writing your Clinic Description. <a href="#">CLICK HERE</a> for some sample to look at.</small>
                        {{ form_errors(form.description) }}
                        
                        {{ form_row(form.contactEmail, {label: 'Email', attr: {'class': 'span6'}} ) }}
                        {{ form_row(form.contactNumber) }}
                        {{ form_widget(form.websites) }}
                        
                        <h4>Clinic Address</h4>
                        <div class="mapbox" id="map_canvas">Map Here</div>
                         <div class="address2">
                            <span>
                                {{ form_label(form.country) }}
                                {{ form_widget(form.country, {attr: {class: 'country_dropdown slectAdressFields'} } )}}
                                {{ form_errors(form.country) }}
                            </span> 
                            <span>
                                {{ form_label(form.city)}}
                                {{ form_widget(form.city, {label: 'City', attr: {class: 'city_dropdown slectAdressFields'} } )}}
                                {{ form_errors(form.city) }}
                            </span>
                        </div>
                         <div class="address">
                        {{ form_widget(form.address1) }}
                        </div>
                        <div class="address2">
                            <span>
                                {{ form_label(form.state) }}
                                {{ form_widget(form.state, { attr: {class: 'addressFields'} } )}}
                                {{ form_errors(form.state) }}
                            </span>
                            <span>
                                {{ form_label(form.zipCode)}}
                                {{ form_widget(form.zipCode, {label: 'Zip/Mail Code', attr: {class: ''} } )}}
                                {{ form_errors(form.zipCode) }}
                            </span>
                        </div>
                        {{ form_widget(form.coordinates) }}
                        
                        <div class="clearfix"></div>
                    
                        <label for="Clinic Hours">Clinic Hours</label>
                        <input type="checkbox" name="businessHourCheckBox" id="businessHourCheckBox" >
                        <span style="font-weight:bold;">I have no business hours</span>
                        
                        {% include 'InstitutionBundle:Widgets:medicalCenter.businessHours.html.twig' %}
                        
                    </div>
                    
                    
                    <div class="pull-right">
                        <button class="btn btn-info" type="submit">Next</button>
                    </div>
                        
                    
                    {{ form_rest(form) }}
                </form>
            </div><!-- end .span9 -->
            
            {% embed 'InstitutionBundle:Embed:wrapper.sidebar.html.twig' %}
                {% block sidebarWrappedContent %}
                    {% include 'InstitutionBundle:Widgets:sidebar.benefitsShowcase.html.twig' %}
                {% endblock %}
            {% endembed %}
            
        </div><!-- end .addnewclinic -->
        {% endblock %}
        
    {% endembed %}

{% endblock %}
 
{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script src="{{ asset('js/jquery/timepicker.js') }}"></script>
<script src="{{ asset('js/jquery/globalize.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
<script src="{{ asset('bundles/helper/js/google_map.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">    
<!--
(function($){

    $(function(){

	initialize();
	
	$(".hour").timepicker({ seconds: false});
    	$('input.is_closed_checkbox').each(function(){
    	    if(this.checked) {
    	    	$(this).parent().parent().find('.hour').val("");
    	        var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    		}
    	});
    
    $('input.is_closed_checkbox').change(function(){
        if(this.checked) {
            $(this).parent().parent().find('.hour').val("");
        	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
    	}
        else 
        {
        	$(this).parent().parent().find('.hour').val("8:00 AM");
        	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
        }
       
    });
	
  	$('#businessHourCheckBox').click(function(){
    	
	    if ($('#businessHourCheckBox').attr('checked')) {

	    	$(this).parent().parent().find('.hour').val("");
	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: true });
	    	$('#clinicHours').hide();
	    	
	    }else{
    	    $('#clinicHours').show();
    	    $(this).parent().parent().find('.hour').val("8:00 AM");
	    	var id = $(this).parent().parent().find('.hour').spinner({ disabled: false });
    	}
	}) 
	
    $(function(){        
        Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';
        $('select.country_dropdown').change();
        $('a#submit_button_link').click(function(){

            $('#form_save_institution').submit();
            
            return false;
        });
    });

    });
})(jQuery);
//-->
       
</script>
{% endblock %}