{% extends '::base.html.twig' %}

{% block body %}

{% include '::notice.admin.html.twig' %}

<div class="body">
	<form action="{{ path('InstitutionBundle_create_institution') }}" method="POST" {{ form_enctype(form) }} class = "user">
			<div><p>Institution Name: <input type="text" name="institutionName"></p>
				Description:<div id="desc" style="margin-left:124px;"><textarea name="description" rows="10" cols="30"></textarea></div>
			</div>
			
    		<p>Institution Users:</p>
    		{{ form_row(form.firstName) }}
    		{{ form_row(form.middleName) }}
    		{{ form_row(form.lastName) }}
			{{ form_row(form.email) }}
    		{{ form_rest(form) }}
			</br><input type="submit" value="Submit">
	</form>
</div>
{% endblock %}


	

