{% extends 'InstitutionBundle::layout.html.twig' %}
{% set selectedTab = 'staff'%}


{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Edit {{ institution.getName() }} Details</h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            <!--  start table-content  -->
            <div id="table-content">
            
                {% include '::notice.admin.html.twig' %}
            
                <form novalidate="novalidate" action="{{ path('institution_edit_information')}}" method="POST" {{ form_enctype(form) }} class="basic-form">
                    <!-- start id-form -->
                    
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.institutionOfferedServices) }}
                        {{ form_row(form.country) }}
                        
                        {{ form_row(form.city)}}
                        
                        {{ form_row( form.address1 ) }}
                        {{ form_row( form.address2 ) }}
                        <div>
                        <label>Languages Spoken</label>
                        <input type="text" value="" id="languageButton">             			
             			</div>
             			<div>
             			
             				<div id="tags">
             				{% if institutionLanguage %}
	             			{% for language in institutionLanguage %}
	                			<a href="#" id="language{{ language.id }}" class="click" > {{ language.name }}</a>
                			{% endfor %}
	                		{% else %}
	                			
	                		{% endif %}
                			</div>
                		</div>
             			{{ form_row( form.institutionLanguagesSpoken ) }}
						<input type="reset" value="Reset" class="form-reset"  />
						<input type="submit" name="submit" value="Submit" class="green-button" />                        
                        {{ form_rest(form) }}
                		
                    
                    <!-- end id-form  -->
                </form>
            </div>
            <!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}

</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}

	{% block javascripts %}
	<script src="{{ asset('bundles/helper/js/Autocomplete.js') }}"></script>
		<script type="text/javascript">

		$(function() {
			var availableLang = $.parseJSON('{{ languagesJSON | raw}}');
			var inputHiddenField = "#institutionDetail_institutionLanguagesSpoken";
			var inputAutoLanguage = "#languageButton";
			var selectedTags = [];
	
	        	var params = {
	                	availableTags: availableLang,
	                	selectedTags : selectedTags,
	                	inputHiddenField :inputHiddenField,
	                	inputAutoLanguage :inputAutoLanguage
	        		};
	        	LanguageAuto.init(params);
		});
		
		</script>	
	{% endblock %}

