{% extends 'InstitutionBundle::signUpheader.html.twig' %}

{% form_theme form '::form.admin.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
       
        <h1>Invite Institutions </h1>
    </div>
    <!-- end page-heading -->
    
    {% embed '::contentWrapper.admin.html.twig' %}
        
        {% block wrappedContent %}
            <!--  start table-content  -->
            <div id="table-content">

                {% include '::notice.admin.html.twig' %}
                    <form action="{{ path('institution_invitation') }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                        <!-- start id-form -->
                        <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                            <tr><h2>Details</h2></tr>
                            {{ form_row(form.name) }}
                            {{ form_row(form.email) }}
                             <tr>
                                <th>&nbsp;</th>
                                <td valign="top">
                                    <input type="submit" value="submit" class="form-submit" />
                                    <input type="reset" value="" class="form-reset"  />
                                </td>
                                <td></td>
                            </tr>
                            
                            {{ form_rest(form) }}
                            
                        </table>
                        <!-- end id-form  -->
                    </form>
            </div>
            <!--  end table-content  -->
        {% endblock %}
        
    {% endembed %}
    
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}