
<div class="span9">
    <h1><span>Manage Clinic</span></h1>
    <div class="row"> 
        <div class="span2">
            <a data-toggle="modal" role="button" title="" class="gallerypic" href="#upload"> 
                <img width="140" height="90" class="pic" alt="[Gallery Photo]" src="{{ asset('images/institution/image_ph.png') }}" /> 
                <span class="image-icon"><img width="32" height="32" title="Change Profile Photo" alt="Zoom" src="{{ asset('images/institution/image-icon.png') }}"></span> 
            </a>
        </div>
        
        <div class="span7">
            <h2 id="institutionNameText" class="pull-left">{{ institution.name }}</h2>
            <div class="editname">
                <i title="Edit" class="icon-pencil"></i>
                <a href="#institutionNameModal" data-toggle="modal" role="button"><small>Edit</small></a>
            </div>
            <div class="maincontentblock">
                <div style="display: inline-block;" id="institutionDescriptionText">
                    {{ institution.description | raw }}
                </div>
                <i title="Edit" class="icon-pencil"></i>
                <a href="#institutionDescriptionModal" data-toggle="modal" role="button"><small>Edit</small></a>
            </div>
            
        </div>
    </div>
    <!-- end row -->
    <div class="tabbable">
        <ul class="nav nav-tabs profile_tabs">
            <li class="active">
                <a data-toggle="tab" class="profile_tab_links" href="#specializations_tab_content">Specializations</a>
            </li>
            <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#services_tab_content">Services</a>
            </li>
            <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#awards_tab_content">Awards</a>
            </li>
           <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#medical_specialists_tab_content">Medical Specialist</a>
            </li>
            
        </ul>
        <div class="tab-content" id="tabbed_content">
            <div id="specializations_tab_content" class="tab-pane active">
                {% include 'InstitutionBundle:Widgets:tabbedContent.institutionMedicalCenterSpecializations.html.twig' %}
            </div>
            <div id="services_tab_content" class="tab-pane"><span>Loading ancillary services</span></div>
            <div id="awards_tab_content" class="tab-pane"><span>Loading clinic awards, certificates and affiliations</span></div>
            <div id="medical_specialists_tab_content" class="tab-pane"><span>Loading medical specialists</span></div>
        </div><!-- /.tab-content -->
    </div>
    
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionMedicalCenter.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionTreatments.js') }}"></script>
<script type="text/javascript">
<!--
(function($){
    $(function(){
        InstitutionMedicalCenter.initializeTabs({
            'services' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"content": "services", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#services_tab_content')},
            'awards' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"content": "awards", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#awards_tab_content')},
            'medical_specialists' : {'url': '{{ path("institution_load_tabbed_contents_singleProfile", {"content": "medical_specialists", "imcId": institutionMedicalCenter.id } ) }}', 'container': $('div#medical_specialists_tab_content') }
        })
        .initializeTabbedContentContainerElement($('div#tabbed_content'))
        .loadTabbedContents();

        // setup autocomplete for add specialization
        InstitutionSpecializationAutocomplete.singleSelectionOnly = true;
        InstitutionSpecializationAutocomplete
        .setAutocompleteOptions({
            source : $.parseJSON('{{ specializationsJSON | raw}}'),
            target: $('input.autocomplete_specialization_selector'),
            selectedDataContainer: $('#specializationAccordion') 
        })
        .setLoaderElement($('#specializationLoading'))
        .setLoadSpecializationFormUri('{{ path("institution_medical_center_ajaxLoadSpecializationAccordionEntry", { "treatmentsListOnly":1,"imcId": institutionMedicalCenter.id } ) }}')
        .autocomplete();

        InstitutionSpecialization.setSpecializationsListContainerElement($('div#specializations_tab_content div.row-fluid'));
    });
})(jQuery);
//-->
</script>
{% endblock %}
