{% extends 'InstitutionBundle::signUpheader.html.twig' %}

{% block content %}

                <form novalidate="novalidate" action="{{ path('institution_signUp') }}" method="POST" {{ form_enctype(form) }} class="basic-form">
                    <!-- start id-form -->
                    
                    {{ form_errors(form) }}
                    
                    {{ form_row(form.name, { 'attr': {'class': 'username span9'} }) }} 
                    {{ form_row(form.email) }}
                    {{ form_row(form.password ) }}
                    {{ form_row(form.confirm_password ) }}

                    <label for="password">Types of Institution</label>
                    <div id="tabs">
                        <div id="nav">
                            {# form_row(form.institution_type) #}
                            
                            {% for key, type in institutionTypes %}
                                <label>
                                    <input {{ key == selectedInstitutionType ? 'checked' : '' }} type="radio" name="institutionType" value="{{ key }}" class="div1" /> {{ type }}
                                </label>
                                <div id="div1" class="tab"></div>    
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <label>
                        {{ form_widget(form.agree_to_terms) }}
                        I read and agree the <a href="#">Terms and Conditions</a>.    
                    </label>
           	 	     
                    <div class="button_div"><input type="submit" name="Submit" value="SIGN-UP" class="span12 btn-large btn-primary" /></div>
                    
                    {{ form_rest(form) }}
                    
                    <!-- end id-form  -->
                </form>
     

<div class="clear">&nbsp;</div>
{% endblock %}
