{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}

{% block title %} Client Sign-up {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Create an Account', 'contentSpanClass': 'span8 marginleft0'} 
    %}
        {% block wrappedContent %}
            
         <div id="content" class="container">
            <div class="row">
                <div class="span8">
                    <form novalidate action="{{ path('institution_signUp') }}" id="signupForm" method="POST" class="form">
                        <section class="section account-info">
                            <h2>Login Credentials</h2>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-field">
                                        {{ form_row(form.email, { 'attr': {'class': 'span8', 'placeholder': 'i.e you@some-domain.com'} }) }}
                                    </div>
                                    <div class="row-field">
                                        <label for="password">
                                            Choose a password
                                            <small>( Must be atleast 6 characters long ) </small>
                                        </label>
                                       {{ form_widget(form.password, { 'attr': {'class': 'span8'} }) }}
                                    </div>
                                        {{ form_row(form.confirm_password, { 'label': 'Confirm your password', 'attr': {'class': 'span8'} }) }}
                                </div>
                            </div>
                        </section>
                        <section class="section institution-info">
                            <h2> Clinic / Hospital Details </h2>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-field">
                                        <label for="institution-name">
                                            Name of the Clinic / Hospital
                                        </label>
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, { 'attr': {'class': 'institution_name span12'} }) }}
                                    </div>
                                    <div class="row-field">
                                        <label>
                                            Please select which best describes the healthcare provider you are adding:
                                        </label>
                                       {% for _key, _typeChoice in form.type.vars.choices %}
                                            {% set _inputId =  form.type.vars.id ~ '_' ~ _key %}
                                            <label class="radio" for="{{ _inputId }}">
                                            <input id="{{ _inputId }}" type="radio" value="{{ _typeChoice.value }}" required="required" name="{{ form.type.vars.full_name }}">
                                            {{ _typeChoice.label }}</label>
                                        {% endfor %}
                                        {{ form_errors(form.type) }}
                                    </div>
                                    <div class="row-field">
                                        <label for="network-group">
                                            Medical Provider Group / Network
                                            <small>( Optional )</small>
                                        </label>
                                            {{ form_widget(form.medicalProviderGroups, { 'attr': {'class': 'span12', 'placeholder': 'Leave blank if none'} }) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="section footer">
                            <div class="row-fluid terms">
                                <div class="span12">
                                    <label class="checkbox pull-left">
                                        {{ form_errors(form.agree_to_terms) }}
                                        {{ form_widget(form.agree_to_terms) }} I have read and agree with the <a href="#">Terms and Conditions</a>.
                                    </label>
                                    <button type="submit" class="btn pull-right btn-primary btn-large"> Sign Up</button>
                                    <button class="btn pull-right btn-large btn-link">Cancel</button>
                                </div>
                            </div>
                        </section>
                        {{ form_widget(form._token) }}
                    </form>
                </div>
                {% include 'InstitutionBundle:Widgets/Sidebars:sidebar.signup.html.twig' %}
            </div>
        </div>
		
        {% endblock %}
    {% endembed %}
 
{% endblock %}

{% block inlineJavascriptCode %}
	<script language="javascript" type="text/javascript">

    <!-- AutoComplete for Institution Medical Group Input Field -->
        $(function() {
        	var availableTags = $.parseJSON('{{ medicalProvidersJSON | raw}}');
        	
            $( "#institutionSignUp_medicalProviderGroups" ).autocomplete({
                source: availableTags
            });
        });    

	</script>	
{% endblock %}