{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% set _inquiries = render_institution_inquiries(institution) %}
{% set _unread_inquiries = render_institution_unread_inquiries(institution) %}
{% set _read_inquiries = render_institution_read_inquiries(institution) %}
{% set label = 'Hospital' %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
<div class="span12">
    <section class="alert alert-info">
        <h2>Welcome to HealthcareAbroad.com!</h2>
        <div class="hca-sub-label">
            Now that patients can find your Medical Institution on HealthcareAbroad, make sure that they find complete and relevant information about everything that you have to offer. <br><br>However it seems there are couple of things need to be done. Just a few more things in order to make your Medical Institution Profile more comprehensive and recognizable to your prospective patients. To finish up, just complete the items listed below:
        </div>
    </section>
    
    <section class="section row-fluid">
        <h2> Suggestion for your {{ label }}
            <a class="btn btn-link pull-right" href="{{ path('institution_account_profile') }}">CLICK HERE TO UPDATE</a>
         </h2>
        {% set _suggestions = render_institution_suggestions(institution) %}
        {% if _suggestions is not empty %}
        <ul class="thumbnails hca-alert-inquiry">
            {% for suggestion in _suggestions %}
                <li class="thumbnail hca-alert-inquiry">
                    <span class="span1 hca-icon pull-left"><i class="icon-warning-sign icon-2x hca-yellow">
                    </i></span>
                    <span>
                        {{ suggestion.description }}
                    </span>
                </li>
            {% endfor %}
        </ul>
        {% endif %}  
    </section>
    <section class="section row-fluid">
        <h2>
            List of Incomplete Clinic Profile
        </h2>
        {% set _centers = render_incomplete_clinic_profile(institution) %}
        {% if _centers is not empty %}
        <ul class="thumbnails hca-alert-inquiry">
            {% for center in _centers %}
                <li class="thumbnail hca-alert-inquiry">
                    <span class="hca-icon pull-left"><i class="icon-picture icon-4x hca-earth">
                    </i></span>
                    <span class="details-inline">
                        <b>{{ center.name }}</b>
                        This clinic doesn't have a 
                        {{ center.fields | join(',') }}.
                    </span>
                    <a class="btn btn-link pull-right" href="{{ path('institution_medicalCenter_view', {imcId: center.id}) }}">CLICK HERE TO UPDATE</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %} 
    </section>
    <section class="section row-fluid">
        <h2>
            Latest Inquiries
        </h2>
        {% if _inquiries is not empty %}
        <table class="table table-hover hca-inquiry">
            {% for inquiry in _inquiries %}
            <tr>
                <td>
                    <i class="icon-envelope icon-2x hca-earth">
                    </i>
                </td>
                <td>
                   <a href="{{ path('institution_view_inquiry', {id : inquiry.id}) }}"> {{ inquiry.inquirerName }} </a>
                </td>
                <td>
                    {{ inquiry.message }}
                </td>
                <td>
                    {{ inquiry.dateCreated | date("m/d/Y") }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                   <p>No Inquiries</p>
                </td>
            </tr>
        {% endif %}
        </table>
    </section>
</div>
                    
        {% endblock %}
        
    {% endembed %}
{% endblock %}
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/institutionInquiry.js') }}"></script>
{% endblock %}
