{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% set _csrf_token_widget = form_widget(institutionForm._token) %}
{% set globalAwardClassLabel = getClassLabel('global_award') %}
{% set ancillaryServiceClassLabel = getClassLabel('ancilliary_service') %}
{% set clinicClassLabel = getClassLabel('clinic') %}
{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
			<div class="hca-banner">
                <h1>
                   {{institution.name}}
                </h1>
              {% if institution.featuredMedia %}
                    {{ media(institution.featuredMedia, institution, 'default', {alt: 'Institution', style: 'max-height: 310px; width: 100%;'}) | raw }}
                {% else %}
                 <img src="{{ asset('images/institution/institution3.png') }}" alt="institution" />
                {% endif %} 
           
               {% if institution.logo %}
                    {{ media(institution.logo, institution, 'default', {alt: 'institution-logo'}) | raw }}
                {% else %}
                     <a href="#"><img src="{{ asset('images/institution/default-hospital-logo.png') }}" alt="institution-logo" class="logo"/></a>
                {% endif %} 
               
                <div class="institution-details">
                    <!-- p>
                        Gleneagles Hospital (Kuala Lumpur) Sdn.Bhd. 282 JalanAmpang, Kuala Lumpur,
                        Malaysia
                    </p -->
                    <p>{{ institution_address_to_array(institution, ['address1']) | join(', ')}}</p>
                    <a class="btn btn-large btn-primary pull-right" href="#">Manage Hospital</a>
                </div>
            </div>
          
          <div class="span8">
          
              <div class="tabbable">
        <ul class="nav nav-tabs profile_tabs">
            <li class="active">
                <a data-toggle="tab" class="profile_tab_links" href="#profile_tab">Hospital Details</a>
            </li>
             <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#medical_centers">{{ clinicClassLabel.plural | title}}</a>
            </li>
            <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#services">{{ ancillaryServiceClassLabel.plural | title}}</a>
            </li>
            <li class="">
                <a data-toggle="tab" class="profile_tab_links" href="#awards">Awards</a>
            </li>
        </ul>
        <br>
        <div class="tab-content" id="tabbed_content">
            <div class="progress progress-striped active" style="display:none;">
                    <div class="bar" style="width: 40%;"></div>
            </div>
            <div id="profile_tab" class="tab-pane active">
              {% include 'InstitutionBundle:Institution/Widgets:profileTabForm.html.twig' %}
           </div>   
            <div id="medical_centers" class="tab-pane"><img id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" /></div>
            <div id="services" class="tab-pane"><img id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" /></div>
            <div id="awards" class="tab-pane"><img  id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" /></div>
        </div><!-- /.tab-content -->
    </div>
          
                     
    </div>
                      {% include 'InstitutionBundle:Widgets:sidebar.base.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/institution/js/institutionProfile.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/common.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/institution/js/properties.js') }}" ></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#confirm-message').modal('show');
    });
    (function($){
        $(function(){

            $('#institutionDescriptionText').truncateByHeight({'visibleRows': 5});
            
            _url_base = '{{ path("institution_load_tabbed_contents_profile", {institutionId: institution.id} ) }}';
            _medical_url = '{{ path("institution_medicalCenter_index") }}';
            // initialize the tabbed contents
            InstitutionProfile.setAjaxUrls({
                    'loadInstitutionServices': _url_base+'?content=services',
                    'loadInstitutionAwards': _url_base+'?content=awards',
                    'loadActiveMedicalCenters': _medical_url+'?status=2'
                });
            
            InstitutionProfile.tabbedContentElement = $('#tabbed_content');
            InstitutionProfile.medicalCenterTabbedContentElement = $("#medical_centers");
            InstitutionProfile.servicesTabbedContentElement = $('#services');
            InstitutionProfile.awardsTabbedContentElement = $('#awards');
            InstitutionProfile.loadTabbedContentsOfMultipleCenterInstitution();
            
        });
    })(jQuery);
</script>
{% endblock %}

