{% extends 'InstitutionBundle::layout.html.twig' %}
{% set mainNavigation = {selected: 'dashboard'} %}
{% block content %}

    {% embed 'InstitutionBundle:Embed:contentWrapper.authenticated.html.twig' %}
        {% block wrappedContent %}
			<div class="maincontent">
				<div class="span9">
					<h1>
						<span>Getting Started with HEALTH CARE ABROAD</span>
					</h1>
					<ul class="dashboard-member-activity">
                        <li>
                            <img alt="" class="dashboard-member-activity-avatar" src="{{ asset('images/institution/image_ph.png') }}"><a href="#"> <span class="blue"><strong class="stepsdone">Add Contact Details</strong></span></a>
                            <p>
                                Some text explaining the important of adding contact details.
                            </p>
                        </li>
                        <li>
                            <img alt="" class="dashboard-member-activity-avatar" src="{{ asset('images/institution/image_ph.png') }}"><a href="#"> <span class="blue"><strong class="stepsdone">Add Location Details</strong></span></a>
                            <p>
                                Some text explaining the important of adding Location details.
                            </p>
                        </li>
                        <li>
                            <img alt="" class="dashboard-member-activity-avatar" src="{{ asset('images/institution/image_ph.png') }}"><a href="#"> <span class="blue"><strong>Add Institution Logo</strong></span></a>
                            <p>
                                Some text explaining the important of adding profile logo.
                            </p>
                        </li>
                         <li>
                            <img alt="" class="dashboard-member-activity-avatar" src="{{ asset('images/institution/image_ph.png') }}"><a href="#"> <span class="blue"><strong>Manage Institution Awards and Certifications</strong></span></a>
                            <p>
                                Some text explaining the important of adding awards.
                            </p>
                        </li>
                        <li>
                            <a href="{{ path('institution_account_profile') }}"><img alt="" class="dashboard-member-activity-avatar" src="{{ asset('images/institution/image_ph.png') }}"> 
                                <span class="blue" style="font-size: 17.5px;" >Manage your Clinic Profile</span>
                            </a>
                            <p>
                                Some text explaining the important of adding profile logo.
                            </p>
                        </li>
					</ul>
				</div>
				<!--End of span9-->
			    
			    {% include 'InstitutionBundle:Widgets:dashboard.sidebarLabel.html.twig' %}
				<!--End of span3-->
			</div>
			<!--End of addnewclinic-->
        
        {% endblock %}
        
    {% endembed %}

{% endblock %}