<div class="lfooter_wrap">
    <div class="container">
        <!--This is for the lower footer-->
        <div class="row">
            <div class="span4 lfooter_item">
                <p>
                    &copy; 2012 <a href="{{ site_url }}">{{ site_name }}</a> | All rights reserved.
                </p><a href="#">Privacy</a> <a href="#">Terms of Use</a> <a href="#">Ad Choice</a>
            </div>
            <div class="pull-right lfooter_socials">
                <ul>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/facebook_icon.png') }}" alt="facebook"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/tumblr_icon.png') }}" alt="tumblr"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/linkedin_icon.png') }}" alt="linkedin"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('images/institution/rss_icon.png') }}" alt="rss"></a>
                    </li>
                </ul>
            </div>
        </div><!--End of row-->
    </div><!--End of container-->
</div>