{% extends 'InstitutionBundle::layout.html.twig' %}

{% block content %}
<!-- start content -->
<div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>{{ app.session.get('institutionName') }} Dashboard</h1>
    </div>

    <!-- end page-heading -->

    {% embed '::contentWrapper.admin.html.twig' %}

        {% block wrappedContent %}

            {# ----- Related tasks ----- #}
            {% set manageCentersTask = {"title": 'Manage Available Centers', 'class': 'list-icon', 'description': 'Manage medical centers in your clinic or medical institution', 'href': path('institution_medicalCenter_index'), 'links': [{title:'Click here to view all centers',href: path('institution_medicalCenter_index')}, {title:'Click here to add center', href: path('institution_medicalCenter_add')}]} %}

            {% include '::relatedTasks.base.admin.html.twig' with
                {'contents': [manageCentersTask]}
            %}
            {# ----- end Related tasks ----- #}

            <!--  start table-content  -->
            <div id="table-content" style="width:70%">
                {% include '::notice.admin.html.twig' %}
                
                    {% if hasAlerts %}
                        <h3>Alerts</h3>
                    {% endif %}

                    <!-- medical centers with DRAFT status -->
                    {% if expiredListingAlerts|length %}
                    <div>
                        <img src="/images/admin/forms/icon_list_arrow.gif" alt=""/>
                        Expired Listings.

                        <div>
                        {% for center in expiredListingAlerts %}
                            <div style="width: 600px;border: 1px solid #efefef; padding: 5px; margin-bottom: 5px">
                                <a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
                                <a href="{{ path('institution_medicalCenter_edit', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a><br/>

                            </div>
                        {% endfor %}
                        </div>
                    </div><br/><br/>
                    {% endif %}

                    {% if draftAlerts|length %}
                    <div>
                        <img src="/images/admin/forms/icon_list_arrow.gif" alt=""/>
                        The following medical centers have incomplete information. Click on one to resume inputting your data.

                        <div>
                        {% for center in draftAlerts %}
                            <div style="width: 600px;border: 1px solid #efefef; padding: 5px; margin-bottom: 5px">
                                <a href="{{ path('institution_medicalCenter_add', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a><br/>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if approvedListingAlerts|length %}
                    <div>
                        <img src="/images/admin/forms/icon_list_arrow.gif" alt=""/>
                        Approved Listings.

                        <div>
                        {% for center in approvedListingAlerts %}
                            <div style="width: 600px;border: 1px solid #efefef; padding: 5px; margin-bottom: 5px">
                                <a href="{{ path('admin_removeAlert', {id: center._id, rev: center._rev}) }}" class="remove-alert" style="float:right">remove</a>
                                <a href="{{ path('institution_medicalCenter_edit', {'imcId': center.referenceData.id }) }}" title="View {{ center.referenceData.name | title }}">{{ center.referenceData.name | title }}</a><br/>
                            </div>
                        {% endfor %}
                        </div>
                    </div><br/><br/>
                    {% endif %}
                    
                    <br />
                    <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                    <br />
                    <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua.
                    <br />
                    <br />
                    <h3>News</h3>
			
					 {% for newsData in news %}
				        <article class="news">	
				            <header>
				                <h2><a href="{{ path('admin_news_show', { 'id': newsData.id, 'slug': newsData.slug }) }}">{{ newsData.title }}</a></h2>
				            </header>
							 <div class="date"><time datetime="{{ newsData.dateCreated|date('c') }}">{{ newsData.dateCreated|date('l, F j, Y') }}</time></div>
				            <div class="snippet">
				                <p>{{ newsData.description(500)|raw }}</p>
				                <p class="continue"><a href="{{ path('admin_news_show', { 'id': newsData.id, 'slug': newsData.slug }) }}">Continue reading...</a></p>
				            </div>
			
				        </article>
				    {% else %}
				        <p>There are no news entries for HealthCareAbroad</p>
				    {% endfor %}

            </div>
            <!--  end table-content  -->
        {% endblock %}

    {% endembed %}

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
{% endblock %}