
	<div class="btn-group pull-right">
       		     
		<span class="userbox">you are logged in as<i class="icon-user"><a href="{{ path('institution_editAccount')}}"></i>{{ userName }}</a></span>
		<a href="{{ path('institution_edit_information') }}"><img src="{{ asset('images/institution/Setting-icon.png') }}"></a>
		<a href="{{ path('institution_logout')}}"><img src="{{ asset('images/institution/logout-icon.png') }}"></a>
	</div>
