<div class="hca-banner">
    <form method="POST" action="{{ path('institution_uploadFeaturedImage') }}" enctype="multipart/form-data" class="ajaxUploadLogoForm hidden" data-image-label="Cover Photo">
        <a href="javascript:void(0)" onclick="$(this).next().click()" class="btn-large btn-banner file-browse-btn">Change Cover</a>
        <input name="featuredImage" type="file" onchange="$(this).parent().submit()" accept="image/*">
        {% set bannerSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::LARGE_BANNER') %}
        <img id="institutionFeaturedImage" src="{{ institution.featuredMedia ? institution_media_src(institution.featuredMedia, bannerSize) : imageplaceholder.institutionFeaturedImage }}" alt="">
    </form>
                    
    <form method="POST" action="{{ path('institution_uploadLogo') }}" enctype="multipart/form-data" class="ajaxUploadLogoForm hidden" data-image-label="Logo">
        <a class="hca-logo file-browse-btn"  href="javascript:void(0)" onclick="$(this).next().click()">        
            <span class="rollover"></span>
            {% set logoSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MEDIUM') %}
            <img id="institutionLogo" src="{{ institution.logo ? institution_media_src(institution.logo, logoSize) : imageplaceholder.institutionDefaultLogo }}" alt="">
        </a>
        <input name="logo" type="file" onchange="$(this).parent().submit()" accept="image/*">
    </form>
   <div class="hca-institution-name"><a href="#hca-edit-institution-name" data-toggle="modal" class="btn btn-misc pull-right"><i class="icon-edit"></i>&nbsp;Edit</a><h1><span id="institutionNameText">{{ institution.name | title }}</span>
   <small id="networkName">{{ institution.medicalProviderGroups.0.name is defined ? institution.medicalProviderGroups.0.name | title : '' }}</small>
   </h1></div>
    <div class="institution-details">
            <h3><i class="icon-map-marker"></i>{{ institution.city ~ ', ' ~ institution.country}}</h3>
    </div>
</div>

<!-- Edit InstitutionName and ProviderGroup -->
{% embed 'InstitutionBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : 'hca-edit-institution-name', 'title': 'Edit Name' }} %}
    {% block modalBody %}
        {% include 'InstitutionBundle:Institution/Widgets:inlineEditForm.html.twig' 
             with {formId: 'nameModalForm', fields: ['name','medicalProviderGroups'], hideSubmitButton: true } 
        %}
    {% endblock %}
    
    {% block modalFooter %}
        <div class="align-right">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> Cancel</button>
    		<button class="btn btn-primary _submit-button" type="button" onclick="$('#nameModalForm').submit()">Submit</button>
		</div>
    {% endblock %}
{% endembed %}
<!-- End of InstitutionName and ProviderGroup -->