<div id="_edit-award-form-container" style="display:none">
    <form id="_edit-award-form" action="{{ editGlobalAwardFormAction }}" method="post">
        <input type="hidden" name="globalAwardId"/>
        <input type="hidden" name="propertyId"/>
        {{ form_widget(editGlobalAwardForm.extraValue) }}
        {{ form_widget(editGlobalAwardForm.value) }}
        {{ form_widget(editGlobalAwardForm._token) }}
        <a href="javascript:void(0)" onclick="$('#_edit-award-form').submit()"><i class="icon-ok"></i></a>
        <a href="javascript:void(0)" onclick="$(this).parents('._edit-award-year-container').hide().prev().show()"><i class="icon-remove"></i></a>
    </form>
</div>

{% block inlineJavascriptCode %}
<script type="text/javascript">
    var editAwardForm = $('#_edit-award-form');
    var awardValueElem = $("#{{ editGlobalAwardForm.getChild('value').get('id') }}");
    var awardExtraValueElem = $("#{{ editGlobalAwardForm.getChild('extraValue').get('id') }}");

    $(function(){
    	$('a._edit-global-awards').live('click', function(e) {
    		e.preventDefault();

    		var awardContainer = $('#_global-award-'+ $(this).data('property-id'));
    	    var viewAwardYearContainer = awardContainer.find('._view-award-year-container:first');
    	    var editAwardYearContainer = awardContainer.find('._edit-award-year-container:first');
    
    		editAwardForm.find('input[name=globalAwardId]').val($(this).data('award-id'));
    		editAwardForm.find('input[name=propertyId]').val($(this).data('property-id'));
    	    awardValueElem.val($(this).data('value'));
    		awardExtraValueElem.val($(this).prev('.yearAcquired').text());

        	$('._view-award-year-container').show();
        	viewAwardYearContainer.hide();
        	editAwardYearContainer.show();

        	if(!editAwardYearContainer.find('#_edit-award-form').length) {
        		editAwardYearContainer.html(editAwardForm);
            }
    	});

    	$('#_edit-award-form').ajaxForm({
    		success: function(response) {
    			if(response.status) {
    				awardExtraValueElem.removeAttr('disabled');
    				yearElem = $('#_edit-award-form').parent().hide().prev().show().find('.yearAcquired:first').html(response.extraValue);
    				yearElem.next().html(response.extraValue ? '<i class="icon-edit"></i>' : 'Add Year');
    				HCA.alertMessage('success', 'Year has been ' + (response.extraValue ? 'updated!' : 'removed!'));
    			} else {
    				HCA.alertMessage('error', 'Error: Unable to update year!');
    			}
            },

            beforeSend: function() { awardExtraValueElem.attr('disabled', 'disabled'); }
        });

    });

</script>
{% endblock %}