<form id="{{ formId }}" action="{{ path('institution_medicalCenter_ajaxUpdateProfileByField', {'imcId': institutionMedicalCenter.id} ) }}" onsubmit="return InstitutionMedicalCenter.submitMedicalCenterForm($(this))" novalidate="novalidate">
    {% for each in fields %}
          {% if each == 'name' %}
            <section>
                <div class="aside-box info dashboard-side">
                    <i class="icon-info-sign icon-4x pull-left"> </i> <b> NOTE: </b>
                    Changing your Clinic name here will change it in ALL {{ site_name }} listings. Editing your Clinic Name is subject to review and approval.
                </div>
            </section>            
            <section class="section institution-info">
                <div class="row-fluid hca-clinic-modal">
                    <div class="span12">
                        <div class="name control-group">   
                            {{ form_label(institutionMedicalCenterForm.name) }}
                            {{ form_widget(institutionMedicalCenterForm.name, { 'attr': {class: 'span11'} })  }}
                        </div>
                    </div>
                </div>
            </section>
        {% elseif each == 'description' %}
            <div class="description control-group">   
                {{ form_widget(institutionMedicalCenterForm[each], { 'attr': {class: 'span12 tooltip-wrap2 tinymce'} })  }}
                <div class="tooltip-content2 hca-textarea">
                    All the information about your clinic that a visitor may want to know. The history, the capacity, the capabilities and technologies. This is your
                    chance to set your clinic apart. DO NOT include any emails, URLs, or contact information.
                </div>
            </div>
        {% elseif each == 'address' %}        
        
            <div id="map_canvas" style="height: 300px;margin: 20px 20px 30px"></div>
            <a href="javascript:updateInstitutionStaticMap()" style="margin-right:20px;" class="pull-right label label-success">Review map location</a><br>

            {{ form_widget(institutionMedicalCenterForm.address, {attr: {'class': 'span12'}}) }}
            {{ form_widget(institutionMedicalCenterForm.coordinates) }}

            <div class="control-group">
                <div class="span6 input-append hca-location">
                    {{ form_label(institutionMedicalCenterForm.country) }}
                    {{ form_widget(institutionMedicalCenterForm.country , {attr: {class: 'hca-country pull-left'} } )}} 
                </div>
                 <div class="span6">
                    {{ form_label(institutionMedicalCenterForm.city)}}
                    {{ form_widget(institutionMedicalCenterForm.city, {label: 'City', attr: {class: 'span12'} } )}}
                    {{ form_errors(institutionMedicalCenterForm.city) }}
                </div>
              
            </div>
            
            <div class="control-group" style="clear: both">
                 <div class="span6">
                    {{ form_label(institutionMedicalCenterForm.state) }}
                    {{ form_widget(institutionMedicalCenterForm.state, { attr: {class: 'span12'} } )}}
                    {{ form_errors(institutionMedicalCenterForm.state) }}
                </div>
                <div class="span6">
                    {{ form_label(institutionMedicalCenterForm.zipCode)}}
                    {{ form_widget(institutionMedicalCenterForm.zipCode, {label: 'Zip/Mail Code', attr: {class: 'span6'} } )}}
                    {{ form_errors(institutionMedicalCenterForm.zipCode) }}
                </div>
            </div>
                
            <div class="control-group">
                {{ form_label(institutionMedicalCenterForm.addressHint)}}
                {{ form_widget(institutionMedicalCenterForm.addressHint, {attr: {class: 'span12 tooltip-wrap2'} } )}}
                <div class="tooltip-content2">
                   If there are any instructions that will help someone find you that aren't included in the address put them here. 
                   This could be something like, 'On the 2nd floor', or 'Next door to the gas station', whatever will make it easy for patients to find you! 
                </div>
                {{ form_errors(institutionMedicalCenterForm.addressHint) }}
            </div> 

        {% elseif each == 'contactNumber' or each == 'websites' %}
            <div class="control-group website">
                {{ form_label(institutionMedicalCenterForm.websites) }}
                {{ form_widget(institutionMedicalCenterForm.websites, { attr: {class: 'span12'} } )}}
            </div>

            <div class="contactEmail control-group">
                <label for="{{ institutionMedicalCenterForm.children.contactEmail.vars.id }}" style="display:inline-block">
                    {{ institutionMedicalCenterForm.children.contactEmail.vars.label }}
                </label>
                {{ form_widget(institutionMedicalCenterForm.contactEmail, { attr: {class: 'span12'} } )}}
            </div>

                {% for widget in institutionMedicalCenterForm.contactDetails %}
                    {{ form_widget(widget) }}
                {% endfor %}

        {% elseif each == 'socialMediaSites' %}
             {{ form_widget(institutionMedicalCenterForm.socialMediaSites )}}

        {% elseif each == 'businessHours' %}
             {{ form_widget(institutionMedicalCenterForm.businessHours) }}

        {% elseif each == 'status' %}
            {{ form_widget(institutionMedicalCenterForm[each]) }}

        {% elseif each == 'services' %}
             <div class="control-group">
                 {{ form_widget(institutionMedicalCenterForm.services )}}
             </div>
        {% elseif each == 'awards' %}
            <input type="hidden" name="awardTypeKey"  id="awardTypeKey" value=""/>
             <div class="control-group">
                 {{ form_widget(institutionMedicalCenterForm.awards )}}
             </div>
        {% else %}
            {{ form_row(institutionMedicalCenterForm[each]) }}
        {% endif %}
    {% endfor %}
    
    {{ _csrf_token_widget | raw}}
    
     {% if hideSubmitButton is not defined %}
        <div class="row"> 
            <div class="pull-right">
                 <button class="btn btn-primary" type="submit">Submit</button>
        	</div>
        </div>
     {% endif %}
</form>