<script type="text/javascript">
(function($){
	$(function(){

		$('form.ajaxUploadForm').ajaxForm({
		 /* beforeSend: function(e) {},
		    uploadProgress: function(event, position, total, percentComplete) {},*/

		    success: function(response) {
		        if(response.status) {
			        $('#doctor-thumbnail-'+response.doctor.id).attr('src', response.doctor.mediaSrc).css('opacity', 1).next().show();
			    } else {
				    alert('ERROR: Unable to upload Logo!');
				}
		    },
			complete: function(xhr) {
				//status.html(xhr.responseText) 
			}
		}).submit(function(){
			$(this).find('.hca-profile-photo-rollover').hide().prev().css('opacity', 0.5);
	    });

        $('#add-doctor').on('show', function(){
        	window.location.href = '#';
        	$('#doctor-search-results').hide();
        });

        $('#add-doctor').on('hide', function(){
        	$("#main-wrap").scrollTop(0);
        });

        $('.remove-doctor-btn').live('click', function(e) {
    
            if($(this).attr('disabled') == 'disabled') {
            	return false;
            }
    
            $(this).attr('disabled', 'disabled').css({opacity:.3,cursor: 'default'});
    
            doctorItem = $(this).parent();
            $.post($(this).attr('href'), function(response) {
            	$('#confirmation-message').find('p:first').html(response.message);
                if(response.status) {
                	doctorItem.fadeOut(500,function(){ doctorItem.next().remove(); doctorItem.remove(); $('#confirmation-message').show(); });
        			$('#confirmation-message').find('.alert').prop('class', 'alert alert-success');
    
                } else {
        			$('#confirmation-message').find('.alert').prop('class', 'alert alert-error');
        			$('#confirmation-message').show()
                }
    
                setTimeout(function() {$('#confirmation-message').fadeOut('slow')}, 5000); 
            });
            return false;
        });
        
        $(".edit-doctor-btn").live('click', function(e) {
            e.preventDefault();
            doctor = $.parseJSON($(this).attr('data-doctor'));

            var btnIcon = $(this).find('i');
            var editFormWrapper = $(this).parent().next();

            if(editFormWrapper.is(':hidden')) { 

            	editForm = $('#edit-doctor-form').clone();
            	editForm.removeAttr('id').removeAttr('style').attr('action', $(this).attr('href'));

            	editForm.find("#{{ editForm.getChild('lastName').vars.id }}").val(doctor.lastName);
            	editForm.find("#{{ editForm.getChild('firstName').vars.id }}").val(doctor.firstName);
            	editForm.find("#{{ editForm.getChild('middleName').vars.id }}").val(doctor.middleName);
            	editForm.find("#{{ editForm.getChild('suffix').vars.id }}").val(doctor.suffix);
            	editForm.find("#input-{{ editForm.getChild('suffix').vars.id }}").val(doctor.suffix);
            	editForm.find("#{{ editForm.getChild('contactEmail').vars.id }}").val(doctor.contactEmail);

            	editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_0_number").val('');
            	editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_0_abbr").val('');
            	editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_0_code").val('');

            	$.each(doctor.contactDetails, function(i){
                	numberElem = editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_"+i+"_number").val(doctor.contactDetails[i].number);
                	editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_"+i+"_abbr").val(doctor.contactDetails[i].abbr);
                	editForm.find("#{{ editForm.getChild('contactDetails').vars.id }}_"+i+"_country_code").val(doctor.contactDetails[i].countryCode);

                	numberElem.siblings('.flag-selector-widget:first').find('.flag16:first').attr('class', 'flag16 ' + doctor.contactDetails[i].abbr);
                });

            	editForm.find('.specializations-listing input[type=checkbox]').removeAttr('checked');
            	$.each(doctor.specializations, function(id, name){
                	editForm.find('.specializations-listing input[value='+id+']').attr('checked', 'checked');                	
                });

        		editForm.submit(function(e){
        		    $.post($(this).attr('action'), $(this).serialize(), function(response){
        			    var specializationString = '';
        			    $.each(response.doctor.specializations, function(key) {
        			    	specializationString += ', ' + response.doctor.specializations[key]; 
        				});

        		    	editFormWrapper.prev().find('h4.full-name:first').text(response.doctor.fullName);
        		    	editFormWrapper.prev().find('.doctor-specializations:first').text(specializationString.substr(1));
            		    btnIcon.parent().attr('data-doctor', JSON.stringify(response.doctor));
            		});

            		e.preventDefault();
        	    });

            	editFormWrapper.html(editForm);
            }

            if($(this).find('.icon-ok').length) {
            	editFormWrapper.find('.edit-doctor-form:first').submit();
            }
            
            editFormWrapper.slideToggle("slow", function(){
                if(btnIcon.hasClass('icon-edit')) {
                	btnIcon.removeClass('icon-edit').addClass('icon-ok');
                } else {
                	btnIcon.removeClass('icon-ok').addClass('icon-edit');
                }
            });

            resetDoctorForms(doctor.id);
        });

        /** modal Js**/
        var confirmMessageElem = $('#confirmation-message');
    	var lastNameElem = $("#{{ doctorForm.getChild('lastName').vars.id }}");
    	var firstNameElem = $("#{{ doctorForm.getChild('firstName').vars.id }}");
    	var middleNameElem = $("#{{ doctorForm.getChild('middleName').vars.id }}");
    	var suffixElem = $("#{{ doctorForm.getChild('suffix').vars.id }}");
        var fullName = getInputFullName();
    
    	$('#doctorForm').submit(function(e){
        	addDoctorForm = $(this);
    		$.post(addDoctorForm.prop('action'), addDoctorForm.serialize(), function(response){
    			showAddConfirmationMessage(response);
    		});
    
    		return false;
    	});
    
    	$('#search-doctor').click(function() {
        	$('#doctor-search-results').fadeIn();
    		$('#matchedDoctorList').html('<div style="text-align:center">searching doctors...</div>');
            var params = {
        		lastName: getCleanVal(lastNameElem),
        		firstName: getCleanVal(firstNameElem)
    		};
    
    		if(getCleanVal(middleNameElem)) { params.middleName = getCleanVal(middleNameElem) }
    		if(getCleanVal(suffixElem)) { params.suffix = getCleanVal(suffixElem); }

    		$.getJSON("{{ path('search_doctors') }}", { criteria: params }, function(doctors) {
    			var matchedString = '';
    			$.each(doctors, function(i) {

    				if($('.medicalCenter-doctors[data-doctor-id='+i+']').length) {
    					addLink = '<span class="pull-right" style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;">Already Added</span>';
    				} else {
    					addLink = '<a data-doctor-id="'+ i +'" class="btn btn-misc pull-right add-existsing-doctor" href="' + "{{ path('institution_medicalCenter_addExistingDoctor', {imcId: institutionMedicalCenter.id}) }}" + '"><i class="icon-medkit"></i>Add to My Clinic</a>';
    				}

    			    var specializationString = '';
    			    $.each(doctors[i].specializations, function(key) {
    			    	specializationString += ', ' + doctors[i].specializations[key]; 
    				});
    			    
        			matchedString += '<li data-doctor-id="'+i+'" class="thumbnail hca-clinic-listing">' +         			
            	        '<img alt="" src="' + (doctors[i].mediaSrc ? doctors[i].mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}') + '" class="pull-left img-polaroid">' +
                        '<div class="medicalcenter-name add-doctors-listing pull-left">' +
                            '<h3 class="doctor-name" style="text-transform: capitalize;">'+ doctors[i].fullName + '</h3>' +
                            '<p><i class="icon-stethoscope"></i><span class="specializations">'+specializationString.substr(1)+'</span></p>' +
                        '</div>' + addLink +
                    '</li>';
    
    			});
    
    			if(matchedString) {
    				$('#matchedDoctorList').html(matchedString);
    
    				$('.add-existsing-doctor').click(function() {
    					addElem = $(this).attr('disabled', 'disabled');
                        $.ajax({
                            url: addElem.prop('href'),
                            type: 'POST',
                            dataType: "json",
                            data: {doctorId: addElem.attr('data-doctor-id') },
                            success: function(response) { 
                            	showAddConfirmationMessage(response);
                            }
                        });
    
    					return false;
    				});
    			} else {
    				$('#matchedDoctorList').html('<div style="text-align:center">No matched Doctors!.</div>');
    				$('#search-doctor').hide();
    				$('#add-doctor-btn').fadeIn();
    			}
    		});
    		
    	});
    
    	$(lastNameElem.add(firstNameElem.add(middleNameElem.add(suffixElem)))).keyup(function(){
    		if(fullName != getInputFullName()) {
    			$('#search-doctor').fadeIn();
    			$('#add-doctor-btn').hide();
    		}
    		//console.log(fullName + " = " + getInputFullName());
    	});
    
    	function showAddConfirmationMessage(response)
    	{
    		if(response.status) {
    			$('#doctorsList').find('.alert').remove();
    			confirmMessageElem.find('p:first').html('Doctor has been added to your clinic!');
    			confirmMessageElem.find('.alert').attr('class', 'alert alert-success');

			    var specializationString = '';
			    $.each(response.doctor.specializations, function(key) {
			    	specializationString += ', ' + response.doctor.specializations[key]; 
				});

                var doctorItemElem = $('#doctor-item-template').clone();

                if(specializationString) {
                	doctorItemElem.find('.doctor-specializations').text(specializationString.substr(1));
                }

                doctorItemElem.find('.edit-doctor-btn').attr('href', response.editDoctorUrl).attr('data-doctor', JSON.stringify(response.doctor));
                doctorItemElem.find('.remove-doctor-btn').attr('href', response.removeDoctorUrl);
                doctorItemElem.find('.full-name').text(response.doctor.fullName);
                doctorItemElem.find('.edit-doctor-wrapper').attr('data-doctor-id', response.doctor.id);
                doctorItemElem.find('.doctor-thumbnail').attr('id', 'doctor-thumbnail-' +response.doctor.id).attr('src', response.doctor.mediaSrc ? response.doctor.mediaSrc : '{{ imageplaceholder.doctorDefaultImage }}');
                doctorItemElem.find('form.ajaxUploadForm').attr('action', response.uploadLogoUrl).ajaxForm({
    			    success: function(res) {
    			        if(res.status) {
    				        $('#doctor-thumbnail-'+response.doctor.id).attr('src', res.doctor.mediaSrc).css('opacity', 1).next().show();
    				    } else {
    					    alert('ERROR: Unable to upload Logo!');
    					}
    			    }
    			}).submit(function(){
    				$(this).find('.hca-profile-photo-rollover').hide().prev().css('opacity', 0.5);
    		    });

        		$('#doctorsList').prepend(doctorItemElem.show());
        		$('#empty-doctors-msg').remove();

        		$('#doneSection').show();
    
    		} else {
    			confirmMessageElem.find('p:first').html('Unable to add doctor to your clinic.');
    			confirmMessageElem.find('.alert').prop('class', 'alert alert-error');
    		}
    
        	if($('#matchedDoctorList').find('li a.add-existsing-doctor').length > 1 && response.status) {
        		$('.add-existsing-doctor[data-doctor-id='+response.doctor.id+']').replaceWith('<span style="color: #AAA; vertical-align: middle; display: inline-block; margin: 35px 10px;" class="pull-right">Added to your clinic</span>');
        		return;
            }

    		confirmMessageElem.show();
    		$('#add-doctor').modal('hide');
    		setTimeout(function() {confirmMessageElem.fadeOut("slow")}, 5000);
    	}
    
        function getCleanVal(elem)
        {
            return $.trim(elem.val().toLowerCase());
        }
    
    	function getInputFullName()
    	{
    		return getCleanVal(lastNameElem) + getCleanVal(firstNameElem) + getCleanVal(middleNameElem) + getCleanVal(suffixElem);
    	}
	});
	
})(jQuery);

    function resetDoctorForms(currentDoctorId)
    {
        $('.edit-doctor-wrapper').each(function() {
            $(this).remove('.edit-doctor-form');
            doctorId = $(this).attr('data-doctor-id');

            if(doctorId != currentDoctorId) {
                $(this).slideUp().prev().find('.icon-ok:first').removeClass('icon-ok').addClass('icon-edit');

            	$(this).find('input[id^="{{ editForm.vars.id }}_"]').attr('id', 
        		function(){
            		if($(this).attr('id').substr(-4, 4) != 'temp') {

            	        elemId = $(this).attr('id');
            	        if(elemId.substr(-6, 6) == 'suffix') {
                	        $(this).parent().find('#input-' + elemId + ', #select-' + elemId + ', #btn-' + elemId).attr('id', function(){return $(this).attr('id') + '_temp'});
                	    }

            	        newId = $(this).attr('id') + '_temp';
            	        //console.log($(this).attr('id'));
            	        return newId;
                	}
        	    });
            }
        });
    }

    var InstitutionMedicalCenterDoctor = {
    	    
    }
</script>
