{% embed 'InstitutionBundle:Widgets:tabbedContent.base.html.twig' %}
    {% block tabbedContent %}
    <form id="modal_award_form" action="{{ path('institution_medicalCenter_ajaxUpdateBusinessHours', {'imcId': institutionMedicalCenter.id} ) }}">
        
        {% set _awardsByType = {
                'awards': {
                    'containerId': 'awards',
                    'header': 'Awards',
                    'tableId': 'awards_table',
                    'selectorFieldLabel': form_label(form.awards_selector),
                    'selectorFieldWidget': form_widget(form.awards_selector),
                    'list': currentGlobalAwards.award
                },
                'certifications': {
                    'containerId': 'certifications',
                    'header': 'Certifications',
                    'tableId': 'certificates_table',
                    'selectorFieldLabel': form_label(form.certifications_selector),
                    'selectorFieldWidget': form_widget(form.certifications_selector),
                    'list': currentGlobalAwards.certificate
                },
                'affiliations': {
                    'containerId': 'affiliations',
                    'header': 'Affilliations',
                    'tableId': 'affiliations_table',
                    'selectorFieldLabel': form_label(form.affiliations_selector),
                    'selectorFieldWidget': form_widget(form.affiliations_selector),
                    'list': currentGlobalAwards.affiliation
                },
                'accreditations': {
                    'containerId': 'accreditations',
                    'header': 'Accreditations',
                    'tableId': 'accreditation_table',
                    'selectorFieldLabel': form_label(form.accreditations_selector),
                    'selectorFieldWidget': form_widget(form.accreditations_selector),
                    'list': currentGlobalAwards.accreditation
                }
            }
        %}
        
        {% for _awardsListData in _awardsByType %}
            {% include 'InstitutionBundle:MedicalCenter/Partials:awardsList.base.html.twig' with { 'awardsList': _awardsListData } %}
        {% endfor %}
        
        {{ form_widget(form._token) }}
    </form>
    
    
	<div id="globalAwardModal" class="modal hide fade modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Delete Award</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove
            	<strong></strong>
            </p>
        </div>
        <div class="modal-footer">
        {% set _commonDeleteCsrfTokenAwards = form_widget(commonDeleteForm._token) %}
           <form action="{{ path('institution_medicalCenter_ajaxRemoveGlobalAward', {'imcId':institutionMedicalCenter.id, 'institutionId' : institution.id} ) }}">
                 {{ _commonDeleteCsrfTokenAwards | raw }}
                <input type="hidden" name="id" id="id" value=""/>
                <button class="btn" aria-hidden="true" data-dismiss="modal" class="btn">Cancel </button>
        	    <button data-loading-text="Processing..." id="globalAward" class="btn btn-danger delete-button" type="button" onclick="InstitutionMedicalCenter.removeGlobalAward(this); return true;">Delete</button>
            </form>
        </div>
	</div>
	
	{% include 'InstitutionBundle:Widgets/Modals:modal.editGlobalAward.html.twig' %}
    
    {% endblock %}
{% endembed %}
{% block inlineJavascriptCode %}
<script type="text/javascript">
<!--
(function($){
    $(function(){
        
        $('div.edit_award_form_container').find('input.globalAward_autocompleteYear').globalAward('autocompleteYear');
        
        $('a.edit_global_award').globalAward('edit', {
            'modal': $('div.edit_award_form_container'),
            'data_label_target': $('div.edit_award_form_container').find('.editAwardForm_awardName'),
            'input_extraValueAutocomplete': 'input.globalAward_autocompleteYear' 
        });
        
    	var _nsUrl = '{{ path("institution_medicalCenter_ajaxGlobalAwardSource", {institutionId: institution.id,imcId: institutionMedicalCenter.id}) }}';
        InstitutionGlobalAwardAutocomplete
        .setLoadHtmlContentUri('{{ path("institution_medicalCenter_ajaxAddGlobalAward", {"imcId": institutionMedicalCenter.id}) }}') 
        .setAutocompleteOptions('award', {
            source: _nsUrl+'?type=award',
            target: $('input.award_selector'),
            selectedDataContainer: $('table.awards_table tbody'),
            loader: $('table.awards_table tbody tr.loader')
        })
        .setAutocompleteOptions('certificate', {
            source: _nsUrl+'?type=certificate',
            target: $('input.certificate_selector'),
            selectedDataContainer: $('table.certificates_table tbody'),
            loader: $('table.certificates_table tbody tr.loader')
        })
        .setAutocompleteOptions('affiliation', {
            source: _nsUrl+'?type=affiliation',
            target: $('input.affiliation_selector'),
            selectedDataContainer: $('table.affiliations_table tbody'),
            loader: $('table.affiliations_table tbody tr.loader')
        })
        .setAutocompleteOptions('accreditation', {
            source: _nsUrl+'?type=accreditation',
            target: $('input.accreditations_selector'),
            selectedDataContainer: $('table.accreditation_table tbody'),
            loader: $('table.accreditation_table tbody tr.loader')
        })
        .autocomplete();
    });
    
})(jQuery);
//-->
</script>
{% endblock %}