{% for medicalCenter in pager.Results %}
    <li class="thumbnail">
         <div class="ribbon-wrapper-{{ statusList[medicalCenter.status] | lower }} ">
            <div class="ribbon-{{ statusList[medicalCenter.status] | lower }}">{{ statusList[medicalCenter.status] }} </div>
        </div>
        <img class="pull-left img-polaroid" src="{{ asset('images/institution/default_clinic.png') }}" alt="">
         <h4>{{ medicalCenter.name }} </h4>
        <p>
            <i class="location-gray2">
            </i>
            {% set _institution_medical_center_address = medical_center_complete_address_to_array(medicalCenter, ['address', 'zipCode']) %}
            {% set _institution_address = medical_center_complete_address_to_array(medicalCenter, ['city', 'state', 'country']) %}
			{{ _institution_medical_center_address | join(', ') }}
			{{ _institution_address | join(', ') }}
        </p>
        <p>
            <i class="phone-gray2">
            </i>
            {{ render_institution_medical_center_contact_number(medicalCenter) }}
        </p>
        <ul class="actions">
            <li class="view">
                <div class="btn-group">
                    <ahre class="btn btn-misc">
                        <a href="{{ path('institution_medicalCenter_edit', {'imcId':medicalCenter.id} ) }}"><i class="icon-edit"></i></a>
                    </button>
                    <button class="btn btn-misc">
                        <a href="#"><i class="icon-trash"></i></a>
                    </button>
                </div>
            </li>
        </ul>
    </li>
{% endfor %}
{% else %}
    <li class="thumbnail">
    <p><h4>No {{ statusList[navStatus] | capitalize }} listing </h4></p>
    </li>
{% endif %}
{% if pager.isPaginable %}
    {{ paginate(pager, 'institution_medicalCenter_index', app.request.query.all, 'PagerBundle:Pager:paginateAjax.html.twig') }}
{% endif %}