<ul class="thumbnails">
{% for institutionMedicalCenter in medicalCenters %}
    {% set website = institutionMedicalCenter.websites %}
    <li class="thumbnail hca-clinic-listing">
        {% set logoSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::SMALL') %}
        {% set imgSrc = institutionMedicalCenter.logo ? institution_media_src(institutionMedicalCenter.logo, logoSize) : imageplaceholder.imcDefaultLogo %}
        <img src="{{ imgSrc }}" alt="" class="pull-left img-polaroid"/>

        <div class="medicalcenter-name pull-left">
            <h3>{{ institutionMedicalCenter.name | title }}</h3>

            <div class="pull-left">
                {% if institutionMedicalCenter.contactEmail is not empty  %}
                <p>Inquries are sent to:
                    <a href="#">{{ institutionMedicalCenter.contactEmail }}</a>
                    <img alt="Health Care Abroad Verify Icon" src="{{ asset('images/institution/verify-icon.png') }} ">
                </p>
                {% endif %}

                {% if website is not empty %}
                <p>Website clicks are sent to: <a href="{{ website }}">{{ website }}</a></p>
                {% endif %}
            </div>
        </div>

        <a class="btn btn-misc edit-clinic-btn pull-right" href="{{ path('institution_medicalCenter_view', {imcId: institutionMedicalCenter.id}) }}">
            <i class="icon-edit"></i> Edit Clinic's Profile
        </a>

    </li><!-- end .hca-clinic-listing -->
{% else %}
    <li class="thumbnail">
        <p><h4>No {{ centerType | capitalize }} listing </h4></p>
    </li>
{% endfor %}
</ul>