<!-- InstitutionMedicalCenter Description Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Description', toggleBtnId: 'clinic-edit-description-btn', viewElemId: 'view-description', editElemId: 'edit-description',
        formParams: {formId: 'descriptionForm', fields: ['description']}
    } %}

    {% block viewContent %}
        <p><span id="clinicDescriptionText"> {{ institutionMedicalCenter.description != '' ? institutionMedicalCenter.description | raw : '' }} </span></p>
        {% if institutionMedicalCenter.description is empty %}
            <div class="alert alert-block">
                <div class="hca-profile-sublevel">
                    Here you can showcase description about your clinic.
                </div>
                <p class="hca-helptext">
                    You haven't yet added any description about your clinic yet.
                </p>
                <a type="button" class="btn btn-primary" onclick="$('#clinic-edit-description-btn').click()"> <i class="icon-plus">  </i> Add Entry </a>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter Address Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Address', toggleBtnId: 'clinic-edit-address-btn', viewElemId: 'view-address', editElemId: 'address',
        formParams: {formId: 'addressForm', fields: ['address']}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-map-marker icon-2x pull-left"> </i>
                Providing your complete address helps us push you to the right searches, and helps patients plan their travel better.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <p> <i class="icon-map-marker"></i>
            {% set _medicalAddress = medical_center_complete_address_to_array(institutionMedicalCenter, ['address','city', 'state', 'country','zipCode']) %}
            <span class="address_column">
                <span class="address_part "> {{ _medicalAddress | join(',&nbsp;</span><span class="address_part">') | raw }}</span>
            </span>
        </p>
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter ContactDetails Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Contact Details', toggleBtnId: 'clinic-edit-contacts-btn', viewElemId: 'view-contacts', editElemId: 'contactNumber',
        formParams: {formId: 'contactForm', fields: ['contactNumber']} 
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"></i>
            <span class="tooltip-content hca-edit pull-left">  <i class="icon-phone-sign icon-2x pull-left"> </i>
                This is how we will contact you to let you know about potential leads. Please provide the correct phone numbers and email addresses to make sure you don't miss any inquiries that may come through <b>HealthcareAbroad</b>.<br>
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        {% set _website = get_website_from_array(institutionMedicalCenter.websites)  %}
          <div id="alertDiv" class="{{ _website != '' and institutionMedicalCenter.contactEmail != '' ?  '' :'alert alert-block' }}">
            <p>  <i class="icon-globe"  ></i>
                Website: <span id="profileWebsitesText"> 
                    {% if _website %}
                       http://www.
                       <b >  {{_website}} </b>
                    {% else %}
                        <b> no clinic website </b> added.
                        <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add Website</a>
                    {% endif %}
                </span>
            </p>
            <p> <i class="icon-envelope"> </i>
                Email: <strong> <span id="profileEmailText"> 
                   {% if institutionMedicalCenter.contactEmail %}
                       {{ institutionMedicalCenter.contactEmail }}
                    {% else %}
                        <b> no contact email </b> added.
                        <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add Contact Email</a>
                    {% endif %}
                </span>  </strong>
            </p>

            <p>
                {% for contactDetail in institutionMedicalCenter.contactDetails %}
                     <i class="icon-phone"></i> {{ contact_label_type(contactDetail.type) }}
                    <strong><span id="PhoneNumberText"> 
                        {% if contactDetail.number %}
                             {{ contactDetail }}
                         {% else %}
                              <b> no phone number </b> added.
                              <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small _alert-phone"><i class="icon-plus"></i>Add Phone Number</a>
                         {% endif %}
                     </span> </strong>
                {% else %}
                    <i class="icon-phone"> </i>Phone
                    <strong><span id="profileNumberText"></span></strong>
                {% endfor %}  
            </p>
        </div>
    {% endblock %}
{% endembed %}



<!-- InstitutionMedicalCenter SocialMediaSites Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Social Media', toggleBtnId: 'clinic-edit-mediaSites-btn', viewElemId: 'view-socialMediaSites', editElemId: 'socialMediaSites',
        formParams: {formId: 'socicalMediaSitesForm', fields: ['socialMediaSites']} 
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"></i>
            <span class="tooltip-content hca-edit pull-left"> <i class="icon-ambulance icon-2x pull-left"> </i>
                Patients, especially medical tourists, always want to know what facilities and services are offered by clinics. This gives them an idea about the level of care and support that can be expected from an institution. <br><br> Please indicate only what you actually provide. Being honest helps patients plan their trip better, and lets them know what to prepare for.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        {% set mediaSites = institutionMedicalCenter_websites_to_array(institutionMedicalCenter) %}
        {% for type, site in mediaSites %}
            <p class="{{ type }}-wrapper {{ site ? '' : ' alert-block' }}"><i class="icon-{{ type == 'googleplus' ? 'google-plus' : type }}"> </i>
                <b>{{ site ? site : 'no account added'}}  
                </b>
            </p>
        {% endfor %}
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter businessHours Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Clinic Schedule', toggleBtnId: 'clinic-edit-businessHours-btn', viewElemId: 'view-businessHours', editElemId: 'edit-businessHours',
        formParams: {formId: 'businessHoursForm', fields: ['businessHours']} 
    } %}

    {% block viewContent %}
        <!-- View Mode here -->
        <ul class="single-listing" id="businessHoursView" ></ul>
        
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter Services Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Services', toggleBtnId: 'clinic-edit-services-btn', viewElemId: 'view-services', editElemId: 'services',
        formParams: {formId: 'servicesForm', fields: ['services']} 
    } %}

    {% block viewContent %}
        <div id="serviceTable">
            {% set selected = get_selected_medicalCenterServices(institutionMedicalCenter) %}
            {% if(selected | length) %}
                <ul class="single-listing">
                    {% for _service in ancillaryServicesData %}
                        {% if(selected[_service.id] is defined) %}
                            <li>{{ _service.name |title }}</li>
                    	{% endif %}
                    {% endfor %}
                </ul>
            {% else %}
             <div class="alert alert-block">
                <p class="hca-helptext">
                    You haven't yet added any services for your hospital. Explain here the
                    need to add services for your hospital.
                </p>
                <button type="button" class="btn btn-primary" onclick="InstitutionMedicalCenter.toggleForm($('#clinic-edit-services-btn'))">
                    <i class="icon-plus"></i> Add Entry
                </button>
            </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}

{% set awards = { list: currentGlobalAwards.award, editFormListWrapperId: 'listing-award' } %}
<!-- Institution Awards Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Awards', toggleBtnId: 'clinic-edit-awards-btn', viewElemId: 'show-awards', editElemId: 'awardsDiv', awardsFilterList: '#listing-award', toggleBtnClass: 'edit-awards',
        formParams: {formId: 'awardsForm', fields: ['awards'] }
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Awards </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}
    
    {% block viewContent %}
        <div id="awardsText">
            {% include 'InstitutionBundle:MedicalCenter/Widgets:institutionMedicalCenterAwards.html.twig' with { eachAward: awards , label : 'awards' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set certificates = { list: currentGlobalAwards.certificate, editFormListWrapperId: 'listing-certificate' } %}
<!-- Institution Certifications Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' with { 
        title: 'Certifications', 
        toggleBtnId: 'clinic-edit-certificates-btn', 
        viewElemId: 'show-certificates', 
        editElemId: 'certificatesDiv', 
        awardsFilterList: '#listing-certificate', 
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Certifications </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}
    
    {% block viewContent %}
        <div id="certificatesText">
            {% include 'InstitutionBundle:MedicalCenter/Widgets:institutionMedicalCenterAwards.html.twig' with { eachAward: certificates, label : 'certificates' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set affiliations = { list: currentGlobalAwards.affiliation, editFormListWrapperId: 'listing-affiliation' } %}
<!-- Institution Affiliations Section -->
    {% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' with { 
            title: 'Affiliations', 
            toggleBtnId: 'clinic-edit-affiliations-btn', 
            viewElemId: 'show-affiliations', 
            editElemId: 'affiliationsDiv', 
            awardsFilterList: '#listing-affiliation', 
            toggleBtnClass: 'edit-awards'
        } %}
    
        {% block headingHelptext %}
            <span class="tooltip-wrap hca-edit">
                <i class="icon-info-sign"> </i>
                <span class="tooltip-content hca-edit pull-left">
                
                    <i class="icon-asterisk icon-2x pull-left"> </i> <b> Affiliations </b> are indicators that assure patients and their family that your facility
                    is reliable, reputable and meets acceptable, if not superior, standards.
                </span>
            </span>
        {% endblock %}
        
        {% block viewContent %}
            <div id="affiliationsText">
                {% include 'InstitutionBundle:MedicalCenter/Widgets:institutionMedicalCenterAwards.html.twig' with { eachAward: affiliations, label : 'affiliations' } %}
            </div>
        {% endblock %}
    {% endembed %}

{% set accreditations = { list: currentGlobalAwards.accreditation, editFormListWrapperId: 'listing-accreditation' } %}
<!-- Institution Accreditations Section -->
{% embed 'InstitutionBundle:Embed:clinicProfileSection.html.twig' 
    with { 
        title: 'Accreditations', 
        toggleBtnId: 'clinic-edit-accreditations-btn', 
        viewElemId: 'show-accreditations', 
        editElemId: 'accreditationsDiv', 
        awardsFilterList: '#listing-accreditation',
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Accreditations </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}
    
    {% block viewContent %}
        <div id="accreditationsText">
            {% include 'InstitutionBundle:MedicalCenter/Widgets:institutionMedicalCenterAwards.html.twig' with { eachAward: accreditations, label : 'accreditations' } %}
        </div>
    {% endblock %}
{% endembed %}
