<div class="tabbable" >
    <ul class="nav nav-tabs profile_tabs thumbnails">
        {% for keys, centers in medicalCentersByStatus %}
            {% for key, center in centers %}
                {% if statusList[key] == 'Approved' %}
                <li class="active">
                    <a data-toggle="tab" href="#approved" class="clinic_tab_links">Approved<span>({{ center | length }}) </span>  <span class="divider"> | </span></a>
                </li>
                {% elseif statusList[key] == 'Pending' %}
                <li>
                    <a data-toggle="tab" href="#pending" class="clinic_tab_links">Pending<span>({{ center | length }})</span> <span class="divider"> | </span></a>
                </li>
                {% elseif statusList[key] == 'Draft' %}
                <li>
                    <a data-toggle="tab" href="#draft" class="clinic_tab_links">Draft<span>({{center | length}})</span> <span class="divider"> | </span></a>
                </li>
                {% elseif statusList[key] == 'Expired'%}
                <li>
                    <a data-toggle="tab" href="#expired" class="clinic_tab_links">Expired<span>({{center | length}})</span> <span class="divider"> | </span></a>
                </li>
                {% elseif statusList[key] == 'Archived'%}
                <li>
                    <a data-toggle="tab" href="#archived" class="clinic_tab_links">Archived<span>({{center | length}})</span> <span class="divider"> | </span></a>
                </li>
                {% else %}
            {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
    <div class="tab-content" id="tabbed_content">
        <div class="progress progress-striped active" style="display:none;">
            <div class="bar" style="width: 40%;"></div>
        </div>
        <div id="approved" class="tab-pane active">
            {% include 'InstitutionBundle:MedicalCenter:medicalCenterListing.html.twig' %}
        </div>
        <div id="pending" class="tab-pane"><span>Loading...</span></div>
        <div id="draft" class="tab-pane"><span>Loading...</span></div>
        <div id="expired" class="tab-pane"><span>Loading...</span></div>
        <div id="archived" class="tab-pane"><span>Loading...</span></div>
    </div>
</div>