{% set editOnClick = 'InstitutionMedicalCenter.toggleForm($(this))' %}
{% set editFormTemplate = 'InstitutionBundle:MedicalCenter/Widgets:inlineEditForm.html.twig' %}

<!-- InstitutionMedicalCenter Description Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Description', toggleBtnId: 'clinic-edit-description-btn', viewElemId: 'view-description', editElemId: 'edit-description',
        formParams: {formId: 'descriptionForm', fields: ['description']}
    } %}

    {% block viewContent %}
        <div id="clinicDescriptionText">
            {{ institutionMedicalCenter.description|raw }} 
        </div>
        <div class="alert alert-block" style="display:{{ institutionMedicalCenter.description is empty ? 'block' : 'none' }}">
            <div class="hca-profile-sublevel">
                Here you can showcase description about your clinic.
            </div>
            <p class="hca-helptext">
                You haven't yet added any description about your clinic yet.
            </p>
            <a type="button" class="btn btn-primary" onclick="$('#clinic-edit-description-btn').click()"> <i class="icon-plus">  </i> Add Entry </a>
        </div>
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter Address Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Address', toggleBtnId: 'clinic-edit-address-btn', viewElemId: 'view-address', editElemId: 'address',
        formParams: {formId: 'addressForm', fields: ['address']}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-map-marker icon-2x pull-left"> </i>
                Providing your complete address helps us push you to the right searches, and helps patients plan their travel better.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <p>
            <i class="icon-map-marker"></i>
            <span class="address_column">{{ medical_center_complete_address_to_string(institutionMedicalCenter) }}</span>
        </p>
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter ContactDetails Section -->
<!-- Quick and dirty hack -->
<a name="contact-details"></a>
 {% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Contact Details', toggleBtnId: 'clinic-edit-contacts-btn', viewElemId: 'view-contacts', editElemId: 'contactNumber',
        formParams: {formId: 'contactForm', fields: ['contactNumber']}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"></i>
            <span class="tooltip-content hca-edit pull-left">  <i class="icon-phone-sign icon-2x pull-left"> </i>
                This is how we will contact you to let you know about potential leads. Please provide the correct phone numbers and email addresses to make sure you don't miss any inquiries that may come through <b>HealthcareAbroad</b>.<br>
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        {% set website = institutionMedicalCenter.websites %}
        <div id="_view-contacts-content" class="{{ website == '' or institutionMedicalCenter.contactEmail == '' or not institutionMedicalCenter.contactDetails.first.number ? 'alert alert-block' : '' }}">
            <p><i class="icon-globe"></i> Website:
                <span id="profileWebsitesText">
                    {% if website %}
                       <b>{{ website }}</b>
                    {% else %}
                        <b>no clinic website</b> added.
                        <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add Website</a>
                    {% endif %}
                </span>
            </p>

            <p><i class="icon-envelope"></i> Email:
                <span id="profileEmailText">
                   {% if institutionMedicalCenter.contactEmail %}
                       <b>{{ institutionMedicalCenter.contactEmail }}</b>
                    {% else %}
                        <b> no contact email </b> added.
                        <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add Contact Email</a>
                    {% endif %}
                </span>
            </p>

            <p>
                {% for contactDetail in institutionMedicalCenter.contactDetails %}
                   <i class="icon-phone"></i> {{ contact_label_type(contactDetail.type) }}:
                   <span id="PhoneNumberText">
                     {% if contactDetail.number %}
                         <b>{{ contactDetail }}</b>
                     {% else %}
                         <b>no phone number</b> added.
                          <a onclick="$('#clinic-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add Phone Number</a>
                     {% endif %}
                    </span>
                {% endfor %}
            </p>
        </div>
    {% endblock %}
{% endembed %}



<!-- InstitutionMedicalCenter SocialMediaSites Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Social Media', toggleBtnId: 'clinic-edit-mediaSites-btn', viewElemId: 'view-socialMediaSites', editElemId: 'socialMediaSites',
        formParams: {formId: 'socicalMediaSitesForm', fields: ['socialMediaSites']}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit"> <i class="icon-info-sign"></i>
            <span class="tooltip-content hca-edit pull-left"> <i class="icon-ambulance icon-2x pull-left"> </i>
                Patients, especially medical tourists, always want to know what facilities and services are offered by clinics. This gives them an idea about the level of care and support that can be expected from an institution. <br><br> Please indicate only what you actually provide. Being honest helps patients plan their trip better, and lets them know what to prepare for.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        {% set social = social_media_sites_to_array(institutionMedicalCenter.socialMediaSites) %}
        <div class="{{ social.facebook == '' or social.twitter == '' or  social.googleplus == '' ? 'alert alert-block' : '' }}">
            {% for type, value in social %}
                {% set siteLabel = get_social_media_site_label(type) %}
                <p><i class="icon-{{ type == 'googleplus' ? 'google-plus' : type }}"> </i>
                 <span class="_{{ type }}-wrapper _social-media-sites">
                  {% if value %}
                     <b>{{ value }}</b>
                     {% else %}
                         <b>no {{ siteLabel|lower }} account</b> added.
                         <a onclick="$('#clinic-edit-mediaSites-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add {{ siteLabel }} account</a>
                  {% endif %}
                 </span>
                </p>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter businessHours Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Clinic Schedule', toggleBtnId: 'clinic-edit-businessHours-btn', viewElemId: 'view-businessHours', editElemId: 'edit-businessHours',
        formParams: {formId: 'businessHoursForm', fields: ['businessHours']}
    } %}

    {% block viewContent %}
        <ul class="single-listing" id="businessHoursView" >
    		{% if institutionMedicalCenter.isAlwaysOpen != 0 %}
                <li>Open 24/7</li>
    		{% else %}
    		    {% for each in institutionMedicalCenter.businessHours %}
        		   <li>
        		        {% set _bhData =  business_hours_to_view_data(each) %}
                        <span class="fbh_selected_days_label">{{ _bhData.daysLabel | upper }}</span>
                        <b class="fbh_selected_time_label">{{ _bhData.startTime }} - {{ _bhData.endTime }}</b>
                        <p class="fbh_selected_item_notes"> {{ each.notes }} </p>
                    </li>
            	{% else %}
                    <div class="alert alert-block">
                        <p class="hca-helptext">		
                            You haven't yet added business hours schedule for your {{ institutionLabel }}.
                        </p>
                        <button type="button" class="btn btn-primary edit-awards"  onclick="$('#clinic-edit-businessHours-btn').click()"><i class="icon-plus"></i> Add Entry</button>
                    </div>
    			{% endfor %}
    		{% endif %}
        </ul>
    {% endblock %}
{% endembed %}


<!-- InstitutionMedicalCenter Services Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Services', toggleBtnId: 'clinic-edit-services-btn', viewElemId: 'view-services', editElemId: 'services',
        formParams: {formId: 'servicesForm', fields: ['services']}
    } %}

    {% block viewContent %}
        <div id="servicesTable">
            {% include 'InstitutionBundle:Widgets/Profile:services.html.twig' with {
                institutionMedicalCenter: institutionMedicalCenter,
                ancillaryServicesData: ancillaryServicesData
            } %}
        </div>
    {% endblock %}
{% endembed %}

<!-- EDIT YEAR AWARD -->
{% include 'InstitutionBundle:Widgets/Profile:form.editAward.html.twig' with {
    editGlobalAwardFormAction: path('institution_medicalCenter_ajaxEditGlobalAward', {imcId: institutionMedicalCenter.id}),
    editGlobalAwardForm: editGlobalAwardForm
} %}
<!-- END OF EDIT YEAR AWARD -->

{% set awards = { list: currentGlobalAwards.award, editFormListWrapperId: 'listing-award' } %}
<!-- Institution Awards Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        medicalCenterProfile: true,
        title: 'Awards', toggleBtnId: 'clinic-edit-awards-btn', viewElemId: 'show-awards', editElemId: 'awardsDiv', awardsFilterList: '#listing-award', toggleBtnClass: 'edit-awards',
        formParams: {formId: 'awardsForm', fields: ['awards'] }
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Awards </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="awardsText">
           {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: awards, type: 'awards' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set certificates = { list: currentGlobalAwards.certificate, editFormListWrapperId: 'listing-certificate' } %}
<!-- Institution Certifications Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig' with {
        title: 'Certifications',
        toggleBtnId: 'clinic-edit-certificates-btn',
        viewElemId: 'show-certificates',
        editElemId: 'certificatesDiv',
        awardsFilterList: '#listing-certificate',
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Certifications </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="certificatesText">
            {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: certificates, type : 'certificates' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set affiliations = { list: currentGlobalAwards.affiliation, editFormListWrapperId: 'listing-affiliation' } %}
<!-- Institution Affiliations Section -->
    {% embed 'InstitutionBundle:Embed:profileSection.html.twig' with {
            title: 'Affiliations',
            toggleBtnId: 'clinic-edit-affiliations-btn',
            viewElemId: 'show-affiliations',
            editElemId: 'affiliationsDiv',
            awardsFilterList: '#listing-affiliation',
            toggleBtnClass: 'edit-awards'
        } %}

        {% block headingHelptext %}
            <span class="tooltip-wrap hca-edit">
                <i class="icon-info-sign"> </i>
                <span class="tooltip-content hca-edit pull-left">

                    <i class="icon-asterisk icon-2x pull-left"> </i> <b> Affiliations </b> are indicators that assure patients and their family that your facility
                    is reliable, reputable and meets acceptable, if not superior, standards.
                </span>
            </span>
        {% endblock %}

        {% block viewContent %}
            <div id="affiliationsText">
                {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: affiliations, type : 'affiliations' } %}
            </div>
        {% endblock %}
    {% endembed %}

{% set accreditations = { list: currentGlobalAwards.accreditation, editFormListWrapperId: 'listing-accreditation' } %}
<!-- Institution Accreditations Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Accreditations',
        toggleBtnId: 'clinic-edit-accreditations-btn',
        viewElemId: 'show-accreditations',
        editElemId: 'accreditationsDiv',
        awardsFilterList: '#listing-accreditation',
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Accreditations </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="accreditationsText">
            {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: accreditations, type : 'accreditations' } %}
        </div>
    {% endblock %}
{% endembed %}
