<div class="row">
	<div class="span2">
		<a href="#medicalCenterLogoModal" class="gallerypic" title="" role="button" data-toggle="modal">
            {% if institutionMedicalCenter.logo is not sameas(NULL) %}
                {{ media(institutionMedicalCenter.logo, institution, 'default', {alt: 'institution medical center logo'}) | raw }}
            {% else %}
                 <img class="pic" alt="[Gallery Photo]" src="{{ asset('images/institution/image_ph.png') }}" /> 
            {% endif %}
			<span class="image-icon"><img src="{{ asset('images/institution/image-icon.png') }}" width="32" height="32" alt="Zoom" title="Change Profile Photo"></span>
		</a>
	</div>
    <div class="span7 profile_header">
    	<h2 id="clinicNameText" class="pull-left">{{ institutionMedicalCenter.name }}</h2>
    	<div class="editname">
    		<i class="icon-pencil" title="Edit"></i>
    		<a href="#centerNameModal" class="modal_openers" role="button" data-toggle="modal">
    		<small>Edit</small></a>
    	</div>
    	<div class="maincontentblock">
    		<div id="clinicDescriptionText" style="display:inline-block;">{{ institutionMedicalCenter.description | raw}}</div>
			<i class="icon-pencil" title="Edit"></i>
			<a href="#centerDescriptionModal" class="modal_openers" role="button" data-toggle="modal"><small>Edit</small></a>
    		
    	</div>
    </div>
</div>

{# --- modal boxes --- #}
<!-- Modal Institution name -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'nameModalForm', fields: ['name'], modalId: 'centerNameModal', modalTitle: 'Edit Name'} 
%} <!-- end Modal Institution name -->

<!-- Modal Institution Description -->
{% include 'InstitutionBundle:Widgets:institutionMedicalCenter.editProfileModalForm.html.twig' 
     with {formId: 'descriptionModalForm', fields: ['description'], modalId: 'centerDescriptionModal', modalTitle: 'Edit Description'} 
%} <!-- end Modal Institution name -->