<section class="section row-fluid hca-clinic-heading">
    <div class="span3">
        <form class="hidden" enctype="multipart/form-data" action="{{ path('institution_medicalCenter_logo_upload', { imcId: institutionMedicalCenter.id } ) }}" method="POST">
            <a href="javascript:void(0)" class="file-browse-btn" onclick="$(this).next().click()">
                <span class="rollover hca-profile-photo-rollover"></span>
                {% if institutionMedicalCenter.logo %}
                    {% set logoSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MEDIUM') %}
                    <img src="{{ institution_media_src(institutionMedicalCenter.logo, logoSize) }}" alt="" class="imgborder"/>
                 {% else %}
                     <img class="imgborder" alt="[Gallery Photo]" src="{{ asset('images/institution/default_clinic.png') }}" /> 
                 {% endif %}
            </a>
            <input type="file" accept="image/*" onchange="$(this).parent().submit()" name="logo">
        </form>
    </div>
    <div class="span9">
       <h1> {{ institutionMedicalCenter.name }}  </h1>
       <p> <small> under </small>
            <a href="hospital-profile.html">{{ institution.name }}</a>
        </p>
    </div>
</section>
