<aside class="span4">
    <section class="aside-box default dashboard-side">
        <h3>Location</h3>
        {% block asideContent %}
    	    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ institutionMedicalCenter.coordinates }}&zoom=15&size=260x200&sensor=false&markers=%7Alabel:S%7C{{ institutionMedicalCenter.coordinates }}" id="medical-center-static-map">
    	{% endblock %}
    	<small>
    	    <a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?center={{ institutionMedicalCenter.coordinates }}&zoom=15&size=800x600&sensor=false&markers=%7Alabel:S%7C{{ institutionMedicalCenter.coordinates }}" style="color:#000;text-align:left">
    	        View Larger Map
    	    </a>
        </small>
        <p>This is your Location if for some reason your location is not in the vicinity, please</p> <a onclick="$('a[href=#profile_tab]').click(); $('#clinic-edit-address-btn').click()" class="btn btn-primary"><i class="icon-map-marker"></i> Edit your address</a>
    </section>
    <section class="aside-box default dashboard-side">
      {% if medicalCenterPhotos|length %}
        <h3>Photos</h3>
        <div class="features">
            <ul class="thumbnails">
            {% set thumbnail = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::MINI') %}
            {% for each in medicalCenterPhotos %}
                <li>
                    <a class="fancybox large-thumbnail" rel="gallery"  href="{{ institution_media_src(each) }}" title="{{ each.caption }}">
                    <img class="thumbnail" src="{{ institution_media_src(each, thumbnail) }}" alt="" width="60"> </a>
                </li>
            {% endfor %}
            </ul>
             <a href="#add-media" class="btn btn-primary" data-toggle="modal"><i class="icon-picture icon-24x hca-earth"></i>Upload Media</a>
        </div>
        {% else %}
            <h3> Add PHOTOS to boost your Clinic Profile </h3>
            <div class="features">
                <div class="row">
                    <div class="hca-gallery-upload alert alert-block">
                        <p class="hca-helptext"> You haven't yet added any Media File for your clinic.</p>
                        <a href="#add-media" class="btn btn-primary" data-toggle="modal"><i class="icon-picture icon-24x hca-earth"></i>Upload Media</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
</aside>
    
<link rel="stylesheet" href="{{ asset('bundles/media/js/fancybox/jquery.fancybox.css?v=2.1.0') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('bundles/media/js/fancybox/jquery.fancybox.pack.js?v=2.1.0') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
        	'autoDimensions'	: false,
			'width'         		: 350,
			'height'        		: 'auto',
			'transitionIn'		: 'none',
            });
    });

</script>

