{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'cities' %}
{% set cityLabel = getClassLabel('city') %}

{% block content %}
    <div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
    <div id="content" class="span9">
 
 	   {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: cityLabel.plural | title,
                actions: [{link: path('admin_city_add'), label: 'Add '~ cityLabel.singular | title, 'icon' : 'icon-ok' }] 
            }  
        %}
    
 		{% block sectionContent %}
            
            <div id="filter-wrapper2">
                <form id="{{ filterForm.vars.id }}" action="#" method="get" class="form-search" novalidate>
                    <label>Country:</label>
                    {{ form_widget(filterForm.country, {attr:{placeholder: 'Select a country'} }) }}
                    <label>State:</label>
                    {{ form_widget(filterForm.state, {attr:{placeholder: 'Select a state'} }) }}
                    <label>City name:</label><br />
                    {{ form_widget(filterForm.name, {attr:{placeholder: 'Select by name'} }) }}
        			<button class="btn btn-success" type="submit" >Go</button>
                </form>
        		
            </div>
                
            <table id="city-list" class="table table-bordered sortable-list">
                <thead>
                    <tr>
                       <th id="column-name">Name</th>
                       <th id="column-country">Country</th>
                       <th width="15%">Actions</th>
                    </tr>
                </thead>
                
                <tbody></tbody>
            
            </table>
        {% endblock %}
            
        {% endembed %}
    </div>
    
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
<!--
(function($){
    $(function(){
        var LOAD_CITIES_API = '{{ get_load_cities_api_uri() }}';
        var loadingHtml = '<tr class="info"><td colspan="3">Loading...</td></tr>';
        var prototype = '{{ getTemplateContents("AdminBundle:City:itemView.city.html.twig") | raw }}';
        
        $('#{{ filterForm.vars.id }}').submit(function(e){
            e.preventDefault();

            $('#city-list tbody').html(loadingHtml);
            
            $.ajax({
                url: LOAD_CITIES_API,
                data: {country_id: $('#{{ filterForm.country.vars.id }}').val(), state_id: $('#{{ filterForm.state.vars.id }}').val()},
                type: 'get',
                dataType: 'json',
                success: function(response){
                    $('#city-list tbody').html('');
                    $.each(response.cities, function(k, cityData){
                        var view = $(prototype);
                        view.find('.data-name').html(cityData.name);
                        //view.find('.data-countryName').html(cityData.country.name);
                        $('#city-list tbody').append(view);
                    });
                }
            });
        });
    });
})(jQuery);
//-->
</script>
{% endblock %}

