{#
Use: Clinic has received an inquiry from a prospective patient on HCA
Subject:  This Prospective Patient Inquiry is from {{ site_name }}:
Sent from: inquiry@healthcareabroad.com
#}
{% block subject %}
    {% autoescape false %}
This Prospective Patient Inquiry is from {{ site_name }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}

--------------------------------------------------------------------------------
You have received this email inquiry because {{ facility_name }} has a listing on {{ site_name }}. To view your listing visit : {{ url.facility }}
--------------------------------------------------------------------------------

Facility: {{ facility_name }}

Name:  {{ inquiry.name }}

Email:  {{ inquiry.email }}

Message:  {{ inquiry.message }}

--------------------------------------------------------------------------------
View a history of inquiries and manage your clinic profiles by visiting:  {{ url.login }}

If you are interested in increasing the amount of leads you receive from {{ site_name }}, or have questions please contact Greg Mogab at greg.mogab@healthcareabroad.com or visit: {{ url.advertising_guide }}

Need help?  Contact Support at {{ email.support }} or visit {{ url.support }} .

    {% endautoescape %}
{% endblock %}

{% block body_html %}
<br/>

<div style="width: 100%; height: 1px; border-top: 2px dotted #000000;"></div>
You have received this email inquiry because {{ facility_name }} has a listing
on {{ site_name }}.
<br/>
To view your listing visit : <a href="{{ url.facility }}">{{ url.facility }}</a>
<div style="width: 100%; height: 1px; border-top: 2px dotted #000000;"></div>
<br/>
Facility: {{ facility_name }}
<br/><br/>
Name:  {{ inquiry.name }}
<br/><br/>
Email:  {{ inquiry.email }}
<br/><br/>
Message:  {{ inquiry.message }}
<br/><br/>
<div style="width: 100%; height: 1px; border-top: 2px dotted #000000;"></div>
<br/>
View a history of inquiries and manage your clinic profiles by visiting:  <a href="{{ url.login }}">{{ url.login }}</a>
<br/><br/>
If you are interested in increasing the amount of leads you receive from {{ site_name }}, or have questions please contact Greg Mogab at greg.mogab@healthcareabroad.com or visit: <a href="{{ url.advertising_guide }}">{{ url.advertising_guide }}</a>
<br/><br/>
Need help?  Contact Support at {{ email.support }} or visit <a href="{{ url.support }}">{{ url.support }}</a>.

{% endblock %}