{#
RULES: This should be sent upon clinic listing submission/creation. Sent to email address of person who added the listing. Copy sent to account owner.
Assumptions: Hospital profile has been created IF not a single clinic.
Auto-notification subject line: #Clinic_Name# has been added to {{ site_name }}
    changed to: #Clinic_Name# is AWAITING APPROVAL on {{ site_name }}
Auto-notification From address: support@healthcareabroad.com
#}

{% block subject %}
    {% autoescape false %}
{{ clinic_name }} is AWAITING APPROVAL on {{ site_name }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}

Thank you for creating a profile for {{ clinic_name }} at {{ institution_name }} on {{ site_name }}!

AWAITING APPROVAL: For quality assurance purposes, your submission is subject to review. This process is usually completed in a few hours but may take up to 2 days.

To insure prospective patients find complete and relevant information about everything that your clinic has to offer, we suggest that you complete your clinic’s profile by insuring your profile includes:
- Review your clinic information (static list) {{ url.center }}
- Add any units or departments you may have missed {{ url.add_centers }}
- Post photos of your clinic {{ url.center_gallery }}
- Review the treatments you listed {{ url.center_treatments }}
- Review your doctor list {{ url.center_doctors }}

To add to your clinic profile please login at: {{ url.login }}

Prospective patients will contact your clinic through:
- Email inquiries will be sent to {{ email.inquiries }}

Give your patients the ability to connect to your clinic through social media, web links, and by telephone. Strengthen your clinic’s brand by including a cover photo, logo, photo gallery, and videos on your Clinic Profile page by upgrading your clinic’s listing. Packages start at less than $1 per day, and can have an immediate impact.  If you are interested in upgrading, or have questions please contact Greg Mogab at greg.mogab@healthcareabroad.com or visit: {{ url.advertising_guide }} .

Please take the time to review your listing and double check your email address. If changes are required please login at {{ url.login }} to edit your account or contact {{ email.support }} .

All the best,

The {{ site_name }} Team

    {% endautoescape %}
{% endblock %}

{% block body_html %}

Thank you for creating a profile for {{ clinic_name }} at {{ institution_name }} on {{ site_name }}!
<br/><br/>
AWAITING APPROVAL: For quality assurance purposes, your submission is subject to review. This process is usually completed in a few hours but may take up to 2 days.
<br/><br/>
To insure prospective patients find complete and relevant information about everything that your clinic has to offer, we suggest that you complete your clinic’s profile by insuring your profile includes:
<ul>
    <li><a href="{{ url.center }}">Review your clinic information (static list)</a></li>
    <li><a href="{{ url.add_centers }}">Add any units or departments you may have missed</a></li>
    <li><a href="{{ url.center_gallery }}">Post photos of your clinic</a></li>
    <li><a href="{{ url.center_treatments }}">Review the treatments you listed</a></li>
    <li><a href="{{ url.center_doctors }}">Review your doctor list</a></li>
</ul>
<br/>
To add to your clinic profile please login at: <a href="{{ url.login }}">{{ url.login }}</a>
<br/><br/>
Prospective patients will contact your clinic through:
<ul>
    <li>Email inquiries will be sent to {{ email.inquiries }}</li>
</ul>
<br/>
Give your patients the ability to connect to your clinic through social media, web links, and by telephone. Strengthen your clinic’s brand by including a cover photo, logo, photo gallery, and videos on your Clinic Profile page by upgrading your clinic’s listing. Packages start at less than $1 per day, and can have an immediate impact.  If you are interested in upgrading, or have questions please contact Greg Mogab at greg.mogab@healthcareabroad.com or visit: {{ url.advertising_guide }} .
<br/><br/>
Please take the time to review your listing and double check your email address. If changes are required please login at <a href="{{ url.login }}">{{ url.login }}</a> to edit your account or contact {{ email.support }} .
<br/><br/>
All the best,
<br/><br/>
The {{ site_name }} Team

{% endblock %}
