{#
***This should be sent upon NEW listing approval (not an edit to an existing listing)
Auto-notification subject line: Patients can now find your clinic on {{ site_name }}!
Auto-notification From address: support@healthcareabroad.com
#}
{% block subject %}
    {% autoescape false %}
Patients can now find your clinic on {{ site_name }}!
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}

Your clinic listing has been approved!

Patients will find your clinic on {{ site_name }} when they search for:

- Any of your Specializations
- Treatments you selected under those specializations
- A search for the City or Country your clinic is in
- Any combination of the above

To ensure prospective patients find complete and relevant information about everything that your clinic has to offer, we suggest that you complete your clinic’s profile by insuring your profile includes:

- Review your clinic information (static list): {{ url.center }}
- Add any units or departments you may have missed: {{ url.add_centers }}
- Post photos of your clinic: {{ url.center_gallery }}
- Review the treatments you listed: {{ url.center_treatments }}
- Review your doctor list: {{ url.center_doctors }}

To update your clinic profile please login at: {{ url.login }}

If you need assistance or guidance on what type of information to include, please contact us at {{ email.support }}.

IMPORTANT: To make sure you don't miss any inquiries, list and double check your contact information: {{ url.contact_info }}

We would love the opportunity to discuss how employing some advanced features for your listing can increase the amount of leads you receive from {{ site_name }}. Packages start at less than $1 per day, and can have an immediate impact. For full details of all available features, visit: {{ url.advertising_guide }} .

Please take the time to review your listing and double check your email address. If changes are required please login at {{ url.login }} to edit your account or contact {{ email.support }} . Please note that future edits are subject to review and approval.

All the best,

The {{ site_name }} Team

    {% endautoescape %}
{% endblock %}

{% block body_html %}

Your clinic listing has been approved!
<br/><br/>

Patients will find your clinic on {{ site_name }} when they search for:
<ul>
    <li>Any of your Specializations</li>
    <li>Treatments you selected under those specializations</li>
    <li>A search for the City or Country your clinic is in.</li>
    <li>Any combination of the above</li>
</ul>
<br/>

To ensure prospective patients find complete and relevant information about everything that your clinic has to offer, we suggest that you complete your clinic’s profile by insuring your profile includes:
<ul>
    <li><a href="{{ url.center }}">Review your clinic information (static list)</a></li>
    <li><a href="{{ url.add_centers }}">Add any units or departments you may have missed</a></li>
    <li><a href="{{ url.center_gallery }}">Post photos of your clinic</a></li>
    <li><a href="{{ url.center_treatments }}">Review the treatments you listed</a></li>
    <li><a href="{{ url.center_doctors }}">Review your doctor list</a></li>
</ul>
<br/>

To add to your clinic profile please login at: {{ url.login }}
<br/><br/>
If you need assistance or guidance on what type of information to include, please contact us at {{ email.support }} .
<br/><br/>
IMPORTANT: To make sure you don't miss any inquiries, list and double check your contact information >> <a href="{{ url.contact_info }}">{{ url.contact_info }}</a>
<br/><br/>
We would love the opportunity to discuss how employing some advanced features for your listing can increase the amount of leads you receive from {{ site_name }}. <b>Packages start at less than $1 per day,</b> and can have an immediate impact. For full details of all available features, visit: <a href="{{ url.advertising_guide }}">{{ url.advertising_guide }}</a>.
<br/><br/>
Please take the time to review your listing and double check your email address. If changes are required please login at <a href="{{ url.login }}">{{ url.login }}</a> to edit your account or contact {{ email.support }} . Please note that future edits are subject to review and approval.
<br/><br/>
All the best,
<br/><br/>
The {{ site_name }} Team
{% endblock %}