{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'procedure_types' %}
{% set selectedSubTab = id ? '' : 'procedure_types_add'%}

{% block content %}

	<div id="content">

		<div id="page-heading"><h1>{{ id  ? 'Edit' : 'Add' }} Medical Procedure Type</h1></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}
			<form novalidate="novalidate" class="basic-form" action="{{ id ? path('admin_procedureType_update', {'id':id}) : path('admin_procedureType_create') }}" method="post" {{ form_enctype(form) }}>
				{{ form_row(form.name) }}
				{{ form_row(form.description) }}
				{{ form_row(form.medical_center) }}
				{{ form_row(form.status) }}
				{{ form_rest(form) }}
			    <input type="submit" class="form-submit" name="submit"/>
			</form>
			{% endblock %}

		{% endembed %}
	</div>

{% endblock %}