{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_procedureTypes' %}

{% block content %}
    <div id="content">

        <div id="page-heading"><h2>List of Medical Procedure Types</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}
    
                {% set contents = [{
                        'title': 'Add procedure type', 
                        'description': 'Add new medical procedure type',
                        'class': 'add-icon',
                        'href': path('admin_procedureType_add', {'medicalCenterId': medicalCenterId ? medicalCenterId : null }), 
                        'links': [
                            {'title': 'Add procedure type', 'href': path('admin_procedureType_add', {'medicalCenterId': medicalCenterId ? medicalCenterId : null } )}
                        ]
                    }]
                %}
    
                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
                
                
                <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}

                <div style="width: 70%">
                    <table id="procedure-type-list" class="generic-table sortable-list" width="100%">
                    <tr>
                        <th id="column-name" class="minwidth-1">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Procedure</a>
                        </th>
                        <th id="column-description" class="minwidth-1" width="250">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'description' ? 'sort-' ~ sortOrder : '' }}">Description</a>
                        </th>
                        <th id="column-medicalCenter" class="minwidth-1" width="250">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'medicalCenter' ? 'sort-' ~ sortOrder : '' }}">Medical Centers</a>
                        </th>
                        <th class="actions" width="180">Actions</th>
                    </tr>

                    {% for type in procedureTypes %}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td>{{ type.description }}</td>
                            <td>
                                <a href="#" class="medical-center">{{ type.medicalCenter.name }}</a>
                            </td>
                            <td align="center">
                                <a href="{{ path('admin_procedureType_edit', {id:type.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
                                {% set class = type.status ? 'icon-2' : 'icon-5' %}
                                <a href="{{ path('admin_procedureType_updateStatus', {id:type.id}) }}" title="{{ type.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
                                    <a href="{{ path('admin_medicalProcedure_index', {medicalProcedureType:type.id}) }}" class="icon-type">procedures</a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td class="empty-list" colspan="4">No records yet!</td></tr>
                    {% endfor %}
                    </table>

                    {% if pager.isPaginable %}
                       {{ paginate(pager, 'admin_procedureType_index', app.request.query.all) }}
                    {% endif %}   
                </div>

            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}