{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_procedureTypes' %}

{% block content %}
	<div id="content">

		<div id="page-heading"><h2>List of Medical Procedure Types</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			{% include '::notice.admin.html.twig' %}

			{% set contents = [{
					'title': 'Add procedure type', 
					'description': 'Add new medical procedure type',
					'class': 'add-icon',
					'href': path('admin_procedureType_add'), 
					'links': [{'title': 'Add a procedure type', 'href': path('admin_procedureType_add')}]
				}]
			%}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			<table id="procedure-type-list" class="generic-table" width="70%">
			<tr>
				<th class="table-header-repeat line-left minwidth-1"><a href="">Procedure</a></th>
				<th class="table-header-repeat line-left" width="250"><a href="">Description</a></th>
				<th class="table-header-repeat line-left" width="250"><a href="">Medical Centers</a></th>
				<th class="table-header-options actions line-left"><a href="">Actions</a></th>
			</tr>

			{% for type in procedureTypes %}
				<tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
					<td>{{ type.name }}</td>
					<td>{{ type.description }}</td>
					<td>
						{% for center in type.medicalCenter%}
						<a href="#">{{ center.name }}</a>&nbsp;
						{% endfor %}
					</td>
					<td align="center">
						<a href="{{ path('admin_procedureType_edit', {id:type.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
						{% set class = type.status ? 'icon-2' : 'icon-5' %}
						<a href="{{ path('admin_procedureType_updateStatus', {id:type.id}) }}" title="{{ type.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
					</td>
				</tr>
			{% else  %}
				<tr><td class="empty-list" colspan="4">No records yet!</td></tr>
			{% endfor %}
			</table>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock %}