{# This layout is used by pages viewed under a specific institution  #}

{% set selectedTab = 'institutions' %}
{% extends '::base.admin.html.twig' %}

{% block title %}{{ parent() }} &raquo; Admin Panel{% endblock %}

{% block body %}

<body>

    <!-- Top Navigation -->
    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a href="{{ path('admin_homepage') }}" class="brand" style="padding-top:0;padding-bottom:0;"><img longdesc="#" alt="Health Care Abroad Logo" src="/images/institution/HCA-logo-small.png"></a>
              <div class="nav-collapse collapse">
                  {% include 'AdminBundle:Default:mainNavigation.html.twig' %}

                <!-- Search Section -->
                {#% render 'SearchBundle:Default:showWidget' with {'context': 'admin'} %#}


                {% include 'AdminBundle:Default:rightNavigation.html.twig' %}

              </div><!--/.nav-collapse -->
            </div>
          </div>
    </div>
    <!-- End of Top Navigation -->
    
    <div id="main-content">
        <div class="row-fluid">
            {% include 'InstitutionBundle:Widgets:profileHeader.html.twig' %}
    	</div>

    	<div class="container maincontent" style="margin-top:20px;">
    	    {% include '::notice.admin.html.twig' %}

		    {% include 'AdminBundle:Institution:sidebar.html.twig' %}

	        {% block content %}{% endblock %}
    		<!-- End of main_content-->
    	</div>
    </div>

    {% include '::footer.admin.html.twig' %}

    <div id="dialog-container"></div>

    {% block javascripts %}
        <script src="{{ asset('bundles/helper/js/Location.js') }}"></script>
    {% endblock %}

    {% block inlineJavascriptCode %}
    	<script src="{{ asset('js/jquery/jquery-1.8.2.js') }}"></script>
    	<script src="{{ asset('js/jquery/globalize.js') }}"></script>
    	<script src="{{ asset('js/jquery/jquery.mousewheel.js') }}"></script>
    	<script src="{{ asset('js/jquery/jquery-ui-1.9.1.custom.js') }}"></script>
    	<script src="{{ asset('js/jquery/jquery-ui-1.9.1.custom.min.js') }}"></script>
    	<script >
            $.widget( "ui.timespinner", $.ui.spinner, {
                options: {
                    // seconds
                    step: 60 * 15000,
                    // hours
                    page: 60
                },
         
                _parse: function( value ) {
                    if ( typeof value === "string" ) {
                        // already a timestamp
                        if ( Number( value ) == value ) {
                            return Number( value );
                        }
                        return +Globalize.parseDate( value );
                    }
                    return value;
                },
         
                _format: function( value ) {
                    return Globalize.format( new Date(value), "t" );
                }
            });
    	 
    	    $(function() {
    	    	$( ".hour" ).timespinner();
    
    	    	$('input.is_closed_checkbox').each(function(){
    			    if(this.checked) {
    			    	$(this).parent().parent().find('.hour').val("");
    			    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: true });
    				}
    			});
    	    });
    
    	    $('input.is_closed_checkbox').change(function(){
    		    if(this.checked) {
    		    	$(this).parent().parent().find('.hour').val("");
    		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: true });
    			}
    		    else 
    		    {
    		    	$(this).parent().parent().find('.hour').val("8:00 AM");
    		    	var id = $(this).parent().parent().find('.hour').timespinner({ disabled: false });
    		    }
    		   
    		});
    
    		$('#saveBusinessHours').click(function() {
    			var businessHours = $('#business').serialize();
    			$('div#ajax_loader').show();
    			$.ajax({
    		        url: "{{ path('admin_institution_medicalCenter_edit', { 'institutionId':institution.id, 'imcId': institutionMedicalCenter.id }) }}",
    		        data: businessHours,
    		        type: 'post',
    		        success: function(){
    		        	$('div#ajax_loader').hide();
    		        }
    	        });
    	        
    			
    			return false;
    		});
    
    		</script>
        	
        {% endblock %}
</body>

{% endblock %}

