{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerTerm = getClassLabel('institution_medical_center') %}
{% set centerLabel = centerTerm.singular | title %}
{% set centersLabel = centerTerm.plural | title %}
{% block content %}
    <div class="span9">
        {% include '::notice.admin.html.twig' %}

        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: 'Global Awards /  Certifications '
            }
        %}
            {% block sectionContent %}
               <form  action="#" method="POST" >
               {% set _awardsByType = {
                        'awards': {
                            'fieldId': 'awards_field',
                            'containerId': 'awards',
                            'header': 'Awards',
                            'tableId': 'awards_table',
                            'selectorFieldLabel': form_label(form.awards_selector),
                            'selectorFieldWidget': form_widget(form.awards_selector, {attr: {class:'global_award_autocomplete', 'data-globalAwardType': 'award', 'data-globalAwardContainer': 'table.awards_table tbody', 'data-fieldId' : '.awards_field'} }),
                            'list': currentGlobalAwards.award
                        },
                        'certifications': {
                            'fieldId': 'certifications_field',
                            'containerId': 'certifications',
                            'header': 'Certifications',
                            'tableId': 'certificates_table',
                            'selectorFieldLabel': form_label(form.certifications_selector),
                            'selectorFieldWidget': form_widget(form.certifications_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'certificate', 'data-globalAwardContainer': 'table.certificates_table tbody', 'data-fieldId' : '.certifications_field'} }),
                            'list': currentGlobalAwards.certificate
                        },
                        'affiliations': {
                            'fieldId': 'affiliations_field',
                            'containerId': 'affiliations',
                            'header': 'Affilliations',
                            'tableId': 'affiliations_table',
                            'selectorFieldLabel': form_label(form.affiliations_selector),
                            'selectorFieldWidget': form_widget(form.affiliations_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'affiliation', 'data-globalAwardContainer': 'table.affiliations_table tbody', 'data-fieldId' : '.affiliations_field'} }),
                            'list': currentGlobalAwards.affiliation
                        },
                        'accreditations': {
                            'fieldId': 'accreditations_field',
                            'containerId': 'accreditations',
                            'header': 'Accreditations',
                            'tableId': 'accreditation_table',
                            'selectorFieldLabel': form_label(form.accreditations_selector),
                            'selectorFieldWidget': form_widget(form.accreditations_selector, {attr: {class:'global_award_autocomplete','data-globalAwardType': 'accreditation', 'data-globalAwardContainer': 'table.accreditation_table tbody', 'data-fieldId' : '.accreditations_field'} }),
                            'list': currentGlobalAwards.accreditation
                        }
                    }
                %}
            
            {% for _awardsListData in _awardsByType %}
                {% include 'AdminBundle:InstitutionProperties/Partials:awardsList.base.html.twig' with { 'awardsList': _awardsListData } %}
            {% endfor %}
            
            {{ form_widget(form._token) }}
                
            </form>
                
    	<div id="institutionGlobalAwardModal" class="modal hide fade modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        	<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>Delete Award</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove
                	<strong></strong>
                </p>
            </div>
            <div class="modal-footer">
            {% set _commonDeleteCsrfTokenAwards = form_widget(commonDeleteForm._token) %}
               <form action="{{ path('admin_institution_ajaxRemoveGlobalAward', {institutionId: institution.id} ) }}">
                     {{ _commonDeleteCsrfTokenAwards | raw }}
                    <input type="hidden" name="id" id="id" value=""/>
                    <button class="btn" aria-hidden="true" data-dismiss="modal" class="btn">Cancel </button>
            	    <button data-loading-text="Processing..." id="globalAward" class="btn btn-danger delete-button" type="button" onclick="$.GlobalAutocompleteAction.removeGlobalAward(this); return true;">Delete</button>
                </form>
            </div>
    	</div>
	
	    {% include 'AdminBundle:InstitutionGlobalAwards/Modals:edit.html.twig' %}
                
            {% endblock %}

        {% endembed %}
    </div>
{% endblock %}
{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/institution/js/institutionTreatments.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admin/js/properties.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery/timepicker.js') }}"></script>
    <script src="{{ asset('js/jquery/globalize.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.ui.mask.js') }}"></script>
    <script type="text/javascript">
        $(function() {

            
            $('a.edit_global_award').globalAward('edit', {
                'modal': $('div.edit_award_form_container'),
                'data_label_target': $('div.edit_award_form_container').find('.editAwardForm_awardName'),
                'input_extraValueAutocomplete': 'input#institution_global_award_form_extraValue' 
            });

            $.GlobalAutocompleteAction.setLoadHtmlContentUri('{{ path("admin_institution_ajaxAddGlobalAward", {"institutionId": institution.id}) }}');

            $('input.global_award_autocomplete').globalAward('autocompleteAward', {
                'remoteUrl': '{{ path("admin_ajaxGlobalAwardSource", {institutionId: institution.id}) }}' 
            });
            
        });
        
    </script>
{% endblock %}