<div id="filter-wrapper">
	
	{% for name, filter in filters %}
		<div>
			<label>{{ filter.label }}:</label>
			<select name="{{ name }}" id="filter-{{ name }}" class="filter-params styledselect_form_1">
				{% for value, label in filter.options %}
					<option value="{{ value }}" {{ value == filter.selected ? 'selected' : ''}}>{{ label }}</option>
				{% endfor %}
			</select>
		</div>
	{% endfor %}

	<button class="btn btn-success" type="button" onclick="HCA.filterResult('{{ url }}')">Go</button>
</div>