{% extends 'FrontendBundle::layout.html.twig' %}

{#% block searchBox %#}
    {#% render "SearchBundle:Frontend:showWidget" with {
        'context': 'destinationsPage',
        'countryId': city.country.id,
        'countryName': city.country.name,
        'cityId': city.id,
        'cityName' : city.name}
    %#}
{#% endblock %#}

{% block content %}
    {% block wrappedContent %}

        <div class="main">
            <div class="box_outer">

                <!-- Country List -->
                {% if countries|length %}
                <div>
                    <ul>
                    {% for country in countries %}
                        <li><a href="{{ country.url }}">{{ country.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <!-- Search Results -->
                <div>
                    You searched for medical centers having {% if procedure %}{{ procedure.name }}{% else %}{{treatment.name}}{% endif %}
                    <ul>
                    {% for center in centers %}
                        <li>
                            <!-- Hardcode for now -->
                            <a href="/{% if(app.environment == 'dev') %}app_dev.php/{% endif %}{{ center.institution.country.slug }}/{{ center.institution.city.slug }}/{{ center.medicalCenter.slug }}/{{ treatment.slug }}" >
                                {{ center.medicalCenter.name }}
                            </a>
                        </li>
                    {% else %}
                        <li>No medical centers found.</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </div> <!--End Main-->
        <!-- Sidebar Navigation -->
        {% block right_navigation %}
            {% include 'FrontendBundle:Default:sidebar.html.twig' %}
        {% endblock %}

    {% endblock %}

    {{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }}

{% endblock %}