{% extends 'FrontendBundle::layout.html.twig' %}

{% block searchBox %}
    {% render "SearchBundle:Frontend:showWidget" with { 'context' : 'destinationsPage', 'countryId': country.id, 'countryName' : country.name} %}
{% endblock %}

{% block content %}

    {% block wrappedContent %}

        <div class="main">
            <div class="box_outer">

                You searched for medical centers located at {{ country.name }}

                <ul>
                {% for center in centers %}
                    <li>
                        <a href="/{% if(app.environment == 'dev') %}app_dev.php/{% endif %}{{ country.slug }}/{{ center.medicalCenter.slug }}" >{{ center.medicalCenter.name }}</a>
                    </li>
                {% else %}
                    <li>No medical centers found.</li>
                {% endfor %}
                </ul>

            </div>

        </div> <!--End Main-->
        <!-- Sidebar Navigation -->
        {% block right_navigation %}
            {% include 'FrontendBundle:Default:sidebar.html.twig' %}
        {% endblock %}

    {% endblock %}

    {{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }}

{% endblock %}