{% extends 'FrontendBundle::layout.html.twig' %}

{#{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}#}

{% block content %}
<div id="back-top"><div class="backtotop img-rounded"><a href="#top"><span><i class="icon-chevron-up"></i></span>Top</a></div></div>
<div class="search-results-wrapper">
    <h2 class="heading">Please try our suggestions below:</h2>
    <h3 class="heading">Try Searching again</h3>

    {{ render_search_homepage_widget({attr: {class: ''}}) | raw }}

    <h4 class="heading">Or, browse our list of <b>Specializations:</b></h4>

    <div class="anchor-links">
        {% set letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}
        <ul>
            {% for letter in letters %}
             <li><a href="#{{ letter }}" class="btn tiny default">{{ letter|upper }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="media search-matches">
        <div class="matches">
            {% for specialization in specializations %}
                <ul class="match" >
                    <li>
                        {% set indexLetter = specialization.name|lower|slice(0, 1) %}
                        <h5><a href="{{ path('frontend_search_results_specializations', {specialization: specialization.slug}) }}" id="{{ indexLetter }}">{{ specialization.name }}</a></h5>
                    </li>

                    {% set groupedSpecializations = group_treatments_by_subspecialization(specialization.treatments) %}

                    {% for subSpecializationName,each in groupedSpecializations %}

                    <li>
                        <ul class="match">

                        {% if each.subSpecialization %}
                            <li><h5>
                                <a href="{{ path('frontend_search_results_subSpecializations', {specialization: specialization.slug, subSpecialization: each.subSpecialization.slug}) }}"> {{ subSpecializationName }}</a>
                                </h5>
                            </li>
                        {% else %}
                            {{ groupedSpecializations | length > 1 ? '<li><h5><a href="#">Other treatments</a></h5></li>' : '' }}
                        {% endif %}

                        {% for treatment in each.treatments %}
                            <li><a href="{{ path('frontend_search_results_treatments', {specialization: specialization.slug, treatment: treatment.slug }) }}">{{ treatment.name }}</a></li>
                        {% endfor %}

                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
(function($){
    $(function(){
    // hide #back-top first
    $("#back-top").hide();
    
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });
})(jQuery);
</script>
{% endblock %}