{% extends 'FrontendBundle::layout.html.twig' %}

{#{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}#}

{% block content %}
    <div class="search-results-wrapper span8">
        {#<h2 class="heading"><strong>{{ searchResults.getTotalResults }}</strong> {{ searchResults.getTotalResults > 1 ? 'Results' : 'Result' }} Found</h2> #}

        <div class="content-profile-widget-wrapper">
            <h3 class="heading">
                We found <em>{{ searchResults.getTotalResults }}</em> {{ searchResults.getTotalResults > 1 ? 'results' : 'result' }}.
            </h3>

            {% if searchResults.isPaginable %}
                <h3 class="heading">Refine your results.</h3>
                {# Refine results form #}
                {% include 'SearchBundle:Frontend/Widgets:narrowsearch.html.twig' %}
            {% endif %}
        </div>

        {% for searchResultVo in searchResults %}
            {# BC for old search results whose result item is a medical center #}
            {% set center = searchResultVo.institutionMedicalCenter is defined ? searchResultVo.institutionMedicalCenter : searchResultVo %}
            {# do this to save query #}

            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                   'statisticsDataObject': searchResultVo.institutionMedicalCenter,
                   'searchResultItem' : {
                          url: get_institution_medical_center_frontend_url(center),
                          logo: render_institution_medical_center_logo(center),
                          featuredMedia: center.institution.featuredMedia,
                          name: center.name,
                          institutionName: center.institution.name,
                          description: center.descriptionHighlight|length ? center.descriptionHighlight : (center.description|length > 300 ? center.description|slice(0, 300) ~ '...' : center.description),
                          mainAddress: medical_center_complete_address_to_string(center, ['city', 'state', 'country']),
                          streetAddress: medical_center_complete_address_to_string(center, ['address', 'zipCode'])
                   }
               }
           %}
        {% endfor %}

        {# for PHOTO LISTING #}
        <div class="photo-listing item-wrapper">
            <div class="left-column-wrapper">
                <a href="" class="small-logo-wrapper"><span class="hca-sprite clinic-default-logo small"></span></a>
            </div>
            <div class="right-column-wrapper">
                <div class="description-box">
                    <h3 class="heading"><a href="">Diagnostic Center of Noninvasive Cardiology - Test</a></h3>
                    <h4 class="heading"><a href="">Oswaldo Cruz German Hospital / Hospital Alemão Oswaldo Cruz</a></h4>
                    <p>
                        The Apollo Transplant Institutes (ATI) is one of the world’s largest and most comprehensive solid transplant programs. ATI offers a host
                        <a href="">More Info</a>
                    </p>
                </div>
                <div class="thumbnail-frame pull-right">
                    <img class="img-polaroid" alt="" src="http://placeimg.com/135/100/tech">
                </div>
                <a class="btn blue pull-right">
                    <span class="white-icon-search"></span>
                    Learn More
                </a>
            </div>
            <div class="tag-box">
                <span class="location"><i class="icon-map-marker"></i> Bangalore, Karnataka, India</span>
                <div class="link-box">
                    <a href="">
                        <span data-toggle="tooltip" title="Visit Facebook" class="icon-facebook"></span>
                    </a>
                    <a href="">
                        <span data-toggle="tooltip" title="Visit Website" class="icon-globe"></span>
                    </a>
                    <a href="">
                        <span data-toggle="tooltip" title="Call Us" class="icon-phone"></span>
                    </a>
                    <a href="">
                        <span data-toggle="tooltip" title="Email Us" class="icon-envelope"></span>
                    </a>
                </div>
            </div>
        </div>

        {# for LOGO LISTING (modeled the resultItem after this...) for now #}
        <div class="logo-listing item-wrapper">
              <div class="left-column-wrapper">
                  <a href="" class="small-logo-wrapper"><span class="hca-sprite clinic-default-logo small"></span></a>
              </div>
              <div class="right-column-wrapper">
                <div class="description-box">
                    <h3 class="heading"><a href="">Apollo Transplant Institute</a></h3>
                      <h4 class="heading"><a href="">Apollo Hospital, Bangalore</a></h4>
                      <p>
                          The Apollo Transplant Institutes (ATI) is one of the world’s largest and most comprehensive solid transplant programs. ATI offers a host
                          <a href="">More Info</a>
                      </p>
                </div>
              </div>
              <div class="tag-box">
                  <span class="location"><i class="icon-map-marker"></i> Bangalore, Karnataka, India</span>
                  <div class="link-box">
                      <a href="">
                          <span data-toggle="tooltip" title="Visit Twitter" class="icon-twitter"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Visit Facebook" class="icon-facebook"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Visit Website" class="icon-globe"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Call Us" class="icon-phone"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Email Us" class="icon-envelope"></span>
                      </a>
                  </div>
              </div>
          </div>

          {# for LINKED LISTING (almost same layout as FREE LISTING except for the "Visit Website" and "Call Us" links) #}
          <div class="item-wrapper">
              <div class="right-column-wrapper">
                <div class="description-box">
                    <h3 class="heading"><a href="">Pediatric Surgery Unit</a></h3>
                      <h4 class="heading"><a href="">Apollo Hospital, Bangalore</a></h4>
                      <p>
                          Children are not ‘little adults’, more so when they require surgical interventions. Paediatric Surgery is the Specialty that treats any child with a surgical problem and provides holistic
                          <a href="">More Info</a>
                      </p>
                </div>
              </div>
              <div class="tag-box">
                  <span class="location"><i class="icon-map-marker"></i> Bangalore, Karnataka, India</span>
                  <div class="link-box">
                      <a href="">
                          <span data-toggle="tooltip" title="Visit Website" class="icon-globe"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Call Us" class="icon-phone"></span>
                      </a>
                      <a href="">
                          <span data-toggle="tooltip" title="Email Us" class="icon-envelope"></span>
                      </a>
                  </div>
              </div>
          </div>

          {# for FREE LISTING #}
          <div class="item-wrapper">
              <div class="right-column-wrapper">
                <div class="description-box">
                    <h3 class="heading"><a href="">Cardiology</a></h3>
                      <h4 class="heading"><a href="">Fortis Hospital, Bangalore - Bannerghatta Road</a></h4>
                      <p>
                          Minimal Access Surgery is also known as keyhole surgery. Minimal Invasive Surgery helps patients recover faster with fewer post-surgical complications, surgical trauma, minimized pain,
                          <a href="">More Info</a>
                      </p>
                </div>
              </div>
              <div class="tag-box">
                  <span class="location"><i class="icon-map-marker"></i> Bangalore, Karnataka, India</span>
                  <div class="link-box">
                      <a href="">
                          <span data-toggle="tooltip" title="Email Us" class="icon-envelope"></span>
                      </a>
                  </div>
              </div>
          </div>

        {% if searchResults.isPaginable %}
           {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}
    </div> <!--End of main_content-->

    <aside class="aside-wrapper span4">
        <!-- Cached View Data -->
        {{ render_search_results_featured_posts() | raw }}

        {# include 'SearchBundle:Frontend/Widgets:sidebar.newSearch.html.twig' with { context: 'treatments' } #}
        <!-- Cached View Data -->
        {{ render_search_results_image_ad() | raw }}
    </aside>
{% endblock %}