{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}

{% block content %}
    <div id="details" class="row">
        <div id="main_content" class="span8">
            <header class="filters">
                <h2 class="total">We have found the following matches:</h2>
            </header>
            <div class="media search-matches">
                <div class="matches">
                    <ul class="match">
                        {% set sId = 0 %}
                        {% set ssId = 0 %}
                        {% for specialization in relatedTreatments %}
                            {% if sId != specialization.id %}
                                <li><h5><a href="{{ path('frontend_search_results_specializations', {specialization: specialization.slug}) }}">{{ specialization.name }}</a></h5></li>
                                {% set sId = specialization.id %}
                            {% endif %}
                            <li>
                                <ul class="match">
                                    {% for subCategory in specialization.subCategories %}
                                        {% if subCategory.subSpecializationId is defined %}
                                            {% if ssId != subCategory.subSpecializationId %}
                                                <li><h5><a href="{{ path('frontend_search_results_subSpecializations', {specialization: specialization.slug, subSpecialization: subCategory.subSpecializationSlug}) }}">{{ subCategory.subSpecializationName }}</a></h5></li>
                                                <li><a href="{{ path('frontend_search_results_treatments', {specialization: specialization.slug, treatment: subCategory.treatmentSlug}) }}">{{ subCategory.treatmentName }}</a></li>
                                                {% set ssId = subCategory.subSpecializationId %}
                                            {% endif %}
                                        {% elseif subCategory.treatmentId is defined %}
                                            <li><a href="{{ path('frontend_search_results_treatments', {specialization: specialization.slug, treatment: subCategory.treatmentSlug}) }}">{{ subCategory.treatmentName }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            {% for searchResultVo in searchResults %}
                {# BC for old search results whose result item is a medical center #}
                {% set center = searchResultVo.institutionMedicalCenter is defined ? searchResultVo.institutionMedicalCenter : searchResultVo %}
                {# do this to save query #}

                {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                       'searchResultItem' : {
                              url: get_institution_medical_center_frontend_url(center),
                              logo: center.logo ? media(center.logo, center.institution, 'default', {'class': 'search-entry-thumb'}) : null,
                              name: center.name,
                              mainAddress: medical_center_complete_address_to_array(center, ['city', 'state', 'country']) | join(', '),
                              streetAddress: medical_center_complete_address_to_array(center, ['address', 'zipCode']) | join(', ')
                       }
                   }
               %}

            {% endfor %}

            {% if searchResults.isPaginable %}
                {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
            {% endif %}

        </div><!--End of main_content-->

        {% include 'SearchBundle:Frontend/Widgets:sidebar.newSearch.html.twig' with { context: 'treatments' } %}

    </div>
<!--End of content-->
{% endblock %}