{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}

    <section class="container">
        <div class="callout">
            <div class="content">
                <div class="span9">
                    <div class="media">
                        <div class="media-body">
                            <h1 class="search-info"> Search Results for <small>{{ searchLabel }}</small></h1>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <a href="#" class="all-clinic btn green">Back to Search</a>
                </div>
            </div>
            <div class="triangle-border"></div>
        </div>
    </section>

    <div id="content" class="container content">
        <div id="details" class="row">
            <div id="main_content" class="span8">
                <header class="filters">
                    <div class="pull-left">
                        <h2 class="total">{{ searchResults.getTotalResults }} <small>Results Found</small></h2>
                    </div>
                </header>

                {% for institution in searchResults %}
                    {% set rating = random(5) %}
                <article class="media search-entry">
                    <a class="pull-left" href="{{ get_institution_frontend_url(institution) }}">
                        <span class="search-entry-thumb" style="background: url(/images/frontend/clinic-logo6.png) center center no-repeat; background-size: 100% 100%"></span>
                    </a>

                    <div class="media-body">
                        <h3 class="media-heading">{{ institution.name }}</h3>
                        <div class="media">
                            <div class="pull-left">
                                <img src="images/frontend/address_icon2.png" class="media-object">
                            </div>
                            <div class="media-body">
                                <small>
                                    {{ institution_address_to_array(institution) | join(', ')  }}<br>
                                    <b>{{ institution.city }}, {{ institution.country }}</b>
                                </small>
                            </div>
                            <a href="{{ get_institution_frontend_url(institution) }}" class="more-info btn pull-right green"> <span class="icon-search icon-white"></span> More Info </a>
                        </div>
                    </div>
                </article>

                {% endfor %}
                {% if searchResults.isPaginable %}
                    {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
                {% endif %}

            </div> <!--End of main_content-->

            <aside id="aside_content" class="span4">
                <section class="box-in">
                    <h5 class="heading"><small>Narrow</small> Search </h5>
                    <ul class="related">
                        <li class="row">
                            <h3>By Specialization</h3>
                                <ul>
                                    {% for item in topSpecializations %}
                                        <li><a href="#">{{ item.specialization }} <span class="right label label-inverse">{{ item.count }}</span></a></li>
                                    {% endfor %}
                                </ul>
                        </li>
                        <li class="row">
                            <h3>By Treatment</h3>
                                <ul>
                                    {% for item in topTreatments %}
                                        <li><a href="#">{{ item.treatment }} <span class="right label label-inverse">{{ item.count }}</span></a></li>
                                    {% endfor %}
                                </ul>
                        </li>
                        <li class="row">
                            <h3>Related Treatments</h1>
                                <ul>
                                    <li><a href="#">Face Lift <span class="right label label-inverse">535</span></a></li>
                                    <li><a href="#">Eye Surgery <span class="right label label-inverse">321</span></a></li>
                                    <li><a href="#">Lorem ipsum <span class="right label label-inverse">153</span></a></li>
                                </ul>
                        </li>
                    </ul>
                </section>
                <section class="box-in">
                    <h5 class="heading">ADS <br><small> or </small> <br> NEWS </h5>
                    <ul class="ads">
                        <li>When I grow up, I want to be an <b>ADVERTISEMENT</b>.</li>
                        <li>When I grow up, I want to be an <b>NEWS</b>.</li>
                    </ul>
                </section>
            </aside> <!--End of aside_content-->
        </div>
    </div> <!--End of content-->

    {{ addInlineJavascript(getTemplateContents('FrontendBundle:Default:indexInline.js.twig')) }}

{% endblock %}