{% extends 'FrontendBundle::layout.html.twig' %}

{% block callout %}
    {% include 'SearchBundle:Frontend/Widgets:base.resultsCallout.html.twig' %}
{% endblock %}

{% block content %}
    <div id="details" class="row">
        <div id="main_content" class="span8">
            <header class="filters">
                <h2 class="total"><strong>{{ searchResults.getTotalResults }}</strong> Results Found</h2>
            </header>
            {% for center in searchResults %}
                {% set rating = random(5) %}
                <article class="media search-entry">
                    <a class="pull-left" href="{{ get_institution_medical_center_frontend_url(center) }}">
                        <span class="search-entry-thumb" style="background: url(/images/frontend/clinic-logo6.png) center center no-repeat; background-size: 100% 100%"></span>
                    </a>
    
                    <div class="media-body">
                        <h3 class="media-heading">{{ center.name }}</h3>
                        <div class="media">
                            <div class="pull-left">
                                <img src="images/frontend/address_icon2.png" class="media-object">
                            </div>
                            <div class="media-body">
                                <small>
                                    {# -- center street/specific address -- #}
                                    {% set _institution_medical_center_address = medical_center_complete_address_to_array(center, ['address', 'zipCode']) %}
                                    {% set _institution_address = medical_center_complete_address_to_array(center, ['city', 'state', 'country']) %}
                                    {{ _institution_medical_center_address | join(', ') }}
                                    <br>
                                    <b>{{ _institution_address | join(', ') }}</b>
                                </small>
                            </div>
                            <a href="{{ get_institution_medical_center_frontend_url(center) }}" class="more-info btn pull-right green"> <span class="icon-search icon-white"></span> More Info </a>
                        </div>
                    </div>
                </article>
            {% endfor %}
    
            {% if searchResults.isPaginable %}
                {{ paginate(searchResults, app.request.uri, {hasNoRouteName: 1}, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
            {% endif %}
    
        </div> <!--End of main_content-->
    
        {% include 'SearchBundle:Frontend/Widgets:sidebar.narrowSearch.html.twig' %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/search/js/search.js') }}"></script>
{% endblock%}