{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="search-results-wrapper span8">
        <div class="content-profile-widget-wrapper">
            <h3 class="heading">
                {% if searchResults.getTotalResults %} We have found the following matches: {% else %} No results found. {% endif %}
            </h3>
        </div>

        {% if relatedTreatments %}
        <div class="search-matches treatments">
             {% for specialization in relatedTreatments %}
                 <ul class="match">
                     <li><h5 class="sp"><a href="{{ path('frontend_search_results_specializations', {specialization: specialization.slug}) }}">{{ specialization.name }}</a></h5></li>
                     {% for subSpecializationId, subCategory in specialization.sub_specializations %}
                     <li>
                         <ul class="match">
                             {% if subSpecializationId %}
                                 <li><h5><a href="{{ path('frontend_search_results_subSpecializations', {specialization: specialization.slug, subSpecialization: subCategory.subSpecializationSlug }) }}">{{ subCategory.subSpecializationName }}</a></h5></li>
                             {% else %}
                                 {% if specialization.sub_specializations | length > 1 %}
                                     <li><h5><a href="#">Other Treatments</a></h5></li>
                                 {% endif %}
                             {% endif %}

                             {% for treatment in subCategory.treatments %}
                                <li class="tr"><a href="{{ path('frontend_search_results_treatments', {specialization: specialization.slug, treatment: treatment.treatmentSlug }) }}">{{ treatment.treatmentName }}</a></li>
                            {% endfor %}
                        </ul>
                     </li>
                     {% endfor %}
                 </ul>
             {% endfor %}
        </div>
        {% endif %}

        {% for searchResultVo in searchResults %}
            {% set center = searchResultVo.institutionMedicalCenter is defined ? searchResultVo.institutionMedicalCenter : searchResultVo %}

            {% include 'SearchBundle:Frontend/Widgets:base.resultItem.html.twig' with {
                   'statisticsDataObject': searchResultVo.institutionMedicalCenter,
                   'searchResultItem' : get_search_result_item(center) }
           %}
        {% endfor %}

        {% if searchResults.isPaginable %}
            {{ paginate(searchResults, routeName, paginationParameters, 'PagerBundle:Pager:paginate_frontend_search.html.twig') }}
        {% endif %}

    </div><!--End of main_content-->
    <aside class="aside-wrapper span4">
        {{ render_search_results_featured_posts() | raw }}
        {{ render_search_results_image_ad() | raw }}
    </aside>
<!--End of content-->
{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
    $(window).ready(function() {$(".link-tooltip").tooltip()});
</script>
{% endblock%}