<div class="row search_box">
    <div class="search_wrap span11 offset1">
        <form action="{{ path('search_frontend') }}" class="search form-inline" method="get" name="searchForm">
            <input type="hidden" id="treatment_id" name="treatment_id" value="{{ options.treatmentId }}"/>
            <input type="hidden" id="destination_id" name="destination_id" value="{{ options.destinationId }}"/>

            <label>Search</label>
            <input type="text" class="input-large" placeholder="Any Treatment" name="sb_treatment" id="sb_treatment" value="{{ options.treatmentLabel }}"/>
            <label>Near</label>
            <input type="text" class="input-large" placeholder="Anywhere" name="sb_destination" id="sb_destination" value="{{ options.destinationLabel }}" />
            <!--
            <input type="button" onclick="document.forms['searchForm'].submit();" class="btn" value="Let's Go" name="submit" />
             -->
            <input type="submit" class="btn" value="Let's Go" name="submit" />
        </form>
    </div>
</div> <!-- End search_box-->

<style>
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
</style>

<script type="text/javascript">

$(function() {
    $('#sb_treatment').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{{ path('search_frontend_ajaxLoadTreatments') }}",
                dataType: "json",
                data: { term: request.term, prevTerm: $('#destination_id').val() },
                success: function(data) {
                    response($.each(data, function(item) {
                        return { label: item.label, value: item.value }
                    }));
                }
            });
        },
        focus: function( event, ui ) {
            $(this).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#treatment_id").val( ui.item.value );

            return false;
        },
        change: function(event, ui) {
            $("#treatment_id").val(ui.item && ui.item.value ? ui.item.value : '0-0-0-0');
        },
        delay: 200,
        minLength: 1
    });

    $('#sb_destination').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{{ path('search_frontend_ajaxLoadDestinations') }}",
                dataType: "json",
                data: {
                    term: request.term,
                    prevTerm: $('#treatment_id').val()
                },
                success: function(data) {
                    response( $.each(data, function(item) {
                        return {
                            label: item.label,
                            value: item.value
                        }
                    }));
                }
            });
        },
        focus: function( event, ui ) {
            $(this).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#destination_id").val( ui.item.value );

            return false;
        },
        change: function(event, ui) {
            $("#destination_id").val((ui.item && ui.item.value) ? ui.item.value : '0-0-0-0');
        },
        delay: 200,
        minLength: 1
    });

});

</script>