{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} {{ site_name }} Client Privacy Policy {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'CLIENT PRIVACY POLICY', 'contentSpanClass': 'span12'} 
    %}
        {% block wrappedContent %}
           <div class="span12">
                <section>
                    <h2>
                        CLIENT PRIVACY POLICY
                    </h2>
                    <div class="row-fluid">
                        <h4>
                            Do we disclose any information to outside parties?
                        </h4>
                        <p>
                            As a healthcare provider, {{ site_name }} will ask you for personal
                            information in order to register on this site. This information will mostly
                            be identifiable information (Clinic name, address, contact information,
                            etc.). {{ site_name }} will place this portions of this information
                            on your viewable profile page and will also use this information to facilitate
                            contact between prospective patients and healthcare providers and to contact
                            you about the services and features of this website. Outside of this specific
                            use of your information, {{ site_name }} will not share any of your
                            personal information without prior approval from you, except as stated
                            below.
                        </p>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-info-sign">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    We may be forced to release your personal information for the following
                                    reasons:
                                </h4>
                                <div class="media">
                                    <div class="numbercircle sub-termsofuse pull-left">
                                        1.
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            To conform to legal requirements or to respond to a subpoena, search warrant
                                            or other legal process, whether or not a response is required by applicable
                                            law;
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="numbercircle sub-termsofuse pull-left">
                                        2.
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            To enforce our Terms of Service or to protect our rights;
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="numbercircle sub-termsofuse pull-left">
                                        3.
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            To process payments with credit or bank merchants;
                                        </p>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">
                                            4.
                                        </div>
                                        <div class="media-body">
                                            <p>
                                                To protect the rights and safety of others; or
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">
                                            5.
                                        </div>
                                        <div class="media-body">
                                            <p>
                                                To confirm, verify, or validate the information you have provided to us.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-file">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    How do we protect your information?
                                </h4>
                                <p>
                                    We implement a variety of security measures to maintain the safety of
                                    your personal information when you enter, submit, or access your personal
                                    information.
                                </p>
                                <p>
                                    Critical login, password or sensitive information is transmitted via Secure
                                    Socket Layer (SSL) technology and then encrypted into our Database to be
                                    only accessed by those authorized with special access rights.
                                </p>
                                <p>
                                    However, due to the nature of the internet, we can offer no guarantees
                                    as to the safety or security of your personal data and therefore are not
                                    responsible for any damages or loss that may occur as a result of your
                                    use of this site.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-link">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Third party links
                                </h4>
                                <p>
                                    Occasionally, at our discretion, we may include or offer third party products
                                    or services on our website. These third party sites have separate and independent
                                    privacy policies. We therefore have no responsibility or liability for
                                    the content and activities of these linked sites. Nonetheless, we seek
                                    to protect the integrity of our site and welcome any feedback about these
                                    sites.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-ok">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Strict adherence to CAN-SPAM Act
                                </h4>
                                <p>
                                    We NEVER send spam. Our emailing practices strictly conforms to the CAN-SPAM
                                    Act of 2003.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-medkit">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Medical Tourism Newsletter Subscriptions for Clinics on {{ site_name }}
                                </h4>
                                <p>
                                    Occasionally {{ site_name }} will send an internal newsletter to
                                    the clinics listed on our directory. These newsletters will contain valuable
                                    information about our industry or announce changes and advancements of
                                    the {{ site_name }} system. Newsletters are sent to the same email
                                    addresses inquiries are sent to. We must keep this communication channel
                                    open to notify you of important changes to your account and the site. If
                                    you wish not to receive these notifications you must archive or delete
                                    all of your clinics from our directory.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-group">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Childrens Online Privacy Protection Act Compliance
                                </h4>
                                <p>
                                    We are in compliance with the requirements of COPPA (Childrens Online
                                    Privacy Protection Act), we do not collect any information from anyone
                                    under 13 years of age. Our website, products and services are all directed
                                    to people who are at least 18 years old or older.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-list-alt">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Terms and Conditions
                                </h4>
                                <p>
                                    Please also visit our Terms and Conditions section establishing the use,
                                    disclaimers, and limitations of liability governing the use of our website
                                    at
                                    <a href="{{ path('institution_terms_of_use') }}">CLIENT TERMS OF USE</a>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-file-alt">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Your Consent
                                </h4>
                                <p>
                                    By creating an account, you consent to this online privacy policy.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="numbercircle termsofuse pull-left">
                                <i class="icon-refresh">
                                </i>
                            </div>
                            <div class="media-body">
                                <h4>
                                    Changes to our Privacy Policy
                                </h4>
                                <p>
                                    If we decide to change our privacy policy, we will post those changes
                                    on this page, and/or update the Privacy Policy modification date below.
                                </p>
                                <br>
                                <p>
                                    <b>
                                        This policy was last modified on April 8, 2013.
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        {% endblock %}
            
    {% endembed %}
    
{% endblock %}
