{% extends 'InstitutionBundle::unauthenticated.layout.html.twig' %}
{% block title %} {{ site_name }} Client Terms of Use {% endblock %}

{% block content %}
    {% embed 'InstitutionBundle:Embed:contentWrapper.unauthenticated.html.twig' 
        with {'pageTitle': 'Terms of Use', 'contentSpanClass': 'span12'} 
    %}
        {% block wrappedContent %}
        <div class="span12">
             <section>
                <h2>
                    Terms of Use
                </h2>
                <div class="row-fluid">
                    <h4>
                        {{ site_name }} is an online database and web portal that allows
                        you to promote your clinic on our website.
                    </h4>
                    <p>
                        We urge you to review these Terms of Use carefully. {{ site_name }}
                        (collectively {{ site_name }}, Us, or We) reserves the right to change these Terms
                        of Use at any time by posting changes online. You should check back periodically
                        for revisions. Your continued use of the Site after changes are posted
                        constitutes acceptance of the modified Terms of Use.
                    </p>
                    <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-ok">
                            </i>
                        </div>
                        <div class="media-body">
                            <h4> What we provide </h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p>
                                        {{ site_name }} is a facilitator to connect individuals interested
                                        in receiving medical treatments( <b> "Users" </b> or <b> "Clients" </b>
                                        ) with healthcare providers ( <b> "Clinics "</b> ,
                                        <b> "healthcare providers" </b> , <b> "you "</b> , or <b> "your "</b> ).
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                <div class="media-body">
                                    <p>
                                        {{ site_name }} provides information, either input to the database
                                        by us, or by healthcare providers, to clients to enable them to make informed
                                        decisions about medical treatments.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                <div class="media-body">
                                    <p>
                                        {{ site_name }} also facilitates the initial contact between a client and a healthcare
                                        provider. When a user finds a clinic that they are interested in receiving
                                        medical treatment or further information from, {{ site_name }} provides them information
                                        and forms to facilitate this contact, and will forward any relevant inquiries
                                        on to the clinic.
                                    </p>
                                </div>
                            </div>
                        </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-remove"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> What we do not provide </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                <b>We do not provide medical advice.</b>  {{ site_name }} facilitates travel and related services for patients 
                                                visiting for Medical Treatment. We are not healthcare providers, medical advisors nor a medical referral service. 
                                                {{ site_name }} is a site that provides paid and free listings for clinics, hospitals, and organizations around the globe.  
                                                Additionally, we will not discuss healthcare treatments with either clients or clinics under any circumstances.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                {{ site_name }} has no involvement in the transaction between a user and a clinic.  
                                                We offer no guarantees for completion of any treatments from clients that contact a clinic using {{ site_name }}.  
                                                We also offer no guarantees about the intentions or ability of clients to complete a treatment.  
                                                We also have no responsibility or control over any information provided from a client to a clinic, 
                                                and maintain no guarantees to the accuracy, truthfulness, usefulness, or quality of any contact, 
                                                nor do we guarantee or endorse any client's ability to uphold any portion of their obligations in a transaction.  
                                                {{ site_name }} is not involved in any way in any contract for treatments or services between you and any users.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-reorder"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Warranties </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                You warrant that all of the procedures and services that you will be offering on {{ site_name }} shall be supplied and performed by 
                                                properly trained, licensed, qualified, experienced, and insured personnel and groups.  
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                You also warrant that you have sufficient resources and staffing to perform any 
                                                procedures and services with groups or personnel that meet the requirements of 3.1.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that it has legal right and capacity to enter into an agreement with {{ site_name }}, 
                                                and that it is capable and possesses the authority to meet its obligations to {{ site_name }} and prospective clients.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 4. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that it currently is, and will at all times remain in complete compliance with all licensing, 
                                                legislative, and oversight bodies in its industry and jurisdiction.  You also warrant that you are a member of a reputable 
                                                and recognized organization or body that sets and conducts compliance for the applicable industry.  
                                                If at any time, and for any reason, your licensing or membership with a recognized organization is invalid or expired, 
                                                or if you are ever non-compliant with required legislation, you will notify {{ site_name }} immediately, 
                                                and you will not pursue any clients until such time as your standing is restored.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 5. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that it has a valid licence to provide all the medical services listed on {{ site_name }} 
                                                issued by the appropriate and relevant medical authority in its jurisdiction.  If at any time, and for any reason, 
                                                this licensing expires or becomes invalid, you will notify {{ site_name }} immediately, and you will not pursue any 
                                                clients until such time as your standing is restored.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 6. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that all of the information it submits to {{ site_name }}, and all of the information 
                                                it provides directly to any clients, is, to the best of its ability, true, up to date, and not misleading.  
                                                If, at any time, and for any reason, this information changes, the clinic will immediately update or correct the 
                                                information on {{ site_name }}, and, where applicable, notify the client directly of any changes.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 7. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that it will only seek to engage clients for treatments that it has the ability to pursue in accordance with clauses 3.1, 3.2, and 3.4.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 8. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that all the information provided contains no content that can be considered defamatory, pornographic, 
                                                obscene, libellous, or discriminatory and that it violates no laws in regards to false advertising.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-ban-circle"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Removal of Content from Site / Suspension or Termination of Listing </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                {{ site_name }} may remove content and suspend or terminate your access to this website, at any time, and without any prior notice.  
                                                These steps may be taken with or without cause or reason, without any limitation.  
                                                Suspension or termination may result if {{ site_name }} is unable to verify or confirm information included in a listing, 
                                                for violations of these Terms of Service, or if information provided is intentionally false or misleading.  
                                                {{ site_name }} is not liable for any complaints from the removal, suspension, or termination of access.  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-h-sign"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Use of {{ site_name }} </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">  1. </div>
                                        <div class="media-body">
                                            <p>
                                                Access to the site and the information contained herein is provided "as is" and "as available" without any warranty of any kind, 
                                                express or implied. {{ site_name }} does not warrant the accuracy, completeness or timeliness of the materials on this site and 
                                                to the fullest extent permissible pursuant to applicable law, {{ site_name }} disclaims all warranties of any kind, 
                                                either express or implied, including but not limited to any implied warranties of title, merchantability, 
                                                fitness for a particular purpose or non-infringement, with respect to any information obtained through the site.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                Without limiting the foregoing, {{ site_name }} does not warrant that access to the site will be uninterrupted or error-free, or that defects, 
                                                if any, will be corrected; nor does {{ site_name }} make any representations about the accuracy, reliability, currency, quality, 
                                                completeness, usefulness, performance, security, legality or suitability of the site or any of the information contained therein. 
                                                You expressly agree that your use of the site and your reliance upon any of its contents is at your sole risk.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                        <div class="media-body">
                                            <p>
                                                You shall be solely and fully responsible for any damage to the site or any computer system, any loss of data, or any improper use or disclosure 
                                                of information on the site caused by you. {{ site_name }} cannot and does not assume any responsibility for any loss, 
                                                damages or liabilities arising from the failure of any telecommunications infrastructure, or the internet or for your 
                                                misuse of any of information, advice, ideas, arrangements, instructions, or guidelines accessed through the site.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 4. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree not to use this website in any manner that is unlawful, fraudulent, or attempts to use this website other than in the manner described in Section 1 of this agreement.  
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">5. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree not to transmit any material which may cause harm to {{ site_name }}'s computer systems, servers, hardware, 
                                                or software.  You also agree not to transmit any material which may cause harm to any other individual's computer system. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">6. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree to not attempt to gain unauthorized access by any means and for any purpose.  
                                                You agree to not attempt to test the security of any of {{ site_name }}'s systems by any means, and for any reason.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">7. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree that you will not attempt to harvest, or otherwise gather any of the information included in this website.  
                                                This includes, but is not limited to; lists of clinics or providers, doctors, email addresses of clients or clinics, 
                                                treatment lists, specializations, categorizations, logos, artwork, contact information, descriptions, or reviews.  
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">8.</div>
                                        <div class="media-body">
                                            <p>
                                                {{ site_name }} makes no representation or warranty about the accuracy of the content. The information may be out of date 
                                                at the time of your access or could also include technical inaccuracies or typographical errors. We are not liable for any 
                                                error or omission in, or any failure to update the Site content. The website content has not been reviewed, approved or 
                                                compiled by any medical professional. Neither is the website content based on feedback from medical expert or experts. 
                                                Decisions made based on the information on the Site are the sole responsibility of the visitor. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-user-md"></i>
                                </div>
                                <div class="media-body">
                                    <h4> Creation of Account </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1.</div>
                                        <div class="media-body">
                                            <p> In order to receive queries from potential users it will be necessary to register on {{ site_name }} and create an account. </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                In order to complete the creation of an account, you will be required to submit details of your clinic to {{ site_name }}.  
                                                You warrant that all of the information provided is, to the best of your ability, completely accurate, current, not confidential, 
                                                and that you have the right to submit the information.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left">3. </div>
                                        <div class="media-body">
                                            <p>
                                                It is your responsibility to maintain current, accurate information and to quickly update any changes in personnel, location, contact 
                                                information, specialties, affiliations, accreditations, treatments, services, prices, or any other material changes in data included 
                                                on the website.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 4. </div>
                                        <div class="media-body">
                                            <p>
                                                During registration you will be required to input contact details for your primary authorized representative.  
                                                This will be the person that {{ site_name }} will contact for all matters relating to your account, and will be responsible for the 
                                                management of all aspects of this account.  If you ever wish to change this authorized representative, for reasons of 
                                                preference or if they are no longer a part of the company, notify {{ site_name }} immediately.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 5. </div>
                                        <div class="media-body">
                                            <p>
                                                You are responsible for the safety and security of your login information.  You are responsible for any and all 
                                                actions that take place under your account, and you agree to only login to your account.  Likewise, you agree to 
                                                not share, disclose, or leave in an unsecure location, your login credentials.  
                                                You also agree to not allow access to your account, either directly or indirectly, to any other individual. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-list"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Content Restrictions </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree to submit, to the best of your ability, content that is grammatically correct, free from spelling and other language errors, 
                                                and in English.  Additionally, you are forbidden from using CAPS lock or other devices to attempt to draw attention to your listing.  
                                                {{ site_name }} reserves the right to edit or delete any content it deems inappropriate or in violation of this agreement.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                You are also prohibited from placing any links to websites of any kind anywhere in your descriptions, images, or other non-URL specific fields.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                        <div class="media-body">
                                            <p>
                                                You must possess the appropriate rights for any content that is submitted to {{ site_name }} in any medium, text, video, audio, or image.
                                            </p>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-paste"> </i>
                                </div>
                                <div class="media-body">
                                    <h4>Ad Placement</h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                All advertising is subject to acceptance by {{ site_name }}, which reserves the right to reject copy at its sole discretion at 
                                                any time prior to publication. {{ site_name }} will not knowingly publish, and will remove at any time it discovers, advertisements which 
                                                unlawfully discriminate on the basis of race, color, age, sex, sexual orientation, religion, national origin, ancestry, or physical 
                                                handicap.  Furthermore, {{ site_name }} reserves the right to reject any advertisements of an overly lewd, sexual, crude, insulting, 
                                                lascivious, or pornographic nature.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                Advertiser warrants that all advertising purchased under this Agreement is specifically for the regular business of the Advertiser. 
                                                Advertiser further warrants that all advertising submitted is true and contains no falsities to the best of the Advertiser’s knowledge.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                        <div class="media-body">
                                            <p>
                                                Advertiser and/or Advertising Agency assume full and complete responsibility and liability for the content 
                                                (including text representations, illustrations and copyrights) of all advertisements published pursuant to 
                                                this agreement, and shall indemnify and save {{ site_name }} harmless against any demands, claims or liability. 
                                                Advertiser and/or Advertising Agency shall reimburse {{ site_name }} for any amount paid by {{ site_name }} in 
                                                settlement of claims or in satisfaction of judgments obtained by reason of publication of such advertising copy 
                                                together with all expenses in connection therewith, including, but not limited to, attorney’s fees and costs of litigation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-money"> </i>
                        </div>
                        <div class="media-body">
                            <h4> Payment and Fees </h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p> If a healthcare provider has a basic account, there are no fees, subscriptions, or charges. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                <div class="media-body">
                                    <p> All charges are due prior to the commencement of service. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                <div class="media-body">
                                    <p> All sums are exclusive of tax and all extra duties and taxes are payable by the healthcare provider. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 4. </div>
                                <div class="media-body">
                                    <p> All invoices will be quoted in US Dollars ($), and the full amount must be paid in US Dollars ($). </p>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-user"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Protection of User Information </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider warrants that it will abide by all of the requirements of Health 
                                                Insurance Portability and Accountability Act of 1996 (HIPAA) and the AICPA and CICA 
                                                Generally Accepted Privacy Principles 2009 (GAPP).
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider guarantees that all data forwarded to them will be used only to enable or 
                                                provide treatment or explicitly consented services, and in accordance with all sections of this agreement.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3.  </div>
                                        <div class="media-body">
                                            <p>
                                                The healthcare provider guarantees that they will protect the data from all unnecessary dissemination.  
                                                This includes, but is not limited to; dissemination to employees for whom the data is not a requirement 
                                                to the completion of a treatment or service to the client; employees not adequately trained in data 
                                                protection; dissemination or disclosure to third parties except where it is specifically required for 
                                                the completion of a procedure or an explicitly complied service; or storage of data in unsecured or 
                                                undersecured locations, either digitally or physically.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 4.  </div>
                                        <div class="media-body">
                                            <p>
                                                Unless the healthcare provider has received explicit written consent from the client, you shall not 
                                                disclose the identity of any client.  This includes any marketing, statistic, promotional, 
                                                or reference materials or lists.  Also, where applicable, written consent should also be sought from {{ site_name }}. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 5. </div>
                                        <div class="media-body">
                                            <p>
                                                You agree to defend, indemnify, and hold {{ site_name }}, its officers, directors, employees, agents, advisors, 
                                                licensors, and suppliers, harmless from and against any claims, actions or demands, injuries (physical or psychological), 
                                                liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or 
                                                alleged to result from your violation of this Section 8.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-folder-close-alt"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Copyright Restrictions </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                Access to the site and the information contained herein is provided "as is" and "as available" without any warranty 
                                                of any kind, express or implied. {{ site_name }} does not warrant the accuracy, completeness or timeliness of the materials on this 
                                                site and to the fullest extent permissible pursuant to applicable law, {{ site_name }} disclaims all warranties of any kind, either 
                                                express or implied, including but not limited to any implied warranties of title, merchantability, fitness for a particular 
                                                purpose or non-infringement, with respect to any information obtained through the site.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                Without limiting the foregoing, {{ site_name }} does not warrant that access to the site will be uninterrupted 
                                                or error-free, or that defects, if any, will be corrected; nor does {{ site_name }} make any representations about 
                                                the accuracy, reliability, currency, quality, completeness, usefulness, performance, security, legality or suitability 
                                                of the site or any of the information contained therein. You expressly agree that your use of the site and your 
                                                reliance upon any of its contents is at your sole risk.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-tasks"> </i>
                                </div>
                                <div class="media-body">
                                    <h4>  Limitation of Liability </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                TO THE MAXIMUM EXTENT PERMITTED BY LAW, {{ site_name|upper }} SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, 
                                                CONSEQUENTIAL OR PUNITIVE DAMAGES,INCLUDING, WITHOUT LIMITATION, ANY PERSONAL INJURY, LOST PROFITS, BUSINESS INTERRUPTION, 
                                                LOSS OF PROGRAMS OR OTHER DATA ON YOUR COMPUTER OR OTHERWISE, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM 
                                                (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; 
                                                (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, 
                                                ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR 
                                                (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, EVEN IF WE OR THEY HAVE BEEN ADVISED OF THE 
                                                POSSIBILITY OF SUCH DAMAGES, OR SUCH LOSSES OR DAMAGES WERE REASONABLY FORESEEABLE.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-group"> </i>
                                </div>
                                <div class="media-body">
                                    <h4>  Non-Partnership Relationship </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                Under no circumstances should any portion of this agreement constitute a partnership between {{ site_name }} and and 
                                                healthcare provider.  And no healthcare provider shall have any right or authority to make agreements, contracts, 
                                                liabilities, warranties or obligations of any kind, either express or implied, on behalf of {{ site_name }}.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-folder-close"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Arbitration </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                For any dispute you have with {{ site_name }}, you agree to first contact us, and attempt to resolve the dispute with 
                                                us informally. If {{ site_name }} has not been able to resolve the dispute with you informally, we each agree to 
                                                resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out 
                                                of or in connection with or relating to these Terms by binding arbitration by the American Arbitration Association ("AAA") 
                                                under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for 
                                                the AAA, except as provided herein.  This arbitration will take place in Denver, Colorado, unless otherwise agreed to 
                                                by {{ site_name }} and the healthcare provider.  Nothing in this Section shall prevent either party from seeking 
                                                injunctive or other equitable relief from the courts for matters related to data security, intellectual property or 
                                                unauthorized access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF 
                                                OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT 
                                                CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND {{ site_name }} 
                                                ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                               For all matters of dispute resolution, the language of the proceedings will be English.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle termsofuse pull-left">
                                    <i class="icon-asterisk"> </i>
                                </div>
                                <div class="media-body">
                                    <h4> Jurisdiction </h4>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                        <div class="media-body">
                                            <p>
                                                You expressly agree that exclusive jurisdiction for any dispute with {{ site_name }}, or in any way relating to your use of the 
                                                {{ site_name }} Site, resides in the courts of the State of Colorado and you further agree and expressly consent to the exercise 
                                                of personal jurisdiction in the courts of the State of Colorado in connection with any such dispute including any claim involving 
                                                {{ site_name }} employees or officers.  {{ site_name }} and you agree to submit to the jurisdiction of the state of Colorado, or for the 
                                                United States District Court for the District of Colorado, for any disputes or actions not subject to section 12 (Arbitration).
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                        <div class="media-body">
                                            <p>
                                                {{ site_name }} makes no representation about the appropriateness or suitability of any material offered through this website, 
                                                or its services, for use in any other country than the United States.  Further, {{ site_name }} makes no guarantees as to the 
                                                compliance with any legal or regulatory requirements for any other country.  By accessing the website, you acknowledge that 
                                                the risk and responsibility for compliance with local legal and regulatory requirements is entirely yours.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                        <div class="media-body">
                                            <p>
                                                For all matters of dispute resolution, or for any proceedings dealing with this agreement,  the language of the proceedings will be English.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-random"> </i>
                        </div>
                        <div class="media-body">
                            <h4> Errors, Adjustments and Changes</h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p>
                                        {{ site_name }} shall be entitled to modify, introduce, limit, or terminate any services, information, or features  offered on the 
                                        website at any time, for any reason, and without notice.  Any change will not create a liability from {{ site_name }} to you or any 
                                        other user or third party.  {{ site_name }} shall always retain  the right to change any aspect of the website, including, but not limited to, 
                                        the content, appearance, availability, performance, design, structure, service, support, and this Agreement.  You agree to review these terms 
                                        of service periodically, and your continued use of the website shall constitute your agreement with any updates made to this Agreement.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                <div class="media-body">
                                    <p>
                                        If any error in an advertisement is made by {{ site_name }}, its liability shall only be for such portion of the entire cost determined by 
                                        evaluating the extent of the error in relation to the entire advertisement.

                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                <div class="media-body">
                                    <p>
                                        Any change Advertiser wishes to make to an ad must be submitted via email. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-inbox"> </i>
                        </div>
                        <div class="media-body">
                            <h4> Insurance </h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p>
                                        Access to the site and the information contained herein is provided "as is" and "as available" without any warranty of any kind, 
                                        express or implied. {{ site_name }} does not warrant the accuracy, completeness or timeliness of the materials on this site and 
                                        to the fullest extent permissible pursuant to applicable law, {{ site_name }} disclaims all warranties of any kind, either express 
                                        or implied, including but not limited to any implied warranties of title, merchantability, fitness for a particular purpose or 
                                        non-infringement, with respect to any information obtained through the site.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                <div class="media-body">
                                    <p>
                                        Without limiting the foregoing, {{ site_name }} does not warrant that access to the site will be uninterrupted or error-free, 
                                        or that defects, if any, will be corrected; nor does {{ site_name }} make any representations about the accuracy, reliability, currency, 
                                        quality, completeness, usefulness, performance, security, legality or suitability of the site or any of the information contained therein. 
                                        You expressly agree that your use of the site and your reliance upon any of its contents is at your sole risk.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                <div class="media-body">
                                    <p>
                                        You shall be solely and fully responsible for any damage to the site or any computer system, any loss of data, or any improper use or 
                                        disclosure of information on the site caused by you. {{ site_name }} cannot and does not assume any responsibility for any loss, 
                                        damages or liabilities arising from the failure of any telecommunications infrastructure, or the internet or for your misuse 
                                        of any of information, advice, ideas, arrangements, instructions, or guidelines accessed through the site.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-align-justify"> </i>
                        </div>
                        <div class="media-body">
                            <h4> Indemnity </h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p>
                                        You agree to defend, indemnify, and hold {{ site_name }}, its officers, directors, employees, agents, advisors, licensors, and suppliers, 
                                        harmless from and against any claims, actions or demands, injuries (physical or psychological), liabilities and settlements including 
                                        without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from your violation of these Terms of Use.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="numbercircle termsofuse pull-left">
                            <i class="icon-list-ul"> </i>
                        </div>
                        <div class="media-body">
                            <h4> General Terms </h4>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 1. </div>
                                <div class="media-body">
                                    <p>
                                        Entire Agreement/Severability. These Terms, together with the Privacy Policy and any amendments and any additional agreements you may 
                                        enter into with {{ site_name }} in connection with the services, shall constitute the entire agreement between you and {{ site_name }} 
                                        concerning the services. If any provision of these Terms is deemed invalid, then that provision will be limited or eliminated to the 
                                        minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 2. </div>
                                <div class="media-body">
                                    <p>
                                        No Waiver. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and 
                                        {{ site_name }}'s failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="numbercircle sub-termsofuse pull-left"> 3. </div>
                                <div class="media-body">
                                    <p>
                                        Assignment. These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by 
                                        {{ site_name }} without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% endblock %}
            
    {% endembed %}
    
{% endblock %}
