<!-- DEPRECATED! Need to Remove -->

{% set _autocompleteWidget = form_widget(editGlobalAwardForm.extraValueAutocomplete ) %}
{% set _exraValueWidget = form_widget(editGlobalAwardForm.extraValue) %}
{% set _awardValueWidget = form_widget(editGlobalAwardForm.value) %}
{% set _globalTokenWidget = form_widget(editGlobalAwardForm._token) %}

{% if eachAward.list|length %}
       <ul class="single-listing">
           {% set existingAwards = [] %}
           {% for property in eachAward.list %}
               {% if property.value not in existingAwards %}
                   {% set existingAwards = existingAwards|merge([property.value]) %}
                   
                   {% set award = property.valueObject %}
                   {% set _extraValueArr = json_to_array(property.extraValue, true) %}
                   {% set _yearAcquired = _extraValueArr.year_acquired is defined ? _extraValueArr.year_acquired | join(', '): '' %}
                   <li class="hca-highlight" id="globalAwardRow_{{ property.id }}">
                       {{ award.name }}
                       <span class="pull-right" >
                           <span id="containerRow">
                                <span class="yearAcquired" > {{ _yearAcquired }}</span> 
                                <a class="edit_global_award" href="{{ path('institution_ajaxEditGlobalAward') }}" > {{ _yearAcquired ? '<i class="icon-edit"> </i>' : 'Add Year' }}</a>
                           </span>
                           <span class="edit_award_form_container" >
                               <img id="loader_ajax" src="{{ asset('images/institution/loading.gif') }}" style="display:none;"/>
                               
                           </span>
                       </span>
                   </li>
                {% endif %}
           {% endfor %}
       </ul>
{% else %}
    <div class="alert alert-block">
        <div class="hca-profile-sublevel">
            Here you can showcase {{ label | lower }} given to your Hospital.
        </div>
        <p class="hca-helptext">
            You haven't yet added any {{ label | lower }} for your Hospital. 
        </p>
         <button type="button" class="btn btn-primary edit-awards"  onclick="$('#show-{{ label }}').parent().find('#institution-edit-{{ label }}-btn').click()">
            <i class="icon-plus"></i>Add Entry
        </button>
    </div>   
{% endif %}

{% block inlineJavascriptCode %}
    <script type="text/javascript">
    $(function() {

        $('span.edit_award_form_container').find('input#institution_global_award_form_extraValueAutocomplete').globalAward('autocompleteYear');
	    $('a.edit_global_award').globalAward('edit', {
    	        'modal': $('span.edit_award_form_container'),
    	        'input_extraValueAutocomplete': 'input#institution_global_award_form_extraValueAutocomplete'
            });
	    });
 
</script>
{% endblock %}