{% set editOnClick = 'InstitutionProfile.toggleForm($(this))'  %}
{% set editFormTemplate = 'InstitutionBundle:Institution/Widgets:inlineEditForm.html.twig' %}

<!-- Institution Description Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Description', toggleBtnId: 'institution-edit-description-btn', viewElemId: 'show-about', editElemId: 'description',
        formParams: {formId: 'descriptionModalForm', fields: ['description']}
    } %}

    {% block viewContent %}
        <div id="institutionDescriptionText"> {{ institution.description|raw }} </div>

        <div class="alert alert-block" style="display:{{ institution.description is empty ? 'block' : 'none' }}">
            <div class="hca-profile-sublevel">
                Here you can showcase description.
            </div>
            <p class="hca-helptext">
                You haven't yet added any description about your {{ institutionLabel }} yet.
            </p>
            <a type="button" class="btn btn-primary" onclick="$('#institution-edit-description-btn').click()"> <i class="icon-plus"></i> Add Entry </a>
        </div>
    {% endblock %}
{% endembed %}

<!--  Institution Address -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Address', toggleBtnId: 'institution-edit-address-btn', viewElemId: 'show-address', editElemId: 'address',
        formParams: {formId: 'addressModalForm', fields: ['address1','country','city','state','zipCode'], modalId: 'addressModal', modalTitle: 'Edit Address'}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit"><i class="icon-info-sign"></i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-map-marker icon-2x pull-left"> </i>
                Providing your complete address helps us push you to the right searches, and helps patients plan their travel better.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <i class="icon-map-marker pull-left icon-gray"></i>
        <p class="address_column">{{ institution_address_to_string(institution) }}</p>
    {% endblock %}
{% endembed %}

<!-- Quick and dirty workaround -->
<a name="contact-details"></a>
<!--  Institution Contact Details -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Contact Details', toggleBtnId: 'institution-edit-contacts-btn', viewElemId: 'show-contact', editElemId: 'number',
        formParams: {formId: 'numberModalForm', fields: ['contactDetails','contactEmail'], modalId: 'numberModal', modalTitle: 'Edit Number'}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-phone-sign icon-2x pull-left"> </i>
                This is how we will contact you to let you know about potential leads. Please provide the correct phone numbers and email addresses to make sure
                you don't miss any inquiries that may come through <b> HealthcareAbroad </b>. <br>
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        {% set website = institution.websites %}
        <div id="alertDiv" class="{{ website == '' or institution.contactEmail == '' or not institution.contactDetails.first.number ? 'alert alert-block' : '' }}">
            <p>
                <i class="icon-globe"></i> Website:
                <span id="profileWebsitesText">
                    {% if website %}
                        <b>{{ website }}</b>
                    {% else %}
                        <b>no website</b> added.
                        <a onclick="$('#institution-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add website</a>
                    {% endif %}
                </span>
            </p>
            <p>
                <i class="icon-envelope"></i> Email:
                <span id="profileEmailText">
                    {% if institution.contactEmail %}
                       <b>{{ institution.contactEmail }}</b>
                    {% else %}
                        <b>no contact email</b> added.
                        <a onclick="$('#institution-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add contact email</a>
                    {% endif %}
                </span>
            </p>
            <p>
            {% for contactDetail in institution.contactDetails %}
                <i class="icon-phone"></i> {{ contact_label_type(contactDetail.type) }}:
                <span id="PhoneNumberText">
                  {% if contactDetail.number %}
                     <b>{{ contactDetail }}</b>
                  {% else %}
                      <b>no phone number</b> added.
                      <a onclick="$('#institution-edit-contacts-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add phone number</a>
                  {% endif %}
                </span>
            {% endfor %}
            </p>
        </div>
    {% endblock %}
{% endembed %}


<!-- Institution Social Media Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Social Media', toggleBtnId: 'institution-edit-socialmedia-btn', viewElemId: 'institution-socialMediaSites', editElemId: 'socialMedia',
        formParams: {formId: 'socialMediaForm', fields: ['socialMediaSites']}
    } %}

    {% block viewContent %}
      {% set socialSites = social_media_sites_to_array(institution.socialMediaSites) %}
        <div class="{{ socialSites.facebook == '' or socialSites.twitter == '' or  socialSites.googleplus == '' ? 'alert alert-block' : '' }}">
            {% for type, socialSite in socialSites %}
                {% set siteLabel = get_social_media_site_label(type) %}
                <p><i class="icon-{{ type == 'googleplus' ? 'google-plus' : type }}"></i>
                 <span class="_{{ type }}-wrapper _social-media-sites">
                      {% if socialSite %}
                         <b>{{ socialSite }}</b>
                      {% else %}
                          <b>no {{ siteLabel|lower }} account</b> added.
                          <a onclick="$('#institution-edit-socialmedia-btn').click()" class="btn btn-primary btn-small"><i class="icon-plus"></i> Add {{ siteLabel }} account</a>
                      {% endif %}
                  </span>
                </p>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}

{% if isSingleCenter %}
<!-- InstitutionMedicalCenter businessHours Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Clinic Schedule', toggleBtnId: 'clinic-edit-businessHours-btn', viewElemId: 'view-businessHours', editElemId: 'edit-businessHours',
        formParams: {formId: 'businessHoursForm', fields: ['businessHours']},
        _csrf_token_widget: form_widget(institutionMedicalCenterForm._token),
        editFormTemplate: 'InstitutionBundle:MedicalCenter/Widgets:inlineEditForm.html.twig'
    } %}

    {% block viewContent %}
        <!-- View Mode here -->
        <ul class="single-listing" id="businessHoursView" >
    		{% if institutionMedicalCenter.isAlwaysOpen != 0 %}
                <li>Open 24/7</li>
    		{% else %}
    		    {% for each in institutionMedicalCenter.businessHours %}
        		   <li>
        		        {% set _bhData =  business_hours_to_view_data(each) %}
                        <span class="fbh_selected_days_label">{{ _bhData.daysLabel | upper }}</span>
                        <b class="fbh_selected_time_label">{{ _bhData.startTime }} - {{ _bhData.endTime }}</b>
                        <p class="fbh_selected_item_notes"> {{ each.notes }} </p>
                    </li>
                {% else %}
                    <div class="alert alert-block">
                        <p class="hca-helptext">		
                            You haven't yet added business hours schedule for your {{ institutionLabel }}.
                        </p>
                        <button type="button" class="btn btn-primary edit-awards"  onclick="$('#clinic-edit-businessHours-btn').click()"><i class="icon-plus"></i> Add Entry</button>
                    </div>
    			{% endfor %}
    		{% endif %}
        </ul>

    {% endblock %}
{% endembed %}
{% endif %}


<!-- Institution Services Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Services', toggleBtnId: 'institution-edit-services-btn', viewElemId: 'show-services', editElemId: 'servicesContainerDiv',
        formParams: {formId: 'serviceForm', fields: ['services']}
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-ambulance icon-2x pull-left"> </i>
                Patients, especially medical tourists, always want to know what facilities and services are offered by clinics. This gives them an idea about the
                level of care and support that can be expected from an institution.<br> <br>
                Please indicate only what you actually provide. Being honest helps patients plan their trip better, and lets them know what to prepare for.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="servicesText">
           {% include 'InstitutionBundle:Widgets/Profile:services.html.twig' %}
        </div>
    {% endblock %}
{% endembed %}

<!-- EDIT YEAR AWARD -->
{% include 'InstitutionBundle:Widgets/Profile:form.editAward.html.twig' with {
    editGlobalAwardFormAction: path('institution_ajaxEditGlobalAward'),
    editGlobalAwardForm: editGlobalAwardForm
} %}
<!-- END OF EDIT YEAR AWARD -->

{% set awards = { list: currentGlobalAwards.award, editFormListWrapperId: 'listing-award' } %}
<!-- Institution Awards Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Awards', toggleBtnId: 'institution-edit-awards-btn', viewElemId: 'show-awards', editElemId: 'awardsDiv', awardsFilterList: '#listing-award', toggleBtnClass: 'edit-awards',
        formParams: {formId: 'awardsForm', fields: ['awards'] }
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Awards </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="awardsText">
            {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: awards , type : 'awards' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set certificates = { list: currentGlobalAwards.certificate, editFormListWrapperId: 'listing-certificate' } %}
<!-- Institution Certifications Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig' with {
        title: 'Certifications',
        toggleBtnId: 'institution-edit-certificates-btn',
        viewElemId: 'show-certificates',
        editElemId: 'certificatesDiv',
        awardsFilterList: '#listing-certificate',
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Certifications </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="certificatesText">
            {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: certificates, type : 'certificates' } %}
        </div>
    {% endblock %}
{% endembed %}

{% set affiliations = { list: currentGlobalAwards.affiliation, editFormListWrapperId: 'listing-affiliation' } %}
<!-- Institution Affiliations Section -->
    {% embed 'InstitutionBundle:Embed:profileSection.html.twig' with {
            title: 'Affiliations',
            toggleBtnId: 'institution-edit-affiliations-btn',
            viewElemId: 'show-affiliations',
            editElemId: 'affiliationsDiv',
            awardsFilterList: '#listing-affiliation',
            toggleBtnClass: 'edit-awards'
        } %}

        {% block headingHelptext %}
            <span class="tooltip-wrap hca-edit">
                <i class="icon-info-sign"> </i>
                <span class="tooltip-content hca-edit pull-left">

                    <i class="icon-asterisk icon-2x pull-left"> </i> <b> Affiliations </b> are indicators that assure patients and their family that your facility
                    is reliable, reputable and meets acceptable, if not superior, standards.
                </span>
            </span>
        {% endblock %}

        {% block viewContent %}
            <div id="affiliationsText">
                {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: affiliations, type : 'affiliations' } %}
            </div>
        {% endblock %}
    {% endembed %}

{% set accreditations = { list: currentGlobalAwards.accreditation, editFormListWrapperId: 'listing-accreditation' } %}
<!-- Institution Accreditations Section -->
{% embed 'InstitutionBundle:Embed:profileSection.html.twig'
    with {
        title: 'Accreditations',
        toggleBtnId: 'institution-edit-accreditations-btn',
        viewElemId: 'show-accreditations',
        editElemId: 'accreditationsDiv',
        awardsFilterList: '#listing-accreditation',
        toggleBtnClass: 'edit-awards'
    } %}

    {% block headingHelptext %}
        <span class="tooltip-wrap hca-edit">
            <i class="icon-info-sign"> </i>
            <span class="tooltip-content hca-edit pull-left">
                <i class="icon-asterisk icon-2x pull-left"> </i> <b> Accreditations </b> are indicators that assure patients and their family that your facility
                is reliable, reputable and meets acceptable, if not superior, standards.
            </span>
        </span>
    {% endblock %}

    {% block viewContent %}
        <div id="accreditationsText">
            {% include 'InstitutionBundle:Widgets/Profile:globalAwards.html.twig' with { eachAward: accreditations, type : 'accreditations' } %}
        </div>
    {% endblock %}
{% endembed %}
