<!--  Institution Description -->
<section class="section action-info hca-main-profile">
    <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#description" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show">
            <h3> About your Hospital </h3>
            <span> Here you can present your hospital general description. </span>
            <p class="hca-helptext" id="institutionDescriptionText"> {{ institution.description }} </p>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="description">
            <button class="btn btn-link pull-right" type="button" onclick="InstitutionProfile.closeProfileForm($(this)); return false;">
                <i class="icon-remove"> </i>
            </button>
           <h3> Hospital Description </h3>
            {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                 with {formId: 'descriptionModalForm', fields: ['description']} 
            %}
        </div>
   </div>
</section>
<!--  Institution Address -->
<section class="section action-info hca-main-profile">
    <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#address" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show">
            <h3>  Hospital Address </h3>
            <div class="activity-feeds">
                <span class="icon-map-marker"> </span>
                {% set _address = institution_address_to_array(institution) %}
                <span class="address_column">
                    <span class="address_part "> {{ _address | join(',&nbsp;</span><span class="address_part">') | raw}}</span>
                </span>
            </div>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="address">
            <button class="btn btn-misc pull-right" type="button" onclick="InstitutionProfile.closeProfileForm($(this)); return false;">
                <i class="icon-remove"> </i>
            </button>
           <h3> Hospital Address
                <a href="#"> <i class="icon-info-sign icon-1x"> </i> </a>
            </h3>
            {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                 with {formId: 'addressModalForm', fields: ['address1','country','city','state','zipCode'], modalId: 'addressModal', modalTitle: 'Edit Address'} 
            %}
        </div>
    </div>
</section>
<!-- Modal Number -->
 <section class="section action-info hca-main-profile">
     <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#number" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show">
            <h3> Hospital Contact Details </h3>
            <div class="activity-feeds">
                <p> <i class="icon-globe"> </i> http://www.
                    <b id="profileWebsitesText">  {{institution.websites}} </b>
                </p>
                <p> <i class="icon-envelope"> </i>
                    Email: <strong> <span id="profileEmailText"> {{institution.contactEmail}}</span>  </strong>
                </p>
                {% set _contactDetails = render_institution_contact_details(institution) %}
                {% if _contactDetails is not null %}
                    {% for contactDetail in _contactDetails %}
                        <p> <i class="icon-phone"> </i>
                        {% if(contactDetail.type == 'Phone') %}
                            Phone Number:    
                        {% elseif(contactDetail.type == 'Mobile') %}
                            Mobile Number:
                        {% else %}
                            Fax:
                        {% endif %}
                            <strong><span id="profileNumberText"> {{ contactDetail.number}}  </span> </strong>
                    {% endfor %}
                {% elseif %}
                    <p> <i class="icon-phone"> </i>Phone
                    <strong><span id="profileNumberText">   </span> </strong>
                    </p>
                {% endif %}  
                </p>
            </div>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="number">
            <button class="btn btn-link pull-right" type="button"  onclick="InstitutionProfile.closeProfileForm($(this)); return false;"> <i class="icon-remove"> </i> </button>
            <h3> Hospital Contact Detailssda </h3>
            {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                 with {formId: 'numberModalForm', fields: ['contactDetails','contactEmail'], modalId: 'numberModal', modalTitle: 'Edit Number'} 
            %}
        </div>
    </div>
</section>

<!-- Modal Social media sites -->
<section class="section action-info hca-main-profile">
     <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#socialMedia" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show">
            <h3>  Hospital Social Media </h3>
            <div class="activity-feeds" id="soclialMediaText">
                {% for type, site in institution_websites_to_array(institution) %}
               <p><i class="icon-{{ type }}"> </i>
                    http://www:  <b>{{ site }}</b>
                 </p>
                {% endfor %}
            </div>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="socialMedia">
            <button class="btn btn-link pull-right" type="button" onclick="InstitutionProfile.closeProfileForm($(this)); return false;">
                <i class="icon-remove"> </i>
            </button>
            <h3>  Hospital Social Media </h3>
                {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                     with {formId: 'socialMediaForm', fields: ['socialMediaSites']} 
                %}
        </div>
    </div>
</section>

<!-- Modal Services -->
<section class="section action-info hca-main-profile">
    <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#services" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show-services">
                <h3> Hospital Services </h3>
                <h4> List of Services offered by Your Hospital. </h4>
            <div class="activity-feeds" id="serviesText">
               {% include 'InstitutionBundle:Widgets:tabbedContent.institutionServices.html.twig' %}
            </div>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="services">
            <button class="btn btn-link pull-right" type="button" onclick="InstitutionProfile.closeProfileForm($(this)); return false;">
                <i class="icon-remove"> </i>
            </button>
            <h3> Hospital Services  </h3>
                {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                     with {formId: 'serviceForm', fields: ['services']} 
                %}
        </div>
    </div>
</section>

<!-- Modal Awards -->
<section class="section action-info hca-main-profile">
    <div class="hca-display">
        <a class="btn btn-misc btn-default pull-right btn-edit" href="#awardsDiv" onclick="InstitutionProfile.openProfileForm($(this)); return false;">Edit</a>
        <div class="show">
            <h3>  Certifications, Affilations, Awards and Accreditations  </h3>
            <div class="activity-feeds" id="awardsText">
               {% include 'InstitutionBundle:Institution/Widgets:institutionAwards.html.twig' %}
            </div>
        </div>
        <div class="row-fluid hca-edit-box" style="display:none;" id="awardsDiv">
            <button class="btn btn-link pull-right" type="button" onclick="InstitutionProfile.closeProfileForm($(this)); return false;">
                <i class="icon-remove"> </i>
            </button>
            <h3> Certifications, Affilations, Awards and Accreditations </h3>
                {% include 'InstitutionBundle:Widgets:institution.editProfileModalForm.html.twig' 
                     with {formId: 'awardsForm', fields: ['awards']} 
                %}
        </div>
    </div>
</section>
