{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubMenu = 'specializations' %}
{% set specializationLabels = getClassLabel('specialization') %}

{% block content %}
    <div class="span3">
    {% include 'AdminBundle:Widgets:subMenu.manageHcaData.html.twig'%}
	</div>
    <div class="span9"> 

        {% embed 'HelperBundle:Widgets:section.html.twig' with { 
                title: ( form.vars.value.id ? 'Edit ' : 'Add ' ) ~ specializationLabels.singular | title ,
                actions: [{link: path('admin_specialization_index'), label: 'View all '~ specializationLabels.plural | title, 'icon' : 'icon-list' }]
            }
        %}
            {% block sectionContent %}

                {% include '::notice.admin.html.twig' %}
                
                <form novalidate action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">
                    {% set imageType = constant('HealthCareAbroad\\TreatmentBundle\\Services\\SpecializationMediaService::LOGO_TYPE_IMAGE') %}
                    {% set imageSize = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::SPECIALIZATION_DEFAULT_LOGO') %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.media, {label: 'Logo', imageType: imageType, imageSize: imageSize}) }}
                    {{ form_rest(form) }}
                    <div class="clear"><br></div>
                    <input type="submit" value="Save" class="btn btn-large btn-primary" name="submit"/>
                    {% if not form.vars.value.id %}
                        <input type="submit" value="Save &amp; Add another {{ specializationLabels.singular | title }}" class="btn btn-large" name="submit"/>
                    {% endif %}
                </form>

            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/log/js/EntityVersionHistory.js') }}"></script>
    <script type="text/javascript">
        $(function(){

            EntityVersionHistory.setCommonDialog($('#dialog-container'), {});

            $('a.view-edit-history-link').click(function(){
                EntityVersionHistory.viewHistory($(this));
                return false;
            });

        });
    </script>
{% endblock %}
