{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'specializations' %}

{% block content %}

    <div id="content">

        <div id="page-heading"><h2>List of Specializations</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}

                {% set contents = [{
                        'title': 'Add specialization',
                        'description': 'Add new specialization',
                        'class': 'add-icon',
                        'href': path('admin_specialization_add'),
                        'links': [{'title': 'Add a specialization', 'href': path('admin_specialization_add')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}


                <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}

                <div style="width: 70%">
                    <table id="specialization-list" class="table table-bordered sortable-list">
                    <tr>
                        <th id="column-name">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Name</a>
                        </th>
                        <th id="column-description">
                            <a href="{{ app.request.uri }}" class="{{ sortBy == 'description' ? 'sort-' ~ sortOrder : '' }}">Description</a>
                        </th>

                        <th class="actions" width="210">Action</th>
                    </tr>

                    {% for each in specializations %}
                        {% if each.status %}
                            {% set class = 'icon-remove' %} {% set statusLabel = 'Deactivate' %}
                        {% else %}
                            {% set class = 'icon-ok' %} {% set statusLabel = 'Activate' %}
                        {% endif %}
                        <tr>
                            <td>{{ each.name }}</td>
                            <td>{{ each.description }}</td>
                            <td>
                                <a href="{{ path('admin_specialization_edit', {id:each.id}) }}" title="Edit"><i class="icon-edit"></i> Edit</a>
                                <br/>
                                <a href="{{ path('admin_subSpecialization_index', {specialization:each.id}) }}"><i class="icon-list"></i> View Sub-specializations</a>
                                <br/>
                                <a href="{{ path('admin_treatment_index', {specialization:each.id}) }}"><i class="icon-list"></i> View Treatments</a>
                                <br/>
                                {% set class = each.status ? 'icon-remove' : 'icon-ok' %}
                                <a href="{{ path('admin_specialization_updateStatus', {id:each.id}) }}" title="{{ statusLabel }}" class="update-status">
                                    <i class="{{ class }}"></i> <span>{{ statusLabel }}</span>
                                </a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td class="empty-list" colspan="3">No records yet!</td></tr>
                    {% endfor %}
                    </table>

                    {% if pager.isPaginable %}
                       {{ paginate(pager, 'admin_specialization_index', app.request.query.all) }}
                    {% endif %}
                </div>

            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}