    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="generic-table">
        <thead>
            <tr>
                <th style="width: 90px"></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">File</a></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">Attached to</a></th>
                <th class="table-header-options line-left"><a href="#">Date</a></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4">

                    <div style="float: right; margin-right: 10px">
                        {% if institutionMedia.isPaginable %}
                            {{ paginate(institutionMedia, 'admin_gallery_selection', {context: 'institution-logo', id: institution.id}) }}
                        {% endif %}
                    </div>

                </td>
            </tr>
        </tfoot>

        {% for media in institutionMedia %}
            <tr class="{{ cycle(['alternate-row', ''], loop.index) }}">
                <td valign="top">
                    {{ media(media, 'galleryAdd', {'institutionId': institution.id}) | raw }}
                </td>

                <td>{{ media.caption }}</td>

                <td>
                    <a class="selectLink" href="{{ path('admin_media_attach', { context: 'institution-logo', id: institution.id, 'mediaId': media.id }) }}">Select</a>
                </td>

                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center"> {{ institution.name }} has no media yet. </td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
    $(function() {

        $(".selectLink").unbind('click').click(function(e) {
            $.ajax({
                url: e.target,
                type: 'get',
                dataType: 'json',
                success: function(success) {
                    if (success) {
                        $(e.target).hide();
                    } else {
                        alert('An error occurred while processing your request. Please try again.');
                    }
                },
                error: function() {
                    alert('An error occurred while processing your request. Please try again.');
                }
            });

            e.stopPropagation();

            return false;
        });
    });
    </script>