   
		{% block wrappedContent %}
                {% include '::notice.admin.html.twig' %}
		<table class="{{newObject}}">
			<form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">

				{{ form_row(form.details) }}
				{{ form_rest(form) }}

				 <input type="submit" class="btn btn-large btn-primary" name="submit" value="Save"/>
			</form>
			</table>	
		{% endblock %}
			