{% extends 'AdminBundle::layout.institution.html.twig' %}

{% set centerTerm = getClassLabel('institution_medical_center') %}
{% set centerLabel = centerTerm.singular | title %}
{% set centersLabel = centerTerm.plural | title %}

{% block content %}
    <div class="span9">
        {% include '::notice.admin.html.twig' %}

        
        {% embed 'HelperBundle:Widgets:section.html.twig' 
            with { 
                title: centersLabel,
                actions:  isSingleCenter ? [] : [{link: path('admin_institution_medicalCenter_add', {institutionId:institution.id}), label: 'Add ' ~ centerLabel, 'icon' : 'icon-plus' }]  
            }
        %}
        
        {% block sectionContent %}
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}
                {% if institutionMedicalCenters is not empty %}
                <table id="city-list" class="table table-bordered sortable-list">
                    <tr>
                       <th width="50" align="center">Paying</a></th>
                       <th>Clinics</th>
                       <th>Description</th>
                       <th>Status</th>
                       <th>Actions</th>
                    </tr>
                    
                    {% for center in institutionMedicalCenters %}
                    <tr>
                        <td style="text-align: center;padding: 0">
                            <form class="paying-client-status-form" action="{{ path('admin_institution_medicalCenter_updatePayingClient', { institutionId:center.institution.id }) }}" method="post">
                                <select class="paying-client-field" name="payingClient">
                                    {% for _key, _label in payingClientStatusChoices %}
                                    <option value="{{ _key }}" {{ center.payingClient == _key ? 'selected':''}}>{{ _label }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="imcId" value="{{ center.id}}" />
                            </form>
                        </td>
                        <td>{{ center.name }}</td>
                        <td style="width: 425px";>{{ center.description  | raw  }}</td>
                        <td>{{ get_medical_center_status_label(center) }}</td>
                        <td>
                            <a href="{{ path('admin_institution_medicalCenter_view', {imcId: center.id, institutionId: institution.id}) }}" target="_blank" >
                                <i class="icon-share"></i><span>view</span>
                            </a>
                            <br />
                            <a href="{{ path('admin_institution_medicalCenter_edit', {imcId: center.id, institutionId: institution.id}) }}" target="_blank" >
                                <i class="icon-edit"></i> <span>edit</span>
                            </a>
                            <br />
                            <a target="_blank" href="{{ path('admin_showEditHistory', {objectId: center.id, objectClass: base64_encode(getClass(center))}) }}">
                                <i class="icon-share"></i> Logs
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
            
                
                </table>
                {% else %}
                        <div class="alert alert-block"> {{ institution.name }} has no {{ centersLabel }} yet. </div>
                {% endif %}
         {% if pager.isPaginable %}
         {{ paginate(pager, 'admin_institution_medicalCenter_index', app.request.query.all | merge(app.request.get('_route_params')) ) }}
        {% endif %}
        {% endblock %} 

        {% endembed %}
    </div>
{% endblock %}

{% block inlineJavascriptCode %}
<script src="{{ asset('bundles/admin/js/viewMedicalCenterManager.js') }}"></script>
<script type="text/javascript">
    $(function(){
        $(".collapse").collapse();
        $('select.paying-client-field').change(function(){
            $(this).parents('form.paying-client-status-form').submit();
        });

        $('form.paying-client-status-form').submit(function(e){
            e.preventDefault();
            var _form = $(this);
            var _msgElem = $('<div></div>').html('Processing...');
            _form.append(_msgElem);
            $.ajax({
                url: _form.attr('action'),
                data: _form.serialize(),
                type: 'put',
                dataType: 'json',
                success: function(response){
                    _msgElem.html('Done!');
                    setTimeout(function(){
                        _msgElem.fadeOut();
                    }, 1000);
                }
            });
        });
       
        $('.edit-center-name').click(function(){
            if($(this).next().is(':visible')) {
            	$(this).find('i').attr('class', 'icon-ok');
            	$(this).find('span').html('save')
                $(this).next().hide().siblings('input').show();
        
            } else {
                var url = $(this).attr('href');
                var param = { name: $(this).siblings('input').val() };

            	$.post(url, param, function(result){}, 'json');

            	$(this).find('i').attr('class', 'icon-edit');
            	$(this).find('span').html('edit')
                $(this).next().html(param.name).show().siblings('input').hide();

            	$("#centersAccordion").accordion("enable");
            }

            return false;
        }).siblings('input').click(function(){
			$('#centersAccordion').accordion("disable").removeClass('ui-state-disabled'); 
			$(this).parent().removeClass('ui-state-disabled'); 
		});

    });

</script>
{% endblock %}