{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'institutions'%}
{% set selectedSubTab = 'medical_centers_index'%}

{% block content %}
    <div id="content">
        <div id="page-heading"><h3>List of Medical Centers</h3></div>
        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}
             <div class="alert alert-success span9" style="display:none;">
            </div>
            {% include '::notice.admin.html.twig' %}
            <!-- Render Filter Box -->
            {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

            {% set sortBy = app.request.get('sortBy') %}
            {% set sortOrder = app.request.get('sortOrder') %}
            {% set default = sortBy | length ? '' : 'sort-asc' %}
            <div>
                <table class="table table-bordered sortable-list">
                <tr>
                    <th width="30" align="center">Name </a></th>
                    <th width="250" id="column-name"><a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Institution Name</a></th>
                    <th>Status</th>
                    <th width="100" id="column-dateCreated"><a href="{{ app.request.uri }}" class="{{ sortBy == 'dateCreated' ? 'sort-' ~ sortOrder : '' }}">Date Created</a></th>
                    <th width="100" id="column-dateUpdated"><a href="{{ app.request.uri }}" class="{{ sortBy == 'dateUpdated' ? 'sort-' ~ sortOrder : '' }}">Date Modified</a></th>
                    <th width="80">Actions</th>
                </tr>

                {% for institutionMedicalCenter in institutionMedicalCenters %}
                    <tr id="institution-medical-center-{{ institutionMedicalCenter.id }}">
                        <td> 
                            <a href="{{ path('admin_institution_medicalCenter_view', {imcId: institutionMedicalCenter.id, institutionId: institutionMedicalCenter.institution.id}) }}" target="_blank" class="pull-left view-center">
                                {{ institutionMedicalCenter.name | title }}
                            </a>
                        </td>
                        <td>
                            <a class="name" href="{{ path('admin_institution_view', {institutionId: institutionMedicalCenter.institution.id}) }}" target="_blank" title="View {{ institutionMedicalCenter.institution.name }}">{{ institutionMedicalCenter.institution.name | title }}</a> 
                        </td>
                        <td>{{ get_medical_center_status_label(institutionMedicalCenter) }}</td>
                        <td>{{ institutionMedicalCenter.dateCreated|date('m-d-Y h:iA') }}</td>
                        <td>{{ institutionMedicalCenter.dateUpdated|date('m-d-Y h:iA') }}</td>
                        <td>
                            <a href="{{ path('admin_institution_medicalCenter_view', {imcId: institutionMedicalCenter.id, institutionId: institutionMedicalCenter.institution.id}) }}" target="_blank" >
                                <i class="icon-share"></i> <span>view </span>
                            </a>
                            <br />
                            <a href="{{ path('admin_institution_medicalCenter_edit', {imcId: institutionMedicalCenter.id, institutionId: institutionMedicalCenter.institution.id}) }}" target="_blank" >
                                <i class="icon-edit"></i> <span>edit </span>
                            </a>
                            <br />
                            <a class="" style="font-size:13px;font-weight:normal" target="_blank" href="{{ path('admin_showEditHistory', {objectId: institutionMedicalCenter.id, objectClass: base64_encode(getClass(institutionMedicalCenter))}) }}">
                               <i class="icon-share"></i> Logs
                            </a>
                        </td>
                    </tr>
                {% else  %}
                    <tr><td class="empty-list" colspan="4">No records yet!</td></tr>
                {% endfor %}
                </table>
                
     
            </div>
            
            {% endblock %}
        {% endembed %}
        
        {% if pager.isPaginable %}
           {{ paginate(pager, 'admin_institution_medicalCenters', app.request.query.all) }}
        {% endif %}
    </div>

{% endblock %}

{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/admin/js/Institution.js') }}" ></script>
<script type="text/javascript">
</script>
{% endblock %}