<aside class="span4">
    <section class="aside-box info why-register">
        <h3>
            Why Register ?
        </h3>
        <p class="info-txt">
            Please explain here why it's important to create an account.
        </p>
        <div class="features">
            <div class="media">
                <img src="{{ asset('images/institution/logo_ph.png') }}" class="media-object pull-left">
                <div class="media-body">
                    <span class="description">
                        Add your Hospital or Clinic.
                    </span>
                </div>
            </div>
            <div class="media">
                <img src="{{ asset('images/institution/phone_ph.png') }}" class="media-object pull-left">
                <div class="media-body">
                    <span class="description">
                        Add your Clinic or Hospital's contact information.
                    </span>
                </div>
            </div>
            <div class="media">
                <img src="{{ asset('images/institution/location_ph.png') }}" class="media-object pull-left">
                <div class="media-body">
                    <span class="description">
                        Let people find your registered Clinic or Institution.
                    </span>
                </div>
            </div>
            <div class="media">
                <img src="{{ asset('images/institution/awards_ph.png') }}" class="media-object pull-left">
                <div class="media-body">
                    <span class="description">
                        Manage Institution Awards and Certifications
                    </span>
                </div>
            </div>
            <div class="media">
                <img src="{{ asset('images/institution/institution_ph.png') }}" class="media-object pull-left">
                <div class="media-body">
                    <span class="description">
                        Write Your Clinic Profile
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="aside-box">
        <h3>
            Already Registered ?
        </h3>
        <p>
            You can
            <a href="{{ path('institution_login') }}">Sign In Here</a>
            or
            <a href="{{ path('frontend_main_homepage') }}">Back to Home</a>
        </p>
    </section>
</aside>