<a class="icon-2 attached-delete-form delete-media-from-gallery" title="Delete" href="" style="margin-right: 0px;position: absolute;right: 5px;" data-media-id="{{ media.id }}">
    <i class="icon-remove"></i>
</a>

<a class="fancybox" rel="gallery" {% if options.fancybox.useIFrame %}data-fancybox-type="iframe"{% endif %} href="{{ src }}" title="{{ media.caption }}">
    <img src="{{ src_thumb }}" width="180px" height="180px" alt="Media" style="border: 1px solid #eee; padding: 2px;"/>
</a>
<br>
<a class="attached-edit-form" title="Edit Caption" href="#" name="link_caption{{ media.id }}" id="link_caption{{ media.id }}" style="width:180px;display:inline-block;word-wrap: break-word">
    {{ media.caption }}
</a>