{# this file will be shared with medical centers profile page #}

<div class="cover-photo-wrapper">
    <h1>{{ viewData.headerText }}</h1>
    <img class="featured-image" src="{{ viewData.featuredMediaSource }}" />

    <div class="info-wrapper hca-v-sprite stripe-bg-dark">
        <div class="logo-wrapper">
            {% if viewData.logoSource %}
                <img src="{{ viewData.logoSource }}" class="hospital-logo" />
            {% else %}
                <span class="hca-sprite hospital-default-logo"></span>
            {% endif %}
        </div>
        <div class="span5 pull-right">
            <ul class="unstyled inline-list pull-right">
                {% if viewData.contactNumber %}
                <li>
                    <a href="#" id="hospital-contact" rel="popover" class="btn orange" data-contact-number="{{ viewData.contactNumber }}">
                        <i class="icon-phone"></i> Call Us
                    </a>
                </li>
                {% endif %}

                <li>
                    <a class="btn orange" href="#form_feedback" role="button"><i class="icon-envelope-alt"></i>  Email Us</a>
                </li>
            </ul>
            <ul class="unstyled inline-list pull-right">
                <li>
                    <a id="hospital_contact" class="btn orange" href="#">Visit <i class="icon-facebook"></i></a>
                </li>
                <li>
                    <a id="email_multiple" class="btn orange" href="#modal_multiple_institution_inquiry_form" role="button" data-toggle="modal">
                        Visit <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a id="visit_website" class="btn orange" href="#" role="button" data-toggle="modal">Visit <i class="icon-google-plus"></i></a>
                </li>
            </ul>
        </div>

        <div class="address">
            <span class="hca-sprite address-icon pull-left"></span>
            <address>
                {{ viewData.streetAddress }}, {{ viewData.mainAddress }}
            </address>
        </div>
    </div>    
</div>

