<div class="clinic-header-wrapper">
    <div class="logo-wrapper pull-left">
        {{ render_institution_medical_center_logo(institutionMedicalCenter, {attr: {class: 'clinic-logo default', alt: 'clinic logo'}, 'context' : 1}) | raw }}
    </div>
    
    <div class="right-column-wrapper">
    	<h2>{{ institution.name }}</h2>
		<div class="address-wrapper">
		    <span class="hca-sprite address-icon-dark"></span>
			<address>
			    {{ institution_address_to_string(institution, ['address1', 'zipCode']) }}
			    <strong>{{ institution_address_to_string(institution, ['city', 'state', 'country']) }}</strong>
			</address>
		</div>

    	<div>
        	{% if number %}
        	    <a id="institution-call" href="javascript:void(0)" class="btn green"><span class="white-icon-search"></span> Call Us</a>
        	{% endif %}
        	{% if email %}<a id="email-single" class="btn green" title="send email to {{email}}"><span class="hca-sprite email-icon"></span> Email</a>{% endif %}
        	{# if mainWebsites %}<a href="{{ mainWebsites }}" class="website btn green" target="_blank">Visit Website</a>{% endif #}
        	
        	<!-- Modal Single Institution Inquiry -->
            	{% include 'FrontendBundle:Institution/Widgets:inquire.institution.html.twig' 
            	     with { modalId: 'modal_single_institution_inquiry_form', modalTitle: 'Email ' ~ institution.name } 
            	%}
           <!-- end Modal Single Institution Inquiry -->
    	</div>
    </div>
</div>

{% block inlineJavascriptCode %}
    <script src="{{ asset('bundles/frontend/js/institution.js') }}"></script>
    <script type="text/javascript">
    	$('#institution-call').tooltip({
    		title: '<h5><small>Landline: </small>{{ number }}</h5>',
    		html: true, delay: 0, animation: true, trigger: 'click'
    	});
    	
        $('#email-single').click(function(){
        	$('div#modal_single_institution_inquiry_form').modal('show');
            return false;
        });
    </script>
{% endblock %}

