
{% set number = render_institution_contact_details(institution, true) %}
{% set websites = institution.websites %}
{% set websites = json_decode(websites) %}
{% set mainWebsites = (websites.main is defined) and websites.main ? websites.main : false %}
<div class="cover-photo-wrapper">
    <h1>{{ institution.name }}</h1>
    {% if institution.featuredMedia and institution.payingClient %}
        {% set size = constant('HealthCareAbroad\\MediaBundle\\Services\\ImageSizes::LARGE_BANNER') %}
        <img src="{{ institution_media_src(institution.featuredMedia, size) }}" class="featured-image" alt=""/>
    {% else %}
        <img class="featured-image" src="{{ imageplaceholder.institutionFeaturedImage }}" alt=" "/>
    {% endif %}

    <div class="info-wrapper hca-v-sprite stripe-bg-dark">
        <div class="logo-wrapper">
            {{ render_institution_logo(institution, {attr: {alt: 'hospital logo'}}) | raw }}
        </div>
        <div class="span5 pull-right">
            <ul class="unstyled inline-list pull-right">
                {% if number %}
                    <li>
                        <a id="hospital-contact" class="btn orange" href="#" rel="tooltip" data-contact-number="{{ number }}" >
                            <span class="hca-sprite call-icon"></span> Call Us
                        </a>
                    </li>
                {% endif %}

                    <li>
                        <a class="btn orange" data-toggle="modal" id="email_multiple" href="#modal_multiple_institution_inquiry_form">
                            <span class="hca-sprite email-icon"></span> Email
                        </a>
                        <!-- Modal Multiple Institution Inquiry -->
                        {% include 'FrontendBundle:Institution/Widgets:inquire.institution.html.twig' 
                             with { modalId: 'modal_multiple_institution_inquiry_form', modalTitle: 'Email ' ~ institution.name } 
                        %}
                       <!-- end Modal Multiple Institution Inquiry -->
                    </li>

                {% if mainWebsites %}
                    <!--li><a class="btn orange" href="{{ mainWebsites }}" target="_blank"><span class="hca-sprite link-icon"></span> Visit Website</a></li-->
                {% endif %}
            </ul>
        </div>
        <div class="address">
            <span class="hca-sprite address-icon pull-left"></span>
            <address>
                {{ institution_address_to_string(institution, ['address1']) }}
                <br/>
                {{ institution_address_to_string(institution, ['city', 'state', 'country', 'zipCode']) }}
            </address>
        </div>
    </div>    
</div>

