
{% set number = contact_details_to_json(institution.contactDetails, true) %}
<div class="cover-photo-wrapper">
    <h1>{{ institution.name }}</h1>
    
    {% set featuredMediaSrc = institution.featuredMedia and institution.featuredMedia.src ? institution.featuredMedia.src : imageplaceholder.institutionFeaturedImage %}
    <img class="featured-image" src="{{ featuredMediaSrc }}" />

    <div class="info-wrapper hca-v-sprite stripe-bg-dark">
        <div class="logo-wrapper">
            {% if institution.logo and institution.logo.src %}
                <img src="{{ institution.logo.src }}" class="hospital-logo" />
            {% else %}
                <span class="hca-sprite hospital-default-logo"></span>
            {% endif %}
        </div>
        <div class="span5 pull-right btn-contact-list">
            <ul class="unstyled inline-list">
                {% if number %}
                    <li>
                        <a id="hospital-contact" class="btn orange" href="#" rel="tooltip" data-contact-number="{{ number }}" >
                            <span class="hca-sprite call-icon"></span> Call Us
                        </a>
                    </li>
                {% endif %}

                    <li>
                        <a class="btn orange" data-toggle="modal" id="email_multiple" href="#modal_multiple_institution_inquiry_form">
                            <span class="hca-sprite email-icon"></span> Email
                        </a>
                        <!-- Modal Multiple Institution Inquiry -->
                        {% include 'FrontendBundle:Institution/Widgets:inquire.institution.html.twig' 
                             with { modalId: 'modal_multiple_institution_inquiry_form', modalTitle: 'Email ' ~ institution.name } 
                        %}
                       <!-- end Modal Multiple Institution Inquiry -->
                    </li>
            </ul>
            <ul class="unstyled inline-list">
                <li>
                    <a id="hospital_contact" class="btn orange" href="#">Visit <i class="icon-facebook"></i></a>
                </li>
                <li>
                    <a id="email_multiple" class="btn orange" href="#modal_multiple_institution_inquiry_form"
                    role="button" data-toggle="modal">Visit <i class="icon-twitter"></i></a>
                </li>
                <li>
                    <a id="visit_website" class="btn orange" href="#" role="button" data-toggle="modal">Visit <i class="icon-google-plus"></i></a>
                </li>
            </ul>
        </div>

        <div class="address">
            <span class="hca-sprite address-icon pull-left"></span>
            <address>
                {{ institution_address_to_string(institution, ['address1']) }}
                <br/>
                {{ institution_address_to_string(institution, ['city', 'state', 'country', 'zipCode']) }}
            </address>
        </div>
    </div>    
</div>

