{% embed 'FrontendBundle:Embed:asideBox.html.twig' with {title: title, sectionId: 'form_feedback'} %}
    {% block asideContent %}
    <form {{ form_enctype(form) }} action="" id="inquiryForm">
        <div class="alert-box"></div>
        <div class="inquirerName control-group">
            <label for="{{ form.children.inquirerName.vars.id }}">
               {{ form.children.inquirerName.vars.label }}
            </label>
            {{ form_widget(form.inquirerName) }}
        </div>
        <div class="country control-group">
            <label for="{{ form.children.country.vars.id }}" >
                {{ form.children.country.vars.label }}
            </label>
            {{ form_widget(form.country) }}
        </div>
        <div class="inquirerEmail control-group">
            <label for="{{ form.children.inquirerEmail.vars.id }}">
                {{ form.children.inquirerEmail.vars.label }}
            </label>
            {{ form_widget(form.inquirerEmail) }}
            <p class="help-text"><small>Don't worry! We hate SPAM as much as you do!</small></p>
        </div>
        <div class="message control-group row-fluid">
            <label for="{{ form.children.message.vars.id }}" >
                {{ form.children.message.vars.label }}
            </label>
            {{ form_widget(form.message, {attr: {rows: 5} }) }}
        </div>
    
        <div class="captcha control-group">
            <label for="{{ form.children.captcha.vars.id }}" >
                {{ form.children.captcha.vars.label }}
            </label>
                {{ form_widget(form.captcha) }}
        </div>
    
        <div class="control-group">
            <label class="checkbox">
                {{ form_widget(form.newsletterSubscription) }}{{ form.children.newsletterSubscription.vars.label }}
            </label>
        </div>
        {{ form_rest(form) }}
    
        <div class="control-group">
            <button class="btn btn-primary blue" data-loader-text="Processing..." id="inquiry_submitButton" type="submit">Send Message</button>
        </div>
    
        <p class="align-justify">
            <small>We do not sell, trade, share nor otherwise transfer to outside parties your personally identifiable information without your full consent.
            By submitting this you agree to our <a href="{{ path('frontend_page_terms_of_use')}}">Terms of Service</a> and <a href="{{ path('frontend_page_privacy_policy') }}">Privacy Policy</a>.</small>
        </p>
    </form>        
	{% endblock %}
{% endembed %}
