{% embed 'FrontendBundle:Embed:modalBox.base.html.twig' with {'modal': {'id' : modalId, 'title': modalTitle, 'formId': formId}} %}
    {% block modalBody %}
    
    <form class="form-horizontal" {{ form_enctype(form) }} action="{{ path('frontend_multiple_center_ajaxSaveInstitutionInquiry', {institutionId : institution.id}) }}" id="{{formId}}" method="POST">
    	<div class="alert-box"></div>
        <div class="inquirer_name control-group row-fluid">
            <label for="{{ form.children.inquirer_name.vars.id }}" class="span3 pull-left">
                <strong>{{ form.children.inquirer_name.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirer_name) }}
        </div>
        <div class="country control-group row-fluid">
            <label for="{{ form.children.country.vars.id }}" class="span3 pull-left">
                <strong>{{ form.children.country.vars.label }}</strong>
            </label>
            <div class="country-select">
            {{ form_widget(form.country) }}
            </div>
        </div>
        <div class="inquirer_email control-group row-fluid">
            <label for="{{ form.children.inquirer_email.vars.id }}" class="span3 pull-left">
                <strong>{{ form.children.inquirer_email.vars.label }}</strong>
            </label>
            {{ form_widget(form.inquirer_email) }}
        </div>
        
        <div class="message control-group row-fluid">
            <label for="{{ form.children.message.vars.id }}" >
                <strong>{{ form.children.message.vars.label }}</strong>
            </label>
            {{ form_widget(form.message, { 'attr': {'rows': 5} }) }}
        </div>
        
        <div class="captcha control-group row-fluid">
            <label for="{{ form.children.captcha.vars.id }}" class="pull-left">
                <strong>{{ form.children.captcha.vars.label }}</strong>
            </label>
            {{ form_widget(form.captcha, { 'attr': {'rows': 4} }) }}
        </div>
        {{ form_rest(form) }}
                            	                        	
    </form>    
    
    {% endblock %}
    {% block footerBody %}
        <button aria-hidden="true" data-dismiss="modal" class="btn">Cancel</button>
        <button data-loader-text="Processing..." id="modal_institution_inquiry_submitButton" class="btn btn-primary orange">Send Message</button>
    {% endblock %}
{% endembed %}