{% form_theme form 'FrontendBundle:Form:form.horizontal.html.twig' %}
<form class="form-horizontal"  {{ form_enctype(form) }} action="" id="inquiryForm">
    <div class="alert-box"></div>
    <div class="inquirer_name control-group">
        <label for="{{ form.children.inquirer_name.vars.id }}">
           {{ form.children.inquirer_name.vars.label }}
        </label>
        {{ form_widget(form.inquirer_name, {attr: {class: 'span9'}}) }}    
    </div>
    <div class="country control-group">
        <label for="{{ form.children.country.vars.id }}" >
            {{ form.children.country.vars.label }}
        </label>
        {{ form_widget(form.country, {attr: {class: 'span9'}}) }}
    </div>
    <div class="inquirer_email control-group">
        <label for="{{ form.children.inquirer_email.vars.id }}">
            {{ form.children.inquirer_email.vars.label }}
        </label>
        {{ form_widget(form.inquirer_email, {attr: {class: 'span9'}}) }}    
        <small>Don't worry! We hate SPAM as much as you do!</small>
    </div>
    <div class="message control-group row-fluid">
        <label for="{{ form.children.message.vars.id }}" >
            {{ form.children.message.vars.label }}
        </label>
        {{ form_widget(form.message, {attr: {rows: 5, class: 'span9'} }) }}
    </div>
    
    <div class="captcha control-group">
        <label for="{{ form.children.captcha.vars.id }}" >
            {{ form.children.captcha.vars.label }}
        </label>
            {{ form_widget(form.captcha) }}
    </div>

    <div class="control-group">
        <label class="checkbox">
            <input type="checkbox">Yes I'd like to hear from similar Doctors and Clinics in <a href="#">Clinic Country</a>
        </label>
         <label class="checkbox">
            <input type="checkbox">Yes, I'd like to subscribe to the HealthcareAbroad newsletter.
        </label> 
    </div>

    <button class="btn btn-primary orange" data-loader-text="Processing..." id="inquiry_submitButton" type="submit">Send Message</button>

    <p>
        <small>We do not sell, trade, share nor otherwise transfer to outside parties your personally identifiable information without your full consent. 
        By submitting this you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</small>
    </p>
</form>