<button class="btn hca-location-btn show_list_btn" type="button">
    <span class="icon-chevron-down"></span>
</button>
<div class="combolist-wrapper"></div>

<script type="text/javascript" src="{{ asset('bundles/helper/js/fancy_autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/helper/js/Location.js') }}"></script>
<script type="text/javascript">
(function($){
    $(function(){
    	Location.loadCitiesUrl = '{{ path("helper_loadCities") }}';

    	var _currentCity = '{{ cityId }}';
    	var _valueContainer = $('#{{ valueContainer }}');
    	var _inputElem = _valueContainer.siblings('.hca-country:first');
    	var _currentValue = _valueContainer.val();

        Location.loadCities(_valueContainer, _currentCity);

    	_inputElem.fancyAutocomplete({
            source: window.JSON.parse('{{ countryJsonList | raw }}'),
            maxItems: 0,
            valueContainer:  _valueContainer,
            autocomplete: {minLength: 0},
            onAutocompleteSelectCallback: function(){
            	Location.loadCities( _valueContainer, _currentCity);
            	_inputElem.data('fancyAutocomplete');
            }
        });

        _inputElem.val('{{ country }}');
        _valueContainer.val(_currentValue);
    });
})(jQuery);
</script>