    <button class="btn dropdown-toggle" data-toggle="dropdown" >
        <span class="flag16 ph"> </span>
        <span class="caret">
        </span>
    </button>
    <ul class="dropdown-menu zipcode">
        {% for _list in countryList %}
            <li onclick="$.ContactNumberFormAction.dropdownCountryCode($(this), '{{inputId}}'); return false;"><span class="flag16 {{ _list.abbr | lower}}"></span><span class="code">{{ _list.name }} (+{{ _list.code }})</span></li>
        {% endfor %}
    </ul>
  
{% block inlineJavascriptCode %}
<script type="text/javascript" src="{{ asset('bundles/helper/js/ContactNumberForm.js') }}" ></script>
<script language="javascript" type="text/javascript">
(function($){
    $(function(){

        $('input.numberSelector').ContactNumberForm('contactInputField');
    	$.ContactNumberFormAction._setJsonValue($.parseJSON('{{ countryJson | raw}}'));
        });
    })(jQuery);
</script>	
{% endblock %}