<div class="flag-selector-widget" style="display:inline-block"> 
    <button type="button" class="btn flag-list-toggle">
        <span class="flag16 "> </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu zipcode flag-list" style="display:none">
        {% for _list in countryList %}
            <li data-abbr="{{ _list.abbr is defined ? _list.abbr | lower : ''  }}" data-code="{{ _list.code is defined ? _list.code : ''  }}">
                <span class="flag16 {{ _list.abbr is defined ? _list.abbr | lower : '' }}"></span><span class="code">{{ _list.name is defined ? _list.name : '' }} (+{{ _list.code is defined ? _list.code : '' }})</span>
            </li>
        {% endfor %}
    </ul>
</div>


{% if loadJs %}

{% block inlineJavascriptCode %}
<script type="text/javascript">
(function($){
    $(function(){
        console.log('loadFlagWidgetJs'); 
    	var countryCodes = [];
        var flagList = $('.flag-selector-widget:first').find('.flag-list > li');
    	
    	$.each(flagList, function(){
    		countryCodes.push($(this).attr('data-code'));
        });

	    $('.flag-selector-widget > .flag-list-toggle').click(function(){
    	    $(this).next().toggle();
    	});

	    $('input[data-type=number]').keydown(function( event ) {
        	validateNumbers(event);
	    }).keyup(function(event){
	    	validateNumbers(event);
			if($.inArray($(this).val().substr(1), countryCodes) !== -1 && $(this).val().length > 1) {
				$(this).siblings('.flag-selector-widget:first').find('.flag-list > li[data-code='+ $(this).val().substr(1) +']').click();
    		}
	    });


    	$.each($('.flag-selector-widget'), function(elem){
        	//console.log($(this));
        	//console.log($(this).siblings('input[data-type=number]:first'));
        	
    	    flagWidget = $(this);
    	    flagListElem = $(this).find('.flag-list:first');
    	    abbrElem = $(this).siblings('input[data-type=abbr]:first');
    	    prevSelectedElem = flagListElem.find('li[data-abbr='+abbrElem.val()+']');

    	    abbr = abbrElem.val() != '' ? abbrElem.val() : flagListElem.children(':first').attr('data-abbr');
    	    
        	flagWidget.find('.flag-list-toggle > .flag16:first').attr('class', 'flag16 ' + abbr);

    	    flagListElem.children('li').click(function(){
                inputElem = $(this).parents('.flag-selector-widget:first').siblings('input[data-type=number]:first');

                //if(prevSelectedElem.length) { 
                	$(this).siblings().removeClass('selected');
                    $(this).addClass('selected');
                    //inputElem.val('+' + $(this).attr('data-code') +  inputElem.val().substr(prevSelectedElem.attr('data-code').length+1)).change();
                ///} else {
                	inputElem.val('+' + $(this).attr('data-code')).change();
                //}

                $(this).parent().prev().find('.flag16').attr('class', 'flag16 ' + $(this).attr('data-abbr'));
                $(this).parent().hide();
            });
    	    
    		//console.log($(this));
        });
    	{#
    	/*
        $('.flag-list > li').click(function(){
            prevSelectedElem = $(this).siblings('.selected:first');

            if(prevSelectedElem.length) { 
            	$(this).siblings().removeClass('selected');
                $(this).addClass('selected');

            	$('#{{ inputId }}').val('+' + $(this).attr('data-code') +  $('#{{ inputId }}').val().substr(prevSelectedElem.attr('data-code').length+1)).change();
                $(this).parent().prev().find('.flag16').attr('class', 'flag16 ' + $(this).attr('data-abbr'));
            }
        	
            $(this).parent().hide();
        }); */

        //$('.flag-selector-widget > .flag-list-toggle').click(function() {
            //$(this).next().toggle();
        //});

        /*
        $('#{{ inputId }}').keydown(function( event ) {
        	validateNumbers(event);
	    }).keyup(function(event){
	    	validateNumbers(event);
			if($.inArray($(this).val().substr(1), countryCodes) !== -1 && $(this).val().length > 1) {
    			$(this).siblings('.flag-selector-widget:first').find('.flag-list > li[data-code='+ $(this).val().substr(1) +']').click();
    		}
	    }); */ #}

	    
    });
})(jQuery);

function validateNumbers(event){
    if (!(event.keyCode == 8                                // backspace
            || event.keyCode == 9                               // tab
            || (event.keyCode == 91 || event.keyCode == 224 || event.keyCode == 65 || event.keyCode == 67 || event.keyCode == 86 )        // allow ctrl copy paste keys
            || event.keyCode == 46                              // delete
            || event.keyCode == 61								// +
            || (event.keyCode >= 35 && event.keyCode <= 40)     // arrow keys/home/end
            || (event.keyCode >= 48 && event.keyCode <= 57)     // numbers on keyboard
            || (event.keyCode >= 96 && event.keyCode <= 105)    // number on keypad
            || ((event.keyCode >= 48 && event.keyCode <= 58 || event.keyCode == 173 ) && event.shiftKey)  //shift and ! to - on same control
            || ((event.keyCode >= 48 && event.keyCode <= 58 || event.keyCode == 173 ) && event.altKey)))  //altKey and ! to - on same control 
            
    {    
        event.preventDefault();
    }
}
</script>	
{% endblock %}

{% endif %}