<div class="sidebar-nav">
    <ul class="nav nav-list bs-docs-sidenav affix">
        {% set i = 0 %}
        {% for link in links %}
        <li class="{{ i == 0  ? 'active' : '' }}">
         	 {% if link.class is not defined  %}
			 	 <a href="{{ link.url }}"><i class="{{ link.icon }}"></i>{{ link.label }}</a>
			 {% endif %}
			        
			 {% if link.class is defined %}
              	 <a href="{{ link.url }}" class="{{ link.class }}"><i class="{{ link.icon }}"></i>{{ link.label }}</a>
             {% endif %}
           
        </li>
        {% set i = i + 1 %}
        {% endfor %}
    </ul>
</div>