<div class="sidebar-nav">
    <ul class="nav nav-list bs-docs-sidenav">
        {% for link in links %}
        <li class="{{ link.active is defined and link.active ? 'active' : (loop.index==1 and link.active is not defined? 'active':'') }}">
         	 {% if link.class is not defined  %}
			 	 <a href="{{ link.url }}"><i class="{{ link.icon }}"></i>{{ link.label }}</a>
			 {% endif %}
			        
			 {% if link.class is defined %}
              	 <a href="{{ link.url }}" class="{{ link.class }}"><i class="{{ link.icon }}"></i>{{ link.label }}</a>
             {% endif %}
        </li>
        
        {% endfor %}
    </ul>
</div>

<script type="text/javascript">
$(function(){
	{% if (isScrollable is defined) and isScrollable %}
    	$(window).scroll(function(){
    		if($(window).scrollTop() >= 220) {
    			$('#navbar-side > div > ul').addClass('affix');
    		} else {
    			$('#navbar-side > div > ul').removeClass('affix');
    		}
    	});
	{% endif %}
});
</script>