<div class="box_outer">
	<div class="lates_feat_news">
        <h3 class="widget_title">Featured Clinics</h3>
        
	        <div class="latest_vids_wrap">
				<div class="scrollable" id="scrolling_vids">   
	                 <!-- root element for the items -->
	                <div class="scroll_items">
	                    <div class="lates_feat_item">
	                        <a href="#">
	                            <img src="{{ asset('images/frontend/demo/img.png') }}" alt="put here" />
	                        </a>
	                        <p>
	                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
	                        </p>
	                    </div><!--lates_feat_item-->
	                   
	                    <div class="lates_feat_item">
	                        <a href="#">
	                            <img src="{{ asset('images/frontend/demo/img.png') }}" alt="put here" />
	                        </a>
	                        <p>
	                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
	                        </p>
	                    </div><!--lates_feat_item-->
	                    
	                    <div class="lates_feat_item">
	                        <a href="#">                         
	                        </a>
	                        <p>
	                            <a href="#">Lorem ipsum dolor sit amet</a>
	                        </p>                                       
	                        <div style="float:right; margin: 12px -12px 0 0;"> <img src="{{ asset('images/frontend/demo/awards.png') }}" alt="put here" /> 
	                        
	                        </div>                      
	                    </div><!--lates_feat_item-->
	                                                      
	                    <div class="lates_feat_item">
	                        <a href="#">
	                            <img src="{{ asset('images/frontend/demo/img.png') }}" alt="put here" />
	                        </a>
	                        <p>
	                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
	                        </p>
	                    </div><!--lates_feat_item-->
	                 
	                    <div class="lates_feat_item">
	                        <a href="#">
	                            <img src="{{ asset('images/frontend/demo/img.png') }}" alt="put here" />
	                        </a>
	                        <p>
	                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</a>
	                        </p>
	                    </div><!--lates_feat_item-->                           
	              </div> <!--End Items-->
	           </div> <!--End scrollable-->
	       </div> <!--Latest Vids Wrap-->

		<div class="navi"><div class="navi_links"></div></div>
		
    </div><!--Latest Video News-->
</div> <!--Box Outer-->