{% for featuredListing in advertisements %}

    {% set listing = featuredListing.object %}
    <div class="box_outer">

       <div class="news_box">
             <div class="news_box_heading">
    			<div class="nb_dots">
    				<h2><a href="#">{{ featuredListing.title }}</a></h2>
    				<div style="float:right;background-color:#40454d; padding: 1px 10px; color:#fff">View All</div>
    			</div>
             </div> <!--End nb Heading-->
             
             <div class="news_box_left">
    			<div class="recent_news_item">
                    <h4 class="recent_news_title"><a href="#">{{ listing.medicalCenter.name }}</a></h4>
    				
    				<div class="recent_news_img">			
    				    <a href="#">	
    		                <img src="{{ asset('images/frontend/demo/box_thumb.png') }}" alt="" title="" />			
    		                <span class='nb_slide_icon'></span>		
    				    </a>	
    				</div>		
    				<div class="recent_news_content">		
    	                <p class="recent_news_excpert">
    		    			{{ featuredListing.description }} 
    	                </p>
    				
    					<div class="nb_meta">
    		                <span class="news_date">{{ listing.dateCreated | date("F d, Y") }}</span>				
    						<span class="news_comments_count"><a href="#"><img src="{{ asset('images/frontend/demo/partner.jpg') }}" alt="" title="" /></a></span>				
    					</div> <!--End NB META-->	
                    </div> <!--recent news Content-->
    			</div> <!--recent News Item-->
            </div> <!--End News Box Left-->
    
    		<div class="news_box_right">
    			<div class="more_news_wrap">	
    				<div style="float:right;">            
    		            <img src="{{ asset('images/frontend/more.jpg') }}" alt="" title="" />
    				</div> <!--more_news_wrap-->	
    			</div>
            </div> <!--End News Box Right-->
            
       </div> <!--News Box-->
    </div> <!--Box Outer-->
    
    <!--End News Box-->
    
{% else %}
    {#--- no featured listings ---#}
{% endfor %}