{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_news' %}

{% block content %}

    <div id="content">
        <div id="page-heading"><h2>{{ id ? 'Edit' : 'Add' }} News</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

            {% set contents = [{
                    'title': 'View all news', 
                    'description': 'View the list of news',
                    'href': path('admin_news_index'), 
                    'links': [{'title': 'View news', 'href': path('admin_news_index')}]
                }]
            %}

            {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
            
            <form novalidate="novalidate" action="{{ formAction }}" method="post" {{ form_enctype(form) }} class="basic-form">

                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.status) }}
                {{ form_rest(form) }}

                <input type="submit" class="form-submit" name="submit"/>
            </form>
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}