{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'news' %}
{% set selectedSubTab = 'manage_news' %}

{% block content %}

    <div id="content">

        <div id="page-heading"><h2>List of News</h2></div>

        {% embed '::contentWrapper.admin.html.twig' %}
            {% block wrappedContent %}

                {% include '::notice.admin.html.twig' %}

                {% set contents = [{
                        'title': 'Add news', 
                        'description': 'Add new news',
                        'class': 'add-icon',
                        'href': path('admin_news_add'), 
                        'links': [{'title': 'Add a news', 'href': path('admin_news_add')}]
                    }]
                %}

                {% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}

                <!-- Render Filter Box -->
                {% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

                {% set sortBy = app.request.get('sortBy') %}
                {% set sortOrder = app.request.get('sortOrder') %}
                {% set default = sortBy | length ? '' : 'sort-asc' %}

                <div style="width: 70%">
                    <table id="news-list" class="generic-table sortable-list" width="100%">
                        <tr>
                            <th id="column-title"><a href="{{ app.request.uri }}" class="{{ sortBy == 'title' ? 'sort-' ~ sortOrder : default }}">Title</a></th>
                            <th id="column-description"><a href="{{ app.request.uri }}" class="{{ sortBy == 'description' ? 'sort-' ~ sortOrder : '' }}">Description</a></th>
                            <th width="80">Status</th>
                            <th class="actions" width="100">Action</th>
                        </tr>

                        {% for newsData in news %}
                            <tr>
                                <td>{{ newsData.title }}</td>
                                <td>{{ newsData.description|raw}}</td>
                                <td>{{ newsData.status ? 'Active' : 'Inactive' }}</td>
                                <td align="center">
                                    <a href="{{ path('admin_news_view', {id:newsData.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
                                    {% set class = newsData.status ? 'icon-2' : 'icon-5' %}
                                    <a href="{{ path('admin_news_updateStatus', {id:newsData.id}) }}" title="{{ newsData.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>
                                </td>
                            </tr>
                        {% else  %}
                            <tr><td class="empty-list" colspan="4">empty record!</td></tr>
                        {% endfor %}
                    </table>
                    
                    {% if pager.isPaginable %}
                       {{ paginate(pager, 'admin_news_index', app.request.query.all) }}
                    {% endif %}
                </div>
                        
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}