{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

	<div id="content">

		<div id="page-heading"><h3>{{ id is defined ? 'Edit' : 'Add' }} Medical Procedure</h3></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}
			<form class="basic-form" action="{{ path('admin_medicalProcedureSave') }}" method="post" {{ form_enctype(form) }}>
				{{ form_row(form.name) }}
				{{ form_row(form.medical_procedure_type) }}
				{{ form_rest(form) }}
			    <input type="submit" class="form-submit"/>
			</form>
			{% endblock %}

		{% endembed %}
	</div>

{% endblock %}