{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_procedures' %}

{% block content %}

	<div id="content">
		<div id="page-heading"><h2>{{ form.vars.value.id ? 'Edit' : 'Add' }} Medical Procedure</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}

			{% block wrappedContent %}
			
			{% include '::notice.admin.html.twig' %}

            {% set contents = [{
					'title': 'View all procedures', 
					'description': 'View the list of medical procedures',
					'href': path('admin_medicalProcedure_index'), 
					'links': [{'title': 'View procedures', 'href': path('admin_medicalProcedure_index')}]
				}]
            %}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}
			
			<form novalidate="novalidate" class="basic-form" action="{{ formAction }}" method="post" {{ form_enctype(form) }}>

			    {# ----
				{% if (isAddFromSpecificType is defined) or ((hasInstitutionMedicalProcedures is defined) and hasInstitutionMedicalProcedures) %}
					<div>
						{{ form_label(form.medicalProcedureType) }}
						<span class="fixed-value">{{ form.vars.value.medicalProcedureType.name }}</span>
					</div>
				{% else %}
					{{ form_row(form.medicalProcedureType) }}
				{% endif %}
				---- #}
				
				{% if form.children.medicalProcedureType.vars.read_only %}
				    <div>
						{{ form_label(form.medicalProcedureType) }}
						<span class="fixed-value">{{ form.vars.value.medicalProcedureType.name }}</span>
					</div>
				{% else %}
				    {{ form_row(form.medicalProcedureType) }}
				{% endif %}

				{{ form_row(form.name) }}
				{{ form_row(form.status) }}
				
				{{ form_rest(form) }}

			    <input type="submit" value="Save" class="green-button" name="submit"/>
			    <input type="submit" value="Save &amp; Add another procedure" class="green-button" name="submit"/>
				
			</form>
			{% endblock %}

		{% endembed %}
	</div>

{% endblock %}