{% extends 'AdminBundle::layout.html.twig' %}
{% set selectedTab = 'manageHcaData' %}
{% set selectedSubTab = 'manage_procedures' %}

{% block content %}
	<div id="content">

		{{ app.session.flash('notice') }}
		<div id="page-heading"><h2>List of Medical Procedures</h2></div>

		{% embed '::contentWrapper.admin.html.twig' %}
			{% block wrappedContent %}

			{% include '::notice.admin.html.twig' %}

			{% set contents = [{
					'title': 'Add procedure', 
					'description': 'Add new medical procedure',
					'class': 'add-icon',
					'href': path('admin_medicalProcedure_add', {'medicalProcedureTypeId' : medicalProcedureTypeId ? medicalProcedureTypeId : null } ), 
					'links': [{'title': 'Add a medical procedure', 'href': path('admin_medicalProcedure_add', {'medicalProcedureTypeId' : medicalProcedureTypeId ? medicalProcedureTypeId : null } )}]
				}]
			%}

			{% include '::relatedTasks.base.admin.html.twig' with {contents: contents} %}


			<!-- Render Filter Box -->				
			{% autoescape false %} {{ listFilters is defined ? listFilters : '' }} {% endautoescape %}

            {% set sortBy = app.request.get('sortBy') %}
            {% set sortOrder = app.request.get('sortOrder') %}
            {% set default = sortBy | length ? '' : 'sort-asc' %}
			
			<div style="width:70%">
    			<table id="medical-procedure-list" class="generic-table sortable-list" width="100%">
        			<tr>
        				<th id="column-name" class="minwidth-1">
        				    <a href="{{ app.request.uri }}" class="{{ sortBy == 'name' ? 'sort-' ~ sortOrder : default }}">Procedure</a>
                        </th>
        				<th id="column-medicalProcedureType" class="minwidth-1">
        				    <a href="{{ app.request.uri }}" class="{{ sortBy == 'medicalProcedureType' ? 'sort-' ~ sortOrder : '' }}">Procedure Type</a>
                        </th>

        				<th class="actions">Actions</th>
        			</tr>

        			{% for procedure in procedures %}
        				<tr>
        					<td>{{ procedure.name }}</td>
        					<td class="procedure-type">{{ procedure.Treatment.name }}</td>
        					<td align="center">
        				
        					<a href="{{ path('admin_medicalProcedure_edit', {id:procedure.id}) }}" title="Edit" class="icon-1 info-tooltip"></a>
        						{% set class = procedure.status ? 'icon-2' : 'icon-5' %}
        						<a href="{{ path('admin_medicalProcedure_updateStatus', {id:procedure.id}) }}" title="{{ procedure.status ? 'Delete' : 'Activate' }}" class="update-status {{ class }} info-tooltip"></a>					
        					</td>
        				</tr>
        			{% else  %}
        				<tr><td class="empty-list" colspan="3">No records yet!</td></tr>
        			{% endfor %}
    			</table>

                {% if pager.isPaginable %}
                   {{ paginate(pager, 'admin_medicalProcedure_index', app.request.query.all) }}
                {% endif %}   
			</div>

			{% endblock %}
		{% endembed %}
	</div>
{% endblock %}